@media (min-width: 1024px) {
	.b-apart-type {
		margin: 0 0 35px;
		padding: 0;
		text-align: left;
		white-space: normal;
		width: 360px;

		&__link {
			margin: 0 26px 5px 0;
		}
	}
}

@media (min-width: 1280px) {
	.b-apart-type {
		margin: 0 0 30px;
		width: auto;

		&__link {
			margin: 0 26px 0 0;

			.no-touchevents &:hover,
			.touchevents &:active {
				color: #b59b61;
			}
		}
	}
}

@media (min-width: 1920px) {
   .b-apart-type {
	   text-align: center;
	   padding-left: 32px;//164px;
	   margin: 0 0 61px;
   }
}