.b-apart-type {
	display: block;
	margin: 0 -20px 32px;
	overflow-x: auto;
	padding: 0 20px;
	text-align: center;
	white-space: nowrap;

	&__link {
		color: #9b9b9b;
		display: inline-block;
		font-family: MuseoCyrl-500;
		font-size: 12px;
		letter-spacing: .1px;
		line-height: 14px;
		margin: 0 26px 0 0;
		padding: 5px 0;
		position: relative;

		&:last-child {
			margin: 0;
		}

		&--active {
			color: #b59b61;

			&:after {
				background: #b59b61;
				bottom: 0;
				content: '';
				height: 1px;
				left: 10px;
				position: absolute;
				width: calc(100% - 20px);
			}
		}
	}
}