.b-linden-alley {   
    padding: 28px 20px 0px;
    position: relative;

    &__image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-wrapper &__image-mobile {
        width: 320px;
        margin: 0 auto;
        display: block;
    }

    &__image-tablet {
        display:none;
    }

    &__image-desktop {
        display:none;
    }

    &__image-fullhd {
        display:none;
    }

    &__image-laptop {
        display:none;
    }

    &__text {
        font-family: 'AvenirNext-Bold';
        font-size: 50px;
        text-transform: lowercase;
        color: rgba(0, 0, 0, 0.21);
        display:inline-block;
        position: relative;
        bottom: 38px;
    }

    &__image-wrapper {
        text-align: center;
        margin: -22px -20px 0px;
    }

    &__image-wrap {
        margin: 0px -20px;
    }
}