@media (min-width: 768px) {
    .b-linden-alley {
        padding: 0px 0px 0px;
        position:relative;

        &__decoration {
            position: relative;
            &:after {
                border-bottom: 1px solid #b59b61;
                bottom: 18px;
                content: '';
                right: -130px;
                position: absolute;
                width: 82px;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
        }

        &__image-tablet {
            width: 100%;
            height:100%;
            object-fit:cover;
            display: block;
        }
        &__image-wrapper &__image-tablet {
            object-fit: none;
        }

        &__image-mobile {
            display:none;
        }
        &__image-wrapper &__image-mobile {
            display: none;
        }

        &__image-wrap {
            width: 453px;
            height: 397px;
            margin: 0 0 0 auto;
        }

        &__image-wrapper {
            text-align: left;
            width: 594px;
            margin: -147px 0px 0px;
        }

        &__text {
            padding-left: 79px;
            display: inline-block;
            font-size: 69px;
            bottom: 34px;
        }
    }

    .section--linden-alley {
        margin-bottom: 43px;
    }
}

@media (min-width: 1024px) {
    .b-linden-alley {
        padding: 0px 0px 58px;

        &__decoration {
            position: relative;
            &:after {
                right: -129px;
                bottom:20px;
                position: absolute;
                width: 82px;
            }
        }

        &__image-tablet {
            display:none;
        }

        &__image-laptop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
        &__image-wrapper &__image-laptop {
            object-fit: none;
        }

        &__image-wrap {
            width:50%;
            height: 652px;
            padding-left: 17px;

            .section--fortress & {
                margin: 0;
            }
        }

        &__wrap {
            flex-direction:row;
        }

        &__image-wrapper {
            bottom: 70px;
            position:absolute;
            left: 17px;
            width: 577px;
        }

        &__text {
            bottom: 18px;
        }
    }

    .section--linden-alley {
        margin-bottom: 22px;
    }
}

@media (min-width: 1280px) {
    .b-linden-alley {
        margin-bottom: 44px;
        // max-width: 1280px;
        // margin: 0 auto 44px;

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
        &__image-wrapper &__image-desktop {
            object-fit: none;
        }

        &__image-wrapper {
            bottom: 71px;
            left: 50%;
            width: 605px;
            margin-left: -571px;
        }

        &__image-wrap {
            width: calc(50% + 29px);
            padding-left: 0;
            flex-grow: 0; flex-shrink: 0; flex-basis: auto;
            margin: 0;
        }

        &__text {
            padding-left: 90px;
        }

        &__wrap {
            justify-content: flex-end;
        }
    }
}

@media (min-width: 1920px) {
    .b-linden-alley {
        padding-left: 395px;
        max-width: 1920px;
        margin: 0 auto;


        padding-left: 0;
        margin: 0 auto;

        .section--fortress & {
            padding-left: 0;
            margin: 0 auto;
        }

        &__image-desktop {
            display:none;
        }

        &__image-fullhd {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
        &__image-wrapper &__image-fullhd {
            object-fit: none;
        }

        &__image-wrap {
            // width: calc(50% + 489px);

            margin: 0;
            width: 50%;
            width: calc(50% - 50px);
            flex-shrink: 0;

            .section--fortress & {
                // width: calc(50% + 338px);
                // margin-right: -318px;
                margin: 0;
                width: 50%;
                width: calc(50% + 20px);
                flex-shrink: 0;
            }
        }

        &__image-wrapper {
            bottom: 13px;
            left: 99px;
            z-index: 1;


            left: 50%;
            margin-left: -492px;

            .section--fortress & {
                left: 50%;
                margin-left: -561px;
            }
        }

        &__wrap {
            position:relative;
        }
    }
    .section--linden-alley {
        margin-bottom: 44px;
    }
}