@media (min-width: 768px) {
	.b-apart-info {
		&__list {
			margin: 0 0 30px;
		}

		&__item {
			align-items: flex-end;
			justify-content: flex-start;
			margin: 0 0 34px;

			&--view {
				margin: 0 0 30px;
			}

			&--block {
				justify-content: center;
			}
		}

		&__group {
			margin: 0 44px 0 0;
			width: auto;

			&--ceiling {
				width: auto;
			}

			&--block {
				margin-right: 0;
				width: auto;

				& .b-button--apart {
					margin-left: 44px;
				}

				& .b-button--com {
					margin-left: 0;
				}
			}

			&--view {
				margin-right: 0;
				width: 100%;
			}
		}

		&__title {
			&--price {
				margin: 0 0 5px;
			}
		}

		&__data {
			&--view {
				width: 333px;
			}

			&--price {
				line-height: 45px;
			}
		}
	}
}

@media (min-width: 1024px) {
	.b-apart-info {
		&--commerce & {
			&__item {
				margin: 0;
				justify-content: space-between;
    			width: 365px;

				&--block {
					justify-content: flex-start;
				}
			}

			&__group {
				margin: 0 30px 33px 0;
				&:last-child {
					padding: 0px 27px 0px 0px;
				}

				&--block {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	.b-apart-info {
		&--commerce & {
			&__item {
				.b-apart-info__group {
					&:not(:last-child) {
						padding: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 1920px) {
   .b-apart-info {
		&--commerce & {
			&__group {
				&:last-child {
					padding-left: 0;
				}
			}
		}
	}
}