.b-apart-info {
	font-family: AvenirNext-Regular;
	font-size: 16px;

	&__list {
		margin: 0 0 5px;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 10px;

		&:last-child {
			margin: 0;
		}
	}

	&__group {
		margin: 0 0 24px;
		width: 50%;

		&--ceiling {
			width: 100%;
		}

		&--block {
			width: 100%;
		}

		&--price {
			margin: 0 0 19px;
		}
	}

	&__title {
		color: rgba(0, 0, 0, .5);
		line-height: 22px;
		margin: 0 0 10px;
	}

	&__data {
		font-family: AvenirNext-DemiBold;
		font-size: 20px;

		&--view {
			font-family: AvenirNext-Regular;
			font-size: 16px;
			line-height: 21px;
		}

		&--price {
			font-size: 24px;
			line-height: 25px;
		}
	}

	&__floor {
		color: #9b9b9b;
		font-size: 14px;
	}

	&__text {
		font-size: 17px;
		letter-spacing: .1px;

		& > p,
		& li {
			line-height: 23px;
			margin: 0 0 23px;

			&:last-child {
				margin: 0;
			}
		}

		& li {
			padding-left: 30px;
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				transform: rotate(-315deg);
				background-color: #153075;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
	}
}