/* 320++  */
.b-input-group {
    position: relative;
    margin-bottom: 20px;
    
    &__input-field {
        width: 100%;
        max-height: 50px;
        font-family: AvenirNext-Regular;
        font-size: 17px;
        padding: 13px 20px 14px 20px;
        background-color: #ededed;
        outline: none;
        border: 1px solid transparent;
        transition: transform 0.3s, border-color 0.3s;

        .b-input-group:hover & {
            border: 1px solid #b59b61;
        }

        &:focus,
        &:valid {
            background-color: #fff;
            border-color: #b59b61;

        }

        &:focus ~ .b-label--input-group,
        &:valid ~ .b-label--input-group {
            font-size: 12px;
            transform: translate3d(0, -6px, 0);
            background-color: #fff;
            opacity: 1;
            padding: 0 5px;
            margin-left: 15px;
            left: 0;
        }

        &.error,
        &.error:focus,
        &.error:valid {
            border-color: #e64949;
        }
        
        // &.error ~ .b-label--input-group,
        &.error:focus ~ .b-label--input-group,
        &.error:valid ~ .b-label--input-group {
            color: #e64949;
        }
    }

    &__textarea {
        outline: none;
        height: 190px;
        resize: none;
        width: 100%;
        font-family: AvenirNext-Regular;
        font-size: 17px;
        padding: 13px 20px;
        background-color: #ededed;
        border: 1px solid transparent;
        transition: border-color 0.3s;

        .b-input-group:hover & {
            border: 1px solid #b59b61;
        }

        &:focus,
        &.valid {
            background-color: #fff;
            border: 1px solid #b59b61;
        }

        &:focus ~ .b-label--input-group,
        &.valid ~ .b-label--input-group {
            font-size: 12px;
            transform: translate3d(0, -6px, 0);
            background-color: #fff;
            opacity: 1;
            padding: 0 5px;
            margin-left: 15px;
            left: 0;
        }
    }
}

i.error {
    display: none !important;
}