/* 768++  */
@media (min-width: 768px) {
    .b-input-group {

    }
}


@media (min-width: 1024px) {
    .b-input-group {
        
    }
}

@media (min-width: 1280px) {
    .b-input-group {
        
    }
}