@media (min-width: 768px) {
    .Section_1 {
        &--longread {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/longread-location/location_bg_desktop.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock_innerwrap {
                width: 96.2%;
            }
            .CenterBlock {
                background: #000;

                .CenterBlock_img {
                    background: url(/img/backgrounds/longread-location/longread-girl.jpg) no-repeat 50%;
                    background-size: cover;

                    &--opacity {
                        //opacity: 0.8;
                    }
                    // transform: none;
                }
             }

            .CenterBlock_title {
                font-family: 'MuseoCyrl-900';
                font-size: 35px;
                max-width: 600px;

                &:before {
                    // width: 589px;
                    height: 133px;
                    background-size: auto 133px;
                    top: 10px;
                    // left: 60px;
                }

                &:after {
                    // width: 604px;
                    height: 155px;
                    background-size: auto 155px;
                    // left: 49px;
                }
            }
        }

        &--slide-masterpieces {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/slide-masterpieces-tablet.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/masterpieces-anim.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
             }
        }

        &--slide-fortress {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/fortress/fortress-slide-768.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/fortress/fortress-slide-1920.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
            }
            .CenterBlock_title {
                height: 155px;
                padding: 0 40px;
                font-size: 28px;
                line-height: normal;
                letter-spacing: normal;
                
                span {
                    width: 600px;
                }
            }
        }

        &--about {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/about/about-tablet.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/about-dev-bg.jpg) no-repeat 50%;
                    background-size: cover;
                }
            }

            .CenterBlock_title {
                span {
                    display: inline-block;
                    font-size: 35px;
                    margin-bottom: 16px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        &--longread-tech {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/longreadtech/slide-768.jpg) no-repeat 50% / cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/longreadtech/tablet-longread.jpg) no-repeat 50%;
                    background-size: cover;
                    transform: none;
                }
            }
        }
    }

    // .section {
    //     &--destination {
    //         margin-bottom: 78px;
    //     }
    // }

    // .section {
    //     &--location {
    //         margin-bottom: 82px;
    //         background: url(/img/backgrounds/location-tablet.png) no-repeat;
    //         background-size: 100% auto;
    //     }
    // }

    // .section--environment-masterpieces {
    //     padding-top: 83px;
    // }
}
@media (min-width: 1024px) {
    .Section_1 {
        &--about {
            .CenterBlock {
                // background: none;
            }
            // margin-bottom: 51px;
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/about/about-min-descktop.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            // .CenterBlock {

            //     .CenterBlock_img {
            //         background: url(/img/backgrounds/about/abou-border-min-descktop.png) no-repeat 50%;
            //         background-size: cover;
            //     }
            // }
        }

        &--slide-masterpieces {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/slide-masterpieces-laptop.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/masterpieces-anim.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
             }
        }

        &--longread-tech {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/longreadtech/slide-1024.jpg) no-repeat 50% / cover;
            }
            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/longreadtech/laptop-longread.jpg) no-repeat 50%;
                    background-size: cover;
                }
            }
        }
        &--slide-fortress {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/fortress/fortress-slide-1024.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/fortress/fortress-slide-1920.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
            }
            .CenterBlock_title {
                max-width: 780px;
                font-size: 35px;
                line-height: normal;
                letter-spacing: normal;
                
                /*span {
                    width: 600px;
                    top: -19px;
                }*/

                &:before {
                    background: url(/img/backgrounds/slide-border-big-min.svg) no-repeat center;
                    /*background-size: auto 133px;
                    height: 133px;*/
                }
    
                &:after {
                    // background: url(/img/content/longread-border-big.png) no-repeat center;
                    background: url(/img/backgrounds/slide-border-big.svg) no-repeat center;
                    /*background-size: auto 155px;
                    height: 155px;*/
                }
            }
        }
    }

    // .section--destination {
    //     margin-bottom: 103px;
    // }

    // .section--location {
    //     margin-bottom: 58px;
    //     background: url(/img/backgrounds/location-laptop.png) no-repeat;
    //     background-size: 100% auto;
    // }

    // .section--environment {
    //     margin-bottom: 62px;
    // }
    // .section--environment-masterpieces {
    //     padding-top: 94px;
    // }
}

@media (min-width: 1280px) {
    .Section_1 {
        &--longread {

            .AnimBlock {
                background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.56)), url(/img/backgrounds/longread-location/location_bg_desktop.jpg) no-repeat 50%;
            }

            // .CenterBlock {
            //     .CenterBlock_img {
            //         background: url(/img/backgrounds/longread-desktop.png) no-repeat 50%;
            //         background-size: cover;
            //     }
            // }

            .CenterBlock_title {
                letter-spacing: 0.1px;
            }
        }

        &--about {

            .AnimBlock {
                background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.56)), url(/img/backgrounds/about/about-descktop.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            // .CenterBlock {

            //     .CenterBlock_img {
            //         background: url(/img/backgrounds/about/about-border-descktop.png) no-repeat 50%;
            //         background-size: cover;
            //     }
            // }
        }

        &--slide-masterpieces {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/slide-masterpieces-desktop.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/masterpieces-anim.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
             }
        }

        &--longread-tech {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/longreadtech/slide-1280.jpg) no-repeat 50% / cover;
            }
            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/longreadtech/descktop-longread.jpg) no-repeat 50%;
                    background-size: cover;
                }
            }
        }
        &--slide-fortress {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/fortress/fortress-slide-1280.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/fortress/fortress-slide-1920.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
             }
        }
    }

    // .section {
    //     &--destination {
    //         margin-bottom: 64px;
    //     }
    // }

    // .section {
    //     &--location {
    //         margin-bottom: 57px;
    //         // background: url(/img/backgrounds/location-desktop.png) no-repeat;
    //         // background-size: 100% auto;
    //         background: none;
    //     }
    // }
    // .section--environment-masterpieces {
    //     padding-top: 111px;
    // }
}

@media (min-width: 1920px) {
    .Section_1 {
        &--longread {
            // .CenterBlock {
            //     .CenterBlock_img {
            //         background: url(/img/backgrounds/longread-fullhd.png) no-repeat 50%;
            //         background-size: cover;
            //     }
            // }

            .CenterBlock_title {
                padding-bottom: 0px;
                // padding-left: 18px;
            }

        }

        &--about {
            .AnimBlock {
                background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.56)), url(/img/backgrounds/about/about-fullhd.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            // .CenterBlock {

            //     .CenterBlock_img {
            //         background: url(/img/backgrounds/about/about-border-fullhd.png) no-repeat 50%;
            //         background-size: cover;
            //     }
            // }
        }

        &--slide-masterpieces {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/slide-masterpieces-fullhd.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/masterpieces-anim.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
             }
        }

        &--longread-tech {
            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/longreadtech/slide-1920.jpg) no-repeat 50% / cover;
            }
            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/longreadtech/hd-longread.jpg) no-repeat 50%;
                    background-size: cover;
                }
            }
        }
        &--slide-fortress {

            .AnimBlock {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 112px), #000 url(/img/backgrounds/fortress/fortress-slide-1920.jpg) no-repeat 50%;
                background-size: auto, cover;
            }

            .CenterBlock {

                .CenterBlock_img {
                    background: url(/img/backgrounds/fortress/fortress-slide-1920.jpg) no-repeat 50%;
                    background-size: cover;
                    // transform: none;
                }
            }
        }
    }

    // .section--environment {
    //     margin-bottom: 74px;
    // }
    // .section--environment-masterpieces {
    //     padding-top: 81px;
    // }

    // .section--location {
    //     margin-bottom: 66px;
    //     // background: url(/img/backgrounds/location-fullhd.png) no-repeat;
    //     // background-size: 100% auto;
    //     background: none;
    // }
}