.Section_1 {
    &--longread {
        opacity: 1;
        display: block;
        height: 100vh;

        .AnimBlock {
            background: url(/img/backgrounds/longread-location/location_bg_mobile.jpg) no-repeat 50%;
            background-size: cover;
        }
        .CenterBlock_innerwrap {
            width: 100%;
        }
        .CenterBlock_title {
            /*max-width: none;*/
            max-width: 260px;
            width: 100%;
            height: 67px;
            font-size: 15px;
            text-transform: uppercase;
            padding: 0 17px;
            position: relative;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;

            &:before {
                content: '';
                background: url(/img/backgrounds/slide-border-min.svg) no-repeat center;
                position: absolute;
                background-size: auto 57px;
                // width: 251px;
                width: auto;
                height: 57px;
                top: 5px;
                left: 0;
                right: 0;
            }

            &:after {
                content: '';
                // background: url(/img/content/longread-border-big.png) no-repeat center;
                background: url(/img/backgrounds/slide-border.svg) no-repeat center;
                position: absolute;
                background-size: auto 67px;
                width: 262px;
                width: auto;
                height: 67px;
                top: 0;
                left: 0;
                left: 0;
                right: 0;
            }

            span {
                position: relative;
            }
        }

        .CenterBlock_title {
            opacity: 1;
        }
    }

    &--about {
        margin-bottom: 33px;

        .AnimBlock {
            background-image: url(/img/backgrounds/about/about-mobile.jpg);
        }

        .CenterBlock_title {
            line-height: 19px;

            span {

                font-size: 16px;
            }

            p {
                font-size: 10px;
                position: relative;
            }
        }

        .CenterBlock_title {
            opacity: 1;
        }
    }

    &--slide-masterpieces {

        .AnimBlock {
            background-image: url(/img/backgrounds/slide-masterpieces-mobile.png);
            background-size: cover;
        }

        .CenterBlock_title {
            font-size:16px;
        }
    }

    &--longread-tech {
        .CenterBlock_title {
            font-size: 14px;
        }

        .AnimBlock {
            background: url(/img/backgrounds/longreadtech/slide-320.jpg) no-repeat 50%;
            background-size: cover;
        }
    }
    &--slide-fortress {

        .AnimBlock {
            background-image: url(/img/backgrounds/fortress/fortress-slide-320.jpg);
            background-size: cover;
        }

        .CenterBlock_title {
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;

            /*span {
                width: 216px;
                display: inline-block;
                position: relative;
                top: 0;
            }*/
        }
    }
}

// .section {
//     &--environment {
//         display:block;
//         margin-bottom: 51px;
//     }
//     &--environment-masterpieces {
//         padding-top: 49px;
//     }
// }

// .section {
//     &--location {
//         display:block;
//         margin-bottom: 60px;
//         background: url(/img/backgrounds/location-mobile.png) no-repeat;
//         background-size: 100% auto;
//     }
// }

// .section {
//     &--yard {
//         padding-top: 34px;
//         margin-bottom: 27px;
//     }
//     &--childhood {
//         padding-top: 14px;
//         margin-bottom: 38px;
//     }
// }

// .section {
//     &--destination {
//         display:block;
//         margin-bottom: 57px;
//     }
// }

.Section_7 {
    &--demo {
        display:block;
    }
}

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
    height: auto !important;
}
.section-notfullpage {
    display: block;
    // height: auto !important;
}
.section-notfullpage .fp-tableCell {
    // overflow: auto;
    // display: block !important;
}