/* 320++  */
.b-frame-icon {
    border: solid 2px #153075;
    display: inline-block;
    height: 70px;
    position: relative;
    width: 70px;

    &:after {
        border: solid 2px #153075;
        content: '';
        display: block;
        height: 64px;
        left: 1px;
        position: absolute;
        top: 1px;
        width: 64px;
    }

    &--mortgage {
        background-position: 50%;
        background-repeat: no-repeat;
        margin: 0 15px 0 0;
    }

    &--personal-manager {
        background-image: url(/img/icons/personal-manager.svg);
    }

    &--dct {
        background-image: url(/img/icons/dct.svg);
    }

    &--decision {
        background-image: url(/img/icons/decision.svg);
    }

    &--rate {
        background-image: url(/img/icons/rate.svg);
    }

    &--center-event {
        background: url(/img/icons/column.svg) no-repeat;
        border: none;
        display: none;

        &:after {
            display: none;
        }
    }

    &--environment-masterpieces {
        display: none;
        background: url(/img/icons/border-image.svg) no-repeat;
    }

    &--environment-masterpieces-bottom {
        display:none;
        background: url(/img/icons/border-image.svg) no-repeat;
    }

    &--maternity-capital {
        border: 1px solid #b59b61;
        display: block;
        margin: 0 auto 14px;

        &:after {
            border: 1px solid #b59b61;
            left:2px;
            top:2px;
        }
    }

    &--apt {
        background-image: url(/img/icons/apt.svg);
    }

    &--dct-2 {
        background-image: url(/img/icons/dct-2.svg);
    }

    &--docs {
        background-image: url(/img/icons/docs.svg);
    }

    &--docs-2 {
        background-image: url(/img/icons/docs-2.svg);
    }
}