@media (min-width: 768px) {
    .b-frame-icon {
        &--center-event {
            display: inline-block;
            left: 0;
            position: absolute;
            top: 3px;
        }

        &--maternity-capital {
            margin: 0 13px 0 0;
        }
    }
}

@media (min-width: 1024px) {
    .b-frame-icon {
        &--environment-masterpieces {
            display:inline-block;
            border: none;
            position: absolute;
            right: -110px;
            width: 93px;
            top: -88px;
            &:after {
                border: none;
            }
        }

        &--environment-masterpieces-bottom {
            display:inline-block;
            border: none;
            position: absolute;
            transform: rotate(180deg);
            left: -107px;
            width: 93px;
            bottom: -53px;
            &:after {
                border: none;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-frame-icon {
        &--environment-masterpieces {
            right: -3px;
        }

        &--environment-masterpieces-bottom {
            left: -93px;
            bottom: -54px;
        }
    }
}

@media (min-width: 1920px) {
    .b-frame-icon {
        &--center-event {
            left: 2px;
        }
    }
}