@media (min-width: 768px) {
    .b-breadcrumbs {
        background-color: #ededed;
        color: rgba(0, 0, 0, 0.5);
        display: block;
        font-family: 'MuseoCyrl-500';
        font-size: 14px;
        padding: 20px 40px 18px;

       &__list {
            padding: 0px;
        }

        &__item {
            list-style-type: none;
            margin-right: 28px;
            display: inline-block;
            position: relative;
            &:not(:first-child) {
                padding-left: 25px;
            }

            &:before {
                display: block;
                position: absolute;
                content: none;
                left: 10px;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 11px;
                top: 6px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                right: -34px;
            }

            &:last-child {
                margin-right: 0px;
                &:after {
                    content: none;
                    right: auto;
                    left: 30px;
                }
            }
        }

        &__link {
            color: rgba(0, 0, 0, 0.5);
            min-width: 0;
            white-space: nowrap;
        }
    }
}

@media (min-width: 1280px) {
    .b-breadcrumbs {
        padding: 20px 40px 18px;
    }
}