@media (min-width: 768px) {
    .b-about-wrapper {
    }
}

@media (min-width: 1024px) {
    .b-about-wrapper {
        margin: 0 0 50px;
        position: relative;
    }
}

@media (min-width: 1280px) {
    .b-about-wrapper {
    }
}

@media (min-width: 1920px) {
   .b-about-wrapper {
   }
}