.b-infrastructure {
    font-family: AvenirNext-Regular;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0.1px;

    &__text {
        margin-bottom: 28px;
    }

    p:not(:last-child) {
        margin-bottom: 23px;
    }
}