@media (min-width: 768px) {
    .b-infrastructure  {
        display: flex;
        flex-direction: row;
        margin: 0 -40px 60px;
        padding-left: 40px;

        &__text {
            padding-right: 28px;
        }
    }
}
@media (min-width: 1024px) {
    .b-infrastructure  {
        margin: 0 -60px 60px;
        padding-left: 60px;

        &__text {
            padding-right: 60px;
        }
    }
}
@media (min-width: 1280px) {
    .b-infrastructure  {
        margin: 0 -160px 60px;
        padding-left: 160px;
        justify-content: flex-end;

        &__text {
            padding-right: 100px;
            max-width: 480px;
        }
    }
}

@media (min-width: 1920px) {
    .b-infrastructure  {
        max-width: 1272px;
        margin: 0px auto 60px;
        padding-left: 70px;
        padding-right: 70px;

        &__text {
            padding-right: 100px;
        }
    }
}