@media (min-width: 768px) {
    .ymaps {
        height: 486px;
        max-width: 1285px;
        margin: 0 auto;
        pointer-events: auto;
    }
}

@media (min-width: 1024px) {
    .ymaps {
        height: 490px;
        pointer-events: auto;
    }
}

@media (min-width: 1280px) {
    .ymaps {
        height: 609px;
        margin-top: -366px;
        pointer-events: auto;
    }
}

@media (min-width: 1920px) {
    .ymaps {
        height: 613px;
    }
}