.ymaps {
    height: 428px;
    width: 100%;
    ;
}
.ymaps-2-1-68-image  {
    // width: 42px;
    // height: 42px;
    // border-radius: 50%;
    // background-color: #b59b61;
    // background-position: center center !important;
    // background-size: 50% 50% !important;
    // background-repeat: no-repeat !important; 
}
.ymaps-2-1-68-ground-pane {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(80%); /* Chrome 19+ & Safari 6+ */
}