@media (min-width: 768px) {
    .b-select {
        margin: 0 19px 20px 19px;

        &:after {
            display: none;
        }

        &__list[style="height: 0px;"] {
            padding: 0;
            width: 0;
            display: none;
        }

        &__item {
            padding: 9px 15px;
            cursor: pointer;
            color: #333;

            transition: color 0.3s, background-color 0.3s;

            &.highlighted {
                background-color: #f2f2f2;
                color: #000;
            }

            &.disabled-result {
                color: #cfcfcf;
                cursor: default;
                .no-touchevents &:hover,
                .touchevents &:active {
                    background-color: transparent;
                }
            }

            &.result-selected {
                display: none;
            }
        }

        .chosen {
            &-search {
                display: none;
            }

            &-single {
                padding: 13px 15px;
                display: block;
                position: relative;

                div {
                    border-left: none;
                    background: transparent;

                    b {
                        transition: ease .3s all;
                        position: absolute;
                        top: 20px;
                        right: 15px;
                        width: 0px;
                        height: 0px;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid #999;
                    }
                }
            }

            &-drop {
                background-color: #ffffff;
                display: none;
                position: absolute;
                width: 100%;
                z-index: 21;
                border: solid 1px #b59b61;
                border-top: 0;
                left: 0;
            }

            &-container {
                font-size: 14px;
                color: #000;
                font-family: 'AvenirNext-Regular';
                border: 1px solid transparent;
                transition: border 0.3s;

                .no-touchevents &:hover,
                .touchevents &:active {
                    border-color: #b59b61;
                }
            }

            &-with-drop {
                border: solid 1px #b59b61;
                border-bottom-color: transparent;

                .chosen-single {
                    color: #b59b61;

                    div b {
                        transform: rotate(180deg);
                    }
                }

                .chosen-drop {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-select {
        margin-left: 10px;
        max-width: 240px;
    }
}

@media (min-width: 1280px) {
    .b-select {
        // max-width: 400px;
    }
}

@media (min-width: 1920px) {
    .b-select {
        max-width: 279px;
    }
}
