.b-select {
    background-color: #ffffff;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        top: 16px;
        right: 15px;
        width: 10px;
        height: 10px;
        border: 4px solid transparent;
        border-top: 5px solid #d8d8d8;
    }

    &__list {
        width: 100%;
        font-size: 14px;
        color: #000;
        font-family: 'AvenirNext-Regular';
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 0;
        padding: 10px 15px;
        outline: none;
        background: #ffffff;

        &::-ms-expand {
            display: none;
        }
    }

    & chosen-container {
        background: #ffffff;
    }

    &--noapps {
        &:before {
            display:none;
        }
    }
}