.b-slider-date {
    position: relative;
    margin: 21px 0 0;//42px;

    &__list {
        display: flex;
        align-items: flex-end;
        // padding-left: 103px !important;
    }

    &__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 102px;
        vertical-align: bottom;
        position: relative;
        margin-bottom: 42px;

        outline: none;

        &.disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &__year {
        font-size: 14px;
        color: #000;
        font-family: 'AvenirNext-DemiBold';
        position: relative;
        margin-bottom: 0;//23px;
        display: none;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 36px;
            top: 0;
            left: 0;
            background-color: #b59b61;
            opacity: 0;
        }

        &--mobile {
            display: block;
            margin: 0 0 24px 20px;
        }
    }

    &__mounth {
        font-size: 14px;
        color: #000;
        font-family: 'AvenirNext-Regular';
        // margin-left: -20px;
        text-align: center;
        margin-top: 26px;
        cursor: pointer;

        .slick-center & {
            font-family: 'AvenirNext-Bold';
        }
    }

    &__line {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-bottom: 11px;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        margin-left: 50px;
        padding-right: 8px;
    }

    &__border {
        width: 1px;
        height: 7px;
        background-color: #b59b61;

        &--big {
            height: 15px;
            width: 2px;
        }
    }

    & .slick-list {
        width: 100%;
        padding: 0 !important;
        // overflow: hidden;
    }
}