@media (min-width: 768px) {
    .b-slider-date {
        position: relative;
        margin: 24px 0 0;//72px;

        &__item {
            margin-bottom: 72px;
        }

        &__year {
            &--mobile {
                margin-left: 38px;
                margin-bottom: 21px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-slider-date {
        margin-bottom: 0;//43px;

        &__item {
            margin-bottom: 43px;
        }
    }
}

@media (min-width: 1280px) {
    .b-slider-date {

        &__year {
            display: block;
            margin-bottom: 22px;
            padding-left: 11px;
            margin-left: 50px;

            &::before {
                opacity: 1;
            }

            &--mobile {
                display: none;
            }
        }

        &__line {
            top: auto;
            bottom: 14px;
        }

        &__mounth {
            transition: color 0.3s;
            .no-touchevents &:hover,
            .touchevents &:active {
                color: #b59b61;
            }
        }
    }
}

@media (min-width: 1920px) {}