@media (min-width: 768px) {
    .b-diary-popup {
        &__video-block {
            padding: 0 84px;
            position: relative;
        }

        &__item {
            padding-top: calc((100vw - 168px) * 0.6);
        }
    }
}

@media (min-width: 1024px) {
    .b-diary-popup {
        &__video-block {
            padding: 0 137px;
        }

        &__item {
            padding-top: calc((100vw - 274px) * 0.6);
        }
    }
}

@media (min-width: 1280px) {
    .b-diary-popup {
        &__video-block {
            padding: 0;
            width: 750px;
            height: 450px;
            margin: 0 auto;
        }

        &__item {
            padding: 0;
            width: 750px;
            height: 450px;
        }
    }
}

@media (min-width: 1920px) {
    .b-diary-popup {
        &__video-block {
            padding: 0;
            width: 975px;
            height: 585px;
        }

        &__item {
            width: 975px;
            height: 585px;
        }
    }
}

