.b-diary-popup {
    display: flex;
    flex-direction: column-reverse;

    &__item {
        display: inline-flex;
        padding-top: calc(100vw * 0.6);
        position: relative;
    }

    &__item-inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__video-block {
        // background: #fff;

        // min-height: 192px;
    }



    &__link {
        display: inline-block;
        padding: 10px;
        color: #fff;
        opacity: 0.4;
        font-family: 'AvenirNext-DemiBold';
        font-size: 14px;
        letter-spacing: normal;
        line-height: normal;
        transition: opacity 0.5s;

        svg {
            margin-bottom: 2px;
            margin-right: 6px;
        }

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        .slick-active &,
        .no-touchevents &:hover,
        .touchevents &:active {
            opacity: 1;
        }

        path {
            fill: #fff;
        }
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-dots {
        text-align: center;
        margin-bottom: 28px;

        li {
            display: inline-block;
            margin: 0 15px;
        }
    }
}