.b-compass {
    position: relative;
    z-index: 2;
    
    &__image-mobile-compass {
        position: absolute;
        right: 12px;
        top: 10px;
        width:59px;
        height: 59px;
    }

    &__image-tablet-compass {
        display:none;
    }

    &__image-desktop-compass {
        display:none;
    }
}