@media (min-width: 768px) {
    .b-compass {
        &__image-tablet-compass {
            display: block;
            position: absolute;
            right: 41px;
            top: 57px;
        }

        &__image-mobile-compass {
            display:none;
        }
    }
}

@media (min-width: 1024px) {
    .b-compass {
    }
}

@media (min-width: 1280px) {
    .b-compass {
    }
}

@media (min-width: 1920px) {
   .b-compass {

        &__image-tablet-compass {
            display:none;
        }

        &__image-desktop-compass {
            display:block;
            position:absolute;
            top: 54px;
            right: 64px;
        }
   }
}