@media (min-width: 768px) {
    .b-apart-scheme {
        margin: 0 0 40px;

        &__image {
            height: 521px;
        }

        &--commercial & {
            &__inner {
                text-align: center;
            }

            &__image {
                height: auto;
                width: 420px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-apart-scheme {
        &__item {
            text-align: left;
        }

        &__image {
           margin: 0 ;
           max-width: 430px;
           width: 100%;
        }

        &--commercial & {
            &__inner {
                text-align: left;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-apart-scheme {
        padding-right: 40px;
        &__item {
            text-align: center;
        }

        &__image {
           margin: 0 auto;
           display: block;
           width: 100%;
           max-width: 525px;
        }

        &--commercial & {

            &__item {
                margin: 0 auto;
                display: block;
            }
            &__image {
                width: 546px;
            }
        }
    }
}

@media (min-width: 1920px) {
   .b-apart-scheme {
        padding-right: 0px;
        padding-left: 35px;

        &__image {

            width: 100%;
            max-width: 845px;

        }

        &--commercial & {
            &__image {
                width: 846px;
            }
        }
    }
}