.b-apart-scheme {
    margin: 0 0 30px;
    overflow: hidden;
    
    &__item {
        display: inline-block;
        vertical-align: top;
        // width: 100%;
        text-align: center;
        display: none;

        &--active {
            display:block;
        }
    }

    &__image {
        // display: none;
        height: 338px;
        margin: 0 auto;

        // &--active {
        //     display: inline-block;
        // }
    }
}