/* 320++  */
.b-maternity-capital {
    font-family: 'AvenirNext-Regular';
    font-size: 17px;
    letter-spacing: .1px;
    line-height: normal;
    // padding: 0 20px;
    width: 100%;

    &__number {
        display: none;
        position:absolute;
        font-family: 'AvenirNext-DemiBold';
        font-size: 17px;
        letter-spacing: 0.1px;
        color: #9b9b9b;
    }

    &__list {
        margin: 0 0 60px;
        text-align: center;

        & p {
            line-height: 23px;
            margin: 0 0 17px;

            &:last-child {
                margin: 0;
            }
        }

        & strong {
            font-family: 'AvenirNext-DemiBold';
            font-weight:normal;
        }

        & ul {
            text-align: left;
        }

        & li {
            line-height: 22px;
            margin: 0 0 26px;
            padding: 0 0 0 24px;
            position: relative;
            text-transform: lowercase;

            &:after {
                background: #b59b61;
                content: '';
                height: 7px;
                left: 2px;
                position: absolute;
                top: 9px;
                transform: rotate(-45deg);
                width: 7px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &__item {
        margin: 0 0 40px;
        position:relative;

        &:last-child {
            margin: 0;
        }
    }

    &__content {
        & p {
            margin: 0 0 24px;
            font-style:italic;

            &:last-child {
                margin: 0;
            }
        }

        & ul {
            margin: 0 0 39px;
        }

        & li {
            margin: 0 0 23px;
            padding: 0 0 0 25px;
            position: relative;

            &:after {
                background: #b59b61;
                content: '';
                height: 7px;
                left: 2px;
                position: absolute;
                top: 9px;
                transform: rotate(-45deg);
                width: 7px;
            }

            &:last-child {
                margin: 0;
            }
        }

        & strong {
            font-family: 'AvenirNext-DemiBold';
            font-style: normal;
            font-weight: normal;
        }
    }

    &__copy {
        background: #ededed;
        color: #4a4a4a;
        margin: 0 -20px;
        padding: 18px 19px 15px;
        width: calc(100% + 40px);
    }
}