/* 768++  */
@media (min-width: 768px) {
    .b-maternity-capital {
        padding: 0 20px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            text-align: left;
            // margin: 0 0 50px;
            margin: 0 0 -20px;

            p {
                margin: 0 0 20px;
                // width: 222px;
            }

            li {
                padding: 0 0 0 23px;
            }

            & li:after {
                left:0;
                top: 7px;
            }
        }

        &__item {
            display: flex;
            width: 50%;
            margin: 0 0 50px;

            // &:nth-child(3) {
            //     margin-bottom: 0px;
            // }

            &:nth-child(2n) {
                padding-left:48px;
                .b-maternity-capital__number {
                    left:20px;
                }
            }
        }

        &__number {
            display:block;
            left: -28px;
            font-size: 14px;
            top: 28px;
        }

        &__text {
            width: calc(100% - (68px + 15px));
            // padding-top: 25px;
        }

        &__text-inner {
            display: flex;
            min-height: 70px;
            flex-direction: column;
            justify-content: center;
        }

        &__content {
            & ul {
                margin: 0 0 42px;
            }

            & li {
                padding: 0 0 0 28px;
            }

            li {
                &:after {
                    top: 6px;
                }
            }

            p {
                margin: 0 0 23px;
            }
        }

        &__copy {
            margin: 0 0 58px;
            padding: 31px 29px;
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .b-maternity-capital {
        padding: 0;

        &__number {
            display: block;
            font-size: 17px;
            left: 0;
            top: 24px;
        }

        &__item {
            padding-left: 35px;
        }

        &__list {
            p {
                width: 282px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .b-maternity-capital {
        &__item {
            width: calc(50% - 20px);

            &:nth-child(2n+1) {
                margin: 0 40px 0 0;
            }
        }

        &__list {
            margin: 0 0 50px;
        }

        &__copy {
            margin-right: -10px;
            width: calc(100% + 10px);
        }
    }
}

@media (min-width: 1280px) {
    .b-maternity-capital {
        margin: auto;
        padding: 0;
        width: 903px;

        &__item {
            margin: 0 0 48px;
            padding-left: 0;

            &:nth-child(2n) {
                padding-left: 26px;

                .b-maternity-capital__number {
                    left:-8px;
                }
            }
        }

        &__list {
            margin-bottom: 3px;
        }

        &__number {
            display: block;
            left: -35px;
            top: 14px;
            left: -37px;
            top: 27px;
        }

        &__copy {
            margin: 0 0 67px;
        }
    }
}

@media (min-width: 1920px) {
    .b-maternity-capital {
        &__copy {
            margin: 0 0 58px;
        }
    }
}