@media (min-width: 768px) {
    .b-childhood-thesis  {
        margin-bottom: 39px;

        &__list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        &__item {
            margin-bottom: 0;
            align-items: center;
            height: 95px;
        }

        &__image-wrapper {
            text-align: left;
            width: auto;
            margin-right: 5px;
        }

        &__text-wrapper {
            position: relative;
            top: -5px;
        }
    }
}
@media (min-width: 1024px) {
    .b-childhood-thesis  {
        font-size: 24px;
        width: 768px;
        margin: 0 auto 51px;
    }
}
@media (min-width: 1280px) {
    .b-childhood-thesis  {
        margin-bottom: 71px;
    }
}

@media (min-width: 1920px) {
    .b-childhood-thesis  {
    }
}