.b-childhood-thesis {
    font-family: AvenirNext-Regular;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.1px;
    color: rgba(0,0,0,0.5);

    margin-bottom: 29px;

    &__description {
        text-align: center;
    }

    &__list {
        // margin-bottom: 40px;
        display: block;
        margin: 0 auto 40px;
        width: 280px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 28px;
    }

    &__num {
        font-family: AvenirNext-Bold;
        font-size: 50px;
        line-height: normal;
        letter-spacing: 0.2px;
        color: #153075;
        display: block;
    }

    &__image-wrapper {
        text-align: center;
        width: 130px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text-wrapper {
        padding-left: 10px;
    }
}