.b-center-event {
    text-align: center;
    
    // margin-bottom: 34px;

    &__image-wrapper {
        margin: 0 -20px;
        line-height: 0;
    }

    &--tech {
        margin-bottom: 31px;
    }

    &--ecol {
        margin-bottom: 46px;
    }

    &__image {
        object-fit: cover;
        font-family:  "object-fit: cover;";
        // box-shadow: -9px 10px 5px -6px rgba(0,0,0,0.11);

        &--ecol {
            box-shadow: none;
        }

        &--background {
            box-shadow: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        display: none;
        &--mobile {
            display: block;
            width: 100%;
        }
    }
    &--zoom {
        margin-bottom: 0;
    }
    &--zoom & {

        &__image-wrapper {
            margin: 0 0 16px;
        }

        &__image {
            box-shadow: none;
            width: 128px;
            height: 90px;
            box-shadow: none;
            display: inline-block;
        }
    }
    &--lift {
        margin-bottom: 0;
    }
    &--lift & {

        &__image {
            box-shadow: none;
        }
    }

    &--big {
        // height: 290px;
        height: auto;
        margin-bottom: 29px;
    }

    &__image-big {
        height: 100%;
        object-fit: cover;
        font-family: "object-fit: cover;";
        
        display: none;
        &--mobile {
            display: block;
            width: 100%;
        }
    }

    &__logo {
        width: 69px;
        display: block;
        margin: 0 auto 21px;
    }

    &__column {
        margin-bottom: 27px;

        &--parking {

            &:last-child {
                margin-bottom: 0;
            }
        }

        .b-center-event--ecol & {
            margin-bottom: 29px;
        }
    }

    &--parking {
        position: relative;
        padding: 40px 0 9px;
    }

    &--nomargin {
        margin-bottom: 0;
    }
}