@media (min-width: 768px) {
    .b-center-event {
        text-align: left;
        padding-left: 39px;
        // margin-bottom: 37px;

        &--tech {
            padding: 0;
            margin-bottom: 50px;
        }
        &--security {
            margin-bottom: 85px;
        }
        &--zoom {
            margin-bottom: 41px;
        }

        &__image-wrapper {
            margin: 0 -40px;

            &--ecol {
                margin-right: 0; 
            } 
        }

        &__image {
            width: 100%;
            // height: 460px;
            height: auto;

            &--background {
                height: 100%;
            }

            &--ecol {
                height: 645px;
            }

            display: none;
            &--tablet {
                display: block;
            }
        }

        &__image-big {
            display: none;
            margin: 0 auto;
            width: 100%;
            &--tablet {
                display: block;
                
            }
        }

        &__wrapper {
            &--zoom {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 47px;
            }

            &--parking {
                display: flex;
            }
        }

        &--zoom & {
            &__image-wrapper {
                margin: -6px 0 0 18px;
            }
            &__image {

                box-shadow: none;
                display: inline-block;
                width: 84px;
                height: auto;
            }
        }

        .b-center-event--left & {
            &__wrapper {
                display: flex;
                flex-flow: row-reverse;
                align-items: stretch;
            }

            &__image-wrapper {
                margin: 0;
                width: 50%;
                padding-right: 20px;

            }

            &__image {
                height: 100%;
                box-shadow: 7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }

        &--big {
            padding: 0;
            height: 317px;
        }

        &--ecol {
            display: flex;
            padding: 0;
            margin: 0 -20px;
        }

        &--ecol & {

            &__image {
                box-shadow: 7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }

        &__column {
            width: 50%;
            padding: 0 20px;

            &--parking {
                padding: 0;
                text-align: left;
                margin-bottom: 0;
                padding-right: 20px;

                &:last-child {
                    padding-left: 20px;
                    padding-right: 0px;
                }
            }
        }

        &__logo {
            margin: 0 0 31px;
            max-width: 86px;
            height: 80px;
            width: auto;

            &--ecol {
                margin-top: 8px;
                margin-bottom: 22px;
            }
        }

        &--parking {
            text-align: center;
            padding: 50px 0 26px;
        }

        &--lift {
            margin-bottom: 50px;
        }
        &--lift & {
    
            &__wrapper {
                display: flex;
                justify-content: flex-end;
                align-items: stretch;//center;
            }

            &__image-wrapper {
                // margin: 0;
                // width: 50%;
                display: inline-block;
                vertical-align: middle;

                margin: 0 -40px 0 0;
                width: calc(50% + 40px);
            }

            &__image {
                height: 100%;
                box-shadow: 7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }
    }
}
@media (min-width: 1024px) {
    .b-center-event {
        padding-left: 0px;
        // margin-left: 0 -27px;

        // &--tech {
            
        // }
        &--tech {
            margin-bottom: 60px;
        }
        // &--security {
        //     margin-bottom: 61px;
        // }
        &--zoom {
            // margin-bottom: 60px;
            max-width: 1024px;
            margin: 0 auto 60px;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: stretch;//center;

            &--parking {
                max-width: 906px;
                margin: 0 auto;            
            }
        }

        &__image-wrapper {
            margin: 0;
            width: 50%;
            display: inline-block;
            vertical-align: middle;

            &--ecol {
                display: block;
                width: calc(100% + 35px);
                margin-left: 0;
            }
        }
 
        &__image {
            height: 100%;//460px;

            &--ecol {
                height: 460px;
            }

            display: none;
            &--laptop {
                display: block;
            }
        }
        &--tech & {
            &__image {
                box-shadow: -7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }

        &__image-big {
            display: none;
            &--laptop {
                display: block;
            }
        }

        .b-center-event--left & {
            &__image-wrapper {
                padding: 0;
                text-align: right;
            }

            &__image {
                box-shadow: 7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }

        .b-center-event--security & {
            &__wrapper {
                align-items: stretch;
            }
        }

        &--zoom {
            padding-left: 59px;
            padding-top: 46px;
        }

        &--zoom & {

            &__image-wrapper {
                margin: -26px 0 0 15px;
            }

            &__wrapper {
                justify-content: flex-start;
                align-items: flex-end;
                margin-bottom: 41px;
            }
            &__image {
                width: 129px;
                box-shadow: none;
                display: inline-block;
            }
        }

        &--big {
            padding: 0;
            margin-bottom: 59px;
        }

        &--ecol {

            margin: 0 auto 40px;
        }
        &--ecol &__column {
            margin-bottom: 0;
        }

        &__wrapper-column {
            max-width: 418px;
        }

        &__column {
            padding: 0;
            margin-bottom: 0;

            &:first-child {
                padding-right: 35px;

                .b-center-event__wrapper-column {
                    margin-left: auto;
                }
            }

            &:last-child {
                padding-left: 49px;
            }

            &--parking {
                &:last-child {
                    padding-left: 19px;
                    padding-right: 22px;
                }
            }
        }

        &--parking {
            padding: 70px 0 58px;
            width: 100%;
        }

        &--lift {
            // margin-bottom: 30px;
        }
        &--lift & {

            &__image-wrapper {
                margin: 0;
                width: 50%;
                flex-grow: 0; flex-shrink: 0; flex-basis: auto;
            }
            &__image {
                box-shadow: 7px 11px 25px 0 rgba(0, 0, 0, 0.07);
            }
        }
    }
}
@media (min-width: 1280px) {
    .b-center-event {
        &__image {
            // width: 640px;

            display: none;
            &--desktop {
                display: block;
            }
        }

        &__image-big {
            display: none;
            &--desktop {
                display: block;
                // width: 100%;
                width: auto;
                margin: 0 auto;
            }
        }

        &--tech {
            margin-bottom: 100px;
        }
        &--security {
            margin-bottom: 86px;
        }
        &--ecol {
            // max-width: 1280px;
            margin: 0 auto 80px;
        }

        &--zoom {
            padding-left: 159px;
            max-width: 1280px;
            margin-bottom: 76px;
            // margin-top: -13px;
        }

        &--big {
            padding: 0;
            margin-bottom: 58px;
        }

        // &__wrapper-column {
        //     max-width: 445px;
        // }
        // &__column:first-child &__wrapper-column {
        //     margin-left: 159px;
        // }

        &__column {
            &:first-child {
                padding-right: 65px;
            }
            &:last-child {
                padding-left: 69px;
            }
            &--parking:last-child {
                padding-right: 0;
            }
        }

        &__wrapper{
            &--parking {
                max-width: 959px;
            }
        }

        &--parking {
            padding: 69px 0 71px;
        }
        
        &__image-wrapper--ecol {
            width: calc(100% + 65px);
        }
    }
}
@media (min-width: 1920px) {
    .b-center-event {
        padding-left: 13%;

        &__image-big {
            display: none;
            &--hd {
                display: block;
                width: auto;
                
            }
        }

        &--tech {
            padding: 0;
            margin-bottom: 69px;
        }

        &--big {
            padding: 0;
            margin-bottom: 67px;
            text-align: center;
        }

        &--ecol {
            padding: 0;
            margin-bottom: -14px;
        }

        &__image-wrapper {
            &--ecol {
                width: calc(100% + 225px);
                margin-left: -163px;
            }
        }

        &__column {
            &:first-child {
                padding-right: 65px;
                padding-left: 160px;
            }
            &:last-child {
                padding-left: 71px;
                padding-right: 160px;
            }
        }

        &__wrapper{
            &--parking {
                max-width: none;
            }
        }

        &--parking {
            padding:  70px 0 66px;
        }

        &--zoom {
            padding-left:  159px;
            margin-bottom: 61px;
        }

        &--security {
            margin-bottom:  131px;
        }
    }
}