// @media (min-width: 768px) {
//     .b-masterpiece-item {
//         display: flex;
//         flex-wrap: wrap;
//         &:not(:last-child) {
//             margin-bottom: 0px;
//         }

//         &__col {
//             margin: 0 40px 0 0;
//             width: calc(50% - 40px);

//             .b-masterpiece-item:nth-child(2n+1) & {
//                 margin: 40px 0 0 40px;
//                 order: 2;
//             }

//             &--image {
//                 margin: 0 -40px 0 0;
//                 width: calc(50% + 40px);

//                 .b-masterpiece-item:nth-child(2n+1) & {
//                     margin: 0 0 0 -40px;
//                     order: 1;
//                 }
//             }
//         }

//         &__image-wrapper {
//             margin: 0;
//             width: 100%;

//             &--left {
//                 height: 793px;
//             }
//         }
//     }
// }

// @media (min-width: 1024px) {
//     .b-masterpiece-item {
//         &:not(:last-child) {
//             margin-bottom: 0px;
//         }
//         &__col {
//             margin: 0 40px 0 0;
//             width: calc(50% - 40px);

//             .b-masterpiece-item:nth-child(2n+1) & {
//                 margin: 40px 0 0 40px;
//                 order: 2;
//             }

//             &--image {
//                 margin: 0 -40px 0 10px;
//                 width: calc(50% + 30px);

//                 .b-masterpiece-item:nth-child(2n+1) & {
//                     margin: -153px 10px 0 -40px;
//                     order: 1;
//                 }
//             }
//         }

//         &__image-wrapper {
//             height: 406px;

//             &--left {
//                 height: 639px;
//             }
//         }
//     }

// }

// @media (min-width: 1280px) {
//     .section--architecture {
//         padding-top: 80px;
//     }
// }



// }