.b-masterpiece-item {
	&:not(:last-child) {
		margin-bottom:28px;
	}
	&__col {
		margin: 0 0 26px;

		&--image {
			margin: 0px -20px 30px;
			width: calc(100% + 40px);
			&:last-child {
				margin-bottom:0px;
			}
		}
	}

	&__image-wrapper {
		height: 339px;
		overflow: hidden;
		width: 100%;

		&--left {
			height: 432px;
		}
	}

	&__image {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}