.b-number-about {
    padding: 30px 20px 0;

    &__list {
        padding: 0;
        // display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__item {
        list-style-type: none;
        margin-bottom: 27px;
    }

    &__more {
        font-size: 17px;
        letter-spacing: .1px;
        font-family: 'AvenirNext-Regular';
        color: #000;
        margin-bottom: 11px;
    }

    &__num {
        font-size: 70px;
        letter-spacing: .1px;
        font-family: 'MuseoCyrl-700';
        color: #d7c9a9;
        margin-bottom: 12px;
        display: inline-block;

        height: 70px;

        &--min {
            font-size: 50px;
        }
    }

    &__title {
        font-size: 13px;
        color: #000;
        font-family: 'AvenirNext-Bold';
        text-transform: uppercase;
        margin-bottom: 16px;

            width: 120px;
            line-height: 17px;
    }

    &__text {
        font-size: 14px;
        letter-spacing: .1px;
        color: #000;
        font-family: 'AvenirNext-Regular';
        line-height: 16px;

        p {
            margin-bottom: 10px;
        }
    }

    &__info {
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        font-family: 'MuseoCyrl-700';
        color: #d7c9a9;
        letter-spacing: .2px;
    }

    &__little {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        font-family: 'AvenirNext-Bold';
        color: #d7c9a9;
    }

    &__more-info {
        opacity: 0.5;
        font-size: 12px;
        color: #000;
        font-family: 'AvenirNext-Regular';
    }
}
