@media (min-width: 768px) {
    .b-number-about {
        padding: 54px 0 0;

        &__list {
            display: flex;
        }

        &__item {
            width: 33.33%;
            padding-right: 18px;
            margin-bottom: 58px;

            &:last-child {
                flex-grow: 0; flex-shrink: 0; flex-basis: auto;
                width: 65%;
                margin-bottom: 0;
            }

            &:nth-child(3n) {
                padding-right: 0;
                // padding-left: 19px;
            }

            &--order-1 {
                order: 1;
            }
            &--order-2 {
                order: 2;
            }
            &--order-3 {
                order: 3;
            }
        }

        &__more {
            height: 17px;
        }

        &__title {
            // margin-bottom: 14px;
            width: 120px;
            line-height: 17px;
        }
    }

    .section {
        &--number-about {
            margin-bottom: 61px;
        }
    }
}

@media (min-width: 1024px) {
    .b-number-about {
        // padding-top: 51px;

        padding-top: 100px;

        &__item {
            margin-bottom: 45px;
            width: 25%;
            order: 0;

            &:last-child {
                width: 50%;
            }

            &:nth-child(3n) {
                padding-right: 0;

                // .b-number-about__title {

                // }
            }
        }

        &__text {
            line-height: 18px;

            p {
                margin-bottom: 10px;
            }
        }

        &__num {
            margin-bottom: 9px;
        }

        &__title {
            margin-bottom: 14px;
            width: 120px;
            line-height: 17px;
        }

        &__info {
            margin-left: -3px;
        }

        &__little {
            margin-top: -5px;
        }

        &__more-info {
            line-height: 17px;
            width: 166px;
        }
    }

    .section {
        &--number-about {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1280px) {
    .b-number-about {
        padding-top: 100px;

        &__item {
            margin-bottom: 35px;
        }

        &__title {
            font-size: 15px;
            width: auto;
        }

        &__text {
            font-size: 17px;
            line-height: 23px;

            p {
                margin-bottom: 5px;
            }
        }

        &__more-info {
            width: 235px;
        }
    }

    .section--number-about {
        margin-bottom: 35px;
    }
}

@media (min-width: 1920px) {
    .b-number-about {
        &__num {
            margin-bottom: 11px;
        }

        &__title {
            margin-bottom: 12px;
        }
    }

    .section--number-about {
        margin-bottom: 35px;
    }
}