@media (min-width: 768px) {
    .b-fountain {
        padding-top: 52px;
        &__decoration {
            position: relative;
            padding: 0 130px;
            &:after {
                border-bottom: 1px solid #b59b61;
                bottom: 18px;
                content: '';
                right: 0px;
                position: absolute;
                width: 82px;
            }
            &:before {
                border-bottom: 1px solid #b59b61;
                bottom: 18px;
                content: '';
                left: 0px;
                position: absolute;
                width: 82px;
            }
        }

        &__image-tablet {
            width: 100%;
            height:100%;
            object-fit:cover;
            display: block;
        }

        &__image-mobile {
            display:none;
        }
    }

    .section {
        &--fountain {
            background: url(/img/backgrounds/fountain-tablet.png) no-repeat;
            background-size: 100% auto;
            padding: 0px 0px 0px;
            margin-bottom: 66px;
        }
    }
}

@media (min-width: 1024px) {
    .b-fountain {
        padding-top: 92px;
        &__decoration {
            position: relative;
            padding: 0 130px;
            &:after {
                bottom:20px;
            }
            &:before {
                bottom:20px;
            }
        }

        &__image-tablet {
            display:none;
        }

        &__image-laptop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;

        }
    }

    .section {
        &--fountain {
            background: url(/img/backgrounds/fountain-laptop.png) no-repeat;
            background-size: 100% auto;
            margin-bottom: 80px;
        }
    }
}

@media (min-width: 1280px) {
    .b-fountain {
       padding: 104px 0px 0;
       max-width: 1280px;
       margin: 0 auto;

       &__image-wrap {
           max-width: 1160px;
           margin: 0 auto;
       }

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
     
        &__image-wrap {
            width: 1160px;
            margin: 0 auto;
        }
    }

    .section {
        &--fountain {
            background: url(/img/backgrounds/fountain-desktop.png) no-repeat;
            background-size: cover;
            margin-bottom: 100px;
            padding: 0px 0px 0px;
        }
    }
}

@media (min-width: 1920px) {
    .b-fountain {
        padding: 45px 0px 0;
        &__image-desktop {
            display:none;
        }

        &__image-fullhd {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
    }

    .section {
        &--fountain {
            background: url(/img/backgrounds/fountain-fullhd.jpg) no-repeat;
            background-size: cover;
            padding: 17px 0px 0px;
            margin-bottom: 58px;
        }
    }
}