.b-fountain {   

    &__image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-tablet {
        display:none;
    }

    &__image-desktop {
        display:none;
    }

    &__image-fullhd {
        display:none;
    }

    &__image-laptop {
        display:none;
    }
}

.section {
    &--fountain {
        background: url(/img/backgrounds/fountain-mobile.png) no-repeat;
        background-size: 100% auto;
        padding: 60px 0px 0px;
        overflow: hidden;
    }
}