@media (min-width: 768px) {
    .b-mortgage-advantage {
        margin: 0 0 22px;

        &__list {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            font-size: 17px;
            margin: 0 0 52px;
            padding: 0 15px 0 0;
            width: 50%;
        }
    }
}
@media (min-width: 1024px) {
    .b-mortgage-advantage {
        margin: 0 -36px 22px 0;
        &__item {
            padding: 0 75px 0 0;
        }
    }
}
@media (min-width: 1280px) {
    .b-mortgage-advantage {
        margin: 0 68px 22px 0;
        &__item {
            padding: 0 50px 0 0;
        }
    }
}