/* 320++  */
.b-mortgage-advantage {
    margin: 0 0 30px;

    &__item {
        align-items: center;
        color: #000;
        display: flex;
        font-family: AvenirNext-Regular;
        font-size: 14px;
        letter-spacing: .1px;
        line-height: normal;
        margin: 0 0 18px;
    }

    &__text {
        width: calc(100% - (70px + 15px));
    }
}