@media (min-width: 768px) {
    .b-button {
        width: 180px;
        padding: 13px 5px;

        &--popup {
            margin-top: 45px;
        }

        &--mortgage-form {
            margin-top: 32px;
            width: 180px;
        }

        &--payment-form {
            //margin: 30px 0 30px;
        }

        &--white {
            vertical-align: middle;
            margin: -13px 0 0 22px;
            width: 170px;
        }

        &--request {
            display: inline-block;
            padding: 5px 15px;
            vertical-align: middle;
            width: auto;
        }
    }
}

@media (min-width: 1024px) {
    .b-button {
        padding: 14px 5px;

        &--request {
            padding: 5px 15px;
        }
    }
}

@media (min-width: 1280px) {
    .b-button {
        &--white {
            margin: -1px 0 12px 22px;
        }
    }
}