.b-button {
    color: #000;
    background: rgba(163, 130, 58, 0.5);
    padding: 5px;
    border: 1px solid #b59b61;
    margin: 30px auto 0;
    position: relative;
    display: block;
    // width: 180px;
    width: 100%;
    text-align: center;
    font-family: MuseoCyrl-300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1px;
    padding: 14px 5px;

    &:before {
        content: "";
        border: 5px solid #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
    }

    &--mortgage-form {
        width: auto;
        margin-top: 23px;
        padding: 15px;
    }

    &--payment-form {
        margin: 30px auto 30px;
    }

    &--white {
        background: #fff;
        color: #000;
        display: inline-block;
        margin: 13px 0 12px;
        border: none;
        // vertical-align: bottom;
        padding: 11px 5px 10px;
        width: 170px;

        &:before {
            border: 1px solid #fff;
            width: auto;
            height: auto;
            left: -5px;
            top: -5px;
            right: -5px;
            bottom: -5px;
        }
    }

    &--popup {
        width: 180px;
        background: #b59b61;
        color:#ffffff;
    }

    &--apart {
        margin: 0;
    }

    &--request {
        background: #fff;
        border-color: #fff;
        color: #153075;
        font-family: 'MuseoCyrl-500';
        font-size: 12px;
        margin: 0 auto;
        padding: 5px 16px;
        width: auto;
    }
}