extends layouts/longrid_layout
block vars
    - var page = "homepage";
block content
    //-.section.Section_1.Section_1--longread.Section_1--about
        .AnimBlock

        .CenterBlockWrapper
            .CenterBlock
                .CenterBlock_img.CenterBlock_img--opacity
                .CenterBlock_innerwrap
                    h1.CenterBlock_title.CenterBlock_title
                        span Группа «Эталон»
                        p ЗАСТРОЙЩИК С 30-ЛЕТНЕЙ ИСТОРИЕЙ
                    div.CenterBlockWrap
                        a(href='javascript:void(0);', data-anchor-target="read-next").CenterBlock_link.js-anchor-link Читать далее
        .CenterBlock_line
            span
    .section.Section_1.Section_1--longread
        .page-header
            .page-header__inner-wrapper(style="background-image: url('/img/backgrounds/about/about-fullhd.jpg')", data-header-anim)
            .page-header__inner
                .page-header__border
                .page-header__border._inner
                .page-header__border._inner2(style="background-image: url('/img/backgrounds/about/about-fullhd.jpg')")
                    .page-header__border-conners

            .page-header-tlt
                .page-header-tlt__inner
                    span Группа «Эталон»
                        span.page-header-tlt__small БОЛЕЕ 30 ЛЕТ ВМЕСТЕ

            .page-header-descr(data-header-descr)
                a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
                em.page-header-descr__line

    .section.section-notfullpage.js-anchor-item(data-anchor-id="read-next")
        .section--number-about
            .b-container.b-container--number-about
                include ./includes/blocks/number-about.pug
                +number-about()
        .section--info-company
            .b-container.b-container--info-company
                include ./includes/blocks/info-company.pug
                +info-company()
        .section--history
            .b-container.b-container--history
                include ./includes/blocks/history.pug
                +history()
        include ./includes/blocks/environment.pug
        +environment({'items':[{
                        'link'       : 'Далее',
                        'title'         : 'Ваша крепость, которую не хочется покидать ',
                        'text'       : 'Территория'
                        }
                    ]}).--about
        //-.Section_7.Section_7--demo.Section_7--longread
            .Contacts_wrap.Contacts_wrap--height.Contacts_wrap--longread
                .b-container
                    .Contacts
                        .Contacts_content.Contacts_content--height
                            .Contacts_title_wrap
                                .Contacts_title.Contacts_title--ofice Офис
                                    span продаж
                            .Contacts_item
                                a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
                                .Contacts_adress.Contacts_adress--height г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;1
                                    br
                                    | пн.-вс. 10:00 - 20:00
                                .Contacts_btn
                                    a.Contacts_btn_link(href='#') Заказать звонок
                        .Contacts_spec
            include ./includes/blocks/footer.pug

        .longread-footer
            .longread-contacts
                .longread-contacts__inner
                    .longread-contacts__tlt Офис<br> продаж
                    .longread-contacts__block
                        a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
                        p.longread-contacts__txt г. Москва,<br>
                            | ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
                            | пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
                        p
                            a(href="").button Заказать звонок

        include ./includes/blocks/footer.pug

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/longread-slide.js")
    script(src="/js/app.js")
