extends layouts/longreads_layoutWhite
block vars
	- var page = "Апартаменты БИЗНЕС-КЛАССА в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.BusinessFurnish
		.BusinessFurnish_intro
			.Title_wrapper.Title_wrapper-brownPattern
				.Title.Title-news Бизнес-отделка
			.BusinessFurnish_styles.swiper-container
				.BusinessFurnish_nextButton.swiper-button-next
				.BusinessFurnish_prevButton.swiper-button-prev
				.BusinessFurnish_slideTime
					.BusinessFurnish_slideCount 1
					span
					.BusinessFurnish_slideSum 3
				.BusinessFurnish_styleWrap.swiper-wrapper
					a.BusinessFurnish_styleItem.BusinessFurnish_styleItem-classic.swiper-slide(href="#")
						.BusinessFurnish_styleImg
							
							.BusinessFurnish_styleOverlay
						.BusinessFurnish_styleCenterBlock
							.BusinessFurnish_styleCenterInner
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightBottom
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftBottom
							.BusinessFurnish_innerImg
						.BusinessFurnish_styleName Классический <br/><span class="BusinessFurnish_styleDesc">стиль</span>

					a.BusinessFurnish_styleItem.BusinessFurnish_styleItem-modern.swiper-slide(href="#")
						.BusinessFurnish_styleImg
							
							.BusinessFurnish_styleOverlay
						.BusinessFurnish_styleCenterBlock
							.BusinessFurnish_styleCenterInner
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightBottom
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftBottom
							.BusinessFurnish_innerImg
						.BusinessFurnish_styleName Современный <br/><span class="BusinessFurnish_styleDesc">стиль</span>

					a.BusinessFurnish_styleItem.BusinessFurnish_styleItem-whiteBox.swiper-slide(href="#")
						.BusinessFurnish_styleImg
							
							.BusinessFurnish_styleOverlay
						.BusinessFurnish_styleCenterBlock
							.BusinessFurnish_styleCenterInner
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightTop
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-rightBottom
							.BusinessFurnish_styleCenterCorner.BusinessFurnish_styleCenterCorner-leftBottom
							.BusinessFurnish_innerImg
						.BusinessFurnish_styleName White Box <br/><span class="BusinessFurnish_styleDesc">отделка</span>
	.longread.longread_noPaddingBottom(data-animation)
		.longread__section
			p.longread__lead Апартаменты с отделкой — это ваша возможность сберечь время, силы и средства и быстрее заселиться в свой новый дом бизнес-класса. В ЖК «Серебряный фонтан» вы можете выбрать апартамент с готовой чистовой отделкой в современном или классическом стиле. Ну а если же вы хотите создать свой собственный неповторимый дизайн, решением для вас станет вариант предчистовой отделки White-Box.

			p.text-align_center
				a(href="").button.button_businessFurnish Выбрать апартаменты <span class="hidden-md">c отделкой</span>

		.longread__section
			.longread__row._double
				.longread__col
					.longread__tlt Берегите силы

					.longread__txt Ремонт всегда требует огромных усилий. Выбор подрядной организации сложен и не каждый гарантирует качественный результат. Контроль за рабочими отнимает много сил и энергии. Группа «Эталон» возьмет все это на себя и гарантирует, что отделка  в вашем апартаменте будет полностью соответствовать уровню бизнес-класса.

				.longread__col._ornament
					img(src="/img/furnish/business-furnish_01.jpg", alt="").longread__img.longread__img_desktop
					img(src="/img/furnish/business-furnish_01_tablet.jpg", alt="").longread__img.longread__img_tablet
					img(src="/img/furnish/business-furnish_01_mobile.jpg", alt="").longread__img.longread__img_mobile

		.longread__section
			.longread__row._reverse._double
				.longread__col
					.longread__tlt Экономьте время

					.longread__txt Все варианты отделки подразумевают правильное зонирование апартаментов. Вы сможете с первого дня оценить все преимущества выбранной планировки. Отделка White-Box подарит вам возможность не тратить время на черновую работу, а сразу же приступить к воплощению любых дизайнерских решений. А если выберете апартамент с готовой чистовой отделкой, после получения ключей вам останутся только приятные хлопоты по обустройству своего нового дома - выбор мебели и аксессуаров. 

				.longread__col
					img(src="/img/furnish/business-furnish_02.jpg", alt="").longread__img.longread__img_desktop
					img(src="/img/furnish/business-furnish_02_tablet.jpg", alt="").longread__img.longread__img_tablet
					img(src="/img/furnish/business-furnish_02_mobile.jpg", alt="").longread__img.longread__img_mobile

		.longread__section._ornament._ornament-visibleMobile
			.longread__row._double
				.longread__col
					.longread__tlt Платите как вам удобно

					.longread__txt Если вы приобретаете апартамент в ипотеку или в рассрочку, вам не придется оплачивать ремонт целиком. Все работы и материалы уже включены в стоимость покупки.

				.longread__col
					img(src="/img/furnish/business-furnish_03.jpg", alt="").longread__img.longread__img_desktop
					img(src="/img/furnish/business-furnish_03_tablet.jpg", alt="").longread__img.longread__img_tablet
					img(src="/img/furnish/business-furnish_03_mobile.jpg", alt="").longread__img.longread__img_mobile


	.longread-footer
		.longread-info.longread-info_fullBg(style="background-image: url('/img/apartments/bg_etalon_full.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/app.js")
	script(src="/js/business-furnish.js")