extends layouts/longreads_layoutWhite
mixin Fitblock(img, width, height, additionalClasses)
	div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
		.Fitblock_inner
			img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
			block
block vars
	- var page = "Апартаменты БИЗНЕС-КЛАССА в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.BusinessFurnish
		.BusinessFurnish_intro
			.Title_wrapper.Title_wrapper-brownPattern
				.Title.Title-news Современный стиль

	.DecorStyle
		style body {padding-top:80px;}
		#DecorStyleTabs.DecorStyle_wrapTabs
			.DecorStyle_slider.swiper-container
				.swiper-wrapper
					.swiper-slide.DecorStyle_sliderItem(data-tab="1", data-slide-id="0" style="background-image:url(img/decorStyle/modern/kitchen/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="1", data-slide-id="1" style="background-image:url(img/decorStyle/modern/kitchen/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="2", data-slide-id="2" style="background-image:url(img/decorStyle/modern/livingRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="2", data-slide-id="3" style="background-image:url(img/decorStyle/modern/livingRoom/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="3", data-slide-id="4" style="background-image:url(img/decorStyle/modern/bedRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="3", data-slide-id="5" style="background-image:url(img/decorStyle/modern/bedRoom/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="4", data-slide-id="6" style="background-image:url(img/decorStyle/modern/hall/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="4", data-slide-id="7" style="background-image:url(img/decorStyle/modern/hall/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="5", data-slide-id="8" style="background-image:url(img/decorStyle/modern/bathRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="5", data-slide-id="9" style="background-image:url(img/decorStyle/modern/bathRoom/2.jpg);")
				.swiper-button-prev.DecorStyle-prev
				.swiper-button-next.DecorStyle-next
			ul.DecorStyle_tabs.DecorStyleTabs
				li.DecorStyleTabs_item
					a(data-slide="1", href="#decorTab-1").DecorStyleTabs_link кухня
				li.DecorStyleTabs_item
					a(data-slide="2", href="#decorTab-2").DecorStyleTabs_link гостиная
				li.DecorStyleTabs_item
					a(data-slide="3", href="#decorTab-3").DecorStyleTabs_link спальня
				li.DecorStyleTabs_item
					a(data-slide="4", href="#decorTab-4").DecorStyleTabs_link прихожая
				li.DecorStyleTabs_item
					a(data-slide="5", href="#decorTab-5").DecorStyleTabs_link санузел
			#decorTab-1(data-hash="modernTab-1")
				.DecorStyle_top
					.DecorStyle_topItem._modernKitchen1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/kitchen/1.jpg")
							.DecorStyle_topBull(style="left: 34%; top: 5%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х120x94 мм
							.DecorStyle_topBull(style="left: 69%; top: 93%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramogranit.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas Concorde, коллекция WISE, цвет ICE MIST поверхность Лаппато
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 017
					.DecorStyle_topItem._modernKitchen2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/kitchen/2.jpg")
							.DecorStyle_topBull(style="left: 61%; top: 57%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/kitchen_walls.png);;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 88%; top: 48%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х120x94 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/kitchen_walls.png);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramogranit.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Керамогранит
									p Atlas Concorde, коллекция WISE, цвет<br>ICE MIST, поверхность Лаппато, Италия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 017, Чили
						.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия
			#decorTab-2(data-hash="modernTab-2")
				.DecorStyle_top
					.DecorStyle_topItem._modernLivinRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/livingRoom/1.jpg")
							.DecorStyle_topBull(style="left: 24%; top: 28%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/lroom_walls.png);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 82%; top: 46%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco
					.DecorStyle_topItem._modernLivinRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/livingRoom/2.jpg")
							.DecorStyle_topBull(style="left: 56%; top: 5%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х120x94 мм
							.DecorStyle_topBull(style="left: 6%; top: 75%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/parket.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Паркетная доска
											p Galathea Дуб Aureo, 1200х125х12 мм
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 017
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х120x94 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/lroom_walls.png);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/parket.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Паркетная доска
									p Galathea Дуб Aureo, 1200х125х12 мм, Китай
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 017, Чили
						.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия
			#decorTab-3(data-hash="modernTab-3")
				.DecorStyle_top
					.DecorStyle_topItem._modernBedRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/bedRoom/1.jpg")
							.DecorStyle_topBull(style="left: 68%; top: 4%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х120x94 мм
							.DecorStyle_topBull(style="left: 5%; top: 93%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/parket.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Паркетная доска
											p Galathea Дуб Aureo, 1200х125х12 мм
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 017
					.DecorStyle_topItem._modernBedRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/bedRoom/2.jpg")
							.DecorStyle_topBull(style="left: 30%; top: 25%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/lroom_walls.png);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 80%; top: 50%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х120x94 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/lroom_walls.png);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/parket.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Паркетная доска
									p Galathea Дуб Aureo, 1200х125х12 мм, Китай
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 017, Чили
						.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия
			#decorTab-4(data-hash="modernTab-4")
				.DecorStyle_top
					.DecorStyle_topItem._modernHall1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/hall/1.jpg")
							.DecorStyle_topBull(style="left: 48%; top: 3%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х120x94 мм
							.DecorStyle_topBull(style="left: 47%; top: 91%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramogranit.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas Concorde, коллекция WISE, цвет	ICE MIST поверхность Лаппато
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 017
					.DecorStyle_topItem._modernHall2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/hall/2.jpg")
							.DecorStyle_topBull(style="left: 50%; top: 19%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/hall_walls.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 50%; top: 50%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco
							.DecorStyle_topBull(style="left: 38%; top: 80%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/rozetka.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Розетка
											p электрическая с заземлением LeGrand
							.DecorStyle_topBull(style="left: 90%; top: 70%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/vykluchatel.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Выключатель
											p двухклавишный LeGrand
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item4-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х120x94 мм, Россия
						.DecorStyleList_item._item4-2
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramogranit.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Керамогранит
									p Atlas Concorde, коллекция WISE, цвет	ICE MIST, поверхность Лаппато, Италия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 017, Чили
						.DecorStyleList_item._item4-3
							h3.DecorStyleList_itemName Электрика
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/vykluchatel.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Выключатель
									p двухклавишный LeGrand, Франция
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/rozetka.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Розетка
									p электрическая с заземлением LeGrand, Франция
						.DecorStyleList_item._item4-4
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/hall_walls.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
						.DecorStyleList_item._item4-5
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия

			#decorTab-5(data-hash="modernTab-5")
				.DecorStyle_top
					.DecorStyle_topItem._modernBathRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/bathRoom/1.jpg")
							.DecorStyle_topBull(style="left: 6%; top: 13%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dush.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Душевой гарнитур
											p Grohe, New Tempesta 100
							.DecorStyle_topBull(style="left: 6%; top: 73%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/smesitel_vanna.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Смеситель для ванны
											p Однорычажный Grohe, BauEdge
							.DecorStyle_topBull(style="left: 25%; top: 90%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/vanna.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Ванна
											p Roca Easy 170x70 см, акрил
							.DecorStyle_topBull(style="left: 88%; top: 75%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/unitaz.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Унитаз + инсталляция + кнопка
											p Villeroy&Boch Memento
							.DecorStyle_topBull(style="left: 88%; top: 25%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/polotentsesush.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Полотенцесушитель
											p Сунержа, High-Tech model «G», 320x650 мм
					.DecorStyle_topItem._modernBathRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/modern/bathRoom/2.jpg")
							.DecorStyle_topBull(style="left: 35%; top: 6%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/svetilnik.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Светильники
											p Novotech Aqua
							.DecorStyle_topBull(style="left: 49%; top: 4%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Acryl Matt
							.DecorStyle_topBull(style="left: 50%; top: 35%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/KeramoLightDark.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas Concorde Marvel PRO
							.DecorStyle_topBull(style="left: 68%; top: 91%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/tumba.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Тумба с раковиной
											p Villeroy&Boch Venticello 80 подвесная, Белая хром
							.DecorStyle_topBull(style="left: 83%; top: 70%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/smesitel.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Смеситель для раковины
											p Однорычажный Grohe, BauEdge
							.DecorStyle_topBull(style="left: 12%; top: 50%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco
				.DecorStyle_cont
					.DecorStyleList._2colWrap
						.DecorStyleList_item2col
							.DecorStyleList_item
								h3.DecorStyleList_itemName Потолок
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-color:#ececea;")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Покраска
										p Декоративная краска Dulux Acryl Matt, Голландия
								//-.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/PlintusPotolochniy.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Плинтус потолочный
										p Европласт, 120x94 мм, Россия
							.DecorStyleList_item
								h3.DecorStyleList_itemName Стены и пол
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img._2pieces
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramoMarble_light.jpg);")
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/keramoMarble_dark.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Керамогранит
										p Atlas Concorde Marvel PRO, Италия
							.DecorStyleList_item
								h3.DecorStyleList_itemName Электрика
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/svetilnik.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Светильники
										p Novotech Aqua, Венгрия
							.DecorStyleList_item._item1-4
								h3.DecorStyleList_itemName Двери
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dver.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Дверь
										p UNIONporte, ALFA Laccato, ALFA P, матовая эмаль Bianco, Италия-Россия

						.DecorStyleList_item2col
							.DecorStyleList_item
								h3.DecorStyleList_itemName Сантехника
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/tumba.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Тумба с раковиной
										p Villeroy&Boch Venticello 80 подвесная, Белая хром, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/smesitel.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Смеситель для раковины
										p Однорычажный Grohe, BauEdge, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/vanna.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Ванна
										p Roca Easy 170x70 см, акрил, Россия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/dush.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Душевой гарнитур
										p Grohe, New Tempesta 100, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/smesitel_vanna.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Смеситель для ванны
										p Однорычажный Grohe, BauEdge, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/unitaz.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Унитаз + инсталляция + кнопка
										p Villeroy&Boch Memento, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/modern/polotentsesush.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Полотенцесушитель
										p Сунержа, High-Tech model «G», 320x650 мм, Россия
	.longread-footer
		.longread-info.longread-info_fullBg(style="background-image: url('/img/apartments/bg_etalon_full.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/business-furnish-decor.js")