extends layouts/longreads_layoutWhite
block vars
	- var page = "Апартаменты БИЗНЕС-КЛАССА в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.BusinessFurnish
		.BusinessFurnish_intro
			.Title_wrapper.Title_wrapper-brownPattern
				.Title.Title-news ОТДЕЛКА WHITE BOX

	.DecorStyle
		style body {padding-top:80px;}
		.DecorStyle_wrapTabs
			.DecorStyle_slider._wb.swiper-container
				.swiper-wrapper
					.swiper-slide.DecorStyle_sliderItem(style="background-image:url(img/decorStyle/wb/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(style="background-image:url(img/decorStyle/wb/2.jpg);")
				.swiper-button-prev.DecorStyle-prev
				.swiper-button-next.DecorStyle-next
			.DecorStyle_top
				.DecorStyle_topItem._wb
					.DecorStyle_topItemInner
						img.DecorStyle_topItemImg._wb(src="img/decorStyle/wb/1.jpg")
				.DecorStyle_topItem._wb
					.DecorStyle_topItemInner
						img.DecorStyle_topItemImg._wb(src="img/decorStyle/wb/2.jpg")
			.DecorStyle_cont
				.DecorStyleList
					.DecorStyleList_item
						h3.DecorStyleList_itemName Перечень работ
						.DecorStyle_works
							h5.DecorStyle_worksH5 Стены
							ul.DecorStyle_worksList
								li.DecorStyle_worksItem Возведение стен
								li.DecorStyle_worksItem Штукатурка и шпаклевка
							h5.DecorStyle_worksH5 Полы
							ul.DecorStyle_worksList
								li.DecorStyle_worksItem Выполнение стяжки, грунтование
							h5.DecorStyle_worksH5 Потолки
							ul.DecorStyle_worksList
								li.DecorStyle_worksItem Выравнивание, штукатурка, шпаклевка с устройством выводов под освещение
								li.DecorStyle_worksItem Потолки выровнены и грунтованы в 1 слой
					.DecorStyleList_item
							h3.DecorStyleList_itemName
								span.nowrap Электромонтажные
								| &nbsp; работы
							.DecorStyle_works
								ul.DecorStyle_worksList
									li.DecorStyle_worksItem Осуществляется монтаж, подключение и комплектование квартирного электрощита, прокладка электрического кабеля до мест размещения розеток, осветительных приборов и выключателей, а также прокладка ТВ-кабеля.
									li.DecorStyle_worksItem Монтаж систем пожарной сигнализации
									li.DecorStyle_worksItem Разводка труб системы отопления и установка приборов отопления
									li.DecorStyle_worksItem Вентиляция и центральное кондиционирование
					.DecorStyleList_item
						h3.DecorStyleList_itemName Сантехнические работы
						.DecorStyle_works
							ul.DecorStyle_worksList
								li.DecorStyle_worksItem Устройство перегородки сантехнического стояка из пазогребневых блоков, с установкой сантехнического люка «под плитку»
								li.DecorStyle_worksItem Гидроизоляция пола
								li.DecorStyle_worksItem Точки подключения к канализации предоставлены на стояках в шахтах ВК, точки подключения к системе холодного и горячего водоснабжения предоставлены на стояках в шахтах ВК
								li.DecorStyle_worksItem Выводы всех коммуникаций (в том числе для стиральной и посудомоечной машинки) с заглушками
	.longread-footer
		.longread-info.longread-info_fullBg(style="background-image: url('/img/apartments/bg_etalon_full.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/business-furnish-decor.js")