extends layouts/longreads_layoutWhite
mixin Fitblock(img, width, height, additionalClasses)
	div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
		.Fitblock_inner
			img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
			block
block vars
	- var page = "Апартаменты БИЗНЕС-КЛАССА в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.BusinessFurnish
		.BusinessFurnish_intro
			.Title_wrapper.Title_wrapper-brownPattern
				.Title.Title-news Классический стиль

	.DecorStyle
		style body {padding-top:80px;}
		#DecorStyleTabs.DecorStyle_wrapTabs
			.DecorStyle_slider.swiper-container
				.swiper-wrapper
					.swiper-slide.DecorStyle_sliderItem(data-tab="1", data-slide-id="0" style="background-image:url(img/decorStyle/classic/kitchen/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="1", data-slide-id="1" style="background-image:url(img/decorStyle/classic/kitchen/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="2", data-slide-id="2" style="background-image:url(img/decorStyle/classic/livingRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="2", data-slide-id="3" style="background-image:url(img/decorStyle/classic/livingRoom/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="3", data-slide-id="4" style="background-image:url(img/decorStyle/classic/bedRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="3", data-slide-id="5" style="background-image:url(img/decorStyle/classic/bedRoom/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="4", data-slide-id="6" style="background-image:url(img/decorStyle/classic/hall/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="4", data-slide-id="7" style="background-image:url(img/decorStyle/classic/hall/2.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="5", data-slide-id="8" style="background-image:url(img/decorStyle/classic/bathRoom/1.jpg);")
					.swiper-slide.DecorStyle_sliderItem(data-tab="5", data-slide-id="9" style="background-image:url(img/decorStyle/classic/bathRoom/2.jpg);")
				.swiper-button-prev.DecorStyle-prev
				.swiper-button-next.DecorStyle-next
			ul.DecorStyle_tabs.DecorStyleTabs
				li.DecorStyleTabs_item
					a(data-slide="1", href="#decorTab-1").DecorStyleTabs_link кухня
				li.DecorStyleTabs_item
					a(data-slide="2", href="#decorTab-2").DecorStyleTabs_link гостиная
				li.DecorStyleTabs_item
					a(data-slide="3", href="#decorTab-3").DecorStyleTabs_link спальня
				li.DecorStyleTabs_item
					a(data-slide="4", href="#decorTab-4").DecorStyleTabs_link прихожая
				li.DecorStyleTabs_item
					a(data-slide="5", href="#decorTab-5").DecorStyleTabs_link санузел
			#decorTab-1(data-hash="classicTab-1")
				.DecorStyle_top
					.DecorStyle_topItem._classicKitchen1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/kitchen/1.jpg")
							.DecorStyle_topBull(style="left: 96%; top: 17%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/kitchen_walls.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Молдинг
											p Европласт, 2000x19x8&nbsp;мм
					.DecorStyle_topItem._classicKitchen2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/kitchen/2.jpg")
							.DecorStyle_topBull(style="left: 18%; top: 5%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х150x118 мм
							.DecorStyle_topBull(style="left: 68%; top: 88%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramogranit.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas Concorde Marvel Calacatta Extra
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 5763
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х150x118 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/kitchen_walls.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Молдинг
									p Европласт, 2000x19x8&nbsp;мм, Россия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramogranit.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Керамогранит
									p Atlas Concorde Marvel Calacatta Extra, Италия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 5763, Чили
						//-.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия
			#decorTab-2(data-hash="classicTab-2")
				.DecorStyle_top
					.DecorStyle_topItem._classicLivinRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/livingRoom/1.jpg")
							.DecorStyle_topBull(style="left: 72%; top: 4%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х150x118 мм
							.DecorStyle_topBull(style="left: 24%; top: 28%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/livingroom_walls.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Молдинг
											p Европласт, 2000x19x8&nbsp;мм
					.DecorStyle_topItem._classicLivinRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/livingRoom/2.jpg")
							.DecorStyle_topBull(style="left: 64%; top: 46%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, GRAND GR02, матовая эмаль Bianco
							.DecorStyle_topBull(style="left: 86%; top: 89%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/parket.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Паркетная доска
											p Galathea Американский орех Castle, 1200х125х12&nbsp;мм
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 017
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х150x118 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/livingroom_walls.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Молдинг
									p Европласт, 2000x19x8&nbsp;мм, Россия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/parket.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Паркетная доска
									p Galathea Американский орех Castle, 1200х125х12&nbsp;мм, Китай
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 5763, Чили
						.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия
			#decorTab-3(data-hash="classicTab-3")
				.DecorStyle_top
					.DecorStyle_topItem._classicBedRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/bedRoom/1.jpg")
							.DecorStyle_topBull(style="left: 64%; top: 3%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х150x118 мм
							.DecorStyle_topBull(style="left: 36%; top: 29%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/bedroom_walls.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Молдинг
											p Европласт, 2000x19x8&nbsp;мм
					.DecorStyle_topItem._classicBedRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/bedRoom/2.jpg")
							.DecorStyle_topBull(style="left: 46%; top: 48%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия
							.DecorStyle_topBull(style="left: 28%; top: 68%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/parket.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Паркетная доска
											p Galathea Американский орех Castle, 1200х125х12&nbsp;мм
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 5763
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item1-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х150x118 мм, Россия
						.DecorStyleList_item._item1-2
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/bedroom_walls.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/molding.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Молдинг
									p Европласт, 2000x19x8&nbsp;мм, Россия
						.DecorStyleList_item._item1-3
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/parket.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Паркетная доска
									p Galathea Американский орех Castle, 1200х125х12&nbsp;мм, Китай
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 5763, Чили
						.DecorStyleList_item._item1-4
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия
			#decorTab-4(data-hash="classicTab-4")
				.DecorStyle_top
					.DecorStyle_topItem._classicHall1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/hall/1.jpg")
							.DecorStyle_topBull(style="left: 79%; top: 10%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/hall_walls.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 28%; top: 88%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramogranit.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas Concorde Marvel Calacatta Extra
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус напольный
											p Высокий из ЛДФ под покраску, Ultrawood Base 5763
					.DecorStyle_topItem._classicHall2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/hall/2.jpg")
							.DecorStyle_topBull(style="left: 44%; top: 9%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Плинтус потолочный
											p Европласт, 2000х150x118 мм
							.DecorStyle_topBull(style="left: 40%; top: 48%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Дверь
											p UNIONporte, GRAND GR02, матовая эмаль Bianco
							.DecorStyle_topBull(style="left: 16%; top: 79%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/rozetka.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Розетка
											p электрическая с заземлением LeGrand
							.DecorStyle_topBull(style="left: 59%; top: 62%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/vykluchatel.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Выключатель
											p двухклавишный LeGrand
				.DecorStyle_cont
					.DecorStyleList
						.DecorStyleList_item._item4-1
							h3.DecorStyleList_itemName Потолок
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-color:#ececea;")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус потолочный
									p Европласт, 2000х150x118 мм, Россия
						.DecorStyleList_item._item4-2
							h3.DecorStyleList_itemName Пол
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramogranit.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Керамогранит
									p Atlas Concorde Marvel Calacatta Extra, Италия
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/plintus.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Плинтус напольный
									p Высокий из ЛДФ под покраску, Ultrawood Base 5763, Чили
						.DecorStyleList_item._item4-3
							h3.DecorStyleList_itemName Электрика
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/vykluchatel.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Выключатель
									p двухклавишный LeGrand, Франция
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/rozetka.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Розетка
									p электрическая с заземлением LeGrand, Франция
						.DecorStyleList_item._item4-4
							h3.DecorStyleList_itemName Стены
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/hall_walls.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Покраска
									p Декоративная краска Dulux Ultra Resist, Голландия
						.DecorStyleList_item._item4-5
							h3.DecorStyleList_itemName Двери
							.DecorStyleList_itemMaterial.DecorStyleMaterial
								.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
								.DecorStyleMaterial_txt
									h5.DecorStyleMaterial_name Дверь
									p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия

			#decorTab-5(data-hash="classicTab-5")
				.DecorStyle_top
					.DecorStyle_topItem._classicBathRoom1
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/bathRoom/1.jpg")
							.DecorStyle_topBull(style="left: 17%; top: 1%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/svetilnik.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Светильники
											p Novotech Aqua
							.DecorStyle_topBull(style="left: 52%; top: 33%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/BathCeramo.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Atlas&nbsp;Concorde, Kerama&nbsp;Marazzi
							.DecorStyle_topBull(style="left: 80%; top: 30%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/polotentsesush.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Полотенцесушитель
											p Стилье Универсум 500x400 мм
							.DecorStyle_topBull(style="left: 79%; top: 75%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/unitaz.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Унитаз + инсталляция + кнопка
											p Villeroy&Boch Venticello
							.DecorStyle_topBull(style="left: 60%; top: 91%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramowood.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Керамогранит
											p Керамогранит Kerama Marazzi Сальветти вишня обрезной, матовый,200х1195 мм, Россия
					.DecorStyle_topItem._classicBathRoom2
						.DecorStyle_topItemInner
							img.DecorStyle_topItemImg(src="img/decorStyle/classic/bathRoom/2.jpg")
							.DecorStyle_topBull(style="left: 23%; top: 1%;")
								.DecorStyle_topToolp
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-color:#ececea;")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Покраска
											p Декоративная краска Dulux Ultra Resist
							.DecorStyle_topBull(style="left: 30%; top: 35%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dush.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Душевой гарнитур
											p Grohe, New Tempesta 100
							.DecorStyle_topBull(style="left: 27%; top: 63%;")
								.DecorStyle_topToolp._LT
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/smesitel_vanna.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Смеситель для ванны
											p Однорычажный Grohe, BauEdge
							.DecorStyle_topBull(style="left: 18%; top: 75%;")
								.DecorStyle_topToolp._LB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/vanna.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Ванна
											p Roca Easy 170x70 см, акрил
							.DecorStyle_topBull(style="left: 53%; top: 79%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/tumba.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Тумба с раковиной
											p Villeroy&Boch Venticello 80 подвесная, Белая хром
							.DecorStyle_topBull(style="left: 57%; top: 55%;")
								.DecorStyle_topToolp._RB
									.DecorStyleMaterial
										.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/smesitel.jpg);")
										.DecorStyleMaterial_txt
											h5.DecorStyleMaterial_name Смеситель для раковины
											p Однорычажный Grohe, BauEdge
				.DecorStyle_cont
					.DecorStyleList._2colWrap
						.DecorStyleList_item2col
							.DecorStyleList_item
								h3.DecorStyleList_itemName Потолок
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-color:#ececea;")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Покраска
										p Декоративная краска Dulux Ultra Resist, Голландия
								//-.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/PlintusPotolochniy.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Плинтус потолочный
										p Европласт, 120x94 мм, Россия
							.DecorStyleList_item
								h3.DecorStyleList_itemName Стены и пол
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/BathCeramo.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Керамогранит
										p 85% — Atlas Concorde Marvel Calacatta Extra,	Италия<br>15% — Kerama Marazzi Сальветти вишня обрезной, матовый, 200х1195 мм, Россия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/keramowood.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Керамогранит
										p Керамогранит Kerama Marazzi Сальветти вишня обрезной, матовый,200х1195 мм, Россия
							.DecorStyleList_item
								h3.DecorStyleList_itemName Электрика
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/svetilnik.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Светильники
										p Novotech Aqua, Венгрия
							.DecorStyleList_item._item1-4
								h3.DecorStyleList_itemName Двери
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dver.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Дверь
										p UNIONporte, GRAND GR02, матовая эмаль Bianco, Италия-Россия
						.DecorStyleList_item2col
							.DecorStyleList_item
								h3.DecorStyleList_itemName Сантехника
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/tumba.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Тумба с раковиной
										p Villeroy&Boch Venticello 80 подвесная, Белая хром, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/smesitel.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Смеситель для раковины
										p Однорычажный Grohe, BauEdge, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/vanna.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Ванна
										p Roca Easy 170x70 см, акрил, Россия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/dush.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Душевой гарнитур
										p Grohe, New Tempesta 100, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/smesitel_vanna.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Смеситель для ванны
										p Однорычажный Grohe, BauEdge, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/unitaz.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Унитаз + инсталляция + кнопка
										p Villeroy&Boch Venticello, Германия
								.DecorStyleList_itemMaterial.DecorStyleMaterial
									.DecorStyleMaterial_img(style="background-image:url(img/decorStyle/classic/polotentsesush.jpg);")
									.DecorStyleMaterial_txt
										h5.DecorStyleMaterial_name Полотенцесушитель
										p Стилье Универсум 500x400 мм, Россия
	.longread-footer
		.longread-info.longread-info_fullBg(style="background-image: url('/img/apartments/bg_etalon_full.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/business-furnish-decor.js")