extends layouts/default_layout
block vars
    - var page = "chess";
block content
    +b.options-page
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href="javascript:void(0);", title="Назад")
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                +e.tab-links
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="На генплане") На генплане
                    +e.item
                        +e.tab-link.-active(href="javscript:void(0);", title="По параметрам") На секции
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="По параметрам") По параметрам
        +e.container
            +e.filters
                +e.wrapper()
                    form#ChessFilter(data-url-flats="/ajax/chess_scheme_filtered.json?action=get_flats&type=chess", method='GET')
                        //input(type="text", style="display: none;", id='action', name='action', value="get_flats")
                        input(type="hidden", id="bld" name="bld", value="1")
                        input(type="hidden", id="section" name="section", value="2")
                        include includes/blocks/list-checkbox.pug
                        .BldChessSwitcher
                            .BldChessSwitcher__title Корпус
                            .BldChessSwitcher__inner(data-bld-url="/ajax/chess_scheme_example.json?action=chess_bld")
                                button.BldChessSwitcher_btn.BldChessSwitcher_btn-active(data-bld="1") 1
                                button.BldChessSwitcher_btn(data-bld="2") 2
                                button.BldChessSwitcher_btn.BldChessSwitcher_btn-disable(data-bld="3") 3
                                button.BldChessSwitcher_btn(data-bld="4") 4

                        +list-checkbox("Количество комнат", {
                            'items': [
                                {
                                    "id": "2-1",
                                    "name": "bedrooms[]",
                                    "title": "Ст"
                                }, {
                                    "id": "2-2",
                                    "name": "bedrooms[]",
                                    "title": "1"
                                }, {
                                    "id": "2-3",
                                    "name": "bedrooms[]",
                                    "title": "2"
                                }, {
                                    "id": "2-4",
                                    "name": "bedrooms[]",
                                    "title": "3"
                                }, {
                                    "id": "2-5",
                                    "name": "bedrooms[]",
                                    "title": "4"
                                }, {
                                    "id": "2-6",
                                    "name": "bedrooms[]",
                                    "title": "5"
                                }, {
                                    "id": "2-7",
                                    "name": "bedrooms[]",
                                    "title": "6"
                                }
                            ]
                        }).--options.--room
                        +b.calculator.--options.--floor
                            +e.wrap.js-slider-container(data-range="true", data-not-fl="middle_floor_only", data-chess-slider="true")
                                +e.text Этаж
                                +e.slider-ui.js-slider-ui(id="floor", max="19", min="5")
                                +e.top-info.--options
                                    +e.item-info
                                        span(data-target="floor_from").js-min 5
                                        input(id="floor_from", type="text", style="display: none", name="floor_from", value="5")
                                    +e.item-info
                                        span(data-target="floor_to").js-max 19
                                        input(id="floor_to", type="text", style="display: none", name="floor_to", value="19")
                            include includes/blocks/checkbox.pug
                            +checkbox("middle_floor_only", "middle_floor_only", "Кроме первого и последнего").--options.--mortgage-form
                        +b.calculator.--options
                            +e.wrap.js-slider-container(data-range="true", data-chess-slider="true")
                                +e.text Площадь, м²
                                +e.slider-ui.js-slider-ui(id="area", max="182", min="39")
                                +e.top-info.--options
                                    +e.item-info
                                        span(data-target="area_from").js-min 39
                                        input(id="area_from", type="text", style="display: none", name="area_from", value="39")
                                    +e.item-info
                                        span(data-target="area_to").js-max 182
                                        input(id="area_to", type="text", style="display: none", name="area_to", value="182")
                        +b.calculator.--options.--last
                            +e.wrap.js-slider-container(data-range="true", data-price="true", data-chess-slider="true")
                                +e.text Цена, ₽
                                +e.slider-ui.js-slider-ui(id="price", max="51 493 180", min="9 963 030")
                                +e.top-info.--options
                                    +e.item-info
                                        span(data-target="price_from").js-min 9 963 030
                                        input(id="price_from", type="text", style="display: none", name="price_from", value="9963030")
                                    +e.item-info
                                        span(data-target="price_to").js-max 51 493 180
                                        input(id="price_to", type="text", style="display: none", name="price_to", value="51493180")
                        +e.bottom-block.js-default-checkbox
                            +e.select.options-page__select--appart.js-select-tablet
                                include includes/blocks/select.pug
                                +select({
                                    id: "options",
                                    name: "apts"
                                }, "js-select", "", "Апартаменты: не важно", "Апартаменты: да", "Апартаменты: нет")
                            +e.checkbox-block
                                +e.title Вид из окон
                                +checkbox("view_win[]", "options-sokol", "на Парк Сокольники","","options-sokol").--options.--mortgage-form.--options-block
                                +checkbox("view_win[]", "options-dvor", "на внутреннее пространство двора","","options-dvor").--options.--mortgage-form.--options-block
                                +checkbox("view_win[]", "options-22", "на липовую аллею","","options-22").--options.--mortgage-form.--options-block
                                +checkbox("view_win[]", "options-33", "на город","","options-33").--options.--mortgage-form.--options-block
                            +e.more-checkbox.js-checkbox-permutation
                                +checkbox("discount", "discount", "Акционные квартиры").--options.--mortgage-form.--options-block.--actionFlat
                                +checkbox("finish", "finish", "Отделка").--options.--mortgage-form.--options-block.--finish
            +e.content
                +e.progress
                +e.top-info
                    +e.text-top Найдено
                        span.js-option-flat-count 0
                        span квартир
                .ChessScheme(data-chess-url="")
                    .ChessScheme_slider.swiper-container(data-chess-slider)
                        .ChessScheme_track.swiper-wrapper
                        .ChessScheme_sliderCntrl.swiper-controls
                            .ChessScheme_compass
                                img(src="/img/content/compass.svg", alt="alt", title="")
                            .ChessScheme_sliderPager
                                .ChessScheme_sliderPagerInner
                                button.ChessScheme_sliderBtnPrev
                                button.ChessScheme_sliderBtnNext
                            .ChessScheme_bild
                                span.ChessScheme_bildTxt ул. Новоалексеевская




block page_bottom
    script(src="/js/inner.js")
    script(src="/js/chess.js")
