extends layouts/default_layout
block content
    +b.floor-map.--commercial-genplan
        +b.options-page
            +e.top.--commercial-genplan
                .b-container.b-container--options-page
                    +e.back.--commercial-genplan
                        +e.back-link.--commercial-genplan.--commercial-floor Коммерческие  помещения

    +b.about-wrapper
        +b.compass
            +e('img')(src='/img/content/compass-mobile.png').image-mobile-compass
            +e('img')(src='/img/content/compass-tablet.png').image-tablet-compass
            +e('img')(src='/img/content/compass-desktop.png').image-desktop-compass
        .b-floor-select-outer.b-floor-select-outer--commercial
            include ./includes/blocks/floor-select.pug
            +floor-select({'items': [
                    {
                        'onlydesktop': true,
                        'src_mobile' : '/img/backgrounds/genplan-street-2560.jpg',
                        'src_tablet' :'/img/backgrounds/genplan-street-2560.jpg',
                        'src_desktop':  '/img/backgrounds/genplan-street-2560.jpg',
                        'src_mobile_adress' : '/img/content/adress-mobile.png',
                        'src_mobile_street' : '/img/content/mobile-adress.png',
                        'src_mobile_compass' : '/img/content/compass-mobile.png',
                        'src_tablet_adress' : '/img/content/adress-tablet.png',
                        'src_tablet_street' : '/img/content/tablet-adress.png',
                        'src_tablet_compass' : '/img/content/compass-tablet.png',
                        'src_desktop_adress' : '/img/content/adress-desktop.png',
                        'src_desktop_street' : '/img/content/desktop-adress.png',
                        'src_desktop_compass' : '/img/content/compass-desktop.png'
                    }
            ]}).--genplan.--genplan2
                include ./includes/blocks/tooltip-new.pug
                +tooltip-new-link(({'items':[{
                    'title'      : 'Корпус 2',
                    'text'       : 'Срок ввода 2021 г.',
                    }
                ]})).--genplan.-t1
                +tooltip-new-link(({'items':[{
                    'title'      : 'Корпус 1',
                    'text'       : 'Срок ввода 2020 г.',
                    }
                ]})).--genplan.-t2
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2559 1383" style="enable-background:new 0 0 2559 1383;" xml:space="preserve", preserveAspectRatio="xMidYMin slice")
                    polygon(class="b-floor-select__goto n1" points="635.5,989 598.5,668 609.5,661 627.5,666 641.5,651 660.5,651 691.5,622 709.5,630 726.5,622 742.5,634 747,677.2 862.5,632 924.5,672 933.5,810 1079.2,748.1 1067.5,445 1074.5,435 968.5,372 877.5,401 873.5,307 879.5,300 703.5,193 581.5,232 588.5,242 591.5,252 603.5,359 512.5,390 512.5,358 512.5,352 512.5,346 458.5,309 327.5,350 338.5,374 384.5,691 537.5,1029 	")
                    image(class="b-floor-select__mask n1 js-n" xlink:href="/img/backgrounds/house2.png", height="100%", width="100%", preserveAspectRatio="none")
                    polygon(class="b-floor-select__goto n2" points="1392.5,1254 1404.5,815 1398.5,701 1190.5,574 1087.5,615 1093.5,742 933.5,810 924.5,672 862.5,632 627.5,724 671.5,1135 816.5,1254 	")
                    image(class="b-floor-select__mask n2 js-n" xlink:href="/img/backgrounds/house1.png", height="100%", width="100%", preserveAspectRatio="none")
                

        include ./includes/blocks/request.pug
        +request({'items': [
                {
                    'text': 'По вопросам продажи коммерческой недвижимости обращайтесь по телефону:',
                    'number': '+7 495 132-33-50',
                    'button': 'Оставить заявку'
                }
        ]})

    .section
        .b-container.b-container--commercial
            +b('h2').title.--commercial Продажа коммерческой недвижимости
            .b-options-page__content.b-options-page__content--commercial
                .b-options-page__thead.b-options-page__thead--commercial
                    span Корпус 1
                .b-options-page__filter-flat.b-options-page__filter-flat--commercial(data-target='c1')
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[{
                            'item': 'Корпус',
                            'class': '--mobile --commercial --korpus -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'bodySort'
                        }, {
                            'item': 'Тип',
                            'class': '--commercial --type -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'typeSort'
                        }, {
                            'item': 'Этаж',
                            'class': '--commercial --floor -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'floorSort'
                        }, {
                            'item': 'Площадь',
                            'class': '--commercial --size -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'sizeSort'
                        }, {
                            'item': 'Цена за м²',
                            'class': '--mobile --commercial --price -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'priceSort'
                        }, {
                            'item': 'Стоимость',
                            'class': '--commercial --cost -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'costSort'
                        }
                    ]}).--commercial
                .b-options-page__flat-content.b-options-page__flat-content--line.b-options-page__flat-content--commercial.js-sort-content(data-target='c1')
                    include ./includes/blocks/flat.pug
                    +flat--commercial({'items': [{
                            'korpus': 'Корпус 1',
                            'type': 'B-1-1',
                            'floor': '1',
                            'size': '97,6 м<sup>2</sup>',
                            'price': '155 000 ₽',
                            'cost': '15,7 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '97.6',
                                'priceSort': '155000',
                                'costSort': '15.7',
                                'floorSort': '1',
                                'typeSort': '1.1',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '1',
                            'size': '98,6 м<sup>2</sup>',
                            'price': '156 000 ₽',
                            'cost': '15,6 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '98.6',
                                'priceSort': '156000',
                                'costSort': '15.6',
                                'floorSort': '1',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-3',
                            'floor': '1',
                            'size': '99,6 м<sup>2</sup>',
                            'price': '157 000 ₽',
                            'cost': '15,5 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '99.6',
                                'priceSort': '157000',
                                'costSort': '15.5',
                                'floorSort': '1',
                                'typeSort': '1.3',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-4',
                            'floor': '1',
                            'size': '100,6 м<sup>2</sup>',
                            'price': '158 000 ₽',
                            'cost': '15,4 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '100.6',
                                'priceSort': '159000',
                                'costSort': '15.4',
                                'floorSort': '1',
                                'typeSort': '1.4',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-5',
                            'floor': '1',
                            'size': '101,6 м<sup>2</sup>',
                            'price': '150 000 ₽',
                            'cost': '15,3 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '101.6',
                                'priceSort': '150000',
                                'costSort': '15.3',
                                'floorSort': '1',
                                'typeSort': '1.5',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-6',
                            'floor': '1',
                            'size': '102,6 м<sup>2</sup>',
                            'price': '151 000 ₽',
                            'cost': '15,1 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '102.6',
                                'priceSort': '151000',
                                'costSort': '15.1',
                                'floorSort': '1',
                                'typeSort': '1.6',
                                'bodySort': '1'
                            }
                        }, {
                        'korpus': 'Корпус 2',
                        'type': 'B-1-7',
                        'floor': '5',
                        'size': '97,6 м<sup>2</sup>',
                        'price': '155 000 ₽',
                        'cost': '15,2 млн. ₽',
                        'target':'c2',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '97.6',
                            'priceSort': '155000',
                            'costSort': '15.2',
                            'floorSort': '5',
                            'typeSort': '1.7',
                            'bodySort': '2'
                        }
                    }
                        , {
                            'korpus': 'Корпус 2',
                            'type': 'B-1-8',
                            'floor': '2',
                            'size': '98,6 м<sup>2</sup>',
                            'price': '154 000 ₽',
                            'cost': '15,3 млн. ₽',
                            'target':'c2',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '98.6',
                                'priceSort': '154000',
                                'costSort': '15.3',
                                'floorSort': '2',
                                'typeSort': '1.8',
                                'bodySort': '2'
                            }
                        }
                        ,{
                            'korpus': 'Корпус 2',
                            'type': 'B-1-9',
                            'floor': '7',
                            'size': '99,6 м<sup>2</sup>',
                            'price': '153 000 ₽',
                            'cost': '15,4 млн. ₽',
                            'target':'c2',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '99.6',
                                'priceSort': '153000',
                                'costSort': '15.4',
                                'floorSort': '7',
                                'typeSort': '1.9',
                                'bodySort': '2'
                            }
                        }
                        , {
                            'korpus': 'Корпус 2',
                            'type': 'B-1-8',
                            'floor': '3',
                            'size': '100,6 м<sup>2</sup>',
                            'price': '152 000 ₽',
                            'cost': '15,5 млн. ₽',
                            'target':'c2',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '100.6',
                                'priceSort': '152000',
                                'costSort': '15.5',
                                'floorSort': '3',
                                'typeSort': '1.8',
                                'bodySort': '2'
                            }
                        },
                        {
                            'korpus': 'Корпус 2',
                            'type': 'B-1-7',
                            'floor': '9',
                            'size': '101,6 м<sup>2</sup>',
                            'price': '151 000 ₽',
                            'cost': '15,6 млн. ₽',
                            'target':'c2',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '101.6',
                                'priceSort': '151000',
                                'costSort': '15.6',
                                'floorSort': '9',
                                'typeSort': '1.7',
                                'bodySort': '2'
                            }
                        }
                        , {
                            'korpus': 'Корпус 2',
                            'type': 'B-1-6',
                            'floor': '5',
                            'size': '102,6 м<sup>2</sup>',
                            'price': '150 000 ₽',
                            'cost': '15,7 млн. ₽',
                            'target':'c2',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '102.6',
                                'priceSort': '150000',
                                'costSort': '15.7',
                                'floorSort': '5',
                                'typeSort': '1.6',
                                'bodySort': '2'
                            }
                        }
                    ],target:'c1'}).--line.--commercial.js-sort-item
block page_bottom
    script(src='/js/inner.js')