extends layouts/default_layout
mixin Fitblock(img, width, height, additionalClasses)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            block
block content
    +b.options-page.--genplan.--commercial
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href='javscript:void(0);', title='Назад')
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                        span Назад
                +e.tab-links
                    +e.item
                        +e.tab-link(href='javscript:void(0);', title='На генплане') Коммерческие помещения

    .GenplanSectionsSlider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section.Genplan-sectionCommercial
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 1, 9, 10, 11
                        +Fitblock('/img/sections/K1_1.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include ./includes/svg/k1_1_commercial.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="2") <span>Секция 7, 8 </span>
                        .GenplanSectionsSlider_nav(data-slide="1") <span>Секция 2, 3, 4, 5, 6 </span>
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section.Genplan-sectionCommercial
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 2, 3, 4, 5, 6
                        +Fitblock('/img/sections/k1_3.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include includes/svg/k1_3_commercial.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="0") <span>Секция 1, 9, 10, 11 </span>
                        .GenplanSectionsSlider_nav(data-slide="2") <span>Секция 7, 8 </span>
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section.Genplan-sectionCommercial
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 7, 8
                        +Fitblock('/img/sections/k1_2.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include includes/svg/k1_2_commercial.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="1") <span>Секция 2, 3, 4, 5, 6 </span>
                        .GenplanSectionsSlider_nav(data-slide="0") <span>Секция 1, 9, 10, 11 </span>


    .section.section--commercial
        .b-container.b-container--commercial
            +b('h2').title.--commercial Продажа коммерческой недвижимости
            .b-options-page__content.b-options-page__content--commercial
                .b-options-page__filter-flat.b-options-page__filter-flat--commercial
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[
                            {
                                'item': 'Корпус',
                                'class': '--mobile --commercial --korpus -asc',
                                'link': 'js-sort-link',
                                'target': 'c1',
                                'dataSort': 'bodySort'
                            }, {
                                'item': 'Тип',
                                'class': '--commercial --type -asc',
                                'link': 'js-sort-link',
                                'target': 'c1',
                                'dataSort': 'typeSort'
                            }, {
                                'item': 'Этаж',
                                'class': '--commercial --floor -asc',
                                'link': 'js-sort-link',
                                'target': 'c1',
                                'dataSort': 'floorSort',
                                'ajaxNot': 'true'
                            }, {
                                'item': 'Площадь',
                                'class': '--commercial --size -asc',
                                'link': 'js-sort-link',
                                'target':'c1',
                                'dataSort': 'sizeSort'
                            }, {
                                'item': 'Цена за м²',
                                'class': '--mobile --commercial --price -asc',
                                'link': 'js-sort-link',
                                'target': 'c1',
                                'dataSort': 'priceSort'
                            }, {
                                'item': 'Стоимость',
                                'class': '--commercial --cost -asc',
                                'link': 'js-sort-link',
                                'target': 'c1',
                                'dataSort': 'costSort'
                            }
                        ]}).--commercial
            .b-options-page__flat-content.b-options-page__flat-content--line.b-options-page__flat-content--commercial.js-sort-content.js-sort-first(data-target='c1')
                include ./includes/blocks/flat.pug
                +flat--commercial({'items': [{
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '1',
                        'size': '97,6 м<sup>2</sup>',
                        'price': '156 000 ₽',
                        'cost': '15,1 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '97.6',
                            'priceSort': '156000',
                            'costSort': '15.1',
                            'floorSort': '1',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }, {
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '4',
                        'size': '98,6 м<sup>2</sup>',
                        'price': '155 000 ₽',
                        'cost': '15,2 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '98.6',
                            'priceSort': '155000',
                            'costSort': '15.2',
                            'floorSort': '4',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }, {
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '3',
                        'size': '99,6 м<sup>2</sup>',
                        'price': '154 000 ₽',
                        'cost': '15,3 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '99.6',
                            'priceSort': '154000',
                            'costSort': '15.3',
                            'floorSort': '3',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }, {
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '6',
                        'size': '100,6 м<sup>2</sup>',
                        'price': '153 000 ₽',
                        'cost': '15,4 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '100.6',
                            'priceSort': '153000',
                            'costSort': '15.4',
                            'floorSort': '6',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }, {
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '9',
                        'size': '101,6 м<sup>2</sup>',
                        'price': '152 000 ₽',
                        'cost': '15,5 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '101.6',
                            'priceSort': '152000',
                            'costSort': '15.5',
                            'floorSort': '9',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }, {
                        'korpus': 'Корпус 1',
                        'type': 'B-1-2',
                        'floor': '2',
                        'size': '102,6 м<sup>2</sup>',
                        'price': '151 000 ₽',
                        'cost': '15,6 млн. ₽',
                        'sort': {
                            'sizeSort': 'sizeSort',
                            'priceSort': 'priceSort',
                            'costSort': 'costSort',
                            'floorSort': 'floorSort',
                            'typeSort': 'typeSort',
                            'bodySort': 'bodySort'
                        },
                        'numb': {
                            'sizeSort': '102.6',
                            'priceSort': '151000',
                            'costSort': '15.6',
                            'floorSort': '2',
                            'typeSort': '1.2',
                            'bodySort': '1'
                        }
                    }
                    ],target:'c1'}).--line.--commercial.js-sort-item
block page_bottom
    script(src='/js/inner.js')