extends layouts/default_layout
mixin Fitblock(img, width, height, additionalClasses)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            block
block content
    style#styleMask
    +b.floor-map.--commercial-genplan
        +b.options-page
            +e.top.--commercial-genplan
                .b-container.b-container--options-page
                    +e.back.--commercial-genplan
                        +e.back-link.--commercial-genplan.--commercial-floor Коммерческие  помещения

    .CommercialGalery_counter
        span.Gallery_slideCount
        span.CommercialGalery_counterLine
        span.Gallery_slideSum

    .Gallery-modal.Gallery_slider.CommercialGalery
        .Gallery-wrapper.swiper-container
            .Gallery-slider.swiper-wrapper
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide1")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide2")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide3")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide4")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide5")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")
                .Gallery-slider__item-wrap.swiper-slide(data-hash="slide6")
                    .Gallery-slider__item(style="background-image:url('https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg')")
                        img( src="https://etalonsilver.ru/upload/information_system_3/1/1/4/item_1141/item_1141.jpg" alt="")

            .Gallery-btn.swiper-button-next
            .Gallery-btn.swiper-button-prev

    .Commercial_titleFlats Продажа коммерческой недвижимости

    //-.FullScreenContainer
    .CommercialGenplan
        .Genplan
            +Fitblock('/img/backgrounds/genplan-street-2560.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                .SvgWrap
                    svg.SvgWrap_svg.SvgWrap_svg-genplan(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2559 1383" style="enable-background:new 0 0 2559 1383;" xml:space="preserve", preserveAspectRatio="xMidYMin slice")
                        a.Genplan_polygonLink.Genplan_mask-n1(xlink:href="/house_floor_1.html")
                            g#1
                                polygon(class="Genplan_polygonLink Genplan_mask-n1" points="635.5,989 598.5,668 609.5,661 627.5,666 641.5,651 660.5,651 691.5,622 709.5,630 726.5,622 742.5,634 747,677.2 862.5,632 924.5,672 933.5,810 1079.2,748.1 1067.5,445 1074.5,435 968.5,372 877.5,401 873.5,307 879.5,300 703.5,193 581.5,232 588.5,242 591.5,252 603.5,359 512.5,390 512.5,358 512.5,352 512.5,346 458.5,309 327.5,350 338.5,374 384.5,691 537.5,1029 	")
                        a.Genplan_polygonLink.Genplan_mask-n2(xlink:href="/house_floor_2.html")
                            g#2
                                polygon(class="Genplan_polygonLink Genplan_mask-n2" points="1392.5,1254 1404.5,815 1398.5,701 1190.5,574 1087.5,615 1093.5,742 933.5,810 924.5,672 862.5,632 627.5,724 671.5,1135 816.5,1254 	")

                    //include ./includes/svg/genplan.svg
                a.Genplan_marker.Genplan_mask-n1(style="top:26%;left:25%;" href="#")
                    span.Genplan_markerNum 1 корпус
                    .Genplan_markerRibbon срок ввода 2021 г.
                a.Genplan_marker.Genplan_mask-n2(style="top:50%;left:42%;", href="#")
                    span.Genplan_markerNum 2 Корпус
                    .Genplan_markerRibbon срок ввода 2020 г.
                    .Genplan_start старт продаж
                .Genplan_mask.Genplan_mask-n1(style="background-image:url('/img/backgrounds/house2.png')")
                .Genplan_mask.Genplan_mask-n2(style="background-image:url('/img/backgrounds/house1.png')")

                .Genplan_street.Genplan_street-n1
                .Genplan_street.Genplan_street-n2

                // END: main buildings
            .Compass
            .Genplan_request.Genplan_request-desktop
                .Genplan_requestText По вопросам продажи коммерческой недвижимости обращайтесь по телефону:
                a.Genplan_requestPhone(href="tel:+74951323350") +7 495 132-33-50
                a.Genplan_requestButton(href="") Оставить заявку

    .Genplan_request.Genplan_request-mobile
        .Genplan_requestText По вопросам продажи коммерческой недвижимости обращайтесь по телефону:
        a.Genplan_requestPhone(href="tel:+74951323350") +7 495 132-33-50
        a.Genplan_requestButton(href="") Оставить заявку

    .Commercial
        //-.Commercial_titleFlats Продажа коммерческой недвижимости
        .Commercial_desktop
            .Commercial_table
                .Commercial_tableHead.Sorter
                    .Commercial_col.Commercial_col-house
                        button.Sorter_lbl(type="button" data-val="house") Корпус
                    .Commercial_col.Commercial_col-type
                        button.Sorter_lbl(type="button" data-val="type") Тип
                    .Commercial_col.Commercial_col-floor
                        button.Sorter_lbl(type="button" data-val="floor") Этаж
                    .Commercial_col.Commercial_col-area
                        button.Sorter_lbl(type="button" data-val="area") Площадь
                    .Commercial_col.Commercial_col-price
                        button.Sorter_lbl(type="button" data-val="price") Цена за м<sup>2</sup>
                    .Commercial_col.Commercial_col-cost
                        button.Sorter_lbl(type="button" data-val="cost") Стоимость
                    //-.Commercial_col.Commercial_col-plan
                        button.Sorter_lbl(type="button" data-val="plan") Планировка
                .Commercial_tableBody
                    .Commercial_row
                        a.Commercial_rowLink(href="#" data-house="1")
                        .Commercial_col.Commercial_col-house
                            span.Commercial_col-houseInner 1
                        .Commercial_col.Commercial_col-type B-1-2
                        .Commercial_col.Commercial_col-floor 1 <span>этаж</span>
                        .Commercial_col.Commercial_col-area 96.6 м<sup>2</sup>
                        .Commercial_col.Commercial_col-price 155 000 ₽
                        .Commercial_col.Commercial_col-cost 150,5 млн ₽
                        //-.Commercial_col.Commercial_col-plan
                            a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
                    .Commercial_row
                        a.Commercial_rowLink(href="#" data-house="2")
                        .Commercial_col.Commercial_col-house
                            span.Commercial_col-houseInner 2
                        .Commercial_col.Commercial_col-type B-2-2
                        .Commercial_col.Commercial_col-floor 2 <span>этаж</span>
                        .Commercial_col.Commercial_col-area 100.6 м<sup>2</sup>
                        .Commercial_col.Commercial_col-price 255 000 ₽
                        .Commercial_col.Commercial_col-cost 250,5 млн ₽
                        //-.Commercial_col.Commercial_col-plan
                            a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
                    .Commercial_row
                        a.Commercial_rowLink(href="#" data-house="3")
                        .Commercial_col.Commercial_col-house
                            span.Commercial_col-houseInner 3
                        .Commercial_col.Commercial_col-type B-3-2
                        .Commercial_col.Commercial_col-floor 3 <span>этаж</span>
                        .Commercial_col.Commercial_col-area 200.6 м<sup>2</sup>
                        .Commercial_col.Commercial_col-price 355 000 ₽
                        .Commercial_col.Commercial_col-cost 350,5 млн ₽
                        //-.Commercial_col.Commercial_col-plan
                            a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
                    .Commercial_row
                        a.Commercial_rowLink(href="#" data-house="4")
                        .Commercial_col.Commercial_col-house
                            span.Commercial_col-houseInner 4
                        .Commercial_col.Commercial_col-type B-4-2
                        .Commercial_col.Commercial_col-floor 4 <span>этаж</span>
                        .Commercial_col.Commercial_col-area 400.6 м<sup>2</sup>
                        .Commercial_col.Commercial_col-price 455 000 ₽
                        .Commercial_col.Commercial_col-cost 450,5 млн ₽
                        //-.Commercial_col.Commercial_col-plan
                            a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
                    .Commercial_row
                        a.Commercial_rowLink(href="#" data-house="1")
                        .Commercial_col.Commercial_col-house
                            span.Commercial_col-houseInner 1
                        .Commercial_col.Commercial_col-type B-5-2
                        .Commercial_col.Commercial_col-floor 5 <span>этаж</span>
                        .Commercial_col.Commercial_col-area 500.6 м<sup>2</sup>
                        .Commercial_col.Commercial_col-price 555 000 ₽
                        .Commercial_col.Commercial_col-cost 550,5 млн ₽
                        //-.Commercial_col.Commercial_col-plan
                            a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg

        .Commercial_mobile
          .Commercial_titleHouseMobile Корпус 1
           .Commercial_table
               .Commercial_tableHead.Sorter
                   .Commercial_col.Commercial_col-house
                       button.Sorter_lbl(type="button" data-val="house") Корпус
                   .Commercial_col.Commercial_col-type
                       button.Sorter_lbl(type="button" data-val="type") Тип
                   .Commercial_col.Commercial_col-floor
                       button.Sorter_lbl(type="button" data-val="floor") Этаж
                   .Commercial_col.Commercial_col-area
                       button.Sorter_lbl(type="button" data-val="area") Площадь
                   .Commercial_col.Commercial_col-price
                       button.Sorter_lbl(type="button" data-val="price") Цена за м<sup>2</sup>
                   .Commercial_col.Commercial_col-cost
                       button.Sorter_lbl(type="button" data-val="cost") Стоимость
                   //-.Commercial_col.Commercial_col-plan
                       button.Sorter_lbl(type="button" data-val="plan") Планировка
               .Commercial_tableBody
                   .Commercial_row
                       a.Commercial_rowLink(href="#" data-house="1")
                       .Commercial_col.Commercial_col-house Корпус 1
                       .Commercial_col.Commercial_col-type B-1-2
                       .Commercial_col.Commercial_col-floor 1 <span>этаж</span>
                       .Commercial_col.Commercial_col-area 96.6 м<sup>2</sup>
                       .Commercial_col.Commercial_col-price 155 000 ₽
                       .Commercial_col.Commercial_col-cost 150,5 млн ₽
                       //-.Commercial_col.Commercial_col-plan
                           a(href="#").Commercial_col-planLink
                               include includes/svg/icon_download_comercialPlan.svg
                   .Commercial_row
                       a.Commercial_rowLink(href="#" data-house="1")
                       .Commercial_col.Commercial_col-house Корпус 1
                       .Commercial_col.Commercial_col-type B-5-2
                       .Commercial_col.Commercial_col-floor 5 <span>этаж</span>
                       .Commercial_col.Commercial_col-area 500.6 м<sup>2</sup>
                       .Commercial_col.Commercial_col-price 555 000 ₽
                       .Commercial_col.Commercial_col-cost 550,5 млн ₽
                       //-.Commercial_col.Commercial_col-plan
                           a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
           .Commercial_titleHouseMobile Корпус 2
           .Commercial_table
               .Commercial_tableHead.Sorter
                   .Commercial_col.Commercial_col-house
                       button.Sorter_lbl(type="button" data-val="house") Корпус
                   .Commercial_col.Commercial_col-type
                       button.Sorter_lbl(type="button" data-val="type") Тип
                   .Commercial_col.Commercial_col-floor
                       button.Sorter_lbl(type="button" data-val="floor") Этаж
                   .Commercial_col.Commercial_col-area
                       button.Sorter_lbl(type="button" data-val="area") Площадь
                   .Commercial_col.Commercial_col-price
                       button.Sorter_lbl(type="button" data-val="price") Цена за м<sup>2</sup>
                   .Commercial_col.Commercial_col-cost
                       button.Sorter_lbl(type="button" data-val="cost") Стоимость
                   //-.Commercial_col.Commercial_col-plan
                       button.Sorter_lbl(type="button" data-val="plan") Планировка
               .Commercial_tableBody
                   .Commercial_row
                       a.Commercial_rowLink(href="#" data-house="2")
                       .Commercial_col.Commercial_col-house Корпус 2
                       .Commercial_col.Commercial_col-type B-2-2
                       .Commercial_col.Commercial_col-floor 2 <span>этаж</span>
                       .Commercial_col.Commercial_col-area 100.6 м<sup>2</sup>
                       .Commercial_col.Commercial_col-price 255 000 ₽
                       .Commercial_col.Commercial_col-cost 250,5 млн ₽
                       //-.Commercial_col.Commercial_col-plan
                           a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
           .Commercial_titleHouseMobile Корпус 3
           .Commercial_table
               .Commercial_tableHead.Sorter
                   .Commercial_col.Commercial_col-house
                       button.Sorter_lbl(type="button" data-val="house") Корпус
                   .Commercial_col.Commercial_col-type
                       button.Sorter_lbl(type="button" data-val="type") Тип
                   .Commercial_col.Commercial_col-floor
                       button.Sorter_lbl(type="button" data-val="floor") Этаж
                   .Commercial_col.Commercial_col-area
                       button.Sorter_lbl(type="button" data-val="area") Площадь
                   .Commercial_col.Commercial_col-price
                       button.Sorter_lbl(type="button" data-val="price") Цена за м<sup>2</sup>
                   .Commercial_col.Commercial_col-cost
                       button.Sorter_lbl(type="button" data-val="cost") Стоимость
                   //-.Commercial_col.Commercial_col-plan
                       button.Sorter_lbl(type="button" data-val="plan") Планировка
               .Commercial_tableBody
                   .Commercial_row
                       a.Commercial_rowLink(href="#" data-house="3")
                       .Commercial_col.Commercial_col-house Корпус 3
                       .Commercial_col.Commercial_col-type B-3-2
                       .Commercial_col.Commercial_col-floor 3 <span>этаж</span>
                       .Commercial_col.Commercial_col-area 200.6 м<sup>2</sup>
                       .Commercial_col.Commercial_col-price 355 000 ₽
                       .Commercial_col.Commercial_col-cost 350,5 млн ₽
                       //-.Commercial_col.Commercial_col-plan
                           a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg
           .Commercial_titleHouseMobile Корпус 4
           .Commercial_table
               .Commercial_tableHead.Sorter
                   .Commercial_col.Commercial_col-house
                       button.Sorter_lbl(type="button" data-val="house") Корпус
                   .Commercial_col.Commercial_col-type
                       button.Sorter_lbl(type="button" data-val="type") Тип
                   .Commercial_col.Commercial_col-floor
                       button.Sorter_lbl(type="button" data-val="floor") Этаж
                   .Commercial_col.Commercial_col-area
                       button.Sorter_lbl(type="button" data-val="area") Площадь
                   .Commercial_col.Commercial_col-price
                       button.Sorter_lbl(type="button" data-val="price") Цена за м<sup>2</sup>
                   .Commercial_col.Commercial_col-cost
                       button.Sorter_lbl(type="button" data-val="cost") Стоимость
                   //-.Commercial_col.Commercial_col-plan
                       button.Sorter_lbl(type="button" data-val="plan") Планировка
               .Commercial_tableBody
                   .Commercial_row
                       a.Commercial_rowLink(href="#" data-house="4")
                       .Commercial_col.Commercial_col-house Корпус 4
                       .Commercial_col.Commercial_col-type B-4-2
                       .Commercial_col.Commercial_col-floor 4 <span>этаж</span>
                       .Commercial_col.Commercial_col-area 400.6 м<sup>2</sup>
                       .Commercial_col.Commercial_col-price 455 000 ₽
                       .Commercial_col.Commercial_col-cost 450,5 млн ₽
                       //-.Commercial_col.Commercial_col-plan
                           a(href="#").Commercial_col-planLink
                                include includes/svg/icon_download_comercialPlan.svg

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/gallery-slider.js")
    script(src="/js/genplan.js")
