extends layouts/default_layout
block content
    +b.options-page.--genplan.--commercial
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href='javscript:void(0);', title='Назад')
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                        span Назад
                +e.tab-links
                    +e.item
                        +e.tab-link(href='javscript:void(0);', title='На генплане') Коммерческие помещения
    include ./includes/blocks/floor-select.pug
    +floor-select--commercial({'items': [
            {
                'prev_section': 'Секции 9, 8, 7',
                'next_section': 'Секции 3, 2, 1',
                'title': 'Корп. 1',
                'titlebig': 'Корпус 1',
                'arrow_prev'    :    'javscript:void(0);',
                'arrow_next'    :    'javscript:void(0);',
                'src_mobile' : '/img/backgrounds/commercial-mobile.png',
                'src_tablet' :'/img/backgrounds/commercial-tablet.png',
                'src_desktop' :'/img/backgrounds/commercial-desktop.jpg',
                'prev_unit'    :    'Секция 2',
                'prev'    :    'javscript:void(0);',
                'next' : 'javscript:void(0);',
                'selected' :    'Секция 3',
                'next_unit' : 'Секция 4',
                'onlydesktop': true
            }
    ]}).--commercial
        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 1920 1033" style="enable-background:new 0 0 1920 1033;" xml:space="preserve" preserveAspectRatio="xMidYMin slice")
            style(type='text/css').
                .st0{opacity:0.5;fill:#FFFFFF;}
                .st1{opacity:0;}
            polygon.b-floor-select__poly.st1.js-sweet-home(points="943.5,930.8 944,0 1752,0 1749.5,911.8 1482.5,928.8 ")
            image.b-floor-select__image-svg.js-n-com( width="100%" height="100%" xlink:href="/img/backgrounds/house-section.png" style="pointer-events: none;" transform="matrix(1 0 0 1 -1 0)" preserveAspectRatio="none")
            polygon.st0.b-floor-select__goto.js-pin-mouse(points="943.5,930.8 943.5,804.8 1482.5,774.8 1750.5,798.8 1749.5,911.8 1482.5,928.8 " data-location="/floor-map-commercial.html" data-row1="3:Помещения в продаже" data-row2="3:секции" data-row3="1:Этаж")

        include ./includes/blocks/tooltip-comercial.pug
        +tooltip-comercial(({'items':[{
                    'number_text'      : '3',
                    'text'       : 'Помещения в продаже',
                    'number_section'    :   '3',
                    'section'   : 'Секция',
                    'number_floor'  :   '1',
                    'floor' :   'Этаж'
                }
        ]})).js-genpaln-toolip
    .section.section--commercial
        .b-container.b-container--commercial
            +b('h2').title.--commercial Продажа коммерческой недвижимости
            .b-options-page__content.b-options-page__content--commercial
                .b-options-page__filter-flat.b-options-page__filter-flat--commercial
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[
                        {
                            'item': 'Корпус',
                            'class': '--mobile --commercial --korpus -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'bodySort'
                        }, {
                            'item': 'Тип',
                            'class': '--commercial --type -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'typeSort'
                        }, {
                            'item': 'Этаж',
                            'class': '--commercial --floor -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'floorSort',
                            'ajaxNot': 'true'
                        }, {
                            'item': 'Площадь',
                            'class': '--commercial --size -asc',
                            'link': 'js-sort-link',
                            'target':'c1',
                            'dataSort': 'sizeSort'
                        }, {
                            'item': 'Цена за м²',
                            'class': '--mobile --commercial --price -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'priceSort'
                        }, {
                            'item': 'Стоимость',
                            'class': '--commercial --cost -asc',
                            'link': 'js-sort-link',
                            'target': 'c1',
                            'dataSort': 'costSort'
                        }
                    ]}).--commercial
                .b-options-page__flat-content.b-options-page__flat-content--line.b-options-page__flat-content--commercial.js-sort-content.js-sort-first(data-target='c1')
                    include ./includes/blocks/flat.pug
                    +flat--commercial({'items': [{
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '1',
                            'size': '97,6 м<sup>2</sup>',
                            'price': '156 000 ₽',
                            'cost': '15,1 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '97.6',
                                'priceSort': '156000',
                                'costSort': '15.1',
                                'floorSort': '1',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '4',
                            'size': '98,6 м<sup>2</sup>',
                            'price': '155 000 ₽',
                            'cost': '15,2 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '98.6',
                                'priceSort': '155000',
                                'costSort': '15.2',
                                'floorSort': '4',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '3',
                            'size': '99,6 м<sup>2</sup>',
                            'price': '154 000 ₽',
                            'cost': '15,3 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '99.6',
                                'priceSort': '154000',
                                'costSort': '15.3',
                                'floorSort': '3',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '6',
                            'size': '100,6 м<sup>2</sup>',
                            'price': '153 000 ₽',
                            'cost': '15,4 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '100.6',
                                'priceSort': '153000',
                                'costSort': '15.4',
                                'floorSort': '6',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '9',
                            'size': '101,6 м<sup>2</sup>',
                            'price': '152 000 ₽',
                            'cost': '15,5 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '101.6',
                                'priceSort': '152000',
                                'costSort': '15.5',
                                'floorSort': '9',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }, {
                            'korpus': 'Корпус 1',
                            'type': 'B-1-2',
                            'floor': '2',
                            'size': '102,6 м<sup>2</sup>',
                            'price': '151 000 ₽',
                            'cost': '15,6 млн. ₽',
                            'sort': {
                                'sizeSort': 'sizeSort',
                                'priceSort': 'priceSort',
                                'costSort': 'costSort',
                                'floorSort': 'floorSort',
                                'typeSort': 'typeSort',
                                'bodySort': 'bodySort'
                            },
                            'numb': {
                                'sizeSort': '102.6',
                                'priceSort': '151000',
                                'costSort': '15.6',
                                'floorSort': '2',
                                'typeSort': '1.2',
                                'bodySort': '1'
                            }
                        }
                    ],target:'c1'}).--line.--commercial.js-sort-item
block page_bottom
    script(src='/js/inner.js')