extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
    .b-contacts_wrap
        .dropdown-wrap
            .b-contacts-mob.dropdown(data-dropdown)
                a.dropdown__btn(href='#', id='dLabel', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Офис продаж
                ul.dropdown-menu(aria-labelledby='dLabel')
                    li.dropdown-menu__item
                        a(href="#").dropdown-menu__link._active Офис продаж
                    li.dropdown-menu__item
                        a(href="#").dropdown-menu__link ОФИС ГРУППЫ «ЭТАЛОН»
                    li.dropdown-menu__item
                        a(href="#").dropdown-menu__link Отдел обслуживания
                    li.dropdown-menu__item
                        a(href="#").dropdown-menu__link Офисы продаж в регионах
                    li.dropdown-menu__item
                        a(href="#").dropdown-menu__link(data-contacts-team-btn) Команда проекта

            .b-contacts-mob-blocks
                .b-contacts-mob-blocks__item#contacts-mob_1(data-map='{"position": [55.809621, 37.649130], "title": "Офис продаж", "icon" : {"url" : "/img/icons/map-pin-sf.svg", "size" : [119, 122]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item ул. Новоалексеевская, д. 16, стр. 10
                        li.b-contacts-info__item
                            span.metro «Алексеевская»
                        li.b-contacts-info__item пн. - вс. 09:00 - 21:00
                        li.b-contacts-info__item
                            a.route(href='https://etalonsilver.ru/navigator/', target='_blank') Проложить маршрут
                .b-contacts-mob-blocks__item#contacts-mob_2(data-map='{"position": [55.770914164711, 37.622942415344], "title": "ОФИС ГРУППЫ «ЭТАЛОН»", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item 127051, Москва, Цветной бульвар, д. 22, стр.1
                        li.b-contacts-info__item
                            span.metro «Цветной бульвар»
                        li.b-contacts-info__item
                            | пн. - пт. - 9:00 - 20:00
                            br
                            | сб. - 10:00 - 19:00
                            br
                            | вс. - выходной
                .b-contacts-mob-blocks__item#contacts-mob_3(data-map='{"position": [55.772454975059, 37.622504261902], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item
                            | 127051, Москва, Цветной бульвар,
                            br
                            | Деловой центр «Цветной 30»
                            br
                            | (Группа «Эталон»)
                        li.b-contacts-info__item
                            span.metro «Цветной бульвар»
                        li.b-contacts-info__item
                            | пн. - пт. - 9:00 - 20:00
                            br
                            | сб. - 10:00 - 19:00
                            br
                            | вс. - выходной
                .b-contacts-mob-blocks__item#contacts-mob_4(data-map='{"position": [61.484317, 98.179034], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}, "zoom": 3}')
                    ul.b-contacts-regions
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [64.546800, 40.519365], "title": "Архангельск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Архангельск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Архангельске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 163000, г. Архангельск, ул. Попова, д. 14, офис 226
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 8182 200-345
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [56.836300, 60.614530], "title": "Екатеринбург",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Екатеринбург
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Екатеринбурге
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 620075, Россия, г. Екатеринбург, БЦ «Высоцкий»,  улица Малышева, дом 51, офис 14/01
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 343 385-66-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [52.271573, 104.318391], "title": "Иркутск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Иркутск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Иркутске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 664047, г. Иркутск, ул. Трудовая, д.60, офис 111
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3952 488-600
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [45.037234, 38.975710], "title": "Краснодар", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Краснодар
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Краснодаре
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 350000, г. Краснодар, ул. Красная, д. 154, офис 204
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 861 298-05-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [59.567530, 150.809368], "title": "Магадан", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Магадан
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Магадане
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 685000, г. Магадан, гостиница «Магадан», ул. Пролетарская, д.8, офис 323
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4132 607-437
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [68.969910, 33.072629], "title": "Мурманск", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Мурманск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Мурманске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 183038, г. Мурманск, Конгресс – Отель «Меридиан»,  ул. Воровского, 5/23, офис 545
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 8152 288-920
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [60.940009, 76.556044], "title": "Нижневартовск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Нижневартовск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Нижневартовске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 628616, г. Нижневартовск, ул. Ленина, д.5, оф. 220
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3466 491-888, 491-970
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [66.081283, 76.670424], "title": "Новый Уренгой",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Новый Уренгой
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Новом Уренгое
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 629300, г. Новый Уренгой, ул. Юбилейная, д.5, блок 4, 1 этаж. (Центральный вход)
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3494 92-55-77
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [69.354795, 88.186696], "title": "Норильск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Норильск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Норильске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 663300, Красноярский край, г. Норильск,  пр-т Ленинский, д. 39, корп. 1, пом 103
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3919 48-19-00
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [53.055092, 158.639205], "title": "Петропавловск-Камчатский",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Петропавловск-Камчатский
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Петропавловск-Камчатском
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4152 26-00-36
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [61.254685, 73.386272], "title": "Сургут", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Сургут
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Сургуте
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 628415, г. Сургут, проспект Ленина, д. 41, ТЦ «МИР», 3 этаж
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3462 951-200
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [48.469001, 135.063317], "title": "Хабаровск", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Хабаровск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Хабаровске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 680000, г. Хабаровск, ул. Тургенева, дом 46, офис 102
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4212 41-51-25, 413-100
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [46.958210, 142.730846], "title": "Южно-Сахалинск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Южно-Сахалинск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Южно-Сахалинске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 693000, г. Южно-Сахалинск, Коммунистический проспект 49,  офис 301
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4242 22-46-39, факс 22-48-17
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [62.029660, 129.727903], "title": "Якутск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Якутск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Якутске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 677027, г. Якутск, ул. Кирова, д.18, корп. В, офис 1202
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4112 50-05-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [62.029660, 129.727903], "title": "Владивосток",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Владивосток
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство во Владивостоке
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 690014, г. Владивосток, бизнес-центр «Pacific Ocean», офис 404, улица Некрасовская, дом 36Б, этаж 4.
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 423 243-25-88

                .b-contacts-mob-blocks__item#contacts-mob_5(data-contacts-team-content, data-map='{"position": [55.809621, 37.649130], "title": "Офис продаж", "icon" : {"url" : "/img/icons/map-pin-sf.svg", "size" : [119, 122]}}')
                    .contacts-team
                        - var commands = [{img: 'no_foto_w.svg', name: 'Постникова Елена', email: 'elena.postnikova@etalongroup.com'},{img: 'no_foto_w.svg', name: 'Сулихан Людмила', email: 'Lyudmila.Sulikhan@etalongroup.com'},{img: 'no_foto_m.svg', name: 'Обухов Михаил', email: 'sergey.yurlov@etalongroup.com'},{img: 'no_foto_w.svg', name: 'Зеленова Алина', email: 'alina.zelenova@etalongroup.com'},{img: 'no_foto_m.svg', name: 'Русанов Артём', email: 'artem.rusanov@etalongroup.com'}];
                        for command in commands
                            .contacts-team-item
                                .contacts-team-item__img
                                    img(src='img/team/' + command.img + '' alt="")
                                .contacts-team-item__txt
                                    .contacts-team-item__name= command.name
                                    a(href='mailto:' + command.email + '').contacts-team-item__mail= command.email
        #accordion.b-contacts-list
            .b-contacts-list__item.panel
                a.b-contacts-list__tlt.collapsed(data-parent='#accordion', data-toggle='collapse', href='#contacts_1') Офис продаж
                #contacts_1.panel-collapse.collapse(data-map='{"position": [55.809621, 37.649130], "title": "Офис продаж", "icon" : {"url" : "/img/icons/map-pin-sf.svg", "size" : [119, 122]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item ул. Новоалексеевская, д. 16, стр. 10
                        li.b-contacts-info__item
                            span.metro «Алексеевская»
                        li.b-contacts-info__item пн. - вс. 09:00 - 21:00
                        li.b-contacts-info__item
                            a.route(href='https://etalonsilver.ru/navigator/', target='_blank') Проложить маршрут
            .b-contacts-list__item.panel
                a.b-contacts-list__tlt.collapsed(data-parent='#accordion', data-toggle='collapse', href='#contacts_2') ОФИС ГРУППЫ «ЭТАЛОН»
                #contacts_2.panel-collapse.collapse(data-map='{"position": [55.770914164711, 37.622942415344], "title": "ОФИС ГРУППЫ «ЭТАЛОН»", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item 127051, Москва, Цветной бульвар, д. 22, стр.1
                        li.b-contacts-info__item
                            span.metro._gray «Цветной бульвар»
                        li.b-contacts-info__item
                            | пн. - пт. - 9:00 - 20:00
                            br
                            | сб. - 10:00 - 19:00
                            br
                            | вс. - выходной
            .b-contacts-list__item.panel
                a.b-contacts-list__tlt.collapsed(data-parent='#accordion', data-toggle='collapse', href='#contacts_3') Отдел постпродажного обслуживания
                #contacts_3.panel-collapse.collapse(data-map='{"position": [55.772454975059, 37.622504261902], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}}')
                    ul.b-contacts-info
                        li.b-contacts-info__item
                            span.phone +7 (495) 324-93-74
                        li.b-contacts-info__item
                            | 127051, Москва, Цветной бульвар,
                            br
                            | Деловой центр «Цветной 30»
                            br
                            | (Группа «Эталон»)
                        li.b-contacts-info__item
                            span.metro._gray «Цветной бульвар»
                        li.b-contacts-info__item
                            | пн. - пт. - 9:00 - 20:00
                            br
                            | сб. - 10:00 - 19:00
                            br
                            | вс. - выходной
            .b-contacts-list__item.panel
                a.b-contacts-list__tlt.collapsed(data-parent='#accordion', data-toggle='collapse', href='#contacts_4') Офисы продаж в регионах
                #contacts_4.panel-collapse.collapse(data-map='{"position": [61.484317, 98.179034], "title": "Отдел постпродажного обслуживания", "icon" : {"url" : "/img/icons/map-pin-sf-2.svg", "size" : [216, 101]}, "zoom": 3}')
                    ul.b-contacts-regions
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [64.546800, 40.519365], "title": "Архангельск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Архангельск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Архангельске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 163000, г. Архангельск, ул. Попова, д. 14, офис 226
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 8182 200-345
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [56.836300, 60.614530], "title": "Екатеринбург",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Екатеринбург
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Екатеринбурге
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 620075, Россия, г. Екатеринбург, БЦ «Высоцкий»,  улица Малышева, дом 51, офис 14/01
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 343 385-66-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [52.271573, 104.318391], "title": "Иркутск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Иркутск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Иркутске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 664047, г. Иркутск, ул. Трудовая, д.60, офис 111
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3952 488-600
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [45.037234, 38.975710], "title": "Краснодар", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Краснодар
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Краснодаре
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 350000, г. Краснодар, ул. Красная, д. 154, офис 204
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 861 298-05-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [59.567530, 150.809368], "title": "Магадан", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Магадан
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Магадане
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 685000, г. Магадан, гостиница «Магадан», ул. Пролетарская, д.8, офис 323
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4132 607-437
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [68.969910, 33.072629], "title": "Мурманск", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Мурманск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Мурманске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 183038, г. Мурманск, Конгресс – Отель «Меридиан»,  ул. Воровского, 5/23, офис 545
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 8152 288-920
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [60.940009, 76.556044], "title": "Нижневартовск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Нижневартовск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Нижневартовске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 628616, г. Нижневартовск, ул. Ленина, д.5, оф. 220
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3466 491-888, 491-970
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [66.081283, 76.670424], "title": "Новый Уренгой",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Новый Уренгой
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Новом Уренгое
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 629300, г. Новый Уренгой, ул. Юбилейная, д.5, блок 4, 1 этаж. (Центральный вход)
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3494 92-55-77
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [69.354795, 88.186696], "title": "Норильск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Норильск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Норильске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 663300, Красноярский край, г. Норильск,  пр-т Ленинский, д. 39, корп. 1, пом 103
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3919 48-19-00
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [53.055092, 158.639205], "title": "Петропавловск-Камчатский",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Петропавловск-Камчатский
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Петропавловск-Камчатском
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4152 26-00-36
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [61.254685, 73.386272], "title": "Сургут", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Сургут
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Сургуте
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 628415, г. Сургут, проспект Ленина, д. 41, ТЦ «МИР», 3 этаж
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 3462 951-200
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [48.469001, 135.063317], "title": "Хабаровск", "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Хабаровск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Хабаровске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 680000, г. Хабаровск, ул. Тургенева, дом 46, офис 102
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4212 41-51-25, 413-100
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [46.958210, 142.730846], "title": "Южно-Сахалинск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Южно-Сахалинск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Южно-Сахалинске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 693000, г. Южно-Сахалинск, Коммунистический проспект 49,  офис 301
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4242 22-46-39, факс 22-48-17
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [62.029660, 129.727903], "title": "Якутск",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Якутск
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство в Якутске
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem 677027, г. Якутск, ул. Кирова, д.18, корп. В, офис 1202
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 4112 50-05-25
                        li.b-contacts-regions__item
                            a(href='#', data-map-regions='{"position": [62.029660, 129.727903], "title": "Владивосток",  "icon" : {"url" : "/img/icons/map-pin-sf-3.svg", "size" : [37, 46]}}')
                                | Владивосток
                                template
                                    .b-marker-bubble
                                        .b-marker-bubble__inner
                                            h5.b-marker-bubble__header Представительство во Владивостоке
                                            dl.dl-horizontal.b-marker-buble__detlist
                                                dt.b-marker-bubble__label Aдрес:
                                                dd.b-marker-bubble__infoitem
                                                    | 690014, г. Владивосток, бизнес-центр «Pacific Ocean», офис 404, улица Некрасовская, дом 36Б, этаж 4.
                                                dt.b-marker-bubble__label Тел.:
                                                dd.b-marker-bubble__infoitem +7 423 243-25-88
            .b-contacts-list__item.panel
                a.b-contacts-list__tlt.collapsed(data-parent='#accordion', data-toggle='collapse', href='#contacts_5') Команда проекта
                #contacts_5.panel-collapse.collapse(data-map='{"position": [55.809621, 37.649130], "title": "Офис продаж", "icon" : {"url" : "/img/icons/map-pin-sf.svg", "size" : [119, 122]}}')
                    .contacts-team
                        for command in commands
                            .contacts-team-item
                                .contacts-team-item__img
                                    img(src='img/team/' + command.img +'' alt="")
                                .contacts-team-item__txt
                                    .contacts-team-item__name= command.name
                                    a(href='mailto:' + command.email + '').contacts-team-item__mail= command.email

        .b-contacts-map-wrapper
            #map.map

block page_bottom
    script(src="/js/contacts.js")