extends layouts/default_layout
block vars
    - var page = "diary-photo";
block content
    +b.options-page.--diary
        +e.top
            .b-container.b-container--options-page.b-container--diary
                +e.back
                    +e.back-link Ход строительства
                +e.tab-links
                    +e.item
                        +e.tab-link.-active(href="javscript:void(0);", title="Фотографии") Фотографии
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="Видео") Видео
                +e.online.js-popup-link(data-target-popup="camera", data-popup-event="popup.link")
                    +e.online-link(href="javascript:void(0);", title="Смотреть веб-камеру")
                        +e("svg").svg(xmlns='http://www.w3.org/2000/svg', width='18', height='22', viewBox='0 0 18 22')
                            path(fill='#FFF', fill-rule='nonzero', d='M9 18A9 9 0 1 1 9 0a9 9 0 0 1 0 18zm0-2A7 7 0 1 0 9 2a7 7 0 0 0 0 14zm0-4a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm2.904 4.663l1.748-1.149 2.222 4.73c.37.788-.112 1.756-.874 1.756H3c-.724 0-1.208-.88-.914-1.662l1.778-4.73 1.828.96-1.153 3.067H13.3l-1.396-2.972z')
                        | Смотреть веб-камеру
                    .b-mortgage-bank__about.b-mortgage-bank__about--construction.js-accordion-height.js-popup-block(data-popup-id='camera', style='')
                        .b-mortgage-bank__about-block.b-mortgage-bank__about-block--construction.js-popup-in
                            a.b-mortgage-bank__close.b-mortgage-bank__close--construction.js-popup-close(href='javascript:void(0);', title='', data-popup-event='popup.close')
                                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20")
                                    path(d="M10 8.498L18.498 0 20 1.502 11.502 10 20 18.498 18.498 20 10 11.502 1.502 20 0 18.498 8.498 10 0 1.502 1.502 0 10 8.498z")
                            +b.diary-popup
                                +e.video-block.js-diary-video-popup
                                    +e.item
                                        +e.item-inner(data-url="https://www.youtube-nocookie.com/embed/ZyeMEbzU65s?controls=0")
                                            iframe(width="100%" height="100%" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                                    +e.item
                                        +e.item-inner(data-url="https://www.youtube-nocookie.com/embed/EI0uaFgS9s8?controls=0")
                                            iframe(width="100%" height="100%" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                                    
    +b.diary
        include ./includes/blocks/slider-date.pug
        +slider-date({'items':[
            {
                "class": "-disabled",
                "date": "01-2016",
                "year":"2016",
                "mounth": "Январь"
            },{
                "class": "-disabled",
                "date": "02-2016",
                "mounth": "Февраль"
            },{
                "class": "-disabled",
                "date": "03-2016",
                "mounth": "Март"
            },{
                "class": "-disabled",
                "date": "04-2016",
                "mounth": "Апрель"
            },{
                "class": "-disabled",
                "date": "05-2016",
                "mounth": "Май"
            },{
                "class": "-disabled",
                "date": "06-2016",
                "mounth": "Июнь"
            },{
                "class": "-disabled",
                "date": "07-2016",
                "mounth": "Июль"
            },{
                "class": "-disabled",
                "date": "08-2016",
                "mounth": "Август"
            },{
                "class": "-disabled",
                "date": "09-2016",
                "mounth": "Сентябрь"
            },{
                "class": "-disabled",
                "date": "10-2016",
                "mounth": "Октябрь"
            },{
                "class": "-disabled",
                "date": "11-2016",
                "mounth": "Ноябрь"
            },{
                "class": "-disabled",
                "date": "12-2016",
                "mounth": "Декабрь"
            },{
                "date": "01-2017",
                "mounth": "Январь",
                "year":"2017",
            },{
                "date": "02-2017",
                "mounth": "Февраль"
            },{
                "date": "03-2017",
                "mounth": "Март"
            },{
                "date": "04-2017",
                "mounth": "Апрель"
            },{
                "date": "05-2017",
                "mounth": "Май"
            },{
                "date": "06-2017",
                "mounth": "Июнь"
            },{
                "date": "07-2017",
                "mounth": "Июль"
            },{
                "date": "08-2017",
                "mounth": "Август"
            },{
                "date": "09-2017",
                "mounth": "Сентябрь"
            },{
                "date": "10-2017",
                "mounth": "Октябрь"
            },{
                "date": "11-2017",
                "mounth": "Ноябрь"
            },{
                "date": "12-2017",
                "mounth": "Декабрь"
            },{
                "date": "01-2018",
                "mounth": "Январь",
                "year":"2018",
            },{
                "date": "02-2018",
                "mounth": "Февраль"
            },{
                "date": "03-2018",
                "mounth": "Март"
            },{
                "date": "04-2018",
                "mounth": "Апрель"
            },{
                "date": "05-2018",
                "mounth": "Май"
            },{
                "date": "06-2018",
                "mounth": "Июнь"
            },{
                "date": "07-2018",
                "mounth": "Июль"
            },{
                "date": "08-2018",
                "class": "-disabled",
                "mounth": "Август"
            },{
                "date": "09-2018",
                "class": "-disabled",
                "mounth": "Сентябрь"
            },{
                "date": "10-2018",
                "class": "-disabled",
                "mounth": "Октябрь"
            },{
                "date": "11-2018",
                "class": "-disabled",
                "mounth": "Ноябрь"
            },{
                "date": "12-2018",
                "class": "-disabled",
                "mounth": "Декабрь"
            },{
                "class": "-disabled",
                "date": "01-2019",
                "mounth": "Январь",
                "year":"2019",
            },{
                "class": "-disabled",
                "mounth": "Февраль"
            },{
                "class": "-disabled",
                "mounth": "Март"
            },{
                "class": "-disabled",
                "mounth": "Апрель"
            },{
                "class": "-disabled",
                "mounth": "Май"
            },{
                "class": "-disabled",
                "mounth": "Июнь"
            },{
                "class": "-disabled",
                "mounth": "Июль"
            },{
                "class": "-disabled",
                "mounth": "Август"
            }
        ]})
        include ./includes/blocks/slider-content.pug
        +slider-content-photo()
block page_bottom
    script(src="/js/inner.js")