extends layouts/default_layout
block content
    .section.section--block
        +b.apart-wrapper
            +b.options-page.--flat
                +e.top.--flat
                    .b-container.b-container--options-page
                        +e.back.--flat
                            +e.back-link.--flat(href="/type-flat.html", title="Назад" data-flat-back)
                                svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                                    path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                                | Выбор квартиры на этаже
            +b.container.--apart
                +b.apart
                    +e.plan.js-mobile-flat
                        +b.apart-type
                            +e('a').link(data-index="0" href='javascript:void(0);', title='С мебелью').--active.js-dots-slider С мебелью
                            +e('a').link(data-index="1" href='javascript:void(0);', title='Без мебели').js-dots-slider Без мебели
                            +e('a').link(data-index="2" href='javascript:void(0);', title='Перепланировка без мебели').js-dots-slider Перепланировка без мебели
                            +e('a').link(data-index="3" href='javascript:void(0);', title='Перепланировка с мебелью').js-dots-slider Перепланировка с мебелью

                        +b.apart-scheme
                            +e.inner.js-slider-flat 
                                +e.item.--active(data-tab-index="0")
                                    +e('img').image(src='img/content/flat-plan.png', alt='', title='')
                                +e.item(data-tab-index="1")
                                    +e('img').image(src='img/content/flat-plan.png', alt='', title='' style="opacity:0.5")
                                +e.item(data-tab-index="2")
                                    +e('img').image(src='img/content/flat-plan.png', alt='', title='')
                                +e.item(data-tab-index="3")
                                    +e('img').image(src='img/content/flat-plan.png', alt='', title='')
                            //- =======
                            //- 	.section
                            //- 		+b.apart-wrapper
                            //- 			+b.container.--apart
                            //- 				+b.apart
                            //- 					+e.plan
                            //- 						+b.apart-type
                            //- 							+e('a').link(data-index="0" href='javascript:void(0);', title='С мебелью').--active.js-dots-slider С мебелью
                            //- 							+e('a').link(data-index="1" href='javascript:void(0);', title='Без мебели').js-dots-slider Без мебели
                            //- 							+e('a').link(data-index="2" href='javascript:void(0);', title='Перепланировка без мебели').js-dots-slider Перепланировка без мебели
                            //- 							+e('a').link(data-index="3" href='javascript:void(0);', title='Перепланировка с мебелью').js-dots-slider Перепланировка с мебелью

                            //- 						+b.apart-scheme
                            //- 							//- TODO: ставя класс все летит, так как запускаеться слайдер
                            //- 							//- +e.inner
                            //- 							+e.inner.js-slider-flat 
                            //- 								+e('img').image(src='img/content/flat-plan.png', alt='', title='').--active
                            //- 								+e('img').image(src='img/content/flat-plan.png', alt='', title='')
                            //- 								+e('img').image(src='img/content/flat-plan.png', alt='', title='')
                            //- 								+e('img').image(src='img/content/flat-plan.png', alt='', title='')
                            //- >>>>>>> 052e519f1142e0cc3559dee8a3641cddd6e4addc

                        +b.floor-map.--apart
                            +e.image-block.--apart
                                include ./includes/blocks/floor-image.pug
                                +floor-image('/img/content/floor-genplan.png', 'ул. Новоалексеевская').--apart.--adds
                                +floor-image('/img/content/compass.svg').--apart.--compass
                                +floor-image('/img/content/floor-plan-min.png', 'На этаже').--apart.--plan

                    +e.info
                        +e.header.js-flat-header
                            +e.header-inner
                                +b('h2').title.--apart 2-х комнатная апартамент №&nbsp;804
                                //+b('h2').title.--apart 2-х комнатная квартира &#8470;&nbsp;47
                                +e.furnish С отделкой
                                +e.detail
                                    +e.text Корпус&nbsp;1, секция&nbsp;2
                                    +e.text
                                        span Сдача: 
                                        | 1&nbsp;кв 2020

                            .b-flat-card__icon-wrapper.b-flat-card__icon-wrapper--apart
                                a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--apart-first(href="javascript:void(0);", title="print")
                                    span.b-flat-card__icon
                                        svg(xmlns='http://www.w3.org/2000/svg', width='25', height='25', viewBox='0 0 25 25')
                                            path(fill='#000', fill-rule='nonzero', d='M21.125 11.842a1.258 1.258 0 1 1 0-2.517 1.258 1.258 0 0 1 0 2.517zm0-.6a.658.658 0 1 1 0-1.317.658.658 0 0 1 0 1.317zM5.793 7.708a.48.48 0 1 1-.96 0V.52h15.335v7.188a.48.48 0 1 1-.96 0V1.48H5.793v6.228zm0 7.189v8.623h13.415v-8.623H5.793zm-.96 5.27H1.957A1.441 1.441 0 0 1 .52 18.73V8.667c0-.793.646-1.439 1.438-1.439h21.084c.792 0 1.438.646 1.438 1.439v10.062c0 .792-.646 1.439-1.438 1.439h-2.875v4.312H4.832v-4.313zm0-.96v-5.27h15.335v5.27h2.874a.481.481 0 0 0 .478-.478V8.667a.481.481 0 0 0-.478-.479H1.958a.481.481 0 0 0-.478.479v10.062c0 .262.216.479.478.479h2.874zm12.459-2.395H7.708a.48.48 0 1 0 0 .96h9.584a.48.48 0 0 0 0-.96zm-1.917 1.916H7.708a.48.48 0 0 0 0 .96h7.667a.48.48 0 1 0 0-.96zm1.917 1.917H7.708a.48.48 0 1 0 0 .96h9.584a.48.48 0 0 0 0-.96z')
                                    span.b-flat-card__link-text Распечатать
                                    include includes/blocks/tooltip.pug
                                    +tooltip('Распечатать')
                                //a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--email(href="javascript:void(0);", title="email")
                                a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--email(href="javascript:;", title="email",data-fancybox, data-src="#PdfEmailForm", data-touch="false")
                                    span.b-flat-card__icon
                                        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='14', viewBox='0 0 30 14')
                                            path(fill='#000', fill-rule='nonzero', d='M28.864.543a.423.423 0 0 1 .604.047.444.444 0 0 1-.046.617l-9 7.875a.422.422 0 0 1-.558 0l-9-7.875a.444.444 0 0 1-.047-.617.423.423 0 0 1 .605-.047l8.72 7.63 8.722-7.63zM12 .875a.866.866 0 0 0-.857.875v10.5c0 .483.384.875.857.875h16.286a.866.866 0 0 0 .857-.875V1.75a.866.866 0 0 0-.857-.875H12zM12 0h16.286C29.232 0 30 .784 30 1.75v10.5c0 .966-.768 1.75-1.714 1.75H12c-.947 0-1.714-.784-1.714-1.75V1.75C10.286.784 11.053 0 12 0zM8.143 1.75c.237 0 .428.196.428.438a.433.433 0 0 1-.428.437H.429A.433.433 0 0 1 0 2.187c0-.241.192-.437.429-.437h7.714zm0 4.156c.237 0 .428.196.428.438a.433.433 0 0 1-.428.437H3a.433.433 0 0 1-.429-.437c0-.242.192-.438.429-.438h5.143zm0 4.339c.237 0 .428.196.428.437a.433.433 0 0 1-.428.438H5.57a.433.433 0 0 1-.428-.438c0-.241.192-.437.428-.437h2.572z')
                                    span.b-flat-card__link-text Отправить на e-mail
                                    include includes/blocks/tooltip.pug
                                    +tooltip('Отправить на e-mail')
                                a.b-flat-card__icon-link.b-flat-card__icon-link--apart(href="javascript:void(0);", title="download")
                                    span.b-flat-card__icon
                                        svg(xmlns='http://www.w3.org/2000/svg', width='24', height='19', viewBox='0 0 24 19')
                                            path(fill='#000', fill-rule='nonzero', d='M11.623 13.842L7.7 10.9l.6-.8 3.2 2.4V.5c0-.667 1-.667 1 0v13c0 .52-.61.635-.877.342zm.377-.967l3.7-2.775.6.8-3.972 2.979a.473.473 0 0 1-.628.021l-4-3c-.533-.4.067-1.2.6-.8l3.7 2.775zm4.3-1.975l-4 3c-.533.4-1.133-.4-.6-.8l4-3c.533-.4 1.133.4.6.8zm6.2 2.276a.5.5 0 1 1 1 0v5.148a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-5.148a.5.5 0 1 1 1 0v4.648h21v-4.648z')
                                    span.b-flat-card__link-text Скачать презентацию
                                    +tooltip('Скачать презентацию')

                        include includes/blocks/apart-info.pug
                        +apart-info().js-default-header
            +b.options-page__slider.--flat
                include ./includes/blocks/flat-slider.pug
                +e.tab-links.--type
                    +e.item.--type
                        +e.tab-link.--big.-active.js-tab-link(href="javscript:void(0);", title="", data-tab-target="flat") Похожие помещения
                    +e.item.--type
                        +e.tab-link.--big.js-tab-link(href="javscript:void(0);", title="", data-tab-target="history") ИСТОРИЯ ПРОСМОТРОВ
                +e.tab-content.-active.js-tab-container(data-tab-id="flat")
                    +flat-slider()
                +e.tab-content.js-tab-container(data-tab-id="history")
                    +flat-slider()


block page_bottom
    include includes/blocks/pdf-email-form.pug
    script(src="/js/inner.js")