extends layouts/default_layout
block vars
    - var page = "floor-map";
block content
    script.
        window.floorTooltips = {
            commercial: 0,
            "flats": [
                {
                    "area": 36.1,
                    "href": "/choose/flat-1b-2-395/",
                    "id": 2701,
                    "num": 2,
                    "rooms": 3,
                    "price": 9674082,
                    "apts": 0
                },
                {
                    "area": 83.1,
                    "href": "/choose/flat-1b-2-397/",
                    "id": 2703,
                    "num": 3,
                    "rooms": 3,
                    "price": 9674082,
                    "apts": 0
                },
                {
                    "area": 58.7,
                    "href": "/choose/flat-1b-2-398/",
                    "id": 2704,
                    "num": 20,
                    "rooms": 3,
                    "price": 9674082,
                    "apts": 0
                },
                {
                    "area": 62.5,
                    "href": "/choose/flat-1b-2-401/",
                    "id": 2709,
                    "num": 200,
                    "rooms": 3,
                    "price": 9674082,
                    "apts": 1
                }
            ]
        }
    +b.floor-map
        +b.options-page.--floor-map
            +e.top
                +e.tab-links
                    +e.item
                        +e.tab-link.-active(href="javscript:void(0);", title="На генплане") На генплане
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="По параметрам") По параметрам
        +e.content
            +e('h1').title Корпус 1
            +e.image-block
                include ./includes/blocks/floor-image.pug
                +floor-image("/img/content/compass.svg").--comp
                +floor-image("/img/content/floor-genplan.png", "ул. Новоалексеевская")
            +e.main-image
                +e.image-wrapper
                    +e('img').image.js-load-img(src="/img/content/plan.svg", alt="Корпус 1")
                    +e.svg-wrapper.js-tooltip-svg
                        include ./includes/svg/plan_floor.svg
                        //- include ./1s_.svg
                        //- svg.js-tooltip-svg
                            //- use(href="/img/content/floor/1s_.svg#example1")
                +e.section-button
                    include ./includes/blocks/floor-arrow.pug
                    +floor-arrow("Секция", "1", 'section')
                +e.floor-button
                    include ./includes/blocks/floor-arrow.pug
                    +floor-arrow("Этаж", "10", 'floor').--floor
block page_bottom
    script(src="/js/inner.js")
