extends layouts/default_layout
block vars
    - var page = "floor-map-commerce";
block content
    script.
        window.floorTooltips = {
            "commercial": 1,
            "flats": [
                {
                    "area": 36.1,
                    "href": "/choose/flat-1b-2-395/",
                    "id": 2701,
                    "num": 'B-1-1',
                    "price": 19674082,
                    "pricePerMeter": 100000
                },
                {
                    "area": 83.1,
                    "href": "/choose/flat-1b-2-397/",
                    "id": 2703,
                    "num": 'B-1-2',
                    "price": 9674082,
                    "pricePerMeter": 200000
                },
                {
                    "area": 58.7,
                    "href": "/choose/flat-1b-2-398/",
                    "id": 2704,
                    "num": 'B-3-1',
                    "price": 9674082,
                    "pricePerMeter": 200000
                },
                {
                    "area": 62.5,
                    "href": "/choose/flat-1b-2-401/",
                    "id": 2709,
                    "num": 'B-3-2',
                    "price": 9674082,
                    "pricePerMeter": 300000
                }
            ]
        }
    +b.floor-map.--commercial
        +b.options-page.--flat.--commercial.--commercial-floor
            +e.top.--flat.--commercial-floor
                .b-container.b-container--options-page
                    +e.back.--flat.--commercial-floor
                        +e.back-link.--flat.--commercial-floor Коммерческие  помещения
        +e.content
            +e('h1').title Корпус 1
            +e.image-block
                include ./includes/blocks/floor-image.pug
                +floor-image("/img/content/compass.svg").--comp
                +floor-image("/img/content/floor-genplan.png", "ул. Новоалексеевская").--plan
            +e.main-image
                +e.image-wrapper
                    +e('img').image.js-load-img(src="/img/content/plan.png", alt="Корпус 1")
                    +e.svg-wrapper.js-tooltip-svg
                        include ./includes/svg/plan_floor.svg
                        //- include ./1s_.svg
                        //- svg.js-tooltip-svg
                            //- use(href="/img/content/floor/1s_.svg#example1")
                +e.section-button.--commercial
                    include ./includes/blocks/floor-arrow.pug
                    +floor-arrow("Секция", "1", 'section')
                +e.floor-button.--commercial
                    include ./includes/blocks/floor-arrow.pug
                    +floor-arrow("Этаж", "1", 'floor').--commercial

block page_bottom
    script(src="/js/inner.js")