extends layouts/longrid_layout
block vars
    - var page = "homepage";
block content
    //-.section.Section_1.Section_1--longread.Section_1--slide-fortress
        .AnimBlock

        .CenterBlockWrapper
            .CenterBlock
                .CenterBlock_img
                .CenterBlock_innerwrap
                    h1.CenterBlock_title.CenterBlock_title--fortress
                        span Ваша крепость, которую не хочется покидать
                    div.CenterBlockWrap
                        a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
        .CenterBlock_line
            span
    .section.Section_1.Section_1--longread
        .page-header
            .page-header__inner-wrapper(style="background-image: url('/img/backgrounds/fortress/fortress-slide-1920.jpg')", data-header-anim)
            .page-header__inner
                .page-header__border
                .page-header__border._inner
                .page-header__border._inner2(style="background-image: url('/img/backgrounds/fortress/fortress-slide-1920.jpg')")
                    .page-header__border-conners

            .page-header-tlt
                .page-header-tlt__inner Ваша крепость, которую<br>не хочется покидать

            .page-header-descr(data-header-descr)
                a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
                em.page-header-descr__line

    .section.section-notfullpage.js-anchor-item(data-anchor-id="read-next")
        .section--yard
            .b-container.b-container--fortress.b-container--yard
                +b('h2').title.--masterpiece.--yard Закрытый двор
                +b.text--fortress
                    p На собственной территории площадью 7,7 га выполнен ландшафтный дизайн. Являясь украшением всего комплекса, он, одновременно, служит связующим звеном между благородным историческим наследием и современными зданиями. Здесь вы будете окружены великолепием девятнадцатого века и комфортом двадцать первого. На территории вашего нового дома так приятно прогуляться по мощеным дорожкам, присесть отдохнуть на скамейку рядом с прохладным фонтаном XIX века, почитать книгу при свете изящного уличного светильника. Дети получат невероятное удовольствие, бегая по ухоженным газонам и играя на ультрасовременных и безопасных площадках. Взрослые смогут заниматься спортом и собирать друзей в специальных беседках для барбекю.
                    p В домах комплекса «Серебряный фонтан» реализована концепция «Дворы без машин». Отсутствие автомобилей, пропускная система, видеонаблюдение, надежная ограда защищают покой взрослых и маленьких жителей комплекса. Хотя во внутренние дворы въезд автомобилей не допускается, на территории комплекса предусмотрена наземная парковка для гостей и лиц с ограниченными двигательными возможностями.
        +b.yard-square
            +e('img').image--tablet(src="img/backgrounds/fortress/m77000-1024.svg" alt="77000" title="77000")
            +e('img').image--desktop(src="img/backgrounds/fortress/m77000.svg" alt="77000" title="77000")

        include ./includes/blocks/image-wrapper.pug
        +image-wrapper({'items':[{
                    'image'       : 'img/backgrounds/fortress/fortress-image0-320.jpg',
                    'tablet'       : 'img/backgrounds/fortress/fortress-image0-768.jpg',
                    'laptop'       : 'img/backgrounds/fortress/fortress-image0-1024.jpg',
                    'desktop'       : 'img/backgrounds/fortress/fortress-image0-1280.jpg',
                    'fullhd'       : 'img/backgrounds/fortress/fortress-image0-1920.jpg',
                }
        ]}).--yard
        .section--linden-alley.section--fortress
            include ./includes/blocks/linden-alley.pug
            +linden-alley()
        .section--childhood.section--container
            .b-container.b-container--fortress
                +b('h2').title.--masterpiece.--childhood Территория детства

                +b.childhood-thesis
                    +e('ul').list
                        +e.item
                            +e.image-wrapper
                                +e('img').icon(src="img/backgrounds/fortress/icon-bear.svg" alt="" title="")
                            +e.text-wrapper
                                +e('span').num 14
                                +e('span').text Детских садов
                        +e.item
                            +e.image-wrapper
                                +e('img').icon(src="img/backgrounds/fortress/icon-book.svg" alt="" title="")
                            +e.text-wrapper
                                +e('span').num 16
                                +e('span').text Школ
                        +e.item
                            +e.image-wrapper
                                +e('img').icon(src="img/backgrounds/fortress/icon-school.svg" alt="" title="")
                            +e.text-wrapper
                                +e('span').num 11
                                +e('span').text Гимназий
                    +e('p').description расположенных в непосредственной близости от комплекса

                +b.childhood-description
                    +b.childhood-container
                        +image-wrapper({
                            'items': [{
                                'image': 'img/backgrounds/fortress/fortress-image3-320.jpg',
                                'tablet': 'img/backgrounds/fortress/fortress-image3-768.jpg',
                                'laptop': 'img/backgrounds/fortress/fortress-image3-1024.jpg',
                                'desktop': 'img/backgrounds/fortress/fortress-image3-1280.jpg',
                                'fullhd': 'img/backgrounds/fortress/fortress-image3-1920.jpg',
                            }
                            ]
                        }).--childhood
                        +e.text
                            +e.text-inner
                                p Среди 14 детских садов, 16 школ и 11 гимназий, расположенных в непосредственной близости от комплекса, есть учебные заведения, входящие в десятку лучших в Москве, например, школа Финансового университета при Правительстве РФ. А закончив знаменитую гимназию МИИТ, ваш ребенок будет свободно говорить на двух иностранных языках. Многочисленные кружки и спортивные клубы, школа верховой езды и танцевальная мастерская позволят детям не просто постоянно учиться, но делать это с удовольствием и азартом. Ну а отдохнуть от учебы, они смогут в «Уголке дедушки Дурова», Цирке Ю. Никулина, Театре кукол им. Образцова — все эти и многие другие учреждения культуры расположены меньше чем в 15 минутах езды от вашего нового дома.

                    +b.childhood-container
                        +e.text
                            +e.text-inner
                                p Настоящий жилой комплекс бизнес-класса невозможно представить себе без развитой инфраструктуры, предназначенной для подрастающего поколения. Став собственником квартиры в «Серебряном фонтане», вы обеспечите своим детям доступ к прекрасному образованию, великолепной экологии и множеству развлечений. Непосредственно на территории комплекса будет свой детский сад, оборудованы детские и спортивные площадки для детей любого возраста. Еще больше прекрасной инфраструктуры для детей вы найдете вокруг.
                        +image-wrapper({
                            'items': [{
                                'image': 'img/backgrounds/fortress/fortress-image4-320.jpg',
                                'tablet': 'img/backgrounds/fortress/fortress-image4-768.jpg',
                                'laptop': 'img/backgrounds/fortress/fortress-image4-1024.jpg',
                                'desktop': 'img/backgrounds/fortress/fortress-image4-1280.jpg',
                                'fullhd': 'img/backgrounds/fortress/fortress-image4-1920.jpg',
                            }
                            ]
                        }).--childhood


        .section--infrastructure.section--container
            .b-container.b-container--fortress
                +b.childhood-description
                    +b.childhood-container
                        +image-wrapper({
                            'items': [{
                                'image': 'img/backgrounds/fortress/fortress-image2-320.jpg',
                                'tablet': 'img/backgrounds/fortress/fortress-image2-768.jpg',
                                'laptop': 'img/backgrounds/fortress/fortress-image2-1024.jpg',
                                'desktop': 'img/backgrounds/fortress/fortress-image2-1280.jpg',
                                'fullhd': 'img/backgrounds/fortress/fortress-image2-1920.jpg',
                            }
                            ]
                        }).--infrastructure
                        +e.text.--infrastructure
                            +e.text-inner
                                +b('h2').title.--masterpiece.--infrastructure Внутренняя инфраструктура
                                p На территории «Серебряного фонтана» будет все, чтобы вам не приходилось тратить время на дорогу, а все необходимое для жизни вы могли приобретать в минуте пешком от своей двери. Первые этажи корпусов комплекса представляют собой коммерческие помещения. Здесь вы сможете выпить кофе в уютном кафе, приобрести продукты и свежую выпечку, сходить в салон красоты и солярий, купить лекарства и т.д.

        include ./includes/blocks/environment.pug
        +environment({'items':[{
                    'link'       : 'Далее',
                    'title'      : 'Современные технологии'
                    }
                ]}).--longrid.--fortress
        //-.Section_7.Section_7--demo.Section_7--longread
            .Contacts_wrap.Contacts_wrap--height.Contacts_wrap--longread
                .b-container
                    .Contacts
                        .Contacts_content.Contacts_content--height
                            .Contacts_title_wrap
                                .Contacts_title.Contacts_title--ofice Офис
                                    span продаж
                            .Contacts_item
                                a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
                                .Contacts_adress.Contacts_adress--height г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;1
                                    br
                                    | пн.-вс. 10:00 - 20:00
                                .Contacts_btn
                                    a.Contacts_btn_link(href='#') Заказать звонок
                        .Contacts_spec
            include ./includes/blocks/footer.pug

        .longread-footer
            .longread-contacts
                .longread-contacts__inner
                    .longread-contacts__tlt Офис<br> продаж
                    .longread-contacts__block
                        a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
                        p.longread-contacts__txt г. Москва,<br>
                            | ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
                            | пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
                        p
                            a(href="").button Заказать звонок

        include ./includes/blocks/footer.pug

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/longread-slide.js")
    script(src="/js/app.js")
