extends layouts/legacy_layout.pug
//- block vars
//-     - var title = "Homepage";
block content
	include includes/blocks/hide_block

	.Gallery

		.Title_wrapper.Title_wrapper-brownPattern
			h1.Title.Title-news Галерея

		.Gallery-full
			.Gallery-wrapper
				.GalleryBlock.GalleryBlock__1
					a.GalleryLink.GalleryLink__1(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title Архитектура
								p.GalleryLink__text 16 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title Архитектура
								p.GalleryLink__text 16 фото

				.GalleryBlock.GalleryBlock__2
					a.GalleryLink.GalleryLink__2(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title Входные группы
								p.GalleryLink__text 6 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title Входные группы
								p.GalleryLink__text 6 фото

					a.GalleryLink.GalleryLink__3(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title На территории комплекса
								p.GalleryLink__text 19 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title На территории комплекса
								p.GalleryLink__text 19 фото

				.GalleryBlock.GalleryBlock__1
					a.GalleryLink.GalleryLink__1(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title Архитектура
								p.GalleryLink__text 16 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title Архитектура
								p.GalleryLink__text 16 фото

				.GalleryBlock.GalleryBlock__2
					a.GalleryLink.GalleryLink__2(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title Входные группы
								p.GalleryLink__text 6 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title Входные группы
								p.GalleryLink__text 6 фото

					a.GalleryLink.GalleryLink__3(href='#')
						.GalleryLink__inner
							.GalleryLink__showenCont
								p.GalleryLink__title На территории комплекса
								p.GalleryLink__text 19 фото

							.GalleryLink__hidden
							.GalleryLink__hiddenCont
								p.GalleryLink__title На территории комплекса
								p.GalleryLink__text 19 фото

	footer.Footer.Footer_gallery
		include includes/blocks/footer
block page_bottom
		script(src="/js/gallery.js")