extends layouts/legacy_layout.pug
//- block vars
//-     - var title = "Homepage";
block content
	.Gallery.Gallery_slider

		.Gallery_sliderNav
			h1.Gallery_sliderNav_title Архитектура
			.Gallery_sliderNav_time 
				span.Gallery_slideCount 2 
				span 
				span.Gallery_slideSum 6
			a.Gallery_backArrow(href="/gallery.html")

		.Gallery-modal
			.Gallery-modal__sign
				span(data-sign-div)
			.Gallery-wrapper.swiper-container
				.Gallery-slider.swiper-wrapper
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide1" data-sign="Подпись к фотографии 1")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/1/3/item_1139/item_1139.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/1/3/item_1139/item_1139.jpg")
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide2" data-sign="")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1126/item_1126.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1126/item_1126.jpg")
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide3" data-sign="Подпись к фотографии 3")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1122/item_1122.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1122/item_1122.jpg")
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide4" data-sign="")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1123/item_1123.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/1/2/item_1123/item_1123.jpg")
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide5" data-sign="Подпись к фотографии 5")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/5/9/item_1597/item_1597.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/5/9/item_1597/item_1597.jpg")
					.Gallery-slider__item-wrap.swiper-slide(data-hash="slide7" data-sign="")
						.Gallery-slider__item(style="background-image:url(https://etalonsilver.ru/upload/information_system_3/1/1/3/item_1130/item_1130.jpg)")
							img(src="https://etalonsilver.ru/upload/information_system_3/1/1/3/item_1130/item_1130.jpg")

				.Gallery_nav
					.Gallery-btn.swiper-button-next
					.Gallery-btn.swiper-button-prev
				.swiper-scrollbar

			footer.Footer.Footer-GallerySlider
				include includes/blocks/footer

block page_bottom
		script(src="/js/gallery-slider.js")