extends layouts/default_layout
mixin Fitblock(img, width, height, additionalClasses)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            block
block content
    +b.options-page.--genplan-section
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href='javscript:void(0);', title='Назад')
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                        span Назад
                +e.tab-links
                    +e.item
                        +e.tab-link.-active(href='javscript:void(0);', title='На генплане') На генплане
                    +e.item
                        +e.tab-link(href='javscript:void(0);', title='По параметрам') По параметрам

    .GenplanSectionsSlider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 1, 9, 10, 11
                        +Fitblock('/img/sections/k1_1.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include ./includes/svg/k1_1.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="2") <span>Секция 7, 8 </span>
                        .GenplanSectionsSlider_nav(data-slide="1") <span>Секция 2, 3, 4, 5, 6 </span>
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 2, 3, 4, 5, 6
                        +Fitblock('/img/sections/k1_3.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include includes/svg/k1_3.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="0") <span>Секция 1, 9, 10, 11 </span>
                        .GenplanSectionsSlider_nav(data-slide="2") <span>Секция 7, 8 </span>
            .swiper-slide
                .FullScreenContainer
                    .Genplan.Genplan-section
                        .Genplan_title Корпус 1
                        .Genplan_subtitle Секция 7, 8
                        +Fitblock('/img/sections/k1_2.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                            .SvgWrap
                                include includes/svg/k1_2.svg
                    .GenplanSectionsSlider_navs
                        .GenplanSectionsSlider_nav(data-slide="1") <span>Секция 2, 3, 4, 5, 6 </span>
                        .GenplanSectionsSlider_nav(data-slide="0") <span>Секция 1, 9, 10, 11 </span>


        //.GenplanSectionsSlider_navs
        //    .GenplanSectionsSlider_nav(data-slide="0") Секция 1, 9, 10, 11
        //    .GenplanSectionsSlider_nav(data-slide="1") Секция 7, 8
        //    .GenplanSectionsSlider_nav(data-slide="2") Секция 2, 3, 4, 5, 6
        //    .GenplanSectionsSlider_nav(data-slide="3") Секция 20


block page_bottom
    script(src="/js/inner.js")