extends layouts/default_layout
mixin Fitblock(img, width, height, additionalClasses)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            block
block content
    style#styleMask
    +b.options-page.--genplan-choise
        +e.top
            .b-container.b-container--options-page.b-container--genplan-choise
                +e.tab-links
                    +e.item
                        +e.tab-link.-active(href='javscript:void(0);', title='На генплане') На генплане
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="По параметрам") На секции
                    +e.item
                        +e.tab-link(href='javscript:void(0);', title='По параметрам') По параметрам
    .FullScreenContainer
        .Genplan
            +Fitblock('/img/backgrounds/genplan-street-2560.jpg', 2559, 1383, 'Fitblock-xsScrollable Fitblock-smScrollable')
                .SvgWrap
                    svg.SvgWrap_svg.SvgWrap_svg-genplan(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2559 1383" style="enable-background:new 0 0 2559 1383;" xml:space="preserve", preserveAspectRatio="xMidYMin slice")
                        a.Genplan_polygonLink.Genplan_mask-n1(xlink:href="/house_floor_1.html")
                            g#1
                                polygon(class="Genplan_polygonLink Genplan_mask-n1" points="635.5,989 598.5,668 609.5,661 627.5,666 641.5,651 660.5,651 691.5,622 709.5,630 726.5,622 742.5,634 747,677.2 862.5,632 924.5,672 933.5,810 1079.2,748.1 1067.5,445 1074.5,435 968.5,372 877.5,401 873.5,307 879.5,300 703.5,193 581.5,232 588.5,242 591.5,252 603.5,359 512.5,390 512.5,358 512.5,352 512.5,346 458.5,309 327.5,350 338.5,374 384.5,691 537.5,1029 	")
                        a.Genplan_polygonLink.Genplan_mask-n2(xlink:href="/house_floor_2.html")
                            g#2
                                polygon(class="Genplan_polygonLink Genplan_mask-n2" points="1392.5,1254 1404.5,815 1398.5,701 1190.5,574 1087.5,615 1093.5,742 933.5,810 924.5,672 862.5,632 627.5,724 671.5,1135 816.5,1254 	")

                    //include ./includes/svg/genplan.svg
                a.Genplan_marker.Genplan_mask-n1(style="top:26%;left:25%;" href="#")
                    span.Genplan_markerNum 1 корпус
                    .Genplan_markerRibbon срок ввода 2021 г.
                a.Genplan_marker.Genplan_mask-n2(style="top:50%;left:42%;", href="#")
                    span.Genplan_markerNum 2 Корпус
                    .Genplan_markerRibbon срок ввода 2020 г.
                    .Genplan_start старт продаж
                .Genplan_mask.Genplan_mask-n1(style="background-image:url('/img/backgrounds/house2.png')")
                .Genplan_mask.Genplan_mask-n2(style="background-image:url('/img/backgrounds/house1.png')")

                .Genplan_street.Genplan_street-n1
                .Genplan_street.Genplan_street-n2




                // END: main buildings
            .Compass



block page_bottom
    script(src="/js/inner.js")
    script(src="/js/genplan.js")