extends layouts/default_layout
block content
	+b.options-page.--genplan-section
		+e.top
			.b-container.b-container--options-page
				+e.back
					+e.back-link(href='javscript:void(0);', title='Назад')
						svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
							path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
						span Назад
				+e.tab-links
					+e.item
						+e.tab-link.-active(href='javscript:void(0);', title='На генплане') На генплане
					+e.item
						+e.tab-link(href='javscript:void(0);', title='По параметрам') По параметрам
	include ./includes/blocks/floor-select.pug
	+floor-select({'items': [
			{
				'prev_section': 'Секции 9, 8, 7',
				'next_section': 'Секции 3, 2, 1',
				'title': 'Корп. 1',
				'titlebig': 'Корпус 1',
				'selected_section'	:	'Секции 6, 5, 7',
				'arrow_prev'	:	'javscript:void(0);',
				'arrow_next'	:	'javscript:void(0);',
				'src_mobile' : '/img/backgrounds/floor-mobile.jpg',
				'src_tablet' :'/img/backgrounds/floor-laptop.jpg',
				'src_desktop' :'/img/backgrounds/floor-desktop.jpg'
			}
	]}).--section
		svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px" height="1546px" viewBox="0 0 1920 1546" style="enable-background:new 0 0 1920 1546;" xml:space="preserve")
			//- style(type='text/css').
			//-     .st0{opacity:0.4;fill:#FFFFFF;}
			//-     .st1{opacity:0.5;fill:#FFFFFF;}
			g.b-floor-select__g
				polygon.st0.b-floor-select__floors.js-plan-base(points='654,461 750,359 750,1471 654,1453 ')
				polygon.st1.b-floor-select__floor(points='654,516.7 750,427 750,486.3 654,560 ' data-location="/floor-map-commercial.html" data-row1="1 секция" data-row2="19 этаж" )
				polygon.st1.b-floor-select__floor(points='654,606.3 750,528 750,486.3 654,560 ' data-location="/floor-map-commercial.html" data-row1="1 секция" data-row2="18 этаж" )
				polygon.st1.b-floor-select__floor(points='654,662.3 750,583.7 750,528 654,606.3 ' data-location="/floor-map-commercial.html" data-row1="1 секция" data-row2="17 этаж" )
			g.b-floor-select__g
				polygon.st0.b-floor-select__floors.js-plan-base(points='1006,95 1006,1491 862,1471 862,243 ')
				polygon.st1.b-floor-select__floor(points='862,315 1006,172.3 1006,251 862,382.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="19 этаж" )
				polygon.st1.b-floor-select__floor(points='862,424.3 1006,296.3 1006,251 862,382.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="18 этаж" )
				polygon.st1.b-floor-select__floor(points='862,486.3 1006,368.3 1006,296.3 862,424.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="17 этаж" )
				polygon.st1.b-floor-select__floor(points='862,539.7 1006,427 1006,368.3 862,486.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="16 этаж" )
				polygon.st1.b-floor-select__floor(points='862,606.3 1006,505 1006,427 862,539.7 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="15 этаж" )
				polygon.st1.b-floor-select__floor(points='862,662.3 1006,568.3 1006,505 862,606.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="14 этаж" )
				polygon.st1.b-floor-select__floor(points='862,725.7 1006,638.3 1006,568.3 862,662.3 ' data-location="/floor-map-commercial.html" data-row1="6 секция" data-row2="13 этаж" )
		include ./includes/blocks/tooltip-new.pug
		+tooltip-new(({'items':[{
			'title'      : 'Секция',
			'text'       : 'Этаж',
			'number_title'  :   '6',
			'number_text'  :   '12'
			}
		]})).--second.-t3.js-genpaln-toolip
block page_bottom
	script(src="/js/inner.js")