extends layouts/legacy_layout.pug
block vars
    - var page = "gui";
block content
    -// Тултип
    include ./includes/blocks/tooltip-new.pug
    section(style="background: aqua; margin-top: 100px; padding: 30px 20px;")
        +tooltip-new(({'items':[{
                'title'      : 'Корпус 2',
                'text'       : 'Срок ввода 2021 г.',
                }
            ]}))
        +tooltip-new(({'items':[{
                'title'      : 'Секция',
                'text'       : 'Этаж',
                'number_title'  :   '6',
                'number_text'  :   '12'
                }
            ]})).--second
    include ./includes/blocks/tooltip-comercial.pug
    +tooltip-comercial(({'items':[{
                'number_text'      : '3',
                'text'       : 'Помещения в продаже',
                'number_section'    :   '3',
                'section'   : 'Секция',
                'number_floor'  :   '1',
                'floor' :   'Этаж'
            }
    ]}))
    include ./includes/blocks/request.pug
    +request({'items': [
            {
                'text': 'По вопросам продажи коммерческой недвижимости обращайтесь по телефону:',
                'number': '+7 495 132-33-50',
                'button': 'Оставить заявку'
            }
    ]})
