extends layouts/default_layout
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Информация', 'Купившим')

	section.HelpInfo
		h1.Title.HelpInfo_tlt Уважаемый&nbsp;участник долевого&nbsp;строительства!
		.HelpInfo_txt
			p В связи с внесением изменений в законодательство о долевом строительстве в части досрочного прекращения договора страхования гражданской ответственности застройщика, информируем Вас об изменении способа обеспечения исполнения обязательств застройщика в рамках заключенного договора участия в долевом строительстве.
			p Обеспечение исполнения обязательств застройщика будет осуществляться уплатой обязательных отчислений (взносов) в компенсационный фонд, в порядке, установленном законодательством РФ.
			p Тел. для справок:
				a(href="tel:+74953788888")
					b &nbsp; +7 (495) 378-88-88

block page_bottom
		//-script(src="/js/**.js")
