extends layouts/homepage_layout.pug
//- block vars
//-     - var title = "Homepage";
block content

	include includes/blocks/hide_block
	//-.section.Section_1
		//- .AnimBlock
		.video-wrapper._outer.AnimBlock
			video(autoplay, muted, loop).video#cloud-outer
				source(src="/video/Clouds_new.mp4", type="video/mp4")
				source(src="/video/Cloud_new.webm", type="video/webm")
				source(src="/video/Cloud_new.ogv", type="video/ogg")
		.CenterBlockFrame
			.CenterBlockFrame_inner
				.CenterBlockFrame_cornerLeft
				.CenterBlockFrame_cornerRight
				.CenterBlockFrame_videoWrap
					.CenterBlockFrame_video
						video(autoplay, muted, loop)#cloud-video
							source(src="/video/Clouds_new.mp4", type="video/mp4")
							source(src="/video/Cloud_new.webm", type="video/webm")
							source(src="/video/Cloud_new.ogv", type="video/ogg")
				.CenterBlockFrame_content
						.CenterBlockFrame_contentInner
							h1.CenterBlock_title Века сменяются. Характер остается.
							h2.CenterBlock_text Жилой комплекс «Серебряный фонтан»
							a(href="https://youtu.be/AKksTRqeRNE" data-video).CenterBlock_play Видео о проекте
						div.CenterBlockWrap
							a(href='#').CenterBlock_link Узнать больше
			.CenterBlock_line
				span

	.section.Section_1
		.video-wrapper._outer.AnimBlock
			video(autoplay, muted, loop).video#cloud-outer
				source(data-src-url="/video/Clouds_new.mp4", type="video/mp4")
				source(data-src-url="/video/Clouds_new.webm", type="video/webm")
				source(data-src-url="/video/Clouds_new.ogv", type="video/ogg")
		.page-header._index
			.page-header__inner
				.page-header__logoAward
					img(src="img/awardsLogo_num1.svg")
				.page-header__border
				.page-header__border._inner
				.page-header__border._inner2
					.page-header__border-conners
				.CenterBlockFrame_videoWrap
					.CenterBlockFrame_video
						video(autoplay, muted, loop)#cloud-video
							source(data-src-url="/video/Clouds_new.mp4", type="video/mp4")
							source(data-src-url="/video/Clouds_new.webm", type="video/webm")
							source(data-src-url="/video/Clouds_new.ogv", type="video/ogg")
				.CenterBlockFrame_content
					.CenterBlockFrame_contentInner
						h1.CenterBlock_title Будем честны,<br>у нас виды на Сокольники завораживают
						h2.CenterBlock_text Жилой комплекс «Серебряный фонтан»
						a(href="https://youtu.be/AKksTRqeRNE" data-video).CenterBlock_play Видео о проекте
						.CenterBlockWrap
							a(href='#').CenterBlock_link Узнать больше
			.CenterBlock_line
				span

	.section.Section_2
		.AnimBlock
		.CenterBlockWrapper
			.CenterBlock
				.CenterBlock_item_media
				.CenterBlock_item
					.CenterBlock_item_item
						.CenterBlock_item_inner
							.CenterBlockDesc
								.CenterBlock_num 01
								.CenterBlock_wrap
									.CenterBlock_title Серебряный фонтан
									.CenterBlock_wrap_inner
										.CenterBlock_text &mdash;&nbsp;проект бизнес-класса Группы компаний &laquo;Эталон&raquo; в&nbsp;Алексеевском районе Москвы. Комплекс строится на&nbsp;территории архитектурного ансамбля и&nbsp;парка XIX века и&nbsp;представляет собой лучший ответ на&nbsp;запрос жить в&nbsp;современном доме на&nbsp;свежем воздухе рядом с&nbsp;центром столицы.
										.CenterBlock_btn
											a.CenterBlock_btn_link(href='#') подробнее

	.section.Section_3
		.AnimBlock
		.CenterBlockWrapper
			.CenterBlock
				.CenterBlock_item
					.CenterBlock_item_inner
						.CenterBlockDesc
							.CenterBlock_num 02
							.CenterBlock_wrap
								.CenterBlock_title Жить в&nbsp;старой доброй Москве
								.CenterBlock_wrap_inner
									.CenterBlock_text «Серебряный фонтан» возводится в 5 минутах пешком от м. «Алексеевская» и в 10 минутах транспортом от Садового кольца. Вокруг находятся несколько парков, включая Сокольники, Ботанический сад и Лосиный остров. А собственная липовая аллея и расположение на Новоалексеевской улице со спокойным движением дарят тишину старых московских двориков.
									.CenterBlock_btn
										a.CenterBlock_btn_link(href='#') подробнее
				.CenterBlock_item
					.CenterBlock_item_inner_wrap
					img.CenterBlock_item_pic(src="/img/backgrounds/3.jpg", alt="")
				.CenterFrame
					svg(viewBox='0 0 1920 962', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio="none")
						defs
						g(id='Главная', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
							g#sf_desktop_1920(transform='translate(-39.000000, -2219.000000)', stroke='none', stroke-width='0.5')
								g#3(transform='translate(0.000000, 2160.000000)')
									g#Ramka(transform='translate(40.000000, 60.000000)')
										polygon#Mask-Copy__3(points="41 41 41 1 1801 1 1801 41 1841 41.38 1841 921.53 1801 921 1801 961 41 961 41 921 1 921 1 41 41 41")
										rect#Rectangle-Copy__3(x='20', y='20', width='1800', height='920', stroke='none')

	.section.Section_4
		.AnimBlock
		.CenterBlockWrapper
			.CenterBlock
				.CenterBlock_item_media
				.CenterBlock_item
					.CenterBlock_item_item
						.CenterBlock_item_inner
							.CenterBlockDesc
								.CenterBlock_num 03
								.CenterBlock_wrap
									.CenterBlock_title Любоваться красотой в&nbsp;окружении шедевров
									.CenterBlock_wrap_inner
										.CenterBlock_text &laquo;Серебряный фонтан&raquo; возводится в&nbsp;рамках ансамбля отреставрированной Алексеевской водонапорной станции. Современные корпуса будут находиться по&nbsp;соседству с&nbsp;образцами промышленной готики и&nbsp;станут продолжением прекрасной архитектурной традиции XIX&nbsp;века.
										.CenterBlock_btn
											a.CenterBlock_btn_link(href='#') подробнее

	.section.Section_5
		.AnimBlock
		.CenterBlockWrapper
			.CenterBlock
				.CenterBlock_item
					.CenterBlock_item_inner
						.CenterBlockDesc
							.CenterBlock_num 04
							.CenterBlock_wrap
								.CenterBlock_title Отдыхать&nbsp;от забот в&nbsp;полной безопасности
								.CenterBlock_wrap_inner
									.CenterBlock_text Изящная ограда XIX века не только является частью архитектурного ансамбля, но и обеспечит вам надежную защиту как от незваных гостей, так и от шума московских улиц. А на закрытой территории площадью 7,7 га будет расположен не только собственный парк, но и все, что необходимо для приятного времяпрепровождения и отдыха.
									.CenterBlock_btn
										a.CenterBlock_btn_link(href='#') подробнее
				.CenterBlock_item
					.CenterBlock_item_inner_wrap
					img.CenterBlock_item_pic(src="/img/backgrounds/5.jpg", alt="")

				.CenterFrame
					svg(viewBox='0 0 1920 962', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio="none")
						defs
						g(id='Главная', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
							g#sf_desktop_1920(transform='translate(-39.000000, -2219.000000)', stroke='none', stroke-width='0.5')
								g#3(transform='translate(0.000000, 2160.000000)')
									g#Ramka(transform='translate(40.000000, 60.000000)')
										polygon#Mask-Copy__5(points="41 41 41 1 1801 1 1801 41 1841 41.38 1841 921.53 1801 921 1801 961 41 961 41 921 1 921 1 41 41 41")
										rect#Rectangle-Copy__5(x='20', y='20', width='1800', height='920', stroke='none')

	.section.Section_6
		.AnimBlock
		.CenterBlockWrapper
			.CenterBlock
				.CenterBlock_item_media
				.CenterBlock_item
					.CenterBlock_item_item
						.CenterBlock_item_inner
							.CenterBlockDesc
								.CenterBlock_num 05
								.CenterBlock_wrap
									.CenterBlock_title Наслаждаться преимуществами современных технологий
									.CenterBlock_wrap_inner
										.CenterBlock_text В&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo; все подчинено идеалам красоты и&nbsp;эстетики, разумности и&nbsp;рациональности. Слаженная работа инженерных систем, высшая среди московских объектов бизнес-класса категория экологичности и&nbsp;энергоэффективности, современные материалы и&nbsp;технологии обеспечат вам жизнь самого высокого класса.
										.CenterBlock_btn
											a.CenterBlock_btn_link(href='#') подробнее

	.section.Section_7
		.Contacts_wrap
			.b-container
				.Contacts
					.Contacts_content
						.Contacts_title_wrap
							.Contacts_title Офис&nbsp;
								br
								| продаж
						.Contacts_item
							a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
							.Contacts_adress г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp; д.&nbsp;16,&nbsp;стр.&nbsp;10<br>пн.-вс. 09:00 - 21:00
								br
								| пн.-вс. 10:00 - 20:00
							.Contacts_btn
								a.Contacts_btn_link(href='#') Заказать звонок
					.Contacts_spec
		include includes/blocks/footer

block page_bottom

	include includes/blocks/index_popup
	script(src="/js/index.js")
	//script(src="/js/app.js")
