extends layouts/default_layout
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить', 'Рассрочка')

	.section.section--installment
		include ./includes/blocks/installment-content.pug
		+installment-content()
		//-.section.section--installment.section--block

block page_bottom
	script(src="/js/inner.js")