extends layouts/default_layout
block vars
	//- - var title = "Homepage";
	//- - var page = "homepage";
block content
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Страницы'
			}
		]})

	.section.section--block
		.b-container
		
			ul
				li
					a(href="main.html") Главная
				li
					a(href="longrid.html") Лонгрид
				li
					a(href="mortgage.html") Ипотека
				li
					a(href="mortgage-calculator.html") Ипотека - калькулятор
				li
					a(href="mortgage-order.html") Ипотека - форма
				li
					a(href="installment.html") Рассрочка
				li
					a(href="trade-in.html") Trade in
				li
					a(href="maternal-capital.html") Материнский капитал
				li
					a(href="scripts.html") Доп. страничка
				li
					a(href="about.html") О застройщике
				li
					a(href="options.html") Параметры
				li
					a(href="options-empty.html") Параметры пустая
				li
					a(href="diary.html") Ход строительства - Видео
				li
					a(href="diary-photo.html") Ход строительства - Фото
				li
					a(href="type-flat.html") Карточка типа квартиры
				li
					a(href="flat.html") Квартира
				li
					a(href="floor-map.html") Генеральный план этажа
				li
					a(href="masterpieces.html") В окружении шедевров
				li
					a(href="longread-tech.html") Лонгрид - Современные технологии
				li
					a(href="fortress.html") Крепость
				li
					a(href="genplan.html") Генеральный план улица
				li
					a(href="genplan-section.html") Генеральный план дом
				li
					a(href="commercial.html") Коммерческая недвижимость
				li
					a(href="commercial-section.html") Коммерческая недвижимость. Секция
				li
					a(href="floor-map-commercial.html") Коммерческая недвижимость. Этаж
				li
					a(href="commercial-room.html") Коммерческая недвижимость.Карточка.
				li
					a(href="mortgage-form-success.html") Ваша заявка отправлена!
			br
			br

