extends layouts/longreads_layout
block vars
	- var page = "Квартиры в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.page-header
		.page-header__inner-wrapper(style="background-image: url('/img/apartmentsFlats/topBg.jpg')", data-header-anim)
		.page-header__inner
			.page-header__border
			.page-header__border._inner
			.page-header__border._inner2(style="background-image: url('/img/apartmentsFlats/topBg.jpg')")
				.page-header__border-conners

		.page-header-tlt._flats
			.page-header-tlt__inner Квартиры в ЖК<br>«Серебряный фонтан»

		.page-header-descr(data-header-descr)
			span Подчеркивая уникальность
			em.page-header-descr__line

	.longread._flats(data-animation)
		.longread__section
			p.longread__lead Каждый новый день в ЖК «Серебряный фонтан» принесет вам исключительно удовольствие. Ведь мы разработали для вас десятки уникальных планировок. Небольшое количество квартир на этаже позволит вам оценить все преимущества приватности. Захватывающие виды на парк, центр города и Останкинскую телебашню из больших окон без горизонтальных переплетов подарят множество приятных мгновений. А свободные планировки обеспечат возможность создать свой собственный совершенно неповторимый мир.

			p.text-align_center
				a(href="").button Выбрать Квартиру

		.longread__section
			.longread__row
				.longread__col
					.longread__tlt Простор и удобство планировок

					.longread__txt В&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo; вы обязательно найдете свой идеальный вариант среди квартир от 1 до 6 комнат и от 39 до 182,5 м2. Все планировки тщательно продуманы.<br>Комнаты имеют не менее трех метров в ширину. Большие кухни и просторные гостиные ориентированы на видовые улицы. В семейных квартирах предусмотрено несколько санузлов.

				.longread__col._ornament._ornament768
					img(src="/img/apartmentsFlats/flats_01.jpg", alt="").longread__img

		.longread__section
			.longread__row._reverse._double
				.longread__col
					.longread__tlt Много света в каждой квартире

					.longread__txt Ваша спальня обязательно будет правильной формы. Во всех квартирах применяется увеличенное остекление. Ширина окон в зависимости от корпуса составляет от 1450 до 5000 мм, высота — от 1940 до 2150 мм. Просто представьте себе, сколько солнечного света подарят вам окна пятиметровой ширины.

				.longread__col
					img(src="/img/apartmentsFlats/flats_02.jpg", alt="").longread__img._fixRightMd

		.longread__section
			.longread__row._double
				.longread__col
					.longread__tlt Технологии гарантируют спокойствие

					.longread__txt В вашей квартире ничто не помешает вам отдыхать или работать. Дома, построенные по монолитной технологии с использованием навесного фасада, обладают повышенными показателями шумоизоляции. Окна с профилем Schuco и двухкамерными стеклопакетами надежно защитят ваш покой со стороны улицы.

				.longread__col._ornament
					img(src="/img/apartmentsFlats/flats_03.jpg", alt="").longread__img

		.longread__section
			.longread__row._reverse
				.longread__col
					.longread__tlt Каждой вещи — свое место

					.longread__txt Функциональность каждого квадратного метра вашей квартиры тщательно продумана. Вместительные гардеробные расположены в холлах квартир и в просторных спальнях. Они позволят вам правильно организовать хранение вещей и сделают вашу квартиру более эргономичной. Дополнительные санузлы можно использовать по назначению или оборудовать в них удобные постирочные. А если потребуется хранить сезонные и крупногабаритные вещи, в вашем распоряжении кладовые на территории паркинга.

				.longread__col
					img(src="/img/apartmentsFlats/flats_04.jpg", alt="").longread__img

		.longread__section
			.longread__row._double
				.longread__col
					.longread__tlt Собственные лоджии

					.longread__txt Лоджии подарят вам не только наслаждение отличными видами, но и возможность с комфортом проводить время за чашкой кофе или бокалом вина, поставив там столик и стулья для вас и ваших гостей. Только представьте, насколько комфортно каждый день проводить время на собственной веранде.

				.longread__col._ornament
					img(src="/img/apartmentsFlats/flats_05.jpg", alt="").longread__img

	.longread-footer
		.longread-info(style="background-image: url('/img/apartments/bg_etalon.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/app.js")
