extends layouts/longreads_layout
block vars
	- var page = "Апартаменты БИЗНЕС-КЛАССА в ЖК&laquo;Серебряный&nbsp;фонтан&raquo;";
block content
	.page-header
		.page-header__inner-wrapper(style="background-image: url('/img/apartments/apartments-bg.jpg')", data-header-anim)
		.page-header__inner
			.page-header__border
			.page-header__border._inner
			.page-header__border._inner2(style="background-image: url('/img/apartments/apartments-bg.jpg')")
				.page-header__border-conners

		.page-header-tlt
			.page-header-tlt__inner Апартаменты БИЗНЕС-КЛАССА<br> в ЖК «Серебряный фонтан»

		.page-header-descr(data-header-descr)
			span Выгодное решение<br> для жизни и инвестиций
			em.page-header-descr__line

	.longread(data-animation)
		.longread__section
			p.longread__lead Купить апартаменты в&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo;&nbsp;&mdash; значит получить возможность жить в&nbsp;современном комплексе бизнес-класса, заплатив за&nbsp;это значительно меньше, чем собственники квартир.

			p.text-align_center
				a(href="").button Выбрать апартаменты

		.longread__section
			.longread__row
				.longread__col
					.longread__tlt Абсолютная свобода решений

					.longread__txt В&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo; представлены апартаменты площадью от&nbsp;33,8 до&nbsp;93&nbsp;м2&nbsp;со свободными планировками. Вы&nbsp;можете совместить соседние помещения, перенести мокрые зоны, установить стены там, где сами желаете, и&nbsp;создать совершенно неповторимую планировку.

				.longread__col._ornament
					img(src="/img/apartments/apartments_01.jpg", alt="").longread__img

		.longread__section
			.longread__row._reverse._double
				.longread__col
					.longread__tlt Ощутимая выгода

					.longread__txt Стоимость апартаментов в&nbsp;среднем на&nbsp;15% ниже стоимости квартир. А&nbsp;условия покупки делают их&nbsp;еще доступнее. Например, на&nbsp;апартаменты распространяется рассрочка по&nbsp;ставке&nbsp;0% до&nbsp;сдачи корпуса в&nbsp;эксплуатацию.

				.longread__col
					img(src="/img/apartments/apartments_02.jpg", alt="").longread__img

		.longread__section._ornament
			.longread__row._double
				.longread__col
					.longread__tlt Низкая кадастровая стоимость

					.longread__txt Налог на&nbsp;квартиру и&nbsp;апартаменты рассчитывается исходя из&nbsp;кадастровой стоимости помещения. И, хотя сама ставка налога для апартаментов немного выше, их&nbsp;кадастровая стоимость значительно ниже.

				.longread__col
					img(src="/img/apartments/apartments_03.jpg", alt="").longread__img

		.longread__section
			.longread__row._reverse
				.longread__col
					.longread__tlt Полный доступ к инфраструктуре

					.longread__txt Жители апартаментов в&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo; смогут пользоваться всей социальной инфраструктурой Алексеевского района, ведь отсутствие постоянной регистрации уже давно не&nbsp;является препятствием для москвичей.

				.longread__col
					img(src="/img/apartments/apartments_04.jpg", alt="").longread__img

		.longread__section._gray
			.longread__row._tripple
				.longread__col
					.longread__tlt Здравоохранение

					.longread__txt Для того чтобы прикрепиться к&nbsp;ближайшей поликлинике, достаточно просто обратиться в&nbsp;регистратуру, имея с&nbsp;собой только паспорт и&nbsp;страховой полис ОМС.

				.longread__col
					.longread__tlt Образование

					.longread__txt Детские сады и&nbsp;школы принимают учеников и&nbsp;воспитанников в&nbsp;порядке очереди. Это правило позволит жителям ЖК&nbsp;&laquo;Серебряный фонтан&raquo; устроить детей в&nbsp;любую школу Алексеевского района. Кроме того, им&nbsp;будет доступен детский сад, построенный прямо на&nbsp;территории комплекса.

				.longread__col
					.longread__tlt Оформление автомобиля и&nbsp;получение водительского удостоверения

					.longread__txt Для осуществления данных действий вам также не&nbsp;требуется регистрация по&nbsp;месту жительства.

		.longread__section
			.longread__row._single
				.longread__col
					.longread__tlt Выбирайте лучшее

					.longread__txt._large Мы&nbsp;знаем, что у&nbsp;каждого покупателя есть свои индивидуальные требования к&nbsp;апартаментам. В&nbsp;ЖК&nbsp;&laquo;Серебряный фонтан&raquo; вы&nbsp;обязательно найдете предложение, которое удовлетворит их&nbsp;все.

		.longread__section
			.longread__row._reverse._custom
				.longread__col
					.longread__tlt Апартаменты в корпусе 2

					.longread__txt В&nbsp;корпусе 2&nbsp;вы можете выбрать апартаменты без отделки и&nbsp;с&nbsp;готовой отделкой. Причем под апартаменты с&nbsp;отделкой отведена целая секция. Это значит, что собственники смогут наслаждаться тишиной, спокойствием и&nbsp;чистотой, ведь ремонт у&nbsp;соседей также будет завершен к&nbsp;моменту выдачи ключей. В&nbsp;корпусе работает центральная система приточно-вытяжной вентиляции, а&nbsp;в&nbsp;апартаментах предусмотрено индивидуальное кондиционирование. <br>
						p
							a(href="").button Выбрать апартаменты

				.longread__col
					img(src="/img/apartments/apartments_05.jpg", alt="").longread__img

		.longread__section
			.longread__row._custom
				.longread__col
					.longread__tlt Апартаменты в корпусе 4

					.longread__txt В&nbsp;корпусе 4&nbsp;вам доступны апартаменты без отделки и&nbsp;апартаменты с&nbsp;предчистовой отделкой типа &laquo;White-Box&raquo; в&nbsp;отдельной секции. Покупатели последних смогут завершить ремонт быстрее&nbsp;и, при этом, выбрать для себя оптимальный вариант отделки. Центральные системы приточно-вытяжной вентиляции и&nbsp;кондиционирования обеспечивают жителей свежим воздухом и&nbsp;позволяют каждому создать для себя идеальный микроклимат.<br>

						p
							a(href="").button Выбрать апартаменты

				.longread__col
					img(src="/img/apartments/apartments_06.jpg", alt="").longread__img

	.longread-footer
		.longread-info(style="background-image: url('/img/apartments/bg_etalon.jpg')")
			a(href="").longread-info__inner
				span.longread-info__link Далее
				.longread-info__tlt ГРУППА «ЭТАЛОН»
					span ЗАСТРОЙЩИК С&nbsp;30-ЛЕТНЕЙ ИСТОРИЕЙ

		.longread-contacts
			.longread-contacts__inner
				.longread-contacts__tlt Офис<br> продаж
				.longread-contacts__block
					a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
					p.longread-contacts__txt г. Москва,<br>
						| ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
						| пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
					p
						a(href="").button Заказать звонок

	include ./includes/blocks/footer.pug

block page_bottom
	script(src="/js/app.js")
