extends layouts/longrid_layout
block vars
    - var page = "homepage";
block content
    //-.section.Section_1.Section_1--longread
        .AnimBlock

        .CenterBlockWrapper
            .CenterBlock
                .CenterBlock_img.CenterBlock_img--opacity
                .CenterBlock_innerwrap
                    h1.CenterBlock_title
                        span Старая добрая Москва
                    div.CenterBlockWrap
                        a(href='javascript:void(0);', data-anchor-target="center").CenterBlock_link.js-anchor-link Читать далее
        .CenterBlock_line
            span
    .section.Section_1.Section_1--longread
        .page-header
            .page-header__inner-wrapper(style="background-image: url('/img/backgrounds/longread-location/longread-girl.jpg')", data-header-anim)
            .page-header__inner
                .page-header__border
                .page-header__border._inner
                .page-header__border._inner2(style="background-image: url('/img/backgrounds/longread-location/longread-girl.jpg')")
                    .page-header__border-conners

            .page-header-tlt
                .page-header-tlt__inner
                    span Старая добрая Москва

            .page-header-descr(data-header-descr)
                a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
                em.page-header-descr__line

    .section.section-notfullpage.js-anchor-item(data-anchor-id="center")
        .section--environment-masterpieces
            .b-container
                include ./includes/blocks/center-event.pug
                +center-event()
        .section--destination
            //- .b-container
            include ./includes/blocks/destination.pug
            +destination()
        .section--location
            include ./includes/blocks/location.pug
            +location()
            div.ymaps(id="ymaps", class="ymaps", data-url="./json/ymaps.json")
            +b.map-info
                +e.wrapper
                    +e.column
                        include ./includes/blocks/checkbox.pug
                        +checkbox('map', 'map-school', '', 'js-yandex-filter').--map
                            include ./includes/blocks/icon.pug
                            +icon('img/icons/school.svg').--map
                            +e('span').text Школы /&nbsp;ВУЗы

                        +checkbox('map', 'map-shop', '', 'js-yandex-filter').--map
                            +icon('img/icons/shop.svg').--map
                            +e('span').text Супермаркеты /&nbsp;ТРЦ
                    +e.column
                        +checkbox('map', 'map-hospital', '', 'js-yandex-filter').--map
                            +icon('img/icons/hospital.svg').--map
                            +e('span').text Поликлиника

                        +checkbox('map', 'map-kinder', '', 'js-yandex-filter').--map
                            +icon('img/icons/kinder.svg').--map
                            +e('span').text Детский сад
                    +e.column

                        +checkbox('map', 'map-historical', '', 'js-yandex-filter').--map
                            +icon('img/icons/historical.svg').--map
                            +e('span').text Исторические здания

                        +checkbox('map', 'map-theater', '', 'js-yandex-filter').--map
                            +icon('img/icons/theater.svg').--map
                            +e('span').text Театры /&nbsp;Кино
                    +e.column
                        +checkbox('map', 'map-sport', '', 'js-yandex-filter').--map
                            +icon('img/icons/sport.svg').--map
                            +e('span').text Спортивные площадки

                        +checkbox('map', 'map-bank', '', 'js-yandex-filter').--map
                            +icon('img/icons/bank.svg').--map
                            +e('span').text Банки /&nbsp;Банкоматы
                +e.link-block
                    +e('a').link(href="javascript:void(0);").js-ymaps-filter-hide-all Скрыть все
                    +e('a').link(href="javascript:void(0);").js-ymaps-filter-show-all Показать все
        .section--environment
            include ./includes/blocks/environment-masterpieces.pug
            +environment-masterpieces()
        include ./includes/blocks/environment.pug
        +environment({'items':[{
                        'link'       : 'Далее',
                        'title'         : 'В окружении шедевров',
                        'text'       : 'Историческое наследие'
                        }
                    ]}).--longrid
        //-.Section_7.Section_7--demo.Section_7--longread
            .Contacts_wrap.Contacts_wrap--height.Contacts_wrap--longread
                .b-container
                    .Contacts
                        .Contacts_content.Contacts_content--height
                            .Contacts_title_wrap
                                .Contacts_title.Contacts_title--ofice Офис
                                    span продаж
                            .Contacts_item
                                a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
                                .Contacts_adress.Contacts_adress--height г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;1
                                    br
                                    | пн.-вс. 10:00 - 20:00
                                .Contacts_btn
                                    a.Contacts_btn_link(href='#') Заказать звонок
                        .Contacts_spec
            include ./includes/blocks/footer.pug
        .longread-footer
            .longread-contacts
                .longread-contacts__inner
                    .longread-contacts__tlt Офис<br> продаж
                    .longread-contacts__block
                        a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
                        p.longread-contacts__txt г. Москва,<br>
                            | ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
                            | пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
                        p
                            a(href="").button Заказать звонок

        include ./includes/blocks/footer.pug

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/longread-slide.js")
    script(src="/js/app.js")
