extends layouts/longrid_layout
block vars
    - var page = "Лонгрид - Современные технологии";
block content
    //-.section.Section_1.Section_1--longread.Section_1--longread-tech
        .AnimBlock

        .CenterBlockWrapper
            .CenterBlock
                .CenterBlock_img
                .CenterBlock_innerwrap
                    h1.CenterBlock_title
                        span Современные технологии
                    div.CenterBlockWrap
                        a(href='javascript:void(0);', data-anchor-target="read-next").CenterBlock_link.js-anchor-link Читать далее
        .CenterBlock_line
            span
    .section.Section_1.Section_1--longread
        .page-header
            .page-header__inner-wrapper(style="background-image: url('/img/backgrounds/longreadtech/slide-1920.jpg')", data-header-anim)
            .page-header__inner
                .page-header__border
                .page-header__border._inner
                .page-header__border._inner2(style="background-image: url('/img/backgrounds/longreadtech/slide-1920.jpg')")
                    .page-header__border-conners

            .page-header-tlt
                .page-header-tlt__inner
                    span Современные технологии

            .page-header-descr(data-header-descr)
                a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
                em.page-header-descr__line

    .section.section-notfullpage.js-anchor-item(data-anchor-id="read-next")
        .section--number-about.section--advantages
            .b-container.b-container--number-about.b-container--advantages
                include ./includes/blocks/longread-advantages.pug
                +longread-advantages()
        .section--tech.section--container
            .b-container.b-container--tech
                include ./includes/blocks/center-event.pug
                +center-event-tech("Кирпично-монолитное строительство", "/img/content/tech/image1-320.jpg", "/img/content/tech/image1-768.jpg", "/img/content/tech/image1-1024.jpg", "/img/content/tech/image1-1280.jpg")
                    p Преимущества традиционного монолитного строительства хорошо известны: дома, построенные по такой технологии обладают прекрасными звуко и теплоизоляционными свойствами, отличаются долговечностью и устойчивостью к неблагоприятным факторам окружающей среды. А отсутствие несущих стен или колонн внутри дома обеспечивает полную свободу при проектировании квартиры.
                    p Использование навесного вентилируемого фасада с кирпичной кладкой, во-первых, усиливает все указанные положительные свойства монолитного дома, во-вторых, дает возможность превратить дом в настоящее произведение искусства.
        .section--bim.section--container
            .b-container.b-container--bim
                +center-event-bim("BIM-технология", "/img/content/tech/image2-320.jpg", "/img/content/tech/image2-768.jpg", "/img/content/tech/image2-1024.jpg", "/img/content/tech/image2-1280.jpg").b-center-event--left.b-center-event--nomargin
                    p Технология информационного моделирования зданий или BIM-технология — это наиболее инновационный и надежный способ обеспечить неукоснительное соблюдение сроков строительства и гарантировать долголетие объекта. Перед тем, как начать строить, мы создали полноценную компьютерную модель «Серебряного фонтана». Вся дальнейшая работа, таким образом, выполняется строго по плану, не допускающему отклонений. Применение BIM-технологии — это одна из главных причин, по которым группа компаний«Эталон» никогда не допускала просрочек при строительстве объектов.
        .section--parking
            +b.center-event.--parking
                +e.image-wrapper
                    +e.image.--background.--mobile(src="/img/content/tech/image3-320.jpg", alt)
                    +e.image.--background.--tablet(src="/img/content/tech/image3-768.jpg", alt)
                    +e.image.--background.--laptop(src="/img/content/tech/image3-1024.jpg", alt)
                    +e.image.--background.--desktop(src="/img/content/tech/image3-1280.jpg", alt)
                .b-container.b-container--tech
                    +b('h2').title.--center-event.--parking Подземный паркинг
                    +e.wrapper.--parking
                        +e.column.--parking
                            +b.text.--parking
                                p Отсутствие проблем с парковкой и подъездом — естественная составляющая жизни в хорошем доме. Подземный паркинг охраняется, а спускаться к нему вы будете на быстром комфортабельном лифте KONE прямо от квартиры. Возможность бесконтактного доступа избавит вас от необходимости выходить из автомобиля на въезде и выезда. Удобные пандусы для въезда не замерзнут и зимой, а камеры, охрана и шлагбаумы избавят вас от малейшего беспокойства за сохранность автомобиля.
                        +e.column.--parking
                            +b.text.--parking
                                p Паркинг также оборудован системой видеонаблюдения и пожаротушения, так что вы сможете не испытывать ни малейшего беспокойства по поводу сохранности автомобиля.На территории паркинга будут расположены кладовые помещения для хранения сезонных вещей, шин и т.д. А установленные здесь же посты автомоек позволят вам сохранить автомобиль идеально чистым в любую погоду.
                                +b.flat-card__button.--parking(href="javascript:void(0);", title="Подробнее") Подробнее
        .section--tech.section--container
            .b-container.b-container--tech
                +center-event-bim("Система безопасности", "/img/content/tech/image4-320.jpg", "/img/content/tech/image4-768.jpg", "/img/content/tech/image4-1024.jpg", "/img/content/tech/image4-1280.jpg").b-center-event--security
                    p ЖК «Серебряный фонтан» спроектирован так, чтобы позволить его жителям избежать любого беспокойства. Внешнее ограждение, контрольно-пропускные пункты с профессиональными охранниками, система видеокамер на территории позволят вам без опасений отпускать детей играть на оборудованных детских площадках.
                    p Консьержи в каждом подъезде, домофония и наличие камер в местах общего пользования обеспечат 100%  уверенность в том, что нежелательный гость никогда не окажется на вашей территории.
                    p Да и за автомобиль, оставленный на подземном паркинге, оборудованном системами охраны и видеонаблюдения, вам никогда не придется беспокоиться.
        .section--tech.section--container
            .b-container.b-container--tech
                +center-event-zoom("Green ZOOM", "/img/content/green-zoom.png").b-center-event--zoom
        +b.center-event.--big
            +e('img').image-big--mobile(src="/img/content/tech/image5-320.jpg", alt)
            +e('img').image-big--tablet(src="/img/content/tech/image5-768.jpg", alt)
            +e('img').image-big--laptop(src="/img/content/tech/image5-1024.jpg", alt)
            +e('img').image-big--desktop(src="/img/content/tech/image5-1280.jpg", alt)
            +e('img').image-big--hd(src="/img/content/tech/image5-1920.jpg", alt)
        .section--tech
            .b-container.b-container--tech
                +b.center-event.--ecol
                    +e.column
                        +e.wrapper-column
                            +e("img").logo(src="/img/content/ecology.svg", alt="Экологичость")
                            +b.title.--ecol.--center-event Экологичость
                            +b.text.--ecol
                                p «Серебряный фонтан» экологичен во всех возможных смыслах.
                                p Мы заботимся о вашем здоровье. Все материалы, которые мы используем для внешней отделки здания и для отделки внутренних помещений, превосходят по своим свойствам принятые в России СанПины.
                                p Мы стремимся к тому, чтобы, живя недалеко от центра Москвы, вы могли каждый день наслаждаться свежим воздухом. Липовая аллея вокруг ЖК, многочисленные парки, до которых можно дойти пешком, ультрасовременная система вентиляции — все это обеспечит вам круглогодичный приток свежего воздуха.
                                p Мы бережем окружающую среду исторически значимого района Москвы. В доме будет использована система раздельного сбора и хранения отходов.
                        +e.image-wrapper.--ecol
                            +e('img').image.--ecol.--mobile(src="/img/content/tech/image6-320.jpg", alt="Экологичость")
                            +e('img').image.--ecol.--tablet(src="/img/content/tech/image6-768.jpg", alt="Экологичость")
                            +e('img').image.--ecol.--laptop(src="/img/content/tech/image6-1024.jpg", alt="Экологичость")
                            +e('img').image.--ecol.--desktop(src="/img/content/tech/image6-1280.jpg", alt="Экологичость")
                    +e.column
                        +e.wrapper-column
                            +e("img").logo--ecol(src="/img/content/energy.svg", alt="Энергоэффективность")
                            +b.title.--ecol.--center-event Энергоэффективность
                            +b.text.--ecol
                                p Никто не любит мерзнуть. Но мало кому по нраву и постоянный рост цен на коммунальные услуги. ЖК «Серебряный фонтан» обеспечит круглогодичную комфортную температуру во всем доме и, одновременно, экономию на плате за обогрев.
                                +e("p").number.--one Во-первых, фасады, красотой которых вы сможете наслаждаться, каждый раз подходя к дому, являются сложной и эффективной системой. Проветриваемый утеплитель, несущая стена из бетона, внешняя кладка — по теплоизоляционным свойствам все это соответствует кирпичной стене двухметровой толщины.
                                +e("p").number.--second Во-вторых, в рамках стандарта Green Zoom, вместе с современной системой приточно-вытяжной вентиляции в доме реализована рекуперация воздуха. Известно, что большая часть тепла из домов и квартир уходит в вентиляцию. Рекуперация обеспечивает возвращение тепловой энергии. Летом вам будет прохладно, а зимой — тепло. Кроме того, благодаря рекуперации, даже при закрытых окнах в вашей квартире всегда будет много свежего воздуха, пользу которого для здоровья невозможно переоценить. И все это — без сквозняков и пыли в квартирах и апартаментах!
                                +e("p").number.--third В-третьих, в доме, вместо энергоемкой и не всегда эффективной системы центрального кондиционирования, реализованы технические балконы на каждом этаже. На них легко установить личные кондиционеры или сплит-системы, которые позволят вам создавать в квартирах идеальный именно для вас микроклимат в любое время года. А для вашего удобства мы уже соединили технические балконы с квартирами специальными трубками, так что установка кондиционеров будет быстрой и не потребует проведения «грязных» строительных работ.
        .section--tech.section--container
            .b-container.b-container--tech
                include ./includes/blocks/center-event.pug
                +center-event-tech("Лифты", "/img/content/tech/image7-320.jpg", "/img/content/tech/image7-768.jpg", "/img/content/tech/image7-1024.jpg", "/img/content/tech/image7-1280.jpg").b-center-event--lift
                    p Во всех корпусах ЖК «Серебряный фонтан» будут установлены лифты KONE. Благодаря надежной системе звукоизоляции, тихому ходу и отсутствию лифтовых помещений, жителей не будет беспокоить шум от лифтов. Высокая скорость движения и малое количество соседей на этажах избавит вас от длительного ожидания лифтов даже в часы-пик.
                    p В каждом лифте будет реализована эстетичная декоративная отделка в стиле корпусов жилого комплекса. Не стоит забывать и о том, что на таком быстром, удобном и красивом лифте вы сможете спуститься как в красивое лобби, так и в подземный паркинг.
        include ./includes/blocks/environment.pug
        +environment({'items':[{
                        'link'       : 'Далее',
                        'title'         : 'ГРУППА «ЭТАЛОН»',
                        'text'       : 'ХОЛДИНГ С 30-ЛЕТНЕЙ ИСТОРИЕЙ'
                        }
                    ]}).--longrid.--tech
        //-.Section_7.Section_7--demo.Section_7--longread
            .Contacts_wrap.Contacts_wrap--height.Contacts_wrap--longread
                .b-container
                    .Contacts
                        .Contacts_content.Contacts_content--height
                            .Contacts_title_wrap
                                .Contacts_title.Contacts_title--ofice Офис
                                    span продаж
                            .Contacts_item
                                a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
                                .Contacts_adress.Contacts_adress--height г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;1
                                    br
                                    | пн.-вс. 10:00 - 20:00
                                .Contacts_btn
                                    a.Contacts_btn_link(href='#') Заказать звонок
                        .Contacts_spec
            include ./includes/blocks/footer.pug

        .longread-footer
            .longread-contacts
                .longread-contacts__inner
                    .longread-contacts__tlt Офис<br> продаж
                    .longread-contacts__block
                        a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
                        p.longread-contacts__txt г. Москва,<br>
                            | ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
                            | пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
                        p
                            a(href="").button Заказать звонок

        include ./includes/blocks/footer.pug

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/longread-slide.js")
    script(src="/js/app.js")
