extends layouts/longrid_layout
block vars
    - var page = "homepage";
block content
    //-.section.Section_1.Section_1--longread.Section_1--slide-masterpieces
        .AnimBlock

        .CenterBlockWrapper
            .CenterBlock
                .CenterBlock_img
                .CenterBlock_innerwrap
                    h1.CenterBlock_title
                        span В окружении шедевров
                    div.CenterBlockWrap
                        a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
        .CenterBlock_line
            span
    .section.Section_1.Section_1--longread
        .page-header
            .page-header__inner-wrapper(style="background-image: url('/img/backgrounds/slide-masterpieces-fullhd.jpg')", data-header-anim)
            .page-header__inner
                .page-header__border
                .page-header__border._inner
                .page-header__border._inner2(style="background-image: url('/img/backgrounds/slide-masterpieces-fullhd.jpg')")
                    .page-header__border-conners

            .page-header-tlt
                .page-header-tlt__inner
                    span В окружении шедевров

            .page-header-descr(data-header-descr)
                a(href='javascript:void(0);', data-anchor-target="read-next").js-anchor-link.CenterBlock_link Читать далее
                em.page-header-descr__line


    .section.section-notfullpage.js-anchor-item(data-anchor-id="read-next")
        .section--architecture
            include ./includes/blocks/hollywood-style.pug
            +hollywood-style({'items':[{
                    'title'       : 'Образец промышленной архитектуры XIX века',
                    'text'         : 'Комплекс Алексеевской водонапорной станции, внутри которого и&nbsp;строится ЖК&nbsp;&laquo;Серебряный фонтан&raquo;, представляет собой один из&nbsp;шедевров московской архитектуры. Построенный в&nbsp;1892 году под руководством архитектора М.К. Геппенера в&nbsp;рамках еще более крупного проекта обновления Мытищинского водопровода, он&nbsp;объединил черты псевдорусского стиля, краснокирпичной промышленной готики и&nbsp;эклектики.',
                    'image'       : 'img/backgrounds/masimg1-320.jpg',
                    'tablet'       : 'img/backgrounds/masimg1-768.jpg',
                    'laptop'       : 'img/backgrounds/masimg1-1024.jpg',
                    'desktop'       : 'img/backgrounds/masimg1-1280.jpg',
                    'fullhd'       : 'img/backgrounds/masimg1-1920.jpg',
                    'text_bottom'       : 'Комплекс имеет большую ценность, являясь частью культурного и&nbsp;исторического достояния столицы. Уже в&nbsp;конце XIX столетия Мытищинский водопровод представлял собой один из&nbsp;московских технических шедевров и&nbsp;снабжал водой сотни тысяч жителей Москвы, имея пропускную способность до&nbsp;1,5 миллионов ведер воды в&nbsp;сутки. Открытие Алексеевской водонапорной станции было событием настолько важным для Москвы, что на&nbsp;посвященной ему церемонии присутствовали не&nbsp;только губернатор города, но&nbsp;и&nbsp;Великий князь и&nbsp;Великая княгиня, а&nbsp;сам район надолго стал называться в&nbsp;народе &laquo;Водокачкой&raquo;.',                'paragraph'     :   'Во всех корпусах используются навесные вентилируемые фасады, что позволяет круглогодично создавать в квартирах и зонах общего пользования идеальный микроклимат.Таким образом, дома комплекса будут изящно вписаны в историческую ткань города, полностью отвечая, при этом, самым современным требованиям к домам бизнес-класса.',
                    'paragraph' :   'Сейчас Группа компаний &laquo;Эталон&raquo; создает в&nbsp;рамках ансамбля Алексеевской водонапорной станции жилой комплекс, который станет таким&nbsp;же инновационным и&nbsp;опережающим свое время, и, одновременно, осуществляет реставрацию, чтобы сохранить московское архитектурное наследие.',
                    'image_bottom'       : 'img/backgrounds/masimg2-320.jpg',
                    'tablet_bottom'       : 'img/backgrounds/masimg2-768.jpg',
                    'laptop_bottom'       : 'img/backgrounds/masimg2-1024.jpg',
                    'desktop_bottom'       : 'img/backgrounds/masimg2-1280.jpg',
                    'fullhd_bottom'       : 'img/backgrounds/masimg2-1920.jpg',
                }
            ]}).--architecture
        .section--fountain
            include ./includes/blocks/fountain.pug
            +fountain()
        .section--linden-alley
            include ./includes/blocks/linden-alley.pug
            +linden-alley()
        .section--architecture-and-facades
            include ./includes/blocks/hollywood-style.pug
            +hollywood-style({'items':[{
                            'title'       : 'Архитектура и фасады',
                            'text'         : 'ЖК «Серебряный фонтан» — это наша дань уважения московской архитектуре. Комплекс спроектирован таким образом, чтобы стать неотъемлемой и естественной частью района. Проект архитектурного бюро SPEECH под руководством архитектора с международным именем Сергея Чобана, призван продемонстрировать, как абсолютно современные дома способны превзойти признанные исторические памятники в части эстетики и проработки деталей.',
                            'image'       : 'img/backgrounds/architecture-image.png',
                            'tablet'       : 'img/backgrounds/architecture-tablet.png',
                            'laptop'       : 'img/backgrounds/architecture-laptop.png',
                            'desktop'       : 'img/backgrounds/architecture-desktop.png',
                            'fullhd'       : 'img/backgrounds/architecture-fullhd.png',
                            'text_bottom'       : 'Особенность композиционного решения домов в том, что здания разбиваются на секции. Для каждой разработан собственный неповторимый рисунок фасада, отсылающий как к классической краснокирпичной московской архитектуре XVII-XIX веков, так и к древнерусскому декору. Многочисленные детали: карнизы, рельефные орнаменты, выполненные из архитектурного бетона, наличники, горизонтальные пояса придают каждой секции глубокую индивидуальность. Вместе с тем, единство материалов и расцветок позволяет создать единый ансамбль, в котором органично сочетаются современные корпуса и старинные здания. Кроме того, на выходящих на улицу частях предусмотрена архитектурная подсветка.',
                            'paragraph'     :   'Во всех корпусах используются навесные вентилируемые фасады, что позволяет круглогодично создавать в квартирах и зонах общего пользования идеальный микроклимат.Таким образом, дома комплекса будут изящно вписаны в историческую ткань города, полностью отвечая, при этом, самым современным требованиям к домам бизнес-класса.',
                            'image_bottom'       : 'img/backgrounds/image-architecture.png',
                            'tablet_bottom'       : 'img/backgrounds/tablet-architecture.png',
                            'laptop_bottom'       : 'img/backgrounds/laptop-architecture.png',
                            'desktop_bottom'       : 'img/backgrounds/desktop-architecture.png',
                            'fullhd_bottom'       : 'img/backgrounds/fullhd-architecture.png',
                        }
            ]}).--architecture-and-facades
        .section--hollywood-style
            include ./includes/blocks/hollywood-style.pug
            +hollywood-style-flex({'items':[{
                        'title'       : 'Парадные в «голливудском» стиле',
                        'text'         : 'Парадные «Серебряного фонтана» соединили в себе изящество XIX века, великолепие «голливудского» стиля ар-деко и современный подход к выбору материалов. Различные в деталях, они совпадают по удобству и уровню обстановки.',
                        'image'       : 'img/backgrounds/hollywood-image.png',
                        'tablet'       : 'img/backgrounds/hollywood-tablet.png',
                        'laptop'       : 'img/backgrounds/hollywood-laptop.png',
                        'desktop'       : 'img/backgrounds/hollywood-desktop.png',
                        'fullhd'       : 'img/backgrounds/hollywood-fullhd.png',
                        'text_bottom'       : 'Светлые  пространства площадью не менее 150 м2 с потолками высотой 4,7 м радуют глаз стилизованными рисунками на полах из керамогранита и декоративной штукатуркой стен. Сквозь панорамные окна струится свет, отражаясь в стекле дизайнерских полутораметровых люстр, мозаике настенных панно по эскизам легендарного Эдгара Брандта и латуни декоративных решеток. Обитая бархатом мебель в холлах рядом со стойкой респешен позволит вашим гостям с удовольствием подождать, пока опытный консьерж сообщит вам об их визите. Колясочные и санузлы изящно оформлены и располагаются удобно и незаметно. А отсутствие ступеней и расположение парадных на уровне земли обеспечит мамам с колясками и представителям маломобильных групп населения безбарьерный доступ.',
                        'image_bottom'       : 'img/backgrounds/image-hollywood.png',
                        'tablet_bottom'       : 'img/backgrounds/tablet-hollywood.png',
                        'laptop_bottom'       : 'img/backgrounds/laptop-hollywood.png',
                        'desktop_bottom'       : 'img/backgrounds/desktop-hollywood.png',
                        'fullhd_bottom'       : 'img/backgrounds/fullhd-hollywood.png',
                    }
            ]})
        include ./includes/blocks/environment.pug
        +environment({'items':[{
                    'link'       : 'Далее',
                    'title'         : 'Ваша крепость, которую не хочется покидать',
                    'text'       : 'Территория'
                    }
                ]}).--longrid.--masterpieces
        //-.Section_7.Section_7--demo.Section_7--longread
            .Contacts_wrap.Contacts_wrap--height.Contacts_wrap--longread
                .b-container
                    .Contacts
                        .Contacts_content.Contacts_content--height
                            .Contacts_title_wrap
                                .Contacts_title.Contacts_title--ofice Офис
                                    span продаж
                            .Contacts_item
                                a.Contacts_tel(href="tel:+74954807800") 8&nbsp;495&nbsp;123-45-57
                                .Contacts_adress.Contacts_adress--height г.&nbsp;Москва, ул.&nbsp;Новоалексеевская,&nbsp;вл.&nbsp;1
                                    br
                                    | пн.-вс. 10:00 - 20:00
                                .Contacts_btn
                                    a.Contacts_btn_link(href='#') Заказать звонок
                        .Contacts_spec
            include ./includes/blocks/footer.pug

        .longread-footer
            .longread-contacts
                .longread-contacts__inner
                    .longread-contacts__tlt Офис<br> продаж
                    .longread-contacts__block
                        a(href="tel: +74951234557").longread-contacts__phone 8&nbsp;495 123-45-57
                        p.longread-contacts__txt г. Москва,<br>
                            | ул. Новоалексеевская, вл.&nbsp;16, стр.&nbsp;10<br>
                            | пн.-вс.&nbsp;09:00&nbsp;&mdash; 21:00
                        p
                            a(href="").button Заказать звонок

        include ./includes/blocks/footer.pug

block page_bottom
    script(src="/js/inner.js")
    script(src="/js/longread-slide.js")
    script(src="/js/app.js")
