extends layouts/default_layout
//- block vars
//-     - var title = "Maternal-capital";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Материнский капитал')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Материнский капитал'
			}
		]}).b-title-header--maternal-capital
	include ./includes/blocks/capital-block.pug
	+capital-block({'items':
		[{
			'mobile'		:	'/img/backgrounds/capital-mobile.jpg',
			'tablet'		:	'/img/backgrounds/capital-tablet.jpg',
			'laptop'		:	'/img/backgrounds/capital-laptop.jpg',
			'desktop'		:	'/img/backgrounds/capital-desktop.jpg',
			'text'		:	'Вы получили или в ближайшее время планируете получить материнский капитал? Используйте его, чтобы приобрести квартиру в ЖК «Летний сад».',
			'paragraph'	:	'Тем более, что это так просто!'
			}
		]})

	.section.section--maternity-capital-list.section--block.section--block
		.b-container
			+b.maternity-capital
				include ./includes/blocks/maternity-capital-list.pug
				+maternity-capital-list({'items': [{
						'icon_mod': 'b-frame-icon--apt',
						'title': 'Выберите квартиру',
						'number' : '01'
					}, {
						'icon_mod': 'b-frame-icon--dct-2',
						'title': 'Заключите договор',
						'number' : '03'
					}, {
						'icon_mod': 'b-frame-icon--docs',
						'title': 'Предоставьте',
						'text': ' в офис продаж необходимый пакет документов:',
						'number' : '02',
						'lists' : ['Паспорт;',
								  'Государственный сертификат на материнский (семейный) капитал;',
								  'Cписок документов от Пенсионного фонда для перечисления материнского капитала.']
					},{
						'icon_mod': 'b-frame-icon--docs-2',
						'title': 'Предоставьте',
						'text': ' в территориальный орган Пенсионного фонда пакет документов для перечисления средств материнского капитала на счет застройщика.',
						'number' : '04'
					}
				]})

				include ./includes/blocks/maternity-capital-content.pug
				+maternity-capital-content()

block page_bottom
	script(src="/js/inner.js")