extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Ипотека')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Ипотека',
			'lists'		:	['Ипотечный калькулятор','Оформить заявку'],
			'active'	:   '1'
			}
		]}).b-title-header--success

	.section.section--block
		.b-container
			include ./includes/blocks/mortgage-form.pug
			+mortgage-form--success()

block page_bottom
	script(src="/js/inner.js")