extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Ипотека')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Ипотека',
			'lists'		:	['Ипотечный калькулятор','Оформить заявку']
			}
		]})

	.section.section--block
		.b-container
			h2.b-title.b-title--mortgage Полное сопровождение сделки
			include ./includes/blocks/mortgage-advantage.pug
			+mortgage-advantage({'items': [{
					'icon_mod': 'b-frame-icon--personal-manager',
					'title': 'Персональный менеджер',
					'text': 'Подберет лучшую программу от 20+ банков'
				}, {
					'icon_mod': 'b-frame-icon--dct',
					'title': 'Сбор документов за вас',
					'text': 'Вам нужно только приехать в банк на подписание'
				}, {
					'icon_mod': 'b-frame-icon--decision',
					'title': 'Решение через 36 часов',
					'text': 'Благодаря долгосрочным отношениям с банками'
				}, {
					'icon_mod': 'b-frame-icon--rate',
					'title': 'Ставка от 6,7%',
					'text': 'Действительно от 6,7%!'
				}
			]})
	.section.section--block
		.b-container
			include ./includes/blocks/mortgage-bank.pug
			+mortgage-bank({'items': [{
					'image': '/img/content/unicredit.png',
					'procent': 'от 20%',
					'age': 'от 1 до 30 лет',
					'rate': 'от 9.25%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '1,30',
						'rate': '9.25'
					}
				}, {
					'image': '/img/content/absolut.png',
					'procent': 'от 15%',
					'age': 'до 30 лет',
					'rate': 'от 9.49%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,30',
						'rate': '9.49'
					}
				}, {
					'image': '/img/content/absolut.png',
					'procent': 'от 15%',
					'age': 'до 30 лет',
					'rate': 'от 12.49%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,30',
						'rate': '12.49',
					}
				}, {
					'image': '/img/content/alfa.png',
					'procent': 'от 20%',
					'age': 'до 30 лет',
					'rate': 'от 9.49%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '0,30',
						'rate': '9.49',
					}
				}, {
					'image': '/img/content/rossii.png',
					'procent': 'от 15%',
					'age': 'от 1 до 25 лет',
					'rate': 'от 9.49%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '1,25',
						'rate': '9.49',
					}
				}, {
					'image': '/img/content/vtb.png',
					'procent': 'от 15%',
					'age': 'от 1 до 30 лет',
					'rate': 'от 8.9%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '1,30',
						'rate': '8.9',
					}
				}, {
					'image': '/img/content/gasprom.png',
					'procent': 'от 20%',
					'age': 'до 30 лет',
					'rate': 'от 8.7%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '0,30',
						'rate': '8.7',
					}
				}, {
					'image': '/img/content/deltacredit.png',
					'procent': 'от 20%',
					'age': 'от 5 до 25 лет',
					'rate': 'от 9.5%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '5,25',
						'rate': '9.5',
					}
				}, {
					'image': '/img/content/metall.png',
					'procent': 'от 15%',
					'age': 'до 30 лет',
					'rate': 'от 9.2%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,30',
						'rate': '9.2',
					}
				}, {
					'image': '/img/content/otkrytie.png',
					'procent': 'от 20%',
					'age': 'до 30 лет',
					'rate': 'от 8.7%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '0,30',
						'rate': '8.7',
					}
				}, {
					'image': '/img/content/raif.png',
					'procent': 'от 20%',
					'age': 'от 5 до 25 лет',
					'rate': 'от 9.5%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '20',
						'age': '5,25',
						'rate': '9.5',
					}
				}, {
					'image': '/img/content/rossel.png',
					'procent': 'от 15%',
					'age': 'до 30 лет',
					'rate': 'от 9.2%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,30',
						'rate': '9.2',
					}
				}, {
					'image': '/img/content/sber.png',
					'procent': 'от 15%',
					'age': 'до 15 лет',
					'rate': 'от 6.7%',
					'rateMarked': true,
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,15',
						'rate': '6.7',
					}
				}, {
					'image': '/img/content/sber.png',
					'procent': 'от 15%',
					'age': 'до 30 лет',
					'rate': 'от 7.1%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '0,30',
						'rate': '7.1',
					}
				}, {
					'image': '/img/content/svyaz.png',
					'procent': 'от 15%',
					'age': 'от 3 до 30 лет',
					'rate': 'от 10.2%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '15',
						'age': '3,30',
						'rate': '10.2',
					}
				}, {
					'image': '/img/content/smp.png',
					'procent': 'от 0%',
					'age': 'от 3 до 25 лет',
					'rate': 'от 9.6%',
					'procentMarked': true,
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '0',
						'age': '3,25',
						'rate': '9.6',
					}
				}, {
					'image': '/img/content/smp.png',
					'procent': 'от 30%',
					'age': 'до 15 лет',
					'rate': 'от 14.5%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '30',
						'age': '0,15',
						'rate': '14.5',
					}
				}, {
					'image': '/img/content/sovkom.png',
					'procent': 'от 10%',
					'age': 'до 30 лет',
					'rate': 'от 8.9%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '10',
						'age': '0,30',
						'rate': '8.9',
					}
				}, {
					'image': '/img/content/smp.png',
					'procent': 'от 10%',
					'age': 'от 1 до 30 лет',
					'rate': 'от 9.2%',
					'sort': {
						'procent': 'fee',
						'age': 'loan-terms',
						'rate': 'rate'
					},
					'numb': {
						'procent': '10',
						'age': '1,30',
						'rate': '9.2',
					}
				}
			]}).--morgage
block page_bottom
	script(src="/js/inner.js")