extends layouts/default_layout
block vars
	- var title = "Ипотечный калькулятор";

block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Ипотека')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Ипотека',
			'lists'		:	['Ипотечный калькулятор','Оформить заявку'],
			'active'	:   '0'
			}
		]}).b-title-header--calculator
	.LayoutOfCalc
		.LayoutOfCalc_box
			.LayoutOfCalc_row.LayoutOfCalc_row-top
				.LayoutOfCalc_switcher
					.Switch
						button.Switch_label.Switch_label-left.Switch_label-active Сумма кредита
						button.Switch_label.Switch_label-right Ежемесячный платеж 
						label.Switch_toggler
							input.Switch_checkbox(type='checkbox' autocomplete="off")
							span.Switch_slider.Switch_slider-round
		.LayoutOfCalc_box#summCalcContainer
			.LayoutOfCalc_row.LayoutOfCalc_row-middle
				.LayoutOfCalc_filters
					include includes/blocks/MortgageSummCalc
					.LayoutOfCalc_callToAction.LayoutOfCalc_callToAction-n1
						a.Btn.Btn-block(href="/mortgage-order.html") Оформить&nbsp;заявку
				.LayoutOfCalc_results
					#summCalcBanklistContainer
					.LayoutOfCalc_callToAction.LayoutOfCalc_callToAction-n2
						a.Btn.Btn-block(href="/mortgage-order.html") Оформить&nbsp;заявку
					#summCalcFlatsContainer

		.LayoutOfCalc_box#paymentCalcContainer(style="display:none;")
			.LayoutOfCalc_row.LayoutOfCalc_row-middle
				.LayoutOfCalc_filters
					include includes/blocks/MortgagePaymentCalc
					.LayoutOfCalc_callToAction.LayoutOfCalc_callToAction-n1
						a.Btn.Btn-block(href="/mortgage-order.html") Оформить&nbsp;заявку
				.LayoutOfCalc_results
					#paymentCalcBanklistContainer
					.LayoutOfCalc_callToAction.LayoutOfCalc_callToAction-n2
						a.Btn.Btn-block(href="/mortgage-order.html") Оформить&nbsp;заявку
					#paymentCalcFlatsContainer

	script.
		window.banksMortgageConditions = [

		    {
		        "id": 881,
		        "name": "Господдержка",
		        "logo": "/tmp/logo_banks/small_item_881.svg",
		        "comment": "",
		        "rateFrom": 6,
		        "rateTo": 0,
		        "firstFrom": 20,
		        "firstTo": 100,
		        "yearsFrom": 3,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 1,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_881.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 485,
		        "name": "ВТБ",
		        "logo": "/tmp/logo_banks/small_item_485.svg",
		        "comment": "",
		        "rateFrom": 8.9,
		        "rateTo": 8.9,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_485.svg",
		            "licence": "Лицензия 1000 от 08.07.2015",
		            "content": ""
		        }
		    },
		    {
		        "id": 486,
		        "name": "Банк ФК Открытие",
		        "logo": "/tmp/logo_banks/small_item_486.svg",
		        "comment": "",
		        "rateFrom": 8.5,
		        "rateTo": 8.5,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_486.svg",
		            "licence": "Лицензия 2209  от 24.11.2014",
		            "content": ""
		        }
		    },
		    {
		        "id": 487,
		        "name": "Уралсиб банк",
		        "logo": "/tmp/logo_banks/small_item_487.svg",
		        "comment": "",
		        "rateFrom": 9.9,
		        "rateTo": 9.9,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 3,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_487.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 488,
		        "name": "СМП Банк",
		        "logo": "/tmp/logo_banks/small_item_488.svg",
		        "comment": "",
		        "rateFrom": 9.29,
		        "rateTo": 9.29,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_488.svg",
		            "licence": "Лицензия 3368  от 16.12.2014",
		            "content": ""
		        }
		    },
		    {
		        "id": 877,
		        "name": "Альфа-Банк",
		        "logo": "/tmp/logo_banks/small_item_877.svg",
		        "comment": "",
		        "rateFrom": 8.99,
		        "rateTo": 8.99,
		        "firstFrom": 20,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_877.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 879,
		        "name": "ДельтаКредит Банк",
		        "logo": "/tmp/logo_banks/small_item_879.svg",
		        "comment": "",
		        "rateFrom": 9.5,
		        "rateTo": 9.5,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_879.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 878,
		        "name": "Россельхозбанк",
		        "logo": "/tmp/logo_banks/small_item_878.svg",
		        "comment": "",
		        "rateFrom": 9.3,
		        "rateTo": 9.3,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_878.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 1021,
		        "name": "Совкомбанк",
		        "logo": "/tmp/logo_banks/small_item_1021.svg",
		        "comment": "",
		        "rateFrom": 10.4,
		        "rateTo": 10.4,
		        "firstFrom": 10,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_1021.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 493,
		        "name": "Сбербанк",
		        "logo": "/tmp/logo_banks/small_item_493.svg",
		        "comment": "",
		        "rateFrom": 9.5,
		        "rateTo": 9.5,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_493.svg",
		            "licence": "Лицензия 1481  от 11.08.2015",
		            "content": ""
		        }
		    },
		    {
		        "id": 483,
		        "name": "Абсолют Банк",
		        "logo": "/tmp/logo_banks/small_item_483.svg",
		        "comment": "",
		        "rateFrom": 10.24,
		        "rateTo": 10.24,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_483.svg",
		            "licence": "Лицензия 2306 от 11.08.2005",
		            "content": ""
		        }
		    },
		    {
		        "id": 489,
		        "name": "Газпромбанк",
		        "logo": "/tmp/logo_banks/small_item_489.svg",
		        "comment": "",
		        "rateFrom": 8.7,
		        "rateTo": 8.7,
		        "firstFrom": 20,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_489.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 490,
		        "name": "Райффайзенбанк",
		        "logo": "/tmp/logo_banks/small_item_490.svg",
		        "comment": "",
		        "rateFrom": 10.49,
		        "rateTo": 10.49,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_490.svg",
		            "licence": "Лицензия 3292  от 17.02.2015",
		            "content": ""
		        }
		    },
		    {
		        "id": 491,
		        "name": "Банк Возрождение",
		        "logo": "/tmp/logo_banks/small_item_491.svg",
		        "comment": "",
		        "rateFrom": 9.2,
		        "rateTo": 9.2,
		        "firstFrom": 10,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_491.svg",
		            "licence": "Лицензия 1439 от 22.01.2015",
		            "content": ""
		        }
		    },
		    {
		        "id": 492,
		        "name": "Связь банк",
		        "logo": "/tmp/logo_banks/small_item_492.svg",
		        "comment": "",
		        "rateFrom": 10.2,
		        "rateTo": 10.2,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 30,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_492.svg",
		            "licence": "Лицензия 1470  от 21.11.2014",
		            "content": ""
		        }
		    },
		    {
		        "id": 494,
		        "name": "Металлинвестбанк",
		        "logo": "/tmp/logo_banks/small_item_494.svg",
		        "comment": "",
		        "rateFrom": 9.2,
		        "rateTo": 9.2,
		        "firstFrom": 10,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_494.svg",
		            "licence": "Лицензия 2440  от 21.11.2014",
		            "content": ""
		        }
		    },
		    {
		        "id": 1157,
		        "name": "MTS Банк",
		        "logo": "/tmp/logo_banks/small_item_1157.svg",
		        "comment": "",
		        "rateFrom": 8.9,
		        "rateTo": 8.9,
		        "firstFrom": 15,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_1157.svg",
		            "licence": "",
		            "content": ""
		        }
		    },
		    {
		        "id": 512,
		        "name": "АК БАРС",
		        "logo": "/tmp/logo_banks/small_item_512.svg",
		        "comment": "",
		        "rateFrom": 9.1,
		        "rateTo": 9.1,
		        "firstFrom": 10,
		        "firstTo": 100,
		        "yearsFrom": 0,
		        "yearsTo": 25,
		        "isHinted": 0,
		        "mark": 0,
		        "popup":
		        {
		            "img": "/tmp/logo_banks/small_item_512.svg",
		            "licence": "",
		            "content": ""
		        }
		    }

		];
				


block page_bottom
	script(src="/js/mortgage-calculator.js")