extends layouts/legacy_layout.pug
//- block vars
//-     - var title = "Homepage";
block content

	include includes/blocks/hide_block

	.News
		.Title_wrapper.Title_wrapper-brownPattern
			h1.Title.Title-news новости

		.NewsList
			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_1
				.NewsCard_date 31 июля 2018 г.
				.NewsCard_title Ипотека за 1 день? Реально — в ЖК «Серебряный фонтан»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_2
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title Май — лучшее время для покупки квартиры
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_3
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title Бесплатная регистрация договоров от Группы «Эталон»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_4
				.NewsCard_date 29 июня 2018 г.
				.NewsCard_title Изменения по внесению платежей по ДДУ
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_5
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title Май — лучшее время для покупки квартиры
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_6
				.NewsCard_date 31 июля 2018 г.
				.NewsCard_title Группа «Эталон» приглашает на выставку «Недвижимость от лидеров»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_7
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title График работы офисов продаж в майские праздники
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_8
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title Покупайте сейчас — платите в следующем году! Только в ЖК Группы «Эталон»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_9
				.NewsCard_date 29 июня 2018 г.
				.NewsCard_title Бесплатная регистрация договоров от Группы «Эталон»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_10
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title Ипотека со ставкой 6%? Реально с Группой «Эталон»!
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_11
				.NewsCard_date 29 июня 2018 г.
				.NewsCard_title Обеспечьте спокойствие себе и безопасность своему автомобилю!
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

			a.NewsCard(href='/news_item.html')
				.NewsCard_img.NewsCard_img_12
				.NewsCard_date 30 апреля 2018 г.
				.NewsCard_title 2,5 миллиона в подарок от ЖК «Серебряный фонтан»
				.NewsCard_link_wrapper
					.NewsCard_link Подробнее
					.NewsCard_arrow

		.NewsCountBreadcrumbs
			a.NewsCount_button.NewsCount_button-prev(href='#')
			ul.NewsCountList
				li.NewsCountList_item.NewsCountList_item-active 1
				li.NewsCountList_item 2
				li.NewsCountList_item 3
			a.NewsCount_button.NewsCount_button-next(href='#')


	include includes/blocks/footer

block page_bottom
		script(src="/js/news.js")
