extends layouts/legacy_layout.pug
//- block vars
//-     - var title = "Homepage";
block content

	include includes/blocks/hide_block

	.News
		.Breadcrumbs_wrapper
			ul.Breadcrumbs
				li.Breadcrumbs_link
					a(href='/index.html')
				li
					a(href='/news.html').BreadcrumbsNews-Title Новости
				li.BreadcrumbsNewsItem-Title Ипотека за 1 день? Реально — в ЖК «Серебряный фонтан» Ипотека за 1 день? Реально — в ЖК «Серебряный фонтан» Ипотека за 1 день? Реально — в ЖК «Серебряный фонтан»


		.NewsItem
			.NewsItem_inner
				.NewsItem_date 31 июля 2018 г.
				.NewsItem_wrapper
					h1.NewsItem_title Ипотека за 1 день? Реально — в ЖК «Серебряный фонтан»

					.NewsItem_img(style="background: url(/img/news_item/1024/1.jpg) no-repeat 50%; background-size: 100%;")
					.NewsItem_text
						p Получить ипотеку на квартиру или апартаменты в ЖК «Серебряный фонтан» всегда было легко и удобно. А теперь это еще и невероятно быстро, ведь с 1 августа 2018 года Группа «Эталон» и АКБ «Абсолют-Банк» проводят беспрецедентную акцию.
						p Чтобы купить понравившуюся вам квартиру за 1 день, просто приезжайте в центральный офис Группы «Эталон» по адресу: г. Москва, Цветной бульвар, д. 22, стр. 1.
						p Наши специалисты быстро проверят все документы, передадут заявку в банк и в тот же день вы сможете подписать договор долевого участия. Уточняйте подробности по телефону или у менеджера отдела продаж «Серебряный фонтан».

					a.button(href="/genplan/") Выбрать апартаменты

	include includes/blocks/footer

block page_bottom
	script(src="/js/news.js")
