extends layouts/default_layout
block vars
    - var page = "options";
block content
    +b.options-page
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href="javascript:void(0);", title="Назад")
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")

                +e.tab-links
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="На генплане") На генплане
                    +e.item
                        +e.tab-link.-active(href="javscript:void(0);", title="По параметрам") По параметрам
        +e.container
            +e.filters
                +e.wrapper
                    include ./includes/blocks/list-checkbox.pug
                    +list-checkbox("Корпус", {'items':[
                        {
                            "id": "1",
                            "name": "housing-1",
                            "title": "1"
                        },{
                            "id": "2",
                            "name": "housing-2",
                            "title": "2"
                        },{
                            "id": "3",
                            "name": "housing-3",
                            "title": "3",
                            "disabled": "disabled"
                        },{
                            "id": "4",
                            "name": "housing-4",
                            "title": "4",
                            "disabled": "disabled"
                        }
                    ]}).--options
                    +list-checkbox("Количество комнат", {'items':[
                        {
                            "id": "2-1",
                            "name": "room-1",
                            "title": "Ст"
                        },{
                            "id": "2-2",
                            "name": "room-2",
                            "title": "1"
                        },{
                            "id": "2-3",
                            "name": "room-3",
                            "title": "2"
                        },{
                            "id": "2-4",
                            "name": "room-4",
                            "title": "3"
                        },{
                            "id": "2-5",
                            "name": "room-5",
                            "title": "4"
                        },{
                            "id": "2-6",
                            "name": "room-6",
                            "title": "5"
                        },{
                            "id": "2-7",
                            "name": "room-7",
                            "title": "6"
                        }
                    ]}).--options.--room
                    +b.calculator.--options.--floor
                        +e.wrap.js-slider-container
                            +e.text Этаж
                            +e.slider-ui.js-slider-ui(id="floor", max="19", min="5")
                            +e.top-info.--options
                                +e.item-info 5
                                +e.item-info 19
                        include ./includes/blocks/checkbox.pug
                        +checkbox("options-1", "options-1", "Кроме первого и последнего").--options.--mortgage-form
                    +b.calculator.--options
                        +e.wrap.js-slider-container
                            +e.text Площадь, м²
                            +e.slider-ui.js-slider-ui(id="area", max="182", min="39")
                            +e.top-info.--options
                                +e.item-info 39
                                +e.item-info 182
                    +b.calculator.--options.--last
                        +e.wrap.js-slider-container
                            +e.text Цена, ₽
                            +e.slider-ui.js-slider-ui(id="price", max="51 493 180", min="9 963 030")
                            +e.top-info.--options
                                +e.item-info 9 963 030
                                +e.item-info 51 493 180
                    +e.bottom-block.js-default-checkbox
                        +e.select.js-select-tablet
                            include ./includes/blocks/select.pug
                            +select("options", "js-select", "", "Апартаменты: не важно", "Апартаменты: да", "Апартаменты: нет")
                        +e.checkbox-block
                            +e.title Вид из окон
                            +checkbox("view-sokol", "options-sokol", "на Парк Сокольники","","На Сокольники").--options.--mortgage-form.--options-block
                            +checkbox("view-dvor", "options-dvor", "на внутреннее пространство двора","","На город").--options.--mortgage-form.--options-block
                            +checkbox("view-22", "options-22", "на липовую аллею","","На липовую аллею").--options.--mortgage-form.--options-block
                            +checkbox("view-33", "options-33", "на город","","На город").--options.--mortgage-form.--options-block
                        +e.more-checkbox.js-checkbox-permutation
                            +checkbox("options-44", "options-44", "Акционные квартиры").--options.--mortgage-form.--options-block
                            +checkbox("finish", "finish", "Отделка").--options.--mortgage-form.--options-block.--finish
            +e.content
                +e.top-info
                    +e.text-top Найдено
                        span 26 планировок
                    +e.list-view
                        +e.view-link(href="javascript:void(0);", title)
                            //- +e('img').image(src="img/icons/grid-view.svg", alt)
                            +e('svg').image(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 13 13')
                                path(fill-rule='evenodd', d='M0 0h3.277v3.277H0V0zm4.861 0H8.14v3.277H4.86V0zm4.862 0H13v3.277H9.723V0zM0 4.861h3.277V8.14H0V4.86zm4.861 0H8.14V8.14H4.86V4.86zm4.862 0H13V8.14H9.723V4.86zM0 9.723h3.277V13H0V9.723zm4.861 0H8.14V13H4.86V9.723zm4.862 0H13V13H9.723V9.723z')
                        +e.view-link.-active(href="javascript:void(0);", title)
                            //- +e('img').image(src="img/icons/line-view.svg", alt)
                            +e('svg').image(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 13 14')
                                path(fill-rule='evenodd', d='M0 0h13v3.277H0V0zm0 5h13v3.277H0V5zm0 5h13v3.277H0V10z')

                +e.filter-flat.--line
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[
                        {
                            "item": "План",
                            "class": "--first",
                        }, {
                            "item": "Тип",
                            "class": "--second",
                        }, {
                            "item": "Комн.",
                            "class": "--third -asc",
                            "link": "js-sort-link",
                            "dataSort": "type"
                        }, {
                            "item": "Площадь",
                            "class": "--four -asc",
                            "link": "js-sort-link",
                            "dataSort": 'area'
                        }, {
                            "item": "Цена, руб",
                            "class": "--five -asc",
                            "link": "js-sort-link",
                            "dataSort": 'price'
                        }, {
                            "item": "Акция",
                            "class": "--six -asc",
                            "link": "js-sort-link",
                            "dataSort": "descount"
                        }
                    ]}).--justify
                +e.flat-content.--line.js-sort-content
                    include ./includes/blocks/flat.pug
                    +flat-line({'items': [{
                            'src': '/img/content/flat02.png',
                            'procent':  '%',
                            'flat': 'Квартира',
                            'type': '1-комн.',
                            'size': '86,7 — 88,3 м<sup>2</sup>',
                            'cost': '13,0 — 13,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '1',
                                'area': '86.7,88.3',
                                'price': '13.0,13.5',
                                'descount': '1'
                            }
                        }
                        ,{
                            'src': '/img/content/flat02.png',
                            'procent':  '%',
                            'flat': 'Квартира',
                            'type': '3-комн.',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '3',
                                'area': '114.1,115.5',
                                'price': '26.4,26.5',
                                'descount': '1'
                            }
                        }
                        ,{
                            'src': '/img/content/flat04.png',
                            'procent':  '%',
                            'flat': 'Квартира',
                            'type': '2-комн.',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '2',
                                'area': '114.1,115.5',
                                'price': '26.4,26.5',
                                'descount': '1'
                            }
                        }
                        ,{
                            'src': '/img/content/flat03.png',
                            'flat': 'Квартира',
                            'type': '4-комн.',
                            'size': '181,5 — 184,5 м<sup>2</sup>',
                            'cost': '52,1 — 52,3 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '4',
                                'area': '181.5,184.5',
                                'price': '51.1,52.3',
                                'descount': '0'
                            }
                        },
                        {
                            'src': '/img/content/flat01.png',
                            'flat': 'Квартира',
                            'type': '2-комн.',
                            'size': '86,7 — 88,3 м<sup>2</sup>',
                            'cost': '13,0 — 13,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '2',
                                'area': '86.7,88.3',
                                'price': '13.0,13.5',
                                'descount': '0'
                            }
                        }
                        ,{
                            'src': '/img/content/flat02.png',
                            'procent':  '%',
                            'flat': 'Квартира',
                            'type': '3-комн.',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '3',
                                'area': '114.1,115.5',
                                'price': '26.4,26.5',
                                'descount': '1'
                            }
                        }
                        ,{
                            'src': '/img/content/flat04.png',
                            'procent':  '%',
                            'flat': 'Квартира',
                            'type': '1-комн.',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '1',
                                'area': '114.1,115.5',
                                'price': '26.4,26.5',
                                'descount': '1'
                            }
                        }
                        ,{
                            'src': '/img/content/flat03.png',
                            'flat': 'Квартира',
                            'type': '4-комн.',
                            'size': '181,5 — 184,5 м<sup>2</sup>',
                            'cost': '52,1 — 52,3 млн. ₽',
                            'sort': {
                                'type': 'type',
                                'area': 'area',
                                'price': 'price',
                                'descount': 'descount'
                            },
                            'numb': {
                                'type': '4',
                                'area': '181.5,184.5',
                                'price': '52.1,52.3',
                                'descount': '0'
                            }
                        }
                    ]}).--line.js-sort-item
                +e.pagination
                    include ./includes/blocks/pagination.pug
                    +pagination({'items': [
                        {
                            'number': '1',
                            'active': '-active'
                        },
                        {
                            'number': '2',
                        },
                        {
                            'number': '3',
                        }
                    ]}, '.-active').--options
block page_bottom
    script(src="/js/inner.js")