extends layouts/default_layout
block vars
    - var page = "options";
block content
    +b.options-page
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href="javascript:void(0);", title="Назад")
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                +e.tab-links
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="На генплане") На генплане
                    +e.item
                        +e.tab-link(href="javscript:void(0);", title="По параметрам") На секции
                    +e.item
                        +e.tab-link.-active(href="javscript:void(0);", title="По параметрам") По параметрам
        +e.container
            include ./includes/blocks/options-filter.pug
            //-+e.filters
                +e.wrapper.js-ajax.js-filter-event(data-url="/json/options.json", data-event="flats", data-type="get", data-load="true")
                    input(type="text", style="display: none;", id='offset', name='offset', value="0")
                    input(type="text", style="display: none;", id='limit', name='limit', value="20")
                    input(type="text", style="display: none;", id='sort', name='sort', value="")
                    input(type="text", style="display: none;", id='sortdir', name='sortdir', value="")
                    input(type="text", style="display: none;", id='action', name='action', value="get_typicals")
                    include ./includes/blocks/list-checkbox.pug
                    +list-checkbox("Корпус", {'items':[
                        {
                            "id": "1",
                            "name": "bld[]",
                            "title": "1"
                        },{
                            "id": "2",
                            "name": "bld[]",
                            "title": "2"
                        },{
                            "id": "3",
                            "name": "bld[]",
                            "title": "3",

                        },{
                            "id": "4",
                            "name": "bld[]",
                            "title": "4",

                        }
                    ]}).--options
                    +list-checkbox("Количество комнат", {'items':[
                        {
                            "id": "2-1",
                            "name": "bedrooms[]",
                            "title": "Ст"
                        },{
                            "id": "2-2",
                            "name": "bedrooms[]",
                            "title": "1"
                        },{
                            "id": "2-3",
                            "name": "bedrooms[]",
                            "title": "2"
                        },{
                            "id": "2-4",
                            "name": "bedrooms[]",
                            "title": "3"
                        },{
                            "id": "2-5",
                            "name": "bedrooms[]",
                            "title": "4"
                        },{
                            "id": "2-6",
                            "name": "bedrooms[]",
                            "title": "5"
                        },{
                            "id": "2-7",
                            "name": "bedrooms[]",
                            "title": "6"
                        }
                    ]}).--options.--room
                    +b.calculator.--options.--floor
                        +e.wrap.js-slider-container(data-range="true", data-not-fl="middle_floor_only")
                            +e.text Этаж
                            +e.slider-ui.js-slider-ui(id="floor", max="19", min="5")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="floor_from").js-min 5
                                    input(id="floor_from", type="text", style="display: none", name="floor_from", value="5")
                                +e.item-info
                                    span(data-target="floor_to").js-max 19
                                    input(id="floor_to", type="text", style="display: none", name="floor_to", value="19")
                        include ./includes/blocks/checkbox.pug
                        +checkbox("middle_floor_only", "middle_floor_only", "Кроме первого и последнего").--options.--mortgage-form
                    +b.calculator.--options
                        +e.wrap.js-slider-container(data-range="true")
                            +e.text Площадь, м²
                            +e.slider-ui.js-slider-ui(id="area", max="182", min="39")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="area_from").js-min 39
                                    input(id="area_from", type="text", style="display: none", name="area_from", value="39")
                                +e.item-info
                                    span(data-target="area_to").js-max 182
                                    input(id="area_to", type="text", style="display: none", name="area_to", value="182")
                    +b.calculator.--options.--last
                        +e.wrap.js-slider-container(data-range="true", data-price="true")
                            +e.text Цена, ₽
                            +e.slider-ui.js-slider-ui(id="price", max="51 493 180", min="9 963 030")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="price_from").js-min 9 963 030
                                    input(id="price_from", type="text", style="display: none", name="price_from", value="9963030")
                                +e.item-info
                                    span(data-target="price_to").js-max 51 493 180
                                    input(id="price_to", type="text", style="display: none", name="price_to", value="51493180")
                    +e.bottom-block.js-default-checkbox
                        +e.select.js-select-tablet
                            include ./includes/blocks/select.pug
                            +select({id:"options",name:"apts"}, "js-select", "", "Апартаменты: не важно", "Апартаменты: да", "Апартаменты: нет")
                        +e.checkbox-block
                            +e.title Вид из окон
                            +checkbox("view_win[]", "options-sokol", "на Парк Сокольники","","options-sokol").--options.--mortgage-form.--options-block
                            +checkbox("view_win[]", "options-dvor", "на внутреннее пространство двора","","options-dvor").--options.--mortgage-form.--options-block
                            +checkbox("view_win[]", "options-22", "на липовую аллею","","options-22").--options.--mortgage-form.--options-block
                            +checkbox("view_win[]", "options-33", "на город","","options-33").--options.--mortgage-form.--options-block
                        +e.more-checkbox.js-checkbox-permutation
                            +checkbox("discount", "discount", "Акционные квартиры").--options.--mortgage-form.--options-block
            +e.content
                +e.progress
                +e.top-info
                    +e.text-top Найдено
                        span.js-option-flat-count 26
                        span планировок
                    +e.list-view
                        +e.view-link.js-link-list-title.-active(href="javascript:void(0);", title, data-type-show="tile")
                            +e('svg').image(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 13 13')
                                path(fill-rule='evenodd', d='M0 0h3.277v3.277H0V0zm4.861 0H8.14v3.277H4.86V0zm4.862 0H13v3.277H9.723V0zM0 4.861h3.277V8.14H0V4.86zm4.861 0H8.14V8.14H4.86V4.86zm4.862 0H13V8.14H9.723V4.86zM0 9.723h3.277V13H0V9.723zm4.861 0H8.14V13H4.86V9.723zm4.862 0H13V13H9.723V9.723z')
                        +e.view-link.js-link-list-title(href="javascript:void(0);", title, data-type-show="line")
                            +e('svg').image(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 13 14')
                                path(fill-rule='evenodd', d='M0 0h13v3.277H0V0zm0 5h13v3.277H0V5zm0 5h13v3.277H0V10z')
                +e.filter-flat.js-head-rep(data-type="tile")
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[
                        {
                            "item": "Комн.",
                            "link": "js-sort-link",
                            "dataSort": "type",
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Площадь",
                            "link": "-down js-sort-link",
                            "dataSort": 'area',
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Цена, руб",
                            "link": "js-sort-link",
                            "dataSort": 'price',
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Отделка",
                            "link": "js-sort-link",
                            "dataSort": "finish",
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Акция",
                            "link": "js-sort-link",
                            "dataSort": "discount",
                            "dataParam": "true",
                            "dataServer": "true",
                        }
                    ]}).--left
                +e.filter-flat.--line.js-head-rep(style="display: none;", data-type="line")
                    include ./includes/blocks/filter-flat.pug
                    +filter-flat({'items':[
                        {
                            "item": "План",
                            "class": "--first",
                        }, {
                            "item": "Тип",
                            "class": "--second",
                        }, {
                            "item": "Комн.",
                            "class": "--third",
                            "link": "js-sort-link",
                            "dataSort": "type",
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Площадь",
                            "class": "--four  --down",
                            "link": "-down js-sort-link",
                            "dataSort": 'area',
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Цена, руб",
                            "class": "--five",
                            "link": "js-sort-link",
                            "dataSort": 'price',
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Отделка",
                            "class": "--six",
                            "link": "js-sort-link",
                            "dataSort": "finish",
                            "dataParam": "true",
                            "dataServer": "true",
                        }, {
                            "item": "Акция",
                            "class": "--seven",
                            "link": "js-sort-link",
                            "dataSort": "discount",
                            "dataParam": "true",
                            "dataServer": "true",
                        }
                    ]}).--justify
                +e.flat-content.js-option-container.js-sort-content
                    include ./includes/blocks/flat.pug
                    +flat({'items': [{
                            'src': '/img/content/flat01.png',
                            'type': '2-к кв. Тип 12325435',
                            'size': '86,7 — 88,3 м<sup>2</sup>',
                            'cost': '13,0 — 13,5 млн. ₽',
                            "apts":0,
                            'numb': {
                                'flat': '2',
                                'size': '86.7,88.3',
                                'cost': '13.0,13.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat02.png',
                            'procent':  '%',
                            'type': '3-к кв. Тип 12325435',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '3',
                                'size': '114.1,115.5',
                                'cost': '26.4,26.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat04.png',
                            'procent':  '%',
                            'type': '2-к кв. Тип 12325435',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '2',
                                'size': '114.1,115.5',
                                'cost': '26.4,26.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat03.png',
                            'type': '6-к кв. Тип 12325435',
                            'size': '181,5 — 184,5 м<sup>2</sup>',
                            'cost': '52,1 — 52,3 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '6',
                                'size': '181.5,184.5',
                                'cost': '52.1,52.3'
                            }
                        },
                        {
                            'src': '/img/content/flat01.png',
                            'type': '2-к кв. Тип 12325435',
                            'size': '86,7 — 88,3 м<sup>2</sup>',
                            'cost': '13,0 — 13,5 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '2',
                                'size': '86.7,88.3',
                                'cost': '13.0,13.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat02.png',
                            'procent':  '%',
                            'type': '3-к кв. Тип 12325435',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '3',
                                'size': '114.1,115.5',
                                'cost': '26.4,26.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat04.png',
                            'procent':  '%',
                            'type': '2-к кв. Тип 12325435',
                            'size': '114,1 — 115,5 м<sup>2</sup>',
                            'cost': '26,4— 26,5 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '2',
                                'size': '114.1,115.5',
                                'cost': '26.4,26.5'
                            }
                        }
                        ,{
                            'src': '/img/content/flat03.png',
                            'type': '6-к кв. Тип 12325435',
                            'size': '181,5 — 184,5 м<sup>2</sup>',
                            'cost': '52,1 — 52,3 млн. ₽',
                            "apts": 0,
                            'numb': {
                                'flat': '6',
                                'size': '181.5,184.5',
                                'cost': '52.1,52.3'
                            }
                        }
                    ]}).--options.js-option-item
                +e.pagination
                    +b('ul').pagination.--options.js-pagination-cont
                    //- include ./includes/blocks/pagination.pug
                    //- +pagination({'items': [
                    //-     {
                    //-         'number': '1',
                    //-         'active': '-active'
                    //-     },
                    //-     {
                    //-         'number': '2',
                    //-     },
                    //-     {
                    //-         'number': '3',
                    //-     }
                    //- ]}, '.-active').--options.js-pagination-cont

block page_bottom
    script(src="/js/inner.js")
