extends layouts/default_layout
//- block vars
//-     - var title = "Parking refund";
block content
    include ./includes/blocks/breadcrumbs.pug
    +breadcrumbs('Как купить','Ипотека')
    include ./includes/blocks/title-header.pug
    +title-header({
        'items':
            [{
                'title': 'Правила возврата средств при отказе от услуги',
                'lists': [],
                'active': '1'
            }
            ]
    })

    .section.section--block
        .b-container
            .ParkingRefund
                <p>Право потребителя на расторжение договора об оказании услуги регламентируется статьей 32 федерального закона &laquo;О защите прав потребителей&raquo;.</p>
                <ul>
                <li>Потребитель вправе расторгнуть договор об оказании услуги в любое время, уплатив исполнителю часть цены пропорционально части оказанной услуги до получения извещения о расторжении указанного договора и возместив исполнителю расходы, произведенные им до этого момента в целях исполнения договора, если они не входят в указанную часть цены услуги.</li>
                <li>Потребитель при обнаружении недостатков оказанной услуги вправе по своему выбору потребовать:</li>
                <li>безвозмездного устранения недостатков;<br /> соответствующего уменьшения цены;<br /> возмещения понесенных им расходов по устранению недостатков своими силами или третьими лицами;</li>
                </ul>
                <p></p>
                <ul>
                <li>Потребитель вправе предъявлять требования, связанные с недостатками оказанной услуги, если они обнаружены в течение гарантийного срока, а при его отсутствии в разумный срок, в пределах двух лет со дня принятия оказанной услуги.</li>
                <li>Исполнитель отвечает за недостатки услуги, на которую не установлен гарантийный срок, если потребитель докажет, что они возникли до ее принятия им или по причинам, возникшим до этого момента.</li>
                </ul>

block page_bottom
    script(src="/js/inner.js")