extends layouts/default_layout
block vars
    - var title = "Паркинг";
block content
    .Title_wrapper.Title_wrapper-brownPattern
        h1.Title.Title-bold #{title}
    .Box
        section.Parking
            .Parking_topBlock
                .Parking_nav
                    .DropNav
                        .DropNav_item
                            .DropNav_itemText Корпус 1
                            .DropNav_menu
                                a.DropNav_link(href="#") -1 этаж
                                a.DropNav_link(href="#") -2 этаж

                        .DropNav_item
                            .DropNav_itemText Корпус 2
                            .DropNav_menu
                                a.DropNav_link(href="#") -1 этаж
                                a.DropNav_link(href="#") -2 этаж

                        .DropNav_item
                            .DropNav_itemText Корпус 3
                            .DropNav_menu
                                a.DropNav_link(href="#") -1 этаж
                                a.DropNav_link(href="#") -2 этаж

                        .DropNav_item
                            .DropNav_itemText Корпус 4
                            .DropNav_menu
                                a.DropNav_link(href="#") -1 этаж
                                a.DropNav_link(href="#") -2 этаж
                .Parking_table
                    table.Table(style="display:none")
                        thead
                            tr.Table_tr
                                th.Table_th Паркинг
                                th.Table_th Площадь
                                th.Table_th Цена
                        tbody
                            //- each num in [0,1,2,3,4,5,6,7,8,9]
                                tr.Table_tr
                                    td.Table_td.Table_td-centerTxt №12#{num}
                                    td.Table_td.Table_td-centerTxt 17,#{num}5 м²
                                    td.Table_td.Table_td-centerTxt 14,#{num} млн ₽

                .Parking_tablePagination

                .Parking_desc
                    p 2-уровневый подземный паркинг ЖК «Серебряный фонтан» — это надежная круглогодичная защита вашего автомобиля.
                    p Скоростные лифты спускаются от квартир непосредственно в отапливаемые помещения парковки. Тепловые завесы на въездах не позволят пандусу превратиться в ледяную горку даже самой холодной зимой. Надежная система безопасности, собственные посты автомоек и кладовые помещения дополняют картину бизнес-класса.
                .Parking_quikLinks
                    h5.Parking_blockTitle PDF паркинг, корпус 1:
                    .Parking_quikLinksButtonsWrap
                        a.Btn.Btn-ghost.Btn-txt2(href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" target="_blank")
                            include includes/svg/adobe.svg
                            | &nbsp;&nbsp;
                            span -1 этаж
                        a.Btn.Btn-ghost.Btn-txt2(href="https://www.adobe.com/support/products/enterprise/knowledgecenter/media/c4611_sample_explain.pdf" target="_blank")
                            include includes/svg/adobe.svg
                            | &nbsp;&nbsp;
                            span -2 этаж
                    .Parking_quikLinksActionButtonWrap
                        button.Btn.Btn-ligth#parkingCallMeButton(type="button")
                            span.Btn_inner.Btn_inner-x1 Получить консультацию
            .Parking_scheme
                .Scheme#parkingScheme
                    .Scheme_svgContainer
                        include includes/blocks/Scheme/1k-1fl.svg
                        //- include includes/blocks/Scheme/1k-2fl.svg
                        //- include includes/blocks/Scheme/2k-1fl.svg
                        //- include includes/blocks/Scheme/2k-2fl.svg
                        //- include includes/blocks/Scheme/4k-1fl.svg
                        //- include includes/blocks/Scheme/4k-2fl.svg
                    .Scheme_controls
                        button.Scheme_btn.Scheme_btn-plus
                            include includes/svg/plus_icon.svg
                        .Scheme_buttonDiviver
                        button.Scheme_btn.Scheme_btn-minus
                            include includes/svg/minus_icon.svg
                    .Scheme_bottom
                        .Legend.Legend-center
                            .Legend_item
                                .Legend_color(style="background-color:#dacdb0")
                                .Legend_label В продаже
                            .Legend_item
                                .Legend_color(style="background-color:#8a97ba")
                                .Legend_label Забронировано
                            .Legend_item
                                .Legend_color(style="background-color:#cccccc")
                                .Legend_label Продано

    #parkingGetInfoModal(style="display:none;")
        .Modal
            .Modal_border
              .Modal_corner    
              .Modal_corner
              .Modal_corner
              .Modal_corner
            .Modal_inner.Modal_inner-withForm
              h3.Modal_head Я хочу получить больше информации об этом парковочном месте
              .Modal_content
                .ModalDefList
                  .ModalDefList_item
                    .ModalDefList_label Паркинг   
                    .ModalDefList_value 
                        |№
                        span#numValParkingModal
                  .ModalDefList_item
                    .ModalDefList_label Цена
                    .ModalDefList_value
                      span#priceValParkingModal
                      |  млн ₽
                  .ModalDefList_item
                    .ModalDefList_label Площадь      
                    .ModalDefList_value
                      span#areaValParkingModal
                      |м
                      sup 2
                form.js-validate-form(data-url='/json/form_parking.json' method="GET")
                  input(type="hidden" name="parking-num")#parking_modal_num
                  input(type="hidden" name="parking-house")#parking_modal_house
                  .b-input-group
                    input.b-input-group__input-field.js-only-char#parking_modal_name(name='name' autocomplete='off' required minlength='1')    
                    label.b-label.b-label--input-group(for='parking_modal_name') Имя *
                  .b-input-group
                    input.b-input-group__input-field.js-phone#parking_modal_phone(type='tel' name='phone' autocomplete='off' required minlength='1' maxlength='18')
                    label.b-label.b-label--input-group(for='parking_modal_phone') Телефон *
                  .b-checkbox.b-checkbox--modal-form
                    input.b-checkbox__input.b-checkbox__input--mortgage-form#parking_modal_agree(type='checkbox', name='agree', required)
                    label.b-checkbox__name.b-checkbox__name--mortgage-form(for='parking_modal_agree')
                      span.b-checkbox__text Согласие на 
                        a.b-checkbox__agree(href='/privacy/', target='_blank') обработку персональных данных
                  .b-mortgage-form__note-wrapper
                    span.b-mortgage-form__note * — поля, обязательные для заполнения 
                  button.b-button ОТПРАВИТЬ
            .Modal_inner.Modal_inner-formSuccess(style="display:none;")
                h3.Modal_head Спасибо!#[br]Мы свяжемся с вами #[br.hidden-xs] в ближайшее время
                br
                button.b-button(type='button', data-fancybox-close='') ОК
                br
            button.Modal_closeBtn(type='button', data-fancybox-close='')



block page_bottom
    script(src="/js/parking.js")
