extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
    include ./includes/blocks/breadcrumbs.pug
    +breadcrumbs('Как купить','Ипотека')
    include ./includes/blocks/title-header.pug
    +title-header({
        'items':
            [{
                'title': 'Онлайн-оплата паркинга',
                'lists': ['Сообщить о проблеме'],
                'active': '1'
            }
            ]
    })

    .section.section--block
        .b-container
            .payment__text На этой странице вы можете быстро и без комиссии осуществить платеж по любому договору на покупку квартиры, машиноместа в паркинге или коммерческого помещения в ЖК «Серебряный фонтан» с помощью банковской карты. Срок зачисления денежных средств составляет до 3 банковских дней.

            include ./includes/blocks/payment-form.pug
            +payment-form()

block page_bottom
    script(src="/js/inner.js")