extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
    include ./includes/blocks/breadcrumbs.pug
    +breadcrumbs('Как купить','Ипотека', 'Оформить заявку')
    include ./includes/blocks/title-header.pug

    .section.section--block.section--form.js-anchor-item(data-anchor-id="make-request")
        .b-container
            h1.b-title.b-title--form Сообщить о проблеме
            include ./includes/blocks/problem-form.pug
            +problem-form()

block page_bottom
    script(src="/js/inner.js")
