extends layouts/default_layout
block vars
	- var title = "Скрипты от Malich";
block content
	section
		h1 Карта с фильтрами
		div(id="ymaps", class="ymaps", data-url="./json/ymaps.json")
		+b.map-info
			+e.wrapper
				+e.column
					include ./includes/blocks/checkbox.pug
					+checkbox('map', 'map-school', '', 'js-yandex-filter').--map
						include ./includes/blocks/icon.pug
						+icon('img/icons/school.svg').--map
						+e('span').text Школы /&nbsp;ВУЗы

					+checkbox('map', 'map-shop', '', 'js-yandex-filter').--map
						+icon('img/icons/shop.svg').--map
						+e('span').text Супермаркеты /&nbsp;ТРЦ
				+e.column
					+checkbox('map', 'map-hospital', '', 'js-yandex-filter').--map
						+icon('img/icons/hospital.svg').--map
						+e('span').text Поликлиника

					+checkbox('map', 'map-kinder', '', 'js-yandex-filter').--map
						+icon('img/icons/kinder.svg').--map
						+e('span').text Детский сад
				+e.column

					+checkbox('map', 'map-historical', '', 'js-yandex-filter').--map
						+icon('img/icons/historical.svg').--map
						+e('span').text Исторические здания

					+checkbox('map', 'map-theater', '', 'js-yandex-filter').--map
						+icon('img/icons/theater.svg').--map
						+e('span').text Театры /&nbsp;Кино
				+e.column
					+checkbox('map', 'map-sport', '', 'js-yandex-filter').--map
						+icon('img/icons/sport.svg').--map
						+e('span').text Спортивные площадки

					+checkbox('map', 'map-bank', '', 'js-yandex-filter').--map
						+icon('img/icons/bank.svg').--map
						+e('span').text Банки /&nbsp;Банкоматы
			+e.link-block
				+e('a').link(href="javascript:void(0);").js-ymaps-filter-hide-all Скрыть все
				+e('a').link(href="javascript:void(0);").js-ymaps-filter-show-all Показать все
	hr
	section
		h1 Форма "Оформление заявки"
		form(method="post").js-validate-form
			div
				label(for="comment-name") Имя *
				input(type="text", name="comment-name", id="comment-name", required).js-only-char
			div
				label(for="comment-tel") Телефон *
				input(type="tel", name="comment-tel", id="comment-tel", required).js-phone
			div
				input(type="checkbox", name="comment-check", id="comment-check")
				label(for="comment-check") Согласиться на обработку персональных данных
			div
				textarea(name="comment-textarea", cols="30", rows="10")
			div
				button Отправить
	hr
	section
		h1 Ползунок, инпут-ренджед, слайдер-рендж
		include includes/blocks/slider-range.pug
		//- Пример из vrz
		//- Года
		//- +slider-range({
		//- 	id: 'test-range-slider',
		//- 	type: 'text',
		//- 	name: 'name-test-range-slider',
		//- 	currentValue: 5,
		//- 	minValue: 0.5,
		//- 	maxValue: 7,
		//- 	prefix: 'год,года,лет',
		//- 	values: '0.5,1.5,2,3,4,5,7',
		//- 	year: 'true',
		//- 	numbers: [
		//- 		{
		//- 			text: 1,
		//- 			classes: 'js-min-year'
		//- 		},
		//- 		{
		//- 			text: 2,
		//- 			classes: 'js-mid-year'
		//- 		},
		//- 		{
		//- 			text: 3,
		//- 			classes: 'js-max-year'
		//- 		}
		//- 	]
		//- })
		//- Деньги
		//- +slider-range({
		//- 	id: 'test-range-slider',
		//- 	type: 'text',
		//- 	name: 'name-test-range-slider',
		//- 	currentValue: 500000,
		//- 	minValue: 30000,
		//- 	maxValue: 10000000,
		//- 	step: 200000,
		//- 	prefix: '',
		//- 	numbers: [{
		//- 			text: 1,
		//- 			classes: 'js-min-money'
		//- 		},{
		//- 			text: 2,
		//- 			classes: 'js-mid-money'
		//- 		},{
		//- 			text: 3,
		//- 			classes: 'js-max-money'
		//- 	}],
		//- 	select: {
		//- 		name: 'select-name',
		//- 		classes:'js-select-input',
		//- 		items: [{
		//- 				prefix: "₽",
		//- 				currentValue: 500000,
		//- 				minValue: 30000,
		//- 				maxValue: 10000000,
		//- 				step: 200000
		//- 			},{
		//- 				prefix: "$",
		//- 				currentValue: 7500,
		//- 				minValue: 8000,
		//- 				maxValue: 150000,
		//- 				step: 3000
		//- 			},{
		//- 				prefix: "€",
		//- 				currentValue: 6500,
		//- 				minValue: 6500,
		//- 				maxValue: 130000,
		//- 				step: 2600
		//- 			}
		//- 		]
		//- 	}
		//- })
		div
			div
				a.js-tab-link.active(href="javascript:void()", data-tab-target="monthly-payment") Ежемесячный платеж
				a.js-tab-link(href="javascript:void()", data-tab-target="amount-of-credit") Сумма кредита
			form
				div.js-tab-container.active(data-tab-id="monthly-payment")
					h2 Ежемесячный платеж
					div
						h1 Стоимость квартиры (руб.)
						+slider-range({
							id: 'monthly-apartment-price',
							type: 'text',
							name: 'monthly-apartment-price',
							currentValue: 17030,
							minValue: 22000,
							maxValue: 120700,
							prefix: '',
							numbers: [{
									text: 1,
									classes: 'js-min-money'
								},{
									text: 2,
									classes: 'js-mid-money'
								},{
									text: 3,
									classes: 'js-max-money'
							}]
						})
					div
						h1 Первоначальный взнос (руб.)
						+slider-range({
							id: 'monthly-an-initial-fee',
							type: 'text',
							name: 'monthly-an-initial-fee',
							currentValue: 8100000,
							minValue: 0,
							maxValue: 16200000,
							prefix: '',
							numbers: [{
									text: 1,
									classes: 'js-min-money'
								},{
									text: 2,
									classes: 'js-mid-money'
								},{
									text: 3,
									classes: 'js-max-money'
							}]
						})
					div
						h1 Срок кредита
						+slider-range({
							id: 'monthly-сredit-term',
							type: 'text',
							name: 'monthly-сredit-term',
							currentValue: 30,
							minValue: 1,
							maxValue: 30,
							step: 1,
							prefix: 'год,года,лет',
							year: 'true',
							numbers: [{
									text: 1,
									classes: 'js-min-year'
								},{
									text: 2,
									classes: 'js-mid-year'
								},{
									text: 3,
									classes: 'js-max-year'
							}]
						})

				div.js-tab-container(data-tab-id="amount-of-credit", style="display: none;")
					h2 Сумма кредита
					div
						h1 Стоимость квартиры (руб.)
						+slider-range({
							id: 'amount-apartment-price',
							type: 'text',
							name: 'amount-apartment-price',
							currentValue: 24500000,
							minValue: 6600000,
							maxValue: 56000000,
							prefix: '',
							numbers: [{
									text: 1,
									classes: 'js-min-money'
								},{
									text: 2,
									classes: 'js-mid-money'
								},{
									text: 3,
									classes: 'js-max-money'
							}]
						})
					div
						h1 Первоначальный взнос (руб.)
						+slider-range({
							id: 'amount-an-initial-fee',
							type: 'text',
							name: 'amount-an-initial-fee',
							currentValue: 5500000,
							minValue: 0,
							maxValue: 10400000,
							prefix: '',
							numbers: [{
									text: 1,
									classes: 'js-min-money'
								},{
									text: 2,
									classes: 'js-mid-money'
								},{
									text: 3,
									classes: 'js-max-money'
							}]
						})
					div
						h1 Срок кредита
						+slider-range({
							id: 'amount-сredit-term',
							type: 'text',
							name: 'amount-сredit-term',
							currentValue: 30,
							minValue: 1,
							maxValue: 30,
							step: 1,
							prefix: 'год,года,лет',
							year: 'true',
							numbers: [{
									text: 1,
									classes: 'js-min-year'
								},{
									text: 2,
									classes: 'js-mid-year'
								},{
									text: 3,
									classes: 'js-max-year'
							}]
						})
				div
					button Отправить заявку
		
block page_bottom
	script(src="/js/inner.js")