extends layouts/default_layout
//- block vars
//-     - var title = "";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Господдержка')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Господдержка 4,9%'
			}
		]}).b-title-header--state-support

	.section.StateSupport
		.StateSupport_img
			img(src="/img/stateSupport/img_state_support.jpg")
		.b-container
			h1.StateSupport_title Ипотека со ставкой 4,9%? Реально с Группой «Эталон»!
			p Ждете скорого прибавления?<br>Получите невероятные условия по ипотеке при покупке жилья в ЖК&nbsp;«Серебряный&nbsp;фонтан»!
			p Группа «Эталон» вместе с банками-партнерами с радостью объявляет о старте приема заявок по ипотечной программе с государственной поддержкой.
			p Если в вашей семье только что родился второй или третий ребенок или если это счастливое событие произойдет в период с 01.01.2018 по 31.12.2022, вы сможете получить ипотечный кредит по ставке всего 4,9% на период субсидирования.
			p Чтобы узнать подробности, получить бесплатную консультацию по всем ипотечным продуктам компании и подать заявку на кредит в банки с наиболее выгодными условиями, просто позвоните нашим менеджерам прямо сейчас.
			h2.StateSupport_subtitle Основные условия программы:
			ul.StateSupport_txtlist
				li Заемщики: граждане РФ, у которых в период с 01.01.18 по 31.12.2022 родился 2 и/или 3 ребенок.
				li Цель ипотечного кредита: приобретение жилья на первичном или вторичном рынке у юридического лица (застройщика).
				li Срок кредитования: 3-30 лет.Первоначальный взнос при покупке от 20% от стоимости приобретаемого жилья.Личное страхование — обязательно.Рождение в период с 01.01.2018 по 31.12.2022.
			h2.StateSupport_subtitle Сумма кредита:
			ul.StateSupport_txtlist
				li Мин — 500 тыс. рублей;
				li Макс: до 8 млн рублей — для Москвы/Московской области, Санкт-Петербурга/Ленинградской области;
				li до 3 млн рублей — для остальных регионов.
			h2.StateSupport_subtitle &percnt; Ставки в кредитном договоре:
			ul.StateSupport_txtlist
				li на период субсидирования — 4,9&percnt; годовых;
				li после периода субсидирования — ключевая ставка ЦБ (на дату выдачи) +2 процентных пункта.
			h2.StateSupport_subtitle Период субсидирования:
			ul.StateSupport_txtlist
				li Второго ребенка: 3 года
				li Третьего ребенка: 5 лет
				li Второго и третьего ребенка: 8 лет



block page_bottom
	script(src="/js/inner.js")