extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Онлайн-сделка')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Онлайн-сделка',
            'button'    :   'Оформить заявку'
			}
		]})._stayhome

	.section.section--block
		.StayHome
			.StayHomeEnter
				p.StayHomeEnter_txt1 Выбрать и купить квартиру в любом объекте Группы «Эталон» можно в&nbsp;онлайн-режиме
				p.StayHomeEnter_txt2 #ЛучшеДомасЭталоном

			.StayHomeContent
				.StayHomeContent_list
					.StayHomeContent_item
						.StayHomeContent_itemNum 1
						.StayHomeContent_itemTitle Выберите квартиру или апартаменты в нашем ЖК
						.StayHomeContent_text
							ul.stayhome-list
								li
									a.link(href='#') &Vcy; &kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;&iecy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy;
								li
									| На дистанционной видеовстрече с персональным менеджером
									br
									a.link(href='#') Заказать звонок
					.StayHomeContent_item
						.StayHomeContent_itemNum 2
						.StayHomeContent_itemTitle Забронируйте
						.StayHomeContent_text
							p Стоимость и номер лота будут зафиксирована на срок, необходимый для оформления документов. Для бронирования понадобятся ваши паспортные данные и согласие на их обработку.
							ul.stayhome-list
								li На сайте
								li Через вашего персонального менеджера
					.StayHomeContent_item
						.StayHomeContent_itemNum 3
						.StayHomeContent_itemTitle Подготовьтесь к сделке в Личном Кабинете
						.StayHomeContent_text
							ul.stayhome-list
								li
									| Зарегестрируйтесь в
									a.link(href='#') личном кабинете
								li Загрузите сканы и качественные фото документов
									ul.stayhome-list._sub
										li Паспорт
										li Снилс
										li ИНН
										li Примечание: Может понадобиться нотариально заверенное согласие супруга/супруги
								li Ознакомьтесь с договором и условиями сделки
					.StayHomeContent_item
						.StayHomeContent_itemNum 4
						.StayHomeContent_itemTitle Если вы покупаете недвижимость в ипотеку – одобрение можно получить онлайн
						.StayHomeContent_text
							.list-title Наши преимущества
							ul.stayhome-list._left
								li Дистанционное заполнение и подписание анкеты
								li Удобный интерфейс для загрузки документов
								li Большое количество банков
								li Выгодные условия кредитования для наших клиентов
					.StayHomeContent_item
						.StayHomeContent_itemNum 5
						.StayHomeContent_itemTitle Подпишите договор
						.StayHomeContent_text
							ul.stayhome-list
								li
									| Персональный менеджер поможет оформить Электронную Цифровую Подпись (ЭЦП).
									br
									| Необходимые документы доставит курьер в нужное время и место
								li Персональный менеджер поможет подписать договор с помощью ЭЦП



				.StayHome_tag
					a(href="#" target="_blank") #ЛучшеДомасЭталоном

	//-include includes/blocks/SimplePopupImg.pug

block page_bottom
	//-script(src="/js/stayhome.js")