extends layouts/default_layout
//- block vars
//-     - var title = "surrounded-by-masterpieces";
block content
	.section.section--block
		include ./includes/blocks/hollywood-style.pug
		+hollywood-style({'items':[{
                        'title'       : 'Парадные в «голливудском» стиле',
                        'text'         : 'Парадные «Серебряного фонтана» соединили в себе изящество XIX века, великолепие «голливудского» стиля ар-деко и современный подход к выбору материалов. Различные в деталях, они совпадают по удобству и уровню обстановки.',
                        'image'       : 'img/backgrounds/hollywood-image.png',
                        'tablet'       : 'img/backgrounds/hollywood-tablet.png',
                        'laptop'       : 'img/backgrounds/hollywood-laptop.png',
                        'desktop'       : 'img/backgrounds/hollywood-desktop.png',
                        'fullhd'       : 'img/backgrounds/hollywood-fullhd.png',
                        'text_bottom'       : 'Светлые  пространства площадью не менее 150 м2 с потолками высотой 4,7 м радуют глаз стилизованными рисунками на полах из керамогранита и декоративной штукатуркой стен. Сквозь панорамные окна струится свет, отражаясь в стекле дизайнерских полутораметровых люстр, мозаике настенных панно по эскизам легендарного Эдгара Брандта и латуни декоративных решеток. Обитая бархатом мебель в холлах рядом со стойкой респешен позволит вашим гостям с удовольствием подождать, пока опытный консьерж сообщит вам об их визите. Колясочные и санузлы изящно оформлены и располагаются удобно и незаметно. А отсутствие ступеней и расположение парадных на уровне земли обеспечит мамам с колясками и представителям маломобильных групп населения безбарьерный доступ.',
                        'image_bottom'       : 'img/backgrounds/image-hollywood.png',
                        'tablet_bottom'       : 'img/backgrounds/tablet-hollywood.png',
                        'laptop_bottom'       : 'img/backgrounds/laptop-hollywood.png',
                        'desktop_bottom'       : 'img/backgrounds/desktop-hollywood.png',
                        'fullhd_bottom'       : 'img/backgrounds/fullhd-hollywood.png',
                        }
                    ]})

block page_bottom
	script(src="/js/inner.js")
