extends layouts/default_layout
//- block vars
//-     - var title = "Mortgage";
block content
	include ./includes/blocks/breadcrumbs.pug
	+breadcrumbs('Как купить','Trade-in')
	include ./includes/blocks/title-header.pug
	+title-header({'items':
		[{
			'title'		:	'Trade-in',
            'button'    :   'Оформить заявку'
			}
		]})

	.section.section--block
		.b-container
			include ./includes/blocks/tradein-steps.pug
			+tradein-steps(({'items':[{
								'header': 'ЗАПИШИТЕСЬ НА&nbsp;КОНСУЛЬТАЦИЮ',
								'text1'	: 'Записываетесь на консультацию к менеджеру отдела продаж Группы «Эталон» и подбираете подходящую квартиру в новостройке из списка программы «TRADE-IN».',
								'text2'	: 'Будем сопровождать сделку на всех этапах: от первого обращения до получения права собственности.'
								}, {
								'header': 'СОГЛАСУЙТЕ УСЛОВИЯ',
								'text1'	: 'Согласовываете с нашими специалистами условия сотрудничества (сроки, стоимость и т.д.) по продаже Вашей квартиры.',
								'text2'	: 'Берём на себя все трудности и заботы, связанные с продажей Вашей квартиры.'
								}, {
								'header': 'ЗАКЛЮЧИТЕ ДОГОВОР',
								'text1'	: 'Заключаете Агентский договор на реализацию Вашей квартиры и получаете бронь на квартиру в новостройке.',
								'text2'	: 'Фиксируем стоимость квартиры, защищая Вашу бронь от колебаний цен.'
								}, {
								'header': 'ДЛЯ ВАС ИЩУТ ПОКУПАТЕЛЕЙ',
								'text1'	: 'Занимаетесь своими делами в преддверии получения новой квартиры, не тратите время и средства на поиски покупателей.',
								'text2'	: 'Занимаемся поиском и отбором покупателей, после чего информируем Вас о найденых кандидатах и помогаем заключить удачную сделку, учитывающую Ваши интересы.'
								}, {
								'header': 'ПРОДАЖА СТАРОГО И&nbsp;ПОКУПКА НОВОГО',
								'text1'	: 'Назначаете дату подписания договора купли-продажи Вашей квартиры и заключения договора о покупке квартиры в новостройке Группы «Эталон».',
								'text2'	: 'Помогаем провести сделку в один день, чтобы Вы как можно быстрее могли переехать в новое жильё.'
								}
							]}))

	.section.section--block.js-anchor-item(data-anchor-id="make-request")
		.b-container
			h2.b-title.b-title--tradein Заявка на Trade-in
			include ./includes/blocks/mortgage-form.pug
			+mortgage-form()

block page_bottom
	script(src="/js/inner.js")