extends layouts/default_layout
block vars
    - var page = "type-flat";
block content
    +b.options-page.--flat-type
        +e.top
            .b-container.b-container--options-page
                +e.back
                    +e.back-link(href="javascript:void(0);", title="Назад")
                        svg(xmlns="http://www.w3.org/2000/svg" width="40" height="11" viewBox="0 0 40 11")
                            path(fill="#000" fill-rule="nonzero" d="M1.75 5H40v1H1.75l4.345 4.138a.5.5 0 1 1-.69.724l-5.25-5a.5.5 0 0 1 0-.724l5.25-5a.5.5 0 0 1 .69.724L1.75 5z")
                        | Выбор по параметрам
        +e.container
            +e.filters
                +e('form').wrapper.js-filter-event.js-client-filter.js-ajax(data-url="/json/type-flat.json", data-event="flats", data-type="get", data-load="true" data-type-show="type")
                    include ./includes/blocks/list-checkbox.pug
                    +list-checkbox("Корпус", {'items':[
                        {
                            "id": "1",
                            "name": "housing-1",
                            "title": "1"
                        },{
                            "id": "2",
                            "name": "housing-2",
                            "title": "2"
                        },{
                            "id": "3",
                            "name": "housing-3",
                            "title": "3",
                            "disabled": "disabled"
                        },{
                            "id": "4",
                            "name": "housing-4",
                            "title": "4",
                            "disabled": "disabled"
                        }
                    ]}).--options
                    +list-checkbox("Количество комнат", {'items':[
                        {
                            "id": "2-1",
                            "name": "room-1",
                            "title": "Ст"
                        },{
                            "id": "2-2",
                            "name": "room-2",
                            "title": "1"
                        },{
                            "id": "2-3",
                            "name": "room-3",
                            "title": "2"
                        },{
                            "id": "2-4",
                            "name": "room-4",
                            "title": "3"
                        },{
                            "id": "2-5",
                            "name": "room-5",
                            "title": "4"
                        },{
                            "id": "2-6",
                            "name": "room-6",
                            "title": "5"
                        },{
                            "id": "2-7",
                            "name": "room-7",
                            "title": "6"
                        }
                    ]}).--options.--room
                    +b.calculator.--options.--floor
                        +e.wrap.js-slider-container(data-range="true", data-not-fl="options-1")
                            +e.text Этаж
                            +e.slider-ui.js-slider-ui(id="floor", max="19", min="5")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="floor-min").js-min 5
                                    input(id="floor-min", type="text", style="display: none", name="floor-min", value="5")
                                +e.item-info
                                    span(data-target="floor-max").js-max 19
                                    input(id="floor-max", type="text", style="display: none", name="floor-max", value="19")
                        include ./includes/blocks/checkbox.pug
                        +checkbox("options-1", "options-1", "Кроме первого и последнего").--options.--mortgage-form
                    +b.calculator.--options
                        +e.wrap.js-slider-container(data-range="true")
                            +e.text Площадь, м²
                            +e.slider-ui.js-slider-ui(id="area", max="182", min="39")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="area-min").js-min 39
                                    input(id="area-min", type="text", style="display: none", name="area-min", value="39")
                                +e.item-info
                                    span(data-target="area-max").js-max 182
                                    input(id="area-max", type="text", style="display: none", name="area-max", value="182")
                    +b.calculator.--options.--last
                        +e.wrap.js-slider-container(data-range="true", data-price="true")
                            +e.text Цена, ₽
                            +e.slider-ui.js-slider-ui(id="price", max="51 493 180", min="9 963 030")
                            +e.top-info.--options
                                +e.item-info
                                    span(data-target="price-min").js-min 9 963 030
                                    input(id="price-min", type="text", style="display: none", name="price-min", value="9963030")
                                +e.item-info
                                    span(data-target="price-max").js-max 51 493 180
                                    input(id="price-max", type="text", style="display: none", name="price-max", value="51493180")
                    +e.bottom-block.js-default-checkbox
                        +e.select.js-select-tablet
                            include ./includes/blocks/select.pug
                            +select("options", "js-select", false, "Апартаменты: не важно", "Апартаменты: да", "Апартаменты: нет")
                        +e.checkbox-block
                            +e.title Вид из окон
                            +checkbox("view-sokol", "options-sokol", "на Парк Сокольники","","На Сокольники").--options.--mortgage-form.--options-block
                            +checkbox("view-dvor", "options-dvor", "на внутреннее пространство двора","","Во двор").--options.--mortgage-form.--options-block
                            +checkbox("view-22", "options-22", "на липовую аллею","","На липовую аллею").--options.--mortgage-form.--options-block
                            +checkbox("view-33", "options-33", "на город","","На город").--options.--mortgage-form.--options-block
                        +e.more-checkbox.js-checkbox-permutation
                            +checkbox("procent-44", "options-44", "Акционные квартиры",'','%').--options.--mortgage-form.--options-block
                            +checkbox("finish", "finish", "Отделка").--options.--mortgage-form.--options-block.--finish
            +e.content.--type-flat
                include ./includes/blocks/flat-card.pug
                +flat-card()
                +e.type-flat
                    +e('h3').title.--h3 КВАРТИРЫ ПЛАНИРОВКИ &laquo;ТИП 3&raquo;
                    +e.filter-flat.--type
                        include ./includes/blocks/filter-flat-type.pug
                        +filter-flat({'items':[
                            {
                                "item": "Квартира",
                                "class": "--first",
                                "type":'flat'
                            }, {
                                "item": "Корпус",
                                "class": "--second",
                                "type":'housing'
                            }, {
                                "item": "Подъезд",
                                "class": "--third",
                                "type":'entrance'
                            }, {
                                "item": "Площадь",
                                "class": "--four",
                                "type":'area'
                            }, {
                                "item": "Этаж",
                                "class": "--five",
                                "type":'floor'
                            }, {
                                "item": "Вид из окна",
                                "class": "--six",
                                "type":'view'
                            }, {
                                "item": "Цена",
                                "class": "--seven",
                                "type":'price'
                            }
                        ]}).--justify.--type
                    +e.flat-content.--type.js-flat-type-container
                        include ./includes/blocks/flat.pug
                        +flat-type({'items': [
                            {
                                'flat': '121',
                                'housing': '1',
                                'entrance': '2',
                                'size': '87,7',
                                'floor': '9',
                                'view': 'На Сокольники',
                                'cost': '13 157 990'
                            },{
                                'procent':  '%',
                                'finish': '%',
                                'flat': '124',
                                'housing': '1',
                                'entrance': '2',
                                'size': '88',
                                'floor': '11',
                                'view': 'Во двор',
                                'cost': '13 457 990'
                            },{
                                'procent':  '%',
                                'finish': '%',
                                'flat': '99',
                                'housing': '1',
                                'entrance': '2',
                                'size': '86,7',
                                'floor': '12',
                                'view': 'На город',
                                'cost': '13 211 990'
                            },{
                                'flat': '145',
                                'housing': '1',
                                'entrance': '2',
                                'size': '88,3',
                                'floor': '11',
                                'view': 'Во двор',
                                'cost': '13 000 990'
                            },{
                                'procent':  '%',
                                 'finish': '%',
                                'flat': '151',
                                'housing': '2',
                                'entrance': '2',
                                'size': '88',
                                'floor': '11',
                                'view': 'На липовую аллею',
                                'cost': '13 500 990'
                            },{
                                'flat': '145',
                                'housing': '1',
                                'entrance': '2',
                                'size': '88,3',
                                'floor': '11',
                                'view': 'Во двор',
                                'cost': '13 000 990'
                            },{
                                'procent':  '%',
                                'finish': '%',
                                'flat': '151',
                                'housing': '2',
                                'entrance': '2',
                                'size': '87,7',
                                'floor': '6',
                                'view': 'На Сокольники',
                                'cost': '13 157 990'
                            }
                        ]}).--type
                +e.slider
                    include ./includes/blocks/flat-slider.pug
                    +e.tab-links.--type
                        +e.item.--type
                            +e.tab-link.--big.-active.js-tab-link(href="javscript:void(0);", title="", data-tab-target="flat") Похожие апартаменты
                        +e.item.--type
                            +e.tab-link.--big.js-tab-link(href="javscript:void(0);", title="", data-tab-target="history") ИСТОРИЯ ПРОСМОТРОВ
                    +e.tab-content.-active.js-tab-container(data-tab-id="flat")
                        +flat-slider-similar-plans()
                    +e.tab-content.js-tab-container(data-tab-id="history")
                        +flat-slider-small()
block page_bottom
    script(src="/js/inner.js")