.b-title-header {
    text-align: center;
    padding: 23px 36px 22px;
    // background: linear-gradient(to left, rgba(21, 48, 117, 0), rgb(21, 48, 117)), linear-gradient(rgba(21, 48, 117, 0.3), rgba(21, 48, 117, 0.3));
    // background: url(/img/backgrounds/mortgage-bg.png) no-repeat 50%;
    background-size: contain;
    margin-bottom: 41px;

    position: relative;
    background: #153075;


    & .b-container * {
        position: relative;
    }

    &:before {
        // opacity: 0.5;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url(/img/backgrounds/tradein320.jpg) no-repeat right top;
        background-size: contain;
    }

    &--maternal-capital {
        // background: url(/img/backgrounds/maternal-capital-mobile.png) no-repeat 50%;
        background-size: cover;
        padding: 40px 0px 22px;
        margin-bottom: 0px;

        &:before {
            background-image: url(/img/backgrounds/maternal-capital-mobile.png);
        }
    }
    &--state-support {
        // background: url(/img/backgrounds/maternal-capital-mobile.png) no-repeat 50%;
        background-size: cover;
        padding: 40px 0px 22px;
        margin-bottom: 0px;

        &:before {
            background-image: url(/img/backgrounds/maternal-capital-mobile.png);
        }
    }

    &--calculator {
        margin-bottom: 0;
    }

    &--success {
        margin-bottom: 151px;
    }

    &__link {
        color: rgb(255, 255, 255);
        /*cursor: default;*/
        display: inline-block;
        font-family: 'AvenirNext-Regular';
        font-size: 16px;
        position: relative;

        .active & {
            font-family: AvenirNext-DemiBold;
            letter-spacing: 0.1px;

            &:before {
                display: block;
                content: "";
                height: 2px;
                position: absolute;
                bottom: -10px;
                left: 50%;
                right: 0px;
                background: #fff;
                width: 100px;
                margin-left: -50px;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }

    &._stayhome {
        background-image: url('../img/backgrounds/stayhome1920.jpg');
        background-repeat: no-repeat;
        margin-bottom: 42px;
        @media (max-width: 1919.98px) {
            background-image: url('../img/backgrounds/stayhome1280.jpg');
        }
        @media (max-width: 1279.98px) {
            background-image: url('../img/backgrounds/stayhome1024.jpg');
        }
        @media (max-width: 1023.98px) {
            background-image: url('../img/backgrounds/stayhome768.jpg');
        }
        @media (max-width: 767.98px) {
            background-image: url('../img/backgrounds/stayhome320.jpg');
            background-position: right center;
            margin-bottom: 30px;
        }
        &:before {
            @media (max-width: 767.98px) {
                display: none;
            }
        }
    }
}