@media (min-width:768px) {
    .b-title-header {
        text-align:left;
        padding: 53px 0 54px;
        margin-bottom: 60px;

        background: url(/img/backgrounds/tradein768.jpg) no-repeat right, #153075;
        background-size: auto 100%;
        &:before {
            content: none;
        }

        &--maternal-capital {
            background: url(/img/backgrounds/maternal-capital-tablet.png) no-repeat 50%;
            margin-bottom: 0px;
            background-size: 100% 100%;
            padding: 55px 0 53px;
        }

        &--state-support {
             background: url(/img/backgrounds/maternal-capital-tablet.png) no-repeat 50%;
             margin-bottom: 0px;
             background-size: 100% 100%;
             padding: 55px 0 53px;
         }

        &--calculator {
            margin-bottom: 0;
        }

        &--success {
            margin-bottom: 30px;
        }

        &__wrap {
            display:inline-block;
            vertical-aligne:top;
        }

        &__item {
            display:inline-block;
            &:not(:last-child) {
                margin-bottom: 0px;
                margin-right: 19px;
            }
        }
    }
}

@media (min-width:1024px) {
    .b-title-header {
        padding: 54px 98px 53px;
        background-image: url(/img/backgrounds/tradein1024.jpg);

        .active &__link:before {
            bottom: -7px;
        }

        &--calculator {
            margin-bottom: 0;
        }

        &--maternal-capital {
            background: url(/img/backgrounds/maternal-capital-laptop.png) no-repeat 50%;
            background-size: 100% 100%;
            padding: 56px 98px 53px;
        }

        &--state-support {
             background: url(/img/backgrounds/maternal-capital-laptop.png) no-repeat 50%;
             background-size: 100% 100%;
             padding: 56px 98px 53px;
         }

        &--success {
            margin-bottom: 60px;
        }
    }
}

@media (min-width:1280px) {
    .b-title-header {
        padding: 53px 98px 42px;
        background-image: url(/img/backgrounds/tradein1280.jpg);

        &--maternal-capital {
            padding: 55px 98px 54px;
            background: url(/img/backgrounds/maternal-capital-desktop.png) no-repeat 50%;
            background-size: 100% 100%;
            margin-bottom: 49px;
        }

        &--state-support {
             padding: 55px 98px 54px;
             background: url(/img/backgrounds/maternal-capital-desktop.png) no-repeat 50%;
             background-size: 100% 100%;
             margin-bottom: 49px;
         }

        &--calculator {
            margin-bottom: 0;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 18px;
            }
        }

        &__link {
            /*cursor: pointer;*/
            padding-bottom: 8px;

            .active &:before {
                bottom: 0;
            }

            &:after {
                content: '';
                display: block;
                margin: auto;
                margin-top: 6px;
                height: 1px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
            }

            &:hover:after {
                width: 100%;
                background-color: rgb(255, 255, 255);
            }

            .active &:after {
                content: none;
            }
        }
    }
}

@media (min-width:1920px) {
    .b-title-header {
        background-image: url(/img/backgrounds/tradein1920.jpg);

        &--maternal-capital {
            background: url(/img/backgrounds/maternal-capital-fullhd.png) no-repeat 50%;
            background-size: 100% 100%;
        }

        &--state-support {
             background: url(/img/backgrounds/maternal-capital-fullhd.png) no-repeat 50%;
             background-size: 100% 100%;
         }
    }
    
}