@media (min-width: 768px) {
    .b-info-company {
        padding: 80px 61px 54px;
        max-width: 730px;
        margin: 0 auto;
        position: relative;

    //    &::before,
    //    &::after {
    //        content: '';
    //        position: absolute;
    //        height: 91%;
    //        top: 41px;
    //        left: 0;
    //        width: 100%;
    //        border: 2px solid #b59b61;
    //        border-top: 0;
    //        border-bottom: 0;
    //        opacity: .3;
    //    }

    //    &::after {
    //        width: calc(100% - 40px);
    //        left: 20px;
    //    }

        &__border {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px solid #B59B61;

            &--first {

                &:before,
                &::after {
                    content: '';
                    position: absolute;
                    border: 1px solid #B59B61;
                    border-top: 0;
                    background-color: #f7f7f7;
                    width: 40px;
                    height: 40px;
                    top: -1px;
                }

                &:before {
                    left: -1px;
                    border-left: 0;
                }

                &:after {
                    right: -1px;
                    border-right: 0;
                }
            }

            &--second {
                left: 20px;
                top: 20px;
                width: calc(100% - 40px);
                height: calc(100% - 40px);
            }
        }

        &__triangle {
            &:before,
            &::after {
                content: '';
                position: absolute;
                border: 1px solid #B59B61;
                border-bottom: 0;
                background-color: #f7f7f7;
                width: 40px;
                height: 40px;
                bottom: -1px;
                
            }

            &:before {
                left: -1px;
                border-left: 0;
            }

            &:after {
                right: -1px;
                border-right: 0;
            }
        }

        &__logo {
            margin-bottom: 31px;
        }
    }

    .section--info-company {
        padding: 39px 0;
    }
}

@media (min-width: 1024px) {
    .b-info-company {
        max-width: 100%;
        padding: 86px 61px 76px;

        &__border {
            height: calc(100% - 53px);
            top: 26px;

            &--second {
                top: 46px;
                height: calc(100% - 93px);
            }
        }

        &__title {
            width: 552px;
            margin: 0 auto 36px;
        }

        &__text {
            display: flex;
            flex-wrap: wrap;
            width: 787px;
            margin: 0 auto;
        }

        &__wrap {
            width: 50%;

            &:last-child {
                padding-left: 14px;
            }
        }
    }

    .section--info-company {
        padding: 33px 0;
    }
}

@media (min-width: 1280px) {
    .b-info-company {
        padding: 74px 61px 65px;

        &__border {
            height: calc(100% - 29px);
            top: 14px;

            &--second {
                top: 33px;
                height: calc(100% - 68px);
            }
        }

        &__text {
            width: 942px;
        }
    }

    .section--info-company {
        padding: 45px 0;
        margin-bottom: 67px;
    }
}

@media (min-width: 1920px) {}