.b-info-company {
    padding: 40px 0 19px;

    &__logo {
        display: block;
        margin: 0 auto 40px;
        width: 259px;
    }

    &__title {
        font-size: 17px;
        letter-spacing: 0.1px;
        color: #000;
        font-family: 'AvenirNext-DemiBold';
        text-align: center;
        line-height: 23px;
        margin-bottom: 37px;
    }

    &__text {
        font-size: 17px;
        letter-spacing: 0.1px;
        color: #000;
        font-family: 'AvenirNext-Regular';
        line-height: 23px;
        padding-right: 9px;

        p {
            margin-bottom: 22px;
        }
    }
}

.section--info-company {
    background-color: #f7f7f7;
    margin-bottom: 51px;
}