.b-tooltip {
    background: rgba(0, 0, 0, .8);
    border-radius: 8px;
    bottom: 67px;
    // left: 50%;
    // margin-left: -80px;
    left: auto;
    opacity: 0;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: auto;//160px;
    z-index: 151;
    white-space: nowrap;

    /*
    &:after {
        border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
        border-style: solid;
        border-width: 8px;
        content: '';
        left: 50%;
        margin-left: -7px;
        position: absolute;
        top: 100%;
    }
    */
    &__text {
        color: #fff;
        font-family: AvenirNext-Regular;
        font-size: 14px;
    }

    &--flat {
        background-color: #fff;
        box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 260px;
        text-align: left;
        position: absolute;
        padding: 20px 20px 10px;
        z-index: 1;
        align-items: flex-end;
        display: none;
        opacity: 1;
        border-radius: 0;
    }

    &--flat & {

        &__text {
            // width: 50%;
            font-size: 14px;
            color: #000;
            opacity: 0.5;
            font-family: 'AvenirNext-Regular';
            margin-bottom: 10px;
            line-height: 25px;

            &--number {
                font-size: 23px;
                line-height: 1.26;
                opacity: 1;
                font-family: "AvenirNext-Medium";
            }

            &--apartment {
                font-size: 16px;
                
            }
        }
    }

    &--commercial & {
        &__text {
            &--number {
                font-size: 18px;
                line-height: 1.26;
                opacity: 1;
                font-family: "AvenirNext-DemiBold";
            }

            &--apartment {
                font-size: 16px;
                
            }

            &--cost {
                font-size:16px;
                margin-bottom: 3px;
            }

            &--right {
                text-align:right;
            }
        }

        &__wrap {
            display:inline-block;
        }
    }

    &--commercial {
        // display:block;
        width: 268px;
        height: 125px;
        pointer-events: none;
    }
}

.tooltip {
    background-color: #fff;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;
    text-align: left;
    position: absolute;
    padding: 20px 20px 10px;
    z-index: 1;
    align-items: flex-end;
    display: none;
    opacity: 1;
    border-radius: 0;
    height: 103px !important;

    &::after {
        display: none;
    }

    &__text {
        font-size: 14px;
        color: #000;
        opacity: 0.5;
        font-family: 'AvenirNext-Regular';
        margin-bottom: 10px;
        line-height: 25px;

        &--number {
            font-size: 23px;
            line-height: 1.26;
            opacity: 1;
            font-family: "AvenirNext-Medium";
        }
    }
}