@media (min-width: 768px) {
	.b-tooltip {
	}
}

@media (min-width: 1024px) {
	.b-tooltip {
	}
}

@media (min-width: 1280px) {
	.b-tooltip {

		.b-flat-card &,
		.b-flat-card__icon-wrapper--apart & {
			margin-top: -50px;
			bottom: auto;
			margin-bottom: 14px;
			position: relative;
		}
	    .b-flat-card__icon-link--apart:hover & {
	        opacity: 1;
	    }
	}
}

@media (min-width: 1920px) {
   .b-tooltip {
   }
}