.b-parking-wrap {
    position: relative;
    background-color: #fff;
    font-family: 'AvenirNext-Regular';
    background: transparent url('../img/backgrounds/parking-bg.jpg') 50% 50% no-repeat;
    color: #fff;
    flex: auto;

    &:before {
        content: '';
        height: 100%;
        position: absolute;
        background: linear-gradient(to bottom, rgba(21,48,117,1) 0%,rgba(15,30,75,0) 100%);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }
}

.b-parking {
    position: relative;
    z-index: 100;
    max-width: 1520px;
    margin: 0 auto;
    padding: 60px 40px;

    &__tlt {
        font-size: 36px;
        font-family: 'MuseoCyrl-700';
        margin-bottom: 30px;
    }

    @media (max-width: 1279px) {
        padding: 40px;
    }

    @media (max-width: 767px) {
        padding: 20px 20px 100px;

        &__tlt {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.b-parking-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;

    @media (max-width: 1023px) {
        flex-flow: row wrap;
    }

    @media (max-width: 767px) {
        margin-bottom: 0;
    }

    &__block {
        margin-right: 15%;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1023px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;

            &:last-child {
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
        }

        @media (max-width: 1023px) {
            width: 100%;
        }
    }

    & p {
        font-size: 17px;
        line-height: 1.4;
        color: #fff;
        letter-spacing: .1px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    &__tlt {
        font-size: 17px;
        font-family: 'AvenirNext-DemiBold';
        margin-bottom: 20px;
        white-space: nowrap;
    }
}

.b-parking-corp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-top: -15px;

    &__item {
        transition: ease .3s all;
        margin-right: 10px;
        padding: 15px 20px 20px;
        font-family: 'MuseoCyrl-500';

        &:last-child {
            margin-right: 0;
        }

        & .b-parking-floors {
            display: none;
        }

        &._active {
            background-color: #ededed;

            & .b-parking-floors {
                display: block;
            }

            & .b-parking-corp__name,
            & .b-parking-floors__name._active {
                color: #b59b61;
            }

            & .b-parking-corp__name {
                &:before {
                    width: 30px;
                    margin-left: -15px;
                }
            }
        }

        @media (max-width: 767px) {
            width: 50%;
            margin: 0;
            text-align: center;
        }
    }

    &__name {
        position: relative;
        display: block;
        color: rgba(0, 0, 0, .5);
        font-size: 14px;
        white-space: nowrap;
        line-height: 14px;
        padding: 5px 0;
        margin-bottom: 35px;

        &.active {
            color: #b59b61;
        }

        &:before {
            transition: ease .3s all;
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            height: 1px;
            background-color: #b59b61;
            margin-left: 0;
        }
    }
}

.b-parking-floors {
    &__item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__name {
        font-size: 14px;
        color: rgba(0, 0, 0, .5);

        &.active {
            color: #b59b61;
        }
    }
}

.b-parking-pdf {
    margin-bottom: 30px;

    &__item {
        display: none;

        &:first-child {
            display: block;
        }
    }

    &__links {
        white-space: nowrap;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__link {
        transition: ease .3s all;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        height: 45px;
        line-height: 45px;
        white-space: nowrap;
        border: dotted 1px #fff;
        padding: 0 30px 0 58px;
        color: #fff;
        width: 150px;
        font-size: 17px;

        @media (max-width: 767px) {
            width: calc(50% - 10px);
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 19px;
            background: transparent url('../img/icons/pdf.svg') 0 0 no-repeat;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-style: solid;
        }
    }

    &__switch {
        display: inline-block;

        span {
            transition: ease .3s all;
            &:after {
                content: '/';
                display: inline-block;
                margin: 0 5px 0 4px;
                color: #fff;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }

            &._active {
                color: #b69c5d;
            }

            &:hover {
                &:not(._active) {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    @media (max-width: 1023px) {
        margin-bottom: 0;
        margin-right: 30px;
    }

    @media (max-width: 767px) {
        margin-right: 0;
        width: 100%;
    }
}

.b-parking-contacts {
    @media (max-width: 767px) {
        width: 100%;

        & .button {
            width: 100%;
            text-align: center;
        }
    }
}

.button {
    &._consult {
        display: inline-block;
        padding: 5px;
        border: solid 1px #b59b61;
        box-sizing: border-box;

        & .button__inner {
            background-color: rgba(181, 155, 97, 1);
            line-height: 33px;
            height: 33px;
            white-space: nowrap;
            padding: 0 20px;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'MuseoCyrl-500';
            color: #fff;
        }
    }
    &._payment {
        margin-top: 10px;
    }

    &_businessFurnish {
        padding: 0 25px !important;
        
        @media screen and (max-width: 1279px) {
            padding: 0 10px !important;
        }
    }
}

.b-parking-mask {
    display: none;
    position: relative;

    img {
        cursor: grab !important;

        &:focus {
            cursor: grabbing !important;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
        width: calc(100% + 40px);
        margin-left: -20px;
    }
}

.zoom-controls {
    position: absolute;
    top: 50px;
    right: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    border-radius: 8px;

    &__item {
        width: 40px;
        height: 40px;
        background: #fff url('../img/icons/plus.svg') 50% 50% no-repeat;
        cursor: pointer;

        &:first-child {
            border-bottom: solid 1px rgba(151, 151, 151, .1);
        }

        &._minus {
            background-image: url('../img/icons/minus.svg');
        }
    }

    @media (max-width: 767px) {
        top: 20px;
        right: 20px;
    }
}

.b-parking-tlt-mob {
    display: none;
    width: calc(100% + 40px);
    margin-left: -20px;
    background-color: #ededed;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin-bottom: 35px;
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    font-family: 'MuseoCyrl-500';

    @media (max-width: 767px) {
        display: block;
    }
}
