/* 320++  */
.b-checkbox {
    &--mortgage-form {
        margin-left: 46px;
        margin-bottom: 33px;
        position: relative;
    }

    &--problem-form {
        margin-left: 46px;
        margin-bottom: 58px;
        position: relative;
    }

    &--modal-form {
        margin-left: 46px;
        margin-bottom: 10px;
    }

    &--payment-form {
        margin-bottom: 0;
    }

    &__input {
        &--mortgage-form,
        &--problem-form {
            // display: none;
            opacity: 0;

            & + label {
                display: inline-block;
                font-size: 12px;
                font-family: AvenirNext-Regular;
            }

            & + label:before {
                content: "";
                position: absolute;
                left: -26px;
                top: 1px;
                display: inline-block;
                height: 16px;
                width: 16px;
                border: 1px solid #b59b61;
            }

            & + label:after {
                content: "";
                position: absolute;
                left: -23px;
                top: 5px;
                width: 10px;
                height: 6px;
                border-radius: 1px;
                border-left: 3px solid #b59b61;
                border-bottom: 3px solid #b59b61;
                transform: rotate(-45deg);
            }

            &:not(:checked) + label:after {
                opacity: 0;
            }

            &:checked + label:after {
                opacity: 1;
            }

            &.error + label:before {
                border-color: #e64949;
            }
        }

        &--problem-form {
            & + label:before {
                content: "";
                position: absolute;
                left: -26px;
                top: -2px;
                display: inline-block;
                height: 16px;
                width: 16px;
                border: 1px solid #b59b61;
            }
            & + label:after {
                content: "";
                position: absolute;
                left: -23px;
                top: 1px;
                width: 10px;
                height: 6px;
                border-radius: 1px;
                border-left: 3px solid #b59b61;
                border-bottom: 3px solid #b59b61;
                transform: rotate(-45deg);
            }
        }
    }

    &__agree {
        color: #b59b61;
    }

    &__note {
        font-size: 12px;
        color: #000;
        opacity: 0.5;
    }

    &--options {
        margin: 0 0 0 55px;
    }

    &--options & {
        &__name {
            color: #000;
            .no-touchevents &:hover,
            .touchevents &:active {
                color: #b59b61;
                &::before {
                    border: 4px solid #b59b61;
                }
            }

            &:before {
                background: #fff;
            }

            &::after {
                opacity: 0;
                border: 0;
                background-color: #b59b61;
                transform: none;
                border-radius: 0;

                width: 10px;
                height: 10px;
                top: 4px;
                left: -23px;
            }
        }
    }

    &--options-block {
        margin: 0 0 19px 26px;
    }

    &--options-block & {
        &__name {
            font-size: 14px;
            margin-left: 7px;
            transition: border 0.3s;

            .no-touchevents &:hover,
            .touchevents &:active {
                color: #b59b61;
                &::before {
                    border: 4px solid #b59b61;
                }
            }

            &::before {
                width: 23px;
                height: 23px;
                top: -3px;
            }

            &::after {
                opacity: 0;
                width: 19px;
                height: 19px;
                border: 0;
                background-color: #b59b61;
                transform: none;
                top: -1px;
                left: -24px;
                border-radius: 0;

                width: 17px;
                height: 17px;
                top: 0px;
                left: -23px;
            }
        }

        &__input:checked + label {
            color: #000;
        }
    }
}

.b-checkbox {
    display: block;
    position: relative;

    &--map {
        margin-bottom: 20px;
    }

    &__input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 0;
        height: 0;
        display: block;
    }

    &__name {
        font-family: AvenirNext-Regular;
        // font-size: 17px;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #000;

        transition: color 0.3s;

        &--map {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            line-height: 16px;
        }
    }

    &--map &__text {
        padding-left: 10px;
    }

    &--normal & {
    }

    &--map &__input:checked ~ &__name {
        color: rgba(0, 0, 0, 1);
    }
}
