/* 768++  */
@media (min-width: 768px) {
    .b-checkbox {

        &--mortgage-form {
            margin-left: 46px;
            margin-bottom: 58px;
            margin-top: -66px;
            position: relative;
            width: 40%;
        }

        &--problem-form {
            position: relative;
            margin: 0 33px 0;
        }

        &--payment-form {
            position: relative;
            margin-left: 46px;
        }

        &--map {
            margin-bottom: 30px;
        }

        .b-calculator--floor & {
            margin: -26px 0 0;
            width: 50%;
            &__name {
                margin-left: 46px;
                position: relative;

                &::before {
                    top: -3px;
                }

                &::after {
                    top: 1px;
                }
            }
        }

        &--options & {
            &__name {
                &:after {
                    top:0px;
                }
            }
        }

        &--options-block {
            margin: 0 0 10px 28px;
        }

        &--options-block & {
            &__name {
                font-size: 12px;
                margin: 0;
                &::before {
                    width: 16px;
                    height: 16px;
                    top: 1px;
                }

                &::after {
                    width: 12px;
                    height: 12px;
                    top: 3px;

                    width: 10px;
                    height: 10px;
                    top: 4px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-checkbox {
        &--mortgage-form {
            width: 100%;
        }
        .b-calculator--floor & {
            width: 100%;
            margin: 0;

            &__name {
                margin-left: 25px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-checkbox {}
}

@media (min-width: 768px) {
    .b-checkbox {
        &__name {
            font-size: 14px;
        }
    }
}

@media (min-width: 1024px) {
    .b-checkbox {
        &__name {
            font-size: 17px;
        }

        .b-calculator--floor & {
            &__name {
                margin-left: 27px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-checkbox {
        &--options-block {
            margin: 0 0 19px 27px;
        }

        &--options-block & {

            &__name {
                font-size: 14px;
                padding-left: 7px;

                &::before {
                    width: 23px;
                    height: 23px;
                    top: -3px;
                }

                &:after {
                    width: 15px;
                    height: 15px;
                    top: 1px;
                    left: -22px;
                }
            }
        }
        &--options-block &__input:checked ~ &__name {
            &:before {
                border-width: 2px;
            }
        }

        .b-calculator--floor & {
            &__name {
                margin-left: 54px;
            }
        }
    }
}