.b-floor-arrow {

    &__title {
        font-size: 18px;
        color: #000;
        font-family: 'MuseoCyrl-300';
        text-align: center;
        margin-bottom: 14px;
    }

    &__text {
        font-size: 40px;
        color: #000;
        font-family: 'MuseoCyrl-300';
        width: 83px;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}