@media (min-width: 768px) {
    .b-floor-arrow {

        &--floor & {
            &__title {
                margin-bottom: 44px;
            }

            &__wrapper {
                flex-direction: column;
                align-items: center;
            }

            &__text {
                width: auto;
                margin-bottom: 33px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 22px;
                    left: -79px;
                    width: 56px;
                    height: 1px;
                    background-color: #b59b61;
                }
            }
        }
    }
}