.b-environment {
    padding: 43px 0px;
    // background: linear-gradient(to left, rgba(21, 48, 117, 0), rgb(21, 48, 117)), linear-gradient(rgba(21, 48, 117, 0.3), rgba(21, 48, 117, 0.3));
    background: #153075;
    background-size: contain;
    margin-bottom: 0px;

    position: relative;

    &--fortress {
        padding: 43px 0px 27px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url(/img/backgrounds/environment-bg-mobile.jpg) no-repeat right top;
        background-size: auto 100%;
    }

    &--longrid:before {
        // opacity: 0.5;
        opacity: 1;
    }

    &--about:before {
        background-image: url(/img/backgrounds/about/about320.jpg);
    }

    &__link {
        font-size: 17px;
        letter-spacing: 0.1px;
        font-family: 'AvenirNext-Regular';
        color: #ffffff;
        display: inline-block;
        position:relative;
        margin-bottom: 36px;
        padding-right: 25px;
        &:before {
            content: '';
            border-top: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            transform: rotate(42deg);
            width: 8px;
            height: 8px;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }

    &__text {
        color: #fff;
        font-family: 'MuseoCyrl-300';
        font-size: 20px;
        letter-spacing: .1px;
        text-transform: uppercase;
    }

    & .b-container * {
        position: relative;
    }

    &--masterpieces:before {
        background-image: url(/img/backgrounds/masterpieces-bg-mobile.png);
    }

    &--fortress:before {
        background-image: url(/img/backgrounds/fortress/fortress-banner-320.jpg);
    }

    &--tech {
        padding: 53px 0;
        &:before {
            background-image: url(/img/backgrounds/tech-banner/banner-320.jpg);
        }
    }

    &--masterpieces {
        .b-environment__text {
            font-size: 20px;
        }
    }
}