@media (min-width:768px) {
    .b-environment {
        background: url(/img/backgrounds/environment-bg.jpg) no-repeat right, #153075;
        background-position-x: 60%;
        background-size: auto 100%;

        &--about {
            background-image: url(/img/backgrounds/about/about768.jpg);
        }

        &:before {
            content: none;
        }

        padding: 55px 40px 50px;

        &__link {
            margin-bottom: 40px;
        }

        &--masterpieces {
            background-image: url(/img/backgrounds/masterpieces-bg-tablet.jpg);
            .b-title--environment {
                line-height: 42px;
            }

            .b-environment__link {
                margin-bottom: 33px;
            }
        }

        &--fortress {
            background-image: url(/img/backgrounds/fortress/fortress-banner-768.jpg);
            padding-top: 69px;
        }

        &--tech {
            background-image: url(/img/backgrounds/tech-banner/banner-768.jpg);
        }


        
    }
}

@media (min-width:1024px) {
    .b-environment {
        &--about {
            background-image: url(/img/backgrounds/about/about1024.jpg);
        }

        padding: 55px 40px 50px;

        // КОНФЛИКТ
        // &__link {
        //     margin-left: -11px;
        // }

        // &__text {
        //     margin-left: -11px;
        // }
        &--masterpieces {
            background-image: url(/img/backgrounds/masterpieces-bg-laptop.jpg);
        }

        &--fortress {
            background-image: url(/img/backgrounds/fortress/fortress-banner-1024.jpg);
            padding: 68px 40px 47px;
        }

        &--tech {
            background-image: url(/img/backgrounds/tech-banner/banner-1024.jpg);
        }
    }
}

@media (min-width:1280px) {
    .b-environment {
        &--about {
            background-image: url(/img/backgrounds/about/about1280.jpg);
        }

        // КОНФЛИКТ
        // &__link {
        //     margin-left: -20px;
        // }

        // &__text {
        //     margin-left: -20px;
        // }

        &--masterpieces {
            background-image: url(/img/backgrounds/masterpieces-bg-desktop.jpg);
        }

        &--fortress {
            background-image: url(/img/backgrounds/fortress/fortress-banner-1280.jpg);
        }

        &--tech {
            background-image: url(/img/backgrounds/tech-banner/banner-1280.jpg);
        }
    }
}

@media (min-width:1920px) {
    .b-environment {
        background-position-x: 100%;
        &--about {
            background-image: url(/img/backgrounds/about/about1920.jpg);
        }

        &--masterpieces {
            background-image: url(/img/backgrounds/masterpieces-bg-fullhd.jpg);
        }

        &--fortress {
            background-image: url(/img/backgrounds/fortress/fortress-banner-1920.jpg);
        }

        &--tech {
            background-image: url(/img/backgrounds/tech-banner/banner-1920.jpg);
        }

    }
}