.section {
    &--block {
        display: block;
    }
    &--environment {
        display:block;
        margin-bottom: 51px;
    }
    &--environment-masterpieces {
        padding-top: 49px;
    }

    &--parking {
        margin-bottom: 29px;
    }

    &--location {
        display:block;
        margin-bottom: 60px;
        background: url(/img/backgrounds/location-mobile.png) no-repeat;
        background-size: 100% auto;
    }

    &--yard {
        padding-top: 34px;
        margin-bottom: 27px;
    }
    &--childhood {
        padding-top: 14px;

    }
    &--infrastructure {
        //padding: 0 20px;
    }

    &--destination {
        display:block;
        margin-bottom: 57px;
    }


    &--number-about {
        margin-bottom: 30px;
    }

    &--commercial {
        padding: 30px 0 0;
    }
}

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
    height: auto !important;
}
.section-notfullpage {
    display: block;
    // height: auto !important;
}