@media (min-width: 768px) {
    .section {
        &--destination {
            margin-bottom: 78px;
        }

        &--location {
            margin-bottom: 82px;
            background: url(/img/backgrounds/location-tablet.png) no-repeat;
            background-size: 100% auto;
        }
        &--environment-masterpieces {
            padding-top: 100px;
        }

        &--yard {
            padding-top: 100px;
            margin-bottom: 24px;
        }

        &--childhood {
            padding-top: 5px;

        }

        &--infrastructure {
            //padding: 0 40px;
        }
        
        &--tech {
            margin-bottom: 21px;
        }

        &--advantages {
            margin-bottom: 0;
        }

        &--bim {
            margin-bottom: 50px;
        }

        &--parking {
            margin-bottom: 50px;
        }


        &--architecture-and-facades {
            margin-bottom: 18px;
        }
        &--architecture {
            margin-bottom: 60px;
            padding-top: 62px;
        }

        &--commercial {
            padding: 51px 0 0;
        }
    }
}
@media (min-width: 1024px) {
    .section {
        &--destination {
            margin-bottom: 103px;
        }
    
        &--location {
            margin-bottom: 58px;
            background: url(/img/backgrounds/location-laptop.png) no-repeat;
            background-size: 100% auto;
        }
    
        &--environment {
            margin-bottom: 62px;
        }

        &--environment-masterpieces {
            padding-top: 100px;
        }

        &--tech {
            margin-bottom: 31px;
        }

        &--bim {
            margin-bottom: 60px;
        }

        &--yard {
            margin-bottom: 28px;

            padding-top: 100px;
        }

        &--childhood {
            padding-top: 0px;
            margin-top: -21px;
        }

        &--parking {
            margin-bottom: 60px;
        }


        &--architecture-and-facades {
            margin-bottom: 81px;
        }

        &--architecture {
            margin-bottom: 28px;
            padding-top: 100px;
        }
    }
}

@media (min-width: 1280px) {
    .section {
        &--destination {
            margin-bottom: 64px;
        }

        &--location {
            margin-bottom: 57px;
            // background: url(/img/backgrounds/location-desktop.png) no-repeat;
            // background-size: 100% auto;
            background: none;
        }

        &--environment-masterpieces {
            padding-top: 111px;
        }

        &--tech {
            // margin-bottom: 100px;
            margin-bottom: 0;
        }

        &--advantages {
            margin-bottom: 67px;
        }

        &--bim {
            margin-bottom: 100px;
        }


        &--yard {
            padding-top: 100px;
        }

        &--childhood {
            margin-top: -2px;
        }

        &--parking {

        }

        &--container {
            max-width: 1280px;
            margin-left: auto;
            margin-right: auto;
        }

        &--architecture-and-facades {
            margin-bottom: 54px;
        }
        &--architecture {
            padding-top: 100px;
        }
        &--hollywood-style {
            background: url(/img/backgrounds/hollywood-bg-laptop.png) no-repeat;
            background-size: 1280px auto;
            background-position: center top;
            margin-bottom: 100px;
        }
    }
}

@media (min-width: 1920px) {
    .section {
        &--environment {
            margin-bottom: 74px;
        }
        
        &--environment-masterpieces {
            padding-top: 100px;
        }
    
        &--location {
            margin-bottom: 66px;
            background: none;
        }

        &--tech {
            margin-bottom: 42px;
        }

        &--bim {
            margin-bottom: 69px;
        }
        &--yard {
            padding-top: 100px;
        }

        &--linden-alley.section--fortress {
            margin-bottom: 0;
            // max-width: 1920px;
        }

        &--parking {
            margin-bottom: 60px;
        }

        &--childhood,
        &--infrastructure {
            max-width: none;
        }

        &--architecture-and-facades {
            margin-bottom: 80px;
        }

        &--hollywood-style {
            background: url(/img/backgrounds/hollywood-bg-fullhd.png) no-repeat;
            background-size: 1280px auto;
            background-position: center top;
            margin-bottom: 100px;
        }
    
        &--architecture {
            padding-top: 100px;
            margin-bottom: 56px;
        }
    }
}