.b-floor-select-outer {
    overflow-x: auto;
    position: relative;

    &--commercial {
        background: rgba(21, 48, 117, 0.9);
    }
}
.b-floor-select {
    position: relative;

    &__image-tablet {
        display: none;
    }

    &__image-desktop {
        display: none;
    }

    &__image-wrap {
        position: relative;
    }

    &__prev-section,
    &__next-section,
    &__selected-section {
        font-family: 'AvenirNext-Medium';
        font-size: 14px;
        color: #fff;
        display:none;
    }

    &__selected-section {
        display:block;
    }

    &__title {
        font-family: 'MuseoCyrl-700';
        font-size: 24px;
        color: #fff;
    }

    &__wrap {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        margin-bottom: 15px;
    }

    &__text-wrap {
        position: absolute;
        top: 22px;
        width: 280px;
        margin-left: -140px;
        left: 50%;
    }

    &__selected-section {
        display:block;
        text-align:center;
    }

    &__image-mobile {
        width:100%;
        display:block;
    }

    &__image-genplan {
        width:100%;
        display:block;
    }

    &__wrapper {
        position:relative;
    }

    &__prev-arrow {
        position: absolute;
        cursor:pointer;
        display:inline-block;
        padding: 10px;
        left: -11px;
        top: 9px;
        & svg {
            width: 39px;
        }
    }

    &__next-arrow {
        position: absolute;
        cursor:pointer;
        display:inline-block;
        padding: 10px;
        right:-11px;
        top: 9px;
        & svg {
            transform: rotate(180deg);
            width: 39px;
        }
    }

    &__prev-unit,
	&__selected,
	&__next-unit {
		font-family: 'AvenirNext-Medium';
		font-size: 14px;
		color: #fff;
	}

	&__prev-unit,
	&__next-unit {
		opacity: .4;
	}

	&__section-wrap {
		display: flex;
		justify-content: space-between;
		flex-direction:row;
	}

	&__prev,
	&__next {
		position: relative;
		padding: 10px;

		&:before {
			content:'';
			border-right: 1px solid #fff;
			border-top: 1px solid #fff;
			width: 10px;
			height: 10px;
			position: absolute;
		}
	}

	&__prev {
		&:before {
			transform: rotate(226deg);
		    left: 0;
		    bottom: 13px;
		}
	}

	&__next {
		&:before {
			transform: rotate(44deg);
		    right: 0;
		    bottom: 13px;
		}
    }

    &--genplan & {
        &__image-mobile-adress {
            position:absolute;
            top: 23px;
            left: 10px;
        }

        &__image-tablet-adress {
            display:none;
        }

        &__image-tablet-street {
            display:none;
        }

        &__image-mobile-street {
            position: absolute;
            bottom: 27px;
            left: 8px;
        }

        &__image-mobile-compass {
            position: absolute;
            right: 12px;
            top: 10px;
            width:59px;
            height: 59px;
        }

        &__image-tablet-compass {
            display:none;
        }

        &__image-desktop-adress {
            display:none;
        }

        &__image-desktop-street {
            display:none;
        }

        &__image-desktop-compass {
            display:none;
        }

        &__svg-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: hidden;

            svg {
                width: 158%;
            }
        }

        &__goto {
            opacity: 0;

            &.n1 {
                transform: translate(-124px, 43px);
            }
            &.n2 {
                transform: translate(-106px, 96px);
            }

            .no-touchevents &:hover,
            .no-touchevents .active,
            .touchevents &.active,
            .touchevents &:active {
                fill: transparent;
                cursor: pointer;
            }

            .no-touchevents &:hover + .b-floor-select__mask,
            .touchevents &:active + .b-floor-select__mask {
                opacity: 1;
                visibility: visible;
            }
        }


        &__mask {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            transition: all .3s;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &--genplan2 {
        width: 767px;
        height: 415px;
    }
    &--genplan2 & {
        &__image-wrap {
            position: static;
            width: 767px;
            height: 415px;
            margin-left: 0;
        }

        &__image-genplan {
        }

        &__svg-wrap {
            width: 767px;
            height: 415px;

            svg {
                width: 100%;
                // margin-left: -10%;
            }
        }

        &__goto {

            &.n1 {
                transform: none;
            }
            &.n2 {
                transform: none;
            }
        }
    }


    .no-touchevents &--genplan .b-tooltip-new--genplan.t1:hover ~ svg &__goto + &__mask.n1,
    .touchevents &--genplan .b-tooltip-new--genplan.t1:active ~ svg &__goto + &__mask.n1 {
            opacity: 1;
            visibility: visible;
    }
    .no-touchevents &--genplan .b-tooltip-new--genplan.t2:hover ~ svg &__goto + &__mask.n2,
    .touchevents &--genplan .b-tooltip-new--genplan.t2:active ~ svg &__goto + &__mask.n2 {
            opacity: 1;
            visibility: visible;
    }
    .no-touchevents &--commercial .b-tooltip-new--genplan.t1:hover ~ svg &__goto + &__mask.n1,
    .touchevents &--commercial .b-tooltip-new--genplan.t1:active ~ svg &__goto + &__mask.n1 {
            opacity: 1;
            visibility: visible;
    }
    .no-touchevents &--commercial .b-tooltip-new--genplan.t2:hover ~ svg &__goto + &__mask.n2,
    .touchevents &--commercial .b-tooltip-new--genplan.t2:active ~ svg &__goto + &__mask.n2 {
            opacity: 1;
            visibility: visible;
    }

    &--section & {

        &__title {
            display: none;

            &--mobile {
                display: inline-block;
            }
        }

        &__svg-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        &__floors,
        &__floor {
            transition: all .3s;
            opacity: 0;
            fill: #fff;

            .no-touchevents &.active,
            .touchevents &.active{
                opacity: .3;
            }
        }

        &__floor {
            cursor: pointer;
            fill: rgba(255, 248, 253, .6);
            opacity: 0;

            .no-touchevents &:hover,
            .no-touchevents &.active,
            .touchevents &.active,
            .touchevents &:active {
                opacity: 1;
            }
        }

        &__g {
            .no-touchevents &:hover,
            .no-touchevents &.active,
            .touchevents &.active,
            .touchevents &:active {
                & .b-floor-select__floors {
                    opacity: .3;
                }
            }
        }

        &__svg-wrap {

            svg {
                transform: translate(-18%, 7%);
                width: 159%;
                height: auto;
            }
        }
    }
    &--commercial {
        // margin-top: -20%;
    }
    &--commercial & {

        &__image-genplan {
            position: relative;
            left: 0;
            margin: 0;
        }

        &__section-position {
            position: relative;
            overflow: hidden;
            height: 138vw;
        }

        &__section-wrapper {
            position: relative;
            margin-left: -112%;

            height: 138vw;
            width: calc(138vw * 1920 / 1033);
        }

        &__image-genplan {
            width: auto;
            display: block;
            max-width: none;
            height: 100%;

        }

        &__image-wrap {
            width: 100%;
            height: 100%;
        }

        &__title {
            display:none;
            &--mobile {
                display:block;
            }
        }

        &__text-wrap {
            top: 13px;
            width: 265px;
            margin-left: -132px;
        }

        &__wrap {
            margin-bottom: 21px;
        }

        &__prev-arrow {
            left: 0;
            top: -7px;
        }

        &__next-arrow {
            right: 0;
            top: -7px;
        }

        &__prev,
        &__next {
            position: relative;
            padding: 10px;
            display: inline-block;
            vertical-align: top;
        }

        &__prev,
        &__next {
            &:before {
                bottom: 5px;
            }
        }

        &__prev {
            margin-right: 8px;
            &:before {
                left: 7px;
            }
        }

        &__next {
            &:before {
                right:7px;
            }
        }

        &__selected {
            display: inline-block;
            vertical-align: middle;
            margin-right:8px;
        }

        &__section-wrap {
            align-items: center;
        }

        &__image-svg,
        &__goto {
            opacity: 0;
        }

        &__goto {
            // transform: translate(-205px, 16px);
            transform: none;

            .no-touchevents &:hover,
            .no-touchevents &.active,
            .touchevents &.active,
            .touchevents &:active {
                opacity: .5;
                cursor: pointer;
            }
        }

        &__svg-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            svg {
                width: 100%;//94vh;
                transition: all .3s;
                height: 100%;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    opacity: 0;
                    z-index: 1;
                }

                // .no-touchevents &:hover,
                // .no-touchevents &.active,
                // .touchevents &.active,
                // .touchevents &:active {
                .no-touchevents &.active,
                .no-touchevents &.show,
                .touchevents &.active {
                    background: rgba(0, 0, 0, .4);

                    &:before {
                        opacity: 1;
                    }

                    & .b-floor-select__image-svg {
                        opacity: 1;
                    }

                    & .b-floor-select__goto {
                        opacity: .5;
                    }
                }
            }
        }
    }
}
