@media (min-width: 768px) {

    .b-floor-select-outer {
        flex-grow: 1; flex-shrink: 1; flex-basis: auto;
        height: 100%;
        overflow-x: scroll;

        &--commercial {
            min-height: 680px;
            height: auto;
        }
    }
    .b-floor-select {
        &__prev-section,
        &__next-section,
        &__selected-section {
            display: inline-block;
        }

        &__prev-section {
            margin: 0 0 0 10px;
        }

        &__next-section {
            margin: 0 10px 0 0;
        }

        &__image-tablet {
            display:block;
            position: absolute;
            left: 50%;
            margin-left: -640px;
            width:auto;
            max-width: none;
        }
        &__image-genplan {
            display:block;
            position: absolute;
            left: 50%;
            margin-left: -640px;
            width:auto;
            max-width: none;
        }

        &__image-wrap {
            height: 917px;
            position: relative;
            overflow: hidden;
        }

        &__image-mobile {
            display:none;
        }

        &__text-wrap {
            text-align: center;
            width: 634px;
            margin-left: -316px;
            top: 44px;
        }

        &__wrap {
            margin-bottom: 12px;
        }

        &__title {
            font-size: 35px;
        }

        &__prev-arrow {
            font-size: 0;
            left: 0;
            position: relative;
            top: 0;
        }

        &__next-arrow {
            font-size: 0;
            position: relative;
            right: 0;
            top: 0;
        }
        &--genplan & {
            &__image-wrap {
                // height: 643px;
                height: 100%;
                width: 100%;
            }

            &__image-tablet {
                margin-left: -50%;
                height: 100%;
            }
            &__image-genplan {
                margin-left: -50%;
                height: 100%;
            }

            &__image-tablet-adress {
                display: block;
                position: absolute;
                top: 7%;
                left: 7%;
            }

            &__image-tablet-street {
                display: block;
                position: absolute;
                bottom: 20%;
                left: 4%;
            }

            &__image-tablet-compass {
                display: block;
                position: absolute;
                right: 41px;
                top: 57px;
            }

            &__image-mobile-adress {
                display:none;
            }


            &__image-mobile-street {
                display:none;
            }

            &__image-mobile-compass {
                display:none;
            }

            &__svg-wrap {
                svg {
                    // width: 1100px;
                    width: 128.35%;
                }
            }

            &__goto {
                &.n1 {
                    transform: translate(106px, 64px);
                }
                &.n2 {
                    transform: translate(184px, 157px);
                }
            }
        }
        &--genplan2 {
            width: 100%;
            height: 100%;;
        }
        &--genplan2 & {

            &__image-tablet {
                margin-left: -50%;
                height: 100%;
            }
            &__image-genplan {
                margin-left: -50%;
                height: 100%;
            }
            &__image-wrap {
                width: 100%;
                margin-left: 0;
                position: relative;
            }
            &__svg-wrap {
                width: 100%;
                height: 100%;
                margin-left: 0;
                // position: relative;
                svg {
                    width: auto;
                    margin-left: -50%;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    position: absolute;
                }
            }

            &__goto {
                &.n1 {
                    transform: none;
                }
                &.n2 {
                    transform: none;
                }
            }
        }

        &--section & {
            &__image-wrap {
                height: 967px;
            }

            &__svg-wrap {

                svg {
                    transform: none;
                    width: 1280px;
                    position: absolute;
                    left: 50%;
                    margin-left: -640px;
                    // top: -25px;
                    top: 0;
                }
            }
        }

        &--commercial {
            // margin-top: -4%;
        }
        &--commercial & {


            &__section-position {
                height: 705px;
            }

            &__section-wrapper {
                margin-left: 0;
                right: -70px;
                position: absolute;

                height: 705px;
                width: calc(705px * 1920 / 1033);
            }
            
            // &__image-wrap {
            //     height: 754px;
            // }

            &__prev-section,
            &__next-section,
            &__selected-section {
                display: none;
            }

            &__title {
                display:block;
                font-size: 24px;
                &--mobile {
                    display:none;
                }
            }

            &__text-wrap {
                top: 22px;
                // top: calc(4% + 22px);
                width: 265px;
                margin-left: -132px;
            }

            &__wrap {
                margin-bottom: 15px;
            }

            &__image-svg {
                // width: 96%;
                width: 100%;
                transform: none;
                // transform: translate(66px, 42px);
                height: auto;
            }

            &__goto {
                // transform: translate(28px, 7px);
                transform: none;
            }

            &__prev-arrow {
                top: -4px;
            }

            &__next-arrow {
                top:-4px;
            }
        }
    }
}
@media (min-width: 1024px) {

    .b-floor-select-outer {
        display: block;
        overflow-x: auto;

        &--commercial {
            min-height: auto;
            background: none;
        }
    }
    .b-floor-select {
        &--commercial {
            // margin-top: -3%;
        }
        &--commercial & {
            &__title {
                font-size: 35px;
            }

            &__text-wrap {
                // top: calc(3% + 24px);
                top: 24px;
                width: 315px;
                margin-left: -157px;
            }

            &__wrap {
                margin-bottom: 22px;
            }


            &__section-wrapper {
                right: -30px;
            }

            &__section-wrap {
                padding: 0px 25px;
            }

            &__prev-arrow,
            &__next-arrow {
                top: 0px;
            }
        }
        &--genplan & {
            &__image-wrap {
                height: 643px;
            }
            &__svg-wrap svg {
                width: 1100px;
            }
            &__image-tablet {
                height: auto;
            }
            &__image-genplan {
                height: auto;
            }
            &__image-tablet-adress {
                top: 38px;
                left: 62px;
            }
            &__image-tablet-street {
                bottom: 37px;
                left: 47px;
            }
        }
        &--genplan2 & {
            &__image-wrap {
                height: auto;
            }
            &__image-tablet {
                width: 100%;
                margin-left: 0;
                left: 0;
                position:relative;
            }
            &__image-genplan {
                width: 100%;
                margin-left: 0;
                left: 0;
                position:relative;
            }

            &__svg-wrap svg {
                width: 100%;
                margin-left: 0;
                left: 0;
                position:relative;
            }
        }

        &--section & {

            &__image-wrap {
                height: 967px;
            }

            &__svg-wrap {

                svg {
                    transform: none;
                    width: 1280px;
                    position: absolute;
                    left: 50%;
                    margin-left: -640px;
                    // top: -25px;
                    top: 0;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-floor-select {
        /*cursor: pointer;*/

        &__text-wrap {
            margin-left: -438px;
            width: 866px;
        }

        &__image-wrap {
            height:auto;
        }

        &__image-tablet {
            width:100%;
            margin-left: 0;
            left: 0;
            position:relative;
        }

        &--genplan & {
            &__image-tablet {
                width: 100%;
                margin-left: 0;
                left: 0;
                position:relative;
            }
            &__image-genplan {
                width: 100%;
                max-width: 100%;
                margin-left: 0;
                left: 0;
                position:relative;
                height: auto;
                width: auto;
            }

            &__image-wrap {
                height: auto;
                display: block;
                // min-height:1px
            }

            &__svg-wrap {
                svg {
                    width: 100%;
                }
            }

            &__goto {
                &.n1 {
                    transform: translate(-55px, 31px);
                }
                &.n2 {
                    transform: translate(-15px, 68px);
                }
            }
        }

        &--genplan2 & {
            &__svg-wrap {
                svg {
                    width: 100%;
                }
            }

            &__goto {
                &.n1 {
                    transform: none;
                }
                &.n2 {
                    transform: none;
                }
            }
        }

        &--section & {

            &__title {
                display: inline-block;
            }

            &__title--mobile {
                display: none;
            }

            &__image-wrap {
                // height: auto;
                height: 100%;
            }

            &__svg-wrap {
                height: 100%;

                svg {
                    width: 100%;
                    left: 0;
                    margin-left: 0;
                    // top: -29px;
                    top: 0;
                }
            }

            &__image-tablet,
            &__image-desktop {
                height: 100%;
            }
        }
        &--commercial {
            min-height: 1px;
        }
        &--commercial & {
            &__text-wrap {
                top: 34px;
                // top: calc(3% + 34px);
                width: 313px;
                margin-left: -157px;
            }

            &__wrap {
                margin-bottom: 34px;
            }

            // &__image-wrap {
            //     height:auto;
            // }
            &__section-position {
                height: auto;
            }

            &__section-wrapper {
                position: relative;
                right: 0;
                width: 100%;
                height: auto;
            }

            &__image-genplan {
                width: 100%;
                height: auto;
            }

            &__prev-arrow,
            &__next-arrow {
                top: 2px;
            }


            &__svg-wrap {
                svg {

                    // .no-touchevents :hover,
                    // .no-touchevents &.active,
                    // .touchevents &.active,
                    // .touchevents &:active {
                    //     background: rgba(0, 0, 0, .4);
    
                    //     &:before {
                    //         opacity: 1;
                    //     }
    
                    //     & .b-floor-select__image-svg {
                    //         opacity: 1;
                    //     }
    
                    //     & .b-floor-select__goto {
                    //         opacity: .5;
                    //     }
                    // }
                }
            }

            // &__poly {
            //     .no-touchevents &:hover,
            //     .touchevents &:active {

            //         & ~ .b-floor-select__image-svg {
            //             opacity: 1;
            //         }

            //         & ~ .b-floor-select__goto {
            //             opacity: .5;
            //         }
            //     }
            // }
        }
    }
}

@media (min-width: 1920px) {
   .b-floor-select {
        &__image-wrap {
            height:auto;
        }

        &__image-tablet {
            display:none;
        }

        &__image-desktop {
            display:block;
            width:100%;
        }
        &__image-genplan {
            display:block;
            width:100%;
        }

        &--genplan & {
            &__image-wrap {
                height: auto;
            }

            &__image-tablet-adress {
                display:none;
            }

            &__image-tablet-street {
                display:none;
            }

            &__image-tablet-compass {
                display:none;
            }

            &__image-desktop-adress {
                display:block;
                position:absolute;
                top: 78px;
                left: 121px;
                top: 140px;
            }

            &__image-desktop-street {
                display:block;
                position:absolute;
                left: 106px;
                top: 362px;
            }

            &__image-desktop-compass {
                display:block;
                position:absolute;
                top: 54px;
                right: 64px;
                //top: 274px; // если есть верхней навигации
                top: 224px; // если нет верхней навигации

            }
        }

        &--section & {
            &__svg-wrap {

                svg {
                    top: 2px;
                }
            }
        }
        &--commercial {
            margin-top: 0;
        }
        &--commercial & {

            &__section-wrapper {
                right: 0px;
            }

            &__text-wrap {
                top: 45px;
            }

            &__image-svg {
                width: 100%;
                transform: translate(0px, 0px);
            }

            &__goto {
                transform: translate(0, 0);
            }
        }
    }
    .b-floor-select-outer {
        //margin-top: -220px; // если есть верхняя навигация
        //margin-top: -170px; // если нет верхняя навигация
        margin-top: -139px; // если нет верхняя навигация

    }
}