@media (max-width: 1919.98px) {
    .Header_chooseRoom {
        margin-right: 0;
    }

    .Header_right {
        display: inline-flex;
        justify-content: space-between;
    }

    .Header_dropdown {
        right: -58px;

        &:after {
            top: -50px;
            left: 0;
            right: 0;
            height: 50px;
        }
    }

    .Header_navItem-dropdown {
        &:hover {
            & .Header_dropdown {
                top: 44px;
            }
        }
    }
}

@media (max-width: 1499px) {
    .Header_navItem-sm {
        display: none;
    }
}

@media (max-width: 1349px) {
    .Header_navItem:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 1919.98px) {
    .Header_navLink {
        font-size: 14px;
    }
}

@media (max-width: 1279.98px) {
    .Header {
        font-size: 12px;
        &_nav {
            margin-left: 55px;
        }
        &_navItem {
            font-size: 14px;
            position: relative;
            &:not(:last-of-type) {
                margin-right: 24px;
            }
        }
    }
}

@media (max-width: 1023.98px) {
    .Header {
        &_nav {
            display: none;
        }

        &_right {
            justify-content: flex-end;
        }

        &_chooseRoom {
            display: none;

            &-tablet {
                display: block;
                margin-left: 6vw;
                margin-right: 0;
            }
        }

        &_phone {
            font-size: 14px;
        }

        &_phoneSvg {
            /*margin-left: 80px;*/
        }
    }
}

@media (max-width: 767.98px) {
    .Header {
        padding: 0;

        &_wrap {
            align-items: center;
            height: 100%;
        }
        &_phone {
            font-size: 0;
        }

        &_chooseRoom {
            &-tablet {
                display: none;
            }
        }

        &_phoneSvg {
            margin-left: 0;
        }

        &_right,
        &_left {
            width: 29%;
        }

        &_right {
            padding-left: 0;
        }

        &_center {
            transform: none;
        }
    }
}
