.Header {
    height: 80px;
    z-index: 10000;
    &_wrap {
        max-width: 1840px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "MuseoCyrl-500";
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          justify-content: space-between;
        }
    }

    &_fixedBurger {
        position: relative;
        z-index: 10020;
        max-width: 1840px;
        width: 95%;
        margin: 0 auto;
    }

    &_left {
        display: inline-flex;
        align-items: center;
        margin-right: auto;
        width: 40%;
    }

    &_burger {
        position: fixed;
        top: 34px;
        z-index: 290;

        &-white {
            & .Burger_col {
                background: #153075;
            }
        }
    }
    &_center {
        transform: scale(1.2) translateY(-3px);
    }

    &_right {
        margin-left: auto;
        width: 40%;
        padding-left: 30px;
        position: relative;

        &Links {
            display: inline-flex;
            position: absolute;
            top: -30px;
            right: 0;
            @media (max-width: 1023.98px) {
                top: -40px;
            }
        }
    }

    &_nav {
        margin-left: 60px;
    }

    &_navList {
        display: flex;
    }

    &_navItem {
        font-size: 14px;
        position: relative;
        &:not(:last-of-type) {
            margin-right: 25px;
        }

        &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            background: #fff;
            width: 0%;
            height: 2px;
            content: "";
            z-index: 500;
            transition: all 0.2s linear;
        }

        &:hover:after {
            width: 100%;
        }

        &-dropdown {
            cursor: pointer;
            position: relative;
            &:after {
                content: initial;
            }

            &:hover {
                & .Header_dropdown {
                    top: 33px;
                    opacity: 1;
                }
            }
        }
    }

    &_navLink {
        font-size: 16px;
    }

    &_dropdown {
        left: 50%;
        transform: translate(-50%, 0);
        top: -3999px;
        opacity: 0;
        transition: opacity 0.3s;

        &:after {
            content: "";
            position: absolute;
            top: -25px;
            left: 0;
            right: 0;
            height: 25px;
        }
    }

    &_navSubItem {
        font-size: 14px;
        font-weight: 500;
        transition: color 0.1s;
        color: #153075;
        text-align: center;

        &:not(:last-of-type) {

            & .Header_navSubLink {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 27px;
                    height: 5px;
                    background: url('../img/icons/subnav_decorate.svg') center/contain no-repeat;
                    transform: translate(-50%, 50%);
                    bottom: 0;
                    left: 50%;
                }
            }
        }

        &:hover {
            color: #b59b61;
        }
    }

    &_navSubLink {
        display: block;
        padding: 20px 20px;
        position: relative;
    }

    &_chooseRoom {
        text-transform: uppercase;
        margin-right: 70px;
        padding: 5px 10px;
        border: 1px solid transparent;
        font-size: 12px;
        white-space: nowrap;
        &-tablet {
            display: none;
        }
    }

    &_phone {
        padding-top: 27px;
        display: inline-flex;
        align-items: center;
        font-size: 14px;
    }

    &_phoneSvg {
        width: 21px;
        margin-left: 30px;
        position: relative;
        top: 5px;
    }

    &_callMe {
        position: absolute;
        left: 0;
        bottom: -32px;
        font-size: 12px;
        text-align: left;
        opacity: .6;
        height: 36px;
        width: 100%;
        transition: all .3s ease;
        @media (max-width: 767px) {
            display: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }

    &_logo {
        & g {
            fill: #fff;
        }
    }

    &-white {
        &:after {
            opacity: 1;
            visibility: visible;
        }
            /*background-color: rgba(255,255,255,1);*/

        & .Header_wrap {
            color: #153075;
        }

        & .Header_phoneSvg {
            & svg,
            path {
                fill: #153075;
            }
        }

        & .Header_burger {
            & .Burger_col {
                background-color: #153075;
            }
        }

        & .Header_logo {
            & > svg g {
                fill: #153075;
            }
        }

        & .Header_chooseRoom {
            border: 1px solid #153075;
            transition: 0.2s;

            &:hover {
                background: #153075;
                color: #fff;
            }
        }

        & .Header_navItem:after {
            background-color: #153075;
        }

        .LKEnter._white {
            & path {
                fill: #153075;
            }

        }

    }
}

.Burger {
    width: 23px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.8s;
    &_col {
        background: #fff;
        height: 2px;
        transition: transform 0.4s, width 0.4s;

        &:first-of-type {
            width: 100%;
        }

        &:nth-of-type(2) {
            width: 80%;
        }

        &:last-of-type {
            width: 42%;
        }
    }

    &:hover {
        & .Burger_col {
            @media (min-width: 1280px) {
                width: 100%;
            }
        }
    }

    &-active {
        & .Burger_col {
            background: #153075;
            width: 23px;
            position: absolute;
            transform-origin: center;
            top: 10px;

            &-last {
                opacity: 0;
                width: 0;
            }

            &-first {
                transform: rotate(45deg);
            }

            &-second {
                transform: rotate(-45deg);
            }
        }
    }

    &-blue {
        & .Burger_col {
            background: #153075;
        }
    }
}

.FullMenuOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    &-active {
        opacity: 0.4;
        visibility: visible;
    }
}
