.b-tooltip-comercial {
    background: #153075;
    position:relative;
    margin-bottom: 30px;
    padding: 7px 10px 12px;
    display: inline-block;
    pointer-events: none;
    &:before {
        content: '';
        border: 20px solid transparent;
        border-left: 0px solid #153075;
        border-top: 33px solid #153075;
        position: absolute;
        bottom: -37px;
        left: 0;
        pointer-events: none;
    }
    &__number,
    &__number-section,
    &__number-floor {
        font-family: 'MuseoCyrl-700';
        font-size: 14px;
        color: #ffffff;
        display:inline-block;
        vertical-align:bottom;
        margin-right: 6px;
    }
    &__section,
    &__floor,
    &__text {
        font-family: 'MuseoCyrl-500';
        font-size: 10px;
        line-height: 8px;
        color: #ffffff;
        width: 57px;
        display:inline-block;
        vertical-align: middle;
        text-transform: lowercase;
    }

    &__number-section,
    &__number-floor {
        opacity: 0.3;
    }

    &__section,
    &__floor {
        opacity:0.5;
        display:inline;
    }

    &__wrap {
        margin-bottom: 4px;
        vertical-align:middle;
    }

    &__wrapper {
        display:inline-block;
        &:not(:last-child) {
            margin-right: 7px;
        }
    }
}