@media (min-width: 768px) {
    .b-flat-block {
        font-size: 0;
        width: calc(100% - 245px);
        padding: 40px 20px 20px;

        &--calculator {
            margin: 0 -13px;
            padding-left: 0;
            padding-right: 0;
            width: auto;
        }
    }
}

@media (min-width: 1024px) {
    .b-flat-block {
        width: calc(100% - 153px);
        padding: 60px 50px 23px;

        &--calculator {
            padding: 60px 0 23px;
            margin: 0 -12px;
            width: auto;
        }
    }
}

@media (min-width: 1280px) {
    .b-flat-block {
        padding: 60px 17px 23px;

        &--calculator {
            padding: 60px 0 23px;
            margin: 0 -40px;
        }
    }
}
@media (min-width: 1920px) {
    .b-flat-block {
        padding: 32px 17px 23px;
        width: calc(100% - 600px);

        &--calculator {
            padding: 32px 0 23px;
            width: auto;
        }
    }
}