@media (min-width: 768px) {
    .b-filter-flat {
        padding-top: 19px;
        padding-bottom: 18px;

        &__list {
            justify-content: flex-start;
        }

        &--left & {

            &__item {
                margin-right: 63px;
            }
        }

        &--justify {
            padding-right: 35px;
        }

        &--justify & {
            &__item {
                &--first,
                &--six {
                    display: block;
                }

                &--first {
                    width: 6%;
                }

                &--second {
                    width: 14%;
                }

                &--third {
                    width: 15%;
                }

                &--four {
                    width: 21%;
                }

                &--five {
                    width: 26%;
                }

                &--six {
                    width: 12%;
                }
            }
        }

        &--type {
            border: 0;
            padding: 0 13px 0 35px;
        }

        &--type & {
            &__item {
                &--first {
                    width: 11%;
                }

                &--second {
                    width: 7%;
                }

                &--third {
                    width: 8%;
                }

                &--four {
                    width: 11%;
                    padding-left: 4px;
                }

                &--five {
                    width: 5%;
                    padding-left: 2px;
                }

                &--six {
                    width: 27%;
                    padding-left: 3px;
                }

                &--seven {
                    width: 27%;
                }
            }
        }

        &--commercial {
            padding: 5px 0 3px;
        }

        &--commercial & {
            &__item {
                &--mobile {
                    display: inline-block;
                }

                &--korpus {
                    order: 0;
                    width: 18%;
                }

                &--type {
                    order: 1;
                    width: 19%;
                }

                &--floor {
                    order: 2;
                    width: 16%;
                }

                &--size {
                    order: 3;
                    width: 16%;
                }

                &--price {
                    order: 4;
                    width: 15%;//19%;
                }

                &--cost {
                    order: 5;
                    width: 16%;//12%;
                    white-space: nowrap;
                }
            }

            &__link {
                font-size: 12px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-filter-flat {
        padding-top: 18px;

        &__link {
            cursor: pointer;
        }

        &--left & {
            &__item {
                margin-right: 63px;
            }
        }

        &--justify & {
            &__item {

                &--first {
                    width: 7%;
                }

                &--second {
                    width: 17%;
                }

                &--third {
                    width: 13%;
                }

                &--four {
                    width: 18%;
                }

                &--five {
                    width: 28%;
                }

                &--six {
                    width: 12%;
                }
            }
        }

        &--type {
            padding-left: 0;
            padding-right: 0;
        }

        &--type & {
            &__item {
                &--first {
                    width: calc(100%/8 + 6px);
                    padding-left: 14px;
                }

                &--second {
                    // width: 8%;
                    width: calc(100%/8 - 19px);
                    padding-left: 2px;
                }

                &--third {
                    // width: 8%;
                    width: calc(100%/8 - 16px);
                    padding-left: 0;
                }

                &--four {
                    // width: 12%;
                    width: calc(100%/8 - 7px);
                    padding-left: 0;
                }

                &--five {
                    // width: 6%;
                    width: calc(100%/8 - 44px);
                    padding-left: 0;
                }

                &--six {
                    // width: 29%;
                    width: calc(100%/8 + 56px);
                    padding-left: 0;
                }

                &--seven {
                    // width: 25%;
                    width: calc(100%/8 + 85px);
                    padding-left: 7px;
                }
            }
        }

        &--commercial {
            margin: 0;
            padding: 5px 0 3px;
        }

        &--commercial & {
            &__item {
                &--korpus {
                    width: 17%;
                }

                &--type {
                    width: 20%;
                }

                &--floor {
                    width: 18.5%;
                }

                &--size {
                    width: 19%;
                }

                &--price {
                    width: 14%;//16%;
                }

                &--cost {
                    width: 11.5%;//9.5%;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-filter-flat {

        &__link {
            cursor: pointer;
        }

        &--justify & {
            &__item {

                &--first {
                    width: 9%;
                }

                &--second {
                    width: 16%;
                }

                &--third {
                    width: 10%;
                }

                &--four {
                    width: 20%;
                }

                &--five {
                    width: 24%;
                }

                &--six {
                    width: 11%;
                }
            }
        }

        &--type {
            padding-left: 0;
        }

        &--type & {

            &__link {
                font-size: 14px;
            }

            &__item {
                &--first {
                    width: calc(100%/8 + 0px);//10%;
                    padding-left: 28px;
                }

                &--second {
                    width: calc(100%/8 - 24px);
                    padding-left: 2px;
                }

                &--third {
                    width: calc(100%/8 - 26px);
                    padding-left: 0;
                }

                &--four {
                    width: calc(100%/8 - 15px);
                }

                &--five {
                    width: calc(100%/8 - 51px);
                }

                &--six {
                    width: calc(100%/8 + 99px);
                    padding-left: 9;
                }

                &--seven {
                    width: calc(100%/8 + 122px);
                    padding-left: 14px;
                }
            }
        }

        &--commercial {
            padding: 5px 20px 3px;
        }

        &--commercial & {
            &__item {
                &--korpus {
                    width: 17%;
                }

                &--type {
                    width: 20%;
                }

                &--floor {
                    width: 18.5%;
                }

                &--size {
                    width: 19%;
                }

                &--price {
                    width: 15%;//17%;
                }

                &--cost {
                    width: 10.5%;//8.5%;
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-filter-flat {
        padding-left: 29px;

        &--justify & {
            &__item {

                &--first {
                    width: 10%;
                }

                &--second {
                    width: 12%;
                }

                &--third {
                    width: 11%;
                }

                &--four {
                    width: 15%;
                }

                &--five {
                    width: 21%;
                }

                &--six {
                    width: 10%;
                }
            }
        }

        &--type {
            padding: 0;
        }

        &--type & {

            &__link {
                font-size: 17px;
            }

            &__item {
                &--first {
                    width: calc(100%/8 + 3px);//19%;
                    padding-left: 28px;
                }

                &--second {
                    width: calc(100%/8 - 42px);
                }

                &--third {
                    width: calc(100%/8 - 43px);
                }

                &--four {
                    width: calc(100%/8 - 26px);
                }

                &--five {
                    width: calc(100%/8 - 83px);
                }

                &--six {
                    width: calc(100%/8 + 104px);
                }

                &--seven {
                    width: calc(100%/8 + 283px);
                }
            }
        }

        &--commercial {
            padding: 5px 20px 3px;
        }

        &--commercial & {
            &__item {
                &--korpus {
                    width: 17%;
                }

                &--type {
                    width: 20%;
                }

                &--floor {
                    width: 18.5%;
                }

                &--size {
                    width: 17%;
                }

                &--price {
                    width: 17%;
                }

                &--cost {
                    width: 10.5%;
                }
            }
        }
    }
}