.b-filter-flat {
    padding: 14px 24px 16px 20px;
    border-bottom: solid 1px #ededed;

    &--commercial {
        border: none;
        padding: 18px 20px 15px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        display: inline-block;
        font-size: 12px;
        // color: #858585;
        color: rgba(0,0,0,0.5);
        font-family: "AvenirNext-Regular";
        transition: all .3s;

        // &.up,
        // &.down
        .asc &,
        .desc & {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 1px;
                right: -10px;
                border: 3px solid transparent;
            }
        }

        // &.up {
        .asc & {
            &:after {
                // border-bottom: 4px solid #000;
                border-bottom: 4px solid #858585;
            }
        }
        .asc.active & {
            &:after {
                border-bottom: 4px solid #000;
                // border-bottom: 4px solid #858585;
            }
        }

        // &.down {
        .desc & {
            &:after {
                // border-top: 4px solid #000;
                border-top: 4px solid #858585;
                top: 4px;
            }
        }
        .desc.active & {
            &:after {
                border-top: 4px solid #000;
                // border-top: 4px solid #858585;
                top: 4px;
            }
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            color: #000;
        }

        .b-filter-flat__item--commercial & {
            font-size: 9px;
            line-height: 12px;
            color: rgba(0, 0, 0, .5);
        }

        .active & {
            color: #000;
        }
    }

    &--justify {
        padding-right: 35px;
    }

    &--justify & {
        &__item {
            &--first,
            &--six {
                display: none;
            }
        }
    }

    &--commercial {
        padding: 14px 20px 0;
    }

    &--commercial & {
        &__list {
            justify-content: space-between;
        }

        &__item {
            &--mobile {
                display: none;
            }

            &--type {
                order: 2;
                width: 28%;
            }

            &--floor {
                order: 0;
                width: 16%;
            }

            &--size {
                order: 1;
                width: 24%;
            }

            &--cost {
                order: 3;
                width: 32%;//27%;
            }
        }
    }
}