.Dropdown {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    color: #153075;
    border: 1px solid #b59b61;
    border-radius: 18px;
    width: 232px;
    cursor: initial;
    font-family: 'MuseoCyrl-300';

    &:before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        position: absolute;
        transform: translate(-50%, -50%) rotate(45deg);
        left: 50%;
        top: 0px;
        background: #fff;
        border: 1px solid #b59b61;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}