@media (min-width: 768px) {
    .b-request {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
        text-align: left;

        &__text {
            width: 281px;
            display: inline-block;
            margin-bottom: 0px;
        }

        &__number {
            margin-bottom: 0px;
            margin-right: 16px;
            vertical-align: middle;
        }

        &__wrap {
            display: inline-block;
            padding-top: 6px;
        }
    }
}

@media (min-width: 1024px) {
    .b-request {
        flex-direction: column;
        padding: 19px 20px;
        position: absolute;
        right: 20px;
        width: 357px;
        margin-bottom: 20px;

        &__text {
            width: 281px;
            margin-bottom: 15px;
        }

        &__number {
            margin-right: 14px;
        }

        &__wrap {
            padding-top: 0px;
        }
    }
}

@media (min-width: 1920px) {
   .b-request {
        bottom: 20px;
        padding: 20px 20px 21px;
        right: 60px;
   }
}