.b-request {
    background: rgba(21, 48, 117, .9);
    padding: 20px 10px;
    text-align: center;
    z-index: 101;
    position: absolute;
    bottom:0;
    width:100%;

    &__text {
        color: #fff;
        display: inline-block;
        font-family: 'AvenirNext-Regular';
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    &__number {
        color: #fff;
        display: inline-block;
        font-family: 'AvenirNext-DemiBold';
        font-size: 18px;
        margin-bottom: 10px;
        padding: 3px 0;
    }
}