.b-step {
    margin-bottom: 31px;

    // &:first-child {
    //     margin-top: -3px;
    // }
    &__item {
        font-family: 'MuseoCyrl-700';
        font-size: 14px;
        letter-spacing: 0px;
        color: #b59b61;
        margin-bottom: 7px;
        display: block;
    }

    &__text {
        display: inline-block;
        margin-right: 3px;
    }

    &__num {
        display: inline-block;
    }

    &__header {
        font-family: 'MuseoCyrl-700';
        font-size: 18px;
        letter-spacing: 0px;
        color: #000000;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
        max-width: 190px;
    }

    &__info {

        color: #000000;
        font-family: 'AvenirNext-Regular';
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.1px;
    }

    &__todo:not(:last-child) {
        margin-bottom: 19px;

    }

    &__todo-header {
        font-family: 'AvenirNext-Bold';
        margin-bottom: 10px;
    }

    &__todo-text {
        font-family: 'AvenirNext-Regular';
        font-weight: normal;
    }
}