@media (min-width: 768px) {
    .b-step {
        position: relative;
        padding-left: 101px;
        padding-top: 12px;
        margin-bottom: 10px;

        &__item {
            position: absolute;
            left: 0;
            top: -3px;
            padding-left: 32px;
            margin: 0;
        }

        &__header {
            font-size: 20px;
            margin-bottom: 12px;
            max-width: 210px;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            padding-right: 30px;
        }

        &__todo {
            display: inline-block;
            vertical-align: top;
            width: 250px;
        }

        &__todo-header {
            margin-bottom: 12px;
            font-size: 17px;
        }

        &__text {
            transform: rotate(-90deg);
            font-family: 'MuseoCyrl-700';
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0px;
            color: #153075;
            position: absolute;
            left: -7px;
            bottom: 29px;
        }

        &__num {
            font-family: 'MuseoCyrl-900';
            font-size: 90px;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.1px;
            color: #ededed;
        }
    }
}


@media (min-width: 1024px) {
    .b-step {
        padding-left: 72px;
        padding-top: 0;
        margin-bottom: 36px;

        &__item {
            left: -61px;
            top: -23px;
            padding-left: 42px;
            margin: 0;
        }

        &__header {
            font-size: 24px;
            margin-bottom: 28px;
            max-width: 260px;
        }

        &__info {
            padding-right: 0px;
            margin-right: -60px;
        }

        &__todo {
            width: 380px;
            font-size: 17px;
        }

        &__todo-header {
            margin-bottom: 12px;
        }

        &__text {
            font-size: 24px;
            left: -7px;
            bottom: 44px;
        }

        &__num {
            font-size: 130px;
        }
    }
}

@media (min-width: 1280px) {
    .b-step {
        padding-left: 64px;

        &__item {
            left: -70px;
        }

        &__info {
            margin-right: 52px;
        }

    }
}
@media (min-width: 1920px) {
    .b-step {
        padding-left: 124px;

        &__item {
            left: -10px;
        }

        &__info {
            margin-right: 0px;
        }

    }
}