.Body {
    &-default {
        padding-top: 80px;
        display: flex;
        flex-direction: column;

        @media (max-width: 658px) {
            padding-top: 80px;
        }
    }
}
.Content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    min-height: 1px;
    &._team {
        background: #fff;
        & .dropdown-wrap {
            box-shadow: none;
        }
        & .b-contacts-map-wrapper:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 2;
        }
    }
}
.section--installment {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
}

.section {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: auto;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: block;
    }

    .AnimBlock_wrap {
        overflow: hidden;
        position: relative;
    }

    .AnimBlock {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1);
    }
    .CenterBlockWrapper {
        width: 95%;
        max-width: 1840px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
    }
    .CenterBlock {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 88%;
        top: 35px;
        width: 147px;
    }
    .CenterBlock_item {
        width: 0;
        height: 480px;

        .CenterBlock_item_inner {
            width: 100%;
        }
    }
    .CenterBlock_title {
        padding-bottom: 40px;
        line-height: 24px;
        font-family: "MuseoCyrl-500";
        font-size: 20px;
        color: #ffffff;
        letter-spacing: 0.09px;
        text-align: center;
        max-width: 280px;
    }
    .CenterBlock_text {
        font-family: "AvenirNext-Regular";
        line-height: 35.6px;
        padding-bottom: 40px;
        font-size: 14px;
        letter-spacing: 0.07px;
        max-width: 245px;
        text-align: center;
    }
    .CenterBlock_btn,
    .Contacts_btn {
        width: 170px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #b59b61;
        color: #000;
        padding: 0.3em;
        cursor: pointer;
        background: rgba(181, 155, 97, 0.5) content-box;
        z-index: 50;
        position: relative;

        .CenterBlock_btn_link,
        .Contacts_btn_link {
            font-family: "MuseoCyrl-300";
            font-size: 14px;
            color: #000;
            letter-spacing: 0.07px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .CenterBlock_num {
        position: absolute;
        left: -140px;
        top: 11px;
        font-family: "MuseoCyrl-500";
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.09px;
        text-align: center;
        margin: 30px auto 0;

        &:after {
            content: "";
            width: 40px;
            height: 1px;
            background: #b59b61;
            top: calc(50% - 1px);
            left: calc(50% - 22px);
            position: absolute;
        }
    }
    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &--form {
        padding-top: 40px;
    }
}

.fp-tableCell {
    vertical-align: middle;
}

.Header {
    position: fixed;
    z-index: 150;
    width: 100%;
    padding: 20px 0;
    /*background-color: rgba(255,255,255,0);*/
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s linear;
    color: #000;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: -1;
    }
}

.CenterBlock_btn {
    margin-left: -50px;
}

.CenterBlock_item_pic {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    object-fit: cover;
}

.CenterBlock_item_inner {
    display: flex;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: block;
    }
}

.Section_1 {
    .AnimBlock {
        background: url(/img/backgrounds/media/320/1.jpg) no-repeat 50%;
        background-size: cover;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .CenterBlockWrapper {
        max-width: 1840px;
        z-index: 100;
        position: relative;
        height: 78%;
    }

    .CenterBlock_title,
    .CenterBlock_text {
        text-align: center;
        color: #fff;
        margin: 0 auto;
        max-width: 290px;
        font-family: "SangBleu Empire";
    }

    .CenterBlock_title {
        font-family: "SangBleu Empire";
        //font-weight: normal;
        letter-spacing: 0.16px;
        line-height: 31px;
        font-size: 26px;
        padding-bottom: 27px;
    }

    .CenterBlock_text {
        font-family: "SangBleu Empire";
        font-size: 20px;
        letter-spacing: 0.16px;
        line-height: 24px;
    }
    .CenterBlock_link {
        font-family: "MuseoCyrl-500";
        font-size: 14px;
        color: #fff;
        letter-spacing: 0.11px;
        bottom: 100px;
        margin: 0 0 55px 0;
        padding-left: 10px;
    }

    .CenterBlock {
        z-index: 100;
        top: 0;
        height: 100%;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 86%;
        background: url(/img/backgrounds/media/320/ramka320.svg) no-repeat 50%;
    }

    .CenterBlockWrap {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: absolute;
        bottom: 11%;
        left: calc(50% - 52px);
    }

    .AnimBlock {
        z-index: 50;
    }

    .CenterBlock_line {
        width: 1px;
        transition: all 0.2s linear;
        margin: 0 auto;
        position: absolute;
        left: calc(49% - 3px);
        margin: 0 0 55px 0;
        background: #fff;
        z-index: 500;
        display: none;

        span {
            background: #fff;
            width: 1px;
            height: 0;
            display: block;
        }
    }

    .CenterBlock_innerwrap {
        display: none;
        border: 2px solid #b59b61;
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 2.5em;
        width: 96.2%;
        height: 94.4%;

        &:after,
        &:before {
            content: "";
            position: absolute;
            border-style: solid;
            border-color: #b59b61 #b59b61;
            width: 4.8%;
            height: 6.9%;
            bottom: -3.8%;
        }

        &:after {
            right: -2.7%;
            border-width: 2px 0 0 2px;
        }

        &:before {
            left: -2.7%;
            border-width: 2px 2px 0 0;
        }

        @media (max-width: 767px) {
            border: none;

            &:after,
            &:before {
                display: none;
            }
        }
    }

    .CenterBlock_play {
        transition: ease 1s 0.3s all;
        display: block;
        position: relative;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
        font-family: "MuseoCyrl-500";
        text-transform: uppercase;
        padding-left: 50px;
        opacity: 0;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background: transparent url("../img/play.svg") 0 0 no-repeat;
        }

        &:hover {
            text-decoration: underline;
        }

        @media (max-width: 1024px) {
            opacity: 1;
        }
    }
}

.Section_2 {
    .CenterBlock {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .AnimBlock {
        background: none;
        display: none;
    }

    .CenterBlockWrapper {
        width: 100%;
        overflow: visible;
    }

    .CenterBlock_item_media {
        background: url(/img/backgrounds/media/320/2.jpg) no-repeat 20% 100%;
        background-size: cover;
        display: block;
        width: 100%;
        height: 310px;
    }

    .CenterBlock_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-size: cover;
        justify-content: flex-start;
    }

    .CenterBlock_item_item {
        width: 100%;
        background: url(/img/backgrounds/2_pattern.jpg) no-repeat 50% 70%;
        background-size: cover;
        height: 480px;
    }

    .CenterBlock_item_inner {
        width: 100%;
        height: 475px;
    }

    .CenterBlock_num {
        position: relative;
        left: 0;
        top: 0;
        margin: 30px auto 20px;
    }

    .CenterBlock_title {
        padding-bottom: 20px;
        font-family: "MuseoCyrl-700";
    }

    .CenterBlock_text {
        width: 245px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 19px;
        color: #fff;
    }

    .CenterBlock_btn {
        opacity: 1;
        margin: 0 auto;
        height: 45px;
        width: 147px;
    }

    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
    }

    .CenterBlock_btn {
        .CenterBlock_btn_link {
            color: #fff;
        }
    }
}

.Section_3 {
    .CenterBlock {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top: -20px;
    }

    .CenterBlock_item:first-of-type {
        order: 2;
        height: 450px; /*420px*/
        max-width: 245px;
        margin: 0 auto;
    }

    .CenterBlock_item:nth-of-type(2) {
        background: url(/img/backgrounds/media/320/3.jpg) no-repeat 85% 0%;
        background-size: cover;
        height: 320px;
    }

    .AnimBlock {
        background: none;
        display: none;
    }

    .CenterBlockWrapper {
        width: 100%;
        overflow: visible;
        position: relative;
        margin-bottom: 40px;

        &:after {
            content: "";
            top: 15px;
            background-size: contain;
            height: 100%;
            position: absolute;

            left: calc(1% - -6px);
            background: url(/img/backgrounds/ramka320-s3.svg) no-repeat 50% 0%;
            width: 95%;
        }
    }

    .CenterBlock_item {
        width: 100%;
    }

    .CenterBlock_item_inner {
        width: 100%;
        height: 475px;
    }

    .CenterBlock_num {
        position: relative;
        left: 0;
        top: 0;
        color: #000;
        margin: 30px auto 20px;
    }

    .CenterBlock_title {
        padding-bottom: 20px;
        font-family: "MuseoCyrl-700";
        color: #000;
    }

    .CenterBlock_text {
        width: 245px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 19px;
        color: #000;
    }

    .CenterBlock_btn {
        margin: 0 auto;
        height: 45px;
        width: 147px;
    }

    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
    }
}

.Section_4 {
    .CenterBlock {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .AnimBlock {
        background: none;
        display: none;
    }

    .CenterBlockWrapper {
        width: 100%;
        overflow: visible;
    }

    .CenterBlock_item_media {
        background: url(/img/backgrounds/media/320/4.jpg) no-repeat 0 0;
        background-size: cover;
        display: block;
        width: 100%;
        height: 310px;
    }

    .CenterBlock_item {
        display: flex;
        flex-direction: column;
        background-size: cover;
        width: 100%;
        justify-content: flex-start;
        height: 400px;
    }

    .CenterBlock_item_item {
        width: 100%;
        background: #fff;
        height: 400px;
    }

    .CenterBlock_item_inner {
        width: 100%;
        height: 475px;
    }

    .CenterBlock_num {
        position: relative;
        left: 0;
        top: 0;
        margin: 30px auto 20px;
        color: #000;
    }

    .CenterBlock_title {
        padding-bottom: 20px;
        font-family: "MuseoCyrl-700";
        color: #000;
    }

    .CenterBlock_text {
        width: 250px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 19px;
        color: #000;
    }

    .CenterBlock_btn {
        opacity: 1;
        margin: 0 auto;
        height: 45px;
        width: 147px;
    }

    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
    }
}

.Section_5 {
    .CenterBlock {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        flex-direction: column;
        top: 0;
    }

    .CenterBlock_item:first-of-type {
        order: 2;
        height: 500px;
    }

    .CenterBlock_item:nth-of-type(2) {
        background: url(/img/backgrounds/media/320/5.jpg) no-repeat 50% 100%;
        background-size: cover;
        height: 320px;
    }

    .AnimBlock {
        background: none;
        display: none;
    }

    .CenterBlockWrapper {
        width: 100%;
        overflow: visible;
        position: relative;

        &:after {
            content: "";
            top: 15px;
            height: 93%;
            position: absolute;
            left: calc(1% - -6px);
            background: url(/img/backgrounds/ramka320-s3.svg) no-repeat 50% 0%;
            width: 95%;
        }
    }

    .CenterBlock_item {
        width: 100%;
    }

    .CenterBlock_item_inner {
        width: 100%;
        height: 475px;
    }

    .CenterBlock_num {
        position: relative;
        left: 0;
        top: 0;
        margin: 35px auto 20px;
        color: #000;
    }

    .CenterBlock_title {
        padding-bottom: 20px;
        font-family: "MuseoCyrl-700";
        color: #000;
    }

    .CenterBlock_text {
        width: 245px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 19px;
        color: #000;
    }

    .CenterBlock_btn {
        margin: 0 auto;
        height: 45px;
        width: 147px;
    }

    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
    }
}

.Section_6 {
    .CenterBlock {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-direction: column;
        height: 100%;
        top: 0;
    }

    .AnimBlock {
        background: none;
        display: none;
    }

    .CenterBlockWrapper {
        width: 100%;
        overflow: visible;
    }

    .CenterBlock_item_media {
        background: url(/img/backgrounds/6_mob.jpg) no-repeat 0% 100%;
        background-size: cover;
        display: block;
        width: 100%;
        height: 310px;
    }

    .CenterBlock_item {
        display: flex;
        flex-direction: column;
        background-size: cover;
        width: 100%;
        justify-content: flex-start;
    }

    .CenterBlock_item_item {
        width: 100%;
        background: #fff; // height: 400px;
    }

    .CenterBlock_item_inner {
        width: 100%;
        height: 450px;
    }

    .CenterBlock_num {
        position: relative;
        left: 0;
        top: 0;
        margin: 30px auto 20px;
        color: #000;
    }

    .CenterBlock_title {
        padding-bottom: 20px;
        font-family: "MuseoCyrl-700";
        color: #000;
    }

    .CenterBlock_text {
        width: 245px;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 19px;
        color: #000;
    }

    .CenterBlock_btn {
        opacity: 1;
        margin: 0 auto;
        height: 45px;
        width: 147px;
    }

    .CenterBlockDesc {
        max-width: 100%;
        margin: 0 auto;
    }
}

.Section_7 {
    background-color: #fff;

    .Contacts_wrap {
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 1840px;
        margin: 0 auto;
        /*padding-top: 10%;*/
        padding-top: 150px;
        height: auto;
        background: url(/img/backgrounds/media/320/pattern320.svg) no-repeat 50%
            0%;
        background-size: contain;
        height: 600px;
    }

    .Contacts_wrap--height {
        padding: 170px 0px 0px;
        height: auto;
    }

    .Contacts {
        margin: 0 auto;
    }

    .Contacts_content {
        display: flex;
        height: 310px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto 50px;
    }

    .Contacts_title {
        font-family: "MuseoCyrl-700";
        color: #000;
        letter-spacing: 0.09px;
        max-width: 276px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    @media (max-width: 767px) {
        .Contacts_title br {
            display: none;
        }
    }

    .Contacts_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Contacts_tel,
    .Contacts_adress {
        color: #000;
        font-family: "AvenirNext-Regular";
        letter-spacing: 0.09px;
    }

    .Contacts_tel {
        font-size: 32px;
        letter-spacing: 0.09px;
        line-height: 44px;
        padding-left: 4px;
        text-align: center;
    }

    .Contacts_adress {
        font-size: 20px;
        letter-spacing: 0.09px;
        text-align: center;
        width: 313px;
        padding-top: 20px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .Contacts_btn {
        margin: 0 auto;
        padding: 0.2em;

        .Contacts_btn_link {
            color: #000;
            font-size: 14px;
        }
    }

    .Contacts_btn {
        width: 170px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #b59b61;
        color: #000;
        padding: 0.3em;
        cursor: pointer;
        background: rgba(181, 155, 97, 0.5) content-box;
        z-index: 50;
        position: relative;
    }

    .CenterBlock_btn_link,
    .Contacts_btn_link {
        font-family: "MuseoCyrl-300";
        font-size: 14px;
        color: #000;
        letter-spacing: 0.07px;
        text-align: center;
        text-transform: uppercase;
    }

    .Contacts_btn .Contacts_btn_link {
        color: #000;
    }
}

.Contacts_tel,
.Contacts_adress {
    color: #000;
    font-family: "AvenirNext-Regular";
    letter-spacing: 0.09px;
}

.Contacts_tel {
    font-size: 32px;
    letter-spacing: 0.09px;
    line-height: 44px;
    padding-left: 4px;
    text-align: center;
}

.Contacts_adress {
    font-size: 20px;
    letter-spacing: 0.09px;
    text-align: center;
    width: 313px;
    padding-top: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}

.Contacts_adress--height {
    padding-top: 29px;
}

.Contacts_btn {
    margin: 0 auto;
    padding: 0.2em;

    .Contacts_btn_link {
        color: #000;
        font-size: 14px;
    }
}

.Contacts_btn .Contacts_btn_link {
    color: #000;
}

.CenterFrame {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    justify-content: center;
}

svg #Mask-Copy__3,
svg #Mask-Copy__5,
svg #Rectangle-Copy__3,
svg #Rectangle-Copy__5 {
    fill: none;
    stroke: #b59b61;
    stroke-width: 1;
    stroke-dasharray: 8000;
    stroke-dashoffset: 8000;
}

svg #Mask-Copy__3.anim,
svg #Mask-Copy__5.anim,
svg #Rectangle-Copy__3.anim,
svg #Rectangle-Copy__5.anim {
    animation: dash 2s linear forwards;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.Hide_Block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 800;
    color: #fff;
    font-family: "MuseoCyrl-500";
    font-size: 20px;
    flex-direction: column;

    svg {
        margin-bottom: 20px;
    }
}

.Breadcrumbs_wrapper {
    width: 100%;
    height: 50px;
    background: #ededed;
    display: flex;
    margin-top: 77px;

    .Breadcrumbs {
        display: flex;
        align-items: center;
        max-width: 280px;
        width: 280px;
        margin: 20px auto 20px;
    }

    .Breadcrumbs_link {
        background: url(/img/news_item/arrow_back.svg) no-repeat 0;
        margin-right: 20px;
        width: 70px;
        height: 10px;
        cursor: pointer;

        a {
            width: 40px;
            height: 10px;
            display: block;
        }
    }

    .BreadcrumbsNews-Title,
    .BreadcrumbsNewsItem-Title {
        font-family: "MuseoCyrl-500";
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        text-align: left;
        display: none;
    }

    .BreadcrumbsNewsItem-Title {
        padding-left: 30px;
    }

    .BreadcrumbsNews-Title {
        position: relative;
        padding-right: 30px;

        &:after {
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 10px;
            height: 1px;
            content: "";
            top: calc(50% - 1px);
            left: 65px;
            margin: 0 20px;
            display: none;
        }
    }

    .BreadcrumbsNews-Title {
        display: flex;
    }
}

// NEWS PAGE
// GALLERY PAGE
.Title {
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
}

.Title_wrapper {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-brownPattern {
        background: url("../img/backgrounds/pattern_brown.svg") center repeat-x;

        .Gallery & {
            margin-top: 77px;
        }

        .News & {
            margin-top: 77px;
        }
    }
}

.NewsList {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

.Title-bold,
.Title-news,
.Title-gallery {
    font-family: "MuseoCyrl-900";
}

.NewsCard_img_1 {
    background: url(/img/news/1.jpg) no-repeat 50%;
}

.NewsCard_img_2 {
    background: url(/img/news/2.jpg) no-repeat 50%;
}
.NewsCard_img_3 {
    background: url(/img/news/3.jpg) no-repeat 50%;
}

.NewsCard_img_4 {
    background: url(/img/news/4.jpg) no-repeat 50%;
}
.NewsCard_img_5 {
    background: url(/img/news/5.jpg) no-repeat 50%;
}

.NewsCard_img_6 {
    background: url(/img/news/6.jpg) no-repeat 50%;
}

.NewsCard_img_7 {
    background: url(/img/news/7.jpg) no-repeat 50%;
}
.NewsCard_img_8 {
    background: url(/img/news/8.jpg) no-repeat 50%;
}

.NewsCard_img_9 {
    background: url(/img/news/9.jpg) no-repeat 50%;
}
.NewsCard_img_10 {
    background: url(/img/news/10.jpg) no-repeat 50%;
}

.NewsCard_img_11 {
    background: url(/img/news/11.jpg) no-repeat 50%;
}
.NewsCard_img_12 {
    background: url(/img/news/12.jpg) no-repeat 50%;
}

.Body-default,
.News,
.Gallery,
.Gallery_slider {
    .Title-news_wrapper,
    .Title-gallery_wrapper {
        background: url(/img/news/media/320/header-pattern.svg) no-repeat 50%;
        width: 100%;
        background-size: 100%;
        margin-top: 77px;
    }

    .NewsCard_img {
        width: 280px;
        height: 280px;
        border: 1px solid #d8d8d8;
        margin: 0 auto;
    }

    .NewsCard {
        color: #000;
        margin: 30px 0 15px;
        max-width: 295px;
        display: block;
    }

    .NewsCard_date,
    .NewsCard_title,
    .NewsCard_link {
        letter-spacing: 0;
    }

    .NewsCard_date,
    .NewsCard_link {
        opacity: 0.5;
        font-family: "AvenirNext-Regular";
        line-height: 19px;
    }

    .NewsCard_date {
        font-size: 14px;
        padding: 20px 0 10px;
    }

    .NewsCard_title {
        font-family: "AvenirNext-DemiBold";
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 15px;
    }

    .NewsCard_link {
        font-size: 14px;
        position: relative;
        display: inline;
        padding-right: 10px;
    }

    .NewsCard_arrow {
        position: relative;
        width: 0;
        height: 1px;
        top: 10px;
        background: rgba(0, 0, 0, 0.5);
        left: 4px;

        &:after {
            position: absolute;
            content: "";
            top: -4.5px;
            right: -2px;
            background: url(/img/icons/arrowLink.svg) 50% no-repeat;
            width: 5px;
            height: 10px;
            z-index: 1;
        }
    }

    .NewsCard_link_wrapper {
        display: flex;
    }

    .NewsCard {
        &:hover {
            color: #b59b61;
            transition: all 0.5s linear;
        }

        &:hover .NewsCard_img {
            border: 1px solid #b59b61;
            transition: all 0.5s linear;
        }

        &:hover .NewsCard_date {
            color: #000000;
        }

        &:hover .NewsCard_link {
            opacity: 1;
        }

        &:hover .NewsCard_arrow {
            width: 39px;
            transition: all 0.5s linear;
            background: #b59b61;

            &:after {
                background: url(/img/icons/arrowLinkGold.svg) 50% no-repeat;
            }
        }
    }

    .NewsCountBreadcrumbs {
        width: 220px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px auto 50px;
    }

    .NewsCountList {
        display: flex;
    }

    .NewsCountList_item {
        width: 40px;
        height: 40px;
        font-family: "MuseoCyrl-300";
        font-size: 16px;
        color: #000;
        letter-spacing: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.1s;
        &:hover {
            background: #ededed;
        }
        &.NewsCountList_item-active {
            background: #e7e9ed;
        }
    }

    .NewsCount_button {
        width: 40px;
        height: 40px;
    }

    .NewsCount_button-prev {
        background: url(/img/icons/iconPrev.svg) no-repeat 50%;
    }

    .NewsCount_button-next {
        background: url(/img/icons/iconNext.svg) no-repeat 50%;
    }
}

.News-item {
    .NewsCard_title {
        font-family: "MuseoCyrl-700";
        font-size: 24px;
        color: #000000;
        letter-spacing: 0;
    }

    .NewsCard_text {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;

        p {
            padding-bottom: 25px;
            font-family: "AvenirNext-Regular";
            font-size: 17px;
            color: #000000;
            letter-spacing: 0.08px;
            line-height: 23px;
        }
    }

    .Title {
        text-align: left;
        padding: 15px 0 20px;
        font-family: "MuseoCyrl-700";
        line-height: 29px;
        text-transform: none;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }

    .NewsCard_date {
        padding-bottom: 0;

        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }

    .NewsCard {
        max-width: 100%; // margin: 0 auto 20px;
        &:hover .NewsCard_img {
            border: none;
        }
    }

    .NewsCard_img {
        border: none;
        margin-bottom: 37px;
        height: 150px;
        background: url(/img/news_item/320/1.jpg) no-repeat 0;
    }

    .NewsCard_btn-wrapper {
        height: 168px;
        display: flex;
        justify-content: center;
        align-items: center; //margin-bottom: -50px;
        background: url("../img/news_item/pattern_news.svg") repeat-x !important;
        margin: 0 auto -20px;
        max-width: 100%;
    }

    .NewsCard_btn {
        width: 170px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #b59b61;
        padding: 0.3em;
        cursor: pointer;
        background: rgba(181, 155, 97, 1) content-box;
        z-index: 50;
        position: relative;

        .NewsCard_btn_link {
            font-family: "MuseoCyrl-300";
            font-size: 14px;
            color: #fff;
            letter-spacing: 0.07px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.Gallery-modal {
    max-width: 100% !important;
    width: 100%;
    height: calc(100vh - 190px);
    min-height: 286px;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    position: relative;
    &__sign {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px 40px;
        box-sizing: border-box;
        background: rgba(#2d2d2d, .4);
        font-size: 18px;
        line-height: 1.5;
        color: #fff;
        z-index: 2;
        transition: all 0.2s ease;
        @media (max-width: 767px) {
            padding: 10px 20px;
            font-size: 16px;
        }
        &._hide {
            height: 0;
            padding-top: 0 ;
            padding-bottom: 0;
            overflow: hidden;
        }
        & ._hide {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}

.Gallery-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -10px;
    height: 100%;

    .GalleryBlock__1 {
        margin: 20px 0;
    }

    .GalleryBlock__2 {
        .GalleryLink {
            margin-bottom: 20px;
        }
    }

    .GalleryLink__inner {
        overflow: hidden;
        position: relative;
        width: 240px;
        height: 177px;
    }

    .GalleryLink {
        max-width: 280px;
        margin: 0 auto;
        height: 217px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .GalleryLink__hidden {
        transform: scale(1.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        padding: 20px 0 0 20px;
    }

    .GalleryLink__hiddenCont {
        position: absolute;
        top: 15px;
        left: 20px;
        color: rgb(255, 0, 0);
        opacity: 0;
    }

    .GalleryLink__1 {
        background: url(/img/gallery/media/320/1.jpg) no-repeat 50%;

        .GalleryLink__hidden {
            background: url(/img/gallery/media/320/1.jpg) no-repeat 50%;
            background-size: cover;
        }
    }

    .GalleryLink__2 {
        background: url(/img/gallery/media/320/2.jpg) no-repeat 50%;

        .GalleryLink__hidden {
            background: url(/img/gallery/media/320/2.jpg) no-repeat 50%;
        }
    }

    .GalleryLink__3 {
        background: url(/img/gallery/media/320/3.jpg) no-repeat 50%;

        .GalleryLink__hidden {
            background: url(/img/gallery/media/320/3.jpg) no-repeat 50%;
        }
    }

    .GalleryLink__title {
        line-height: 24px;
        font-family: "MuseoCyrl-900";
        font-size: 20px;
        letter-spacing: 0;
        color: #fff;
        padding-bottom: 5px;
    }

    .GalleryLink__text {
        font-family: "AvenirNext-Medium";
        font-size: 14px;
        line-height: 19px;
        color: #fff;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        cursor: pointer;
        top: 0;
        height: 100%;
        margin: 0;
        background: none;

        &:focus,
        &:active {
            outline: none;
        }
        &:before {
            content: "";
            display: block;
            height: 13px;
            position: absolute;
            top: 50%;
            //left: 50%;
            transform: translate(0, -50%);
            background-image: url(/img/gallery_slider/arrow_slider.svg);
            background-color: #153075;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            background-size: auto;
            padding: 20px;
        }
        //@media(max-width: 1023px) {
        //    width:40px !important;
        //}
    }

    .swiper-button-next {
        margin-right: 0;
        right: 0;
        &:before {
            right: 10%;
            @media (max-width: 1023px) {
                //left:0;
            }
        }
    }

    .swiper-button-prev {
        margin-left: 0;
        left: 0;
        transform: rotate(180deg);
        &:before {
            //left:50px;
            right: 10%;
            @media (max-width: 1023px) {
                //left:0;
            }
        }
    }

    .Gallery-slider__item-wrap {
        //width: 100%;
        width: auto;
        opacity: 0.4;
        transition: opacity 0.3s ease;
        @media (max-width: 1023px) {
            opacity: 1;
        }
        &.swiper-slide-active {
            opacity: 1;
        }
    }
}

.Gallery_slider .Gallery-wrapper {
    width: 100%;
    height: 100%;
    .Gallery-slider__item {
        width: 100%;
        background-size: cover;
        height: 100%;
        & img {
            max-height: 100%;
        }
    }

    .Gallery-slider__item:nth-of-type(even) {
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.Gallery_slider {
    .Gallery_sliderNav {
        height: 113px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-top: 77px;
    }

    .Gallery_backArrow {
        content: "";
        background: url(/img/gallery_slider/arrow_backGold.svg) no-repeat 0;
        width: 40px;
        height: 10px;
        position: absolute;
        top: 32px;
        left: 20px;
        cursor: pointer;
    }

    .Gallery_sliderNav_title {
        font-family: "AvenirNext-Regular";
        font-size: 18px;
        color: #000;
        letter-spacing: 0;
        text-transform: uppercase;
        line-height: 25px;
        padding-bottom: 15px;
    }

    .Gallery_sliderNav_time {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-family: "AvenirNext-Medium";
            font-size: 14px;
            color: #000;
            letter-spacing: 0;
            line-height: 19px;
        }

        span:nth-of-type(2) {
            width: 48px;
            height: 1px;
            display: block;
            background: #000;
            margin: 0 9px;
        }

        span:nth-of-type(3) {
            opacity: 0.5;
        }
    }
}

.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
tr.collapse.in {
    display: table-row;
}
tbody.collapse.in {
    display: table-row-group;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropup,
.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #ededed;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.video-wrapper {
    position: absolute;
    top: 22px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    width: calc(96.3% - 4px);
    height: 94.4%;
    border: solid 2px transparent;

    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        @media (max-width: 767px) {
            display: none;
        }
    }

    &._outer {
        top: 0;
        bottom: 0;
        width: 100%;
        border: none;
    }

    @media (max-width: 1440px) {
        .video {
            min-height: 100%;
            width: auto;
            min-width: 100%;
        }
    }

    @media (max-width: 1024px) {
        top: 16px;
    }

    @media (max-width: 994px) {
        top: 13px;
    }

    @media (max-width: 769px) {
        top: 16px;
        width: calc(100% - 55px);
        height: calc(93% + 2px);
    }
}

.loading {
    opacity: 0.4;
    pointer-events: none;
}

.disabled-option,
.arrow-disabled {
    opacity: 0.5;
    pointer-events: none;
}
