@font-face {
  font-family: 'MuseoCyrl-300';
  src: url('/fonts/MuseoCyrl-300.eot');
  src: url('/fonts/MuseoCyrl-300.woff2') format('woff2'),
       url('/fonts/MuseoCyrl-300.woff') format('woff'),
       url('/fonts/MuseoCyrl-300.ttf') format('truetype'),
       url('/fonts/MuseoCyrl-300.svg#MuseoCyrl-300') format('svg'),
       url('/fonts/MuseoCyrl-300.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
   font-display: fallback;
}

@font-face {
  font-family: 'MuseoCyrl-500';
  src: url('/fonts/MuseoCyrl-500.eot');
  src: url('/fonts/MuseoCyrl-500.woff2') format('woff2'),
       url('/fonts/MuseoCyrl-500.woff') format('woff'),
       url('/fonts/MuseoCyrl-500.ttf') format('truetype'),
       url('/fonts/MuseoCyrl-500.svg#MuseoCyrl-500') format('svg'),
       url('/fonts/MuseoCyrl-500.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MuseoCyrl-700';
  src: url('/fonts/MuseoCyrl-700.eot');
  src: url('/fonts/MuseoCyrl-700.woff2') format('woff2'),
       url('/fonts/MuseoCyrl-700.woff') format('woff'),
       url('/fonts/MuseoCyrl-700.ttf') format('truetype'),
       url('/fonts/MuseoCyrl-700.svg#MuseoCyrl-700') format('svg'),
       url('/fonts/MuseoCyrl-700.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
   font-display: fallback;
}

@font-face {
  font-family: 'MuseoCyrl-900';
  src: url('/fonts/MuseoCyrl-900.eot');
  src: url('/fonts/MuseoCyrl-900.woff2') format('woff2'),
       url('/fonts/MuseoCyrl-900.woff') format('woff'),
       url('/fonts/MuseoCyrl-900.ttf') format('truetype'),
       url('/fonts/MuseoCyrl-900.svg#MuseoCyrl-900') format('svg'),
       url('/fonts/MuseoCyrl-900.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
   font-display: fallback;
}


@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('/fonts/AvenirNext-Regular.eot');
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('/fonts/AvenirNext-Regular.woff') format('woff'),
       url('/fonts/AvenirNext-Regular.ttf') format('truetype'),
       url('/fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg'),
       url('/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
   font-display: fallback;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('/fonts/AvenirNext-DemiBold.eot');
  src: url('/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
       url('/fonts/AvenirNext-DemiBold.woff') format('woff'),
       url('/fonts/AvenirNext-DemiBold.ttf') format('truetype'),
       url('/fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg'),
       url('/fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "AvenirNext-Medium";
    src: url("/fonts/AvenirNext-Medium.eot");
    src: url("/fonts/AvenirNext-Medium.woff2") format("woff2"), url("/fonts/AvenirNext-Medium.woff") format("woff"),
        url("/fonts/AvenirNext-Medium.ttf") format("truetype"),
        url("/fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('/fonts/AvenirNextCyrW00Bold.eot');
  src: url('/fonts/AvenirNextCyrW00Bold.woff2') format('woff2'),
       url('/fonts/AvenirNextCyrW00Bold.woff') format('woff'),
       url('/fonts/AvenirNextCyrW00Bold.ttf') format('truetype'),
       url('/fonts/AvenirNextCyrW00Bold.svg#AvenirNext-DemiBold') format('svg'),
       url('/fonts/AvenirNextCyrW00Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-Italic.eot');
    src: url('AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'AvenirNextCyr-UltraLight';
  src: url('/fonts/AvenirNextCyr-UltraLight.eot');
  src: url('/fonts/AvenirNextCyr-UltraLight.woff2') format('woff2'),
       url('/fonts/AvenirNextCyr-UltraLight.woff') format('woff'),
       url('/fonts/AvenirNextCyr-UltraLight.ttf') format('truetype'),
       url('/fonts/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SangBleu Empire';
  src: url('/fonts/SangBleuEmpire-Regular.eot');
  src: url('/fonts/SangBleuEmpire-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SangBleuEmpire-Regular.woff2') format('woff2'),
  url('/fonts/SangBleuEmpire-Regular.woff') format('woff'),
  url('/fonts/SangBleuEmpire-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

