@media (min-width: 425px) {
    .Section_3 .CenterBlock_item:last-of-type {
        background: url(/img/backgrounds/3.jpg) no-repeat 50% 35%;
        background-size: 100%;
        height: 510px;
    }

    .Section_7 {
        .Contacts_content {
            margin: 50px auto 50px;
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        min-height: 1px;
        // min-height:100%;
    }
}

@media (min-width: 460px) {
    .Section_7 .Contacts_wrap {
        background: url(/img/backgrounds/media/320/foot-z.svg) no-repeat 50% 41%;
        background-size: 100%;
        padding-top: 10%;

        &--longread {
            background: url(/img/backgrounds/media/320/pattern320-blue.svg)
                no-repeat 50% -25%;
            background-size: 100%;
        }
    }
}

@media (min-width: 660px) {
    .Section_7 .Contacts_wrap {
        background: url(/img/backgrounds/media/320/foot-z.svg) no-repeat 50% 25%;
        background-size: 100%;
        &--longread {
            background: url(/img/backgrounds/media/320/pattern320-blue.svg)
                no-repeat 50% -41%;
            background-size: 100%;
        }
    }
}

@media (min-width: 768px) {
    .section {
        .CenterBlock_title {
            text-transform: uppercase;
            text-align: left;
            line-height: 36px;
            font-size: 30px;
            letter-spacing: 0.14px;
            padding-bottom: 20px;
        }
        .CenterBlockWrapper {
            width: 98%;
            height: 94%;
        }
        .CenterBlock_num {
            margin: 50px auto 30px;
        }
        .CenterBlock_wrap {
            min-width: 626px;
            justify-content: space-between;
            display: flex;
        }
        .CenterBlock_btn {
            width: 180px;
            padding: 0.3em;
        }
    }

    .Section_1 {
        .CenterBlockWrap {
            bottom: 20px;
            left: calc(50% - 65px);
        }

        .CenterBlock_title {
            font-size: 33px;
            letter-spacing: 0;
            max-width: 100%;
            line-height: 42px;
            text-align: center;
        }

        .CenterBlock_text {
            letter-spacing: 0;
            line-height: 27px;
            font-size: 22px;
            max-width: 700px;
        }

        .CenterBlock_line {
            display: block;
            z-index: 500;
        }

        .CenterBlock_title,
        .CenterBlock_text {
            text-transform: uppercase;
        }

        .CenterBlockWrapper {
            max-width: 1840px;
            z-index: 100;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start !important;
            height: calc(100% - 140px);
        }

        .CenterBlock {
            height: 89%;
            width: 97%;
            background: none;
            border: 2px solid #b59b61;
            clip-path: polygon(
                4% 0%,
                4% 3%,
                2% 3%,
                2% 6%,
                0% 6%,
                0% 94%,
                2% 94%,
                2% 97%,
                4% 97%,
                4% 100%,
                96% 100%,
                96% 97%,
                98% 97%,
                98% 94%,
                100% 94%,
                100% 6%,
                98% 6%,
                98% 3%,
                96% 3%,
                96% 0%
            );

            .CenterBlock_img {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: transparent;
                background-size: cover;
                transform: scale(1.3);
            }

            &:after,
            &:before {
                z-index: 50;
                content: "";
                position: absolute;
                top: 0;
                width: 4%;
                height: 6.1%;
                border-style: solid;
                border-color: #b59b61 #b59b61;
            }

            &:after {
                right: 0;
                border-width: 0 0 2px 2px;
            }

            &:before {
                left: 0;
                border-width: 0 2px 2px 0;
            }
        }

        .CenterBlock_innerwrap {
            display: none;
            border: 2px solid #b59b61;
            position: relative;
            z-index: 1000;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 2.5em;
            width: 96.2%;
            height: 94.4%;

            &:after,
            &:before {
                content: "";
                position: absolute;
                border-style: solid;
                border-color: #b59b61 #b59b61;
                width: 4.8%;
                height: 6.9%;
                bottom: -3.8%;
            }

            &:after {
                right: -2.7%;
                border-width: 2px 0 0 2px;
            }

            &:before {
                left: -2.7%;
                border-width: 2px 2px 0 0;
            }
        }
    }

    .Section_2 {
        .CenterBlock_item_media {
            max-height: 100%;
            height: 512px;
        }
        .CenterBlockWrapper {
            width: 100%;
            height: 100%;
        }
        .CenterBlock_item_item {
            background: url(/img/backgrounds/2_pattern.jpg) no-repeat 50% 87%;
            background-size: 100%;
            height: 100%;
        }

        .CenterBlock_wrap_inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .CenterBlock_item {
            height: 512px;
        }

        .CenterBlock_text {
            font-size: 17px;
            letter-spacing: 0.08px;
            width: 320px;
            text-align: left;
            line-height: 23px;
        }
        .CenterBlock_wrap {
            flex-direction: row;
        }
        .CenterBlock_btn {
            margin: 0;
        }
    }

    .Section_3 {
        .CenterBlock_item:first-of-type {
            max-width: 100%;
            height: 545px;
        }
        .CenterBlock_item_media {
            max-height: 100%;
            height: 512px;
        }
        .CenterBlock_item:nth-of-type(2) {
            background-size: cover;
            height: 530px;
        }

        .CenterBlockWrapper {
            width: 100%;
            height: 100%;
        }

        .CenterBlock_item {
            height: 512px;
        }

        .CenterBlock_wrap_inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .CenterBlock_text {
            font-size: 17px;
            letter-spacing: 0.08px;
            width: 290px;
            text-align: left;
            line-height: 23px;
        }
        .CenterBlock_wrap {
            flex-direction: row;
        }

        .CenterBlock_num {
            color: #000;
        }
        .CenterBlock_btn {
            margin: 0;
        }

        .CenterBlockWrapper {
            width: 100%;
            overflow: visible;
            position: relative;
            margin-bottom: 0;

            &:after {
                content: "";
                top: 15px;
                left: 0;
                background: url(/img/backgrounds/media/768/ramka768.svg)
                    no-repeat 50%;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }

    .Section_4 {
        .CenterBlock_item:first-of-type {
            max-width: 100%;
        }

        .CenterBlock_item_media {
            max-height: 100%;
            height: 512px;
        }
        .CenterBlockWrapper {
            width: 100%;
            height: 100%;
        }
        .CenterBlock_item_item {
            height: 100%;
        }

        .CenterBlock_wrap_inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .CenterBlock_text {
            font-size: 17px;
            letter-spacing: 0.08px;
            width: 290px;
            text-align: left;
            line-height: 23px;
        }
        .CenterBlock_item {
            height: 512px;
        }
        .CenterBlock_wrap {
            flex-direction: row;
        }

        .CenterBlock_num {
            color: #000;
        }
        .CenterBlock_btn {
            margin: 0;
        }
    }

    .Section_5 {
        .CenterBlock_item:first-of-type {
            max-width: 100%;
            height: 520px;
        }

        .CenterBlock_item:nth-of-type(2) {
            height: 485px;
        }

        .CenterBlock_item_media {
            max-height: 100%;
            background: url(/img/backgrounds/media/768/4_inner.jpg) no-repeat
                20% 100%;
            height: 512px;
        }
        .CenterBlockWrapper {
            width: 100%;
            height: 100%;
        }

        .CenterBlock_item {
            height: 512px;
        }
        .CenterBlock_item_item {
            height: 100%;
        }

        .CenterBlock_wrap_inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .CenterBlock_text {
            font-size: 17px;
            letter-spacing: 0.08px;
            width: 290px;
            line-height: 23px;
            text-align: left;
        }
        .CenterBlock_wrap {
            flex-direction: row;
        }

        .CenterBlock_num {
            color: #000;
        }
        .CenterBlock_btn {
            margin: 0;
        }

        .CenterBlock {
            top: -17px;
        }

        .CenterBlockWrapper {
            width: 100%;
            overflow: visible;
            position: relative;

            &:after {
                content: "";
                top: 15px;
                left: 0;
                background: url(/img/backgrounds/media/768/ramka768.svg)
                    no-repeat 50% 0%;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }

    .Section_6 {
        .CenterBlock_item:first-of-type {
            max-width: 100%;
        }

        .CenterBlock_item_media {
            background-image: url(/img/backgrounds/6.jpg);
            max-height: 100%;
            height: 512px;
        }
        .CenterBlockWrapper {
            width: 100%;
            height: 100%;
        }
        .CenterBlock_item_item {
            height: 100%;
        }

        .CenterBlock_wrap_inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .CenterBlock_text {
            font-size: 17px;
            letter-spacing: 0.08px;
            width: 320px;
            text-align: left;
            line-height: 23px;
        }
        .CenterBlock_wrap {
            flex-direction: row;
            width: 645px;
        }

        .CenterBlock_item {
            height: 512px;
        }

        .CenterBlock_num {
            color: #000;
        }
        .CenterBlock_btn {
            margin: 0;
        }
    }

    .Section_7 {
        background: url(/img/backgrounds/media/768/pattern768.svg) no-repeat 50%
            0;
        background-size: 100%;
        &--longread {
            background: url(/img/backgrounds/media/768/pattern768-blue.svg)
                no-repeat 50% 0;
            background-size: 100%;
        }

        .Contacts_wrap {
            background: none;
            width: 645px;

            &--longread {
                width: auto;
            }
        }

        .Contacts_wrap--height {
            padding: 229px 0px 128px;
            height: 572px;
        }

        .Contacts_wrap--longread {
            padding-left: 40px;
            padding-right: 40px;
            width: 100%;
            padding-top: 230px;
        }

        .fp-tableCell {
            display: flex;
            flex-direction: column;
        }
        .Contacts {
            background-size: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
            margin: 0;
        }
        .Contacts_title {
            font-size: 30px;
            margin-right: 0;
            text-transform: uppercase;
            line-height: 36px;
            max-width: 235px;
        }
        .Contacts_tel {
            font-size: 30px;
            width: 313px;
            text-align: left;
            padding-left: 0;
            align-self: flex-start;
        }

        .Contacts_wrap--longread .Contacts_tel {
            font-size: 32px;
        }

        .Contacts_adress {
            font-size: 17px;
            width: 313px;
        }

        &--longread .Contacts_adress {
            padding-top: 21px;
            margin-bottom: 31px;
        }

        .Contacts_content {
            height: 330px;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: space-between;
            align-items: baseline;
            padding-top: 40px;
        }
        .Contacts_adress {
            text-align: left;
        }
        .Contacts_btn {
            align-self: flex-start;
            margin: 0;
            width: 180px;
        }
    }

    .NewsList {
        max-width: 590px;
        padding: 0;
        margin: 30px auto 15px;
        display: flex;
        flex-wrap: wrap;

        .NewsCard {
            max-width: 285px;
            margin: 30px 10px 15px 0;
        }
    }

    .Title_wrapper {
        height: 111px;
    }

    .Body-default,
    .News,
    .Gallery {
        .Title-news_wrapper,
        .Title-gallery_wrapper {
            background: url(/img/news/media/768/header-pattern.svg) no-repeat
                50%;
            background-size: 100%;
        }

        .NewsCountBreadcrumbs {
            margin: 35px auto;
        }
    }

    .Title-news,
    .Title-bold {
        font-size: 35px;
        line-height: 42px;
    }

    .News-item,
    .Gallery {
        .NewsCard {
            margin: 20px auto;
            max-width: 100%;
        }

        .NewsCard_date {
            max-width: 650px;
            margin: 0 auto;
        }

        .Title {
            font-size: 36px;
            line-height: 43px;
        }

        .NewsCard_img {
            max-width: 770px;
            height: 400px;
            width: 100%;
            background: url(/img/news_item/768/1.jpg) no-repeat 0;
        }
        .NewsCard_text {
            max-width: 650px;
            margin: 0 auto;

            p {
                line-height: 23px;
            }
        }
    }

    .Breadcrumbs_wrapper {
        .Breadcrumbs {
            max-width: 700px;
            width: 100%;
            margin: 20px auto 20px;
        }

        .BreadcrumbsNews-Title:after {
            display: flex;
        }

        .BreadcrumbsNewsItem-Title {
            display: flex;
        }
    }

    .Gallery-modal {
        height: calc(100vh - 148px);
        min-height: 643px;
    }

    .Gallery-wrapper {
        flex-direction: row;
        margin: 20px;
        justify-content: center;
        margin-bottom: -5px;
        flex-wrap: wrap;
        max-width: 728px;
        margin: 20px auto;

        .GalleryLink {
            max-width: 354px;
        }

        .GalleryLink__inner {
            width: 294px;
            height: 408px;
        }

        .GalleryBlock {
            width: 354px;
        }

        .GalleryBlock__1 {
            margin: 0 10px 0 0;
        }

        .GalleryBlock__2 {
            margin-left: 10px;

            .GalleryLink__inner {
                height: 170px;
            }
        }

        .GalleryLink__hiddenCont {
            top: 25px;
            left: 30px;
        }

        .GalleryLink__1 {
            background: url(/img/gallery/media/768/1.jpg) no-repeat 50%;
            height: 462px;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/768/1.jpg) no-repeat 50%;
                background-size: cover;
                height: 402px;
            }
        }

        .GalleryBlock__2 .GalleryLink {
            height: 221px;

            .GalleryLink__hidden {
                height: 170px;
            }
        }

        .GalleryLink__2 {
            background: url(/img/gallery/media/768/2.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/768/2.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .GalleryLink__3 {
            background: url(/img/gallery/media/768/3.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/768/3.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .GalleryLink__title {
            line-height: 29px;
            font-size: 24px;
        }

        .GalleryLink__text {
            font-size: 18px;
            line-height: 25px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: block;
            width: 50%;
        }
        .Gallery-wrapper .swiper-button-prev:before {
            left: 50px !important;
        }

        .Gallery-wrapper .swiper-button-next:before {
            right: 50px !important;
        }
    }

    .Gallery-wrapper .swiper-scrollbar {
        display: none;
    }

    .Gallery_slider {
        .Gallery-wrapper {
            margin: 0;
            max-width: 100%;
        }
        .Gallery_sliderNav {
            flex-direction: row;
            justify-content: flex-start;
            margin: 77px 26px 0;
            height: 71px;
        }

        .Gallery_backArrow {
            top: 30px;
            left: 0;
        }

        .Gallery_sliderNav_title {
            padding: 0 40px 0 93px;
            font-size: 24px;
            line-height: 33px;
        }

        .Gallery-wrapper .Gallery-slider__item {
            // height: 643px;
            margin: 0 auto;
            height: 100%;
            background-position: center !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            width: auto !important;
            display: inline-block !important;
            & img {
                height: 100%;
                max-width: 100%;
                opacity: 0 !important;
                visibility: hidden !important;
            }
        }
    }

    .Gallery {
        .owl-carousel.owl-drag .owl-item {
            height: 643px;
        }

        .Title {
            font-size: 35px;
        }
    }
    .News-item .NewsCard {
        margin: 20px 0;
        max-width: 100%;
        flex: 1 0;
    }

    .News_wrapper {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
}

@media (min-width: 1024px) {
    .fp-tableCell {
        vertical-align: middle;
    }

    .CenterBlock_title,
    .CenterBlock_text,
    .CenterBlock_num,
    .CenterBlock_btn {
        opacity: 0;
    }

    .CenterFrame {
        left: 2%;
        top: 11%;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 84%;
    }

    .section {
        .CenterBlock_title {
            font-size: 35px;
            line-height: 42px;
            position: relative;
            left: -20px;
        }
        .CenterBlock_text {
            margin: 0;
            text-align: left;
            width: auto;
            font-size: 17px;
            position: relative;
            left: -20px;
        }
        .CenterBlockDesc {
            max-width: 340px;
            margin: auto;
        }
        .CenterBlock_num {
            text-align: left;
            left: -20px;
            margin: 30px 0 20px;

            &:after {
                left: 25px;
            }
        }
        .CenterBlock_wrap {
            min-width: 100%;
        }
        .CenterBlock_btn {
            width: 190px;
            height: 50px;
            margin-left: -20px;
            opacity: 0;
        }

        .CenterBlock_item_media {
            height: 100%;
        }
    }

    .Section_1 {
        z-index: 10;
        opacity: 0;

        .CenterBlockWrapper {
            max-width: 1840px;
            z-index: 100;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start !important;
            height: calc(100% - 140px);
        }

        .CenterBlock_title,
        .CenterBlock_text {
            text-transform: uppercase;
        }

        .CenterBlock_title {
            font-size: 33px;
            line-height: 42px;
        }

        .CenterBlock_text {
            font-size: 22px;
        }

        .CenterBlock_link {
            opacity: 0;
        }

        .CenterBlock {
            height: 100%;
            background: transparent;
            background-size: 130% 130%;
            border: 2px solid #b59b61;
            clip-path: polygon(
                4% 0%,
                4% 3%,
                2% 3%,
                2% 6%,
                0% 6%,
                0% 94%,
                2% 94%,
                2% 97%,
                4% 97%,
                4% 100%,
                96% 100%,
                96% 97%,
                98% 97%,
                98% 94%,
                100% 94%,
                100% 6%,
                98% 6%,
                98% 3%,
                96% 3%,
                96% 0%
            );

            &:after,
            &:before {
                content: "";
                position: absolute;
                top: 0;
                width: 4%;
                height: 6.1%;
                border-style: solid;
                border-color: #b59b61 #b59b61;
            }

            &:after {
                right: 0;
                border-width: 0 0 2px 2px;
            }

            &:before {
                left: 0;
                border-width: 0 2px 2px 0;
            }
        }

        .CenterBlockWrap {
            bottom: 30px;
        }

        .CenterBlock_title,
        .CenterBlock_text {
            position: static;
            max-width: 100%;
            opacity: 0;
        }
        .AnimBlock {
            z-index: 50;
            background: url(/img/backgrounds/1.jpg) no-repeat 50%;
        }
        .CenterBlock_link {
            opacity: 0;
            padding-left: 0;
        }
        .CenterBlock_line {
            height: 0;
        }
    }

    .Section_2 {
        z-index: 9;

        .AnimBlock {
            background: url(/img/backgrounds/2.jpg) no-repeat 0 50%;
            background-size: cover;
            transform: scale(1.1);
            display: block;
        }

        .CenterBlock {
            display: flex;
            justify-content: flex-end;
            will-change: transform;
            flex-direction: row;
        }
        .CenterBlock_wrap {
            flex-direction: column;
        }
        .CenterBlock_item {
            width: 50%;
            height: 100%;
        }

        .CenterBlock_item_media {
            background-size: cover;
            width: 50%;
            display: none;
            background: url(/img/backgrounds/2.jpg) no-repeat 0 50%;
        }
        .CenterBlock_item_item {
            background: url(/img/backgrounds/media/320/2.svg) no-repeat 50% 45%;
            background-size: cover;
            width: 0;
            display: flex;
            align-items: center;
        }
    }

    .Section_3 {
        z-index: 8;
        background: #fff;

        .CenterBlockWrapper:after {
            display: none;
        }
        .CenterBlock {
            flex-direction: row;
        }
        .CenterBlock_item_pic {
            display: none;
        }

        .CenterBlock {
            display: flex;
            justify-content: flex-end;
            top: 0;
        }
        .CenterBlock_wrap {
            flex-direction: column;
        }
        .CenterBlock_item {
            width: 50%;
            height: 100%;
        }

        .CenterBlock_item_media {
            background-size: cover;
            width: 50%;
            display: none;
        }
        .CenterBlock_item_item {
            width: 0;
        }
        .CenterBlock_item:first-of-type {
            order: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .CenterBlock_item:nth-of-type(2) {
            order: 2;
            height: 100%;
            transform: scale(1.1);
            background: url(/img/backgrounds/3.jpg) no-repeat 50%;
            background-size: cover;
        }

        .CenterBlock_title {
            max-width: 315px;
        }
    }

    .Section_4 {
        z-index: 7;

        .AnimBlock {
            background: url(/img/backgrounds/4.jpg) no-repeat 0 100%;
            background-size: cover;
            transform: scale(1.1);
            display: block;
        }

        .CenterBlock {
            display: flex;
            justify-content: flex-end;
            will-change: transform;
            flex-direction: row;
        }
        .CenterBlock_wrap {
            flex-direction: column;
        }
        .CenterBlock_item {
            width: 50%;
            height: 100%;
        }

        .CenterBlock_item_media {
            background-size: cover;
            width: 50%;
            display: none;
            background: url(/img/backgrounds/4.jpg) no-repeat 0 0;
        }
        .CenterBlock_item_item {
            background: #fff;
            width: 0;
            display: flex;
            align-items: center;
        }
    }

    .Section_5 {
        z-index: 2;
        background: #fff;

        .CenterBlockWrapper:after {
            display: none;
        }
        .CenterBlock {
            flex-direction: row;
        }

        .CenterBlock_item_pic {
            display: none;
        }

        .CenterBlock {
            display: flex;
            justify-content: flex-end;
            top: 0;
        }
        .CenterBlock_wrap {
            flex-direction: column;
        }
        .CenterBlock_item {
            width: 50%;
            height: 100%;
        }

        .CenterBlock_item_media {
            background-size: cover;
            width: 50%;
            display: none;
        }
        .CenterBlock_item_item {
            width: 0;
        }

        .CenterBlock_item:first-of-type {
            order: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .CenterBlock_item:nth-of-type(2) {
            order: 2;
            height: 100%;
            transform: scale(1.1);
            background: url(/img/backgrounds/5.jpg) no-repeat 50%;
            background-size: cover;
        }
    }

    .Section_6 {
        z-index: 1;

        .AnimBlock {
            background: url(/img/backgrounds/6.jpg) no-repeat 0 100%;
            background-size: cover;
            transform: scale(1.1);
            display: block;
        }
        .CenterBlock {
            display: flex;
            justify-content: flex-end;
            will-change: transform;
            flex-direction: row;
        }
        .CenterBlock_wrap {
            flex-direction: column;
            width: 100%;
        }
        .CenterBlock_item {
            width: 50%;
            height: 100%;
        }

        .CenterBlock_item_media {
            width: 50%;
            display: none;
            transform: scale(1.1);
        }

        .CenterBlock_item_item {
            background: #fff;
            width: 0;
            display: flex;
            align-items: center;
        }
        .CenterBlock_item .CenterBlock_item_inner {
            height: 100%;
        }
    }

    .Section_7 {
        background: none;

        .fp-tableCell {
            display: flex;
            flex-direction: column;
        }

        .Contacts_wrap {
            width: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            background-size: contain;
            background: url(/img/backgrounds/media/1024/pattern1024.svg)
                no-repeat 100% 100%;
            &--longread {
                background: url(/img/backgrounds/media/1024/pattern1024-blue.svg)
                    no-repeat 100% 100%;
            }
        }

        .Contacts_wrap--height {
            padding: 77px 0px 136px;
            height: auto;
        }

        .Contacts_title_wrap {
            width: 50%;
        }

        &--longread .Contacts_title_wrap {
            width: 40%;
        }

        .Contacts_item {
            width: 67%;
            align-items: flex-start;
        }
        &--longread .Contacts_item {
            width: 60%;
        }

        .Contacts {
            padding-top: 0;
            margin: 0;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;
            height: 70%;
            margin: 0 auto;
            word-wrap: pre-line;
        }

        .Contacts_wrap--longread .Contacts {
            padding-left: 0;
            padding-right: 0;
        }

        .Contacts_title {
            max-width: 340px;
            display: flex;
            flex-direction: column;
            font-size: 35px;
            line-height: 42px;
            margin: 0 auto;
        }

        .Contacts_wrap--longread .Contacts_title {
            margin: 0;
        }
    }

    .Body-default,
    .News,
    .Gallery {
        .Title-news_wrapper,
        .Title-gallery_wrapper {
            background: url(/img/news/media/1024/header-pattern.svg) no-repeat
                50%;
            background-size: 100%;
        }

        .NewsCountBreadcrumbs {
            margin: 35px auto;
        }
    }

    .NewsList {
        max-width: 895px;
        margin: 10px auto;

        .NewsCard {
            max-width: 285px;
            margin: 30px 10px 15px 0;
        }

        .NewsCountBreadcrumbs {
            margin: 15px auto 45px;
        }
    }

    .NewsCard_img_1 {
        background: url(/img/news/1.jpg) no-repeat 50%;
        width: 400px;
        height: 903px;
    }

    .News-item,
    .Gallery {
        .NewsCard_img {
            max-width: 903px;
            height: 401px;
            width: 100%;
            background-size: 100%;
            background: url(/img/news_item/1024/1.jpg) no-repeat 50%;
        }

        .NewsCard {
            max-width: 100%;
            position: relative;
        }

        .NewsCard_text {
            max-width: 650px;
            margin: 0 auto;
        }

        .NewsCard_date {
            position: absolute;
            left: 27px;
        }
    }

    .Breadcrumbs_wrapper .Breadcrumbs {
        max-width: 95%;
    }

    .Gallery-wrapper {
        max-width: 944px;
        .GalleryBlock {
            width: 462px;
        }
        .GalleryLink {
            max-width: 462px;
        }
        .GalleryLink__inner {
            width: 382px;
        }

        .GalleryBlock__2 .GalleryLink__inner {
            height: 155px;
        }

        .GalleryLink__1 {
            background: url(/img/gallery/media/1024/1.jpg) no-repeat 50%;
            height: 462px;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1024/1.jpg) no-repeat 50%;
                background-size: cover;
                height: 402px;
            }
        }

        .GalleryLink__2 {
            background: url(/img/gallery/media/1024/2.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1024/2.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .GalleryLink__3 {
            background: url(/img/gallery/media/1024/3.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1024/3.jpg) no-repeat 50%;
                background-size: cover;
            }
        }
    }

    .Gallery-modal {
        min-height: 480px;
    }

    .Gallery_slider {
        .owl-theme .owl-nav {
            padding: 0px 15px;
        }

        .Gallery-wrapper .Gallery-slider__item {
            background-size: cover;
            height: 100%;
        }
    }

    .Gallery_slider .Gallery_sliderNav_title {
        padding: 0 40px 0 140px;
    }

    .Gallery .owl-carousel.owl-drag .owl-item {
        height: 480px;
    }
}

@media (min-width: 1280px) {
    .CenterFrame {
        display: flex;
        top: 100px;
        height: 80%;

        svg {
            height: 100%;
        }
    }

    .section {
        .AnimBlock {
            background-size: 100% 100%;
        }
        .CenterBlockDesc {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .CenterBlockWrapper {
            width: 95%;
            margin: 0 auto;
            height: 95%;
        }
        .CenterBlock_item_media {
            display: flex;
            height: auto;
            will-change: transform;
            transform: scale(1.1);
            background-size: cover;
        }

        .CenterBlock {
            overflow: hidden;
        }
    }

    .Section_1 {
        .CenterBlockWrapper {
            height: calc(100% - 140px);
        }
    }

    .Section_2,
    .Section_4,
    .Section_6 {
        .CenterBlock {
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
        }
    }

    .Section_3 {
        .CenterBlock_item:last-of-type {
            background: transparent;
            width: 50%;
            position: relative;
            will-change: transform;
        }
        .CenterBlock_item_pic {
            display: flex;
        }

        .CenterBlock_item_inner_wrap {
            width: 0;
            background: #b59b61;
            height: 100%;
            position: absolute;
            z-index: 50;
        }
    }

    .Section_5 {
        .AnimBlock {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            z-index: 40;
            height: 100vh;
            background: url(/img/backgrounds/5.svg) no-repeat 50%;
            display: block;
        }
        .CenterBlock_item:last-of-type {
            background: transparent;
            width: 50%;
            position: relative;
            will-change: transform;
        }
        .CenterBlock_item_pic {
            display: block;
        }

        .CenterBlock_item_inner_wrap {
            width: 0;
            background: #fff;
            height: 100%;
            position: absolute;
            z-index: 50;
        }
        .CenterBlock_title {
            max-width: 325px;
        }
    }

    .Section_7 {
        .Contacts_content {
            width: 95%;
        }

        .Contacts_wrap--longread .Contacts_content {
            width: auto;
        }

        .Contacts {
            padding-top: 0;
            height: auto;
            max-width: 100%;
        }

        .fp-tableCell {
            vertical-align: top;
        }

        .Contacts_wrap {
            padding-top: 0;
            background: url(/img/backgrounds/media/1280/pattern1280.svg)
                no-repeat 100% 0;
            background-size: cover;
            height: 70%;
            &--longread {
                background: url(/img/backgrounds/media/1280/pattern1280-blue.svg)
                    no-repeat 100% 0;
            }
        }

        .Contacts_wrap--height {
            padding: 77px 0px 137px;
        }

        .Contacts_item {
            position: relative;
            left: -13%;
        }

        &--longread .Contacts_title_wrap {
            left: 0;
            width: 33%;
        }

        &--longread .Contacts_item {
            left: 0;
            width: 67%;
        }
    }

    .News .Title-news_wrapper,
    .Gallery .Title-gallery_wrapper {
        background: url(/img/news/media/1280/header-pattern.svg) no-repeat 50%;
        background-size: 100%;
    }

    .News-item,
    .Gallery {
        .NewsCard_text {
            max-width: 710px;
        }
        .NewsCard_date {
            left: 11%;
        }
    }

    .Breadcrumbs_wrapper .Breadcrumbs {
        max-width: 93%;
    }

    .Gallery-wrapper {
        flex-direction: row;
        justify-content: center; //margin-bottom: -40px;
        max-width: 1200px;
        .GalleryLink {
            max-width: 590px;
        }

        .GalleryLink__inner {
            width: 510px;
            height: 510px;
        }

        .GalleryBlock {
            width: 590px;
        }

        .GalleryBlock__1 {
            margin: 0 10px 0 0;
        }

        .GalleryBlock__2 {
            margin-left: 10px;

            .GalleryLink__inner {
                height: 205px;
            }
        }

        .GalleryLink__hiddenCont {
            top: 30px;
            left: 30px;
        }

        .GalleryLink__1 {
            background: url(/img/gallery/media/1280/1.jpg) no-repeat 50%;
            height: 590px;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1280/1.jpg) no-repeat 50%;
                background-size: cover;
                height: 520px;
            }
        }

        .GalleryBlock__2 .GalleryLink {
            height: 285px;

            .GalleryLink__hidden {
                height: 205px;
            }
        }

        .GalleryLink__2 {
            background: url(/img/gallery/media/1280/2.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1280/2.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .GalleryLink__3 {
            background: url(/img/gallery/media/1280/3.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1280/3.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .Gallery-wrapper .GalleryLink__title {
            line-height: 29px;
            font-size: 24px;
        }
        .GalleryLink__text {
            font-size: 18px;
            line-height: 25px;
        }
    }

    .Gallery-modal {
        min-height: 574px;
    }

    .Gallery_slider {
        .Gallery-wrapper {
            .Gallery-slider__item,
            .Gallery-slider__item:nth-of-type(even) {
                background-size: cover;
            }
        }
        .Gallery_sliderNav {
            margin: 77px 48px 0;
        }
    }

    .Gallery .owl-carousel.owl-drag .owl-item {
        height: 600px;
    }
}

@media (min-width: 1550px) {
    .Gallery_slider .Gallery_sliderNav {
        margin: 77px 51px 0;
    }
}

@media (min-width: 1920px) {
    .section {
        .CenterBlock_title {
            font-size: 45px;
            line-height: 54px;
        }
        .CenterBlock_text {
            font-size: 22px;
            letter-spacing: 0.1px;
            line-height: 35.6px;
            padding: 40px 0;
        }
        .CenterBlockDesc {
            max-width: 550px;
            height: 600px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: auto;
        }
        .CenterBlock_btn {
            width: 180px;
            height: 45px;
        }
        .CenterBlock_num {
            font-size: 14px;
            letter-spacing: 0.09px;
            width: 70px;
            position: relative;
            left: -130px;
            margin-top: 10px;
        }
    }

    .Section_1 {
        .CenterBlock_title {
            font-size: 45px;
        }
        .CenterBlock_text {
            font-size: 32px;
        }
        .CenterBlock {
            width: 100%;
        }

        .CenterBlock_link {
            padding-left: 0;
        }
    }

    .Section_3 .CenterBlock_title {
        max-width: 402px;
    }

    .Section_5 .CenterBlock_title {
        max-width: 410px;
    }

    .CenterFrame {
        height: 90%;
        top: 80px;
    }

    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 100% 17%;
        &--longread {
            background: url(/img/backgrounds/footer_pattern-blue.svg) no-repeat
                100% 0;
        }
        background-size: auto;
        .Contacts_wrap {
            height: 70%;
        }

        .Contacts_wrap {
            background: none;
        }

        .Contacts {
            background: none;
            max-width: 1840px;
            margin: 0 auto;
            width: 95%;
            background: none;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .Contacts_adress {
            font-size: 22px;
            width: 600px;
        }

        .Contacts_wrap--longread .Contacts_tel {
            font-size: 45px;
            width: 600px;
        }
        .Contacts_title {
            font-size: 45px;
            max-width: 550px;
            line-height: 45px;
        }

        .Contacts_wrap--longread .Contacts_title {
            margin: 0 auto;
        }

        .Contacts_content {
            width: 100%;
            margin: 0 auto;
            justify-content: flex-start;
        }

        .Contacts_spec {
            width: 0;
        }

        .Contacts_item {
            left: 0;
        }
    }

    .NewsList {
        max-width: 1200px;
    }

    .News-item .NewsCard {
        max-width: 100%;
    }

    .Breadcrumbs_wrapper .Breadcrumbs {
        max-width: 1800px;
    }

    .Gallery-modal {
        min-height: 700px;
    }

    .Gallery-wrapper {
        flex-direction: row;
        justify-content: center;
        margin-bottom: -5px;
        max-width: 1554px;

        .GalleryLink {
            max-width: 767px;
        }

        .GalleryLink__inner {
            width: 663px;
            height: 663px;
        }

        .GalleryBlock {
            width: 767px;
        }

        .GalleryBlock__1 {
            margin: 0 10px 0 0;
        }

        .GalleryBlock__2 {
            margin-left: 10px;

            .GalleryLink__inner {
                height: 293px;
            }
        }

        .GalleryLink__title {
            font-size: 30px;
        }

        .GalleryLink__hiddenCont {
            top: 30px;
            left: 30px;
        }

        .GalleryLink__1 {
            background: url(/img/gallery/media/1920/1.jpg) no-repeat 50%;
            height: 767px;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1920/1.jpg) no-repeat 50%;
                background-size: cover;
                height: 663px;
            }
        }

        .GalleryBlock__2 .GalleryLink {
            height: 373px;

            .GalleryLink__hidden {
                height: 293px;
            }
        }

        .GalleryLink__2 {
            background: url(/img/gallery/media/1920/2.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1920/2.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .GalleryLink__3 {
            background: url(/img/gallery/media/1920/3.jpg) no-repeat 50%;

            .GalleryLink__hidden {
                background: url(/img/gallery/media/1920/3.jpg) no-repeat 50%;
                background-size: cover;
            }
        }

        .Gallery-wrapper .GalleryLink__title {
            line-height: 30px;
            font-size: 36px;
        }
        .GalleryLink__text {
            font-size: 20px;
            line-height: 27px;
        }
    }

    .Gallery_slider .Gallery-wrapper .Gallery-slider__item {
    }

    .Gallery_slider .Gallery_sliderNav {
        max-width: 1800px;
        width: 100%;
        margin: 77px auto 0;
    }

    .Gallery-wrapper .swiper-button-prev {
        //margin-left: 10%;
    }

    .Gallery-wrapper .swiper-button-next {
        //margin-right: 10%;
    }

    .News_wrapper {
        height: calc(100vh - 127px);
        overflow-x: hidden;
    }

    .News-item .NewsCard_date {
        left: 24%;
    }
}

@media (min-width: 767px) and (max-width: 770px) and (min-height: 1024px) and (max-height: 1024px) {
    main {
        padding-bottom: 0;
    }

    .Gallery-wrapper {
        margin-bottom: 0;
    }
}

@media (min-width: 1920px) and (min-height: 1100px) {
    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 123% 17%;
        background-size: contain;
        &--longread {
            background: url(/img/backgrounds/footer_pattern-blue.svg) no-repeat
                100% 0;
        }
    }
    .Section_7 .Contacts_wrap {
        height: 80%;
    }
    //.Gallery-full {
    //    display: flex;
    //    flex-direction: column;
    //    align-items: center;
    //    justify-content: center;
    //    height: calc(90vh - 338px);
    //    padding-top: 10px;
    //}
    //
    //.Gallery-wrapper {
    //    align-items: center;
    //    overflow: hidden;
    //}
    //
    //.Gallery-wrapper .GalleryLink__1 {
    //    height: 100%;
    //    background-size: cover;
    //}
    //
    //.Gallery-wrapper .GalleryBlock {
    //    height: 100%;
    //}
    //
    //.Gallery-wrapper .GalleryBlock__2 .GalleryLink {
    //    height: 49%;
    //    background-size: cover;
    //
    //    &:last-of-type {
    //        margin-bottom: 0;
    //    }
    //}
    //.Gallery.Gallery_slider {
    //    height: calc(96vh - 13px);
    //}
}

@media (max-width: 1100px), (min-height: 750px) {
    .Section_2 {
        .CenterBlock_item_item {
            background: url(/img/backgrounds/2_pattern.jpg) no-repeat 50% 0%;
            background-size: cover;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1300px) and (min-height: 800px) {
    .Section_7 .Contacts_wrap {
        height: 68%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 710px) and (max-height: 749px) {
    .Section_7 .Contacts_wrap {
        height: 64%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 785px) {
    .Section_7 {
        .Contacts_wrap {
            background: url(/img/backgrounds/media/1280/pattern1280.svg)
                no-repeat 60% 0;
            background-size: cover;
            height: 66%;
        }
    }
}

@media (max-width: 770px) and (min-height: 1279px) {
    .Section_7 {
        .Contacts_wrap {
            height: 660px;
        }
    }
}

@media (max-width: 801px) and (min-height: 1200px) {
    .Gallery-full {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 65vh;
        justify-content: center;
    }

    .Gallery-wrapper {
        height: auto;
        margin-bottom: 0;
    }

    .Gallery-wrapper .GalleryLink__1,
    .Gallery-wrapper .GalleryLink__2 {
        height: 100%;
        background-position: 0 0;
    }
}

@media (min-width: 1920px) {
    .section {
        .CenterBlock_title {
            font-size: 45px;
            line-height: 54px;
        }
        .CenterBlock_text {
            font-size: 22px;
            letter-spacing: 0.1px;
            line-height: 35.6px;
            padding: 40px 0;
        }
        .CenterBlockDesc {
            max-width: 550px;
            height: 600px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: auto;
        }
        .CenterBlock_btn {
            width: 180px;
            height: 45px;
        }
        .CenterBlock_num {
            font-size: 14px;
            letter-spacing: 0.09px;
            width: 70px;
            position: relative;
            left: -130px;
            margin-top: 10px;
        }
    }

    .Section_1 {
        .CenterBlock_title {
            font-size: 45px;
        }
        .CenterBlock_text {
            font-size: 32px;
        }
        .CenterBlock {
            width: 100%;
        }

        .CenterBlock_link {
            padding-left: 0;
        }
    }

    .Section_3 .CenterBlock_title {
        max-width: 402px;
    }

    .Section_5 .CenterBlock_title {
        max-width: 410px;
    }

    .CenterFrame {
        height: 90%;
        top: 80px;
    }

    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 100% 17%;
        background-size: auto;

        .Contacts_wrap {
            height: 70%;
        }

        .Contacts_wrap {
            background: none;
        }

        .Contacts {
            background: none;
            max-width: 1840px;
            margin: 0 auto;
            width: 95%;
            background: none;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .Contacts_adress {
            font-size: 22px;
            width: 600px;
        }

        .Contacts_tel {
            font-size: 45px;
            width: 600px;
        }
        .Contacts_title {
            font-size: 45px;
            max-width: 550px;
            line-height: 45px;
        }
        .Contacts_content {
            width: 100%;
            margin: 0 auto;
            justify-content: flex-start;
        }

        .Contacts_spec {
            width: 0;
        }

        .Contacts_item {
            left: 0;
        }

        .Contacts_wrap--height {
            height: 760px;
        }
    }
}

@media (min-width: 1920px) and (min-height: 1100px) {
    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 123% 17%;
        background-size: contain;
    }

    .Section_7 .Contacts_wrap {
        height: 80%;
    }

    .Section_7 .Contacts_wrap--height {
        height: 760px;
    }
}

@media (max-width: 1100px), (min-height: 750px) {
    .Section_2 {
        .CenterBlock_item_item {
            background: url(/img/backgrounds/2_pattern.jpg) no-repeat 50% 0%;
            background-size: cover;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1300px) and (min-height: 800px) {
    .Section_7 .Contacts_wrap {
        height: 68%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 710px) and (max-height: 749px) {
    .Section_7 .Contacts_wrap {
        height: 64%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 785px) {
    .Section_7 {
        .Contacts_wrap {
            background: url(/img/backgrounds/media/1280/pattern1280.svg)
                no-repeat 60% 0;
            background-size: cover;
            height: 66%;
        }
    }
}

@media (max-width: 770px) and (min-height: 1279px) {
    .Section_7 {
        .Contacts_wrap {
            height: 660px;
        }
    }
}

@media (max-width: 801px) and (min-height: 1200px) {
    .Gallery-full {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 65vh;
        justify-content: center;
    }

    .Gallery-wrapper {
        height: auto;
        margin-bottom: 0;
    }

    .Gallery-wrapper .GalleryLink__1,
    .Gallery-wrapper .GalleryLink__2 {
        height: 100%;
        background-position: 0 0;
    }
}

@media (min-width: 1920px) {
    .section {
        .CenterBlock_title {
            font-size: 45px;
            line-height: 54px;
        }
        .CenterBlock_text {
            font-size: 22px;
            letter-spacing: 0.1px;
            line-height: 35.6px;
            padding: 40px 0;
        }
        .CenterBlockDesc {
            max-width: 550px;
            height: 600px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            margin: auto;
        }
        .CenterBlock_btn {
            width: 180px;
            height: 45px;
        }
        .CenterBlock_num {
            font-size: 14px;
            letter-spacing: 0.09px;
            width: 70px;
            position: relative;
            left: -130px;
            margin-top: 10px;
        }
    }

    .Section_1 {
        .CenterBlock_title {
            font-size: 45px;
        }
        .CenterBlock_text {
            font-size: 32px;
        }
        .CenterBlock {
            width: 100%;
        }

        .CenterBlock_link {
            padding-left: 0;
        }
    }

    .Section_3 .CenterBlock_title {
        max-width: 402px;
    }

    .Section_5 .CenterBlock_title {
        max-width: 410px;
    }

    .CenterFrame {
        height: 90%;
        top: 80px;
    }

    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 100% 17%;
        background-size: auto;

        &--longread {
            background: url(/img/backgrounds/footer_pattern-blue.svg) no-repeat
                100% 0;
        }

        .Contacts_wrap {
            height: 70%;
        }

        .Contacts_wrap {
            background: none;
        }

        .Contacts {
            background: none;
            max-width: 1840px;

            margin: 0 auto;
            width: 95%;
            background: none;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .Contacts_wrap--longread .Contacts {
            max-width: none;
            width: 100%;
        }

        .Contacts_adress {
            font-size: 22px;
            width: 600px;
        }

        .Contacts_tel {
            font-size: 45px;
            width: 600px;
        }
        .Contacts_title {
            font-size: 45px;
            max-width: 550px;
            line-height: 45px;
        }
        .Contacts_content {
            width: 100%;
            margin: 0 auto;
            justify-content: flex-start;
        }

        .Contacts_spec {
            width: 0;
        }

        .Contacts_item {
            left: 0;
        }

        .Contacts_wrap--height {
            height: 760px;
        }
        .Contacts_wrap--longread .Contacts_content {
            width: 100%;
        }
    }
}

@media (min-width: 1920px) and (min-height: 1100px) {
    .Section_7 {
        background: url(/img/backgrounds/footer_pattern.svg) no-repeat 123% 17%;
        background-size: contain;

        &--longread {
            background: url(/img/backgrounds/footer_pattern-blue.svg) no-repeat
                100% 0;
        }
    }

    .Section_7 .Contacts_wrap {
        height: 80%;
    }

    .Section_7 .Contacts_wrap--height {
        height: 760px;
    }
}

@media (max-width: 1100px), (min-height: 750px) {
    .Section_2 {
        .CenterBlock_item_item {
            background: url(/img/backgrounds/2_pattern.jpg) no-repeat 50% 0%;
            background-size: cover;
        }
    }
}

@media (max-width: 770px) and (min-height: 1279px) {
    .Section_7 {
        .Contacts_wrap {
            height: 660px;
        }

        .Contacts_wrap--height {
            height: auto;
        }
    }
}

@media (max-width: 992px) {
    .Section_1 .CenterBlock {
        height: 78%;
    }
}

@media (max-width: 658px) {
    .Section_1 .CenterBlockWrapper {
        height: 100%;
    }
}

@media (min-width: 1280px) and (max-width: 1300px) and (min-height: 800px) {
    .Section_7 .Contacts_wrap {
        height: 68%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 710px) and (max-height: 749px) {
    .Section_7 .Contacts_wrap {
        height: 64%;
    }
}

@media (min-width: 1270px) and (max-width: 1300px) and (min-height: 750px) and (max-height: 785px) {
    .Section_7 {
        .Contacts_wrap {
            background: url(/img/backgrounds/media/1280/pattern1280.svg)
                no-repeat 60% 0;
            background-size: cover;
            height: 66%;
        }
    }
}

@media (max-width: 770px) and (min-height: 1279px) {
    .Section_7 {
        .Contacts_wrap {
            height: 660px;
        }

        .Contacts_wrap--height {
            height: auto;
        }
    }
}
