.b-childhood-container {
  display: flex;
  flex-wrap: wrap;
  width:calc(100% + 40px);
  margin-left: -20px;

  &__text {
    padding: 20px 20px 30px 20px;
    font-family: AvenirNext-Regular;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0.1px;
    order:2;
  }
}