@media (min-width: 768px) {
  .b-childhood-container {
      width:calc(100% + 80px);
      margin-left: -40px;
      &__text {
        padding: 60px 40px;
      }
  }
}

@media (min-width: 1024px) {
  .b-childhood-container {
      width:100%;
      margin-left:0;
      margin-bottom: 60px;
      &__text {
        width: 50%;
        padding: 0 0 0 68px;
        display: flex;
        align-items: center;
        order:initial;
      }
      &__text-inner {
        max-width: 400px;
      }
  }
}