.BldChessSwitcher
  padding: 0 10px;
  margin-bottom 22px
  width 100%
  @media $smMinus
    width 50%
    padding 0 17px

  @media $xs
    width 100%
    padding 0

  &__title
    font-size 14px
    color #000000
    font-family 'AvenirNext-Regular'
    margin-bottom 12px

  &__inner
    border 1px solid #b59b61
    display flex
    flex-wrap wrap

  &_btn
    position relative
    flex-grow 1
    flex-shrink 0
    flex-basis auto
    min-width 55px
    height 40px
    background transparent
    border none
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-family: 'AvenirNext-Regular';
    transition: background .3s;
    border-left 1px solid #b59b61

    &-active
      background #fff

    &-disable
      opacity 0.5
      pointer-events none

    &:hover
      background #fff

    &:first-child
      border-left none
