.Box
  width 100%
  padding-right $boxGutters
  padding-left $boxGutters
  margin-right auto
  margin-left auto

  @media $xs
    max-width $xsBoxWidth
  @media $sm
    max-width $smBoxWidth
  @media $md
    max-width $mdBoxWidth
  @media $lg
    max-width $lgBoxWidth
  @media $xl
    max-width $xlBoxWidth