.Btn
    background-color #b59b61
    background-clip content-box
    border 1px solid #b59b61
    font-family 'MuseoCyrl-300'
    text-transform uppercase
    padding 6px
    font-size 14px
    color #fff
    display flex
    justify-content center
    align-items center
    height 45px
    &:hover,
    &:focus
    	opacity .9
    &::-moz-focus-inner
    	border 0
    &-block
        width 100%

    &-ghost
        border: dotted 1px #b59b61
        background transparent
        color #000000
        &:hover
            border-style solid
            
    &-ligth
        border-color #dacdb0
        background-color #dacdb0
        color #000
        
    &-txt2
        text-transform none
        font-size 17px

    &_inner
        &-x1
            margin-left 18px
            margin-right 18px

    &._statesupport
        padding 5px
        & span
            display inline-block
            padding 0 33px