.Title_wrapper-brownPattern
	@media $smMinus
		height 83px
		background-size 1024px auto
	@media $xs
		background-size 768px auto

.Decor
	&Style
		min-width 320px
		&_wrapTabs
			position relative
		&_top
			display flex
			margin-bottom 80px
			@media $smMinus
				display none
			&Item
				width 50%;
				height calc(100vh - 271px)
				padding-right 5px
				background-position center
				background-repeat no-repeat
				background-size cover
				position relative
				text-align right
				&:hover
					z-index 10
				&._modernHall1
					background-position center 34%
				&._modernBathRoom2
					background-position center 15%
				&._wb
					height calc(100vh - 191px)
					margin-bottom -80px
				&:nth-child(2)
					padding 0 0 0 5px
					text-align left
				&Inner
					display inline-block
					position relative
					&:after
						content ''
						position absolute
						top 0
						left 0
						width 100%
						height 100%
						display block
						box-shadow inset 0px 0px 100px -5px rgba(25,28,43,0.2)
						z-index 90
				&Img
					max-width 100%
					max-height calc(100vh - 271px)
					display block
					object-fit contain
					&._wb
						max-height calc(100vh - 191px)
			&Bull
				position absolute
				width 30px
				height 30px
				cursor pointer
				z-index 999
				@media $smMinus
					display none
				&:after
					content ''
					position absolute
					left 0
					top 0
					width 30px
					height 30px
					background url('../img/decorStyle/plus.svg')
					transform rotate(0deg)
					transition transform 0.3s ease-in-out
				&:hover:after
					transform rotate(315deg)
			&Toolp
				//position absolute
				//right 15px
				//top 15px
				display flex
				visibility hidden
				opacity 0
				box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.3)
				transition all 0.3s ease-in-out
				&._visible
					visibility visible
					opacity 1
				&._RB
					right 15px
					bottom 15px
					top auto
				&._LT
					left 15px
					right auto
				&._LB
					left 15px
					right auto
					bottom 15px
					top auto
				& .DecorStyleMaterial_txt
					min-width 170px
					max-width 200px
					padding 5px 15px
					text-align left
				& p
					max-height 72px
					overflow hidden
		&_tabs
			position absolute
			left 0
			top calc(100vh - 271px)
			width 100%
			@media $smMinus
				top 760px !important
			@media $xs
				top 340px !important
		&Tabs
			display flex
			flex-wrap wrap
			justify-content center
			background-color rgba(181, 155, 97, 0.2)
			@media (max-width: 512px)
				padding 5px 0 22px
			&_item
				position relative
			&_link
				height 80px
				margin 0 20px
				display flex
				justify-content center
				align-items center
				font: 14px/1 'MuseoCyrl-500'
				color: $black
				letter-spacing 0.1px
				text-transform uppercase
				position relative
				@media (max-width: 533px)
					margin 0 18px
				@media (max-width: 512px)
					height auto
					margin-top 20px
				&:after
					content ''
					position absolute
					left 0
					top 50%
					margin-top 10px
					width 0
					height 2px
					background $black
					transition  width .3s ease
				&:hover:after
					@media $mdPlus
						width 100%
		&_cont
			padding 60px 0 30px
			@media $xs
				padding 30px 0 10px
		&List
			max-width 1485px
			width 100%
			margin 0 auto
			display flex
			flex-wrap wrap
			align-items flex-start
			@media (max-width: 1501px)
				max-width 990px
			@media $smMinus
				max-width 495px
			@media (max-width:549px)
				max-width 310px
			&._2colWrap
				flex-wrap nowrap
				@media (max-width: 1501px)
					flex-wrap wrap
			&_item
				width 465px
				padding 150px 40px 5px
				margin 0 15px 33px
				background url('../img/decorStyle/bg_decor_item.svg') center top no-repeat
				border solid 1px rgba(181, 155, 97, 0.4)
				position relative
				@media (max-width:549px)
					width 280px
					padding 100px 10px 5px 20px
					margin-bottom 20px
					background-size auto 65px
				&._item1-2
					@media (max-width: 1501px)
						order 3
					@media $smMinus
						order 2
				&._item1-3
					@media (max-width: 1501px)
						order 2
					@media $smMinus
						order 3
				&._item1-4
					@media (max-width: 1501px)
						order 4
				&._item4-3
					@media (max-width: 1501px)
						order 5
					@media $smMinus
						order 3
				&2col
					display flex
					flex-wrap wrap
					flex 0 0 67%
					@media (max-width: 1501px)
						flex 0 0 50%
					&:last-child
						flex 0 0 33%
					&._wb
						&:first-child
							flex 0 0 33%
							/*@media (max-width: 1501px)
								flex 0 0 50%*/
							@media (max-width: 1501px)
								& .DecorStyleList_item
									padding-bottom 0
						&:last-child
							flex 0 0 auto
							@media (max-width: 1501px)
								flex 0 0 50%
								& .DecorStyleList_item
									padding-bottom 7px
						//order 2
					/*&._item2col-1
						@media (max-width: 1501px)
							order 2*/
				&Name
					display flex
					flex-direction column
					align-items center
					justify-content center
					position absolute
					left 0
					top: 0
					width 100%
					min-height 85px
					padding 10px 10px 0
					font: 35px/1.2 'MuseoCyrl-700'
					letter-spacing 0.2px
					text-align center
					@media (max-width:549px)
						font-size 25px
						min-height 55px
						padding-top 5px
					& .nowrap
						white-space nowrap
				&Material
					margin-bottom 35px
					@media (max-width:549px)
						margin-bottom 20px
		&Material
			display flex
			align-items center
			background $white
			&_img
				width 160px
				height 160px
				background-position center
				background-repeat no-repeat
				background-size contain
				background-color $white
				@media (max-width:549px)
					width 80px
					height 80px
				&._2pieces
					height auto
					& .DecorStyleMaterial_img
						margin-top 35px
						@media (max-width:549px)
							margin-top 20px
					& .DecorStyleMaterial_img:first-child
						margin-top 0
			&_txt
				padding 0 0 0 30px
				letter-spacing 0.1px
				background $white
				display flex
				flex 1
				flex-flow column wrap
				justify-content center
				font-size 17px
				line-height 1.4
				@media (max-width:549px)
					padding 0 0 0 15px
					font-size 14px
				& p
					font-family 'AvenirNext-Regular'
			&_name
				font-family 'AvenirNext-DemiBold'
				margin-bottom 18px
				@media (max-width:549px)
					margin-bottom 5px
		&_works
			font 17px/1.4 'AvenirNext-Regular'
			letter-spacing 0.1px
			@media (max-width:549px)
				font-size 14px
			&H5
				font-family 'AvenirNext-DemiBold'
				margin-bottom 15px
			&List
				background none
				margin-bottom 35px
				@media (max-width:549px)
					margin-bottom 20px
			&Item
				margin-bottom 15px
				&:before
					content ''
					display inline-block
					width 6px
					height 6px
					border-radius 3px
					background $gold
					margin-right 22px
					top: -3px;
					position: relative;
					@media (max-width:549px)
						width 4px
						height 4px
						border-radius 2px
						margin-right 10px
		&_slider
			display none
			margin-bottom 80px
			@media $smMinus
				display block
			@media (max-width: 512px)
				margin-bottom 95px
			&._wb
				margin-bottom 0
			&Item
				height 760px
				background-position center
				background-repeat no-repeat
				background-size cover
				@media $xs
					height 340px

		&-prev,
		&-next
			width 19px
			height 49px
			margin-top -24px
			background-size auto
			display none
			@media $smMinus
				display block
			@media $xs
				width 11px
				height 25px
				margin-top -12px
				background-size contain
		&-prev
			left 30px
			background-image url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='49' viewBox='0 0 19 49'><path fill='none' fill-rule='evenodd' stroke='%23FFFFFF' stroke-linecap='square' stroke-width='2' d='M17 47L2 24.5 17 2'/></svg>")
			@media $xs
				left 12px
		&-next
			right 30px
			background-image url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='49' viewBox='0 0 19 49'><path fill='none' fill-rule='evenodd' stroke='%23FFFFFF' stroke-linecap='square' stroke-width='2' d='M2 47l15-22.5L2 2'/></svg>")
			@media $xs
				right 12px

.ui-widget.ui-widget-content, .ui-widget-content, .ui-widget-header
	border none
	border-radius 0
	color inherit
	font-weight inherit
.DecorStyle
	& .ui-state-default, & .ui-widget-content .ui-state-default, & .ui-widget-header .ui-state-default, & .ui-state-active, & .ui-widget-content .ui-state-active
		border none
		background none
		font-weight inherit
		color $black
.ui-button, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover, .ui-button, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button.ui-state-active:hover, .ui-button:active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	border none
	background none
	font-weight inherit
	color $black
.ui-tabs-active .DecorStyleTabs_link:after
	width 100%

.otherclass {
  position absolute
  left -100000
  top - 100000
  z-index -10
}

._hidden {
	display block !important;
	position absolute
	top - 10000px;
	left - 10000px;
	z-index -2
	opacity 0
}

.tooltip-business-theme
	color #000
	background transparent
	max-width 100%

