.BusinessFurnish
    //margin-top 80px

    &_styleWrap
        display flex

    &_styleItem
        width 34%
        height 400px
        //cursor pointer
        position relative
        overflow hidden
        @media $mdMinus
            height 700px
            width 100%

        @media $xs
            height 400px
        &:hover
            .BusinessFurnish_styleImg
                transform: scale(1.1)
                @media $mdMinus
                    transform: none
            .BusinessFurnish_styleCenterBlock
                opacity 1
            .BusinessFurnish_innerImg
                transform: scale(0.9)
                @media $mdMinus
                    transform: none
            .BusinessFurnish_styleOverlay
                background-color transparent
                @media $mdMinus
                    background-color rgba(0, 0, 0, 0.4)

        &-classic
            .BusinessFurnish_styleImg, .BusinessFurnish_innerImg
                background-image url('../img/furnish/classic.jpg')
                retina('../img/furnish/classic-DESC_2x.jpg')
                @media $mdMinus
                    background-image url('../img/furnish/classic_TAB.jpg')
                    retina('../img/furnish/classic_TAB_2x.jpg')
                @media $xs
                    background-image url('../img/furnish/classic_MOB.jpg')
                    retina('../img/furnish/classic_MOB_2x.jpg')

        &-modern
            .BusinessFurnish_styleImg, .BusinessFurnish_innerImg
                background-image url('../img/furnish/modern.jpg')
                retina('../img/furnish/modern-DESC_2x.jpg')
                @media $mdMinus
                    background-image url('../img/furnish/modern-TAB.jpg')
                    retina('../img/furnish/modern-TAB_2x.jpg')
                @media $xs
                    background-image url('../img/furnish/modern-MOB.jpg')
                    retina('../img/furnish/modern-MOB_2x.jpg')
        &-whiteBox
            .BusinessFurnish_styleImg, .BusinessFurnish_innerImg
                background-image url('../img/furnish/white-box.jpg')
                retina('../img/furnish/white-box-DESC_2x.jpg')
                @media $mdMinus
                    background-image url('../img/furnish/white-box-TAB.jpg')
                    retina('../img/furnish/white-box-TAB_2x.jpg')
                @media $xs
                    background-image url('../img/furnish/white-box-MOB.jpg')
                    retina('../img/furnish/white-box-MOB_2x.jpg')

    &_styleLink
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        z-index 101

    &_styleImg
        width 101%
        height 101%
        position absolute
        background url('../img/furnish/classic.jpg') center/cover no-repeat
        display flex
        align-items center
        justify-content center
        z-index 15
        transition: transform 0.9s

        //will-change: transform
        backface-visibility: hidden

    &_styleName
        position absolute
        width 90%
        transform: translate(-50%, -50%)
        top 50%
        left 50%
        text-align center
        z-index 100
        color #fff
        font-family: 'MuseoCyrl-300';
        font-size 35px
        text-transform uppercase
        text-shadow: 1px 0px 10px rgba(#000, 0.4)
        @media $xs
            font-size 24px

    &_styleDesc
        font-size 24px
        text-transform none

        @media $xs
            font-size 16px

    &_styleOverlay
        position absolute
        width 100%
        height 100%
        background-color rgba(0, 0, 0, 0.4)
        z-index 28
        transition: background 0.3s
        @media $mdMinus
            background-color rgba(0, 0, 0, 0.4)

        @media $ie
            display none


    &_styleCenterBlock
        width 372px
        height 347px
        display flex
        align-items center
        justify-content center
        opacity 0
        position absolute
        transform: translate(-50%, -50%)
        top 50%
        left 50%
        transition: opacity 0.5s
        overflow hidden
        border 1px solid #fff
        z-index 35
        clip-path: polygon(12% 1%,12% 7%,6% 7%,6% 13%,1% 13%,1% 87%,6% 87%,6% 93%,12% 93%,12% 99%,88% 99%,88% 93%,94% 93%,94% 87%,99% 87%,99% 13%,94% 13%,94% 7%,88% 7%,88% 1%)
        @media $mdMinus
            opacity 1
            margin-bottom: 5%
            width 568px
            height 568px
        @media $xs
            width: 256px
            height: 268px

        @media $ie
            clip-path: none
            border: none
    &_innerImg
        width 120%
        height 120%
        position absolute
        background url('../img/furnish/classic.jpg') center/cover no-repeat
        transition transform 1s
        // background #000
        @media $ie
            display none

    &_styleCenterInner
        width: 98%
        height: 98%
        position relative
        border 1px solid #fff
        overflow hidden
        z-index 5
        display flex
        align-items center
        justify-content center
        @media $mdMinus
            background: rgba(0, 0, 0, 0.4)

        @media $ie
            display none

        &:after
            content ''
            display block
            width: 89%
            height: 87%
            border 1px solid #fff
            position relative

    &_nextButton, &_prevButton
        display none
        background-image url('../img/arrow-furnish.svg')
        cursor pointer
        @media $mdMinus
            display block
            height: 100%;
            top: 0;
            margin-top 0

    &_nextButton
        right 40px
        @media $mdMinus
            right 0
            padding-right 100px
        @media $xs
            right 0
            width calc((100% - 258px) / 2)
            background-size: 15%;
            padding-right 20px

    &_prevButton
        left 40px
        @media $mdMinus
            left 0
            padding-left 100px
        @media $xs
            left 0
            width calc((100% - 258px) / 2)
            background-size: 15%;
            padding-left 20px

    &_slideTime
        display none
        @media $mdMinus
            display block
            position absolute
            transform: translate(-50%, 0)
            left 50%
            bottom 4%
            color #fff
            z-index 20
            display flex
            align-items center
            font-family: 'AvenirNext-DemiBold'
            font-size 14px

            & span
                width 45px
                height 1px
                background-color #fff
                margin-left 10px
                margin-right 10px

    &_slideSum
        color #dacdb0

    &_prevButton
        transform: rotate(-180deg)

    &_styleCenterCorner
        position absolute
        width: 12%
        height: 13%
        z-index 6

        @media $mdMinus
            width: 11.8%
            height: 12.8%

        @media $xs
            width: 11.65%
            height: 12.6%
        @media $ie
            display none

        &-leftTop
            left 0
            top 0
            border-right 1px solid #ffffff
            border-bottom 1px solid #fff
        &-rightTop
            right 0
            top 0
            border-left 1px solid #ffffff
            border-bottom 1px solid #fff
        &-rightBottom
            right 0
            bottom 0
            border-left 1px solid #ffffff
            border-top 1px solid #fff
        &-leftBottom
            left 0
            bottom 0
            border-right 1px solid #ffffff
            border-top 1px solid #fff