$frameBorderColor = #b59b61;

.CenterBlockFrame
    width 100%
    height 100vh
    position relative
    z-index 100
    padding 88px 0 42px

    &_inner
        height 100%
        max-height 1080px
        max-width 1840px
        width 95%
        margin auto
        overflow hidden
        position relative
        &:before
            content ''
            position absolute
            top 50%
            left 50%
            width 96%
            height 92%
            transform translate(-50%, -50%)
            border 2px solid $frameBorderColor
            z-index 120
            @media $xs
                display none
        @media $xs
            background url('https://etalonsilver.ru/img/backgrounds/media/320/ramka320.svg') no-repeat
        @media $ie
            border 2px solid $frameBorderColor



    &_cornerLeft
        position absolute
        height 100%
        left 0
        top 0
        width 4%
        z-index 11111
        &:before
            content ''
            position absolute
            top 0
            left 0
            height calc(8% + 2px)
            border-left 2px solid transparent
            border-right 2px solid $frameBorderColor
            border-top 2px solid transparent
            border-bottom 2px solid $frameBorderColor
            width calc(100% + 2px)
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            height calc(8% + 2px)
            border-left 2px solid transparent
            border-right 2px solid $frameBorderColor
            border-top 2px solid $frameBorderColor
            border-bottom 2px solid transparent
            width calc(100% + 2px)
        @media $xs
            display none
        @media $ie
            display none
    &_cornerRight
        position absolute
        height 100%
        width 4%
        right 2px
        top 0
        z-index 11111
        &:before
            content ''
            position absolute
            top 0
            left 0
            height calc(8% + 2px)
            border-left 2px solid $frameBorderColor
            border-right 2px solid transparent
            border-top 2px solid transparent
            border-bottom 2px solid $frameBorderColor
            width calc(100% + 2px)
        &:after
            content ''
            position absolute
            bottom 0
            left 0
            height calc(8% + 2px)
            border-left 2px solid $frameBorderColor
            border-right 2px solid transparent
            border-top 2px solid $frameBorderColor
            border-bottom 2px solid transparent
            width calc(100% + 2px)
        @media $xs
            display none
        @media $ie
            display none
    &_videoWrap
        width 100%
        height 100%
        display flex
        justify-content center
        margin auto
        position relative
        background $frameBorderColor
        clip-path: polygon(4% 0, 96% 0, 96% 4%, 98% 4%, 98% 8%, 100% 8%, 100% 92%, 98% 92%, 98% 96%, 96% 96%, 96% 100%, 4% 100%, 4% 96%, 2% 96%, 2% 92%, 0 92%, 0 8%, 2% 8%, 2% 4%, 4% 4%)
        @media $xs
            display none
        @media $ie
            background transparent


    &_video
        height calc(100% - 4px)
        width calc(100% - 4px)
        position absolute
        left 2px
        right 2px
        top 2px
        bottom 2px
        clip-path: polygon(4% 0, 96% 0, 96% 4%, 98% 4%, 98% 8%, 100% 8%, 100% 92%, 98% 92%, 98% 96%, 96% 96%, 96% 100%, 4% 100%, 4% 96%, 2% 96%, 2% 92%, 0 92%, 0 8%, 2% 8%, 2% 4%, 4% 4%);
        & video
            position absolute
            left 0
            top 0
            height auto
            width auto

    &_content
        position absolute
        width 100%
        left 0
        top 0
        height: 100%
        display flex
        align-items center
        justify-content center
        z-index 130

    &_contentInner
        display flex
        align-items center
        flex-direction column

    & .CenterBlock_title
        @media $smMinus
            max-width 400px
    & .CenterBlock_link
        @media $xs
            margin 0

@supports $edge
    .CenterBlockFrame_cornerLeft
        display none
    .CenterBlockFrame_cornerRight
        display none
    .CenterBlockFrame_videoWrap
        background transparent
        border 2px solid $frameBorderColor
        overflow: hidden