#ChessFilter
    width 100%
    display flex
    flex-wrap wrap
    @media $xs
        display block

.Chess
    &SliderNew
        padding 70px 0 30px
        @media $lgMinus
            padding-bottom 10px
        @media $smMinus
            overflow initial
        @media $xs
            padding 40px 0 0

.ChessScheme
    &_slider, &SliderNew
        width 100%
        &Item
            width auto
            opacity 0.3
            transition opacity .3s ease

            &:hover
                opacity 1
                z-index 11
        &Cntrl
            display flex
            justify-content space-between
            align-items flex-start
            padding 0 60px
            @media $lgMinus
                padding 0 40px
            @media $xs
                padding 0 30px 90px
        &Pager
            height 40px
            padding 0 25px
            margin-top 16px
            position relative
            opacity 0
            visibility hidden
            transition opacity 0.3s ease
            &-visible
                opacity 1
                visibility visible
            @media $xs
                position absolute
                left 50%
                bottom 0
                margin-bottom 40px
                transform translateX(-50%)
            &Inner
                white-space nowrap
                position relative
                bottom 0
            &Item
                display inline-flex
                justify-content center
                align-items center
                height 40px
                min-width 40px
                font 16px/1 'MuseoCyrl-300'
                color $black
                opacity .3
                border-radius 50%
                cursor pointer
                position relative
                display none
                &-active
                    background #f5f5f5
                    opacity 1
                &-visible
                    display inline-flex
        &BtnPrev,
        &BtnNext
            position absolute
            top 50%
            margin-top -7px
            width 14px
            height 14px
            border none
            background transparent
            transform rotate(45deg)
            transform-origin center
            &.swiper-button-disabled
                opacity 0.5
                pointer-events none
        &BtnPrev
            left 0
            border-left 1px solid $black
            border-bottom 1px solid $black
        &BtnNext
            right 0
            border-right 1px solid $black
            border-top 1px solid $black

    & .swiper-wrapper
        display flex
        align-items flex-end
        margin-bottom 80px
        @media $xs
            margin-bottom 60px

    &_compass
        margin-top -6px
        & img
            display none
            &._active
                display block
    &_bild
        position relative
        opacity 0
        visibility hidden
        transition opacity 0.3s ease
        &-visible
            opacity 1
            visibility visible
        &Txt
            position absolute
            left 0
            top -21px
            width 100%
            text-align center
            font 10px/1 'AvenirNext-Medium'
            color rgba(0, 0, 0, .5)
        & img
            display none
            &._active
                display block;

.ChessScheme_sliderItem.swiper-slide-prev,
.ChessScheme_sliderItem.swiper-slide-active,
.ChessScheme_sliderItem.swiper-slide-next
    opacity 1
.ChessScheme_sliderItem.swiper-slide-prev,
.ChessScheme_sliderItem.swiper-slide-next
    @media $xs
        opacity 0.3

.Chess
    padding 0 35px

    @media $xs
        padding 0 20px;

    &_inner
        padding: 8px 5px
        border 2px solid #4a4a4a
        display flex
        flex-flow column-reverse wrap
        width 286px

        @media $xs
            max-width calc(100% - 47px)


        //&-count2
        //    width 121px
        //&-count3
        //    width 176px
        //&-count4
        //    width 231px
        //&-count5
        //    width 286px
        //&-count6
        //    width 200px
        //&-count7
        //    width 200px
        //&-count8
        //    width 200px

    &_row
        display flex
        flex 1
        justify-content space-between
        margin-bottom 5px
        position relative
        max-width 100%
        &:after
            content ''
            position absolute
            left -8px
            right -40px
            top -5px
            bottom -5px
            background $gold
            opacity 0
            z-index -1
            transition opacity .3s ease
        &:hover:after
            opacity .2

        &-zero
            height: 54px
            min-height 54px;
            margin 0 3px
            border 1px solid $gold
            & .Chess_rowNum
                right -33px
        &Num
            position absolute
            right -30px
            top 0
            width 12px
            height 100%
            font 10px/1px 'AvenirNext-Regular'
            color #bababa
            display flex
            align-items center
            justify-content center
            //background red

    &_flatLink
        @media $xs
            flex-grow: 1;
    &_cell
        //max-width 50px
        flex-grow 1
        height 25px
        margin: 0 3px;
        border 1px solid rgba(181, 155, 97, 0.5)
        background $gold
        cursor pointer
        position relative
        transition all .3s ease
        @media $mdMinus
            width 41px
        @media $xs
            width auto
            flex-grow 1
        &:first-child
            //margin 0
        &:hover
            border-color #916c1a
            background #916c1a
        &-sm
            //width 40px
            @media $xs
                //width 35px
        &-sold
            background $white
            &:hover
                border-color #916c1a
                background $white
            & .Chess_cellFlatCount
                color #707070
        &-notFilter
            border-color rgba(174, 174, 174, 0.5)
            background #f1f1f1
            pointer-events none
            &:hover
                //border-color #aeaeae
                border-color #916c1a
                background #f1f1f1
            & .Chess_cellFlatCount
                color #707070

        &ActionLine
            position absolute
            left -1px
            right -1px
            top -1px
            bottom -1px
            z-index 1
            overflow hidden
            &:before
                content ''
                position absolute
                left -4px
                top 2px
                width 18px
                height 5px
                transform rotate(-45deg)
                transform-origin center
                background #fc4545
        &AppartLine
            position absolute
            left -1px
            right -1px
            top -1px
            bottom -1px
            z-index 1
            overflow hidden
            &:before
                content ''
                position absolute
                left -7px
                top 7px
                width 35px
                height 5px
                transform rotate(-45deg)
                transform-origin center
                background #ffa91c;

        &FlatCount
            display flex
            align-items center
            justify-content center
            height 100%
            font 14px/1 'AvenirNext-Regular'
            color $white
            position relative
            z-index 2
        &:hover .Chess_flatInfo
            //opacity 1
            //visibility visible
    &_flatInfo
        width 260px
        padding 23px 20px 7px
        background $white
        box-shadow 0 8px 18px 0 rgba(0, 0, 0, 0.1)
        font-size 14px
        font-family 'AvenirNext-Regular'
        color rgba(0, 0, 0, 0.5)
        //opacity 0
        //visibility hidden
        transition all .3s ease
        z-index 10
        box-sizing border-box
        &Row
            display flex
            justify-content space-between
            align-items center
            margin-bottom 16px
        &Num
            font-size 16px
        &Price
            font-size 23px
            font-family 'AvenirNext-Medium'
            color $black
        &Sold
            color $black
        &Bonus
            margin-bottom 16px
            display:flex;

            &Item
                display inline-block
                padding-left 13px
                margin-right 10px
                position relative
                &:before
                    content ''
                    position absolute
                    left 0
                    top 5px
                    width 8px
                    height 8px
                    border-radius 4px
                &-Act:before
                    background #fc4545
                &-App:before
                    background #ffa91c

    &_title
        margin 15px 0
        font 14px/1 'AvenirNext-Regular'
        color #4a4a4a
        text-align center

.b-checkbox__name--actionFlat .b-checkbox__text
    &:before
        content ''
        position absolute
        left -30px
        top 2px
        width 18px
        height 5px
        transform rotate(-45deg)
        transform-origin center
        background #fc4545
        z-index 10
        @media $xl
            left: -33px;
            top: -1px;
            width: 25px;
        @media $xs
            left -33px
            top 0
            width 23px
    &:after
        content ''
        position absolute
        left -31px
        top -4px
        width 26px
        height 26px
        border 5px solid #ededed
        z-index 11
        @media $xl
            left -32px
            top -9px
            width 35px
            height 35px
            border-width 6px
        @media $xs
            top -8px
            width 33px
            height 33px

.b-options-page__select--appart
    position relative
    &:before
        content ''
        position absolute
        left 5px
        top -5px
        width 35px
        height 35px
        border-left 5px solid #ededed
        border-top 5px solid #ededed
        z-index 11
        @media $smMinus
            left 14px
        @media $xs
            left -5px
    & .b-select
        @media $mdPlus
            margin-right 10px
        &:before
            content ''
            position absolute !important
            left -7px
            top 7px
            width 35px
            height 5px
            transform rotate(-45deg)
            transform-origin center
            background #ffa91c
            z-index 10
        & .chosen-single
         z-index 12
    & .b-select__item[data-option-array-index="1"]
        position relative
        &:before
            content ''
            position absolute
            left 4px
            top 11px
            width 8px
            height 8px
            border-radius 4px
            background #ffa91c





.Chess_cell-notFilter .Chess_cellAppartLine
    display none

.Chess_cell-notFilter .Chess_cellActionLine
    display none

.Chess_cell-sold .Chess_cellAppartLine
    display none

.Chess_cell-sold .Chess_cellActionLine
    display none