.Commercial
	margin 50px auto
	max-width 985px
	width 100%

	@media $smMinus
		margin 40px auto
	@media $xs
		margin 30px auto

	&_titleFlats
		font-family "MuseoCyrl-700"
		font-size 20px
		color #000000
		text-align center
		text-transform: uppercase
		line-height 1.4

		@media $xs
			font-size 16px
			padding 0 20px

	&_table
		margin-top 30px
		@media $smMinus
			padding 0 20px
		@media $xs
			padding 0
			margin-top 18px

	&_tableHead
		display flex
		padding 10px 0

	&_tableBody
		color #000000
		font-size 14px
		font-family 'AvenirNext-Regular'

	&_row
		display flex
		border-bottom 1px solid #ededed
		height 58px
		align-items center
		position relative
		&Link
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			z-index 2
		&:hover
			background #ededed

	&_col
		&-house
			//width 18% //если будет колонка этажа
			width 21%
			padding-left 20px
			@media $xs
				 display none
		&-type
			//width 19% //если будет колонка этажа
			width 24%
			@media $xs
				 order 3
				 width 33.3%
				 //display none //если есть колонка Планировка
		&-floor
			width 17%
			display none
			@media $xs
				 order 1
				 //padding-left 20px
				 width 21%
				 & span
					  display none
		&-area
			//width 18% //если будет колонка этажа
			width 21%
			@media $xs
				 order 2
				 width 33.3%
				 padding-left 20px
		&-price
			//width 16% //если будет колонка этажа
			width 21%
			//width 19% //если есть колонка Планировка
			@media $xs
				 display none
		&-cost
			//width 12% //если будет колонка этажа
			width 13%
			//width 16% //если есть колонка Планировка
			@media $xs
				 order 4
				 width 33.3%
		&-plan
			//width 12% если будет колонка этажа
			width 10%
			text-align center
			@media $xs
				 order 5
				 width 33.3%
			&Link
				position relative
				z-index 3
			& svg
				margin-right 14px

	&_titleHouseMobile
		font-family 'AvenirNext-DemiBold'
		font-size 14px
		color #000000
		text-align: center
		margin-top 30px

		&:after
			width 39px
			height 2px
			content ''
			display block
			margin 5px auto 0
			background #b59b61

	&_desktop
		@media $xs
			display none
	&_mobile
		display none;
		@media $xs
			display block

.b-options-page__back--commercial-genplan
	@media $xs
		text-align left

.b-options-page__top--commercial-genplan .b-container--options-page
	@media $xs
		padding 0
		margin 0 auto
		width 95%

.Commercial
	margin-top 20px

	&Galery
		height 600px
		min-height auto
		margin-bottom 40px
		@media $smMinus
			height 360px

		@media (max-width 359px)
			height 225px

		&_counter
			position absolute
			left 260px
			top 15px
			display flex
			align-items center
			font 14px/1.4 'AvenirNext-Medium'

			@media $xs
				left auto
				right 2.5%

			&Line
				width 48px
				height 1px
				margin 0 9px
				background $black

			& .Gallery_slideSum
				opacity .5

		& .Gallery-wrapper .swiper-button-next, .Gallery-wrapper .swiper-button-prev
			@media $xs
				display block

		& .Gallery-wrapper .swiper-button-next:before, .Gallery-wrapper .swiper-button-prev:before
			@media $xs
				padding 13px
				background-size 6px

		& .Gallery-wrapper .swiper-button-next:before, .Gallery-wrapper .swiper-button-prev:before
			@media $xs
				left 10px !important

		&+.Commercial_titleFlats
			margin-bottom 30px

	&_col-houseInner
		display inline-block
		width 45px
		text-align center

	&Genplan
		//height 600px
		height calc(100vh - 80px)
		position relative