.wrapper
	display block

.page-header
	position relative
	height 100vh
	padding 100px 40px 40px
	overflow hidden

	@media (max-width: 767px)
		padding 90px 20px 20px

	&:before
		content ''
		height 112px
		position absolute
		top 0
		left 0
		width 100%
		background-image linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.56))

	&__inner-wrapper
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background-color transparent
		background-repeat no-repeat
		background-position 50% 50%
		background-size cover

	&__inner
		position relative
		height 100%

	&__border
		background-color transparent
		background-repeat no-repeat
		background-position 50% 50%
		background-size cover
		position absolute
		top -20px
		left 20px
		right 20px
		bottom -20px
		border solid 2px $gold
		z-index 10

		@media (max-width: 767px)
			border-color $white
			border-width 1px
			top -15px
			left 15px
			right 15px
			bottom -15px

		@media (max-width: 640px)
			top -10px
			left 10px
			right 10px
			bottom -10px

		&._inner
			top 20px
			left -20px
			right -20px
			bottom 20px
			z-index 20

			@media (max-width: 767px)
				top 15px
				left -15px
				right -15px
				bottom 15px

			@media (max-width: 640px)
				top 10px
				left -10px
				right -10px
				bottom 10px

		&._inner2
			top 0
			left 0
			right 0
			bottom 0
			z-index 30

			/*@media $xs
				background none !important*/

			&:before,
			&:after
				position absolute
				content ''
				width 20px
				height 20px

				@media (max-width: 767px)
					width 15px
					height 15px

				@media (max-width: 640px)
					width 10px
					height 10px

			&:before
				left 0
				top 0
				border-right solid 2px $gold
				border-bottom solid 2px $gold

				@media (max-width: 767px)
					border-color $white
					border-width 1px

			&:after
				right 0
				top 0
				border-left solid 2px $gold
				border-bottom solid 2px $gold

				@media (max-width: 767px)
					border-color $white
					border-width 1px

			.page-header__border-conners
				position absolute
				top 0
				left 0
				right 0
				bottom 0

				&:before,
				&:after
					position absolute
					content ''
					width 20px
					height 20px

					@media (max-width: 767px)
						width 15px
						height 15px

					@media (max-width: 640px)
						width 10px
						height 10px

				&:before
					bottom 0
					left 0
					border-right solid 2px $gold
					border-top solid 2px $gold

					@media (max-width: 767px)
						border-color $white
						border-width 1px

				&:after
					right 0
					bottom 0
					border-left solid 2px $gold
					border-top solid 2px $gold

					@media (max-width: 767px)
						border-color $white
						border-width 1px

	&__logoAward
		position absolute
		right 60px
		top 35px
		/*width 154px
		height 61px
		background url("/img/awardsLogo_num1.svg") right center no-repeat*/
		z-index 54
		@media $smMinus
			right 20px
			top 44px
		@media $xs
			right 15px
			top 17px
		& img
			width 154px
			@media $xs
				width 103px

.page-header-tlt
	position absolute
	z-index: 100
	top 50%
	left 50%
	transform translate(-50%, -50%)
	height 182px//155px
	max-width 700px
	width 100%//70%
	color $white
	font-size 35px
	font-family 'MuseoCyrl-900'
	letter-spacing 0
	text-transform uppercase
	text-align center
	line-height 1.2
	/*padding 8px 10px
	border-top solid 2px $white
	border-bottom solid 2px $white
	border-radius 3px*/
	background url('/img/apartments/titleRamka_big.svg') center/contain no-repeat

	@media (max-width: 1023px)
		height 155px//125px
		font-size 28px

	/*@media (max-width: 761px) and (min-width: 665px)
		font-size 24px*/

	@media (max-width: 664px)
		height 71px//75px
		font-size 14px
		/*border-top-width 1px
		border-bottom-width 1px
		padding 4px 5px
		width 77%*/

	/*&:before,
	&:after
		content ''
		position absolute
		top -2px
		background transparent url('/img/apartments/title-ramka.svg') 0 0 no-repeat
		height 155px
		width 39px

		@media (max-width: 1023px)
			height 125px
			width 31px
			background-size cover

		@media (max-width: 664px)
			height 75px
			width 20px
			top -1px

	&:before
		left -29px

		@media (max-width: 1023px)
			left -21px

		@media (max-width: 664px)
			left -13px

	&:after
		right -29px
		transform rotate(180deg)

		@media (max-width: 1023px)
			right -21px

		@media (max-width: 664px)
			right -13px*/

	&__inner
		/*background-color rgba(0, 0, 0, 0.3)
		border-top solid 2px $white
		border-bottom solid 2px $white
		border-radius 2px
		padding 0 20px*/
		height 100%
		display flex
		align-items center
		justify-content center

		@media (max-width: 664px)
			/*border-top-width 1px
			border-bottom-width 1px
			padding 0*/
			white-space nowrap

	&__small
		display block
		margin-top 3px
		font-size: 20px;
		@media $xs
			font-size: 10px;

.page-header-descr
	position absolute
	top calc(50% + 170px)
	left 50%
	transform translate(-50%, -50%)
	z-index 1000
	font-family 'MuseoCyrl-500'
	font-size 24px
	letter-spacing 0.1px
	color $white
	line-height 1.4
	text-align center
	width 65%
	padding-bottom 40px

	@media (max-width: 767px)
		letter-spacing .2px

	@media (max-width: 640px)
		top calc(50% + 95px)
		font-size 14px
		padding-bottom 0

	.page-header-descr__line
		content ''
		position absolute
		top 100%
		left 50%
		width 1px
		background-color $white
		height 300px

		@media (max-width: 640px)
			display none

.button
	transition ease .3s all
	display inline-block
	font-size 14px
	font-family 'MuseoCyrl-300'
	border solid 5px $white
	outline solid 1px $gold !important
	text-align center
	padding 0 10px
	line-height 35px
	background-color rgba($gold, .5)
	text-transform uppercase
	margin-bottom 1px
	min-width 200px

	@media (max-width 1023px)
		display block
		width 200px
		margin 0 auto

	&:hover
		background-color $gold
		color $white

.text-align_center
	text-align center

._animate
	transition ease .5s .6s all

	&._moment
		transition-delay 0s
	&._slow
		transition-duration 1s

._hidden-top
	transform translateY(-1500px)

._hidden-opacity
	opacity 0

._hidden-right
	transform translateX(9999px)

._hidden-left
	transform translateX(-9999px)

._animated
	._hidden-top
		transform translateY(0px)
	._hidden-right,
	._hidden-left
		transform translateX(0px)
	._hidden-opacity
		opacity 1

.page-header
	width 100%
	&._index
		z-index 51
		@media (max-height: 400px)
			height 100%
		&:before
			display none
		& .page-header__border._inner2
			z-index 53
			&:after
				content:'';
				width: 100%;
				height:100%;
				position: absolute;
				left: 0;
				right: 0;
				background: #000;
				opacity: 0.3;
				z-index: 100;
			@media $xs
				//background-image url('/img/backgrounds/media/320/1.jpg')
				background-image url('/img/backgrounds/1.jpg')
		& .CenterBlockFrame_videoWrap
			width calc(100% + 40px)
			height calc(100% + 40px)
			left -20px
			top -20px
			clip-path polygon(40px 0,calc(100% - 40px) 0,calc(100% - 40px) 20px,calc(100% - 20px) 20px,calc(100% - 20px) 40px,100% 40px,100% calc(100% - 40px),calc(100% - 20px) calc(100% - 40px),calc(100% - 20px) calc(100% - 20px),calc(100% - 40px) calc(100% - 20px),calc(100% - 40px) 100%,40px 100%,40px calc(100% - 20px),20px calc(100% - 20px),20px calc(100% - 40px),0 calc(100% - 40px),0 40px,20px 40px,20px 20px,40px 20px)
			z-index 52
		& .CenterBlockFrame_video
			clip-path polygon(40px 0,calc(100% - 40px) 0,calc(100% - 40px) 20px,calc(100% - 20px) 20px,calc(100% - 20px) 40px,100% 40px,100% calc(100% - 40px),calc(100% - 20px) calc(100% - 40px),calc(100% - 20px) calc(100% - 20px),calc(100% - 40px) calc(100% - 20px),calc(100% - 40px) 100%,40px 100%,40px calc(100% - 20px),20px calc(100% - 20px),20px calc(100% - 40px),0 calc(100% - 40px),0 40px,20px 40px,20px 20px,40px 20px)

.Section_1, .fp-tableCell
	@media (max-height: 400px)
		height 400px !important
