.Compass
    position absolute
    width 126px
    height 126px
    top 53px
    right 63px
    z-index 10
    pointer-events none
    background url("/img/Compas.svg") center no-repeat
    background-size contain
    @media $lgMinus
        width 84px
        height 84px
        top 58px
        right 40px
    @media $xs
        width 59px
        height 59px
        top 11px
        right 12px