.CookiesAgree 
  position fixed
  left 0
  bottom 0
  width 100%
  background #153075
  font-size 14px
  line-height 18px
  color $white
  z-index 1001
  transition all .3s ease
  &_inner
    max-width 1840px
    width 95%
    padding 15px 0
    margin 0 auto
    display flex
    align-items center
    justify-content space-between
    @media $smMinus
      flex-direction column
      padding 30px 0
    @media $xs
      padding 20px 0
  &_txt 
    padding-right 25px
    @media $smMinus
      padding 0
  &_btn
    min-width 206px
    height 42px
    margin 0
    display flex
    align-items center
    justify-content center
    background $gold
    font-size 15px
    line-height 1
    color $white
    cursor pointer
    outline none
    position relative
    overflow hidden
    @media $smMinus
      margin-top 30px
    @media $xs
      margin-top 20px
    &:before
      border-color #153075
  &._hide
    opacity 0
    visibility hidden
    z-index -1001