.DropNav
  display flex
  flex-wrap wrap
  max-width 200px
  
  @media $xs
    display flex
    justify-content space-between
    margin 0 auto

  &_item
    position relative
    font-family: "MuseoCyrl-500";
    font-size: 14px;
    font-weight: 400;
    padding 20px 8px 11px
    text-align center
    color: mix(#000, #fff);
    transition all 0.3s
    margin 0 2px
    white-space nowrap
    
    @media $xs
      margin 0

  &_itemText
    position relative
    z-index 1

    &:after
      background $gold
      display: block
      content: ''
      width: calc(80% - 20px)
      height: 1px
      margin: 9px auto 0

  &_menu
    position absolute
    visibility hidden
    opacity 0
    transition all 0.3s
    top 0
    left 0
    width 100%
    background $gray
    padding-top 70px
    padding-bottom: 10px;
  
  &_item:hover
    background $gray
    z-index 2
    
  &_item:hover > &_itemText
    color $gold

  &_item:hover > &_menu
    visibility visible
    opacity 1
    
  &_link
    width 100%
    display block
    color inherit
    padding 12px 0
    overflow hidden
    text-overflow ellipsis
    &:hover
      color $gold
