.FlatCard
	border solid 1px transparent
	display block
	transition all .2s
	max-width 300px
	position relative
	@media $xs
		padding 26px 20px 21px
		margin 0 auto
	@media $sm
		width 50%
		padding 18px 18px 14px
		margin-bottom 16px
	@media $md
		width 50%
	@media $mdPlus
		padding 18px 18px 14px
		margin-bottom 30px
	@media $lgPlus
		width 33.3333%
	&:hover
		border-color #153075
	&_pic
		background-position center
		background-repeat no-repeat
		background-size contain
		@media $xs
			height 190px
			margin-bottom 18px
		@media $sm
			height 135px
			margin-bottom 12px
		@media $mdPlus
			height 190px
			margin-bottom 18px
	&_detailsRow
		display flex
		justify-content space-between
		flex-wrap wrap
		color mix(#fff, #000)
		font-size 14px
		&-top
			@media $xs
				padding-bottom 14px
			@media $sm
				padding-bottom 7px
			@media $mdPlus
				padding-bottom 14px
		&-bottom
			color #000
			font-family 'AvenirNext-DemiBold'
			@media $xs
				font-size 16px
				letter-spacing .3px
			@media $sm
				font-size 16px
				letter-spacing .2px
			@media $mdPlus
				font-size 16px
				letter-spacing .3px

	&_detailVal
		@media $sm
			min-width 100%
			width 100%
			text-align center
			padding-bottom 10px
	&_promoIcon
		width 35px
		height @width
		line-height @width
		text-align center
		border-radius 50%
		transition all .19s
		color #000
		font-size 16px
		background #ededed
		position absolute
		top 20px
		left 20px
		@media $sm
			top 10px
			left 10px
		&:after
			content '%'
	&:hover > &_promoIcon
		background #153075
		color #fff
		