.FlatsList
	@media $xs
		padding 0 10px 35px
	@media $sm
		padding 40px 14px
	@media $md
		padding 60px 20px 35px
	@media $lg
		padding 60px 20px 35px
	@media $xl
		padding-top 30px
		padding-bottom 35px
	&_title,
	&_textWrap
		@media $xs
			padding 0 20px 20px
		@media $sm
			padding 0 6px 20px
		@media $mdPlus
			padding 0 50px 32px
		
	&_title
		font-weight 400
		font-family 'AvenirNext-DemiBold'
		line-height 1.3
		letter-spacing .1px
		@media $xs
			font-size 20px
		@media $sm
			font-size 20px
		@media $mdPlus
			font-size 24px
	&_textWrap
		max-width 550px
		width 79%
		font-size 18px
		@media $smMinus
			max-width 100%
			width 100%
			font-size 17px
		@media $xs
			font-size 14px
	&_cardsWrap
		@media $smPlus
			display flex
			flex-wrap wrap
			justify-content space-around