.FullScreenContainer
    position relative
    box-shadow 0 14px 30px 0 rgba(0, 0, 0, .2)
    //height calc(100vh - 80px)
    height calc(100vh - 130px)
    @media $xs
        width 100%
    @media $sm
      //height calc(100vh - 80px)
      height calc(100vh - 130px)
    @media $md
      //height calc(100vh - 80px)
      height calc(100vh - 130px)
    &-flats
      height calc(100vh - 80px)
    &-xsNative
        @media $xs
            height auto
    &-fullWidth
        margin-right 0
        margin-left 0
    &.hover-out
        transition .2s ease-in
    &.hover-in
        transition .2s ease-in
    &_title
        position absolute
        top 30px
        left 248px
        font-size 18px
        font-weight 700
        color #fff
        line-height 1.2
        z-index 60
        @media $md
            font-size 20px
            top 45px
            left 350px

        @media $xs
            left 130px