.Genplan
    height 100%
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    &_tooltip
        background-color #fff
        max-width 141px
        position absolute
        color #c14040
        font-size 12px
        padding 8px 15px
        &:before
            content ''
            width 6px
            height 6px
            display block
            position absolute
            background-color #fff
            transform translate(0, -50%) rotate(45deg)
            bottom -5px
            left 50%
        &-red
            background-color #c43f60
            color #fff
            &:before
                background-color #c43f60

    &_polygonLink
        fill transparent
        &:hover path
            fill transparent


    &_marker
        position absolute
        background url(/img/backgrounds/tooltip-mobile.png) no-repeat
        background-size contain
        display flex
        width 176px
        height 82px
        justify-content center
        align-items center
        flex-direction column
        margin-left -88px
        margin-top -41px
         //pointer-events none
        color #c14040
        box-shadow 0 4px 15px 0 rgba(0, 0, 0, .2)
        z-index 101
        @media $mdMinus
          width:118px;
          height:54px;
          margin-left -59px
          margin-top -27px
        &-v1
            width 42px
            height 42px
            margin-left -21px
            margin-top -21px
        &-disabled
            pointer-events none
            opacity .75

    &_buildMask
        position absolute
        z-index 9
        & svg
            width 100%
        
        & svg path
            fill transparent
            transition 0.2s

        &:hover svg path
            fill #c14040;
    a&_marker
        cursor pointer
    &_markerNum
        width 100%
        color #000 !important
        font-size 15px
        font-weight 500
        z-index 10
        display flex
        justify-content center
        font-family "MuseoCyrl-700"
        align-items center
        ^[0]_marker-disabled > &
            background gray
        @media $mdMinus
          font-size 10px
    
    &_markerIcon
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        border-radius: 50%
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        z-index: 10

    &_markerIco
        background center no-repeat
        background-size contain
        width 60%
        &:after
            content ''
            display block
            padding-top 100%
    &_markerRibbon
        transition all 0.2s
        font-size 14px
        margin 5px 0
        white-space nowrap
        display block
        font-family "MuseoCyrl-300"
        color: #000000
        @media $mdMinus
          font-size 9px

        &-blueText
            color: #4d88b1
        &-greenText
            color: #2fa389
    &_mask
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background-position 50%
      background-repeat no-repeat
      background-color rgba(40,40,40,0.25)
      background-size cover
      pointer-events none
      visibility hidden
      opacity 0
      z-index 100
      transition all 0.3s ease 0s
      &-active
        visibility visible
        opacity 1

    &_street
      position absolute
      z-index 100
      background-size contain
      &-n1
        width 260px
        height 102px
        margin-left -130px
        margin-top -51px
        top 20%
        left 10%
        background-image url("../img/content/adress-desktop.png")
        @media(max-width:1600px)
          top 8%
          left 18%
        @media $xs
          width 130px
          height 51px
          margin-left -65px
          margin-top -25.5px
      &-n2
        width 104px
        height 280px
        margin-left -52px
        margin-top -140px
        top 60%
        left 5%
        background-image url("../img/content/desktop-adress.png")
        @media(max-width:1600px)
          top 73%
          left 13%
        @media $xs
          width 52px
          height 140px
          margin-left -26px
          margin-top -70px
          top 48%
          left 9%

    &_marker-v1 > &_markerNum
        background #f26060
        font-size 24px
        font-weight 400
    &_start
        color #ff2233
        font-size 16px
        font-family "MuseoCyrl-500"
        @media $lgMinus
          font-size 12px
    &_request
        padding: 20px
        background rgba(21,48,117, 0.9)
        color #ffffff
        display flex
        flex-wrap wrap
        position absolute
        bottom 60px
        right 60px
        z-index 101
        max-width 357px
        @media $lgMinus
            bottom 20px
            right 20px
        @media $smMinus
            width 100%
            bottom 0
            right 0
            max-width 100%
            flex-wrap nowrap
            align-items center
            padding 20px 40px
        @media $xs
            padding 20px 10px
            flex-wrap wrap
            justify-content center
        &-desktop
            @media $xs
                display none
        &-mobile
            display none
            @media $xs
                display flex
                position static

    &_requestText
        width 100%
        font-family 'AvenirNext-Regular'
        margin-bottom 15px
        font-size 14px
        line-height 19px
        @media $smMinus
            width auto
            margin-right 90px
        @media $xs
            margin 0 0 10px 0
            text-align center


    &_requestPhone
        font-family 'AvenirNext-DemiBold'
        font-size 18px
        display flex
        align-items center
        @media $smMinus
            flex-shrink 0

    &_requestButton
        font-family "MuseoCyrl-500"
        font-size 12px
        height 26px
        text-align center
        padding 6px 13px
        display flex
        align-items center
        background #ffffff
        color #153075
        margin-left 18px
        text-transform: uppercase
        @media $smMinus
            flex-shrink 0
        @media $xs
            margin-top 15px

    &-section
        &:before
            content ''
            display block
            position absolute
            top 0
            left 0
            width 100%
            height 200px
            background-image linear-gradient(to top, rgba(0, 0, 0, 0), #000000)
            z-index 3
            opacity 0.5
    &_title
        position relative
        z-index 4
        font-family "MuseoCyrl-700"
        color #ffffff
        font-size 35px
        margin-top 40px
        text-align center
        @media $xs
            margin-top 20px
            font-size 24px
    &_subtitle
        position relative
        z-index 4
        font-family 'AvenirNext-Medium'
        font-size 14px
        color #ffffff
        margin-top 8px
        text-align center

    &-section
      & .Fitblock
        min-height 700px

    &-sectionCommercial
        & .Fitblock_inner
            bottom 0 !important
            margin-top 0 !important
            top initial
