.GenplanSectionsSlider
    width 100%
    // height 100%
    min-height 700px

    &_navs
        position absolute
        top 52px
        width calc(100% - 200px)
        z-index 200
        display flex
        justify-content space-between
        padding 0 100px

        @media $mdMinus
            padding 0 60px
            width calc(100% - 120px)

        @media $smMinus
            padding 0 40px
            width calc(100% - 80px)

        @media $xs
            padding 0 20px
            width calc(100% - 40px)

    &_nav
        color #ffffff
        font-family AvenirNext-Medium
        font-size 14px
        position relative

        & span
            @media $xs
                display none

        &:hover
            cursor pointer

        &:nth-child(1)
            padding-left 49px
            &:before
                content ''
                position absolute
                display block
                width 39px
                height 10px
                left 0
                top 50%
                margin-top -5px
                background url("../img/icons/arrowSlimLeft.svg") no-repeat left center;
                transition translateX 0.3s ease

        &:nth-child(2)
            padding-right 49px
            &:before
                content ''
                position absolute
                display block
                width 39px
                height 10px
                right 0
                top 50%
                margin-top -5px
                transform rotate(180deg)
                background url("../img/icons/arrowSlimLeft.svg") no-repeat left center;
                transition translateX 0.3s ease

