.HelpUs
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content center
  padding 10px
  opacity 0
  visibility hidden
  overflow auto
  z-index -1500
  transition all .3s ease
  @media (max-height: 612px)
    display block
  &._open
    opacity 1
    visibility visible
    z-index 10021
  &_bg
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    background rgba(0, 0, 0, 0.5)
    z-index 1
  &_form
    max-width 600px
    width 100%
    margin 0 auto !important
    padding 40px 10px 25px !important
    border 1px solid #b59b61
    background $white
    position relative
    z-index 2
    &:before
      content ''
      position absolute
      left -10px
      top -10px
      right -10px
      bottom -10px
      border 9px solid $white
    &.b-mortgage-form--success
      max-width 440px
      padding 50px 0 25px !important
      @media (max-height: 612px)
        top 50%
        transform translateY(-50%)
  & .b-button--mortgage-form
    width 180px
  &_inner
    max-width 350px
    width 100%
    margin 0 auto
  &_tlt
    font 25px/30px 'MuseoCyrl-700'
    color $black
    text-align center
    margin-bottom 37px
    @media $xs
      font-size 17px
      line-height 20px
      margin-bottom 28px
  &_note
    display flex
    flex-direction column
    align-items center
    opacity 1
    @media $xs
      width 280px
      margin 0 auto
      padding 0 30px
    & .b-checkbox--problem-form
      margin 0
    & .b-mortgage-form__note--problem
      margin-top 10px
  & .b-button--mortgage-form
    margin-top 20px !important
  &_success
    /*max-width 440px
    width 100%
    padding 50px 0 25px
    margin 0 auto
    background $white
    z-index 2
    &:before
      content ''
      position absolute
      left -10px
      top -10px
      right -10px
      bottom -10px
      border 9px solid $white*/
    & h3
      font 25px/30px 'MuseoCyrl-700'
      color $black
      text-align center
      margin 0 0 65px
      @media $xs
        font-size 17px
        line-height 20px
        margin-bottom 40px
    & .b-mortgage-form__wrapper
      position relative
      z-index 2
  &_close
    position absolute
    right 25px
    top 25px
    width 18px
    height 18px
    background none
    border none
    @media $xs
      right 20px
      top 20px
      width 13px
      height 13px
    & svg
      width 18px
      height 18px
      @media $xs
        width 13px
        height 13px
      & path
        fill $gold

  &_angle
    width 14px
    height 14px
    border 1px solid #b59b61
    position: absolute
    &._top-left
      top: -1px
      left: -1px
    &._top-right
      top -1px
      right -1px
    &._bottom-left
      bottom -1px
      left -1px
    &._bottom-right
      bottom -1px
      right -1px