.HelpInfo
    max-width 1024px
    width 100%
    padding 50px 40px
    margin 0 auto
    @media $xs
        padding 50px 20px
    &_tlt
        font-family "MuseoCyrl-700"
        margin-bottom 50px
        @media $xs
            font-size 18px
            margin-bottom 25px
    &_txt
        font-family "AvenirNext-Regular"
        font-size 17px
        line-height 1.4
        letter-spacing .08px
        @media $xs
            font-size 15px
        & p
            margin-bottom 25px
            @media $xs
                margin-bottom 15px
        & b
            font-family 'AvenirNext-Bold'