.LayoutOfCalc
    font-family 'AvenirNext-Regular', Arial, Helvetica, sans-serif
    &_box
        @media $lgPlus
            margin 0 auto
            max-width 1368px
    &_row
        &-top
            @media $smPlus
                display flex
                justify-content space-between
                align-items flex-end
        &-middle
            @media $smPlus
                display flex
    &_switcher
        background #ededed
        @media $xs
            padding-top 28px
            height 64px
        @media $smPlus
            padding 41px 28px 0
            height 77px
    &_filters
        background #ededed
        @media $smPlus
            width 300px
            min-width 300px
    &_results
        @media $smPlus
            margin-top -77px
        @media $ie
            width 0
            flex 1 1 auto
    &_callToAction
        padding-top 10px
        padding-bottom 10px
        &-n1
            @media $xs
                display none
            @media $smPlus
                padding 28px
                &:before
                    content ''
                    border-top solid 1px rgba(151, 151, 151, .15)
                    display block
                    margin-bottom 28px
        &-n2
            @media $xs
                padding 30px 20px 42px
            @media $smPlus
                display none