.Legend
  display flex
  padding 40px 0
  &-center
    justify-content center
  &_item
    align-items center
    display flex
    margin-left 50px
    &:first-child
      margin-left 0
  &_color
    width 20px
    height 20px
  &_label
    font-family: 'AvenirNext-Regular';
    font-size: 14px;
    margin-left 10px