.LKEnter
  display flex
  align-items center
  font-size 0
  line-height 0
  &_icon
    height 21px
    font-size 0
    line-height 0
  &_txt
    & + .LKEnter_icon
      margin-left 8px
  &._white
    & path
      fill $white
  &._header
    align-items flex-start
    margin 25px 0 0 30px
    position relative
    top 7px
  &._footer
    position absolute
    right 0
    bottom 10px
    font 14px/20px 'MuseoCyrl-700'
    color $white
    white-space nowrap
    @media $mdMinus
      position relative
      bottom 0
      margin-top 20px
    @media (max-width: 640px)
      justify-content center
