.longread
	padding 70px 0 100px
	padding-top: 60px
	&_noPaddingBottom
		padding-bottom: 0
	@media (max-width: 1279px)
		padding-top 60px

	@media (max-width: 1023px)
		padding 60px 0 0

	@media (max-width: 640px)
		padding-top 30px

	&__section
		overflow hidden
		max-width 1280px
		margin 0 auto
		padding-bottom 60px

		&._gray
			background-color #f2f2f2
			margin-bottom 100px
			max-width none
			padding-bottom 0

			@media (max-width: 1023px)
				margin-top -80px
				margin-bottom 80px

			@media (max-width: 767px)
				margin-top -60px
				margin-bottom 60px

		@media (max-width: 1023px)
			padding-bottom 96px

		@media (max-width: 767px)
			padding-bottom 60px

		&:last-child
			padding-bottom 0

		&._ornament
			padding-bottom 188px
			position relative

			&:before
				content ''
				position absolute
				bottom calc(0% + 74px)
				width 158px
				height 28px
				background transparent url('/img/apartments/longread-ornament.svg') 0 0 no-repeat
				left 50%
				margin-left -79px

			@media (max-width: 767px)
				padding-bottom 60px

				&:before
					display none

		&._ornament-visibleMobile
			@media (max-width: 767px)
				padding-bottom 138px

				&:before
					display block
					bottom calc(0% + 66px)

	&__lead
		font-size 17px
		font-family 'AvenirNext-DemiBold'
		max-width 700px
		margin 0 auto 40px
		text-align center
		letter-spacing 0.08px
		line-height 1.4

		@media (max-width: 767px)
			padding 0 20px

	&__row
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		flex-wrap wrap

		&._custom
			align-items flex-end

		&._single
			.longread__col
				width 100%
				padding 0 40px
				margin 0

				.longread__tlt,
				.longread__txt
					text-align center

					&:before
						left 50%
						margin-left -41px

				.longread__txt
					max-width 800px
					margin 0 auto
					font-size 24px

					@media (max-width: 767px)
						font-size 20px

				.longread__tlt
					margin-bottom 40px

				@media (max-width: 767px)
					padding 0 20px

		&._tripple
			max-width 1280px
			margin 0 auto
			align-items flex-start
			padding 80px 160px

			.longread__col
				width calc(33.33% - 32px)
				margin-right 48px
				padding 0

				&:last-child
					margin-right 0

				.longread__tlt
					font-size 24px
					margin-bottom 30px
					text-align left

					&:before
						left 0
						margin 0

			@media (max-width: 1279px)
				padding 80px 60px

			@media (max-width: 1023px)
				flex-wrap wrap

				.longread__col
					width calc(50% - 20px)
					margin-right 40px

					&:nth-child(2) {
						margin-right 0
					}

					&:last-child
						width 100%
						margin-top 60px

			@media (max-width: 767px)
				padding 60px 20px

			@media (max-width: 640px)

				.longread__col
					width 100%
					margin 0 0 60px 0

					&:last-child
						margin-bottom 0
						margin-top 0

					.longread__tlt
						text-align center

						&:before
							left 50%
							margin-left -41px

		&._reverse
			.longread__col
				&:first-child
					order 1
					padding 0 160px 0 72px

					@media (max-width: 1279px)
						padding 0 50px 0 44px //padding 0 60px 0 44px

					@media (max-width: 1023px)
						order 0
						padding 0 40px

					@media (max-width: 767px)
						padding 0 20px

				&._ornament
					&:before
						left auto
						right -44px

		@media (max-width: 1023px)
			&._double
				.longread__col
					width calc(50% - 20px)
					margin-left 40px

					&:first-child
						padding 0 0 0 40px
						margin 0

				&._reverse
					.longread__col
						margin-left 0
						margin-right 40px

						&:first-child
							order 1
							margin-right 0
							padding-left 0
							padding-right 40px

				.longread__tlt
					text-align left

					&:before
						left 0
						margin 0

		@media (max-width: 767px)
			&._double
				.longread__col
					width 100%
					margin 0
					padding 0

					&:first-child
						padding 0 20px
						margin-bottom 30px

				&._reverse
					.longread__col
						padding 0
						margin 0

						&:first-child
							order 0
							padding 0 20px
							margin-bottom 30px

				.longread__tlt
					text-align center

					&:before
						left 50%
						margin-left -41px

	&__col
		width 50%

		&:first-child
			padding 0 72px 0 157px //padding 0 72px 0 160px

			@media (max-width: 1279px)
				padding 0 42px 0 60px //padding 0 44px 0 60px

			@media (max-width: 1023px)
				margin-bottom 40px
				padding 0 40px

			@media (max-width: 767px)
				padding 0 20px
				margin-bottom 30px

		&._ornament
			position relative

			&:before
				content ''
				position absolute
				bottom -60px
				left -44px
				background transparent url('/img/apartments/longread-pattern.svg') 0 0 no-repeat;
				width 237px
				height 237px
				z-index: 1
				background-size cover

				@media (max-width: 1279px)
					bottom -44px

				@media (max-width: 1023px)
					display none

		@media (max-width: 1023px)
			width 100%

	&__img
		display block
		position relative
		z-index 10
		object-fit cover
		height 460px
		width 100%

		&._height_auto
			height auto
			object-fit cover

		@media (max-width: 767px)
			height 290px

		@media (max-width: 640px)
			object-fit contain
			height auto

		&_desktop
			display block
			@media $smMinus
				display none

		&_tablet
			display none
			@media $smMinus
				display block
			@media $xs
				display none
		
		&_mobile
			display none
			@media $xs
				display block
				height auto
				object-fit contain
				width 100%

	&__tlt
		position relative
		font-size 35px
		line-height 1.2
		font-family 'MuseoCyrl-700'
		text-transform uppercase
		margin-bottom 50px
		padding-bottom 20px

		@media $smMinus
			margin-bottom 62px

		&:before
			content ''
			position absolute
			top 100%
			left 0
			width 82px
			height 1px
			background-color $gold

		@media (max-width: 1023px)
			text-align center

			br
				display none

			&:before
				left 50%
				margin-left -41px

		@media (max-width: 767px)
			font-size 24px
			margin-bottom 30px

	&__txt
		font-size 17px
		line-height 1.4
		font-family 'AvenirNext-Regular'

		&._large
			font-size 24px

			@media (max-width: 640px)
				font-size 20px

		p
			margin-top 20px

.longread-info
	height 237px
	background-color transparent
	background-position 0 50%
	background-repeat no-repeat
	background-size cover

	// &_fullBg


	@media (max-width: 640px)
		background-position 20% 50%

	&__inner
		display flex
		max-width 1280px
		margin 0 auto
		flex-direction column
		justify-content space-between
		height 100%
		padding 50px 160px

		@media (max-width: 1279px)
			padding 50px 100px

		@media (max-width: 1023px)
			padding 50px 80px

		@media (max-width: 767px)
			padding 50px 20px

		&:hover
			.longread-info__link
				border-bottom-color rgba($white, .5)

				&:before
					animation link .5s ease-in infinite

	&__link
		transition ease .3s all
		font-size 17px
		line-height 1.2
		position relative
		display inline-block
		color $white
		align-self flex-start
		font-family 'AvenirNext-Regular'
		border-bottom solid 1px transparent

		&:before
			content ''
			border-top 1px solid #ffffff
			border-right 1px solid #ffffff
			transform rotate(42deg)
			width 8px
			height 8px
			position absolute
			left 100%
			top 50%
			margin-top -4px
			margin-left 20px

	&__tlt
		font-size 35px
		font-family 'MuseoCyrl-700'
		letter-spacing .2px
		color $white
		line-height 1.4

		span
			display block
			font-size 20px
			font-family 'MuseoCyrl-300'
			letter-spacing .1px

		@media (max-width: 767px)
			font-size 24px

.longread-contacts
	overflow hidden
	position relative
	height 762px

	@media (max-width: 1279px)
		height 435px

	@media (max-width: 1023px)
		height auto
		padding-bottom 60px

	&:before
		content ''
		height 100%
		width 470px
		background transparent url('/img/apartments/verical-pat.svg') 0 0 repeat-y
		background-size contain
		position absolute
		top 0
		right 0

		@media (max-width: 1690px)
			right -50px

		@media (max-width: 1590px)
			right -100px

		@media (max-width: 1500px)
			right -120px

		@media (max-width: 1440px)
			width 290px

		@media (max-width: 1023px)
			width 100%
			left 0
			height 155px
			background-image url('/img/apartments/horiz-pat.svg')
			background-size auto
			background-repeat repeat-x

		@media (max-width: 767px)
			background-position 0 100%
			height 130px

	&__inner
		position relative
		z-index 10
		display flex
		flex-direction row
		justify-content flex-start
		align-items flex-start
		max-width 1280px
		margin 0 auto
		height 100%
		padding-top 270px
		padding-left 160px

		.button
			margin-left 0

		@media (max-width: 1279px)
			padding-top 120px
			padding-left 100px

		@media (max-width: 1023px)
			padding-top 270px
			padding-left 0
			flex-wrap wrap
			justify-content flex-start

		@media (max-width: 767px)
			padding-top 165px
			padding-left 0

			.button
				margin-left auto

	&__tlt
		font-size 45px
		font-family 'MuseoCyrl-700'
		letter-spacing .2px
		line-height 1.2
		text-transform uppercase
		width 275px
		margin-right 60px

		@media (max-width: 1280px)
			font-size 35px
			width 180px
			margin-right 100px

		@media (max-width: 1023px)
			font-size 30px
			width 50%
			margin 0
			padding-left 80px

		@media (max-width: 767px)
			font-size 20px
			text-align center
			margin-bottom 20px
			width 100%
			margin-right 0
			text-transform none
			font-family 'MuseoCyrl-500'
			padding 0

			br
				display none


	&__phone
		transition ease .3s all
		font-size 45px
		font-family 'AvenirNext-Regular'
		display inline-block
		margin-bottom 30px
		text-decoration none

		@media (max-width: 1280px)
			font-size 32px

	&__txt
		font-size 24px
		line-height 1.4
		font-family 'AvenirNext-Regular'
		margin-bottom 40px

		@media (min-width 1920px)
			font-size 22px

		br
			&:first-child
				display none

		@media (max-width: 1280px)
			font-size 17px

			br
				&:first-child
					display block

		@media (max-width: 640px)
			font-size 20px

	&__block
		@media (max-width: 1023px)
			width 50%

		@media (max-width: 767px)
			width 100%
			text-align center

@keyframes link
	0%
		left 100%

	50%
		left 105%

	100%
		left 100%

.page-header:before
	z-index 1
.page-header-tlt._flats
	@media (max-width: 640px)
		width 67%
.longread
	&._flats
		padding-bottom 0

		& .longread__section
			padding-bottom 100px
			@media $smMinus
				padding-bottom 80px
			@media $xs
				padding-bottom 60px

			&:last-child
				padding-bottom 100px
				@media $smMinus
					padding-bottom 80px
				@media $xs
					padding-bottom 60px

		& .longread__lead
			max-width 636px

		& .longread__col
			&._ornament:before
				background-size contain
				background-position left bottom
				@media $smMinus
					display block
				@media $xs
					display none

			&._ornament768:before
				@media $smMinus
					display none
	&__img
		&._fixRightMd
			@media (max-width: 1099px)
				object-position calc(100% + 43px) center
			@media $smMinus
				object-position calc(100% + 48px) center
			@media $xs
				object-position center