.Modal
  background-color #fff
  max-width 620px
  min-width 480px
  padding 52px 21% 44px
  position relative
  @media $xs
    padding 50px 10% 40px
    max-width 480px
    min-width 0

  &_border
    content ''
    left 10px
    right 10px
    top 10px
    bottom 10px
    border 1px solid #b59b61
    position absolute
    pointer-events none

  &_corner
    border 1px solid #b59b61
    position absolute
    width 12px
    height 12px
    &:first-child
      top -1px
      left -1px
    &:nth-child(2)
      top -1px
      right -1px
    &:nth-child(3)
      bottom -1px
      left -1px
    &:last-child
      bottom -1px
      right -1px
      
  &_inner
    position relative
    z-index 1
  
  &_head
    font-size: 25px;
    font-family 'MuseoCyrl-700'
    line-height normal
    letter-spacing normal
    text-align center
    color #000000
    margin-bottom 20px
    @media $xs
      font-size 17px

  &_closeBtn
    background-image: url("data:image/svg+xml,%3Csvg width='64' xmlns='http://www.w3.org/2000/svg' height='64'%3E%3Cpath fill='%23b59b61' d='M28.941 31.786L.613 60.114a2.014 2.014 0 1 0 2.848 2.849l28.541-28.541 28.541 28.541c.394.394.909.59 1.424.59a2.014 2.014 0 0 0 1.424-3.439L35.064 31.786 63.41 3.438A2.014 2.014 0 1 0 60.562.589L32.003 29.15 3.441.59A2.015 2.015 0 0 0 .593 3.439l28.348 28.347z'/%3E%3C/svg%3E");
    background-size 90% 90%
    background-position center
    background-color transparent
    background-repeat: no-repeat;
    width 20px
    height 20px
    border 0
    position absolute
    top 32px
    right 32px
    @media $xs
      width 14px
      height 14px
      top 28px
      right 28px