.ModalDefList
  display flex
  justify-content space-between
  margin-bottom 30px
  &_label
    font-size: 10px
    color mix(#000, #fff)
    font-family 'AvenirNext-Regular', Arial, sans-serif
    margin-bottom 2px
  &_value
    font-family 'AvenirNext-DemiBold', Arial, sans-serif
    font-size: 19px;
    color #b59b61