.MortgageCalc
    margin 0 auto
    @media $xs
        padding 20px 20px 6px
    @media $smPlus
        padding 28px 28px 8px
    &_cell
        height 122px
        position relative
        &:not(:last-child)
            @media $xs
                margin-bottom 14px
            @media $smPlus
                margin-bottom 15px
        &:last-child
            @media $xs
                margin-bottom 32px

        &-summCount
            margin-bottom 0
            height 84px
            border-top 1px solid #e5e5e5
            display flex
            justify-content space-between
            align-items center
            @media $sm
                width 100%
    &_text
        color rgba(0, 0, 0, .5)
        font-family AvenirNext-Regular
        font-size 14px
        margin-bottom 5px
    &_sumWrapper
        position relative
        z-index 10
        @media $xs
            padding 8px 5px 13px 0
        @media $smPlus
            padding 8px 5px 17px 0

    &_sum,
    &_sign
        font-size 24px
        font-family AvenirNext-Bold
        
    &_sign
        font-family Arial
        font-weight 700
        font-size 94%
    &_ticks
        display flex
        justify-content space-between
        @media $xs
            margin-bottom 24px
        @media $smPlus
            margin-bottom 14px
    &_stepVal
        font-size 10px

    &_stepSuffix
        font-size 12px
        line-height .83