.MortgageSlider
	margin 0 auto
	@media $xs
		width calc(100% - 18px)
	@media $smPlus
		width calc(100% - 12px)
	&_track
		width 100%
		background #d3d3d3
		border 0 !important
		font-size 12px
		height 1px
		&:after,
		&:before
			content ""
			position absolute
			background-color #b59b61
			transform rotate(-45deg)
			pointer-events none
			@media $xs
				top -7px
				width 15px
				height 15px
			@media $smPlus
				top -4px
				width 9px
				height 9px
			
		&:before
			@media $xs
				left -7px
			@media $smPlus
				left -4px
		&:after
			background #d3d3d3
			@media $xs
				right -7px
			@media $smPlus
				right -4px
	&_progress
		background #b59b61
		outline 0

	&_handle
		top auto !important
		border 1px solid #b59b61!important
		background none !important
		transform rotate(-45deg)
		@media $xs
			height 22px !important
			width @height
			bottom -10px !important
			margin-left -11px !important
		@media $smPlus
			height 16px !important
			width @height
			bottom -7px !important
			margin-left -8px !important
		&:after
			content ''
			background #b59b61
			position absolute
			left 2px
			right 2px
			top 2px
			bottom 2px


	&_rangeVals
		width 100%
		height 40px
		border-radius 2px
		border solid 1px #3b4145
		display flex
	&_valViewWrap
		width 50%
		max-width 50%
		padding 0 15px
		height 100%
		display flex
		align-items center
		font-size 1.2rem
		letter-spacing .2px
		font-weight 500
		color #fff
		&-max
			justify-content flex-end
			border-left 1px solid #3b4145
	&_minValViewEl,
	&_maxValViewEl
		margin-right 4px
		transform translateZ(0)
	&_popupInp
		font-size inherit
		font-weight inherit
		color inherit
		line-height inherit
		display inline
		background transparent
		border 0
		position relative
		top -.1em
		padding 0!important
		text-align left
		outline 0!important