.MortgageBanklist
    @media $xs
        width calc(100% - 40px)
        margin 0 auto
    @media $smPlus
        width 100%
        table-layout fixed
    &_caption
        text-align left
        font-weight 500
        @media $xs
            font-size 20px
            line-height 1
            letter-spacing -.3px
            padding 22px 20px 18px
        @media $smPlus
            font-size 25px
            line-height 1.36
            letter-spacing -.4px
            padding 22px 0 18px
    &_row
        font-size 16px
        color #000
        background #ededed
        &:nth-child(even)
            background #fff
        &-head
            background #fff
            font-weight 400
            font-size 15px
            text-align left
    &_cell
        vertical-align middle
        font-size 14px
        letter-spacing .1px
        font-family Arial, Helvetica, sans-serif
        @media $ie
            text-align left
        @media $xs
            padding 19px 4px
        @media $sm
            padding 24px 4px
        @media $mdPlus
            padding 28px 4px
            font-size 17px
        &-th
            opacity .5
            font-family "AvenirNext-Regular"
            font-weight 400
            @media $xs
                padding 35px 4px 20px
                font-size 14px
            @media $smPlus
                padding 35px 4px
                letter-spacing .1px
                font-size 14px
            @media $mdPlus
                padding 42px 4px
        &:first-child
            @media $xs
                padding-left 15px
                font-size 20px
                font-family "AvenirNext-DemiBold"
                opacity 1
            @media $sm
                padding-left 20px
                width 42%
                font-size 17px
            @media $mdPlus
                padding-left 50px
                width 42%
                font-size 17px
        &:last-child
            @media $xs
                padding-right 15px
                text-align right
            @media $sm
                padding-right 20px
            
            @media $mdPlus
                padding-right 50px
        &-bankRate
            @media $xs
                display none
                
    &_logo
        @media $xs
            width 110px
            height 32px
        @media $sm
            width 135px
            height 32px
        @media $mdPlus
            width 185px
            height 46px
        background left center no-repeat
        background-size contain
        max-width 100%
    &_bankRateText
        display inline-block
        padding 8px 15px
        &-highlighted
            background #9dcd5a
            color #fff
    &_headText
        &[data-sort-by]
            position relative
            cursor pointer
            &:hover
                text-decoration underline
        &-bankRate
            margin-left 14px
        &:after
            width 0
            height 0
            margin-left .5em
            vertical-align middle
            content ""
            border-bottom .4em solid
            border-right .3em solid transparent
            border-top 0
            border-left .3em solid transparent
            display inline-block
            visibility hidden
        &-asc
            &:after
                visibility visible
        &-desc
            &:after
                visibility visible
                transform scaleY(-1)