.NewsItem
  min-height calc(100vh - 127px)
  padding 50px 0 65px
  background transparent url('/img/news_item/pattern_news.svg') 50% 100% repeat-x
  text-align center

  @media (max-width: 640px)
    padding 20px 0 65px

  &_inner
    position relative
    height 100%
    max-width 900px
    margin 0 auto
    padding 0 100px

    @media (max-width: 1080px)
      padding-top 35px

    @media (max-width: 1024px)
      padding 35px 60px 0

    @media (max-width: 640px)
      padding 35px 20px 0

  &_text,
  &_title
    text-align left

  &_title
    font-size 36px
    line-height 1.2
    font-family 'MuseoCyrl-700'
    margin-bottom 30px

    @media (max-width: 640px)
      font-size 24px
      margin-bottom 20px

  &_wrapper
    height 100%
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start

    .button
      margin auto auto 0

  &_date
    position absolute
    left 0
    top 0
    transform translateX(-40%)
    font-family 'AvenirNext-Regular'
    font-size 14px
    color rgba($black, .5)

    @media (max-width: 1080px)
      transform none
      left 100px

    @media (max-width: 1024px)
      left 60px

    @media (max-width: 640px)
      left 20px

  &_img
    height 400px
    width calc(100% + 200px)
    margin-left -100px
    margin-bottom 30px

    @media (max-width: 1024px)
      width calc(100% + 120px)
      margin-left -60px

    @media (max-width: 640px)
      width calc(100% + 40px)
      margin-left -20px
      height 150px
      margin-bottom 35px

  &_text
    margin-bottom 100px

    p
      font-size 17px
      line-height 1.4
      font-family 'AvenirNext-Regular'
      color $black
      letter-spacing 0.08px
      margin-bottom 25px

      &:last-child
        margin-bottom 0
