.Pager
  padding-bottom: 30px;

  &_list
    display flex
    justify-content center
    font-family "MuseoCyrl-500"
  &_item,
  &_prev,
  &_next,
  &_prevSet,
  &_nextSet
    transition none!important
    border-radius 50%
    width 40px
    height 40px
    min-width 40px
    position relative
    overflow hidden
      
  &_prevSet,
  &_nextSet
    width 26px
    min-width 26px
  
  &_item
    margin: 0 2px;
    &.active
      color #fff
      background #153075
      pointer-events none
  &_prev,
  &_next
    &.disabled
      opacity 0.3
      
  &_link
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    & > .SvgIco
      height 22px
      width auto
  &_showAllList,
  &_prevSet,
  &_nextSet
    display none !important