.ParkingRefund
    font-family AvenirNext-Regular
    font-size 17px
    letter-spacing .1px
    line-height 23px
    margin-bottom 60px
    & p
        margin 10px 0

    & ul li
        position relative
        padding-left 16px
        padding-bottom: 4px

        &:before
            content ""
            position absolute
            width 10px
            height 2px
            left -2px
            top 9px
            background #153075