.Parking
  padding-top 20px
  
  @media $sm
    padding 34px 20px 0
    
  @media $mdPlus
    padding-top 40px
  
  &_topBlock
    @media $smPlus
      display grid

    @media $sm
      grid-template-columns auto auto
      grid-template-rows auto auto

    @media $md
      grid-template-columns auto auto
      grid-template-rows auto auto

    @media $lg
      grid-template-columns 3fr 6fr 3fr

    @media $xl
      grid-template-columns 17% auto 21%
      grid-column-gap: 24px;    

  &_nav
    @media $sm
      grid-column-start 1
      grid-column-end 2
      grid-row-start 1
      grid-row-end 2

    @media $md
      grid-column-start 1
      grid-column-end 2
      grid-row-start 1
      grid-row-end 2
  
    @media $lgPlus
      grid-column-start 1
      grid-column-end 2

  &_desc
    font-family 'AvenirNext-Regular'
    color: #000
    
    @media $xs
      font-size 14px
      line-height 1.35

    @media $sm
      grid-column-start 2
      grid-row-start 1
      grid-row-end 2
      padding 20px 0 0 11%
      font-size 14px
      line-height 1.33

    @media $md
      grid-column-start 2
      grid-row-start 1
      grid-row-end 2
      padding 18px 0 0 6%
      
    @media $mdPlus
      font-size 17px
      line-height normal
      letter-spacing 0.08px

    @media $lgPlus
      grid-column-start 2
      grid-column-end 3
      padding 18px 20px 0 0
      
    & > p
      @media $xs
        margin-bottom 20px
      @media $sm
        margin-bottom 20px
      @media $mdPlus
        margin-bottom 22px
      

  &_quikLinks
    @media $xs
      padding-top: 10px
      margin-bottom 30px

    @media $sm
      grid-column-start 1
      grid-column-end 3
      grid-row-start 2
    
    @media $md
      grid-column-start 2
      grid-row-start 2
      padding-top 8px
      padding-left 6%

    @media $lgPlus
      grid-column-start 3
      padding-top 22px
      
  &_blockTitle
    font-family 'AvenirNext-DemiBold'
    font-size 17px
    margin-bottom 23px
      
  &_quikLinksButtonsWrap
    display flex
    
    @media $xs
      justify-content space-between
      margin-bottom 20px
    @media $sm
      width 46%
      display inline-flex
      vertical-align top
    @media $smPlus
      margin-bottom 30px
    @media $md
      width 48%
      display inline-flex
      vertical-align top
    
    & > .Btn
      flex 1
      max-width calc(50% - 5px)
      @media $smPlus
        margin-right 10px
      
  &_quikLinksActionButtonWrap
    @media $sm
      display inline-flex
      vertical-align top
      padding-left 18px
    @media $md
      display inline-flex
      vertical-align top
      padding-left 18px
      
    & > .Btn
      @media $xs
        width 100%
  
  &_scheme
    padding-top 34px
    @media $xs
      display none
    @media $lg
      padding-right 8%
      padding-left 8%
    @media $xl
      padding-right 122px
      padding-left 122px
      

  &_table,
  &_tablePagination
    display none
    @media $xs
      display block
  
  &_table
    @media $xs
      padding-top 14px
      padding-bottom 50px
      margin-right (-($boxGutters))
      margin-left (-($boxGutters))
  
  &_tablePagination
    @media $xs
      padding-bottom 20px
        