.PaymentForm
    max-width 100%;
    width 100%
    margin auto
    &_row
        display flex
        justify-content space-between
        flex-wrap wrap
    &_col
        width calc(50% - 15px)
        @media $xs
            width 100%
    &_title
        color #000000
        opacity 0.5
        font-family AvenirNext-Regular
        padding-bottom 15px
    &_link
        font-family 'MuseoCyrl-500'
        color rgba(0, 0, 0, 0.5)
        font-size 14px
        text-align center
        margin 20px auto 0
        display block
        @media $xs
            text-decoration underline
        & span
            position relative
            &:before
                content '';
                background rgba(0, 0, 0, 0.2)
                width 100%
                height 1px
                left 0
                bottom 0
                position absolute
                display block
                transition all 0.3s ease
                @media $xs
                    display none

            &:hover
                &:before
                    opacity 0
    & .b-select
        margin-bottom 30px
    & .b-input-group
        margin-bottom 30px