#PdfEmailForm
    & button[data-fancybox-close]
        display none

.PdfEmailForm
    padding 10px
    margin 0
    background $white

    @media (max-width 620px)
        min-width 100%

    &_inner
        border 1px solid $gold
        padding 60px 10px 50px

        position relative

        @media $xs
            padding 45px 10px

        & .js-send-form
            display flex
            flex-flow column wrap
            align-items center
            justify-content center
            text-align center

    &_angleTop,
    &_angleBottom
        position absolute
        left 0
        width 100%

        &:before,
        &:after
            content ''
            position absolute
            top -1px
            width 14px
            height 14px
            border 1px solid $gold

    &_angleTop
        top 0

        &:before
            left -1px

        &:after
            right -1px

    &_angleBottom
        bottom 12px

        &:before
            left -1px

        &:after
            right -1px

    &_sendBlock
        width 578px
        
        @media $xs
            width auto

    &_successBlock
        min-width 278px
        width 398px

        @media $xs
            padding-top 15px
            padding-bottom 5px
            width auto

    &_title
        font 25px/1.3 'MuseoCyrl-700'
        text-align center
        padding 0 30px
        margin 0 auto 50px

        @media $xs
            font-size 17px
            letter-spacing -0.1px
            max-width 240px
            padding: 0
            margin-bottom 35px

        & .nowrap
            white-space nowrap

    &_titleFlat
        font 19px/1.2 'AvenirNext-Medium'
        color $gold
        margin-bottom 30px

        @media $xs
            font-size 15px
            margin-bottom 25px

    &_inpText
        max-width 350px
        width 100%
        margin-bottom 10px

        @media $xs
            max-width 100%
            margin-bottom 0

    &_note
        font 12px/1 'AvenirNext-Medium'
        opacity .5

        @media $xs
            margin-bottom -10px

        &.error
            opacity 1
            color #e64949

    &_close
        position absolute
        right 25px
        top 25px
        width 19px
        height 19px

        @media $xs
            right 20px
            top 20px
            width 14px
            height 14px

        &:before,
        &:after
            content ''
            position absolute
            top 0
            width 27px
            height 1px
            background $gold

            @media $xs
                width 20px

        &:before
            left 0
            transform rotate(44deg)
            transform-origin left top

        &:after
            right 0
            transform rotate(-44deg)
            transform-origin right top

.b-checkbox

    &--PdfEmailForm
        text-align left
        padding-left 26px
        margin-bottom 13px
        position relative

        @media (max-width:333px)
            max-width 250px
            margin-bottom 30px

        label
            font 12px/1 'AvenirNext-Regular'

    &__input--PdfEmailForm + label:before
        content ""
        position absolute
        left 0
        top 1px
        display inline-block
        height 16px
        width 16px
        border 1px solid $gold

    &__input--PdfEmailForm.error + label:before
        border-color #e64949

    &__input--PdfEmailForm + label:after
        content ""
        position absolute
        left 3px
        top 5px
        width 10px
        height 6px
        border-radius 1px
        border-left 3px solid $gold
        border-bottom 3px solid $gold
        transform rotate(-45deg)

    &__input--PdfEmailForm:not(:checked) + label:after
        opacity 0

    &__input--PdfEmailForm:checked + label:after
        opacity 1

.fancybox-slide--html
    padding 0