.popup-shadow {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vh + 70px);
    z-index: 999;
    background-color: rgba(0, 0, 0, .69);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.popup-container-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: calc(100vh + 70px);
    z-index: 999;
    overflow: hidden;
}

.popup-container {
    padding: 0;
    width: 960px;
    height: 560px;
    background: url('/img/popup/bg-web.jpg') center center no-repeat;
    position: relative;
    margin: auto;
}

.popup-h,
.thanks-h {
    padding: 0;
    margin: 0 auto;
    font-size: 26px;
    font-family: 'MuseoCyrl-700';
    color: #333333;
    line-height: 1.346;
    text-align: center;
    max-width: 300px;
}

.popup-line,
.thanks-line {
    width: 80px;
    height: 1px;
    background-color: #b59b61;
    margin: 0 auto;
    margin-top: 15px;
}

.popup-cross {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 21px;
    top: 42px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #f2f2ef;
    cursor: pointer;
    z-index: 99;
    border-radius: 50%;
}

.popup-cross:before,
.popup-cross:after {
    position: absolute;
    top: 8px;
    content: ' ';
    height: 15px;
    width: 1px;
    background-color: #b69c63;
}

.popup-cross:before {
    transform: rotate(45deg);
}

.popup-cross:after {
    transform: rotate(-45deg);
}

.popup-form-wrapper,
.thanks-form-wrapper {
    margin: 0;
    padding: 0;
    width: 478px;
    height: 560px;
    position: absolute;
    left: 40px;
    top: 0px;
    background-color: #ffffff;
    padding-top: 72px;
    box-sizing: border-box;
}

.thanks-form-wrapper {
    display: none;
}

.decor-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
}

.popup-form {
    margin: 0;
    padding-bottom: 0;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
}

.popup-form-h,
.thanks-form-h {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    font-family: 'AvenirNext-Regular';
    color: #6d6d6d;
    line-height: 1.4;
    max-width: 360px;
}

.email-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #b59b61;
    position: relative;
    height: 52px;

    .b-input-group {
        margin: 0;

        &:hover {
            .b-input-group__input-field {
                border: none;
            }
        }
    }

    .b-input-group__input-field {
        border: none;
        background: #fff;
    }
}

.popup-email {
    display: block;
    padding: 0 19px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'AvenirNext-Regular';
    box-shadow: none;
    width: 176px;

    .error-msg {
        top: 100%;
        margin: 5px 0 0 0;
    }
}

.popup-email[placeholder] {
    color: #6d6d6d;
}

.error-msg {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'AvenirNext-Regular';
    color: #b51827;
    text-align: left;
    visibility: hidden;
    margin-top: 12px;
    margin-left: 19px;
    position: absolute;
}

.popup-btn,
.thanks-btn {
    margin: 0;
    padding: 0;
    width: 210px;
    height: 40px;
    text-align: center;
    border: none;
    background-color: #b59b61;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    font-family: 'MuseoCyrl-500';
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.popup-btn {
    margin-top: 5px;
    margin-right: 5px;
}

.popup-checkbox {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'AvenirNext-Regular';
    color: rgba(158, 158, 158, 0.8);
    line-height: 1.2;
    text-align: left;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
    padding-left: 25px;
    margin-top: 30px;
}

.popup-form div {
    position: relative;
}

.popup-form input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 32px;
    left: 6px;
    opacity: 0;

    &:invalid {
        +.popup-checkbox {
            color: red;
        }
    }

}

.popup-checkbox::before,
.popup-checkbox::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.popup-checkbox::before {
    height: 12px;
    width: 14px;
    background-image: url('/img/popup/unchecked.png');
    left: 6px;
    top: 2px;
}

.popup-checkbox::after {
    height: 12px;
    width: 14px;
    background-image: url('/img/popup/checked.png');
    left: 6px;
    top: 2px;
}

.popup-form input[type="checkbox"]+.popup-checkbox::after {
    content: none;
}

.popup-form input[type="checkbox"]:checked+.popup-checkbox::after {
    content: "";
}

// .popup-email:invalid {
//     color: #b51827;
// }

// .popup-email:invalid~.error-msg {
//     visibility: visible;
// }

.thanks-btn {
    margin: 0 auto;
    height: 50px;
    width: 220px;
    border: 4px solid #ffffff;
    outline: 1px solid #b59b61;
    display: block;
}

.thanks-h {
    max-width: none;
    padding-top: 20px;
    font-size: 24px;
}

.thanks-form-h {
    margin-top: 20px;
    margin-bottom: 70px;
}

@media only screen and (max-width: 960px) {
    .popup-container {
        width: 480px;
        height: 480px;
        background: url('/img/popup/bg-pad.jpg') center center no-repeat;
    }

    .popup-cross {
        top: 27px;
        right: 10px;
        width: 15px;
        height: 15px;
        border-radius: 0%;
        background-color: transparent;
    }

    .popup-cross:before,
    .popup-cross:after {
        top: 0;

    }

    .popup-h {
        font-size: 22px;
        max-width: none;
    }

    .thanks-h {
        padding-top: 7px;
        font-size: 20px;
        max-width: none;
    }

    .thanks-btn {
        margin-top: 30px;
    }


    .popup-line,
    .thanks-line {
        margin-top: 18px;
    }

    .popup-form-wrapper,
    .thanks-form-wrapper {
        top: 17px;
        left: 0px;
        width: 480px;
        height: 295px;
        padding-top: 9px;
    }

    .thanks-form-wrapper {
        padding-top: 19px;
    }

    .decor-img {
        width: 176px;
        height: auto;
        margin-bottom: 14px;
    }


    .popup-form {
        padding-top: 18px;
        padding-left: 17px;
        padding-right: 22px;
    }

    .popup-email {
        width: 177px;
        margin: 0 22px;
    }

    .error-msg {
        margin-left: 22px;
        margin-top: 6px;
    }

    .popup-checkbox {
        margin-top: 22px;
    }


    .popup-form-h,
    .thanks-form-h {
        font-size: 14px;
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 480px) {

    .popup-container {
        width: 320px;
        height: 440px;
        background: url('/img/popup/bg-mob.jpg') center center no-repeat;

    }

    .popup-cross {
        top: 49px;
    }

    .decor-img {
        display: none;
    }


    .popup-h {
        font-size: 16px;
    }

    .thanks-h {
        font-size: 18px;
    }

    .popup-line {
        display: none;
    }

    .popup-form-wrapper,
    .thanks-form-wrapper {
        width: 320px;
        height: 266px;
        top: 41px;
        padding-top: 20px;
        position: relative;

    }

    .thanks-form-wrapper {
        padding-top: 40px;
    }
    .popup-form {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }

    .popup-form-h {
        margin-bottom: 15px;
    }

    .thanks-form-h {
        max-width: 200px;
        font-size: 15px;
    }

    .popup-email {
        width: 256px;
        height: 39px;
    }

    .error-msg,
    .popup-checkbox {
        font-size: 13px;
    }


    .popup-btn {
        margin-top: 20px;
        position: absolute;
        top: 90px;
        width: 300px;
        height: 45px;
        left: 0;
        margin-left: -1px;
        outline: none;
        border: none;
    }

    .thanks-btn {
        position: absolute;
        bottom: 10px;
        width: 300px;
        height: 45px;
        left: 0;
        margin-left: 10px;
        margin-right: 10px;
        outline: none;
        border: none;
    }
}

.fancybox-content {
    padding: 0;
    background: transparent;
}

.popup-custom {
    .fancybox-button {
        display: none;
    }
}
