.Scheme
  position relative
  &_svgContainer
    user-select none
    visibility hidden
    
    &-activated
      visibility visible

    &-draggable
      cursor grab
      
    &-dragging
      cursor move
      
    @media $ie
      &-draggable
        cursor move
      
  &_svg
    display block
    width: 100%;
    max-width 100%
    height: auto;

  &_controls
    position absolute
    top 0
    right 0
    overflow hidden
    border-radius 8px
    width 40px
    display flex
    flex-direction: column

  &_btn
    font-family "Times New Roman", Times, serif
    font-size 24px
    background #f5f5f5
    font-weight 700
    width 100%
    height 40px
    color #000
    border none
    display flex
    justify-content center
    align-items center
    &:hover,
    &:focus,
    &:active
      background mix(#979797, #fff, 20%)
      
    & > .SvgIco
      width 14px
      height auto
  &_buttonDiviver
    border-top 1px solid mix(#979797, #fff, 20%)
    background mix(#979797, #fff, 20%)
    height 1px

  &_item
    &-active
      fill: #dacdb0
      cursor pointer
      
    &-state1
      fill #8a97ba
    &-state2
      fill #cccccc
      
  &_inactiveSvgElements
    pointer-events none
  
  &_tooltip
    width 204px
    box-shadow 0 8px 18px 0 rgba(0, 0, 0, 0.1)
    background-color #fff
    pointer-events none
    
  &_ttInner
    padding 19px 20px
    font-family "AvenirNext-Medium", Arial, sans-serif

  &_ttToprow
    display flex
    justify-content space-between
    align-items center
    color mix(#fff, #000)
    margin-bottom 12px
    line-height: normal;
    
  &_ttNum
    font-size 16px
    
  &_ttArea
    font-size 14px
    
  &_ttPrice
    font-size 23px
    line-height: 1.26;