.SectionTooltip
    text-align left
    color #000
    padding 8px 10px

    &:after
      content ''
      display block
      position absolute
      bottom -10px
      right 0px
      width 0
      height 0
      border-style solid
      border-width 0 10px 10px 0
      border-color transparent #ffffff transparent transparent

    &-commercial
      background #153075
      color: #fff

      &:after
        border-color transparent #153075 transparent transparent

    &_row
        font-family MuseoCyrl-300
        font-size 10px
        margin-bottom 4px
        & span
          font-family MuseoCyrl-700
          font-size 14px
        &-commercial
          display flex
          align-items center
          & span
            padding-right 5px
        &-amount
          //flex-wrap wrap
          //max-width 80px
          line-height 8px
    &_col
        opacity 0.3
        &:nth-child(1)
          margin-right 10px



.light-theme
    //padding 8px 17px
    //top -40px
    background #ffffff
    border-radius 0
    position relative
    padding 0

.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme .tippy-arrow {
  border-top-color: #ffffff;
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom-color: #ffffff;
}
.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme .tippy-arrow {
  border-left-color: #ffffff;
}
.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme .tippy-arrow {
  border-right-color: #ffffff;
}


    //&:after
    //  content ''
    //  position absolute
    //  top 50%
    //  translateY -50%
    //  left 0
    //  width 0
    //  height 0
    //  border-style solid
    //  border-width 15px 10px 0 0
    //  border-color #ffffff transparent transparent transparent


