.select
    &--payment
        .b-select
            max-width 100%
            margin-left 0
        .chosen-container,
        .b-select__list
            background #ededed
        .chosen-single,
        .b-select__list
            height 50px

        .b-select::after
            @media $xs
                top 24px

        .b-select__item,
        .b-select .chosen-single
            padding 18px 15px
