.SimplePopup
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  display flex
  flex-direction column
  justify-content center
  padding 10px
  opacity 0
  visibility hidden
  overflow auto
  z-index -1500
  transition all .3s ease
  &._open
    opacity 1
    visibility visible
    z-index 10021
  &_bg
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    background rgba(0, 0, 0, 0.5)
    z-index 1
  &_body
    max-width 440px
    width 100%
    margin 0 auto
    padding 90px 32px
    border 1px solid #b59b61
    background $white
    position relative
    z-index 2
    @media $xs
      max-width 300px
      padding 60px 32px
    &:before
      content ''
      position absolute
      left -10px
      top -10px
      right -10px
      bottom -10px
      border 9px solid $white
    &._img
      max-width none
      width auto
      padding 0
      border none
      &:before
        display none
      & .SimplePopup_close
        right 0
        top -28px
  &_txt
    font 25px/30px 'MuseoCyrl-700'
    text-align center
    @media $xs
      font-size 17px
      line-height 20px
  &_img
    font-size 0
    line-height 0
  &_link
    position absolute
    left 0
    top 0
    width 100%
    height 100%
  &_close
    position absolute
    right 25px
    top 25px
    width 18px
    height 18px
    background none
    border none
    @media $xs
      right 20px
      top 20px
      width 13px
      height 13px
    & svg
      width 18px
      height 18px
      @media $xs
        width 13px
        height 13px
      & path
        fill $gold

  &_angle
    width 14px
    height 14px
    border 1px solid #b59b61
    position: absolute
    &._top-left
      top: -1px
      left: -1px
    &._top-right
      top -1px
      right -1px
    &._bottom-left
      bottom -1px
      left -1px
    &._bottom-right
      bottom -1px
      right -1px