.Sorter {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;

    &_item {
        padding: 0 7px;
        font-size: 14px;
        @media(--xs) {
            padding:0;
        }
    }
    &_inp {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    &_lbl {
        cursor: pointer;
        display: inline-block;
        padding: 0 14px 0 0;
        background: none;
        border: 0;
        position: relative;
        transition opacity 0.4s ease
        color #000000
        font-size 17px
        opacity 0.5
        font-family 'AvenirNext-Regular'
        &-desc,
        &-asc{
            color: #000;
            opacity 1
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -6px;
                display: block;
                width: 12px;
                height: 12px;
                background: url("/img/caret-down.svg") center / contain no-repeat!important;
                pointer-events: none;
                transform: scaleY(-1);
            }
        }

        &-desc {
            &:after {
                transform: none;
            }
        }
        &:hover {
            opacity 1
        }
        @media $lgMinus {
            font-size 14px
        }

        @media $smMinus {
            font-size 12px
        }

    }
    &-commercial {
      border:none;
    }
}


