.StateSupport
  flex-direction column
  padding 0 0 20px
  font-family 'AvenirNext-Regular'
  font-size 17px
  letter-spacing 0.1px
  line-height normal
  &_img
    max-width 1024px
    height 470px
    margin 0 auto 40px
    overflow hidden
    @media $smMinus
      height auto
    & img
      display block
      width 100%
      position relative
      top 50%
      transform translateY(-50%)
  &_title
    font-family 'AvenirNext-DemiBold'
    font-size 24px
    line-height 33px
    margin-bottom 30px
  &_subtitle
    font-family 'AvenirNext-DemiBold'
    font-size 17px
    line-height normal
    margin-bottom 15px
  & p
    margin-bottom 22px
  &_txtlist
    margin-bottom 30px
    & li
      position relative
      padding-left 25px
      margin-bottom 7px
      &:after
        content ''
        position absolute
        left 2px
        top 8px
        width 7px
        height 7px
        transform rotate(-45deg)
        background $gold