$brandFonts = 'AvenirNext-Regular'
$brandColor = #153075

.StayHome
  max-width 1024px
  width 100%
  padding 0 54px
  margin 0 auto
  font-family $brandFonts
  color $black
  @media $smMinus
    padding 0 40px
  @media $xs
    padding 0 20px
  a
    text-decoration underline
  &_tag
    font-size 24px
    line-height 33px
    text-align center
    color $brandColor
    margin 0 0 61px
    @media $xs
      font-size 18px
      line-height 25px
      margin 0 0 39px
    & a
      font-family 'AvenirNext-DemiBold'
      color $brandColor
    & .b-button
      font-family 'AvenirNext-Regular'
      color $black
      text-decoration none
      display flex
      align-items center
      justify-content center
      width 236px
      height 45px
      padding 0
      margin 0 auto 42px
      @media $smMinus
        margin-bottom 32px
      @media $xs
        margin-bottom 20px

.StayHomeEnter 
  margin 0 0 47px
  @media $smMinus
    margin 0 0 37px
  &_txt1
    font-family 'AvenirNext-DemiBold'
    font-size 24px
    line-height 33px
    text-align center
    letter-spacing 0.001em
    margin 0 0 15px
    @media $xs
      font-size 18px
      line-height 28px
      margin 0 0 20px
  &_txt2
    font-family 'AvenirNext-DemiBold'
    font-size 24px
    line-height 33px
    text-align center
    letter-spacing 0.001em
    color $brandColor
    margin 0 0 70px
    @media $smMinus
      margin 0 0 50px
    @media $xs
      font-size 18px
      line-height 25px
      margin 0 0 30px
    & a
      color $brandColor
  &_docs 
    display flex
    flex-wrap wrap
    align-items flex-start
    justify-content space-between
    letter-spacing 0.07956px
    & p
      font-family 'AvenirNext-Bold'
      font-size 17px
      line-height 23px
      color $black
      width 100%
      margin 0 0 23px
      @media $xs
        font-size 14px
        line-height 19px
        margin 0 0 20px
    & ul 
      width 48%
      @media $xs
        width 100%
    & li 
      font-size 17px
      line-height 23px
      list-style none
      padding 0 0 0 24px
      margin 0 0 23px
      position relative
      @media $smMinus
        margin 0 0 13px
      @media $xs
        font-size 14px
        line-height 19px
        padding 0 0 0 21px
        margin 0 0 10px
      &:before 
        content ''
        position absolute
        left 2px
        top 8px
        width 7px
        height 7px
        transform rotate(-45deg)
        background $gold
        @media $xs
          top 5px

.StayHomeSteps
  margin-bottom 43px
  @media $smMinus
    margin-bottom 32px
  @media $xs
    margin-bottom 30px
  &_row
    display flex
    align-items flex-start
    justify-content space-between
    @media $xs
      flex-direction column-reverse
  &_column
    width calc(50% - 47px)
    border-bottom 1px solid $gold
    @media $smMinus
      width calc(50% - 17px)
    @media $xs
      width 100%
    &:nth-child(1)
      @media $xs
        margin-top -1px
      & .StayHomeSteps_num
        left 100%
        transform none
        @media $xs
          left 50%
          transform translateX(-50%)
    &:nth-child(2)
      & .StayHomeSteps_num
        left -94px
        transform none
        @media $smMinus
          left -34px
        @media $xs
          left 50%
          transform translateX(-50%)
  &_item
    width 100%
    padding-top 42px
    margin 0 0 42px
    border-top 1px solid $gold
    position relative
    box-sizing border-box
    @media $smMinus
      padding-top 32px
      margin 0 0 32px
    @media $xs
      padding-top 20px
      margin 0 0 20px
    & *
      box-sizing border-box
  &_txt
    max-width 411px
    width 100%
    margin 0 auto
    font-size 17px
    line-height 23px
    text-align center
    letter-spacing 0.07956px
    @media $smMinus
      max-width 324px
      font-size 14px
      line-height 19px
      letter-spacing 0.06552px
    @media $xs
      max-width 100%
      text-align left
    & p
      font-size 17px
      line-height 24px
      color #000
      margin 0
      position relative
      @media $smMinus
        font-size 14px
        line-height 19px
      & + p
        margin-top 39px
        @media $smMinus
          margin-top 30px
        @media $xs
          margin-top 15px
    & b
      font-family 'AvenirNext-Bold'

    &._tlt
      font-family 'MuseoCyrl-500'
      font-size 30px
      line-height 36px
      color $brandColor
      @media $smMinus
        font-size 18px
        line-height 22px
  &_txtStep
    display block
    position absolute
    left 50%
    top -24px
    transform translateX(-50%)
    @media $smMinus
      top -20px
    @media $xs
      position relative
      top 0
      left 0
      transform none

  &_num
    position absolute
    left 50%
    top -24px
    transform translateX(-50%)
    width 94px
    background $white
    font-family 'MuseoCyrl-700'
    font-size 40px
    line-height 48px
    color $brandColor
    text-align center
    @media $smMinus
      top -20px
      width 38px
      font-size 34px
      line-height 41px
    @media $xs
      top -15px
      width 40px
      font-size 24px
      line-height 29px

.StayHomeContent
  &_tag
    color $brandColor
    font-size 18px
    font-weight 400
  &_list
    max-width 920px
  &_item
    margin-bottom 50px
    padding-left 40px
    position relative
    @media $xs
      padding-left 30px
      margin-bottom 30px
  &_itemTitle
    font-family 'MuseoCyrl-700'
    font-size 20px
    line-height 28px
    margin-bottom 10px
    font-weight 400
    padding-bottom 5px
    position relative
    display inline-block
    @media $xs
      font-size 18px
      line-height 24px
    &:after
      content ''
      display block
      width 100%
      height 2px
      //background-color $brandColor
      background-color #b59b61
      position absolute
      bottom 0
      left 0
  &_itemNum
    color $brandColor
    font-family 'MuseoCyrl-700'
    font-size 40px
    top -1px
    font-weight 700
    position absolute
    left 0
    @media $xs
      font-size 34px
      top 0
  &_text
    font-size 16px
    font-weight 400
    line-height 24px
    & .link
      color $brandColor
      border-bottom none
      &:hover
        text-decoration none
    & .list-title
      margin-bottom 5px
    & p
      font-size 16px
      margin-bottom 16px
      font-weight 400
      line-height 24px
    & .stayhome-list
      font-size 16px
      font-weight 400
      color #000
      list-style none
      & li
        margin-bottom 12px
        position relative
        padding-left 15px
        &:after
          content ''
          position absolute
          left 1px
          top 10px
          width 4px
          height 4px
          transform rotate(-45deg)
          background #b59b61
      &._sub
        font-size 16px
        margin-top 5px
        margin-left 30px
        & li
          margin-bottom 2px
      &._left
        margin-left 40px
        @media $xs
          margin-left 0