.SvgWrap
    position absolute
    width 100%
    height 100%
    left 0
    right 0
    z-index 10
    top 0

    &_svg
        width 100%
        height 100%

    &_genplanPath
        transition .2s
        fill transparent
        stroke-width 5px

    &_infraPath
        fill transparent
        transition .2s

        &-visible
            fill #8f3149

    &_section
        //opacity 0
        opacity 1
        transition all 0.3s ease

        @media $xs
            opacity 0.2

        &-hover
            opacity 0.4

        &-commercial
            &.SvgWrap_section-hover
                opacity 0.5
            .SvgWrap_floor-hover
                & path
                    fill #ffffff

    &_floor
        transition all 0.3s ease
        & path
          opacity 0
        &._white
            & path
                opacity 0.4
        &-hover
            & path
                fill #f5a623 !important
        &-disable
            cursor default
            & path
                opacity 0 !important
