.Switch
    display flex
    justify-content center
    align-items center
    &_toggler
        background #979797
        width 1px
        height 20px
        opacity .2
        overflow hidden
    &_checkbox,
    &_slider
      display none

    &_label
        white-space nowrap
        border 0
        padding 0
        background none
        color #8a8a8a
        
        position relative
        display inline-block
        @media $xs
            font-size 14px
        @media $smPlus
            font-size 12px
            
        &-active
            color #b59b61
            pointer-events none
        &-left
            order 0
            margin-right 16px
        &-right
            order 2
            margin-left 16px
        &:after
            content ""
            width 48px
            height 1px
            background #b59b61
            left 50%
            margin-left -24px
            position absolute
            display none
            bottom -4px
        &-active:after
            display block