.Table
  width 100%
  font-family 'AvenirNext-Regular', Arial, Helvetica, sans-serif
  text-align center

  &_th
    font-weight: normal
    font-style: normal
    line-height: normal
    color mix(#000, #fff)
    padding 15px 6px
    border-bottom 1px solid #f5f5f5

    @media $xs
      font-size 9px

  &_td
    padding 17px 6px
    color #000
    font-size 14px
    border-bottom 1px solid #f5f5f5
    &-centerTxt
      text-align center