.tooltip-flat-theme
    padding 0
    background transparent
    box-shadow 0 8px 18px 0 rgba(0, 0, 0, 0.1)

.Tooltip
    padding 20px
    background #fff
    color #000
    width 268px

    &_wrap
        display flex
        justify-content space-between
        &:first-child
            margin-bottom 13px
    &_text
        &-apartment,
        &-cost
          font-family AvenirNext-Regular
          font-size 16px
          opacity 0.5

        &-area
            font-size 14px
            opacity 0.5
            font-family AvenirNext-Regular
        &-number
            font-size 18px
            font-family AvenirNext-DemiBold

        &-number,
        &-cost
            width 50%
            text-align left

