@media (min-width: 768px) {
    .b-options-page {
        &--genplan & {
            &__back-link {
                font-size: 14px;
                vertical-align:top;

                svg {
                    margin-right: 14px;
                }

                span {
                    display: inline-block;
                }
            }

            &__tab-links {
                padding-left: 0;
            }

            &__item {
                padding: 0 0px 0px 100px;
            }

            &__back {
                top: 5px;
            }
        }

        &--genplan-section & {
            &__back {
                color: #000;
            }

            &__tab-links {
                padding-left: 0;
            }

            &__back-link {
                font-size:14px;

                span {
                    display: inline-block;
                }
            }
        }

        &__top {
            border-bottom: 1px solid #fff;

            &--flat {
                padding: 21px 0 18px;
            }

            &--commercial-floor {
                padding: 16px 0;
            }
        }

        &__back {
            display: inline-block;
            left: 39px;

            &--commercial-genplan {
                text-align: left;
            }

            &--commercial-floor {
                text-align: left;
            }
        }

        &__tab-links {
            // width: 72%;
            // justify-content: flex-start;
            // max-width: none;
            // margin: 0;

            &--type {
                max-width: none;
                display: flex;
                margin-bottom: 28px;
            }
        }

        &__tab-link {

            &--big {
                font-size: 17px;
                padding-bottom: 9px;

                &::after {
                    margin-left: -75px;
                }

                &.active {
                    &:after {
                        width: 152px;
                    }
                }
            }
        }

        &__item {
            width: auto;
            padding: 0 28px;

            &--type {
                width: auto;
                padding: 0 19px;
            }
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__filters {
            padding: 32px 0 23px;
        }

        &__back-link {
            color: rgba(0, 0, 0, .5);
            font-family: 'MuseoCyrl-500';
            font-size: 12px;
            letter-spacing: .1px;

            svg {
                display: inline-block;
                height: 11px;
                margin-right: 20px;
                width: 40px;
            }

            &--commercial-genplan {
                color: rgba(0, 0, 0, .5);
                font-size: 14px;
                letter-spacing: 0;
                line-height: 18px;
            }
        }

        &__bottom-block {
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;

            // .b-select {
            //     margin-right: 87px;
            // }
        }

        &__more-checkbox {
            max-width: 240px;
            margin-left: 18px;
            padding-top: 18px;
        }

        &__select {
            width: 50%;
            margin: 0;
        }

        &__checkbox-block {
            width: 50%;
            padding: 2px 0 0 18px;
            margin-bottom: 0;
        }

        &__title {
            margin-bottom: 11px;

            &--h3 {
                width: auto;
                text-align: center;
                margin-bottom: 19px;
            }
        }

        &__online {
            width: auto;
            position: absolute;
            right: 0;
            top: -13px;
            width: 218px;

        }

        &__flat-content {
            max-width: 680px;
            margin: 0 auto 29px;

            &--line {
                max-width: none;
                margin-bottom: 41px;
            }

            &--type {
                max-width: none;
                margin: 0 20px;
            }
        }

        &__content {
            padding-bottom: 40px;

            &--type-flat {
                padding-bottom: 0;
                padding-top: 28px;
            }

            &--commercial {
                margin: 0 10px;
                padding-bottom: 0;
            }
        }

        &__filter-flat {
            &--type {
                display: block;
                margin: 0 0 5px 0;
            }

            &--other {
                display: none;
            }
        }

        &__slider {
            padding: 37px 0 40px;

            &--flat {
                padding: 45px 0 50px;
            }
        }

        &--diary & {

            &__item {
                padding: 0 10px;
            }

            &__back {
                top: 6px;
            }

            &__back-link {
                font-size: 14px;
                color: rgba(0, 0, 0, .5);
            }
        }

        &--commercial {
            margin-bottom: 0;
        }

        &--commercial & {

            &__top {
                padding-top: 16px;
            }

            &__back-link {
                font-size: 14px;
            }
        }

        &__thead {
            display: none;
        }
    }
}

@media (min-width: 1024px) {
    .b-options-page {
        flex-grow: 1; flex-shrink: 1; flex-basis: auto;
        display: flex;
        flex-direction: column;

        &--commercial {
            flex-grow: 0; flex-shrink: 0; flex-basis: auto;
        }

        &--genplan-choise {
            flex-grow: 0; flex-shrink: 0; flex-basis: auto;
        }

        &--flat-type & {
            &__top {
                border-bottom: none;
            }
        }

        &__container {
            display: flex;
            flex-grow: 1; flex-shrink: 1; flex-basis: auto;
        }

        &--flat {
            margin-bottom: 33px;
        }

        &__back {
        //     width: 34%
            left: 0;
        }

        &__wrapper {
            display: block;
        }

        &__container {
            display: flex;
        }

        &__filters,
        &__content {
            display: inline-block;
            vertical-align: top;
        }

        &__filters {
            width: calc(30% - 7px);
            max-width: 300px;
        }

        &__content {
            width: calc(70% + 7px);
            flex-grow: 1; flex-shrink: 1; flex-basis: auto;

            &--type-flat {
                // margin-top: 24px;
                padding-top: 25px;
            }

            &--commercial {
                margin: 0;
                width: 100%;
            }
        }

        &__bottom-block {
            display: block;
        }

        &__checkbox-block,
        &__select {
            width: 100%;
        }

        &__checkbox-block {
            padding: 3px 0 0 8px;
            margin-bottom: 21px;
        }

        &__more-checkbox {
            margin-left: 8px;
            margin-right: 10px;
            max-width: none;
        }

        &__top-info {
            padding-bottom: 16px;
            padding-left: 16px;
        }

        &__online {
            width: 258px;
            right: 0;
            top: 0px;
        }

        &__title {
            &--h3 {
                margin-bottom: 1px;
            }
        }

        &__slider {
            padding-bottom: 74px;
            &--flat {
                padding-bottom: 52px;
            }
        }

        &--diary & {
            &__top {
                position: relative;
            }

            &__back {
                top: 19px;
                left: 40px;
            }
        }

        &__filter-flat {
            margin-bottom: 33px;

            &--line {
                margin-bottom: 13px;
            }

            &--type {
                margin-bottom: 4px;
            }

            &--commercial {
                margin: 0;
            }
        }

        &__flat-content {
            padding-left: 23px;
            margin-bottom: 58px;

            &--line,
            &--type {
                padding: 0;
                margin-bottom: 41px;
            }

            &--type {
                margin: 0 0 41px;
            }

            &--commercial {
                margin-bottom: 50px;
            }
        }

        &--commercial {
            margin-bottom: 0;
        }

        &--genplan-section & {
            &__back {
                left:0;
            }
        }

        &__top {
            border-bottom: none;
        }

        &__empty-wrapper {
            height: calc(100vh - 270px);
            margin: 0;
        }

        &__empty {
            line-height: 30px;
        }
    }
}

@media (min-width: 1280px) {
    .b-options-page {
        &--flat {
            margin-bottom: 0;
        }

        // &__back {
        //     width: 37%;
        // }

        // &__tab-links {
        //     width: 63%;
        // }

        &__filters {
            width: calc(25% - 19px);
        }

        &__item {
            padding: 0 30px;
        }
        &__top-info {
            padding-bottom: 17px;
            padding-left: 20px;
        }

        &__flat-content {
            padding-left: 20px;
            max-width: none;
            &--line {
                padding: 0;
            }

            &--type {
                padding: 0;
            }
        }

        &__type-flat {
            margin-bottom: 62px;
        }

        &__slider {
            padding: 57px 0 61px;

            &--flat {
                padding: 45px 0 50px;
                box-shadow: none;
            }
        }

        &__title {
            &--h3 {
                margin-bottom: 23px;
            }
        }

        &__content {
            &--type-flat {
                padding-top: 66px;
            }
        }

        &__back-link {
            .no-touchevents &:hover,
            .touchevents &:active {
                color: #b59b61;

                path {
                    fill: #b59b61;
                }
            }
            &--commercial-floor {
    
                .no-touchevents &:hover,
                .touchevents &:active {
                    color: rgba(0, 0, 0, .5);
                }
            }
        }

        &__tab-links {
            &--type {
                margin-bottom: 18px;
            }
        }

        &--genplan-choise & {
            &__item {
                padding: 0px 27px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-options-page {
        &__container {
            width: 100%;
            max-width: 1920px;
            margin: 0 auto;
        }

        &__filters {
            width: calc(18% - 25px);
            padding: 24px 0;
            max-width: 320px;
        }

        &__item {
            padding: 0 28px;
        }

        &__wrapper {
            padding: 0 10px;
        }

        &__title {
            font-size: 14px;

            &--h3 {
                font-size: 20px;
                margin-bottom: 41px;
            }
        }

        &__checkbox-block {
            margin-bottom: 26px;
        }

        &__more-checkbox {
            padding-top: 21px;
        }

        &__top-info {
            padding-left: 29px;
            padding-right: 26px;
        }

        &__flat-content {
            margin-bottom: 9px;

            &--line {
                margin-bottom: 41px;
            }

            &--commercial {
                margin-bottom: 50px;
            }
        }

        &__type-flat {
            margin-bottom: 51px;
        }

        &__content {
            &--type-flat {
                margin-top: 27px;
                padding-top: 59px;
            }
        }
        &--diary & {
            &__back {
                left: 50%;
                margin-left: -920px;
            }

            &__online {
                right: 50%;
                margin-right: -910px;
            }
        }
    }
}