.b-options-page {
    background-color: #ededed;

    span {
        transition: color 0.3s;
    }

    &--commercial {
        z-index: 1;
        position: relative;
        flex-grow: 0; flex-shrink: 0; flex-basis: auto;
    }

    &--commercial & {
        &__tab-link {
            cursor:default;
            &.active,
            .no-touchevents &:hover,
            .touchevents &:active {
                color: rgba(0, 0, 0, .5);
    
                font-family: MuseoCyrl-500;
            }

            .no-touchevents &.active:hover {
                font-family: MuseoCyrl-500;
            }
        }

    }

    &--flat-type & {
        &__top {
            padding: 13px 0 36px;
            // border-bottom: 1px solid #fff;
        }

        &__back {
            display:inline-block;
        }
    }

    &--genplan & {
        &__back {
            display:inline-block;
            top: 4px;
        }

        &__back-link {

            span {
                display: none;
            }
        }

        &__tab-links {
            padding-left: 49px;
            margin:0;
        }

        &__item {
            width: 100%;
        }

        &__tab-link {
            font-family: MuseoCyrl-500;
        }
    }

    &--genplan-section & {
        &__back {
            display: inline-block;
            left: 19px;

            svg {
                color: rgba(0, 0, 0, .5);
                margin-right: 15px;
            }
        }

        &__tab-links {
            padding-left: 50px;
            z-index:2;
        }

        &__back-link {
            vertical-align: baseline;

            span {
                display:none;
            }
        }

        &__back {
            z-index:1;
        }
    }

    &--flat {
        margin-bottom: 30px;
    }

    &--commercial-floor {
        margin: 0;
    }

    &__top {
        padding: 13px 0;
        border-bottom: 1px solid #fff;

        &--flat {
            padding: 17px 0;
        }

        &--commercial-genplan {
            padding: 16px 0;
        }

        &--commercial-floor {
            padding: 16px 0;
        }
    }

    &__back {
        display: none;
        position: absolute;
        left: 21px;
        top: 3px;

        &--flat {
            display: inline-block;
            position: static;
        }

        &--commercial-genplan {
            display: inline-block;
            position: static;
            text-align: center;
            width: 100%;
        }

        &--commercial-floor {
            display: inline-block;
            position: static;
            text-align: center;
            width: 100%;
        }
    }

    &__back-link {
        color: rgba(0, 0, 0, .5);
        font-family: 'MuseoCyrl-500';
        font-size: 12px;
        letter-spacing: .1px;

        svg {
            display: inline-block;
            height: 11px;
            margin-right: 20px;
            width: 40px;
            color: rgba(0, 0, 0, .5);
        }

        path {
            fill: rgba(0, 0, 0, .5);
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            // stroke: #b59b61;
            color: #b59b61;

            span  {
                color: #b59b61;
            }
        }

        &--commercial-genplan {
            color: rgba(0, 0, 0, .5);
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
        }

        &--flat {
            opacity: 1;
        }
    }

    &__back-link {
        display: inline-block;
        vertical-align: middle;

        path {
            transition: fill .3s;
        }

        .no-touchevents &:hover path,
        .touchevents &:active path {
            // stroke: #b59b61;
            fill: #b59b61;
        }

        &--flat {
            font-size: 12px;
            font-family: 'MuseoCyrl-500';
            letter-spacing: 0.1px;
            color: rgba(0, 0, 0, .5);

            svg {
                width: 40px;
                height: 10px;
                margin-right: 20px;
                display: inline-block;
                color: rgba(0, 0, 0, .5);
            }

            path {
                fill: rgba(0, 0, 0, .5);
            }
        }

        &--commercial-floor {
            color: rgba(0, 0, 0, .5);
            font-size: 14px;
            letter-spacing: 0;
            line-height: 18px;
            /*opacity: 1;*/

            .no-touchevents &:hover,
            .touchevents &:active {
                color: rgba(0, 0, 0, .5);
            }
        }
    }

    &__tab-links {
        display: flex;
        width: 100%;
        justify-content: center;
        max-width: 320px;
        margin: 0 auto;

        &--type {
            display: block;
        }
    }

    &__item {
        width: 50%;
        white-space: nowrap;
        text-align: center;

        &--type {
            width: 100%;
            margin-bottom: 14px;
        }
    }

    &__tab-link {
        color: rgba(0, 0, 0, .5);
        display: inline-block;
        font-family: MuseoCyrl-500;
        font-size: 14px;
        padding: 5px 0;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: #b59b61;
            bottom: 0;
            left: 50%;
            // opacity: 0;
            margin-left:-23px;
            transition: width .5s ease, background-color .5s ease;
        }

        &.active,
        .no-touchevents &:hover,
        .touchevents &:active {
            color: #b59b61;
            font-family: MuseoCyrl-500;
            opacity: 1;
        }

        .no-touchevents &.active:hover {
            font-family: MuseoCyrl-700;
        }

        &.active {
            &::after {
                width: 47px;
            }
        }

        &--big {
            text-transform: uppercase;
            padding-bottom: 8px;
            letter-spacing: .1px;
            font-family: MuseoCyrl-300;

            &:after {
                height: 3px;
                border-radius: 4px;
                margin-left: -57px;
            }

            &.active {
                font-family: MuseoCyrl-700;
                &::after {
                    width: 113px;
                }
            }
        }
    }

    &__filters {
        background-color: #ededed;
        padding: 24px 0 6px;
    }

    &__wrapper {
        padding: 0 20px;
    }

    &__title {
        font-size: 14px;
        font-family: AvenirNext-Regular;
        margin-bottom: 15px;

        &--h3 {
            width: 280px;
            margin: 0 auto 0;
            font-family: 'MuseoCyrl-700';
            font-size: 20px;
            letter-spacing: 0.1px;
            text-align: center;
            color: #000000;
            line-height: 23px;
        }
    }

    &__checkbox-block {
        margin-bottom: 26px;
    }

    &__more-checkbox {
        border-top: 1px solid rgba(97, 97, 97, 0.15);
        padding-top: 21px;
    }
    &__select {
        margin-bottom: 23px;
    }

    &__top-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 14px 17px 20px;
        border-bottom: solid 1px #ededed;
    }

    &__text-top {
        min-height: 23px;
        font: 14px/23px "AvenirNext-Regular";
        color: #000000;

        span {
            padding-left: 4px;
            font-family: 'AvenirNext-DemiBold';
        }
    }

    &__view-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 23px;
        height: 23px;
        margin: 0 5px;
        fill: #D8D8D8;
        transition: all .3s;

        &.active {
            border: solid 1px #153075;
            fill: #153075;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            fill: #153075;
        }
    }

    &__image {
        width: 13px;
        height: 13px;
    }

    &__online {
        width: 100%;
        // margin: 0 -20px
    }

    &__online-link {
        display: block;
        height: 100%;
        background-color: #153075;
        font-size: 14px;
        font-family: 'AvenirNext-DemiBold';
        color: #fff;
        text-align: center;
        padding: 16px 0 12px 0;
    }

    &__svg {
        width: 18px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 12px;
    }

    &__filter-flat {
        margin-bottom: 19px;

        &--type {
            display: none;
        }

        &--commercial {
            margin: 0;
        }
    }

    &__flat-content {
        margin-bottom: 51px;
        transition: opacity 0.3s ease;

        &--line {
            margin-bottom: 40px;
        }

        &--type {
            margin: 0;
        }
    }

    &__content {
        padding-bottom: 50px;
        background-color: #fff;
        position: relative;

        &--type-flat {
            padding-bottom: 0;
            padding-top: 32px;
        }

        &--commercial {
            margin: 0 -20px;
            padding: 0;
        }
    }

    &__type-flat {
        margin-bottom: 31px;
    }

    &__slider {
        background-color: #ededed;
        padding: 28px 0 30px;

        &--flat {
            padding-top: 37px;
            box-shadow: inset 0px 60px 41px -50px rgba(0,0,0,0.06);
        }
    }

    &__tab-content {
        display: none;

        &.active {
            display: block;
        }
    }

    &--diary & {

        &__item {
            width: auto;
            padding: 0 10px;
        }

        &__top {
            padding-bottom: 0;
        }

        &__tab-links {
            padding: 0 20px 13px;
        }

        &__back {
            font-size: 14px;
            font-family: 'MuseoCyrl-500';
            color: rgba(0, 0, 0, .5);
        }
    }

    &__thead {
        color: rgba(0, 0, 0, .5);
        font-family: AvenirNext-DemiBold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;

        &--commercial {
            color: #000;
        }

        span {
            display: inline-block;
            padding: 0 0 6px;
            position: relative;

            &:after {
                background: #b59b61;
                bottom: 0;
                content: '';
                height: 1px;
                left: 50%;
                margin-left: -20px;
                position: absolute;
                width: 39px;
            }
        }
    }

    &__empty-wrapper {
        // height: calc(100vh - 270px);
        display: flex;
        margin-top: 51px;
    }

    &__empty {
        margin: 0 auto;
        padding: 0 25px;
        max-width: 435px;
        font-size: 18px;
        line-height: 25px;
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: AvenirNext-Regular;
    }

    &__image-empty {
        width: 27px;
        margin-bottom: 20px;
    }
    &__progress {
        display: none;
        opacity: 0;
        text-align: center;
        width: 0;
        height: 2px;
        background: #153075;
        position: absolute;
        transform: translateZ(0);
        will-change: opacity, width;
    }
}