.b-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        font-size: 0;
        
        width: 8px;
        height: 8px;
        opacity: 0.1;
        background-color: #000000;
        border-radius: 100%;
        margin: 0 3px;
        transition: width 0.3s, height 0.3s;

        &.slick-active {
            opacity: 1;
            width: 10px;
            height: 10px;
            transition: width 0.3s, height 0.3s;
        }
        &.small{
            width: 6px;
            height: 6px;
            transition: width 0.3s, height 0.3s;
        }
        &.smallest{
            width: 4px;
            height: 4px;
            transition: width 0.3s, height 0.3s;
        }
        &.hidden{
            width: 1px;
            height: 1px;
            transition: width 0.3s, height 0.3s;
            display: none !important;
        }
        button {
            border: 0;
        }
    }

    li.slick-active + li + li + li {
        
    }
}