@media (min-width: 768px) {
	.b-apart-wrapper {
	}
}

@media (min-width: 1024px) {
	.b-apart-wrapper {
	}
}

@media (min-width: 1280px) {
	.b-apart-wrapper {
		background: #ededed;
	}
}

@media (min-width: 1920px) {
   .b-apart-wrapper {
   }
}