.b-environment-masterpieces {
    text-align: center;
    &__image-wrapper {
        width: auto;
        // height: 281px;
        margin-bottom: 37px;
        position: relative;
        background: url("../img/backgrounds/hram-tablet.png") no-repeat top right;
        background-size: cover;
    }

    &__image {
        width: 100%;
        // height: 100%;
        z-index: 1;
        // position: absolute;
        // top: 0;
        // left:0;
        // object-fit: cover;
        position: relative;
    }

    &__image-tablet {
        display:none;
    }

    &__image-desktop {
        display:none;
    }

    &__image-fullhd {
        display:none;
    }

    &__image-laptop {
        display:none;
    }

    &__image-text {
        position: absolute;
        font-size: 55px;
        line-height: 3.04;
        letter-spacing: 0.3px;
        font-family: "MuseoCyrl-500";
        text-transform: uppercase;
        color: #e8e8e8;
        left: -13px;
        top: -4px;
        z-index: -1;
    }
}

.section {
    &--environment-masterpieces {
        display:block;
        margin-bottom: 35px;
    }
}