@media (min-width: 768px) {
    .b-environment-masterpieces {
        text-align: left;
        padding-left: 40px;
        &__image-wrapper {
            // height: 504px;
            margin: -28px 0px 40px;
            background: url("../img/backgrounds/hram_desktop.png") no-repeat 0 50px;
            background-size: 100%;
        }

        &__image {
            display:none;
        }

        &__image-tablet {
            display: inline-block;
        }

        &__image-text {
            font-size: 134px;
            line-height: 1.25;
            letter-spacing: 0.6px;
            top: 68px;
            left: -45px;
        }
    }

    .section {
        &--environment-masterpieces {
            margin-bottom: 37px;
        }
    }
}
@media (min-width: 1024px) {
    .b-environment-masterpieces {
        padding-left: 80px;
        &__image-tablet {
            display:none;
        }

        &__image-laptop {
            display: inline-block;
        }

        &__image-wrapper {
            margin: 0px 0px 55px;
            // height: 676px;
            background-size: cover;
            //height: 683px;
        }
        &__image-text {
            font-size: 179px;
            line-height: 0.93;
            letter-spacing: 0.8px;
            left: -40px;
            top: 97px;
        }


        &__border-top {
            &:before {
                content: '';
                position: absolute;
                border-right: 1px solid #b59b61;
                right: -13%;
                top: -25px;
                height: 261px;
            }

            &:after {
                content: '';
                position: absolute;
                border-top: 1px solid #b59b61;
                right: 0%;
                top: -76px;
                width: 341px;
            }
        }

        &__border-bottom {
            &:before {
                content: '';
                position: absolute;
                border-left: 1px solid #b59b61;
                left: -13%;
                bottom: 17px;
                height: 144px;
            }

            &:after {
                content: '';
                position: absolute;
                border-top: 1px solid #b59b61;
                width: 164px;
                left: 6px;
                bottom: -43px;
            }
        }
    }

    .section {
        &--environment-masterpieces {
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 1280px) {
    .b-environment-masterpieces {
        padding-left: 132px;

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            display: inline-block;
        }

        &__image-wrapper {
            margin: 86px 0px 61px;
            background-position: 20px right;
            //height: 730px;
        }

        &__image-text {
            font-size: 220px;
            line-height: 0.76;
            letter-spacing: 1px;
            top: 45px;
        }

        &__border-top {
            &:before {
                right: 3%;
                top: -21px;
                height: 261px;
            }

            &:after {
                right: 14%;
            }
        }

        &__border-bottom {
            &:before {
                left: -9%;
                bottom: 42px;
            }

            &:after {
                left: 21px;
                bottom: -44px;
            }
        }
    }

    .section {
        &--environment-masterpieces {
            margin-bottom: 72px;
        }
    }
}
@media (min-width: 1920px) {
    .b-environment-masterpieces {
        padding-left: 122px;

        &__image-wrapper {
            margin: 23px 0px 56px;
            //height: 905px;
            max-width: 1920px;
        }

        &__image-desktop {
            display:none;
        }

        &__image-fullhd {
            display: inline-block;
        }

        &__image-text {
            font-size: 336px;
            top: 129px;
            left: -70px;
        }
    }
}