.b-icon {
    display: inline-block;

    &--map {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        text-align: center;
        // line-height: 42px;
        background-color: #d5d5d5;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 42px;

        transition: background-color .3s;

        .b-checkbox__input:checked ~ .b-checkbox__name & {
            background-color: #b59b61;
        }
    }

    &__image {
        display: inline-block;
    }
}