@media (min-width: 768px) {
    .b-media-slider {

        &__item {
            // width: 480px;
            width: 556px;
            height: 417px;
            // margin: 0 auto;

            &.prev,
            &.next {
                opacity: 0.1;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-media-slider {
        &__item {
            width: 600px;
            height: 450px;

            &.prev,
            &.next {
                opacity: 0.1;
                transition: opacity 0.3s;

                .no-touchevents &:hover,
                .touchevents &:active {
                    opacity: 0.3;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-media-slider {}
}

@media (min-width: 1920px) {
    .b-media-slider {
        margin-top: 9px;
        &__item {
            width: 780px;
            height: 585px;
        }
    }
}