.b-media-slider {

    &__list {
        position: relative;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        outline: none;
        line-height: 0;
        width: 100vw;
        height: 240px;

        box-shadow: 0 15px 65px 0 rgba(0, 0, 0, 0.17);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: "object-fit: cover;";
        line-height: 0;
        display: block;
    }

    &__slider-number {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: #000;
        font-family: "AvenirNext-Medium";
        width: 100px;
        margin: 0 auto;
        padding: 41px 0 42px;
    }

    &__number {
        &:last-child {
            opacity: 0.5;
        }
    }

    &__line {
        width: 49px;
        background-color: #000000;
        height: 1px;
    }

    .slick-track {
        // display: flex;
        // align-items: center;
    }
}