.b-environment-worthy {
    margin-bottom: 80px;

    @media (max-width: 1023px) {
        margin-bottom: 60px;
    }

    & .b-container {
        max-width: 1160px;

        @media (max-width: 1280px) {
            padding: 0 40px;
        }

        @media (max-width: 1023px) {
            padding: 0 20px;
        }
    }

    & .b-title {
        width: 100%;
        text-align: center;

        &:after {
            left: 50%;
            margin-left: -41px;
        }
    }

    &__cont {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: 1279px) {
            width: calc(100% + 40px);
        }

        @media (max-width: 1023px) {
            width: 100%;
            flex-direction: column;
        }
    }

    &__item {
        width: 55%;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
        }

        &:first-child {
            padding-right: 50px;
            width: 45%;
        }

        & p {
            margin-bottom: 30px;
            font-size: 17px;
            letter-spacing: .08px;
            font-family: 'AvenirNext-Regular';
            line-height: normal;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: 1023px) {
            width: 100%;

            &:first-child {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 768px) {
            &:last-child {
                width: calc(100% + 40px);
            }
        }
    }
}

.longread-video {
    padding-top: 55.6%;
    position: relative;
    max-height: 720px;
    margin-bottom: 70px;

    iframe,
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        z-index: 10;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        cursor: pointer;

        &:before {
            transition: ease .3s all;
            content: '';
            width: 78px;
            height: 78px;
            background: transparent url('/img/play-ico.svg') 0 0 no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -39px 0 0 -39px;
        }

        &:hover {
            &:before {
                transform: scale(.9);
            }
        }
    }
}
