.b-list-checkbox {

    &--options {
        margin-bottom: 22px;
    }

    &__title {
        font-size: 14px;
        color: #000000;
        font-family: 'AvenirNext-Regular';
        margin-bottom: 12px;
    }

    &__list {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        flex-grow: 1; flex-shrink: 0; flex-basis: auto;
        min-width: 55px;
        margin-bottom: 2px;

        // &:last-child {
        //     margin-right: auto;
        // }

        .b-list-checkbox--room & {
            width: 55px;
            // flex: 0 0 55px;
            flex-grow: 0; flex-shrink: 0; flex-basis: 55px;
            min-width: 20%;

            &:last-child {
                margin: 0 auto 2px 0;
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__name {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        color: #000000;
        font-family: 'AvenirNext-Regular';
        margin: 0 1px;
        background-color: #fff;
        height: 40px;
        border: 1px solid transparent;
        transition: border-color .3s;

        .no-touchevents &:hover,
        .touchevents &:active {
            border-color: #b59b61;
        }
    }

    &__input[type=checkbox]:checked ~ &__name {
        border-color: #b59b61;
    }

    &__input[type=checkbox]:disabled ~ &__name {
        opacity: 0.5;
        background-color: #ffffff;

        &:hover {
            border-color: transparent;
        }
    }
}