@media (min-width: 768px) {
    .b-list-checkbox {
        &--options {
            width: 50%;
            padding: 0 17px;
        }

        &__item {
            min-width: 45px;

            .b-list-checkbox--room & {
                width: 47px;
                // flex: 0 0 45px;
                flex-grow: 0; flex-shrink: 0; flex-basis: 47px;
                min-width:45px;

                &:last-child {
                    margin: 0 auto 2px 0;
                }
            }
            
        }
    }
}

@media (min-width: 1024px) {
    .b-list-checkbox {
        &--options {
            width: 100%;
            padding: 0 9px;
        }

        &__item {
            .b-list-checkbox--room & {
                width: 48px;
                // flex: 0 0 47px;
                flex-grow: 0; flex-shrink: 0; flex-basis: 48px;
                &:last-child {
                    margin: 0 auto 2px 0;
                }
            }
        }
    }
}

@media (min-width: 1280px) {}

@media (min-width: 1920px) {
    .b-list-checkbox {
        &__item {
            .b-list-checkbox--room & {
                width: 55px;
                // flex: 0 0 55px;
                flex-grow: 0; flex-shrink: 0; flex-basis: 55px;
            }
        }
    }
}
    