/* 768++  */
@media (min-width: 768px) {
    .b-mortgage-form {
        border: 1px solid #b59b61;
        padding: 75px 50px;
        margin-left: -20px;
        margin-right: -20px;
        position: relative;

        &--success {
            padding: 125px 50px 159px;
            margin-bottom: 29px;
        }

        &__angle {
            width: 14px;
            height: 14px;
            border: 1px solid #b59b61;
            position: absolute;

            &--top-left {
                top: -1px;
                left: -1px;
            }
            &--top-right {
                top: -1px;
                right: -1px;
            }
            &--bottom-left {
                bottom: -1px;
                left: -1px;
            }
            &--bottom-right {
                bottom: -1px;
                right: -1px;
            }
        }

        &__wrapper {
            display: flex;
            flex-flow: row nowrap;

            &>div {
                flex: 1 0 0;
            }
        }

        &__left {
            margin-right: 20px;
        }

        &__icon-success {
            margin: 0 auto 23px;
        }
    }
}


@media (min-width: 1024px) {
    .b-mortgage-form {
        margin-left: -72px;
        margin-right: -72px;

        &--success {
            margin-bottom: 60px;
        }

        &__left {
            max-width: 350px;
            margin-right: 30px;
        }
    }
}

@media (min-width: 1280px) {
    .b-mortgage-form {
        margin-left: -50px;
        margin-right: -50px;

        &--success {
            margin-bottom: 70px;
        }
    }
}

@media (min-width: 1920px) {
    .b-mortgage-form {
        &--success {
            margin-bottom: 60px;
        }
    }
}