/* 320++  */
.b-mortgage-form {
    margin-bottom: 30px;
    padding-top: 10px;

    &--success {
        margin-bottom: 213px;
        padding-top: 0;
    }

    &__note-wrapper {
        text-align: center;
        font-family: AvenirNext-Regular;
        font-size: 12px;
        color: #000;
        opacity: 0.5;

        &--problem {
            display: flex;
            opacity: 1;
            margin-top: 12px;
        }
    }

    &__note.error {
        color: #e64949;
        font-family: 'AvenirNext-DemiBold';
    }

    &__note {
        &--hidden {
            display: none;
            text-align: center;
            margin-top: 25px;
        }
        &--problem {
            opacity: 0.5;
        }
    }

    &__text-success {
        text-align: center;

        p {
            font-family: AvenirNext-Regular;
            font-size: 17px;
            letter-spacing: .1px;
            line-height: 23px;
        }
    }

    &__icon-success {
        background: rgba(216, 216, 216, .2);
        border-radius: 100%;
        display: block;
        height: 52px;
        margin: 0 auto 25px;
        width: 52px;
    }
}