head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="format-detection" content="telephone=no")
    title #{title} Silver Fontan
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    link(href='/css/vendor.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/style2.css', rel='stylesheet')
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")