.ui-datepicker {
    z-index: 1000 !important;
    background-color: #fff;
    width: 295px;
    border: none;
    border-radius: 0;
    font-family 'MuseoCyrl-700';
    font-size: 12px;
    padding: 10px 20px 25px;

    .ui-datepicker-header {
        padding: 0;
        border: none;
        background: transparent;
        margin: 0;
    }

    .ui-datepicker-title {
        margin: 0;
        font-size: 14px;
        line-height: 34px;
        font-weight: 500;
    }

  .ui-datepicker-prev,
  .ui-datepicker-next {
      display: block;
      position: absolute;
      width: 36px;
      height: 34px;
      border-radius: 0;
      border: none;
      padding: 0;
      margin: 0;
      font-weight: 400;
      top: 10px;
      cursor: pointer;

      span {
          display: none;
      }

      &:before,
      &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 1px;
          background-color: #000;
          margin-left: -5px;
      }

      &:before {
          transform: rotate(-45deg);
          margin-top: -4px;
      }

      &:after {
          transform: rotate(45deg);
          margin-top: 3px;
      }

      &.ui-state-hover {
          padding: 0;
          background: none;
          border: none;
          font-weight: 400;

          &:before,
          &:after {
            background-color: #b59b61;
          }

      }
  }

  .ui-datepicker-prev {
    right: 36px;
  }

  .ui-datepicker-next {
      right: 0;
      transform: rotate(180deg);

      &:before,
      &:after {
          margin-right: -5px;
      }
  }

  .ui-datepicker-calendar {
      border-collapse: collapse;
      padding: 0;

      td,
      th {
          padding: 0;
          border: none;
      }

      th {
        span {
            display: block;
            width: 36px;
            height: 34px;
            line-height: 34px;
            text-transform: uppercase;
            font-weight: 400;
            color: rgba(0, 0, 0, .6);
            margin: 0 auto;
        }
      }

      .ui-state-default {
          transition: ease .1s all;
          width: 36px;
          height: 34px;
          line-height: 34px;
          display: block;
          text-align: center;
          border: solid 1px transparent;
          background: transparent;
          padding: 0;
          margin: 0 auto;
          font-weight: 400;

          &:hover {
              border-color: #b59b61;
          }

          &.ui-state-active {
              background-color: #b59b61;
              color: #fff;
          }
      }
  }

  &._selected {
      .ui-state-highlight {
          background: transparent!important;
          color: #19191a!important;
      }
  }

  @media screen and (--xs) {
      z-index: 1000000 !important;
      width: calc(100% - 40px);
  }
}

.ui-datepicker-remover {
  transition: ease .3s all;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  cursor: pointer;

  &:before,
  &:after {
      position: absolute;
      top: 50%;
      content: '';
      width: 12px;
      height: 1px;
      background-color: rgba(255, 255, 255, .5);
  }

  &:before {
      transform: rotate(45deg);
  }

  &:after {
      transform: rotate(-45deg);
  }

  &:hover {
      transform: rotate(180deg);
  }
}

input[type='number']
  -moz-appearance textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none

.payment__text
  padding-bottom 40px
  color: #000;
  font-size 16px
  line-height 1.4
  font-family: AvenirNext-Regular;
