.hidden-md
    @media $mdMinus
        display none !important
    
.hidden-sm
    @media $smMinus
        display none !important

.hidden-smPlus
    @media $smPlus
        display none !important

.hidden-xs
    @media $xs
        display none !important

.hidden-xsPlus
    @media $xsPlus
        display none !important