@media (min-width: 768px) {
    .b-capital-block {
        margin-bottom: 53px;
        &__image-wrap {
            margin-bottom: 30px;
            text-align: center;
        }

        &__image-tablet {
            display:inline-block;
        }

        &__image {
            display:none;
        }
    }
}

@media (min-width: 1024px) {
    .b-capital-block {
        margin-bottom: 53px;

        &__image-laptop {
            display:inline-block;
        }

        &__image-tablet {
            display:none;
        }
    }
}

@media (min-width: 1280px) {
    .b-capital-block {

        &__image-wrap {

            width: 1024px;
            margin: 0 auto;
            margin-bottom: 32px;
        }

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            display:inline-block;
        }
    }
}

@media (min-width: 1920px) {
    .b-capital-block {
        &__image-wrap {
            margin-bottom: 29px;
        }
    }
}