.b-capital-block {
    margin-bottom: 37px;
    
    &__image-wrap {
        margin-bottom: 18px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__image-tablet {
        display:none;
    }

    &__image-laptop {
        display:none;
    }

    &__image-desktop {
        display:none;
    }
}