/* 320++  */
.b-label {
    &--input-group {
        position: absolute;
        top: 0;
        left: 0;
        color: #000000;
        opacity: 0.5;
        font-family: AvenirNext-Regular;
        font-size: 17px;
        padding: 16px 0 0 20px;
        transition: transform 0.3s, font-size 0.3s;
    }
}
