.b-map-info {
    background: #fff;
    padding: 24px 0px 33px 20px;
    box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }

    &__column {
        // flex-grow: 0;
        // flex-shrink: 0;
        // flex-basis: 50%;
        width: 50%;
        padding-right: 10px;
    }

    &__link-block {
        text-align: center;
        margin-right: 20px;
    }

    &__link {
        display: inline-block;
        font-family: AvenirNext-Regular;
        font-size: 14px;
        letter-spacing: 0.1px;
        color: rgba(0,0,0,0.5);
        margin: 0 20px;
    }
}