@media (min-width: 768px) {
    .b-map-info {
        // padding: 40px 20px 24px 20px;
        padding: 43px 50px 32px 20px;

        &__column {
            width: 25%;

            &:last-child {
                width: auto;
                margin-right: -50px;
            }
        }

        &__wrapper {
            margin-bottom: 0;
        }

        &__link-block {
            margin-right: -30px;
        }
    }
}

@media (min-width: 1024px) {
    .b-map-info {
        // padding: 40px 10px 38px 39px;
        padding-left: 38px;
        padding-bottom: 46px;

        // &__column {
        //     width: 25%;
        // }

        // &__wrapper {
        //     margin-bottom: 3px;
        // }

        &__link-block {
            margin-right: -10px;
        }
    }
}

@media (min-width: 1280px) {
    .b-map-info {
        box-shadow: 0 9px 16px 0 rgba(0, 0, 0, .04);
        margin: -125px auto 10px;
        padding: 40px 30px 40px 40px;
        position: relative;
        width: 1060px;

        &__link-block {
            text-align: left;
        }

        &__link {
            margin-left: 0;
            margin-right: 40px;
        }
    }
}