@media (max-width: 768px) {
    .dropdown-wrap {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        background-color: #ffffff;
        box-shadow: 31px 44px 55px 0 rgba(0, 0, 0, 0.11);
        padding: 0 15px;
    }

    .dropdown {
        &__btn {
            position: relative;
            height: 47px;
            line-height: 47px;
            border: none;
            background: #fff;
            display: block;
            width: 100%;
            text-align: left;
            border: solid 1px #b59b61;
            padding: 0 15px;
            position: relative;
            box-sizing: border-box;
            text-align: left;
            text-transform: uppercase;
            color: #000;
            font-family: 'MuseoCyrl-700';

            &:before,
            &:after {
                transition: ease .3s all;
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 1px;
                background-color: #000;
            }

            &:before {
                transform: rotate(-45deg) translateY(-50%);
                right: 15px;
            }

            &:after {
                transform: rotate(45deg) translateY(-50%);
            }
        }

        &.open {
            .dropdown__btn {
                &:before,
                &:after {
                    background-color: #153075;
                }

                &:before {
                    transform: rotate(45deg) translateY(-50%);
                    right: 16px;
                }

                &:after {
                    transform: rotate(-45deg) translateY(-50%);
                }
            }
        }
    }

    .dropdown-menu {
        box-shadow: 31px 44px 55px 0 rgba(0, 0, 0, 0.11);
        padding: 0;
        width: calc(100% + 30px);
        margin: 0;
        margin-left: -10px;
        border-radius: 0;
        border: none;

        &__item {
            .dropdown-menu__link {
                padding: 10px 25px;
                line-height: 1.2;
                text-transform: uppercase;
                font-family: 'MuseoCyrl-700';
                font-size: 16px;
                white-space: normal;

                &._active {
                    display: none;
                }
            }
        }
    }

    .b-contacts-mob-blocks {
        &__item {
            display: none;

            &:first-child {
                display: block;
            }
        }

        .b-contacts-info {
            padding: 10px 0;

            &:before {
                display: none;
            }
        }
    }

    .b-contacts-regions {
        padding-top: 20px;
    }
}
