.b-contacts_wrap {
    min-height: 100vh;
    position: relative;
    font-family: 'AvenirNext-Regular';
    @media (max-height: 950px) {
        min-height: 950px;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;

        @media (max-height: 900px) {
            min-height: 900px;
        }
    }
}

.b-contacts-list {
    position: absolute;
    z-index: 100;
    top: 120px;
    left: 40px;
    color: #fff;
    width: 320px;
    background-color: #ffffff;
    box-shadow: 31px 44px 55px 0 rgba(0, 0, 0, 0.11);

    @media (max-width: 1024px) {
        @media (max-height: 900px) {
            top: 60px;
        }
    }

    @media (max-width: 768px) {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        @media (max-height: 900px) {
            top: 0;
        }
    }
}

.b-contacts-map-wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.b-contacts-map-wrapper .map {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.b-contacts-list {
    padding: 10px 10px 0;

    &__item {
        min-height: 54px;
        border-bottom: solid 1px rgba(151, 151, 151, .1);
        margin: 0;

        &:last-child {
            border-bottom: none;
        }
    }

    &__tlt {
        position: relative;
        display: block;
        border: none;
        background: none;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        line-height: 1.2;
        padding: 15px 10px;
        text-transform: uppercase;
        color: #000;
        font-family: 'MuseoCyrl-700';

        &:before,
        &:after {
            transition: ease .3s all;
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 1px;
            background-color: #000;
        }

        &:before {
            transform: rotate(-45deg) translateY(-50%);
            right: 15px;
        }

        &:after {
            transform: rotate(45deg) translateY(-50%);
        }

        &.collapsed {
            color: #153075;

            &:before,
            &:after {
                background-color: #153075;
            }

            &:before {
                transform: rotate(45deg) translateY(-50%);
                right: 16px;
            }

            &:after {
                transform: rotate(-45deg) translateY(-50%);
            }
        }
    }
}

.b-contacts-info {
    position: relative;
    padding: 25px 10px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 75px;
        height: 3px;
        background-color: #b59b61;
    }

    &__item {
        margin-bottom: 10px;
        color: #000;
        font-size: 16px;
        line-height: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.phone {
    font-family: 'AvenirNext-DemiBold';
}

.metro {
    position: relative;
    display: block;
    padding-left: 25px;
    line-height: 18px;
    font-size: 14px;

    &:before {
        content: '';
        width: 14px;
        height: 18px;
        background: transparent url('../img/icons/metro.svg') 0 0 no-repeat;
        position: absolute;
        left: 0;
    }

    &._gray {
        &:before {
            background-image: url('../img/icons/metro-gray.svg');
        }
    }
}

.route {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    color: #b59b61;

    &:before {
        content: '';
        width: 18px;
        height: 16px;
        background: transparent url('../img/icons/route.svg') 0 0 no-repeat;
        position: absolute;
        left: 0;
    }

    &:hover {
        color: #b59b61;
        text-decoration: underline;
    }
}

.b-contacts-form-link {
    color: #b59b61;
    display: block;
    padding: 15px 10px;
    font-size: 12px;

    &:hover {
        color: #b59b61;
        text-decoration: underline;
    }
}

.b-contacts-regions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    padding: 10px;

    &__item {
        width: 50%;
        margin-bottom: 10px;
        font-size: 14px;

        & a {
            color: #000;
            line-height: 1;

            &:hover {
                color: #b59b61;
            }
        }
    }
}

.dropdown-wrap {
    display: none;
}

.contacts-team {
    padding: 27px 10px 10px;
    position: relative;
    @media (max-height: 900px) {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    @media (max-width: 768px) {
        padding: 30px 0 10px;
        @media (max-height: 900px) {
            max-height: none;
            overflow: auto;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 5px;
        width: 75px;
        height: 2px;
        background: #b59b61;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        color: #19191a;
        &__img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 10px;
            overflow: hidden;
        }
        &__txt {
            width: calc(100% - 80px);
            font: 14px/21px 'AvenirNext-DemiBold';
            color: #19191a;
        }
        &__name {
            //
        }
        &__mail {
            display: inline-block;
            font: 12px/18px 'AvenirNext-Regular';
            color: #153075;
            white-space: nowrap;
        }
    }
}