@media (min-width: 768px) {
    .b-image-wrapper {

        &--yard {
            margin-bottom: 66px;
        }

        &--infrastructure {
        }

        &__image-tablet {
            width: 100%;
            height:100%;
            object-fit:cover;
            display: block;
        }

        &__image {
            display:none;
        }
    }
}
@media (min-width: 1024px) {
    .b-image-wrapper {
        &--infrastructure {
            height:474px;
            width:50%;
        }

        &__image-tablet {
            display:none;
        }

        &__image-laptop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;

        }
        
        &--yard {
            margin-bottom: 60px;
        }
        &--childhood {
            width:50%;
            height: 448px;
            order:initial;
        }
    }
}
@media (min-width: 1280px) {
    .b-image-wrapper {
        &--infrastructure {

        }

        &--yard {
            max-width: 1280px;
            margin: 0 auto 100px;
        }

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
    }
}

@media (min-width: 1920px) {
    .b-image-wrapper {
        &--yard {
            max-width: 1280px;
            margin: 0 auto 61px;
        }

        &--infrastructure {

        }
        
        &__image-desktop {
            display:none;
        }

        &__image-fullhd {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }


    }
}