.b-image-wrapper {
    display: block;

    &--infrastructure {
        height:347px;
        width: 100%;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-tablet {
        display:none;
    }

    &__image-desktop {
        display:none;
    }

    &__image-fullhd {
        display:none;
    }

    &__image-laptop {
        display:none;
    }
    &--childhood {
        height: 347px;
        width: 100%;
        order:1;
    }
}