.b-tooltip-new {
    background: url(/img/backgrounds/tooltip-mobile.png) no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 14px 21px;
	text-align: center;	
	pointer-events: none;

    &__title {
        font-family: 'MuseoCyrl-700';
        font-size: 10px;
        color: #000;
        display:block;
    }

    &__text {
        font-family: 'MuseoCyrl-300';
        font-size: 9px;
        color: #000;
        text-transform:lowercase;
    }

    &--second {
        background: #fff;
        padding: 9px 18px;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            border: 20px solid transparent;
            border-left: 0 solid #fff;
            border-top: 33px solid #fff;
            position: absolute;
            bottom: -37px;
            left: 0;
        }

        .b-tooltip-new__title,
        .b-tooltip-new__text {
            font-size:10px;
            text-transform: lowercase;
            font-family: 'MuseoCyrl-500';
            display: inline-block;
        }

        .b-tooltip-new__number {
            font-size:14px;
            margin-right: 5px;
            font-family: 'MuseoCyrl-700';
        }

        .b-tooltip-new__wrap {
            margin-bottom: 5px;
        }
    }

    &--genplan {
        position: absolute;
        top: 50vw;
        left: 50vw;
        z-index: 1;

	    pointer-events: auto;

        &.t1 {
            top: 110px;
            left: 160px;
            margin: 1px 0 0 -1px;
            // margin: -81px 0 0 -102px;
        }

        &.t2 {
            top: 230px;
            left: 260px;
            margin: 1px 0 0 -2px
            // margin: 10px 0 0 -30px;
        }
    }

    &--second {
        &.t3 {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
        }
    }
}