@media (min-width: 768px) {
    .b-tooltip-new {
        &--genplan {

            &.t1 {
                // top: 154px;
                // left: 250px;
                top: 25%;
                // left: 33%;
                left: 22%;
            }

            &.t2 {
                // top: 356px;
                // left: 458px;
                top: 56%;
                // left: 60%;
                left: 40%;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-tooltip-new {
        &--genplan {

            &.t1 {
                top: 159px;
                left: 217px;
            }
            &.t2 {
                top: 322px;
                left: 394px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-tooltip-new {
        &--genplan {

            &.t1 {
                top: 26%;
                left: 22%;
                margin: 2px 0 0 -6px;
            }

            &.t2 {
                top: 55%;
                left: 38%;
                margin: 3px 0 0 -4px;
            }
        }
    }
}


@media (min-width: 1920px) {
   .b-tooltip-new {
        background: url(/img/backgrounds/tooltip-fullhd.png) no-repeat;
        padding: 25px 29px;

        &__title {
            font-size: 15px;
        }

        &__text {
            font-size: 14px;
        }

        &--second {
            background: #fff;
            padding: 9px 18px;
        }

        &--genplan {

            &.t1 {
                top: 31%;
                left: 24%;
                margin: 0 0 0 -3px;
            }

            &.t2 {
                top: 58%;
                left: 38%;
                margin: -1px 0 0 -4px;
            }
        }
    }
}