@media (min-width: 768px) {
    .b-flat-card {
        // margin-bottom: 50px;
        padding-bottom: 21px;
        margin: 0 20px 50px;
        padding: 0 0 21px;

        &:after {
            content: '';
            display: block;
            clear: both; //очищаем обтекаемость
            visibility: hidden; //не отображаем
            line-height: 0; //высоту блока и строки сводим на ноль, чтобы не было видно этого блока
            height: 0;
        }

        &__wrapper {
            max-width: 768px;
            margin: 0 auto;
        }

        &__image-wrapper {
            float: left;
            margin-left: 13px;
        }

        &__info,
        &__other {
            float: right;
            width: calc(50% + 49px);
        }

        &__info {
            padding: 4px 0 0;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
            align-items: flex-start;
            border: 0;
            margin-bottom: 38px;

            flex-direction: row;
            flex-wrap: wrap;

            &--type {
                //align-items:center;
            }
        }

        &__furnish {
            //margin-top: 10px;
            order:4;
        }

        &__image {
            width: 250px;
        }

        &__title {
            margin: 0 0 10px 0;
            width: calc(50% + 7px);

            &--type {
                width: calc(40% + 7px);
            }
        }

        &__icon-wrapper {
            width: calc(50% - 7px);
            justify-content: space-between;

            &--type {
                width: calc(60% - 16px);
            }

            &--apart {
                justify-content: flex-end;
                width: calc(40% - 7px);//auto;
            }
        }

        &__price-block {
            margin-bottom: 39px;
        }

        &__item-price {
            margin-bottom: 36px;

            &--last {
                margin: 0;
            }
        }

        &__button {
            width: 168px;
            margin: 0 0 35px 5px;
        }

        &__icon-link {
            &--apart {
                margin: 0 20px 0 0;
                width: auto;

                svg {
                    width: 26px;
                }

                &:last-child {
                    margin: 0;
                }
            }

            &--type {
                width:102px;
                &:not(:last-child) {
                    margin-right: 0px;
                }
            }

            &--apart {
                svg {
                    width: 30px;
                }
            }

            &--type {
                svg {
                    width: 20px;
                }
            }

            &--email {
                svg {
                    width: 24px;

                    .b-apart & {
                        width: 30px;
                    }
                }
            }
        }

        &__icon {
            width: 44px;
            height: 44px;

            &--type {
                margin-right: 5px;
            }
        }

        &__link-text {
            // line-height: 18px;
        }

        &__icon-link--type & {
            &__icon {
                width: 35px;
                height: 35px;

                // svg {
                //     width: 24px;
                // }            

            }

            &__link-text {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-flat-card {
        padding: 0 0 22px;
        margin: 0 auto 50px;

        &__image-wrapper {
            margin-left: 25px;
        }

        &__info,
        &__other {
            width: calc(50% + 63px);
        }

        &__other {
            padding-right: 20px;
        }

        &__info {
            padding-right: 20px;

            &--type {
                //justify-content: flex-start;
            }
        }

        &__icon-wrapper {
            width: calc(50% - 13px);

            &--apart {
                position: absolute;
                right: 0;
                top: 5px;
                // width: auto;
            }

            &--type {
                width: calc(60% - 13px);
                padding-top:7px;
            }
        }

        &__icon-link {
            &--type {
                width: 91px;
            }
        }


        // если не понравится маленькая ширина заголовка, расскоментировать этот блок
        /*&__icon-link {
            &--apart {
                margin-right: 10px;

                svg {
                    width: 14px;
                }
            }
            &--email {
                svg {
                    width: 17px;
                    .b-apart & {
                        width: 17px;
                    }
                }
            }
        }

        &__icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }*/


    }
}

@media (min-width: 1280px) {
    .b-flat-card {
        padding: 0;

        &__wrapper {
            max-width: 899px;
        }

        &__title {
            font-size: 30px;
            line-height: 37px;
        }

        &__image-wrapper {
            margin-bottom: 24px;
        }

        &__image {
            width: 311px;
        }

        &__info,
        &__other {
            width: calc(50% + 38px);
        }

        &__info {
            padding-right: 40px;
            padding-top: 0;
            //align-items: center;
            margin-bottom: 32px;

            &--type {
                justify-content: space-between;
            }
        }

        &__other {
            padding-right: 35px;
        }

        &__icon-wrapper {
            width: calc(50% - 35px);

            &--apart {
                top: 12px;
                width: auto;
            }
        }

        &__price-block {
            margin-bottom: 40px;
        }

        &__button {
            margin-bottom: 23px;
        }

        &__text {
            font-size: 17px;
            letter-spacing: 0.1px;
            line-height: 24px;
        }

        &__icon-link {
            &--apart {
                position: relative;
            }

            &--apart-first {
                display: inline-flex;
            }

            &--email {
                svg {
                    width: 30px;
                }
            }
        }

        &__title {
            &--type {
                width: calc(50% - 7px);
            }
        }
        &__icon-wrapper {
            margin-top: 11px;
            width: calc(30% - 56px);

            &--apart {
                margin: 0;
                width: auto;
            }

            &--type {
                width: calc(50% - 7px);
            }
        }

        &__icon-link {
            &--apart {
                margin: 0 20px 0 0;

                flex-direction: column-reverse;
                width: 50px;
                align-items: center;
            }
        }

        &__icon {
            margin-right: 0;
            &:hover {
                background: #b59b61;
                cursor: pointer;

                path {
                    fill: #fff;
                }
            }
        }

        &__link-text {
            display: none;
        }
        &__icon {
            width: 50px;
            height: 50px;
        }

        &__icon-link--type & {
            &__icon {
                width: 50px;
                height: 50px;

                svg {
                    width: 30px;
                }
            }

            // &__link-text {
            //     font-size: 10px;
            //     line-height: 12px;
            // }
        }


        // если не понравится маленькая ширина заголовка, расскоментировать этот блок
        /*&__icon-link {
            &--apart {

                svg {
                    width: 26px;
                }
            }
            &--apart {
                svg {
                    width: 30px;
                }
            }

            &--type {
                svg {
                    width: 20px;
                }
            }

            &--email {
                svg {
                    width: 24px;

                    .b-apart & {
                        width: 30px;
                    }
                }
            }
        }*/


    }
}

@media (min-width: 1920px) {
    .b-flat-card {
        padding: 0 0 51px;

        &__wrapper {
            max-width: 1446px;
        }

        &__image {
            width: 468px;
        }

        &__info,
        &__other {
            width: calc(55% + 64px);
        }

        &__info {
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 12px;
        }

        &__title {
            width: calc(60% + 27px);

            &--type {
                width: calc(57% - 7px);
            }
        }

        &__icon-wrapper {
            margin-top: 11px;
            width: calc(30% - 56px);

            &--apart {
                margin: 0;
                width: auto;
            }
            &--type {
                margin-top: 0;
            }
        }

        &__icon-link {
            &--apart {
                margin: 0 10px 0 0;
            }
        }

        &__price-block {
            margin-bottom: 42px;

            &--type {
                width: 451px;
            }
        }

        &__text {
            max-width: 710px;
        }

        &__icon {
            width: 50px;
            height: 50px;
        }
    }
}