.b-flat-card {
    padding: 0 20px 11px;
    border-bottom: solid 1px #ededed;
    margin-bottom: 41px;

    &--apart {
        padding: 0 0 20px;
    }

    &__info {
        border-bottom: solid 1px rgba(0, 0, 0, .1);
        padding-bottom: 20px;
        margin-bottom: 28px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 24px;
        font-family: 'MuseoCyrl-700';
        color: #000;
        //margin-bottom: 22px;
        margin-bottom: 10px;
        line-height: 26px;
    }

    &__icon-wrapper {
        display: flex;
        justify-content: space-around;

        &--type {
            justify-content: space-around;
            order: 3;
        }
    }

    &__icon-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        border: solid 1px #b59b61;
        border-radius: 100%;

        svg {
            width: 25px;
        }

        &--apart {
            position: relative;
            width: auto;
            height: auto;
            border: 0;
            border-radius: 0;
            flex-direction: row;
            width: 126px;
        }

        &--apart-first {
            display: none;
        }

        &--email {
            margin-right: 10px;
            svg {
                width: 30px;
            }
        }

        &--type {
            width:126px;
            &:not(:last-child) {
                margin-right:19px;
            }
        }
    }

    &__furnish {
        font-family: AvenirNext-Regular;
        font-size: 16px;
        color:#000000;
        margin-bottom: 18px;
        position: relative;
        display: flex;
        align-content: center;
        //margin-top: -10px;
        &:after {
            content:'';
            width: 19px;
            height: 23px;
            background: url("../img/icons/finish_icon_color.svg") no-repeat ;
            background-size: contain;
            display: block;
            margin-left: 8px;
        }
    }

    &__icon {
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 44px;
        height: 44px;
        border: solid 1px #b59b61;
        border-radius: 100%;
        margin-right: 10px;
        flex-grow: 0; flex-shrink: 0; flex-basis: auto;

        &--type {
            width: 44px;
            height: 44px;
        }
    }

    &__link-text {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.5;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.1px;
        color: #000;
        font-family: 'AvenirNext-Regular';
    }

    &__image-wrapper {
        margin-bottom: 29px;
        text-align: center;
    }


    &__image {
        width: 280px;
        &-item {
            display:none;

            &--active {
                display:block;
            }
        }
        &-tab-links {
            margin-bottom: 61px;
        }
    }

    &__link {
        color: #9b9b9b;
        display: inline-block;
        font-family: MuseoCyrl-500;
        font-size: 12px;
        letter-spacing: .1px;
        line-height: 14px;
        margin: 0 26px 0 0;
        padding: 5px 0;
        position: relative;

        &--active {
            color: #b59b61;
            &:after {
                background: #b59b61;
                bottom: 0;
                content: '';
                height: 1px;
                left: 10px;
                position: absolute;
                width: calc(100% - 20px)
            }
        }
    }



    &__item-title {
        font-size: 16px;
        opacity: .5;
        color: #000;
        font-family: 'AvenirNext-Regular';
        margin-bottom: 14px;
    }

    &__price {
        font-size: 20px;
        color: #000;
        font-family: 'AvenirNext-DemiBold';
    }

    &__price-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    &__item-price {
        width: 50%;
        margin-bottom: 25px;

        &--last {
            width: 100%;
            margin: 0;
        }
    }

    &__button {
        font-size: 14px;
        letter-spacing: 0.1px;
        text-align: center;
        color: #000;
        font-family: 'MuseoCyrl-300';
        position: relative;
        display: block;
        width: calc(100% - 10px);
        height: 35px;
        text-transform: uppercase;
        border: none;
        background-color: rgba(181,155,97, 0.5);
        margin: 0 auto 36px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            position: absolute;
            top: -6px;
            left: -6px;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            border: solid 1px #b59b61;
        }

        &--parking {
            color: #fff;
        }
    }

    &__text {
        font-size: 14px;
        font-family: 'AvenirNext-Regular';
        letter-spacing: 0.1px;
        color: #000;
        line-height: 18px;
		& > p,
		& li {
			margin: 0 0 22px;
		}

		& li {
			padding-left: 30px;
			position: relative;

			&:before {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				transform: rotate(-315deg);
				background-color: #153075;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
    }
}