@media (min-width: 1280px) {
    .b-pagination {

        &--options {
            margin-left: 55px;
        }
    }
}

@media (min-width: 1920px) {
    .b-pagination {

        &--options {
            margin-left: 0;
        }
    }
}