.b-pagination {
    display: flex;
    justify-content: center;

    &__link {
        display: inline-flex;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #000;
        font-family: 'MuseoCyrl-300';
        border: 1px solid transparent;

        .no-touchevents &:hover,
        .touchevents &:active {
            border: 1px solid #ededed;
        }

        &.active {
            background-color: #153075;
            color: #fff;
            border-color: transparent;

            .no-touchevents &:hover,
            .touchevents &:active {
                opacity: .5;
            }
        }
    }

    &__page-change {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: 40px;

        svg {
            width: 9px;
            height: auto;
        }

        * {
            stroke: #000;
        }

        &--next {
            transform: rotate(180deg);
        }
    }
}