@media (min-width: 768px) {
    .b-slider-content {

        &__item {
            &--video {
                margin-bottom: 133px;
                // padding: 0 84px;
                padding: 0;
            }
        }

        &__video-wrapper {
            // width: 600px;
            // height: 360px;
            width: auto;
            height: auto;

            video,
            iframe {
                margin: 0 84px;
                width: calc(100% - 168px);
                // height: 360px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-slider-content {

        &__item {

            &--video {
                margin-bottom: 98px;

                padding: 0;
            }
        }
        &__video-wrapper {
            width: 750px;
            
            video,
            iframe {
                // height: 450px;
                margin: 0;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-slider-content {

        &__item {

            &--video {
                height: 450px;
            }
        }
        &__video-wrapper {
            video,
            iframe {
                height: 450px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-slider-content {

        &__item {

            &--video {
                height: 585px;
            }
        }

        &__video-wrapper {
            width: 975px;

            video,
            iframe {
                height: 585px;
            }
        }
    }
}
