.b-slider-content {
    &__list {
        // display: flex;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        outline: none;
        overflow: hidden;

        &--video {
            margin-bottom: 99px;
        }
    }

    &__video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin: 0 auto;
        height: 192px;

        video,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // height: 192px;
        }
    }
}