@media (min-width: 768px) {
    .b-childhood-description  {
        &__back {
            padding: 40px;
            margin: 0 -40px 30px;
            background-image: url(/img/backgrounds/fortress/fortress-image1-768.jpg);
        }
    }
}
@media (min-width: 1024px) {
    .b-childhood-description  {
        margin: 0 -60px;
        
        &__back {
            padding: 64px 66px 62px 60px;
            margin: 0;
            background-image: url(/img/backgrounds/fortress/fortress-image1-1024.jpg);
            width: 50%;
            flex-shrink: 0;
        }

        &__text {
            padding: 26px 40px 30px 34px;

            p:not(:last-child) {
                margin: 0;
            }
        }
    }
}
@media (min-width: 1280px) {
    .b-childhood-description  {
        margin: 0 -160px;

        &__back {
            padding: 64px 110px 62px 160px;
            background-image: url(/img/backgrounds/fortress/fortress-image1-1280.jpg);

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            p {
                max-width: 370px;
            }
        }

        &__text {
            padding: 50px 120px 30px 69px;
            max-width: 640px;

            // p {
            //     margin: 0;
            // }
        }
    }
}

@media (min-width: 1920px) {
    .b-childhood-description  {
        // margin: 0 -104px;
        margin: 0 auto;
        max-width: 1173px;

        &__back {
            padding: 64px 110px 62px 160px;
            background-image: url(/img/backgrounds/fortress/fortress-image1-1920.jpg);
            width: 644px;
        }

        &__text {
            padding: 50px 0px 30px 69px;
        }
    }
}