.b-childhood-description {
    font-family: AvenirNext-Regular;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0.1px;

    p:not(:last-child) {
        margin-bottom: 23px;
    }

    &__back {
        color: #ffffff;
        padding: 30px 20px;
        margin: 0 -20px 30px;

        background: url(/img/backgrounds/fortress/fortress-image1-320.jpg) no-repeat center center / cover;
    }
}

