doctype html
include ../../../node_modules/bemto.pug/bemto.pug
- set_bemto_settings({ prefix: { '': 'b-', 'js-': true, '-': false }, element: '__', modifier: '--', default_tag: 'div' })
block vars
html(lang="ru")
    include ../includes/chunks/head
    body.Body.Body-default
        include ../includes/blocks/HeaderWhite.pug

        main.Content
            //- include ./includes/blocks/hide_block.pug
            block content

        include ../includes/blocks/footer.pug

        include ../includes/blocks/FullNavMenu.pug

        include ../includes/blocks/helpUs-form.pug

        include ../includes/blocks/CookiesAgree.pug

        script(src='/js/vendor.js')
        script(src='/js/common.js')

        block page_bottom
