doctype html
include ../../../node_modules/bemto.pug/bemto.pug
- set_bemto_settings({ prefix: { '': 'b-', 'js-': true, '-': false }, element: '__', modifier: '--', default_tag: 'div' })
block vars
html(lang="ru")
    include ../includes/chunks/head

    body
        #pagePreloader.Preloader.Preloader-active

        include ../includes/blocks/HeaderWhite

        main
            block content

        include ../includes/blocks/FullNavMenu.pug

        include ../includes/blocks/helpUs-form.pug

        include ../includes/blocks/CookiesAgree.pug

        script(src='/js/vendor.js')
        script(src='/js/common.js')

        block page_bottom