/* 320++  */
.b-title {
    &--mortgage {
        color: #000;
        font-family: AvenirNext-DemiBold;
        font-size: 20px;
        letter-spacing: .1px;
        line-height: 26px;
        margin: 0 0 20px;
        text-align: center;
    }

    &--mortgage-advantage {
        font-family: AvenirNext-DemiBold;
    }

    &--mortgage-bank {
        margin: 0;
        text-align: left;
    }

    &--title-header {
        font-family: 'MuseoCyrl-700';
        font-size: 24px;
        color: rgb(255, 255, 255);
        margin-bottom: 14px;
    }

    &--center-event {
        color: rgb(0, 0, 0);
        display: inline-block;
        font-family: 'MuseoCyrl-700';
        font-size: 24px;
        letter-spacing: .1px;
        line-height: normal;
        margin-bottom: 56px;
        position: relative;
        text-transform: uppercase;

        &:after {
            border-bottom: 1px solid #b59b61;
            bottom: -16px;
            content: '';
            // left: 35%;
            position: absolute;
            width: 82px;
            left: 50%;
            margin-left: -41px;
        }

        .b-center-event--tech & {
            margin-bottom: 47px;
        }

        .b-center-event--left &,
        .b-center-event--zoom &,
        .b-center-event--tech & {

            &:after {
                left: 50%;
                margin-left: -41px;
            }
        }

        .b-center-event--zoom & {
            margin-bottom: 38px;
        }
    }

    &--environment-masterpieces {
        margin-bottom: 41px;
        &:after {
            display:none;
        }
    }

    &--flat {
        color: #000;
        font-family: 'AvenirNext-DemiBold';
        font-size: 20px;
        letter-spacing: 0.1px;
        line-height: 27px;
        margin-bottom: 29px;
        padding: 0 10px;
    }

    &--environment {
        font-family: 'MuseoCyrl-700';
        font-size: 24px;
        letter-spacing: 0.1px;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 28px;
        margin-bottom: 6px;
    }

    &--location {
        color: #000;
        font-family: 'MuseoCyrl-700';
        font-size: 24px;
        letter-spacing: .1px;
        line-height: normal;
        margin: 0 0 22px;
        padding: 74px 0 31px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        &:before {
            background: url(/img/icons/decor.svg) no-repeat;
            content: '';
            height: 54px;
            left: 50%;
            position: absolute;
            top: 0;
            width: 162px;
            margin: 0 0 0 -81px;
        }

        &:after {
            border-bottom: 1px solid #b59b61;
            bottom: 0px;
            content: '';
            left: 50%;
            position: absolute;
            width: 82px;
            margin: 0 0 0 -41px;
        }
    }

    &--page {
        font-family: MuseoCyrl-700;
        font-size: 24px;
        line-height: normal;
        margin: 0 0 30px;
        text-align: center;
    }

    &--tradein {
        font-family: MuseoCyrl-700;
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 28px;
    }


    &--masterpiece {
        font-family: MuseoCyrl-700;
        font-size: 24px;
        letter-spacing: .1px;
        line-height: normal;
        margin: 0 auto 67px;
        max-width: 511px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        &:after {
            border-bottom: 1px solid #b59b61;
            // bottom: -27px;

            bottom: -16px;
            content: '';
            left: 50%;
            margin: 0 0 0 -41px;
            position: absolute;
            width: 82px;
        }
    }

    &--yard {
        margin-bottom: 50px;

        // &:after {
        //     bottom: -21px;
        // }

    }

    &--childhood {
        margin-bottom: 83px;
    }

    &--infrastructure {
        margin-bottom: 35px;
    }

    &--hollywood-style {
        padding: 0px 40px;
        &:after {
            left: 50%;
            margin-left: -41px;
        }
    }

    &--fountain {
        padding: 46px 0 0px;
        margin: 0 0 36px;
        &:after {
            display:none;
        }

       &:before {
            background: url(/img/icons/decor-fountain.svg) no-repeat;
            margin: 0 0 0 -67px;
        }
    }

    &--linden-alley {
        text-align:center;
        padding: 0px 31px;
        margin-bottom: 66px;
        display:block;
        &:after {
            left: 50%;
            margin-left: -41px;
        }

        .section--fortress & {
            margin-bottom: 48px;
        }
    }

    &--apart {
        font-family: MuseoCyrl-700;
        font-size: 24px;
        line-height: 29px;
        //margin: 0 0 23px;
        margin: 0 0 10px;
    }

    &--ecol {
        font-size: 20px;
        margin-bottom: 45px;

        &::after {
            left: 50%;
            margin-left: -41px;
            bottom: -11px;
        }
    }

    &--parking {
        color: #fff;
        margin-bottom: 41px;

        &::after {
            left: 50%;
            margin-left: -41px;
        }
    }

    &--commercial {
        font-family: 'MuseoCyrl-700';
        font-size: 16px;
        letter-spacing: .1px;
        margin: 0 0 30px;
        text-align: center;
        line-height: 19px;
        text-transform: uppercase;
    }

    &--mortgage-form-success {
        font-family: 'MuseoCyrl-700';
        font-size: 22px;
        letter-spacing: .1px;
        line-height: 27px;
        margin: 0 0 20px;

        span {
            display: block;
        }
    }

    &--form {
        font-size: 35px;
        font-family: 'MuseoCyrl-900';
        letter-spacing: .1px;
        text-align: center;
        margin-bottom: 55px;
    }
}
