/* 768++  */
@media (min-width: 768px) {
    .b-title {
        &--mortgage {
            font-size: 24px;
            line-height: 33px;
            letter-spacing: .1px;
            margin: 0 0 40px;
            text-align: left;
        }

        &--mortgage-bank {
            line-height: 25px;
            margin: 0;
        }

        &--title-header {
            display:inline-block;
            vertical-aligne:top;
            margin-bottom:0px;
            font-size: 36px;
            margin-right: 45px;
        }

        &--center-event {
            width: 274px;
            font-size:30px;
            margin-bottom: 68px;

            &:after {
                left: 103px;
                margin: 0;

                bottom: -14px;
            }

            .b-center-event--tech & {
                margin: 0 auto 104px;
                width: 482px;
                text-align: center;
                display: block;

                &:after {
                    width: 82px;
                    left: 50%;
                    margin-left: -41px;
                }
            }

            .b-center-event--lift & {
                margin-bottom: 67px;
            }

            .b-center-event--left & {
                width: auto;
                text-align: left;
                margin-bottom: 67px;

                &::after {
                    left: 0;
                    margin: 0;
                }
            }

            .b-center-event--security & {
                width: 408px;
                text-align: left;
                margin: 0 0 73px;

                &::after {
                    left: 0;
                    margin: 0;
                }
            }

            .b-center-event--zoom & {
                margin: 0;
                width: 50%;
                text-align: left;

                &::after {
                    left: 0;
                    margin: 0;
                }
            }
        }

        &--environment-masterpieces {
            margin-bottom: 32px;
        }

        &--calculator {
            color: rgba(0, 0, 0, .5);
            display: inline-block;
            font-family: AvenirNext-Regular;
            font-size: 14px;
            letter-spacing: .1px;
            line-height: 19px;
        }

        &--flat {
            padding: 0 13px;
            margin-bottom: 19px;
        }

        &--environment {
            font-size: 35px;
            letter-spacing: .2px;
            line-height: 40px;
            margin-bottom: 8px;
            width: 514px;

            .b-environment--fortress & {
                width: auto;
            }
        }

        &--location {
            font-size: 30px;
            margin: 0 0 14px;

            &:after {
                bottom: 50px;
                left: 14%;
            }
        }

        &--page {
            font-size: 36px;
            letter-spacing: 0;
            margin: 0 0 43px;
            text-align: left;
        }

        &--tradein {
            font-size: 36px;
            text-align: left;
            margin-top: 42px;
            margin-bottom: 39px;
        }

        &--masterpiece {
            font-size: 30px;

            &:after {

                bottom: -14px;
            }
        }

        &--hollywood-style {
            width:490px;
            margin-bottom: 76px;
            padding-left:40px;
            &:after {
                left: 40px;
                margin-left: 0px;
            }
        }

        &--fountain {
            padding: 70px 0 0px;
            margin: 0 0 45px;
            &:before {
                width: 193px;
                background-size: 100%;
                margin: 0 0 0 -95px;
            }

            &:after {
                // display:block;
                // bottom: 18px;
                left: 110px;
            }
        }

        &--linden-alley {
            text-align:left;
            padding:0px 0px 0px 40px;
            width:309px;
            &:after {
                left: 40px;
                margin-left:0px;
                // bottom: -29px;
            }
        }

        &--yard {
            margin-bottom: 67px;
        }

        &--childhood {
            margin-bottom: 75px;
        }

        &--infrastructure {
            text-align: left;
            padding: 0;
            margin: 0 0 60px;
            width: 300px;

            &:after {
                left: 0px;
                bottom: -25px;
                margin-left:0px;
            }
        }

        &--ecol {
            font-size: 24px;
            margin-bottom: 47px;

            &::after {
                left: 0;
                margin: 0;
                bottom: -11px;
            }
        }

        &--apart {
            margin: 0 0 10px;
        }

        &--parking {
            width: auto;

            &::after {
                left: 50%;
                margin-left: -41px;
            }
        }

        &--commercial {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 29px;
        }

        &--mortgage-form-success {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

@media (min-width: 1024px) {
    .b-title {
        &--center-event {
            letter-spacing: 0.2px;
            font-size: 35px;
            width: 321px;
            margin-bottom: 61px;

            &:after {
                bottom: -14px;
                left: 50%;
            }
        }

        &--center-event {
            &:after {
                left: 147px;
            }

            .b-center-event--tech & {
                margin-bottom: 63px;
                // flex: 1 1 100%;
                flex-grow: 1; flex-shrink: 1; flex-basis: 100%;
                max-width: 483px;
            }
        }

        &--environment-masterpieces {
            margin-bottom: 62px;
        }

        &--calculator {
            font-size: 17px;
        }

        &--flat {
            font-size: 24px;
            line-height: 31px;
            margin: 0 0 32px;
            padding: 0 12px;
            width: 483px;
        }

        &--environment {
            margin-bottom: 9px;
        }

        &--location {
            font-size: 35px;
            margin: 0 0 27px;
            &:after {
                bottom: 53px;
                left: 18%;
            }
        }

        &--tradein {
            margin-top: 15px;
            margin-bottom: 40px;
            margin-left: -52px;
        }


        &--masterpiece {
           font-size: 35px;
           margin: 0 auto 61px;

        //    &:after {
        //         bottom: -21px;
        //    }
        }

        &--hollywood-style {
            display:block;
            padding-left: 76px;
            width:650px;
            margin-bottom: 70px;

            &:after {
                left: 78px;
                // bottom: -18px;
            }
        }

        &--fountain {
            padding: 67px 0 0px;
            margin: 0 0 79px;
            &:after {
                // bottom: 20px;
                left: 149px;
            }
        }

        &--linden-alley {
            padding-left:77px;
            width:400px;
            margin-bottom: 43px;

            &:after {
                left:77px;
            }

            .section--fortress & {
                padding-left: 60px;
                &:after {
                    left: 60px;
                }
            }
        }

        &--yard {
            margin-bottom: 68px;
        }

        &--infrastructure {
            margin-left: 0;
            bottom: -17px;
            margin-bottom: 85px;
        }

        &--childhood {
            margin-bottom: 75px;
        }

        &--apart {
            //width: 253px;
            width: 205px;
        }

        .b-apart__header-inner--commercial & {
            width: 200px;
            font-size: 30px;
            line-height: 33px;
            margin: 0 0 27px;
        }

        .b-center-event--zoom & {
            max-width: 288px;
            margin: 0 0 23px;
        }

        &--ecol {
            font-size: 24px;
            margin-bottom: 45px;

            &::after {
                left: 0;
                margin: 0;
                bottom: -12px;
            }
        }

        &--parking {
            width: auto;
            margin-bottom: 67px;

            &::after {
                left: 50%;
                margin-left: -41px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-title {
        &--center-event {
            margin-bottom:62px;
            &:after {
                bottom: -12px;
                left: 132px;
            }
        }

        &--environment-masterpieces {
            margin-bottom: 61px;
        }

        &--flat {
            margin-bottom: 41px;
            padding-left: 30px;
            padding-right: 30px;
            width: auto;
        }

        &--location {
            &:after {
                left: 22%;
            }
        }

        &--tradein {
            margin-left: 0px;
        }

        &--hollywood-style {
            padding-left: 45px;
            margin-bottom: 69px;
            width: 613px;
            &:after {
                left: 45px;
                // bottom: -18px;
            }
        }

        .b-flat-block--calculator & {
            padding-left: 40px;
        }

        &--linden-alley {
            padding-left: 184px;
            width: 492px;
            margin-bottom: 42px;
            &:after {
                left: 184px;
            }


            padding-left: 160px;
            position: relative;
            left: 50%;
            margin-left: -640px;
            &:after {
                left: 160px;
            }

            .section--fortress & {
                // padding-left: 160px;
                padding-left: 160px;
                position: relative;
                left: 50%;
                margin-left: -640px;
                &:after {
                    left: 160px;
                }
            }
        }

        &--apart {
            font-size: 30px;
            line-height: 36px;

            width: 253px;
        }
        
        &--ecol {
            margin-bottom: 47px;
            &::after {
                left: 0;
                margin: 0;
            }
        }

        &--parking {
            margin-bottom: 66px;

            &::after {
                left: 50%;
                margin-left: -41px;
            }
        }

        &--infrastructure {
            position: relative;
            //left: 50%;
            //margin-left: -480px;
        }
    }
}

@media (min-width: 1920px) {
    .b-title {
        &--center-event {
            margin-bottom: 64px;
            &:after {
                left: 160px;
            }
        }

        &--page {
            font-size: 36px;
        }

        &--hollywood-style {
            margin-bottom: 67px;
            padding-left: 29px;
            &:after {
                left: 29px;
                // bottom: -17px;
            }
        }

        &--linden-alley {
            margin-bottom: 43px;
            // &:after {
            //     left: 190px;
            // }

            // .section--fortress & {
            //     padding-left: 160px;
            //     &:after {
            //         left: 160px;
            //     }
            // }
        }
        &--linden-alley {

            margin-left: -560px;
            &:after {
                left: 160px;
            }

        }

        &--infrastructure {
            padding-left: 0px;
            &:after {
                left: 0px;
            }
        }

        &--ecol {
            margin-bottom: 49px;

            &::after {
                left: 0;
                margin: 0;
            }
        }

        &--parking {

            &::after {
                left: 50%;
                margin-left: -41px;
            }
        }
    }
}