/* 768++  */
@media (min-width: 768px) {
    .b-mortgage-bank {
        .active  {
            box-shadow: none;
        }

        &--calculator {
            margin-bottom: 0;
        }

        &__header {
            display: block;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            z-index: 2;
            position: relative;
            margin-bottom: 42px;
        }
        &__inside {
            z-index: 2;
            position: relative;
            font-size: 17px;
            letter-spacing: 0.1px;
            line-height: 22px;

            &--diary {
                video,
                iframe {
                    width: 100%;
                }
            }
        }

        &__logo-wrapper {
            padding-right: 31px;

            &--diary {
                width: 100%;
            }
        }

        &__logo {
            &--popup {
                max-width: 224px;
            }
        }

        &__licence {
            font-size: 14px;
            letter-spacing: 0.1px;
            color: rgba(0,0,0,0.4);
            padding: 19px 0 16px 27px;
            border-left:  1px solid rgba(0,0,0,0.2);
        }

        &__close {
            background: url("/img/icons/close.svg");
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            z-index: 2;

            &--construction {
                background: none;
                right: 40px;
                top: 40px;
            }
        }

        .active &__about,
        .opened &__about {
            display: flex;
            background-color: rgba(0, 0, 0, 0.55);
            justify-content: center;
            padding: 20px 24px;

            position: fixed;
            -webkit-overflow-scrolling: touch;
            z-index: 15000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            &-block {
                width: 514px;
                padding: 50px;
                background: #fff;
                // height: auto;
                margin: auto;
                // overflow: hidden;
                position: relative;

                background: #fff url("/img/icons/pattern.svg") no-repeat left bottom / 100%;

                &:before {
                    display: block;
                    content: "";
                    position: absolute;
                    left: -10px;
                    right: -10px;
                    top: -10px;
                    bottom: -10px;
                    border: solid 1px #fff;
                    z-index: 1;
                }
            }
        }

        .active &__about--construction,
        .opened &__about--construction {
            -webkit-overflow-scrolling: touch;
            background: rgba(0, 0, 0, .9);
            padding: 0;
        }
        .active &__about--construction &__about-block,
        .opened &__about--construction &__about-block {
            width: 100%;
            padding: 0;
            background: none;
            position: static;

            &:before {
                content: none;
            }
        }

        &__block {
            background: #ededed;
            margin: 0;

            &:nth-child(2n) {
                background: #fff;
            }
        }

        &__row {
            margin: 0;
            height: 100px;
            font-size: 17px;
            padding: 0;

            .b-mortgage-bank--calculator & {
                font-size: 14px;
                height: 80px;
            }
        }

        &__head &__row {
            align-items: flex-start;

            .b-mortgage-bank--calculator & {
                height: auto;
                min-height: auto;
            }
        }

        &__head &__col {
            font-size: 14px;
            line-height: 20px;
            padding-right: 50px;
            padding-top: 6px;
            word-wrap: break-word;

            &--logo {
                padding: 0;
            }

            &--rate {
                padding: 6px 0 0;
            }
            

            &--percent,
            &--age,
            &--rate,
            &--payment,
            &--stavka {
                padding-right: 50px;

                

                span {
                    display: inline-block;
                    position: relative;

                    padding-right: 15px;

                    &:after {
                        border: 4px solid transparent;
                        content: '';
                        opacity: 0;
                        position: absolute;
                        right: 0px;
                    }
                }

                transition: color 0.5s;
                // color: #000;
                color: rgba(0,0,0,0.5);

                span {
                    &:after {
                        opacity: 0;
                    }
                }
            }

            &--percent {
                .b-mortgage-bank--morgage & {
                    padding-right: 15px;
                }
            }
            &--rate {
                padding-right: 0;
                // margin-right: -15px;
                // padding-right: 15px;
                text-align: right;

            }

            &.desc {
                color: rgba(0,0,0,0.5);
                span {
                    &:after {
                        opacity: 1;
                        border-bottom-color: transparent;
                        border-top: 5px solid rgba(0,0,0,0.5);
                        top: 8px;
                    }
                }

                &.active {
                    color: #000;
                    span {
                        &:after {
                            border-bottom-color: transparent;
                            border-top-color: rgba(0,0,0,1);
                        }
                    }
                }
            }

            &.asc {
                color: rgba(0,0,0,0.5);
                span {
                    &:after {
                        opacity: 1;
                        border-top-color: transparent;
                        border-bottom: 5px solid rgba(0,0,0,0.5);
                        top: 4px;
                    }
                }
                &.active {
                    color: #000;
                    span {
                        &:after {
                            border-top-color: transparent;
                            border-bottom-color: rgba(0,0,0,1);
                        }
                    }
                }
            }

            .b-mortgage-bank--calculator & {
                padding: 20px 0;

                &--stavka {
                    padding-left: 70px;
                    text-align: left;
                }
            }
        }

        &__body {
            margin: 0 -20px;
            width: calc(100% + 40px);
        }

        &__body &__row {
            padding: 18px 20px;
            position: relative;

            // &:hover {
            //     box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .12);
            //     z-index: 1;
            // }
        }

        &__col {
            display: block;
            // flex: 0 0 28%;
            flex-grow: 0; flex-shrink: 0; flex-basis: 28%;

            .b-mortgage-bank--calculator & {
                text-align: center;
                flex: auto;
                width: 45%;
                padding: 0;
            }

            &--logo {
                padding: 0;
                max-width: none;
                // flex-basis: 30%;

                .b-mortgage-bank--calculator & {
                    text-align: left;
                    width: 25%;
                }
            }

            &--percent {
                // flex-basis: 25%;
            }

            &--age {
                // flex-basis: 20%;
            }

            &--rate {
                flex-grow: 1; flex-shrink: 1; flex-basis: auto;
                padding: 0;

                span {
                    padding: 0;

                    &.marked {
                        margin-right: -15px;
                    }
                }
            }

            &--payment {
                .b-mortgage-bank--calculator & {
                    text-align: left;
                    width: 30%;
                }
            }

            &--stavka {
                padding-left: 70px;
                .b-mortgage-bank--calculator & {
                    text-align: left;
                    padding-left: 70px;
                }
            }
        }

        &__cell {
            &.marked {
                margin: 0 0 0 -15px;
                padding: 0 15px;
            }
        }

        &__logo {
            .b-mortgage-bank--calculator & {
                max-width: 100%;
            }
        }
    }
}


@media (min-width: 1024px) {
    .b-mortgage-bank {
        margin: 0 0 50px;

        &--calculator {
            margin-bottom: 1px;
        }

        &__col {
            flex-basis: 30%;
        }

        &__body {
            margin: 0 -50px;
            width: calc(100% + 100px);
        }

        &__body &__row {
            padding: 18px 50px;

            .b-mortgage-bank--calculator & {
                font-size: 17px;
                height: 100px;
            }
        }

        &__logo {
            max-width: 204px;

            &--popup {
                max-width: 224px;
            }
        }

        &__head &__col {
            .b-mortgage-bank--calculator & {
                padding: 40px 0;
            }
            .b-mortgage-bank--calculator &--stavka {
                padding-left: 80px;
            }
        }

        &__col {
            .b-mortgage-bank--calculator & {
                width: 44%;
            }

            &--logo {
                .b-mortgage-bank--calculator & {
                    width: 33%;
                }
            }

            &--stavka {
                .b-mortgage-bank--calculator & {
                    padding-left: 80px;
                    text-align: left;
                }
            }

            &--payment {
                .b-mortgage-bank--calculator & {
                    width: 20%;
                }
            }
        }

        // &--calculator & {
        //     &__body {
        //         margin: 0;
        //         width: 100%;//calc(100% + 100px);
        //     }
        // }
    }
}

@media (min-width: 1280px) {
    .b-mortgage-bank {
        margin: 0 0 80px;

        &--calculator {
            margin-bottom: 0;
        }

        &__col {
            flex-basis: 30%;

            .b-mortgage-bank--calculator & {
                width: 55%;
            }

            .b-mortgage-bank--morgage & {
                width: 25%;
                flex-basis: 25%;
            }

            &--logo {
                .b-mortgage-bank--calculator & {
                    width: 22%;
                }
            }

            &--stavka {
                .b-mortgage-bank--calculator & {
                    padding-left: 182px;
                }
            }

            &--payment {
                .b-mortgage-bank--calculator & {
                    width: 30%;
                }
            }

            &--percent {
                padding-left: 35px;
            }

            &:hover,
            &.desc:hover,
            &.asc:hover {
                color: #000;
            }
        }

        &__head &__col {
            .b-mortgage-bank--calculator &--stavka {
                padding-left: 182px;
            }

            &--percent,
            &--age,
            &--rate {
                // color: rgba(0, 0, 0, 0.5);
                // transition: color 0.5s;
                // &.desc,
                // &.asc,
                // & {
                //     color: rgba(0, 0, 0, 0.5);

                //     span {
                //         &:after {
                //             transition: opacity 0.5s;
                //             opacity: 0;
                //         }
                //     }
                // }
                // &.desc,
                // &.asc {
                //     color: #000;
                // }

                // &:hover {
                //     color: #000;

                //     span {
                //         &:after {
                //             opacity: 1;
                //         }
                //     }
                // }

                // &:hover {

                //     span {
                //         &:after {
                //             opacity: 1;
                //             border-top-color: transparent;
                //             border-bottom: 5px solid #000;
                //             top: 4px;
                //         }
                //     }
                // }
                // &.desc {

                //     span {
                //         &:after {
                //             border-top-color: transparent;
                //             border-bottom: 5px solid #000;
                //             top: 4px;
                //         }
                //     }
                // }
                // &.asc:hover {

                //     span {
                //         &:after {
                //             opacity: 1;
                //             border-bottom-color: transparent;
                //             border-top: 5px solid #000;
                //             top: 8px;
                //         }
                //     }
                // }
            }
        }

        &__body &__row {
            &:hover {
                box-shadow: 0 27px 24px 0 rgba(0, 0, 0, .12);
                z-index: 1;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-mortgage-bank {
        &__body {
            .b-mortgage-bank--calculator & {
                width: calc(100% + 64px);
            }
        }

        &__row {
            .b-mortgage-bank__head & {
                // padding-right: 35px;
                padding-right: 0;
            }
            .b-mortgage-bank--calculator .b-mortgage-bank__head & {
                padding-right: 35px;
            }
        }

        &__col {
            .b-mortgage-bank--calculator & {
                width: 43%;
            }

            &--stavka {
                .b-mortgage-bank--calculator & {
                    padding-left: 51px;
                    width: 44%;
                }
            }

            &--payment {
                .b-mortgage-bank--calculator & {
                    width: 37%;
                }
            }
        }
        &__head &__col {
            .b-mortgage-bank--calculator &--stavka {
                padding-left: 51px;
            }
        }
    }
}