/* 320++  */
.b-mortgage-bank {
    color: #000;
    font-family: AvenirNext-Regular;
    font-size: 14px;
    letter-spacing: .1px;
    margin: 0 0 40px;

    &--calculator {
        margin-bottom: 11px;
    //     display: inline-block;
    //     vertical-align: top;
    //     width: 100%;//calc(75% - 24px);
    }

    &__block {
        background: #ededed;
        margin: 0 0 10px;

        &.active {
            background: #fff;
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.12);
        }
    }

    &__row {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 70px;
        justify-content: space-between;
        min-height: 68px;
        // padding: 18px 0;

        .b-mortgage-bank__head & {
            // align-items: flex-end;
            background: none;
            height: auto;
        }
    }

    &__col {
        display: none;
        padding: 0 15px;
        // width: 50%;

        .b-mortgage-bank__head & {
            color: rgba(0, 0, 0, .5);
            line-height: 21px;
        }

        &--logo {
            // max-width: 157px;

            .b-mortgage-bank__head & {
                max-width: none;
            }
        }

        &--logo,
        &--rate,
        &--payment {
            display: block;
        }

        &--rate,
        &--payment {
            text-align: right;
        }

        &--payment {
            letter-spacing: .1px;
            white-space: nowrap;
            padding-right: 0;
        }

        &--rate {
            white-space: nowrap;
            padding-right: 0;
        }

        &--rate,
        &--payment {
            span {
                display: inline-block;
                padding-right: 15px;
                position: relative;

                &:after {
                    border: 4px solid transparent;
                    content: '';
                    opacity: 1;
                    position: absolute;
                    right: 0px;
                }
            }

            span {
                &:after {
                    opacity: 0;
                }
            }
        }

        &.desc {
            color: rgba(0, 0, 0, .5);

            span {
                &:after {
                    border-bottom-color: transparent;
                    border-top: 5px solid rgba(0, 0, 0, .5);
                    opacity: 1;
                    top: 8px;
                }
            }

            &.active {
                color: #000;

                span {
                    &:after {
                        border-bottom-color: transparent;
                        border-top-color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }

        &.asc {
            color: rgba(0, 0, 0, .5);

            span {
                &:after {
                    border-top-color: transparent;
                    border-bottom: 5px solid rgba(0, 0, 0, .5);
                    opacity: 1;
                    top: 4px;
                }
            }

            &.active {
                color: #000;

                span {
                    &:after {
                        border-top-color: transparent;
                        border-bottom-color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }

    &__cell {
        &.marked {
            background: #9dcd5a;
            color: #fff;
            display: inline-block;
            line-height: 32px;
            // margin: 0 -10px;
            margin: 0 5px 0 -10px;
            padding: 0 10px;
        }
    }

    &__header,
    &__close {
        display: none;
    }

    &__about {
        display: none;
        padding: 0 14px 30px;

        line-height: 19px;

        p {
            margin-bottom: 19px;
        }

        i {
            font-size: 14px;
            letter-spacing: 0.1px;
            color: rgba(0,0,0,0.5);
            font-style: normal;
        }

        .active & {
            display: block;
        }

        strong {
            font-family: AvenirNext-DemiBold;
        }

        &--construction {
            -webkit-overflow-scrolling: touch;
            background: rgba(0, 0, 0, .9);
            bottom: 0;
            // display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            left: 0;
            min-height: 100%;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 15000;
            display: none;

            .active & {
                display: flex;
            }
        }
    }

    &__about-block {
        &--construction {
            // background: #fff;
            margin: auto;
            // position: relative;
            position: static;
            width: 100%;
        }
    }

    &__close {
        &--construction {
            background: none;
            display: block;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            z-index: 2;

            path {
                fill: #fff;
                transition: fill 0.5s;
            }
            
			.no-touchevents &:hover path,
			.touchevents &:active path {
				fill: #b59b61;
			}
        }
    }

    &__logo {
        max-width: 127px;
        object-fit: contain;
        // max-width: 100%;
        max-height: 100%;
    }

    &__title {
        text-align: center;
        font-size: 20px;
        line-height: 22px;
        color: #000;
        font-family: 'AvenirNext-DemiBold';
    }

    &__statesupport {
        display: flex;
        justify-content: center;
        background: #f5f5f5;
        padding: 28px 0;
        @media (max-width:767px) {
            padding: 12px 0;
            margin-bottom: 10px;
        }
    }
}