.footer {
    position: relative;
    background-color: #2d2d2d;
    padding: 30px 40px;
    color: #fff;
    font-family: 'MuseoCyrl-300';

    @media (max-width: 1023px) {
        padding: 30px 20px;
    }

    @media (max-width: 640px) {
        padding: 30px 40px;
        text-align: center;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 20px;

        @media (max-width: 1023px) {
            margin-bottom: 0;
        }

        @media (max-width: 640px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-aside {
        width: 20%;

        @media (max-width: 1280px) {
            width: calc(20% + 90px);
        }

        @media (max-width: 1023px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: auto;
            flex: auto;
        }

        @media (max-width: 640px) {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &-bottom {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            color: rgba(255, 255, 255, .5);
            font-size: 12px;
            letter-spacing: .1px;
            line-height: 1.2;

            @media (max-width: 1023px) {
                br {
                    display: none;
                }
            }
        }

        @media (max-width: 1279px) {
            width: 50%;

            &__item {
                &:last-child {
                    transform: translateX(50%);
                }
            }
        }

        @media (max-width: 1023px) {
            width: 100%;
            padding: 42px 0 0;
            flex-wrap: wrap;

            &__item {
                &:last-child {
                    transform: none;
                }
            }
        }

        @media (max-width: 640px) {
            align-items: center;
            justify-content: center;
            padding: 24px 0 0;

            &__item {
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: 30px;
                    order: -1;
                }
            }
        }
    }

    &-copy {
        margin-bottom: 20px;

        span {
            font-size: 12px;
            color: rgba(255, 255, 255, .5);
            letter-spacing: .1px;
            white-space: nowrap;
        }

        @media (max-width: 1023px) {
            width: 35%;
        }

        @media (max-width: 640px) {
            width: auto;
            margin-bottom: 30px;
        }
    }

    &-logo {
        display: block;
        width: 140px;
        height: 33px;
        background: transparent url('../img/icons/footerLogo.svg') 0 0 no-repeat;
        margin-bottom: 10px;

        @media (max-width: 640px) {
            margin: 0 auto 10px;
        }
    }

    &-phone {
        position: relative;
        padding-right: 30px;
        text-align: right;
        margin-bottom: 20px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 22px;
            height: 22px;
            background: transparent url('../img/icons/footer-phone.svg') 0 0 no-repeat;
            margin-top: -10px;
        }

        a {
            display: block;
            font-family: 'MuseoCyrl-500';
            font-size: 14px;
            color: #fff;
            line-height: 1.4;

            &.footer-phone__callback {
                font-size: 12px;
                color: #b59b61;
                font-family: 'MuseoCyrl-300';

                &:hover {
                    text-decoration: underline;
                }

                @media (max-width: 640px) {
                    font-size: 14px;
                }
            }

            @media (max-width: 640px) {
                font-size: 18px;
            }
        }

        @media (max-width: 1279px) {
            padding-right: 0;
            padding-left: 30px;

            &:before {
                right: auto;
                left: 0;
            }
        }

        @media (max-width: 640px) {
            padding-left: auto;
            padding-right: 30px;

            &:before {
                left: auto;
                right: 0;
            }
        }
    }

    &-socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__item {
            transition: none;
            display: block;
            width: 42px;
            height: 42px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin-right: 20px;
            transition: background 0.4s ease;

            &:last-child {
                margin-right: 0;
            }

            &._vk {
                background-image: url('../img/icons/vk.svg');

                &:hover {
                    background-image: url('../img/icons/vk-hover.svg');
                }
            }

            &._fb {
                background-image: url('../img/icons/fb.svg');


                &:hover {
                    background-image: url('../img/icons/fb-hover.svg');
                }
            }

            &._inst {
                background-image: url('../img/icons/inst.svg');

                &:hover {
                    background: url('../img/icons/inst-hover.svg');
                }
            }
        }
    }

    &-doc-list {
        &__link {
            transition: ease .3s all;
            display: block;
            line-height: 36px;
            font-size: 12px;
            color: rgba(255, 255, 255, 1);
            font-family: 'MuseoCyrl-700';

            &:hover {
                color: #b59b61;
            }

            &._green {
                display: inline-block;
                padding-right: 45px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 35px;
                    height: 27px;
                    background: transparent url('../img/icons/groomZoomLogo.svg') 0 0 no-repeat;
                    margin-top: -13.5px;
                }

                @media (max-width: 640px) {
                    padding: 0 0 25px 0;

                    &:before {
                        bottom: 0;
                        top: auto;
                        left: 50%;
                        margin-left: -17.5px;
                        margin-top: 0;
                    }
                }
            }
        }

        @media (max-width: 640px) {
            margin-bottom: 35px;
        }
    }

    &-menu {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        &__item {
            width: 25%;
        }

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &-menu-list {
        &__item {
            transition: ease .3s all;
            font-family: 'MuseoCyrl-300';
            color: rgba(255, 255, 255, .5);

            &:hover {
                color: #b59b61;
                font-family: 'MuseoCyrl-700';
            }

            &:first-child {
                font-family: 'MuseoCyrl-700';
                color: rgba(255, 255, 255, 1);

                .footer-menu-list__link {
                    font-size: 14px;
                }

                &:hover {
                    color: #b59b61;
                }
            }
        }

        &__link {
            transition: none;
            display: block;
            font-size: 12px;
            line-height: 36px;
            white-space: nowrap;

            @media (max-width: 1279px) {
                white-space: normal;
                line-height: 1.4;
                min-height: 36px;
            }

            &:hover {
                transition: none;
            }
        }

        &:last-child {
            .footer-menu-list__item {
                font-family: 'MuseoCyrl-700';
                color: rgba(255, 255, 255, 1);

                .footer-menu-list__link {
                    font-size: 14px;
                }

                &:hover {
                    color: #b59b61;
                }
            }
        }
    }

    &-contacts {
        position: relative;

        @media (max-width: 1279px) {
            position: absolute;
            bottom: 52px;
            right: 40px;
        }

        @media (max-width: 1023px) {
            position: relative;
            bottom: auto;
            right: auto;
        }
    }

    &-subscribe {
        text-align: right;
        @media (max-width: 640px) {
            text-align: center;
        }

        &__link {
            display: block;
            text-align: right;
            margin-left: auto;
            max-width: 115px;
            font-size: 14px;
            font-family: 'MuseoCyrl-700';
            color: #b59b61;
            line-height: 1.2;

            @media (max-width: 640px) {
                max-width: none;
                margin: 0;
                text-align: center;
            }
        }
    }

    &-helpUs {
        display: block;
        text-align: right;
        margin: 20px 0 0 auto;
        max-width: 120px;
        font: 14px/16px 'MuseoCyrl-700';
        color: #b59b61;
        text-transform: uppercase;
        border: none;
        background: none;

        @media (max-width: 640px) {
            max-width: none;
            margin: 20px 0 0;
            text-align: center;
        }
    }

    &-privacy-link {
        display: inline-block;
        margin-top: 5px;
        color: #b59b61;
        &:hover {
            text-decoration: underline;
        }
    }
}

.subscribe-form {
    position: relative;
    display: none;
    height: 0;

    &__inp {
        border: none;
        border-bottom: solid 1px #b59b61;
        line-height: 50px;
        height: 50px;
        padding: 0 20px 0 0;
        margin: 0;
        background-color: transparent;
        color: #fff;
    }

    &__sbmt {
        transition: ease .3s all;
        display: block;
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 50%;
        width: 26px;
        height: 11px;
        background: transparent url('/img/arrow.svg') 0 0 no-repeat;
        margin-top: -5.5px;
        border: none;

        &:hover {
            right: -3px;
        }
    }
}
