.b-longread-advantages {
    font-family: 'AvenirNext-Regular';
    padding: 31px 0 14px;

    &__text {
        font-size: 17px;
        font-family: 'AvenirNext-DemiBold';
        letter-spacing: 0.1px;
        text-align: center;
        color: #000000;
        line-height: 22px;
        margin-bottom: 41px;

        p {
            margin-bottom: 4px;
        }
    }

    &__list {
        padding: 0 0 0 3px;
    }

    &__item {
        list-style-type: none;
        display: inline-flex;
        align-items: center;
        margin-bottom: 17px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__number {
        opacity: 0.2;
        letter-spacing: 0.1px;
        color: #153075;
        font-size: 90px;
        font-family: 'MuseoCyrl-900';
        margin-right: 18px;
    }

    &__info {
        font-size: 17px;
        letter-spacing: 0.1px;
        color: #000000;
        line-height: 23px;
    }
}