@media (min-width: 768px) {
    .b-longread-advantages {
        padding: 51px 0 48px;

        &__text {
            max-width: 600px;
            margin: 0 auto 46px;
            p {
                margin-bottom: 1px;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 0 32px;
        }

        &__item {
            width: 50%;
            padding-left: 17px;
        }

        &__number {
            font-size: 130px;
        }

        &__info {
            width: 172px;
        }
    }
}


@media (min-width: 1024px) {
    .b-longread-advantages {
        padding: 100px 0 55px;

        &__list {
            padding: 0 0 0 36px;
        }

        &__item {
            margin-bottom: 18px;
            padding-left: 5px;
        }

        &__info {
            width: 344px;
        }
    }
}

@media (min-width: 1280px) {
    .b-longread-advantages {
        padding: 100px 0 0;

        &__text {
            margin-bottom: 49px;
        }

        &__list {
            padding: 0 0 0 102px;
        }

        &__item {
            margin-bottom: 18px;

            &:nth-child(2n) {
                padding-left: 18px;
            }
        }

        &__info {
            width: 344px;
        }
    }
}
@media (min-width: 1920px) {
    .b-longread-advantages {
        padding: 100px 0 0;

        &__list {
            padding: 0 0 0 87px;
        }

        &__item {
            padding-left: 8px;
            &:nth-child(2n) {
                padding-left: 28px;
            }
        }
    }
}