.b-history {
    width: 280px;
    margin: 0 auto;

    h2 {
        font-size: 24px;
        color: #000000;
        letter-spacing: 0.1px;
        font-family: 'MuseoCyrl-700';
        text-align: center;
        max-width: 200px;
        margin: 0 auto 17px;
        text-transform: uppercase;
        line-height: 28px;
    }

    &__list {
        position: relative;
        padding-top: 69px;

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0;
            width: 1px;
            height: calc(100% - 138px);
            background-color: #b59b61;
        }
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 181px;
            background-color: #b59b61;
        }
    }

    &__item {
        list-style-type: none;
        position: relative;
        padding-left: 32px;
        margin-bottom: 39px;

        &:before {
            content: "";
            position: absolute;
            top: 1px;
            left: -7px;
            width: 15px;
            height: 15px;
            transform: rotate(-315deg);
            background-color: #153075;
        }

        &:last-child {
            &:after {
                content: "";
                position: absolute;
                width: 23px;
                height: 23px;
                left: -11px;
                top: -3px;
                transform: rotate(-315deg);
                border: solid 1px #153075;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
    }

    &__title-item {
        display: block;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: #153075;
        font-family: 'MuseoCyrl-700';
        margin-bottom: 17px;
    }

    &__text {
        display: block;
        font-size: 17px;
        letter-spacing: 0.1px;
        color: #000000;
        font-family: 'AvenirNext-Regular';
        line-height: 23px;
    }
}

.section--history {
    margin-bottom: 26px;
}