@media (min-width: 768px) {
    .b-history {
        width: auto;
        h2 {
            position: relative;
            max-width: none;
            font-size: 30px;
            padding-bottom: 19px;
            margin-bottom: 40px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -41px;
                width: 82px;
                height: 1px;
                background-color: #b59b61;
            }
        }

        &__list {
            padding-top: 58px;
            max-width: 688px;
            margin: 0 auto;

            &::after {
                display: none;
            }

            &::before {
                left: 50%;
                height: calc(100% - 124px);
            }
        }

        &__item {
            width: 323px;
            padding-left: 0;
            text-align: right;
            margin-bottom: 34px;
            padding-right: 21px;

            &::before {
                left: auto;
                right: -29px;
            }

            &--right {
                margin-left: auto;
                padding: 0 0 0 21px;
                text-align: left;

                &::before {
                    left: -28px;
                }
            }

            &:last-child {
                &:after {
                    // display: none;
                    right: -33px;
                    left: auto;
                }
            }
        }
    }

    .section--history {
        margin-bottom: 16px;
    }
}

@media (min-width: 1024px) {
    .b-history {

        h2 {
            font-size: 35px;
        }

        &__list {
            max-width: none;

            &::before {
                height: calc(100% - 100px);
            }
        }

        &__item {
            width: 431px;
            margin-bottom: 57px;
        }
    }

    .section--history {
        margin-bottom: 3px;
    }
}

@media (min-width: 1280px) {
    .b-history {

        h2 {
            padding-bottom: 21px;
            margin-bottom: 50px;
        }

        &__item {
            width: 475px;
            margin-bottom: 47px;
        }
    }

    .section--history {
        margin-bottom: 51px;
    }
}

@media (min-width: 1920px) {}