@media (min-width: 768px) {
    .b-flat-slider {
        // max-width: 590px;
        max-width: none;

        & .slick-list {
            // padding: 0 39px;
            // margin-bottom: 40px;
            margin: 0px 7px 40px 20px;
        }
    }
}

@media (min-width: 1024px) {
    .b-flat-slider {
        // max-width: 885px;

        & .slick-list {
            padding: 0 17px;
        }
    }
}


@media (min-width: 1280px) {
    .b-flat-slider {
        position: relative;
        padding: 0 56px;
        width: calc(1180px + 112px);

        &--small {
            width: calc(885px + 112px);
        }

        & .slick-list {
            padding: 10px 0;
            margin-bottom: 30px;
            margin-left: 0;
        }
    }
}

@media (min-width: 1590px) {
    .b-flat-slider {
        width: calc(1475px + 112px);

        &--small {
            width: calc(1180px + 112px);
        }
    }
}


@media (min-width: 1920px) {
    .b-flat-slider {
        padding: 0 72px;
        width: calc(1770px + 144px);

        &--small {
            width: calc(1475px + 144px);
        }
    }
}