.b-apart {
	// margin: 0 0 50px;

	&__plan {
		border-bottom: solid 1px rgba(0, 0, 0, .1);
		margin: 0 0 20px;
		padding: 0 0 17px;
	}

	&__info {
		margin: 0 0 30px;
	}

	&__header {
		border-bottom: solid 1px rgba(0, 0, 0, .1);
		margin: 0 0 26px;//41px;
		padding: 0 0 20px;
	}

	&__detail {
		display: flex;
		justify-content: space-between;
		margin: 0 0 25px;
	}

	&__text {
		color: #9b9b9b;
		font-family: AvenirNext-DemiBold;
		font-size: 14px;

		& > span {
			font-family: AvenirNext-Regular;
		}
	}
	&__furnish {
		font-family: AvenirNext-Regular;
		font-size: 16px;
		color:#000000;
		margin-bottom: 18px;
		position: relative;
		display: flex;
		align-content: center;
		&:after {
			content:'';
			width: 19px;
			height: 23px;
			background: url("../img/icons/finish_icon_color.svg") no-repeat ;
			background-size: contain;
			display: block;
			margin-left: 8px;
		}
	}
}