@media (min-width: 768px) {
    .b-apart {
        &__plan {
            padding: 0 0 37px;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 0 0 24px;
        }

        &__detail {
            justify-content: flex-start;
            margin: 0;
        }

        &__text {
            color: #9b9b9b;
            font-size: 16px;
            margin: 0 58px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-apart {
        display: flex;

        &__plan {
            width: calc(100% - 470px);
            border-bottom: 0;
            padding: 0 0 17px;
        }

        &__info {
            margin: 7px 0 30px;
            width: 470px;
        }

        &__header {
            border: none;
            margin: 0 0 32px;
            padding: 0;
            position: relative;
        }
    }
}

@media (min-width: 1280px) {
    .b-apart {
        padding: 34px 0 0;//40px; слишком большой отступ на странице flat.html от клиента

        &__plan {
            border: none;
            padding: 0;
            width: calc(100% - 467px);
            margin: 0;
        }

        &__info {
            margin: 10px 0 30px;
            width: 467px;
        }
    }
}

@media (min-width: 1920px) {
   .b-apart {
        padding: 53px 0 21px;//40px;

        &__plan {
            width: calc(100% - 574px);
            padding-left: 130px;
            overflow: hidden;
        }

        &__info {
            margin: 5px 0 30px;
            width: 478px;
        }
   }
}