.b-calculator {
    // display: inline-block;
    // width: calc(25% - 26px);
    // padding: 46px 28px 0;
    background-color: #ededed;
    margin: 0 -20px 10px;
    padding: 32px 20px 36px;

    &--here {
        background: transparent;
        margin: 0;
        padding: 22px 6px 15px;
    }

    &__tab-top {
        display: flex;
        justify-content: center;
        margin: 0 -15px 20px;
    }

    &__item {
        position: relative;
        padding: 0 15px;

        &:first-child {
            &:after {
                content: '';
                background-color: #979797;
                width: 1px;
                height: 20px;
                opacity: 0.2;
                position: absolute;
                right: 0;
                top: -3px;
            }
        }
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        font-family: AvenirNext-Regular;
        color: #8a8a8a;
        position: relative;
        font-size: 14px;
        padding-bottom: 19px;
        // padding-bottom: 20px;
        // font-size: 12px;
        // padding: 0 0 20px;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            background-color: #b59b61;
            bottom: 14px;
            left: 50%;
            // opacity: 0;
            margin-left:-23px;
            transition: width .5s ease, background-color .5s ease;
        }

        &.active {
            color: #b59b61;
            &::after {
                width: 47px;//calc(100% - 30px);
                // opacity: 1;
            }
        }
    }

    &__tab-content {
        display: none;

        &.active {
            display: block;
        }
    }

    &--options {
        padding: 0 23px 0;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 14px;
        color: #000;
        font-family: "AvenirNext-Regular";
        margin-bottom: 23px;
    }

    &__slider-ui {
        // width: 100%;
        height: 1px;
        background-color: #d3d3d3;
        position: relative;
        border: 0 !important;
        margin-bottom: 18px;


        width: calc(100% - 14px);
        margin-left: 9px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -7px;
            width: 15px;
            height: 15px;
            background-color: #d3d3d3;
            transform: rotate(-315deg);
        }

        &::before {
            // left: -1px;
            left: -7px;
            z-index: 2;
        }

        &::after {
            // right: 0px;
            background: #d3d3d3;
            right: -7px;
        }

        & .ui-widget-header {
            background: #b59b61;
        }

        & .ui-slider-handle {
            top: -10px;
            cursor: pointer;
            width: 21px;
            height: 21px;
            transform: rotate(-315deg);
            padding: 1px;
            border: solid 1px #b59b61;
            // position: relative;
            // margin-left: -3px;
            border-radius: 0;

            outline: none;
            // margin: 0;

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 15px;
                height: 15px;
                background-color: #b59b61;
                border-radius: 0;
                // transform: rotate(-315deg);
            }



            &.ui-state-active,
            &.ui-state-hover {
                background: transparent;
                // box-shadow: 0 4px 4px 0 rgba(85,138,118,0.31), 0 0 0 7px rgba(252,202,82,0.2);
            }
        }
    }

    &__top-info {
        display: flex;
        justify-content: space-between;

        &--options {
            margin-bottom: 16px;
            // padding: 0 3px;

            padding: 0;
            margin-right: -5px;
        }
    }

    &__item-info {
        font-size: 10px;
        color: #000;
        font-family: "AvenirNext-Regular";

        min-width: 19px;
        text-align: center;
    }

    .MortgageCalc {
        // display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        // @media (max-width: 1283px) {
        // 	flex-wrap: wrap;
        // }
        &_option {
            // width: 100%;//373px;
            // height: 50px;
            // border-radius: 2px;
            // background: #ffffff;
            // border: solid 1px #ededed;
            // padding: 0 15px;
            position: relative;
            margin-bottom: 40px;
            // display: flex;
            // flex-flow: row nowrap;
            // justify-content: space-between;
            // align-items: center;
            // @media (max-width: 1283px) {
            // 	flex-basis: 100%;
            &-duration {
                margin-bottom: 53px;
            }
            // }
        }

        &_text {
            color: rgba(0, 0, 0, .5);
            font-family: AvenirNext-Regular;
            font-size: 14px;
            margin-bottom: 5px;

            &--info {
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 18px;
            }

            // @media (max-width: 767px) {
            // 	font-size: 1.2rem;
            // }
            // @media (min-width: 768px) and (max-width: 1283px) {
            // 	font-size: 1.6rem;
            // }
        }

        &_sumWrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 4px;
        }

        &_sum,
        &_sign {
            display: inline-block;
            font-size: 24px;
            font-family: AvenirNext-Bold;

            &--info {
                font-family: 'AvenirNext-DemiBold';
                color: #b59b61;
                font-size: 16px;
            }

            // @media (max-width: 767px) {
            // 	font-size: 1.2rem;
            // }
            // @media (min-width: 768px) and (max-width: 1283px) {
            // 	font-size: 1.6rem;
            // }
        }

        &_sign {
            padding-left: 5px;
        }

        &_sum {
            padding: 8px 5px 8px 0;

            &--info {
                padding-right: 0;
            }
        }

        &_button-bottom {
            text-align: center;
            padding: 0 5px;
        }

        &_button {
            font-size: 14px;
            color: #fff;
            letter-spacing: .1px;
            text-align: center;
            background-color: #b59b61;
            position: relative;
            display: block;
            width: 100%;
            font-family: 'MuseoCyrl-300';
            // padding: 0 5px;
            // max-width: 230px;
            height: 35px;
            text-transform: uppercase;
            border: none;

            &::before {
                content: '';
                position: absolute;
                top: -6px;
                left: -6px;
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                border: solid 1px #b59b61;
            }
        }
    }


    .MortgageBanklist {
            margin: 40px auto 0;
            padding-bottom: 90px;

        @media (max-width: 767px) {
            padding-bottom: 80px;
        }

        @media (min-width: 768px) and (max-width: 1283px) {
            margin-top: 60px;
        }

        &_row {
            min-height: 71px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border-radius: 2px;
            // background: #fff;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.04);
            margin-top: 10px;
            padding: 10px 45px;

            @media (max-width: 767px) {
                padding: 15px;
                min-height: 0;
            }
        }

        &_cell {
            height: 100%;
            z-index: 10;
        }
        &_cell:not(&_cell-img) {
            @media (min-width: 768px) and (max-width: 1283px) {
                flex-basis: 18%;
            }
        }

        &_cell:not(:last-of-type) {
            margin-right: 5px;
        }

        &_cell-img {
            flex-basis: 20%;
        }

        &_cell-rate {
            @media (min-width: 768px) and (max-width: 1283px) {
                flex-basis: 8%;
            }
        }

        &_cell-description {
            @media (max-width: 767px) {
                display: none;
            }
        }

        &_header {
            font-size: 1.2rem;
            letter-spacing: 0.3px;
            padding-bottom: 7px;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 0.8rem;
            }
        }

        &_header-star{
            &:after {
                content: '*';
                color: #fcca4d;
                font-size: 20px;
            }
        }

        &_text {
            font-weight: 600;
            letter-spacing: 0.3px;
            line-height: normal;
            text-align: center;
            font-size: 1.25rem;

            @media (max-width: 767px) {
                font-size: 1.2rem;
            }
        }

        &_tipText {
            font-size: 12px;
            padding-top: 17px;
            float: right;
            color: #4a5565;

            @media (max-width: 767px) {
                text-align: center;
            }
        }

        &_tipSign {
            color: #fcca4d;
            font-size: 24px;
            padding-right: 10px;
            position: relative;
            top: 11px;
        }
    }


    .MortgageSlider {
        width: 100%;
        // position: absolute;
        bottom: -4px;
        left: 0;

        &_top-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        &_item {
            font-size: 10px;
            font-family: AvenirNext-Regular;
        }

        &_track {
            // border-radius: 4px;
            background: #d3d3d3;
            border: 0;
            height: 1px;
            margin: 0 auto;
            position: relative;
            width: calc(100% - 14px);

            margin-left: 9px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -7px;
                width: 15px;
                height: 15px;
                background-color: #b59b61;
                transform: rotate(-315deg);
            }

            &:before {
                left: -7px;
            }

            &:after {
                background: #d3d3d3;
                right: -7px;
            }
        }

        &_progress {
            background-color: #b59b61;
            border: 0;
            outline: 0;
            // border-radius: 4;
        }

        &_handle {
            top: -10px;
            cursor: pointer;
            width: 21px;
            height: 21px;
            transform: rotate(-315deg);
            padding: 1px;
            border: solid 1px #b59b61;
            // position: relative;

            left: 0%;
            outline: none;

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 15px;
                height: 15px;
                background-color: #b59b61;
                // transform: rotate(-315deg);
            }
        }

        &_handle.ui-state-active,
        &_handle.ui-state-hover {
            background: transparent;
            // box-shadow: 0 4px 4px 0 rgba(85,138,118,0.31), 0 0 0 7px rgba(252,202,82,0.2);
        }

        &_handle.ui-state-active + &_progress,
        &_handle.ui-state-hover + &_progress {
            // background: linear-gradient(359deg, #ffd46c, #fabf2e);
        }

        &_rangeVals {
            width: 100%;
            height: 40px;
            border-radius: 2px;
            border: solid 1px #3b4145;
            display: flex;
        }

        &_valViewWrap {
            width: 50%;
            max-width: 50%;
            padding: 0 15px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            letter-spacing: 0.2px;
            font-weight: 500;
            color: #fff;
        }

        &_valViewWrap-max {
            justify-content: flex-end;
            border-left: 1px solid #3b4145;
        }

        &_minValViewEl,
        &_maxValViewEl {
            margin-right: 4px;
            transform: translateZ(0);
        }

        &_popupInp {
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            border: 0;
            background-color: transparent;
            text-align: left !important;
            width: 100%;
        }
    }
}

// .b-calculator-table {
// 	display: inline-block;
// 	vertical-align: top;
// 	width: calc(75% - 24px);
// }