@media (min-width: 768px) {
    .b-calculator {
        display: inline-block;
        width: calc(42% - 23px);//calc(45% - 26px);
        width: 300px;
        padding: 46px 28px 0;
        margin: 0;

        &--here {
            margin: 0;
            padding: 0;
        }

        &__tab-top {
            margin-bottom: 28px;
        }

        &__link {
            font-size: 12px;
        }

        &--options {
            width: 50%;
            padding: 0 19px;
        }

        &--floor {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &--floor & {
            &__wrap {
                width: 50%;
                padding-right: 18px;
            }
        }

        &--last {
            padding-left: 26px;
        }

        &__text {
            margin-bottom: 17px;
        }

        &__slider-ui {
            margin-bottom: 15px;


            width: calc(100% - 12px);
            margin-left: 2px;

            &::before,
            &::after {
                width: 9px;
                height: 9px;
                top: -4px;
            }

            &:before {
                // left: -2px;
                left: 0px;
            }

            &:after {
                background: #d3d3d3;
                // right: -2px;
                right: -9px;
            }

            & .ui-slider-handle {
                width: 15px;
                height: 15px;
                top: -7px;
                margin-left: -3px;

                &::before {
                    width: 9px;
                    height: 9px;
                }
            }
        }

        &__top-info {
            &--options {
               margin-bottom: 28px;

               margin-right: -1px;
            }
        }

        &__item-info {
            min-width: 13px;
        }

        .MortgageCalc {
            &_text {
                color: #000;
                font-size: 16px;
            }

            &_sumWrapper {
                margin-bottom: 8px;
            }

            &_sign {
                padding-left: 0;
            }

            &_option {
                margin-bottom: 45px;
                &-duration {
                    border-bottom: solid 1px rgba(97, 97, 97, 0.15);;
                    margin-bottom: 24px;
                    padding-bottom: 40px;
                }
            }
        }

        .MortgageSlider {
            &_top-info {
                margin-bottom: 13px;
            }

            &_track {
                // width: calc(100% - 4px);
                // width: calc(100% - 14px);
                width: calc(100% - 12px);
                margin-left: 2px;

                &::before,
			    &::after {
                    top: -4px;
                    width: 9px;
				    height: 9px;
                }

                &:before {
                    // left: -2px;
                    left: 0px;
                }

                &:after {
                    background: #d3d3d3;
                    // right: -2px;
                    right: -9px;
                }
            }

            &_handle {
                top: -7px;
                width: 15px;
                height: 15px;
                margin-left: -3px;
                // background: transparent;
                &::before {
                    width: 9px;
				    height: 9px;
                }
            }
        }
    }

    .b-calculator-table {
        display: inline-block;
        vertical-align: top;
        // width: calc(55% + 26px);
        padding-top: 24px;
        width: calc(100% - 300px);
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1024px) {
    .b-calculator {
        // width: calc(30% - 7px);

        &--options {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 11px;
        }

        &--floor {
            display: block;
            margin-bottom: 27px;
        }

        &__top-info {
            &--options {
                padding: 0;
                margin-bottom: 16px;
            }
        }

        &__text {
            margin-bottom: 24px;
        }

        &--floor & {
            &__wrap {
                width: 100%;
                padding: 0;
            }

            &__text {
                margin-bottom: 17px;
            }
        }

        .MortgageCalc {
            &_option {
                &-duration {
                    margin-bottom: 43px;
                }
            }
        }
    }

    .b-calculator-table {
        // width: calc(70% - 43px);
        padding-top: 3px;
        margin-bottom: 19px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1280px) {
    .b-calculator {
        // width: calc(25% - 19px);

        &--options {
            width: 100%;
        }
    }

    .b-calculator-table {
        // width: calc(75% - 31px);
        margin-bottom: 14px;
    }
}

@media (min-width: 1920px) {
    .b-calculator {

        &--options {
            margin-bottom: 9px;
        }

        &--floor {
            margin-bottom: 23px;
        }

        &--floor & {

            &__text {
                margin-bottom: 22px;
            }
        }

        &__slider-ui {
            margin-bottom: 18px;
            padding: 0 4px;

            &::before,
            &::after {
                top: -6px;
                width: 13px;
                height: 13px;
            }

            & .ui-slider-handle {
                width: 21px;
                height: 21px;
                top: -10px;
                margin-left: -7px;

                &::before,
                &::after {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .b-calculator-table {
        margin-bottom: 38px;
    }
}