@media (min-width: 768px) {
    .b-slider-arrow {
        &--prev {
            margin-left: -65px;
            // margin-left: -158px;
        }

        &--next {
            margin-left: 55px;
            // margin-left: 150px;
        }


        &--prev-content,
        &--next-content {
            top: 50%;
            margin-top: -1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        &--prev-content {
            left: 20px;
            margin-top: -20px;
        }

        &--next-content {
            right: 20px;
            margin-top: -20px;
            transform: rotate(-180deg);
        }


        &--floor {
            .b-floor-arrow--floor & {

                &.prev {
                    transform: rotate(90deg);
                    margin-bottom: 35px;
                }

                &.next {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-slider-arrow {
        &--prev-content,
        &--next-content {
            margin-top: -19px;
        }

        &--prev-content {
            left: 56px;
        }

        &--next-content {
            right: 56px;
        }

        &--diary {

            &.prev {
                left: 49px;
            }

            &.next {
                right: 49px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-slider-arrow {
        &--prev {
            margin-left: -148px;
        }

        &--next {
            margin-left: 140px;
        }
        &--prev-content,
        &--next-content {
            margin-top: -10px;
        }

        &--prev-content {
            left: 50%;
            margin-left: -457px;
        }

        &--next-content {
            right: 50%;
            margin-right: -455px;
        }

        &--diary {

            &.prev {
                left: -89px;
            }

            &.next {
                right: -89px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-slider-arrow {
        &--prev-content,
        &--next-content {
            margin-top: -20px;
        }

        &--prev-content {
            margin-left: -568px;
        }

        &--next-content {
            right: 50%;
            margin-right: -568px;
        }


        &--type-flat {
            &.prev {
                left: 54px;
            }
    
            &.next {
                right: 57px;
            }
        }
    }
}