.b-slider-arrow {
    position: absolute;
    top: 0;
    display: inline-block;
    border-radius: 100%;


    &--next,
    &--prev {
        top: -10px;
        left: 50%;
        z-index: 1;
        padding: 10px;

        &.slick-disabled {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    &--prev {
        margin-left: -32px;
    }

    &--next {
        transform: rotate(180deg);
        margin-left: 25px;
        top: -14px;
    }

    &--prev-content,
    &--next-content {
        display: none;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        background-color: #153075;

        svg {
            width: 8px;
        }

        * {
            stroke: #fff;
        }

        &.slick-disabled {
            background-color: #ededed;
            //pointer-events: none;

            * {
                stroke: #000;
            }
        }
    }


    &--type-flat {
        width: 40px;
        height: 40px;
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        margin-top: -46px;

        svg {
            width: 10px;
        }

        &.prev {
            left: 35px;
            z-index: 1;
        }

        &.next {
            right: 39px;
            transform: rotate(-180deg);
        }
    }


    &--diary {
        width: 40px;
        height: 40px;
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        margin-top: -20px;


        &.slick-disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        svg {
            width: 10px;
        }


        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: #153075;

            svg path {
                stroke: #fff;
            }
        }

        &.prev {
            left: 22px;
            z-index: 1;
        }

        &.next {
            right: 22px;
            transform: rotate(-180deg);
        }
    }

    &--floor {
        position: static;
        width: 40px;
        height: 40px;
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &._disabled {
            opacity: .3;
            cursor: default;
        }

        svg {
            width: 8px;
        }

        &.next {
            transform: rotate(-180deg);
        }

        .b-floor-arrow--floor & {

            &.prev {
                transform: rotate(-90deg);
            }

            &.next {
                transform: rotate(90deg);
            }
        }

        .b-floor-arrow--commercial & {

            &.prev {
                transform: rotate(-90deg);
            }

            &.next {
                transform: rotate(90deg);
            }
        }
    }
}
