.b-flat {
    border: 1px solid transparent;
    cursor: pointer;
    height: 300px;
    padding: 26px 20px 16px;
    position: relative;
    transition: 0.5s;
    width: 100%;

    .no-touchevents &:hover,
    .touchevents &:active {
        border: 1px solid #153075;

        .b-flat__procent {
            background-color: #153075;
            color: #fff;
        }

        & .finish-icon {
            & .finish-icon-circle {
                fill: #153075;
            }
            & .finish-icon-img {
                stroke: #ffffff;
            }
        }
    }

    &__type {
        font-family: "AvenirNext-Regular";
        font-size: 14px;
        display: inline-block;
        margin-right: 25px;
    }

    &__size {
        font-family: "AvenirNext-Regular";
        font-size: 14px;

        sup {
            font-size: 10px;
        }
    }

    &__cost {
        color: #000;
        font-size: 16px;
        font-family: "AvenirNext-DemiBold";
        display: block;
    }

    &__image-wrap {
        text-align: center;
        height: 192px;
        margin-bottom: 16px;
        display: block;
    }

    &__image {
        width: auto;
        height: 100%;
    }

    &__procent {
        background-color: #ededed;
        border-radius: 50%;
        // color: rgba(0, 0, 0, .5);
        color: #000;
        display: inline-block;
        font-family: "AvenirNext-Regular";
        font-size: 16px;
        height: 35px;
        left: 20px;
        line-height: 36px;
        position: absolute;
        text-align: center;
        top: 22px;
        transition: 0.5s;
        width: 35px;

        // КОНФЛИКТ
        // &:active {
        //     background-color: #153075;
        // }
    }

    &__finish {
        // color: rgba(0, 0, 0, .5);
        color: #000;
        display: inline-block;
        font-family: "AvenirNext-Regular";
        font-size: 16px;
        height: 35px;
        left: 20px;
        line-height: 36px;
        position: absolute;
        text-align: center;
        top: 22px;
        transition: 0.5s;
        width: 35px;
        //background: url("../img/icons/finish-icon.svg") no-repeat;
        background-size: contain;

        &--discount {
            top:65px;
        }

    }

    &__text-wrap {
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 11px;
        white-space: nowrap;
        overflow: hidden;
        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 19px;
        }
    }

    &--options & {
        &__image-wrap {
            margin-bottom: 19px;
        }

        &__text-wrap {
            padding-left: 10px;
            padding-right: 8px;
            display: flex;
            justify-content: space-between;
        }

        &__cost {
            padding-left: 9px;
        }
    }

    &--line {
        width: 100%;
        height: auto;
        padding: 13px 20px 0;
        border-bottom: solid 1px #ededed;
        // margin-bottom: 9px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s;
        position: relative;
        justify-content: space-between;

        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: #ededed;
            border: 1px solid transparent;

            & .b-flat__procent {
                background-color: #fff;
                // color: rgba(0, 0, 0, 0.5);
                color: #000;
            }

            & .finish-icon {
                & .finish-icon-circle {
                    fill: #ffffff;
                }
                & .finish-icon-img {
                    stroke: #000000;
                }
            }
        }
    }

    &--line & {
        &__image-wrap {
            display: none;
        }

        &__mobileRow {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: -10px;
        }

        &__procent-wrapper {
            width: 14%;
            text-align: right;
        }

        &__text-wrap {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            //width: 84%;
            margin-right: 20px;
            flex-grow: 1;
        }

        &__flat-text,
        &__type,
        &__size,
        &__cost {
            width: 50%;
            font-size: 12px;

            color: #000;
        }

        &__flat-text {
            font-family: "AvenirNext-Regular";
            font-size: 12px;
            color: #000;
            margin-bottom: 16px;
        }

        &__type {
            margin: 0;
            text-align: right;
        }

        &__cost {
            text-align: right;
        }

        &__procent {
            position: static;
            width: 25px;
            height: 25px;
            font-size: 13px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        &__finish {
            position: static;
            width: 25px;
            height: 25px;
            font-size: 13px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;

            &:hover {
                & svg {
                    .finish-icon-circle {
                        fill: #ffffff;
                    }
                }
            }
        }

        &__procent-text {
            display: none;
        }
    }

    &__item-text {
        font-size: 14px;
        font-family: "AvenirNext-Regular";
        color: #000;

        &--first {
            width: 25%;
            margin-bottom: 11px;
        }

        &--second {
            width: 19%;
        }

        &--third {
            width: 20%;
        }

        &--four {
            width: 27%;
        }

        &--five {
            width: 9%;
        }

        &--six {
            width: 51%;
            white-space: normal;
            padding-right: 15px;
        }

        &--seven {
            width: 40%;
        }
    }

    &__mobile-text {
        display: block;
        font-size: 9px;
        // color: #000;
        // opacity: .9;
        font-family: "AvenirNext-Regular";
        margin-bottom: 4px;

        color: rgba(0, 0, 0, 0.5);
    }

    &--type {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ededed;
        padding-top: 31px;
        padding-bottom: 0;

        .no-touchevents &:hover,
        .touchevents &:active {
            border: 1px solid transparent;
            border-bottom: 1px solid #ededed;

            .b-flat__procent {
                background-color: #ededed;
                color: #000;
            }

            & .finish-icon {
                & .finish-icon-circle {
                    fill: #ffffff;
                }
                & .finish-icon-img {
                    stroke: #000000;
                }
            }
        }
    }

    &--type & {
        &__text-wrap {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        &__procent-wrapper {
            width: 9%;
        }

        &__procent {
            position: static;
            width: 25px;
            height: 25px;
            font-size: 11px;
            line-height: 25px;
            color: #000;
        }

        &__finish {
            position: static;
            width: 25px;
            height: 25px;
            font-size: 11px;
            line-height: 25px;
            color: #000;
        }
    }

    &--slider {
        width: 100%;
        height: 275px;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        padding: 19px;

        .no-touchevents &:hover,
        .touchevents &:active {
            border-color: transparent;
        }
    }

    &__column {
        width: 55%;

        &:last-child {
            width: 45%;
            text-align: right;
        }
    }

    &--slider {
        outline: none;
    }

    &--slider & {
        &__image-wrap {
            height: 167px;
            margin-bottom: 19px;
        }

        &__text-wrap {
            display: flex;
            margin: 0;
        }

        &__type {
            margin-bottom: 14px;
            margin-right: 0;
            display: block;
        }

        &__cost {
            margin-bottom: 14px;
            font-family: "AvenirNext-Medium";
        }
    }

    &--commercial {
        padding: 15px 20px 6px;
    }

    &--commercial & {
        &__text-wrap {
            color: #000;
            width: 100%;
        }

        &__korpus,
        &__price {
            display: none;
        }

        &__floor {
            order: 0;
            width: 16%;

            span {
                display: none;
            }
        }

        &__korpus,
        &__type--commercial,
        &__floor,
        &__size--commercial,
        &__price,
        &__cost--commercial {
            color: #000;
            font-family: AvenirNext-Regular;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
        }

        &__type {
            order: 2;
            width: 28%;//30%;
        }

        &__size {
            order: 1;
            width: 24%;
        }

        &__cost {
            order: 3;
            width: 32%;//27%;
        }
    }

    &--commercial-flat {
        height: 300px;
    }

    &--commercial-flat & {
        &__type {
            font-size: 16px;
            margin-bottom: 14px;
            padding-right: 10px;

            &--small {
                font-size: 14px;
            }
        }

        &__column {
            &:last-child {
                text-align: right;
            }
        }

        &__cost {
            font-size: 18px;
        }
    }
}
