@media (min-width: 768px) {
    .b-flat {
        display: inline-block;
        height: 260px;
        margin: 0px 16px 19px 0;
        padding: 15px 10px 16px;
        text-align: center;
        width: 211px;

        .b-flat-block--calculator & {
            margin-left: 8px;
            margin-right: 8px;
            width: calc(50% - 20px);
        }

        &__image-wrap {
            height: 132px;
            margin-bottom: 20px;
        }

        &__text-wrap {
            margin-bottom: 14px;
            text-align: center;
        }

        &__type {
            margin-bottom: 10px;
            margin-right: 0px;
        }

        &__size {
            display: block;
        }

        &__procent {
            left: 9px;
            top: 10px;
        }

        &__finish {
            left: 9px;
        }

        &__item-text {
            font-size: 17px;
            margin: 0;
            text-align: left;

            &--first {
                width: 23%;
                padding-left: 14px;
            }

            &--second {
                width: 15%;
                padding-left: 2px;
            }

            &--third {
                width: 18%;
            }

            &--four {
                width: 21%;
            }

            &--five {
                width: 11%;
            }

            &--six {
                width: 48%;
            }

            &--seven {
                width: 33%;
                padding-left: 7px;
            }
        }

        &--options {
            margin: 0px 13px 19px 0px;
        }

        &--options & {
            &__text-wrap {
                flex-direction: column;
            }
        }

        &--line {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            // padding: 11px 21px 14px;
            margin-bottom: 0;

            padding: 11px 35px 14px 20px;
            // border-left: 0;
            // border-right: 0;
        }

        &--line & {
            &__image-wrap {
                display: inline-block;
                // width: 5%;//21px;
                width: 6%;
                height: auto;
                margin-bottom: 0;
                text-align: left;
            }

            &__image {
                width: 100%;
                height: auto;
                max-width: 21px;
            }

            &__flat-text,
            &__type,
            &__size {
                font-size: 14px;
                text-align: left;
            }

            &__cost {
                font-size: 16px;
            }

            &__procent-text {
                display: inline-block;
                font-size: 14px;
                color: #000;
                font-family: "AvenirNext-Regular";
            }

            &__text-wrap {
                justify-content: flex-start;
                width: 77%;
                margin: 0;
                flex-grow: 0;
            }

            &__flat-text {
                padding-left: 4px;
                width: 18.4%; //19%;
                margin: 0;
            }

            &__type {
                width: 19.7%; //19%;
            }

            &__size {
                width: 27.6%; //29%;
            }

            &__cost {
                text-align: left;
                width: 34.2%; //33%;
            }

            &__procent-wrapper {
                text-align: left;
                margin-top: 0;
                margin-left: 5px;

                margin-left: 0;
                width: auto;
            }

            &__procent {
                width: 35px;
                height: 35px;
                margin-right: 7px;
                font-size: 16px;
            }

            &__finish {
                width: 35px;
                height: 35px;
                margin-right: 7px;
                font-size: 16px;
            }

            &__mobileRow {
                flex-direction: row;
                justify-content: space-between;
                flex-grow: 1;
            }

        }

        &__mobile-text {
            display: none;
        }

        &--type {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            min-height: 61px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .no-touchevents &:hover,
            .touchevents &:active {
                background-color: #ededed;

                .b-flat__procent {
                    background-color: #fff;
                }
            }
        }

        &--type & {
            &__text-wrap {
                flex-wrap: nowrap;
                margin-bottom: 0;
                align-items: center;
                min-height: 59px;
                // padding-top: 12px;
                // padding-bottom: 12px;
            }

            &__procent-wrapper {
                width: 15%;
            }

            &__procent {
                width: 35px;
                height: 35px;
                font-size: 16px;
                line-height: 38px;
                margin-right: 13px;
            }

            &__finish {
                width: 35px;
                height: 35px;
                font-size: 16px;
                line-height: 38px;
                margin-right: 13px;
            }

            &__item-text {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        &--slider {
            width: 275px;
            height: 275px;
            padding: 20px 17px 0px;
            margin-bottom: 0;
            margin-left: 7px;
            // margin: 0 10px;
        }

        &--slider & {
            &__text-wrap {
                text-align: left;
            }

            &__cost {
                margin-bottom: 16px;
            }
        }

        &--commercial {
            padding: 17px 0 20px;
        }

        &--commercial & {
            &__text-wrap {
                justify-content: space-between;
                width: 100%;
            }

            &__korpus,
            &__price {
                display: inline-block;
            }

            &__floor {
                span {
                    display: inline-block;
                }
            }

            &__korpus &__type--commercial,
            &__floor,
            &__size--commercial,
            &__price,
            &__cost--commercial {
                width: auto;
            }

            &__korpus {
                order: 0;
                width: 18%;
            }

            &__type {
                order: 1;
                width: 19%;
            }

            &__floor {
                order: 2;
                width: 16%;
            }

            &__size {
                order: 3;
                width: 16%;
            }

            &__price {
                font-size: 16px;
                order: 4;
                width: 15%;//19%;
            }

            &__cost {
                font-size: 16px;
                order: 5;
                white-space: nowrap;
                width: 16%;//12%;
            }
        }

        &--commercial-flat {
            height: auto;
        }
    }
}

@media (min-width: 1024px) {
    .b-flat {
        width: 300px;
        height: 300px;
        display: inline-block;
        padding: 26px 22px 16px;
        text-align: left;
        margin-right: 22px;
        // margin: 0 11px;

        .b-flat-block--calculator & {
            margin-right: 12px;
            margin-left: 12px;
            width: calc(50% - 28px);
        }

        &__image-wrap {
            height: 190px;
            margin-bottom: 18px;
        }

        &__text-wrap {
            margin-bottom: 10px;
            text-align: left;
        }

        &__type {
            margin-bottom: 0px;
            margin-right: 10px;
        }

        &__size {
            display: inline-block;
        }

        &__procent {
            left: 20px;
            top: 19px;
        }

        &__finish {
            left: 20px;
        }

        &__item-text {
            &--first {
                width: calc(100% / 8 + 6px);
                padding-left: 14px;
            }

            &--second {
                width: calc(100% / 8 - 19px);
                padding-left: 2px;
            }

            &--third {
                width: calc(100% / 8 - 16px);
            }

            &--four {
                width: calc(100% / 8 - 7px);
            }

            &--five {
                width: calc(100% / 8 - 44px);
            }

            &--six {
                width: calc(100% / 8 + 56px);
            }

            &--seven {
                width: calc(100% / 8 + 27px);
                padding-left: 7px;
            }
        }

        &--options {
            vertical-align: top;
            width: 310px;
            margin-right: 9px;
        }

        &--options & {
            &__text-wrap {
                flex-direction: row;
                padding: 0;
            }

            &__cost {
                padding: 0;
            }
        }

        &--options {
            width: 300px;
            margin-bottom: 0;
        }

        &--line {
            width: 100%;
            height: auto;
            display: inline-flex;
            padding: 18px 22px 12px;
            padding: 18px 35px 12px 20px;
        }

        &--line & {
            &__image-wrap {
                width: 7%;
            }

            &__text-wrap {
                width: 77%;
            }

            &__procent-wrapper {
                width: 18%;
                width: 35px;
                white-space: nowrap;
            }

            &__flat-text {
                // padding-left: 6px;
                padding-left: 0;
                width: 21%;
            }

            &__type {
                // padding-left: 4px;
                padding-left: 0;
                width: 18.5%;
            }

            &__size {
                // padding-left: 6px;
                padding-left: 0;
                width: 22%;
            }

            &__cost {
                // padding-left: 4px;
                padding-left: 0;
                width: 34.5%;
            }

            &__percent {
                font-size: 16px;
            }
        }

        &--type {
            width: 100%;
            height: auto;
            padding: 0;
            display: flex;
            // border-left: 0;
            // border-right: 0;
        }

        &--type & {
            &__procent-wrapper {
                width: calc(100% / 8 - 14px);
                width: 40px;
                text-align: center;
            }
            &__procent {
                margin-right: 0;
            }
        }

        &--slider {
            width: 275px;
            height: 275px;
            padding: 20px 17px 16px;
            // margin-bottom: 0;
            // margin-left: 2px;
            margin: 0 10px;
        }

        &--commercial-flat {
            height: auto;
            padding-bottom: 0;
        }

        &--commercial-flat & {
            &__image-wrap {
                height: 149px;
                margin-bottom: 29px;
            }
        }

        &--commercial {
            padding: 20px 0;
            margin: 0;
        }

        &--commercial & {
            &__text-wrap {
                width: 100%;
            }

            &__korpus {
                width: 17%;
            }

            &__type {
                width: 20%;
            }

            &__floor {
                width: 18.5%;
            }

            &__size {
                width: 19%;
            }

            &__price {
                width: 14%;//16%;
            }

            &__cost {
                width: 11.5%;//9.5%;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-flat {
        transition: 0.5s;
        cursor: pointer;

        .no-touchevents &:hover,
        .touchevents &:active {
            border: 1px solid #153075;

            .b-flat__procent {
                background-color: #153075;
            }
        }

        &__procent {
            transition: 0.5s;
        }

        &__item-text {
            &--first {
                width: calc(100% / 8 + 0px); //19%;
                padding-left: 28px;
            }

            &--second {
                width: calc(100% / 8 - 24px); //17%;
                padding-left: 2px;
            }

            &--third {
                width: calc(100% / 8 - 26px); //17%;
            }

            &--four {
                width: calc(100% / 8 - 15px); //18%;
            }

            &--five {
                width: calc(100% / 8 - 51px); //13%;
            }

            &--six {
                width: calc(100% / 8 + 99px); //38%;
                padding-right: 30px;
            }

            &--seven {
                width: calc(100% / 8 + 43px); //29%;
                padding-left: 14px;
            }
        }

        &--line,
        &--type {
            .no-touchevents &:hover,
            .touchevents &:active {
                border: 1px solid transparent;

                & .b-flat__procent {
                    background-color: #fff;
                }
            }
        }

        &--line & {
            &__image-wrap {
                text-align: left;
                width: 9%;
            }

            &__text-wrap {
                width: 71%;
            }

            &__procent-wrapper {
                width: 48%;
            }

            &__flat-text {
                width: 22.5%;
                // padding-left: 16px;
            }

            &__type {
                width: 15%;
            }

            &__size {
                width: 27.5%;
            }

            &__cost {
                width: 35%;
            }
        }

        .b-flat-block--calculator & {
            margin-right: 10px;
            margin-left: 10px;
            width: calc((100% / 3) - 20px);
            max-width: 300px;
        }

        &--type & {
            &__procent-wrapper {
                width: calc(100% / 8 - 25px); //15%;
                width: 4%
            }

            &__procent {
                margin-left: 6px;
            }
        }

        &--slider {
            // margin-right: 18px;
            padding: 20px 15px 0px;
            margin: 0 10px;

            .no-touchevents &:hover,
            .touchevents &:active {
                border-color: transparent;
                margin-top: -10px;
            }
        }

        &--commercial {
            padding: 18px 15px 21px; //20px 20px;

            .no-touchevents &:hover,
            .touchevents &:active {
                background: #ededed;
                border: 1px solid transparent;
                border-top: 1px solid #ededed;
                border-bottom: 1px solid #ededed;
                transition: none;
                transition: background 0.5s;
            }
        }

        &--commercial & {
            &__text-wrap {
                width: 100%;
            }

            &__korpus {
                width: 17%;
            }

            &__type {
                width: 20%;
            }

            &__floor {
                width: 18.5%;
            }

            &__size {
                width: 19%;
            }

            &__price {
                width: 15%;//17%;
            }

            &__cost {
                width: 10.5%;//8.5%;
            }

            &__price,
            &__cost {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-flat {
        &__item-text {
            &--first {
                width: calc(100% / 8 + 3px); //19%;
                padding-left: 28px;
            }

            &--second {
                width: calc(100% / 8 - 42px); //17%;
            }

            &--third {
                width: calc(100% / 8 - 43px); //17%;
            }

            &--four {
                width: calc(100% / 8 - 26px); //18%;
            }

            &--five {
                width: calc(100% / 8 - 83px); //13%;
            }

            &--six {
                width: calc(100% / 8 + 104px); //38%;
            }

            &--seven {
                width: calc(100% / 8 + 50px); //29%;
            }
        }

        &--options {
            margin-right: 12px;
            margin-bottom: 29px;
        }

        &--line {
            padding-top: 20px;
            padding-left: 29px;
        }

        &--line & {
            &__image-wrap {
                width: 10%;
            }

            &__text-wrap {
                width: 59%;
            }

            &__procent-wrapper {
                width: 11%;
            }

            &__flat-text {
                width: 20.3%;
                // padding-left: 18px;
            }

            &__type {
                width: 18.6%;
            }

            &__size {
                width: 25.4%;
            }

            &__cost {
                width: 35.5%;
            }

            &__mobileRow {
                flex-grow: 0;
                width: 11%;
            }
        }

        &--type & {
            &__procent-wrapper {
                width: calc(100% / 8 - 111px);
                //width: 35px;
            }
        }

        &--commercial-flat & {
            &__image-wrap {
                height: 154px;
                margin-bottom: 25px;
            }
        }

        &--commercial {
            padding: 20px 20px;
        }

        &--commercial & {
            &__text-wrap {
                width: 100%;
            }

            &__korpus {
                width: 17%;
            }

            &__type {
                width: 20%;
            }

            &__floor {
                width: 18.5%;
            }

            &__size {
                width: 17%;
            }

            &__price {
                width: 17%;
            }

            &__cost {
                width: 10.5%;
            }
        }
    }
}
