mixin apart-info()
    +b.apart-info.js-default-header
        +e('ul').list
            +e.item
                +e.group
                    +e.title Площадь
                    +e.data 62.2&nbsp;м&sup2;
                +e.group
                    +e.title Этаж
                    +e.data
                        | 12
                        +e('span').floor /19
                +e.group
                    +e.title Высота потолков:
                    +e.data 3.25&nbsp;м
            +e.item.--view
                +e.group.--block.--view
                    +e.title Вид из&nbsp;окон
                    +e.data.--view Вид на&nbsp;внутреннее пространство двора, Вид&nbsp;на&nbsp;город
            +e.item
                +e.group
                    +e.title Цена за м&sup2
                    +e.data 15&nbsp;506&nbsp;910&nbsp;₽
            +e.item
                +e.group.--block.--price
                    +e.title.--price Цена:
                    +e.data.--price 15&nbsp;506&nbsp;910&nbsp;₽
                +e.group.--block
                    include button.pug
                    +button('Оставить заявку', false).b-button--apart

        +e.text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut&nbsp;molestie tortor auctor sed. 
            p Maecenas in&nbsp;bibendum turpis. Donec sollicitudin ex&nbsp;nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at&nbsp;justo pellentesque feugiat.
            ul
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut&nbsp;molestie tortor auctor sed. 
                li Maecenas in&nbsp;bibendum turpis. Donec sollicitudin ex&nbsp;nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at&nbsp;justo pellentesque feugiat.

mixin apart-info-commerce()
    +b.apart-info.--commerce.js-default-header
        +e('ul').list
            +e.item
                +e.group
                    +e.title Площадь
                    +e.data 103.6&nbsp;м&sup2;
                +e.group
                    +e.title Этаж
                    +e.data
                        | 1
                        +e('span').floor /19
                +e.group--ceiling
                    +e.title Высота потолков:
                    +e.data 3.25&nbsp;м
                +e.group
                    +e.title Цена за м²
                    +e.data 150&nbsp;000&nbsp;₽
                +e.group
                    +e.title Стоимость
                    +e.data 15,2&nbsp;млн.&nbsp;₽
            +e.item.--block
                +e.group.--block
                    include button.pug
                    +button('Оставить заявку', false).b-button--apart.b-button--com

        +e.text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut&nbsp;molestie tortor auctor sed. 
            p Maecenas in&nbsp;bibendum turpis. Donec sollicitudin ex&nbsp;nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at&nbsp;justo pellentesque feugiat.
            ul
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut&nbsp;molestie tortor auctor sed. 
                li Maecenas in&nbsp;bibendum turpis. Donec sollicitudin ex&nbsp;nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at&nbsp;justo pellentesque feugiat.