mixin architecture-and-facades(data)
    +b.architecture-and-facades
        each item in data.items
            +e.wrap
                .b-container
                    +b('h2').title.--center-event.--architecture-and-facades #{item.title}
                    +b.text.--architecture-and-facades 
                        p #{item.text}
                +e.image-wrapper
                    +e('img').image(src=item.image, alt="архитектура и фасады")
                    +e('img').image-tablet(src=item.tablet, alt='архитектура и фасады')
                    +e('img').image-laptop(src=item.laptop, alt='архитектура и фасады')
                    +e('img').image-desktop(src=item.desktop, alt='архитектура и фасады')
                    +e('img').image-fullhd(src=item.fullhd, alt='архитектура и фасады')
            +e.wrap
                .b-container
                    +b.text.--architecture-bottom
                        p #{item.text_bottom}
                        p #{item.paragraph}
                +e.image-wrapper-bottom
                    +e('img').image(src=item.image_bottom, alt="архитектура и фасады")
                    +e('img').image-tablet(src=item.tablet_bottom, alt='архитектура и фасады')
                    +e('img').image-laptop(src=item.laptop_bottom, alt='архитектура и фасады')
                    +e('img').image-desktop(src=item.desktop_bottom, alt='архитектура и фасады')
                    +e('img').image-fullhd(src=item.fullhd_bottom, alt='архитектура и фасады')