mixin breadcrumbs(...items)
    nav.b-breadcrumbs
        .b-breadcrumbs__inner
            ul.b-breadcrumbs__list
                each item in items
                    li.b-breadcrumbs__item
                        a.b-breadcrumbs__link(href='javascript:void(0);', title='') #{item}
