mixin button(content, link)
    if link == true
        a.b-button( href="javascript:void(0);" title=`${content}` )&attributes( attributes ) #{content}
            block

    else
        button.b-button(class!=attributes.class) #{content}
            block