mixin calculator(name1, name2, name3, type1, type2, type3, button, classClalc)
    form(method="post", class=classClalc).js-calculate
        .MortgageCalc_option.MortgageCalc_option-firstPayment
            .MortgageCalc_text #{name1}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum 5657657567
                span.MortgageCalc_sign ₽
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-calc-price
                .MortgageSlider_top-info
                    .MortgageSlider_item 3,3 тыс.
                    .MortgageSlider_item 24,5 млн.
                    .MortgageSlider_item 56 млн.
                input(name=type1 type="hidden" data-min-value="330000" data-max-value="56000000" autocomplete="off" value="3600000")
        .MortgageCalc_option.MortgageCalc_option-price
            .MortgageCalc_text #{name2}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum
                span.MortgageCalc_sign ₽
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-fee
                .MortgageSlider_top-info
                    .MortgageSlider_item 0 млн.
                    .MortgageSlider_item 5,5 млн.
                    .MortgageSlider_item 10,4 млн.
                input(name=type2 type="hidden" data-min-value="0" data-max-value="10400000" autocomplete="off" value="4183128")
        .MortgageCalc_option.MortgageCalc_option-duration
            .MortgageCalc_text #{name3}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-age
                .MortgageSlider_top-info
                    .MortgageSlider_item 1 год
                    .MortgageSlider_item 15 лет
                    .MortgageSlider_item 30 лет
                input(name=type3 type="hidden" data-min-value="1" data-max-value="30" autocomplete="off" value="20")
        .MortgageCalc_bottom
            .MortgageCalc_text.MortgageCalc_text--info Сумма кредита:
                .MortgageCalc_sum.MortgageCalc_sum--info
                    span 7 000 000 
                    .MortgageCalc_sign.MortgageCalc_sign--info ₽
            .MortgageCalc_button-bottom(class="js-button-desktop-" + button)
                button.MortgageCalc_button(class="js-button-" + button) Оформить заявку

mixin calculator2(name1, name2, name3, type1, type2, type3, button, classClalc)
    form(method="post", class=classClalc).js-calculate
        .MortgageCalc_option.MortgageCalc_option-monthlyPayment
            .MortgageCalc_text #{name1}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum 5657657567
                span.MortgageCalc_sign ₽
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-calc-price
                .MortgageSlider_top-info
                    .MortgageSlider_item 6,6 млн.
                    .MortgageSlider_item 24,5 млн.
                    .MortgageSlider_item 56 млн.
                input(name=type1 type="hidden" data-min-value="6600000" data-max-value="56000000" autocomplete="off" value="6600000")
        .MortgageCalc_option.MortgageCalc_option-firstPayment
            .MortgageCalc_text #{name2}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum
                span.MortgageCalc_sign ₽
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-fee
                .MortgageSlider_top-info
                    .MortgageSlider_item 0 млн.
                    .MortgageSlider_item 5,5 млн.
                    .MortgageSlider_item 10,4 млн.
                input(name=type2 type="hidden" data-min-value="0" data-max-value="10400000" autocomplete="off" value="2183128")
        .MortgageCalc_option.MortgageCalc_option-duration
            .MortgageCalc_text #{name3}
            .MortgageCalc_sumWrapper
                span.MortgageCalc_sum
            .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider#mortgage-age
                .MortgageSlider_top-info
                    .MortgageSlider_item 1 год
                    .MortgageSlider_item 15 лет
                    .MortgageSlider_item 30 лет
                input(name=type3 type="hidden" data-min-value="1" data-max-value="30" autocomplete="off" value="20")
        .MortgageCalc_bottom
            .MortgageCalc_text.MortgageCalc_text--info Сумма кредита:
                .MortgageCalc_sum.MortgageCalc_sum--info
                    span 7 000 000 
                    .MortgageCalc_sign.MortgageCalc_sign--info ₽
            .MortgageCalc_button-bottom(class="js-button-desktop-" + button)
                button.MortgageCalc_button(class="js-button-" + button) Оформить заявку