mixin capital-block(data)
    +b.capital-block
        each item in data.items
            +e.image-wrap
                +e('img').image(src=item.mobile, alt='Материнский капитал')
                +e('img').image-tablet(src=item.tablet, alt='Материнский капитал')
                +e('img').image-laptop(src=item.laptop, alt='Материнский капитал')
                +e('img').image-desktop(src=item.desktop, alt='Материнский капитал')
            .b-container
                +b.text.--capital-block
                    p #{item.text}
                    p #{item.paragraph}