mixin center-event()
    .b-center-event
        h2.b-title.b-title--center-event В самом центре событий
        .b-text.b-text--center
            span.b-frame-icon.b-frame-icon--center-event
            p Каким бы способом вы ни передвигались, уехать из вашего нового домана работу и вернуться обратно вечером вы сможете быстро и комфортно.
            p Если вы предпочитаете автомобиль, то всего за 3 минуты доедете от дома до Проспекта Мира, с которого, кстати, есть удобный съезд к ЖК «Серебряный фонтан» , причем при движении в обе стороны. Путь до центра города займет 10 минут, до аэропорта Шереметьево — меньше 40.


mixin center-event-tech(title, src1, src2, src3, src4)
    .b-center-event.b-center-event--tech(class!=attributes.class)
        h2.b-title.b-title--center-event #{title}
        .b-center-event__wrapper
            .b-text.b-text--center
                block
            .b-center-event__image-wrapper
                image.b-center-event__image.b-center-event__image--mobile(src=src1 , alt="Кирпично-монолитное строительство")
                image.b-center-event__image.b-center-event__image--tablet(src=src2 , alt="Кирпично-монолитное строительство")
                image.b-center-event__image.b-center-event__image--laptop(src=src3 , alt="Кирпично-монолитное строительство")
                image.b-center-event__image.b-center-event__image--desktop(src=src4 , alt="Кирпично-монолитное строительство")

mixin center-event-bim(title, src1, src2, src3, src4)
    .b-center-event.b-center-event--tech(class!=attributes.class)
        .b-center-event__wrapper
            .b-text.b-text--center
                h2.b-title.b-title--center-event #{title}
                block
            .b-center-event__image-wrapper
                image.b-center-event__image.b-center-event__image--mobile(src=src1 , alt=title)
                image.b-center-event__image.b-center-event__image--tablet(src=src2 , alt=title)
                image.b-center-event__image.b-center-event__image--laptop(src=src3 , alt=title)
                image.b-center-event__image.b-center-event__image--desktop(src=src4 , alt=title)

mixin center-event-zoom(title, src)
    .b-center-event.b-center-event--tech(class!=attributes.class)
        .b-center-event__wrapper.b-center-event__wrapper--zoom
            h2.b-title.b-title--center-event #{title}
            .b-center-event__image-wrapper
                image.b-center-event__image(src=src , alt=title)
        .b-text.b-text--center.b-text--zoom
            p Green Zoom — это уникальная для России система сертификации, которая дает возможность со 100% точностью оценивать строящийся дом на предмет энергоэффективности и экологичности. «Зеленый сертификат» позволяет проводить одновременный анализ множества связанных показателей и незаменим при проектировании домов бизнес-класса. 
            p Благодаря Green Zoom «Серебряный фонтан» подарит своим жителям возможность жить в условиях абсолютной экологической чистоты и, кроме того, эффективно расходовать ресурсы.