mixin checkbox(name, id, title, js, value)
    +b.checkbox( class!=attributes.class )
        +e('input').input( type="checkbox", value=value, name=name, id=id, class=(js ? js : '') )&attributes( attributes )
        +e('label').name( for=id, class!=attributes.class )
            if title
                +e('span').text !{title}
            block
