.CookiesAgree._hide(data-cookiesagree)
    .CookiesAgree_inner
        .CookiesAgree_txt Информируем вас о сборе метаданных (cookie, ip-адрес и местоположение) для корректного функционирования сайта.<br>Если вы согласны с нашими способами использования файлов cookie, просто продолжайте пользоваться сайтом.
        button.CookiesAgree_btn.b-button(data-cookiesagree-btn) Соглашаюсь