mixin destination()
    +b.destination
        +e.image-wrapper
            +e('img').image(src='img/backgrounds/zhk/zhk.jpg' title="")
        +e.info
            +e('ul').list
                +e.item--road
                    +e.icon-block
                        +e('img').icon(src='img/icons/road.svg' alt='' title='').--road
                    +e.text-block
                        +e('p').text--strong
                            +e('mark').num 700
                            | 
                            | м
                        +e('p').text до проспекта Мира
                +e.item--center
                    +e.icon-block
                        +e('img').icon(src='img/icons/icon-center.svg' alt='' title='').--center
                    +e.text-block
                        +e('p').text--strong
                            +e('mark').num 10
                            | 
                            | мин
                        +e('p').text до центра
                +e.item--svo
                    +e.icon-block
                        +e('img').icon(src='img/icons/icon-svo.svg' alt='' title='').--svo
                    +e.text-block
                        +e('p').text--strong
                            | >
                            | 
                            +e('mark').num 40
                            | 
                            | мин
                        +e('p').text до аэропорта Шереметьево
    .b-container
        +b.text.--destination
            p Если же вы — поклонник общественного транспорта, развитая транспортная сеть района в вашем полном распоряжении. Метро Алексеевская находится в 500 метрах, а автобусная остановка — в минуте ходьбы от главного входа.
            p Более того, в ближайшее время дорожная ситуация будет только улучшаться. Прямо сейчас в Москомархитектуре прорабатывается проект реконструкции дорожной сети района, в том числе расширения дорог в районе «Серебряного фонтана».