mixin environment(data)
    each item in data.items
        +b.environment(class!=attributes.class)
            .b-container
                +e('a').link #{item.link}
                h2.b-title.b-title--environment #{item.title}
                +e('span').text #{item.text}
