mixin environment-masterpieces()
    .b-environment-worthy
        .b-container
            h2.b-title.b-title--center-event Для достойных людей
            .b-environment-worthy__cont
                .b-environment-worthy__item
                    p Греческий историк Фукидид говорил: &laquo;Город&nbsp;&mdash; это люди, а&nbsp;не&nbsp;стены&raquo;. Что&nbsp;ж, он&nbsp;несомненно выбрал&nbsp;бы жизнь в&nbsp;&laquo;Серебряном фонтане&raquo;.

                    p Алексеевский район заселен очень давно. Еще в&nbsp;XVII веке здесь селились преимущественно иностранцы. В&nbsp;XIX столетии их&nbsp;сменили наиболее успешные представители московского купечества. Как раз тогда район и&nbsp;начал расцветать. В&nbsp;советское время здесь жили в&nbsp;основном представители интеллектуальной элиты страны: космонавты, инженеры, академики. Можно смело говорить, что сегодняшнее население Алексеевского района&nbsp;&mdash; это прекрасно воспитанные представители культурной московской элиты.
                .b-environment-worthy__item
                    picture
                        source(srcset='/img/0-5-gerasimov-2-3_small.jpg', media='(max-width:1024px)')
                        img(src="/img/0-5-gerasimov-2-3_small.jpg", alt="")
    .b-environment-worthy
        .b-container
            h2.b-title.b-title--center-event Рядом с парками и прудами
            .longread-video(data-video)
                .longread-video__bg(style="background-image: url('img/video-bg.jpg')")
                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/smcCErpvc-4?controls=0", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
    .b-container
        .b-environment-masterpieces
            h2.b-title.b-title--center-event.b-title--environment-masterpieces В культурном окружении
            .b-text.b-text--environment-masterpieces
                span.b-environment-masterpieces__border-top
                span.b-frame-icon.b-frame-icon--environment-masterpieces
                p Архитектура Алексеевского района и его окружения отвечает качеству жизни и вкусу его жителей. Прошлое живет здесь в памятниках архитектуры, среди которых особенно выделяются здания Бахрушинского приюта с храмом Троицы Живоначальной и выполненный в стиле русского узорочья храм Тихвинской иконы Божией Матери.
                p XX век представлен здесь великолепными витринами Проспекта Мира, улицы Космонавтов и ВДНХ. Здесь можно дойти пешком до зданий, возведенных великим архитектором Шехтелем и украшенных гениальным скульптором Коненковым. Облик Алексеевского района смог вобрать в себя лучшее из дореволюционной, сталинской и позднесоветской архитектуры.
                span.b-frame-icon.b-frame-icon--environment-masterpieces-bottom
                span.b-environment-masterpieces__border-bottom
    .b-environment-masterpieces__image-wrapper
        span.b-environment-masterpieces__image-text Окружение
        img.b-environment-masterpieces__image(src="/img/backgrounds/hram.gif", alt="Храм")
        img.b-environment-masterpieces__image.b-environment-masterpieces__image-tablet(src="/img/backgrounds/hram-tablet.gif", alt='Храм')
        img.b-environment-masterpieces__image.b-environment-masterpieces__image-laptop(src="/img/backgrounds/hram-laptop.gif", alt='Храм')
        img.b-environment-masterpieces__image.b-environment-masterpieces__image-desktop(src="/img/backgrounds/hram-desktop.gif", alt='Храм')
        img.b-environment-masterpieces__image.b-environment-masterpieces__image-fullhd(src="/img/backgrounds/hram-fullhd.gif", alt='Храм')
    .b-container
        .b-text.b-text--masterpieces-bottom
            p В то же время «Серебряный фонтан» строится буквально в окружении зеленых зон. В пешей доступности от него расположен отреставрированный в 2016 году парк Сокольники, где вы найдете все для семейных прогулок: 13 водоемов, в том числе знаменитые Путяевские пруды площадью более 6 Га, сиреневый и розовый сады, многочисленные аттракционы. Ну а те, кто желает совершить продолжительную прогулку или провести время на природе, за 10-12 минут доедут до Ботанического сада или Лосиного острова.
            p Недалеко от комплекса находится и ВДНХ с многочисленными аттракционами, фонтанами и павильонами. На ВДНХ часто проходят интереснейшие выставки. Да и просто прогуляться здесь в теплое время года бесконечно приятно.
