mixin filter-flat(data)
    +b.filter-flat(class!=attributes.class)
        +e.list
            each item in data.items
                +e.item(class=item.class)
                    +e.link.js-data-sort(class=item.link, data-sort-serve=item.dataServer, data-ajax-not=item.ajaxNot, data-sort=item.dataSort, data-param=item.dataParam data-type=item.type data-target=item.target) #{item.item}