mixin flat-slider()
    +b.flat-slider.js-flat-slider
        include ./flat.pug
        +flatSlider({'items': [
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat02.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat03.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat04.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            },
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
        ]}).--slider


mixin flat-slider-commercial()
    +b.flat-slider.js-flat-slider
        include ./flat.pug
        +flatSlider-commercial({'items': [
            {
                'src': '/img/content/flat01.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat02.png',
                'type': 'Цена за м²',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat03.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat04.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            },
            {
                'src': '/img/content/flat01.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': 'Цена за м<sup>2</sup>',
                'corp': '150 000 ₽',
                'size': 'Стоимость',
                'cost': '15,2 млн. ₽'
            }
        ]}).--slider.--commercial-flat


mixin flat-slider-small()
    +b.flat-slider--small.js-flat-slider-small
        include ./flat.pug
        +flatSlider({'items': [
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat02.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat03.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat04.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            },
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            ,{
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }, {
                'src': '/img/content/flat02.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat03.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat04.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            },
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }, {
                'src': '/img/content/flat02.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat03.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat04.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            },
            {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
            , {
                'src': '/img/content/flat01.png',
                'type': '2-к квартира №12',
                'corp': 'Корп. 1, сек. 3, эт. 1',
                'size': '88,3 м<sup>2</sup>',
                'cost': '13 457 990 ₽'
            }
        ]}).--slider

mixin flat-slider-similar-plans()
    +b#similar-plans.flat-slider--small.js-flat-slider-similar-plans(data-path="/json/similar-plans.json")
