mixin flat-card()
    +b.flat-card
        +e.wrapper
            +e.info.--type
                +e.title.--type 2-к квартира тип&nbsp;3
                +e.icon-wrapper.--type
                    a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--apart-first.b-flat-card__icon-link--type(href="javascript:void(0);", title="print")
                        span.b-flat-card__icon.b-flat-card__icon--type
                            svg(xmlns='http://www.w3.org/2000/svg', width='25', height='25', viewBox='0 0 25 25')
                                path(fill='#000', fill-rule='nonzero', d='M21.125 11.842a1.258 1.258 0 1 1 0-2.517 1.258 1.258 0 0 1 0 2.517zm0-.6a.658.658 0 1 1 0-1.317.658.658 0 0 1 0 1.317zM5.793 7.708a.48.48 0 1 1-.96 0V.52h15.335v7.188a.48.48 0 1 1-.96 0V1.48H5.793v6.228zm0 7.189v8.623h13.415v-8.623H5.793zm-.96 5.27H1.957A1.441 1.441 0 0 1 .52 18.73V8.667c0-.793.646-1.439 1.438-1.439h21.084c.792 0 1.438.646 1.438 1.439v10.062c0 .792-.646 1.439-1.438 1.439h-2.875v4.312H4.832v-4.313zm0-.96v-5.27h15.335v5.27h2.874a.481.481 0 0 0 .478-.478V8.667a.481.481 0 0 0-.478-.479H1.958a.481.481 0 0 0-.478.479v10.062c0 .262.216.479.478.479h2.874zm12.459-2.395H7.708a.48.48 0 1 0 0 .96h9.584a.48.48 0 0 0 0-.96zm-1.917 1.916H7.708a.48.48 0 0 0 0 .96h7.667a.48.48 0 1 0 0-.96zm1.917 1.917H7.708a.48.48 0 1 0 0 .96h9.584a.48.48 0 0 0 0-.96z')
                        span.b-flat-card__link-text Распечатать
                        include tooltip.pug
                        +tooltip('Распечатать')
                    a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--email.b-flat-card__icon-link--type(href="javascript:void(0);", title="email")
                        span.b-flat-card__icon.b-flat-card__icon--type
                            svg(xmlns='http://www.w3.org/2000/svg', width='30', height='14', viewBox='0 0 30 14')
                                path(fill='#000', fill-rule='nonzero', d='M28.864.543a.423.423 0 0 1 .604.047.444.444 0 0 1-.046.617l-9 7.875a.422.422 0 0 1-.558 0l-9-7.875a.444.444 0 0 1-.047-.617.423.423 0 0 1 .605-.047l8.72 7.63 8.722-7.63zM12 .875a.866.866 0 0 0-.857.875v10.5c0 .483.384.875.857.875h16.286a.866.866 0 0 0 .857-.875V1.75a.866.866 0 0 0-.857-.875H12zM12 0h16.286C29.232 0 30 .784 30 1.75v10.5c0 .966-.768 1.75-1.714 1.75H12c-.947 0-1.714-.784-1.714-1.75V1.75C10.286.784 11.053 0 12 0zM8.143 1.75c.237 0 .428.196.428.438a.433.433 0 0 1-.428.437H.429A.433.433 0 0 1 0 2.187c0-.241.192-.437.429-.437h7.714zm0 4.156c.237 0 .428.196.428.438a.433.433 0 0 1-.428.437H3a.433.433 0 0 1-.429-.437c0-.242.192-.438.429-.438h5.143zm0 4.339c.237 0 .428.196.428.437a.433.433 0 0 1-.428.438H5.57a.433.433 0 0 1-.428-.438c0-.241.192-.437.428-.437h2.572z')
                        span.b-flat-card__link-text Отправить на e-mail
                        +tooltip('Отправить на e-mail')
                    a.b-flat-card__icon-link.b-flat-card__icon-link--apart.b-flat-card__icon-link--type(href="javascript:void(0);", title="download")
                        span.b-flat-card__icon.b-flat-card__icon--type
                            svg(xmlns='http://www.w3.org/2000/svg', width='24', height='19', viewBox='0 0 24 19')
                                path(fill='#000', fill-rule='nonzero', d='M11.623 13.842L7.7 10.9l.6-.8 3.2 2.4V.5c0-.667 1-.667 1 0v13c0 .52-.61.635-.877.342zm.377-.967l3.7-2.775.6.8-3.972 2.979a.473.473 0 0 1-.628.021l-4-3c-.533-.4.067-1.2.6-.8l3.7 2.775zm4.3-1.975l-4 3c-.533.4-1.133-.4-.6-.8l4-3c.533-.4 1.133.4.6.8zm6.2 2.276a.5.5 0 1 1 1 0v5.148a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-5.148a.5.5 0 1 1 1 0v4.648h21v-4.648z')
                        span.b-flat-card__link-text Скачать презентацию
                        +tooltip('Скачать презентацию')
                +e.furnish С отделкой
            +e.image-wrapper
                +e.image-tab-links
                    +e('a').link(data-index="0" href='javascript:void(0);', title='С мебелью').--active.js-tabs-plan С мебелью
                    +e('a').link(data-index="1" href='javascript:void(0);', title='Без мебели').js-tabs-plan С размерами
                +e.image-tabs.js-slider-plan
                    +e.image-item.--active(data-tab-index="0")
                        +e('img').image(src="/img/content/flat02.png", alt=title, style="opacity:0.5")
                    +e.image-item(data-tab-index="1")
                        +e('img').image(src="/img/content/flat02.png", alt=title)

            +e.other
                +e.price-block.--type
                    +e.item-price
                        +e.item-title Площадь
                        +e.price 86,7 — 88,3 м²
                    +e.item-price
                        +e.item-title Высота потолков:
                        +e.price 3.25 м
                    +e.item-price
                        +e.item-title Цена:
                        +e.price 13,0 — 13,5 млн&nbsp;₽
                    +e.item-price
                        +e.item-title Корпус
                        +e.price 1
                +e.info-text
                    +e(href="javascript:void(0);", title="оставить заявку").button оставить заявку
                    +e.text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut molestie tortor auctor sed. 
                        p Maecenas in bibendum turpis. Donec sollicitudin ex nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at justo pellentesque feugiat.
                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula dolor erat, ut&nbsp;molestie tortor auctor sed. 
                            li Maecenas in&nbsp;bibendum turpis. Donec sollicitudin ex&nbsp;nisl, vitae elementum magna rutrum sit amet. Aliquam sed tellus at&nbsp;justo pellentesque feugiat.
