mixin flat(data)
    each item in data.items
        +b.flat(class!=attributes.class)
            if item.procent
                +e('span').procent(data-discount="") !{item.procent}
            +e.image-wrap
                +e('a')(data-href=item.href, href=item.href) 
                    +e('img').image(data-img=item.src src=item.src, alt="")
            +e.text-wrap
                +e('span').type(data-flat=('numb' in item)?item.numb.flat:"") !{item.type}
                +e('span').size(data-size=('numb' in item)?item.numb.size:"") !{item.size}
            +e('span').cost(data-cost=('numb' in item)?item.numb.cost:"") !{item.cost}



mixin flat-line(data)
    each item in data.items
        +b.flat(class!=attributes.class)
            +e.image-wrap.js-popup-link-line
                +e('img').image(src=item.src, alt="")
                +b.popup.--line.js-popup-block-line
                    +e('span').arrow
                    +e.link-close.js-popup-close-line(href="javascript:void(0);", title="закрыть")
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
                            path(fill='#000', fill-rule='nonzero', d='M10 8.498L18.498 0 20 1.502 11.502 10 20 18.498 18.498 20 10 11.502 1.502 20 0 18.498 8.498 10 0 1.502 1.502 0 10 8.498z')
                    +e.image-wrapper
                        +e('img').image(src=item.src, alt="")
            +e.text-wrap
                +e('span').flat-text !{item.flat}
                +e('span').type(data-flat=item.numb.type, data-sort-item=item.sort.type, data-sort-numb=item.numb.type) !{item.type}
                +e('span').size(data-size=item.numb.area, data-sort-item=item.sort.area, data-sort-numb=item.numb.area) !{item.size}
                +e('span').cost(data-cost=item.numb.price, data-sort-item=item.sort.price, data-sort-numb=item.numb.price) !{item.cost}
            +e.procent-wrapper(data-sort-item=item.sort.discount, data-sort-numb=item.numb.discount)
                if item.procent
                    +e('span').procent(data-discount="") !{item.procent}
                    +e.procent-text Акция

mixin flat-type(data)
    each item in data.items
        +b.flat.--type(data-flat=item.flat data-housing=item.housing data-entrance=item.entrance data-area=parseFloat(item.size.split(',').join('.')) data-floor=item.floor data-view=item.view data-price=item.cost data-procent=item.procent?item.procent:'-' data-room=Math.floor(Math.random()*6)).js-flat-type
            +e.text-wrap(href="javascript:void(0);", title)
                +e('span').item-text.--first 
                    +e.mobile-text(data-val-sort="flat") Квартира
                    | №!{item.flat}
                +e('span').item-text.--second 
                    +e.mobile-text(data-val-sort="housing") Корпус
                    | !{item.housing}
                +e('span').item-text.--third 
                    +e.mobile-text(data-val-sort="entrance") Подъезд
                    | !{item.entrance}
                +e('span').item-text.--four 
                    +e.mobile-text(data-val-sort="area") Площадь
                    | !{item.size} м<sup>2</sup>
                +e('span').item-text.--five 
                    +e.mobile-text(data-val-sort="floor") Этаж
                    | !{item.floor}
                +e('span').item-text.--six 
                    +e.mobile-text(data-val-sort="view") Вид из окна
                    | !{item.view}
                +e('span').item-text.--seven 
                    +e.mobile-text(data-val-sort="price") Цена
                    | !{item.cost} ₽
                +e.procent-wrapper
                    if item.finish
                        +e('span').procent !{item.finish}
                +e.procent-wrapper
                    if item.procent
                        +e('span').procent !{item.procent}

mixin flatSlider(data)
    each item in data.items
        +b.flat(class!=attributes.class)
            if item.procent
                +e('span').procent !{item.procent}
            +e.image-wrap
                +e('img').image(src=item.src, alt="")
            +e.text-wrap
                +e.column
                    +e('span').type !{item.type}
                    +e('span').type.--corp !{item.corp}
                +e.column
                    +e('span').cost !{item.cost}
                    +e('span').size !{item.size}

mixin flat--commercial(data)
    each item in data.items
        +b.flat(class!=attributes.class data-target=(item.target)?item.target:data.target data-korpus=item.korpus)
            +e.text-wrap.--commercial
                +e('span').korpus(data-sort-item=item.sort.bodySort, data-sort-numb=item.numb.bodySort) !{item.korpus}
                +e('span').type.--commercial(data-sort-item=item.sort.typeSort, data-sort-numb=item.numb.typeSort) !{item.type}
                +e('span').floor(data-sort-item=item.sort.floorSort, data-sort-numb=item.numb.floorSort)
                    | !{item.floor} 
                    span этаж
                +e('span').size(data-size=item.numb.sizeSort, data-sort-item=item.sort.sizeSort, data-sort-numb=item.numb.sizeSort).--commercial !{item.size}
                +e('span').price(data-size=item.numb.priceSort, data-sort-item=item.sort.priceSort, data-sort-numb=item.numb.priceSort) !{item.price}
                +e('span').cost(data-cost=item.numb.costSort, data-sort-item=item.sort.costSort, data-sort-numb=item.numb.costSort).--commercial !{item.cost}

mixin flatSlider-commercial(data)
    each item in data.items
        +b.flat(class!=attributes.class)
            if item.procent
                +e('span').procent !{item.procent}
            +e.image-wrap
                +e('img').image(src=item.src, alt="")
            +e.text-wrap.--flex
                    +e('span').type Помещение&nbsp;B-1-2
                    +e('span').type.--small 103.6&nbsp;м²
            +e.text-wrap
                +e.column
                    +e('span').type !{item.type}
                    +e('span').cost !{item.corp}
                +e.column
                    +e('span').type !{item.size}
                    +e('span').cost !{item.cost}
