mixin flat-block()
    +b.flat-block(class!=attributes.class)
        +b.title.--flat Предлагаем квартиры в рассчитанной ценовой категории
        include ./flat.pug
        +e#calculator-flats
            +flat({'items': [{
                    'src': '/img/content/flat01.png',
                    'type': '2-к квартира Тип 1',
                    'size': '86,7 — 88,3 м<sup>2</sup>',
                    'cost': '13,0 — 13,5 млн. ₽'
                }
                ,{
                    'src': '/img/content/flat02.png',
                    'procent':  '%',
                    'type': '3-к квартира Тип 7',
                    'size': '114,1 — 115,5 м<sup>2</sup>',
                    'cost': '26,4— 26,5 млн. ₽'
                }
                ,{
                    'src': '/img/content/flat04.png',
                    'procent':  '%',
                    'type': '2-к квартира Тип 1',
                    'size': '114,1 — 115,5 м<sup>2</sup>',
                    'cost': '26,4— 26,5 млн. ₽'
                }
                ,{
                    'src': '/img/content/flat03.png',
                    'type': '6-к квартира Тип 9',
                    'size': '181,5 — 184,5 м<sup>2</sup>',
                    'cost': '52,1 — 52,3 млн. ₽'
                }
            ]})
