mixin floor-select(data)
    each item in data.items
        +b.floor-select(class!=attributes.class)
            +e.image-wrap
                if item.onlydesktop
                    +e('img')(src=item.src_desktop).image-genplan
                else
                    +e('img')(src=item.src_mobile).image-mobile
                    +e('img')(src=item.src_tablet).image-tablet
                    +e('img')(src=item.src_desktop).image-desktop
                if item.src_mobile_adress
                    +e('img')(src=item.src_mobile_adress).image-mobile-adress
                    +e('img')(src=item.src_tablet_adress).image-tablet-adress
                    +e('img')(src=item.src_desktop_adress).image-desktop-adress
                    +e('img')(src=item.src_mobile_street).image-mobile-street
                    +e('img')(src=item.src_tablet_street).image-tablet-street
                    +e('img')(src=item.src_desktop_street).image-desktop-street
            +e.svg-wrap.js-genplan-svg
                block


            if item.arrow_prev
                +e.text-wrap
                    +e.wrap
                        +e.wrapper
                            +e('a')(href=item.arrow_prev ,alt='Назад').prev-arrow
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z') 
                                +e('span').prev-section !{item.prev_section}
                        +e('span').title--mobile !{item.title}
                        if item.titlebig
                            +e('span').title !{item.titlebig}
                        +e.wrapper
                            +e('a')(href=item.arrow_next, alt='Вперед').next-arrow !{item.next_arrow}
                                +e('span').next-section !{item.next_section} 
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z')
                    if item.selected_section
                        +e('span').selected-section !{item.selected_section}
                    if item.prev_unit
                        +e.section-wrap
                            +e('span').prev-unit !{item.prev_unit}
                            +e.arrow-wrap
                                +e('a')(href=item.prev ,alt='Назад').prev
                                +e('span').selected !{item.selected}
                                +e('a')(href=item.next, alt='Вперед').next
                            +e('span').next-unit !{item.next_unit}

mixin floor-select--commercial(data)
    each item in data.items
        +b.floor-select(class!=attributes.class)
            +e.section-position
                +e.section-wrapper
                    +e.image-wrap
                        if item.onlydesktop
                            +e('img')(src=item.src_desktop).image-genplan
                        else
                            +e('img')(src=item.src_mobile).image-mobile
                            +e('img')(src=item.src_tablet).image-tablet
                            +e('img')(src=item.src_desktop).image-desktop
                        if item.src_mobile_adress
                            +e('img')(src=item.src_mobile_adress).image-mobile-adress
                            +e('img')(src=item.src_tablet_adress).image-tablet-adress
                            +e('img')(src=item.src_desktop_adress).image-desktop-adress
                            +e('img')(src=item.src_mobile_street).image-mobile-street
                            +e('img')(src=item.src_tablet_street).image-tablet-street
                            +e('img')(src=item.src_desktop_street).image-desktop-street
                    +e.svg-wrap.js-genplan-svg
                        block


            if item.arrow_prev
                +e.text-wrap
                    +e.wrap
                        +e.wrapper
                            +e('a')(href=item.arrow_prev ,alt='Назад').prev-arrow
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z') 
                                +e('span').prev-section !{item.prev_section}
                        +e('span').title--mobile !{item.title}
                        if item.titlebig
                            +e('span').title !{item.titlebig}
                        +e.wrapper
                            +e('a')(href=item.arrow_next, alt='Вперед').next-arrow !{item.next_arrow}
                                +e('span').next-section !{item.next_section} 
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z')
                    if item.selected_section
                        +e('span').selected-section !{item.selected_section}
                    if item.prev_unit
                        +e.section-wrap
                            +e('span').prev-unit !{item.prev_unit}
                            +e.arrow-wrap
                                +e('a')(href=item.prev ,alt='Назад').prev
                                +e('span').selected !{item.selected}
                                +e('a')(href=item.next, alt='Вперед').next
                            +e('span').next-unit !{item.next_unit}

mixin floor-select-section(data)
    each item in data.items
        +b.floor-select(class!=attributes.class)
            +e.image-wrap
                +e('img')(src=item.src_mobile).image-mobile
                +e('img')(src=item.src_tablet).image-tablet
                +e('img')(src=item.src_desktop).image-desktop
                if item.src_mobile_adress
                    +e('img')(src=item.src_mobile_adress).image-mobile-adress
                    +e('img')(src=item.src_tablet_adress).image-tablet-adress
                    +e('img')(src=item.src_desktop_adress).image-desktop-adress
                    +e('img')(src=item.src_mobile_street).image-mobile-street
                    +e('img')(src=item.src_tablet_street).image-tablet-street
                    +e('img')(src=item.src_desktop_street).image-desktop-street
                    +e('img')(src=item.src_mobile_compass).image-mobile-compass
                    +e('img')(src=item.src_tablet_compass).image-tablet-compass
                    +e('img')(src=item.src_desktop_compass).image-desktop-compass
                include tooltip-new.pug
                +tooltip-new(({'items':[{
                    'title'      : 'Секция',
                    'text'       : 'Этаж',
                    'number_title'  :   '6',
                    'number_text'  :   '12'
                    }
                ]})).--second.-t3
            +e.svg-wrap.js-genplan-svg
                svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px" height="1546px" viewBox="0 0 1920 1546" style="enable-background:new 0 0 1920 1546;" xml:space="preserve")
                    //- style(type='text/css').
                    //-     .st0{opacity:0.4;fill:#FFFFFF;}
                    //-     .st1{opacity:0.5;fill:#FFFFFF;}
                    g.b-floor-select__g
                        polygon.st0.b-floor-select__floors(points='654,461 750,359 750,1471 654,1453 ')
                        polygon.st1.b-floor-select__floor(points='654,516.7 750,427 750,486.3 654,560 ')
                        polygon.st1.b-floor-select__floor(points='654,606.3 750,528 750,486.3 654,560 ')
                        polygon.st1.b-floor-select__floor(points='654,662.3 750,583.7 750,528 654,606.3 ')
                    g.b-floor-select__g
                        polygon.st0.b-floor-select__floors(points='1006,95 1006,1491 862,1471 862,243 ')
                        polygon.st1.b-floor-select__floor(points='862,315 1006,172.3 1006,251 862,382.3 ')
                        polygon.st1.b-floor-select__floor(points='862,424.3 1006,296.3 1006,251 862,382.3 ')
                        polygon.st1.b-floor-select__floor(points='862,486.3 1006,368.3 1006,296.3 862,424.3 ')
                        polygon.st1.b-floor-select__floor(points='862,539.7 1006,427 1006,368.3 862,486.3 ')
                        polygon.st1.b-floor-select__floor(points='862,606.3 1006,505 1006,427 862,539.7 ')
                        polygon.st1.b-floor-select__floor(points='862,662.3 1006,568.3 1006,505 862,606.3 ')
                        polygon.st1.b-floor-select__floor(points='862,725.7 1006,638.3 1006,568.3 862,662.3 ')

            if item.arrow_prev
                +e.text-wrap
                    +e.wrap
                        +e.wrapper
                            +e('a')(href=item.arrow_prev ,alt='Назад').prev-arrow
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z')
                            +e('span').prev-section !{item.prev_section}
                        +e('span').title !{item.title}
                        +e.wrapper
                            +e('span').next-section !{item.next_section}
                            +e('a')(href=item.arrow_next, alt='Вперед').next-arrow !{item.next_arrow}
                                svg(xmlns='http://www.w3.org/2000/svg', width='40', height='10', viewBox='0 0 40 10')
                                    path(fill='none', fill-rule='evenodd', stroke='#fff', stroke-linecap='square', stroke-linejoin='round', d='M1.25 5L5.86.148 1.25 5zm0 0l4.61 4.852L1.25 5zm.5 0H40 1.75z')
                    if item.selected_section
                        +e('span').selected-section !{item.selected_section}
                    if item.prev_unit
                        +e.section-wrap
                            +e('span').prev-unit !{item.prev_unit}
                            +e.arrow-wrap
                                +e('a')(href=item.prev ,alt='Назад').prev
                                +e('span').selected !{item.selected}
                                +e('a')(href=item.next, alt='Вперед').next
                            +e('span').next-unit !{item.next_unit}