mixin floor-image(src, text)
    +b.floor-image(class!=attributes.class)
        if text
            +e.text
                p #{text}
        +e.image-wrapper
            if src
                +e('img').image(src=src, alt)
            else
                block