mixin floor-arrow(title, text, id)
    +b.floor-arrow(class!=attributes.class)
        +e.title #{title}
        +e.wrapper.js-flat-cont(data-id=id)
            +b.slider-arrow.--floor.-prev.js-prev(href="javascript:void(0);", title="Назад")
                svg(xmlns='http://www.w3.org/2000/svg', width='9', height='14', viewBox='0 0 9 14')
                    path(fill='none', fill-rule='evenodd', stroke='#000', stroke-linecap='square', stroke-linejoin='round', stroke-width='1.12', d='M1.512 6.889l6.111 6.15-6.11-6.15 6.11-6.15-6.11 6.15zm0 0l-.025-.025.025.025-.025.025.025-.025z')
            +e.text.js-text #{text}
            +b.slider-arrow.--floor.-next.js-next(href="javascript:void(0);", title="Вперед")
                svg(xmlns='http://www.w3.org/2000/svg', width='9', height='14', viewBox='0 0 9 14')
                    path(fill='none', fill-rule='evenodd', stroke='#000', stroke-linecap='square', stroke-linejoin='round', stroke-width='1.12', d='M1.512 6.889l6.111 6.15-6.11-6.15 6.11-6.15-6.11 6.15zm0 0l-.025-.025.025.025-.025.025.025-.025z')


