.footer
    .footer-nav
        .footer-aside
            .footer-copy
                a(href="/").footer-logo
                span © Группа Эталон, 2018
            ul.footer-doc-list
                li.footer-doc-list__item
                    a(href="").footer-doc-list__link Документы
                li.footer-doc-list__item
                    a(href="").footer-doc-list__link Продажа по 214-ФЗ
                li.footer-doc-list__item
                    a(href="").footer-doc-list__link._green Зеленый стандарт

        .footer-menu
            ul.footer-menu__item.footer-menu-list
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Преимущества
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Расположение
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Район
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Архитектура
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Технологии

            ul.footer-menu__item.footer-menu-list
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Информация
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Динамика строительства
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Генплан
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Паркинг
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Галерея
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link О застройщике

            ul.footer-menu__item.footer-menu-list
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Как купить
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Ипотека
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Trade-In
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Рассрочка
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Материнский капитал

            ul.footer-menu__item.footer-menu-list
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Новости
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Акции
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Контакты
                li.footer-menu-list__item
                    a(href="").footer-menu-list__link Коммерческая недвижимость

        .footer-contacts
            .footer-phone
                a(href="tel: +74954807800") +7 495 480 78 00
                a(href="#", data-callback).footer-phone__callback Обратный звонок

            .footer-subscribe(data-subscribe)
                a(href="#").footer-subscribe__link ПОДПИСАТЬСЯ НА РАССЫЛКУ
                form(action="/ajax/subscribe.json", method="GET", data-action="/ajax/subscribe.json").subscribe-form
                    input(type="email", name="subscribe-email", placeholder="Электронная почта", required).subscribe-form__inp
                    input(type="submit", value="", title="Отправить").subscribe-form__sbmt

            button(data-helpus-link).footer-helpUs помогите нам стать лучше

            a.LKEnter._footer._white(href="#")
                span.LKEnter_txt Личный кабинет
                span.LKEnter_icon
                    include ../svg/icon_lk.svg

    .footer-bottom
        .footer-bottom__item
            p Информация, предоставленная на сайте,<br> не является публичной офертой
            p
                a(href="https://etalonsilver.ru/privacy/").footer-privacy-link Политика конфиденциальности

        .footer-bottom__item
            .footer-socials
                a(href="").footer-socials__item._vk
                a(href="").footer-socials__item._fb
                a(href="").footer-socials__item._inst