mixin fountain()
    +b.fountain
        .b-container
            +b('h2').title.--location.--fountain
                span.b-fountain__decoration
                    | Фонтан Уоллеса
            +b.text.--location.--fountain
                p Музой проекта стал старинный фонтан, созданный в 1872 году французским скульптором Чарльзом А. Лебуром по заказу английского филантропа сэра Ричарда Уоллеса для того, чтобы предоставить гуляющим парижанам свободный доступ к питьевой воде.
                p Фонтан Уоллеса сделан из кованого железа. Его украшают четыре женские кариатиды, олицетворяющими четыре истиные добродетели: доброту, простоту, милосердие и умеренность. Изящество, красота, символизм и долговечность скульптуры — это как раз то, что Группа компаний «Эталон» стремится воспроизвести в «Серебряном фонтане».
        +e.image-wrap
            +e('img').image-mobile(src="img/backgrounds/mobile-fountain.png")
            +e('img').image-tablet(src="img/backgrounds/tablet-fountain.png")
            +e('img').image-laptop(src="img/backgrounds/laptop-fountain.png")
            +e('img').image-desktop(src="img/backgrounds/desktop-fountain.png")
            +e('img').image-fullhd(src="img/backgrounds/fullhd-fountain.png")