.FullNavMenu
    .FullNavMenu_container
        .FullNavMenu_col.FullNavMenu_col-mobile
            a.b-button.FullNavMenu_btn(href="./options.html") Перейти к выбору
        .FullNavMenu_col
            .FullNavMenu_colTitle Преимущества
            ul.FullNavMenu_list
                each page in [{href: '#', name: 'Расположение'}, {href: '#', name: 'Архитектура'}, {href: '#', name: 'Территория'}, {href: '#', name: 'Технологии'}]
                    li.FullNavMenu_item
                        a.FullNavMenu_link(href=page.href)=page.name
        .FullNavMenu_col
            .FullNavMenu_colTitle Информация
            ul.FullNavMenu_list
                each page in [{href: '#', name: 'Ход строительства'}, {href: '#', name: 'Галерея'}, {href: '#', name: 'Документы'}, {href: '#', name: 'Онлайн-оплата'}, {href: '#', name: 'О застройщике'}, {href: '#', name: 'Новости'}]
                    li.FullNavMenu_item
                        a.FullNavMenu_link(href=page.href)=page.name
        .FullNavMenu_col
            .FullNavMenu_colTitle О проекте
            ul.FullNavMenu_list
                each page in [{href: '#', name: 'Апартаменты'}, {href: '#', name: 'Квартиры'}, {href: '#', name: 'Бизнес-отделка'}, {href: '#', name: 'Коммерческая недвижимость'}, {href: '#', name: 'Паркинг'}]
                    li.FullNavMenu_item
                        a.FullNavMenu_link(href=page.href)=page.name
        .FullNavMenu_col
            .FullNavMenu_colTitle Как купить
            ul.FullNavMenu_list
                each page in [{href: '#', name: 'Ипотека'}, {href: '#', name: 'Trade-In'}, {href: '#', name: 'Рассрочка'}, {href: '#', name: 'Материнский капитал'}]
                    li.FullNavMenu_item
                        a.FullNavMenu_link(href=page.href)=page.name
        .FullNavMenu_col
            .FullNavMenu_colTitle Новости
            ul.FullNavMenu_list.FullNavMenu_list-bold
                each page in [{href: '#', name: 'Акции'}, {href: '#', name: 'Контакты'}, {href: '#', name: 'Коммерческая недвижимость'}]
                    li.FullNavMenu_item
                        a.FullNavMenu_link(href=page.href)=page.name
            
            a.b-button.FullNavMenu_btn.FullNavMenu_btn-desktop(href="./options.html") Перейти к выбору