.FullMenuOverlay
.Header_fixedBurger
    .Burger.Header_burger.Header_burger-white
        .Burger_col.Burger_col-first
        .Burger_col.Burger_col-second
        .Burger_col.Burger_col-last

header.Header.Header-white
    .Header_wrap
        .Header_left
            .Header_burger
        
            nav.Header_nav
                ul.Header_navList
                    li.Header_navItem.Header_navItem-sm
                        a.Header_navLink(href="#") О проекте

                    li.Header_navItem.Header_navItem-dropdown
                        .Header_navLink Преимущества
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Расположение
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Район
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Архитектура
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Направление


                    li.Header_navItem.Header_navItem-dropdown
                        .Header_navLink Информация
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Динамика строительства
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Генплан
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") Галерея
                                li.Header_navSubItem
                                    a.Header_navSubLink(href="#") О застройщике

                    li.Header_navItem.Header_navItem-sm
                        a.Header_navLink(href="#") Ипотека — 6%
                    li.Header_navItem
                        a.Header_navLink(href="#") Контакты

            a.Header_chooseRoom.Header_chooseRoom-tablet(href="./options.html") Перейти к выбору

        .Header_center
            a.Header_logo.Logo(href="./")
                include ../svg/logo.svg

        .Header_right
            a.Header_chooseRoom(href="./options.html") Перейти к выбору
            .Header_rightLinks
                a.Header_phone(href="tel:+74954807800") +7 495 480 78 00
                    .Header_phoneSvg
                        include ../svg/phone.svg
                a.Header_callMe(href="") заказать звонок
                a.LKEnter._header(href="#" title="")
                    span.LKEnter_icon
                        include ../svg/icon_lk.svg