.FullMenuOverlay
.Header_fixedBurger
    .Burger.Header_burger
        .Burger_col.Burger_col-first
        .Burger_col.Burger_col-second
        .Burger_col.Burger_col-last
header.Header
    .Header_wrap
        .Header_left
            .Header_burger

            nav.Header_nav
                ul.Header_navList
                    li.Header_navItem.Header_navItem-dropdown
                        a.Header_navLink(href='javascript:;') Преимущества
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/about/location/') Расположение
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/about/architecture/') Архитектура
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/about/infrastructure/') Территория
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/about/technologies/') Технологии
                    li.Header_navItem.Header_navItem-dropdown
                        a.Header_navLink(href='javascript:;') Информация
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/information/diary/') Ход строительства
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/information/gallery/') Галерея
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='http://ser-fontan.ru', target='_blank') Документы
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='http://www.etalon-invest.com/how_to_buy/help/ ', target='_blank') Купившим
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/payment/') Онлайн-оплата
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/information/developer/') О застройщике
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/information/news/') Новости
                    li.Header_navItem.Header_navItem-dropdown
                        a.Header_navLink(href='javascript:;') О проекте
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/about/apartments/') Апартаменты
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/commercial/') Коммерческая недвижимость
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/parking/') Паркинг
                    li.Header_navItem.Header_navItem-dropdown
                        a.Header_navLink(href='javascript:;') Как купить
                        .Header_dropdown.Dropdown
                            ul.Header_navSubList
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/buy/mortgage/') Ипотека
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/buy/trade-in/') Trade-In
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/buy/installment/') Рассрочка
                                li.Header_navSubItem
                                    a.Header_navSubLink(href='/buy/maternity-capital/') Материнский капитал
                    li.Header_navItem.Header_navItem-sm
                        a.Header_navLink(href='/contacts/') Контакты


            a.Header_chooseRoom.Header_chooseRoom-tablet(href="./options.html") Перейти к выбору

        .Header_center
            a.Header_logo.Logo(href="./")
                include ../svg/logo.svg

        .Header_right
            a.Header_chooseRoom(href="./options.html") Перейти к выбору
            .Header_rightLinks
                a.Header_phone(href="tel:+74954807800") +7 495 480 78 00
                    .Header_phoneSvg
                        include ../svg/phone.svg
                a.Header_callMe(href="") заказать звонок
                a.LKEnter._header._white(href="#" title="")
                    span.LKEnter_icon
                        include ../svg/icon_lk.svg