.HelpUs(data-helpus-window)
    .HelpUs_bg(data-helpus-close)
    form(method="get" data-url="/json/send-app.json" data-event="send.app").b-mortgage-form.HelpUs_form.js-ajax-from.js-validate-form
        div.HelpUs_angle._top-left
        div.HelpUs_angle._top-right
        div.HelpUs_angle._bottom-right
        div.HelpUs_angle._bottom-left
        div.js-send-form.HelpUs_inner
            .HelpUs_tlt Помогите нам стать лучше
            div.b-mortgage-form__wrapper
                div
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'name_helpus',
                            'text'       : 'Ваше имя *',
                            'id'         : 'name_helpus',
                            'type'       : 'text',
                            'classes': ' js-only-char'
                        }
                    ]})
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'phone_helpus',
                            'text'       : 'Телефон *',
                            'id'         : 'phone_helpus',
                            'type'       : 'tel',
                            'classes': ' js-phone'
                        }
                    ]})
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'comment_helpus',
                            'text'       : 'Ваш комментарий',
                            'id'         : 'name-textarea_helpus',
                            'type'       : 'text',
                            'textarea'   : true
                        }
                    ]})
            div.b-mortgage-form__note-wrapper.HelpUs_note
                include checkbox.pug
                +checkbox('comment-check_helpus', 'comment-check_helpus', 'Согласие на ','')(required).--problem-form.js-compliance-element
                    +e('a').agree(href='javascript:void(0);') обработку персональных данных
                span.b-mortgage-form__note.b-mortgage-form__note--problem.js-error-note * — поля, обязательные для заполнения
            include button.pug
            +button('Отправить', false).b-button--mortgage-form
            span.js-text.b-mortgage-form__note.error.b-mortgage-form__note--hidden
        div.js-success-form.HelpUs_success(style="display: none;")
            div.b-mortgage-form__wrapper
                div.b-mortgage-form__text-success
                    h3 Спасибо!<br>Мы свяжемся с вами<br>в ближайшее время
                    button(data-helpus-close).b-button.b-button--mortgage-form ОК
        button.HelpUs_close(data-helpus-close)
            include ../../../assets/img/icons/close.svg