.Hide_Block 
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='59', height='61', viewBox='0 0 59 61')
        defs
            path#a(d='M0 61h59V0H0z')
            path#c(d='M6.784 0H0v14.405h13.568V0z')
        g(fill='none', fill-rule='evenodd')
            g
                path(fill='#FFF', d='M56 29a3 3 0 0 1 3 3v26a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V32a3 3 0 0 1 3-3h53zM2 59h55V31H2v28z')
                mask#b(fill='#fff')
                    use(xlink:href='#a')
                path(fill='#FFF', d='M10 60h2V31h-2zM51 49h2v-9h-2zM13 10h9V8h-9z', mask='url(#b)')
                path(fill='#FFF', d='M4 26V2h28v24h2V3a3 3 0 0 0-3-3H5a3 3 0 0 0-3 3v23h2z', mask='url(#b)')
            g(transform='translate(40 7)')
                mask#d(fill='#fff')
                    use(xlink:href='#c')
                path(fill='#FFF', d='M2.806 3.17L4.88 1.06 3.836 0 0 3.905l3.836 3.906L4.88 6.75 2.837 4.672c5.132.175 9.257 4.467 9.257 9.733h1.474c0-6.103-4.802-11.076-10.762-11.235', mask='url(#d)')
    p Пожалуйста, переверните ваше устройство