mixin history()
    +b.history
        +e('h2').title Иcторические факты:
        +e("ul").list
            +history-item("С 1987 года", "Группа «Эталон» работает на рынке Санкт-Петербурга, с 2006 – на рынке Москвы.").--right
            +history-item("С 1997 года", "Вокруг Компании начинают образовываться дочерние предприятия, каждое из которых специализируется на выполнении отдельных строительных и производственных видов работ.")
            +history-item("В 1999 году", "Группа «Эталон» получила золотую медаль Ассоциации промышленников Франции «За заслуги в области строительства и использование прогрессивных технологий в практике».").--right
            +history-item("В 2006 году", "Группа «Эталон» первой среди всех российских строительных компаний получила кредитный рейтинг от крупнейшего и наиболее консервативного международного рейтингового агентства S&P Global Ratings.")
            +history-item("В 2009 году", "Компания выходит на рынок Московской области с проектом комплексного освоения территории «Изумрудные холмы».").--right
            +history-item("В 2011 году", "Группа «Эталон» проводит первичное размещение ценных бумаг на основном рынке Лондонской фондовой биржи, привлекая более 500 млн долларов США от ведущих международных инвесторов для развития проектов.")
            +history-item("В 2012 году", "Компания завершила строительство ЖК «Юбилейный квартал» - крупнейшего на тот момент проекта комплексного освоения территорий в Санкт- Петербурге общей площадью 614 тыс. м2").--right
            +history-item("В 2013 году", "Группа выводит на рынок Москвы проект «Эталон-Сити» - жилой комплекс в географическом центре «Большой Москвы».")
            +history-item("В 2014 году", "в Санкт-Петербурге Группа «Эталон» ввела в эксплуатацию крупнейший в Восточной Европе конгрессно-выставочный центр «ЭкспоФорум».").--right
            +history-item("В 2015 году", "Начинается строительство третьего московского проекта Компании – жилого комплекса  «Золотая звезда».")
            +history-item("В 2016 году", "Капитализация Группы «Эталон» превысила $1 млрд.").--right
            +history-item("В 2017 году", "Соотношение объемов строительства Группы «Эталон» в Москве и Санкт-Петербурге становится равным.")

mixin history-item(title, text)
    +e.item(class!=attributes.class)
        +e.link(href="javascript:void(0);", title=title,)
            +e.title-item #{title}
            +e.text
                p #{text}