mixin hollywood-style(data)
    +b.hollywood-style( class!=attributes.class )
        each item in data.items
            +b('h2').title.--center-event.--hollywood-style #{item.title}
            +e.wrap
                .b-container
                    +b.text.--hollywood-style 
                        p !{item.text}
                +e.image-wrapper
                    +e('img').image(src=item.image, alt="В окружении шедевров")
                    +e('img').image-tablet(src=item.tablet, alt='В окружении шедевров')
                    +e('img').image-laptop(src=item.laptop, alt='В окружении шедевров')
                    +e('img').image-desktop(src=item.desktop, alt='В окружении шедевров')
                    +e('img').image-fullhd(src=item.fullhd, alt='В окружении шедевров')
            +e.wrap
                .b-container
                    +b.text.--hollywood-bottom
                        p !{item.text_bottom}
                        if item.paragraph
                            p !{item.paragraph}
                +e.image-wrapper-bottom
                    +e('img').image(src=item.image_bottom, alt="В окружении шедевров")
                    +e('img').image-tablet(src=item.tablet_bottom, alt='В окружении шедевров')
                    +e('img').image-laptop(src=item.laptop_bottom, alt='В окружении шедевров')
                    +e('img').image-desktop(src=item.desktop_bottom, alt='В окружении шедевров')
                    +e('img').image-fullhd(src=item.fullhd_bottom, alt='В окружении шедевров')

mixin hollywood-style-flex(data)
    +b.hollywood-style( class!=attributes.class )
        each item in data.items
            +b('h2').title.--center-event.--hollywood-style #{item.title}
            +e.flex-wrap
                +e.wrap
                    .b-container
                        +b.text.--hollywood-style 
                            p !{item.text}
                    +e.image-wrapper
                        +e('img').image(src=item.image, alt="В окружении шедевров")
                        +e('img').image-tablet(src=item.tablet, alt='В окружении шедевров')
                        +e('img').image-laptop(src=item.laptop, alt='В окружении шедевров')
                        +e('img').image-desktop(src=item.desktop, alt='В окружении шедевров')
                        +e('img').image-fullhd(src=item.fullhd, alt='В окружении шедевров')
                +e.wrap
                    .b-container
                        +b.text.--hollywood-bottom
                            p !{item.text_bottom}
                            if item.paragraph
                                p !{item.paragraph}
                    +e.image-wrapper-bottom
                        +e('img').image(src=item.image_bottom, alt="В окружении шедевров")
                        +e('img').image-tablet(src=item.tablet_bottom, alt='В окружении шедевров')
                        +e('img').image-laptop(src=item.laptop_bottom, alt='В окружении шедевров')
                        +e('img').image-desktop(src=item.desktop_bottom, alt='В окружении шедевров')
                        +e('img').image-fullhd(src=item.fullhd_bottom, alt='В окружении шедевров')