mixin image-wrapper(data)
    +b.image-wrapper( class!=attributes.class )
        each item in data.items
            +e('img').image(src=item.image, alt="")
            +e('img').image-tablet(src=item.tablet, alt='')
            +e('img').image-laptop(src=item.laptop, alt='')
            +e('img').image-desktop(src=item.desktop, alt='')
            +e('img').image-fullhd(src=item.fullhd, alt='')