div.popup-custom(id="banner", data-banner="1", style="display: none")
    .popup-container
        .popup-cross.close
        .popup-form-wrapper
            img.decor-img(src='/img/popup/decor.png', alt='')
            p.popup-h Века сменяются. Характер остается
            .popup-line
            form.js-validate-form.page-form.popup-form(method='get', action='/ajax/subscribe.json', data-action='/ajax/subscribe.json')
                label.popup-form-h(for='popup-email') Читайте подробнее о деталях и преимуществах проекта в наших письмах
                .email-wrapper
                    include input-group.pug
                    +input-group({
                        'items': [{
                            'name': 'parking-email',
                            'text': 'Почта',
                            'id': 'parking-email',
                            'type': 'email',
                            'classes': 'js-ignore'
                        }
                        ]
                    })
                    button.popup-btn Подписаться
                div
                    input#personal-data.personal-data(type='checkbox', name='personal-data', checked, required)
                    label.popup-checkbox(for='personal-data') Я даю согласие на обработку своих персональных данных
        .thanks-form-wrapper
            img.decor-img(src='/img/popup/decor.png', alt='')
            p.thanks-h Благодарим за подписку!
            .thanks-line
            p.thanks-form-h Скоро мы отправим вам первое письмо.
            button.thanks-btn.close Закрыть

