mixin info-company()
    +b.info-company
        +e.border.--first
            +e.triangle
        +e.border.--second
        +e.logo(src="img/content/etalon-logo.svg", alt="Группа Эталон")
        +e.title Группа «Эталон», основанная в 1987 г. Вячеславом Заренковым, сегодня является одной из крупнейших корпораций в сфере девелопмента и строительства в России.
        +e.text
            +e.wrap
                p Компания фокусируется на жилой недвижимости для среднего класса в Санкт-Петербурге, где она представлена брендом «Эталон ЛенСпецСМУ», а так же в Москве и Московской области.
                p Благодаря решительному развитию на протяжении 30 лет сегодня Группа «Эталон» является одним из наиболее успешных игроков на российском рынке недвижимости. С момента создания Компания ввела в эксплуатацию в общей сложности более 5,8 млн м 2 недвижимости: в домах Группы «Эталон» проживает более 200 000 человек.
                p Надежность Компании обеспечивается строжайшим контролем качества и сроков выполнения работ на всех этапах строительства. 
            +e.wrap
                p Группа «Эталон» обладаетсобственным парком строительной техники, заводами по производству стройматериалов, а также пулом подрядных и генподрядных организаций. Производственных мощностей Группы достаточно не только для реализации собственных проектов, но и для работы навнешнем заказе – Компания оказывает строительные услуги другим игрокам российского рынка недвижимости.
                p С 2011 года ценные бумаги Группы «Эталон» торгуются на основном рынке Лондонской фондовой биржи. Компания раскрывает показатели бизнеса в соответствии с лучшими мировыми практиками публичных корпораций, укрепляя уверенность клиентов всвоевременном выполнении обязательств перед ними.