mixin input-fieldset(data)
    fieldset.b-input-fieldset
        each item in data.items
            legend.b-input-fieldset__head #{item.headName}
            input(type="text", placeholder=item.placeholder).b-input-fieldset__input
