//- ====================
//- VRZ: input-form
//- 18.07.2018: Dima
//- --------------------
//- input-form
//- ====================

mixin input-group(data)
    each item in data.items
        +b.input-group(class!=attributes.class)
            if item.textarea
                +e('textarea').textarea.js-elem-valid(rows="1", id=item.id, type=item.type, placeholder=item.placeholder, name=item.name, value=item.value, class!=(attributes.class ? attributes.class + ' ' : '') + (item.classes ? item.classes : ''))

            else if item.error
                +e('input').input-field(id=item.id, type=item.type, placeholder=item.placeholder, name=item.name, value=item.value, required, class!=(attributes.class ? attributes.class + ' ' : '') + (item.classes ? item.classes : '') + (item.data-mask ? item.data-mask : '')).-error

            else
                +e('input').input-field(data-mask=item.mask, id=item.id, type=item.type, placeholder=item.placeholder, name=item.name, value=item.value, required, class!=(attributes.class ? attributes.class + ' ' : '') + (item.classes ? item.classes : '') + (item.data-mask ? item.data-mask : ''))

            include label.pug
            +label(item.text, item.id)(class!=attributes.class).--input-group
            if item.error
                +e('span').error(class!=attributes.class) !{item.error}
