mixin installment-content()
	.b-installment
		.b-installment__content
			h1.b-title.b-title--page Рассрочка
			p Группа &laquo;Эталон&raquo; разработала для вас различные варианты рассрочки, в&nbsp;том числе и&nbsp;с&nbsp;переплатой 0%. Мы&nbsp;постоянно внедряем новые, более выгодные способы приобретения квартир в&nbsp;ЖК&nbsp;&laquo;Серебрнный фонтан&raquo;, узнать о&nbsp;которых вы&nbsp;можете у&nbsp;наших менеджеров.
			div.b-installment__content-wrap
				h2 Минимальный первый взнос:
				span 40%&nbsp;&mdash; для квартир до&nbsp;99м2
				span 30%&nbsp;&mdash; для квартир от&nbsp;100 м2
			div.b-installment__content-wrap
				h2 Рассрочка&nbsp;0%!
				span Для корпуса 1&nbsp;&mdash; до&nbsp;марта 2020&nbsp;г.
				span Для корпуса 2&nbsp;&mdash; до&nbsp;марта 2021&nbsp;г.
