mixin linden-alley()
    +b.linden-alley
        +b('h2').title.--center-event.--linden-alley Вековая липовая аллея
        +e.wrap
            +b.text.--linden-alley
                p На закрытой территории комплекса расположена вековая аллея из почти 150 лип. Эта аллея — образец паркового искусства начала XX столетия, на дорожках которого легко представить себе Брюсова, Ахматову или Пастернака. Здесь все жильцы дома смогут совершать вечерние прогулки, наслаждаясь покоем, красотой, тишиной и воздухом старой Москвы.
            +e.image-wrap
                +e('img').image-mobile(src="img/backgrounds/mobile-linden-alley.png")
                +e('img').image-tablet(src="img/backgrounds/tablet-linden-alley.jpg")
                +e('img').image-laptop(src="img/backgrounds/laptop-linden-alley.jpg")
                +e('img').image-desktop(src="img/backgrounds/desktop-linden-alley.jpg")
                +e('img').image-fullhd(src="img/backgrounds/fullhd-linden-alley.jpg")
            +e.image-wrapper
                +e('img').image-mobile(src="img/backgrounds/linden-alley-mobile.png")
                +e('img').image-tablet(src="img/backgrounds/linden-alley-tablet.png")
                +e('img').image-laptop(src="img/backgrounds/linden-alley-laptop.png")
                +e('img').image-desktop(src="img/backgrounds/linden-alley-desktop.png")
                +e('img').image-fullhd(src="img/backgrounds/linden-alley-fullhd.png")
                +e('span').text Деревьев
