mixin list-checkbox(title, data)
    +b.list-checkbox(class!=attributes.class)
        +e.title #{title}
        +e.list
            each item in data.items
                +e.item
                    +e('input').input( type="checkbox", name=item.name, id=item.id, value=parseInt(item.title), disabled=item.disabled class=(item.js ? item.js : '') )
                    +e('label').name(for=item.id )
                        +e('span').text #{item.title}