mixin location()
    .b-location
        .b-container
            h2.b-title.b-title--location Достойный район
                span.b-location__decoration
            .b-text.b-text--location
                p Алексеевский&nbsp;&mdash; уникальное явление для современной Москвы. Он&nbsp;давно заселен,так что здесь вы&nbsp;найдете всю необходимую для жизни инфраструктуру. А&nbsp;уровень жизни населения позволяет с&nbsp;уверенностью говорить о&nbsp;том, что это будет инфраструктура высочайшего уровня.
                p Множество государственных и&nbsp;частных детских садов и&nbsp;школ, 4&nbsp;торговых центра, более 20&nbsp;спортивных учреждений, десятки ресторанов, кафе и&nbsp;магазинов располагаются рядом с&nbsp;вашим новым домом.