mixin longread-advantages()
    +b.longread-advantages
        +e.text
            p ЖК «Серебряный фонтан» — это гораздо больше, чем просто дом. 
            p Это система, направленная на то, чтобы обеспечить вам жизнь самого высокого класса. Жизнь, основанную на этих принципах:
        +e.list
            +e.item
                +e.number 1
                +e.info Предельный комфорт для каждого жителя
            +e.item
                +e.number 2
                +e.info Абсолютная безопасность для жизни, здоровья и имущества
            +e.item
                +e.number 3
                +e.info Высокая технологичность на всех этапах от строительства до проживания
            +e.item
                +e.number 4
                +e.info Максимальная экологичность во всем.