mixin maternity-capital-list(data)
    .b-maternity-capital__list
        each item in data.items
            .b-maternity-capital__item
                span.b-maternity-capital__number #{item.number}
                span.b-frame-icon(class=item.icon_mod).b-frame-icon--mortgage.b-frame-icon--maternity-capital
                .b-maternity-capital__text
                    span.b-maternity-capital__text-inner
                        p
                            strong #{item.title} 
                            span.b-maternity-capital__title-text #{item.text}
                        if item.lists
                            ul
                                each list in item.lists
                                    li    #{list}
