mixin maternity-capital-content()
    .b-maternity-capital__content
        p
            strong Вы&nbsp;можете использовать материнский капитал следующими способами:
        ul
            li Перечисление в&nbsp;счет погашения рассрочки по&nbsp;договору на&nbsp;квартиру на&nbsp;этапе строительства дома.
            li Перечисление в&nbsp;погашение последнего платежа по&nbsp;договору на&nbsp;квартиру на&nbsp;этапе строительства дома.
            li Погашение ипотечного кредита, предоставленного одним из&nbsp;банков-партнеров, после регистрации права собственности на&nbsp;квартиру.

        .b-maternity-capital__copy
            p Обратите внимание:
            p Перечисление средств материнского капитала на&nbsp;договор возможно после достижения вашим вторым ребенком возраста 3-х лет.
            p Срок рассмотрения заявления и&nbsp;перечисления средств на&nbsp;банковский счет застройщика составит до&nbsp;двух месяцев.