mixin monthly-payment()
    +b('aside').monthly-payment
      +e('form').form(method="post")
        +e.wrap.js-tab-container.active(data-tab-id="monthly-payment")
            +e('h2').b-title.--monthly-payment Ежемесячный платеж
            +e.range-wrap
                +e('span').title Стоимость квартиры (руб.)
                +slider-range({
                    id: 'monthly-apartment-price',
                    type: 'text',
                    name: 'monthly-apartment-price',
                    currentValue: 17030,
                    minValue: 22000,
                    maxValue: 120700,
                    prefix: '',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-money'
                        },{
                            text: 2,
                            classes: 'js-mid-money'
                        },{
                            text: 3,
                            classes: 'js-max-money'
                    }]
                })
            +e.range-wrap
                +e('span').title Первоначальный взнос (руб.)
                +slider-range({
                    id: 'monthly-an-initial-fee',
                    type: 'text',
                    name: 'monthly-an-initial-fee',
                    currentValue: 8100000,
                    minValue: 0,
                    maxValue: 16200000,
                    prefix: '',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-money'
                        },{
                            text: 2,
                            classes: 'js-mid-money'
                        },{
                            text: 3,
                            classes: 'js-max-money'
                    }]
                })
            +e.range-wrap
                +e('span').title Срок кредита
                +slider-range({
                    id: 'monthly-сredit-term',
                    type: 'text',
                    name: 'monthly-сredit-term',
                    currentValue: 30,
                    minValue: 1,
                    maxValue: 30,
                    step: 1,
                    prefix: 'год,года,лет',
                    year: 'true',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-year'
                        },{
                            text: 2,
                            classes: 'js-mid-year'
                        },{
                            text: 3,
                            classes: 'js-max-year'
                    }]
                })

        +e.wrap.js-tab-container(data-tab-id="amount-of-credit", style="display: none;")
            +e('h2').b-title.--monthly-payment Сумма кредита
            +e.range-wrap
                +e('span').title Стоимость квартиры (руб.)
                +slider-range({
                    id: 'amount-apartment-price',
                    type: 'text',
                    name: 'amount-apartment-price',
                    currentValue: 24500000,
                    minValue: 6600000,
                    maxValue: 56000000,
                    prefix: '',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-money'
                        },{
                            text: 2,
                            classes: 'js-mid-money'
                        },{
                            text: 3,
                            classes: 'js-max-money'
                    }]
                })
            +e.range-wrap
                +e('span').title Первоначальный взнос (руб.)
                +slider-range({
                    id: 'amount-an-initial-fee',
                    type: 'text',
                    name: 'amount-an-initial-fee',
                    currentValue: 5500000,
                    minValue: 0,
                    maxValue: 10400000,
                    prefix: '',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-money'
                        },{
                            text: 2,
                            classes: 'js-mid-money'
                        },{
                            text: 3,
                            classes: 'js-max-money'
                    }]
                })
            +e.range-wrap
                +e('span').title Срок кредита
                +slider-range({
                    id: 'amount-сredit-term',
                    type: 'text',
                    name: 'amount-сredit-term',
                    currentValue: 30,
                    minValue: 1,
                    maxValue: 30,
                    step: 1,
                    prefix: 'год,года,лет',
                    year: 'true',
                    numbers: [{
                            text: 1,
                            classes: 'js-min-year'
                        },{
                            text: 2,
                            classes: 'js-mid-year'
                        },{
                            text: 3,
                            classes: 'js-max-year'
                    }]
                })
        div
            button Отправить заявку
