form.MortgageCalc.MortgageCalc-payment(data-flats-url="/ajax/calc_plans_response_example.json" method="get")

    .MortgageCalc_cell.MortgageCalc_cell-firstPayment
        .MortgageCalc_text Первоночальный взнос
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 2 млн.
            span.MortgageCalc_stepVal 5 млн.
            span.MortgageCalc_stepVal 8 млн.
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="firstPay" type="hidden" data-min-value="0" data-max-value="6000000" autocomplete="off" value="4543128")

    .MortgageCalc_cell.MortgageCalc_cell-price
        .MortgageCalc_text Стоимость объекта
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
            
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 2 млн.
            span.MortgageCalc_stepVal 5 млн.
            span.MortgageCalc_stepVal 20 млн.
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="price" type="hidden" data-min-value="2083128" data-max-value="20024370" autocomplete="off" value="6083128")

    .MortgageCalc_cell.MortgageCalc_cell-duration
        .MortgageCalc_text Срок до
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 1 год
            span.MortgageCalc_stepVal 15 лет
            span.MortgageCalc_stepVal 30 лет
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="duration" type="hidden" data-min-value="1" data-max-value="30" autocomplete="off" value="30")