mixin mortgage-bank(data)
	+b.mortgage-bank(class!=attributes.class)
		.b-mortgage-bank__head
			.b-mortgage-bank__row
				.b-mortgage-bank__col.b-mortgage-bank__col--logo
					h2.b-title.b-title--mortgage.b-title--mortgage-bank Все банки
				.b-mortgage-bank__col.b-mortgage-bank__col--percent.asc
					span.js-sort-link(data-sort="fee") Первоначальный взнос
				.b-mortgage-bank__col.b-mortgage-bank__col--age.asc
					span.js-sort-link(data-sort="loan-terms") Срок кредитования
				.b-mortgage-bank__col.b-mortgage-bank__col--rate.asc
					span.js-sort-link(data-sort="rate") Ставка
		.b-mortgage-bank__body.js-sort-content
			.b-mortgage-bank__statesupport
				a(href="#").Btn._statesupport
					span ГОСПОДДЕРЖКА ОТ 4,5%
			each item, index in data.items
				.b-mortgage-bank__block.js-accordion-block.js-popup-link.js-sort-item(data-target-popup=index)
					.b-mortgage-bank__row
						.b-mortgage-bank__col.b-mortgage-bank__col--logo
							img.b-mortgage-bank__logo(src=item.image, alt='', title='')
						.b-mortgage-bank__col.b-mortgage-bank__col--percent
							span.b-mortgage-bank__cell(class=(item.procentMarked ? 'marked' : ''), data-sort-item=item.sort.procent, data-sort-numb=item.numb.procent)
								| #{item.procent}
						.b-mortgage-bank__col.b-mortgage-bank__col--age
							span.b-mortgage-bank__cell(class=(item.ageMarked ? 'marked' : ''), data-sort-item=item.sort.age, data-sort-numb=item.numb.age)
								| #{item.age}
						.b-mortgage-bank__col.b-mortgage-bank__col--rate
							span.b-mortgage-bank__cell(class=(item.rateMarked ? 'marked' : ''), data-sort-item=item.sort.rate, data-sort-numb=item.numb.rate)
								| #{item.rate}
					.b-mortgage-bank__about.js-accordion-height.js-popup-block(data-popup-id=index)
						.b-mortgage-bank__about-block.js-popup-in

							+e('a').close.js-popup-close(href="javascript:void(0);" title="")
							+e.header
								+e.logo-wrapper
									+e('img').logo--popup(src='/img/content/sber-big.png', alt='', title='')
								+e('span').licence Лицензия&nbsp;1481 от&nbsp;11.08.2015 
							+e.inside
								p &laquo;Абсолют банк&raquo; предлагает ипотечную программу для физических лиц на&nbsp;приобретение коммерческих помещений в&nbsp;жилом комплексе &laquo;Летний сад&raquo;.
								p
									strong Первоначальный взнос
									| &nbsp;&mdash; от&nbsp;15% от&nbsp;стоимости приобретаемой недвижимости.
								p
									strong Срок кредитования
									| &nbsp;&mdash; до&nbsp;30&nbsp;лет.
								p
									strong Процентная ставка
									| до/после оформления права собственности&nbsp;&mdash; от&nbsp;12,49% годовых в&nbsp;рублях
								p Комиссии за&nbsp;рассмотрение заявки на&nbsp;кредит и&nbsp;за&nbsp;выдачу кредита&nbsp;&mdash; отсутствуют.
								p Мораторий на&nbsp;досрочное погашение кредита (частичное или полное)&nbsp;&mdash; отсутствует.
								
								p
									i Срок действия акции ограничен.
								a(href="javascript:void(0);" title="Оформить заявку").b-button.b-button--popup Оформить заявку


mixin mortgage-bank--calculator(data)
	.b-mortgage-bank.b-mortgage-bank--calculator
		.b-mortgage-bank__head
			.b-mortgage-bank__row
				.b-mortgage-bank__col.b-mortgage-bank__col--logo
					h2.b-title.b-title--mortgage.b-title--mortgage-bank.b-title--calculator Банк
				.b-mortgage-bank__col.b-mortgage-bank__col--stavka.desc.asc
					span.js-sort-link(data-sort="rate") Ставка
				.b-mortgage-bank__col.b-mortgage-bank__col--payment.asc
					span.js-sort-link(data-sort="payment-month") Платеж в месяц
		.b-mortgage-bank__body#MortgageBanklistContainer.js-sort-content
			each item, index in data.items
				.b-mortgage-bank__block.js-sort-item
					.b-mortgage-bank__row
						.b-mortgage-bank__col.b-mortgage-bank__col--logo
							img.b-mortgage-bank__logo(src=item.image, alt='', title='')
						.b-mortgage-bank__col
							span.b-mortgage-bank__cell(class=(item.procentMarked ? 'marked' : ''), data-sort-item=item.sort.rate, data-sort-numb=item.numb.rate)
								| #{item.procent}
						.b-mortgage-bank__col.b-mortgage-bank__col--payment
							span.b-mortgage-bank__cell(class=(item.rateMarked ? 'marked' : ''), data-sort-item=item.sort.payment, data-sort-numb=item.numb.payment)
								| #{item.rate}


mixin mortgage-bank--calculator-popup(data)
	+b.mortgage-bank--calculator
		.b-mortgage-bank__head
			.b-mortgage-bank__row
				.b-mortgage-bank__col.b-mortgage-bank__col--logo
					h2.b-title.b-title--mortgage.b-title--mortgage-bank.b-title--calculator Банк
				.b-mortgage-bank__col.b-mortgage-bank__col--stavka.desc.asc
					span.js-sort-link(data-sort="rate") Ставка
				.b-mortgage-bank__col.b-mortgage-bank__col--payment.asc
					span.js-sort-link.js-header-colum(data-sort="payment-month") Платеж в месяц
		.b-mortgage-bank__body#MortgageBanklistContainer.js-sort-content
			each item, index in data.items
				.b-mortgage-bank__block.js-accordion-block.js-popup-link.js-sort-item(data-target-popup=index)
					.b-mortgage-bank__row
						.b-mortgage-bank__col.b-mortgage-bank__col--logo
							img.b-mortgage-bank__logo(src=item.image, alt='', title='')
						.b-mortgage-bank__col.b-mortgage-bank__col--stavka
							span.b-mortgage-bank__cell(class=(item.procentMarked ? 'marked' : ''), data-sort-item=item.sort.rate, data-sort-numb=item.numb.rate)
								| #{item.procent}
						.b-mortgage-bank__col.b-mortgage-bank__col--payment
							span.b-mortgage-bank__cell(class=(item.rateMarked ? 'marked' : ''), data-sort-item=item.sort.payment, data-sort-numb=item.numb.payment)
								| #{item.rate}
					.b-mortgage-bank__about.js-accordion-height.js-popup-block(data-popup-id=index)
						.b-mortgage-bank__about-block.js-popup-in
						
							+e('a').close.js-popup-close(href="javascript:void(0);" title="")
							+e.header
								+e.logo-wrapper
									+e('img').logo--popup(src='/img/content/sber-big.png', alt='', title='')
								+e('span').licence Лицензия&nbsp;1481 от&nbsp;11.08.2015 
							+e.inside
								p &laquo;Абсолют банк&raquo; предлагает ипотечную программу для физических лиц на&nbsp;приобретение коммерческих помещений в&nbsp;жилом комплексе &laquo;Летний сад&raquo;.
								p
									strong Первоначальный взнос
									| &nbsp;&mdash; от&nbsp;15% от&nbsp;стоимости приобретаемой недвижимости.
								p
									strong Срок кредитования
									| &nbsp;&mdash; до&nbsp;30&nbsp;лет.
								p
									strong Процентная ставка
									| до/после оформления права собственности&nbsp;&mdash; от&nbsp;12,49% годовых в&nbsp;рублях
								p Комиссии за&nbsp;рассмотрение заявки на&nbsp;кредит и&nbsp;за&nbsp;выдачу кредита&nbsp;&mdash; отсутствуют.
								p Мораторий на&nbsp;досрочное погашение кредита (частичное или полное)&nbsp;&mdash; отсутствует.
								
								p
									i Срок действия акции ограничен.
								a(href="javascript:void(0);" title="Оформить заявку").b-button.b-button--popup Оформить заявку
