mixin mortgage-advantage(data)
    .b-mortgage-advantage
        ul.b-mortgage-advantage__list
            each item in data.items
                li.b-mortgage-advantage__item
                    span.b-frame-icon.b-frame-icon--mortgage(class=item.icon_mod)
                    .b-frame-icon--personal-manager
                    .b-mortgage-advantage__text
                        h3.b-title.b-title--mortgage-advantage #{item.title}
                        p #{item.text}