mixin mortgage-form(data)
    form(method="get" data-url="/json/send-app.json" data-type="mortgage" data-event="send.app").b-mortgage-form.js-ajax-from.js-validate-form
        div.b-mortgage-form__angle.b-mortgage-form__angle--top-left
        div.b-mortgage-form__angle.b-mortgage-form__angle--top-right
        div.b-mortgage-form__angle.b-mortgage-form__angle--bottom-right
        div.b-mortgage-form__angle.b-mortgage-form__angle--bottom-left
        div.js-send-form
            div.b-mortgage-form__wrapper
                div.b-mortgage-form__left
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'name',
                            'text'       : 'Ваше имя *',
                            'id'         : 'name',
                            'type'       : 'text',
                            'classes': ' js-only-char'
                        }
                    ]})
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'phone',
                            'text'       : 'Телефон *',
                            'id'         : 'phone',
                            'type'       : 'tel',
                            'classes': ' js-phone'
                        }
                    ]})
                div.b-mortgage-form__right
                    include input-group.pug
                    +input-group({'items':[{
                            'name'       : 'comment',
                            'text'       : 'Ваш комментарий',
                            'id'         : 'name-textarea',
                            'type'       : 'text',
                            'textarea'   : true
                        }
                    ]})
            include checkbox.pug
            +checkbox('comment-check', 'comment-check', 'Даю согласие на ','')(required, checked).--mortgage-form.js-compliance-element
                +e('a').agree(href='javascript:void(0);') обработку
                |  персональных данных
            div.b-mortgage-form__note-wrapper
                span.b-mortgage-form__note.js-error-note * — поля, обязательные для заполнения 
            include button.pug
            +button('Отправить', false).b-button--mortgage-form
            span.js-text.b-mortgage-form__note.error.b-mortgage-form__note--hidden
        div.js-success-form(style="display: none;")
            div.b-mortgage-form__wrapper
                div.b-mortgage-form__text-success
                    span.b-mortgage-form__icon-success
                        svg(xmlns="http://www.w3.org/2000/svg", width="52", height="52", viewBox="0 0 52 52")
                            path(fill='none', fill-rule='evenodd', stroke="#142F75", stroke-linecap="round", stroke-linejoin="round", stroke-width="3", d="M17 27.123l7.625 7.074L35.933 18")
                    h3.b-title.b-title--mortgage-form-success
                        span.js-text
                    p Менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время

mixin mortgage-form--success(data)
    form(method="post").b-mortgage-form.b-mortgage-form--success.js-validate-form
        div.b-mortgage-form__angle.b-mortgage-form__angle--top-left
        div.b-mortgage-form__angle.b-mortgage-form__angle--top-right
        div.b-mortgage-form__angle.b-mortgage-form__angle--bottom-right
        div.b-mortgage-form__angle.b-mortgage-form__angle--bottom-left
        div.b-mortgage-form__wrapper
            div.b-mortgage-form__text-success
                span.b-mortgage-form__icon-success
                    svg(xmlns="http://www.w3.org/2000/svg", width="52", height="52", viewBox="0 0 52 52")
                        path(fill='none', fill-rule='evenodd', stroke="#142F75", stroke-linecap="round", stroke-linejoin="round", stroke-width="3", d="M17 27.123l7.625 7.074L35.933 18")
                h3.b-title.b-title--mortgage-form-success
                    span Спасибо,
                    | Ваша заявка отправлена!
                p Менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время