form.MortgageCalc.MortgageCalc-summ(data-flats-url="/ajax/calc_plans_response_example.json" method="get")

    .MortgageCalc_cell.MortgageCalc_cell-monthlyPayment
        .MortgageCalc_text Ежемесячный платеж
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 10 тыс.
            span.MortgageCalc_stepVal 44 тыс.
            span.MortgageCalc_stepVal 80 тыс.
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="monthlyPayment" type="hidden" data-min-value="10000" data-max-value="80000" autocomplete="off" value="10000")

    .MortgageCalc_cell.MortgageCalc_cell-firstPayment
        .MortgageCalc_text Первоночальный взнос
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 0 млн.
            span.MortgageCalc_stepVal 3 млн.
            span.MortgageCalc_stepVal 6 млн.
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="firstPayment" type="hidden" data-min-value="0" data-max-value="6000000" autocomplete="off" value="4543128")

    .MortgageCalc_cell.MortgageCalc_cell-duration
        .MortgageCalc_text Срок до
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageCalc_ticks
            span.MortgageCalc_stepVal 1 год
            span.MortgageCalc_stepVal 15 лет
            span.MortgageCalc_stepVal 30 лет
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="duration" type="hidden" data-min-value="1" data-max-value="30" autocomplete="off" value="30")