mixin number-about()
    +b.number-about
        +e('ul').list
            +number-about-item("30", "Более", "", "", "Лет", "работаем в Московском регионе").--order-1
            +number-about-item("5.", "", "млн м", "2", "НЕДВИЖИМОСТИ", "введено в эксплуатацию с момента создания Группы «Эталон».", "8").--order-1
            +number-about-item("22", "", "", "", "ОБЪЕКТА", "в реализации по состоянию на сегодняшний день.").--order-1
            +number-about-item("0", "", "", "", "ПРОСРОЧЕК", "по сдаче объектов.").--order-2
            +number-about-item("200", "Более", "тыс", "", "ЧЕЛОВЕК", "проживает в домах Группы «Эталон».").--order-1
            +number-about-item("2.", "", "млн м", "2", "ЗАЯВЛЕННОЙ НЕДВИЖИМОСТИ", "на рынке Москвы, Московской области и Санкт-Петербурга*", "82").--order-1
                +e.more-info
                    p * (по оценке Knight Frank по состоянию на 31.12.17)
            +number-about-item("52", "", "", "", "ГОРОДА РОССИИ", "охватывает общенациональная сеть продаж Группы «Эталон», являющаяся крупнейшей среди сетей продаж российских девелоперских компаний.").--order-3


mixin number-about-item(number, more, info, little, title, text, min_num)
    +e.item(class!=attributes.class)
        +e.number
            +e.more #{more}
            +e('span').num #{number}
                if min_num
                    +e.num.--min #{min_num}
            if info
                +e('span').info #{info}
                    +e('span').little #{little}
        +e.title #{title}
        +e.text
            p #{text}
            block