+e.filters
    +e.wrapper.js-ajax.js-filter-event(data-url="/json/options.json", data-event="flats", data-type="get", data-load="true")
        input(type="text", style="display: none;", id='offset', name='offset', value="0")
        input(type="text", style="display: none;", id='limit', name='limit', value="20")
        input(type="text", style="display: none;", id='sort', name='sort', value="")
        input(type="text", style="display: none;", id='sortdir', name='sortdir', value="")
        input(type="text", style="display: none;", id='action', name='action', value="get_typicals")
        include list-checkbox.pug
        +list-checkbox("Корпус", {'items':[
                {
                    "id": "1",
                    "name": "bld[]",
                    "title": "1"
                },{
                    "id": "2",
                    "name": "bld[]",
                    "title": "2"
                },{
                    "id": "3",
                    "name": "bld[]",
                    "title": "3",

                },{
                    "id": "4",
                    "name": "bld[]",
                    "title": "4",

                }
            ]}).--options
        +list-checkbox("Количество комнат", {'items':[
                {
                    "id": "2-1",
                    "name": "bedrooms[]",
                    "title": "Ст"
                },{
                    "id": "2-2",
                    "name": "bedrooms[]",
                    "title": "1"
                },{
                    "id": "2-3",
                    "name": "bedrooms[]",
                    "title": "2"
                },{
                    "id": "2-4",
                    "name": "bedrooms[]",
                    "title": "3"
                },{
                    "id": "2-5",
                    "name": "bedrooms[]",
                    "title": "4"
                },{
                    "id": "2-6",
                    "name": "bedrooms[]",
                    "title": "5"
                },{
                    "id": "2-7",
                    "name": "bedrooms[]",
                    "title": "6"
                }
            ]}).--options.--room
        +b.calculator.--options.--floor
            +e.wrap.js-slider-container(data-range="true", data-not-fl="middle_floor_only")
                +e.text Этаж
                +e.slider-ui.js-slider-ui(id="floor", max="19", min="5")
                +e.top-info.--options
                    +e.item-info
                        span(data-target="floor_from").js-min 5
                        input(id="floor_from", type="text", style="display: none", name="floor_from", value="5")
                    +e.item-info
                        span(data-target="floor_to").js-max 19
                        input(id="floor_to", type="text", style="display: none", name="floor_to", value="19")
            include checkbox.pug
            +checkbox("middle_floor_only", "middle_floor_only", "Кроме первого и последнего").--options.--mortgage-form
        +b.calculator.--options
            +e.wrap.js-slider-container(data-range="true")
                +e.text Площадь, м²
                +e.slider-ui.js-slider-ui(id="area", max="182", min="39")
                +e.top-info.--options
                    +e.item-info
                        span(data-target="area_from").js-min 39
                        input(id="area_from", type="text", style="display: none", name="area_from", value="39")
                    +e.item-info
                        span(data-target="area_to").js-max 182
                        input(id="area_to", type="text", style="display: none", name="area_to", value="182")
        +b.calculator.--options.--last
            +e.wrap.js-slider-container(data-range="true", data-price="true")
                +e.text Цена, ₽
                +e.slider-ui.js-slider-ui(id="price", max="51 493 180", min="9 963 030")
                +e.top-info.--options
                    +e.item-info
                        span(data-target="price_from").js-min 9 963 030
                        input(id="price_from", type="text", style="display: none", name="price_from", value="9963030")
                    +e.item-info
                        span(data-target="price_to").js-max 51 493 180
                        input(id="price_to", type="text", style="display: none", name="price_to", value="51493180")
        +e.bottom-block.js-default-checkbox
            +e.select.options-page__select--appart.js-select-tablet
                include select.pug
                +select({id:"options",name:"apts"}, "js-select", "", "Апартаменты: не важно", "Апартаменты: да", "Апартаменты: нет")
            +e.checkbox-block
                +e.title Вид из окон
                +checkbox("view_win[]", "options-sokol", "на Парк Сокольники","","options-sokol").--options.--mortgage-form.--options-block
                +checkbox("view_win[]", "options-dvor", "на внутреннее пространство двора","","options-dvor").--options.--mortgage-form.--options-block
                +checkbox("view_win[]", "options-22", "на липовую аллею","","options-22").--options.--mortgage-form.--options-block
                +checkbox("view_win[]", "options-33", "на город","","options-33").--options.--mortgage-form.--options-block
            +e.more-checkbox.js-checkbox-permutation
                +checkbox("discount", "discount", "Акционные квартиры").--options.--mortgage-form.--options-block.--actionFlat
                +checkbox("finish", "finish", "Отделка").--options.--mortgage-form.--options-block.--finish