mixin pagination(data, config)
    +b('ul').pagination(class!=attributes.class)
        +e.item.--prev.js-arrow-left
            +e('a').page-change.--prev(href="javascript:void(0);", title="Следующая страница")
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 9 14')
                    path(stroke-linecap='square', stroke-linejoin='round', stroke-width='1.12', d='M1.512 6.889l6.111 6.15-6.11-6.15 6.11-6.15-6.11 6.15zm0 0l-.025-.025.025.025-.025.025.025-.025z')
        - var active = ''
        each item, index in data.items
            if (index == `${config.active}`)
                - var active = '-active'
            else
                - var active = ''

            if (item.number == 'dots')
                +e.item.--dot
                    +e('span').link.--dot ...
            else
                +e.item.js-item
                    +e('a').link.js-link(href="javascript:void(0);" title="" class=item.active) #{item.number}

        +e.item.--next.js-arrow-right
            +e('a').page-change.--next(href="javascript:void(0);", title="Следующая страница")
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 9 14')
                    path(stroke-linecap='square', stroke-linejoin='round', stroke-width='1.12', d='M1.512 6.889l6.111 6.15-6.11-6.15 6.11-6.15-6.11 6.15zm0 0l-.025-.025.025.025-.025.025.025-.025z')
