mixin payment-form(data)
    form(method="get" data-url="/json/send-app.json" data-event="send.app").PaymentForm.js-ajax-from.js-validate-form
        div.js-send-form
            div.PaymentForm__wrapper
                .select.js-select-tablet.select--payment
                    include ./select.pug
                    .PaymentForm_title Строительный адрес
                    +select({
                        id: "options",
                        name: "parking-address"
                    }, "js-select", "", "Строительный адрес 1", "Строительный адрес 2", "Строительный адрес 3", "Строительный адрес 4")
                    .PaymentForm_title Карта ПАО Сбербанк
                    +select({id: "options", name: "parking-sber"}, "js-select", "", "Да", "Нет")
                include input-group.pug
                .PaymentForm_row
                    .PaymentForm_col
                        +input-group({
                            'items': [{
                                'name': 'parking-name',
                                'text': 'Имя *',
                                'id': 'parking-name',
                                'type': 'text',
                                'classes': ' js-only-char'
                            }
                            ]
                        })
                    .PaymentForm_col
                        +input-group({
                            'items': [{
                                'name': 'parking-sirname',
                                'text': 'Фамилия *',
                                'id': 'parking-sirname',
                                'type': 'text',
                                'classes': ' js-only-char'
                            }
                            ]
                        })
                +input-group({
                    'items': [{
                        'name': 'parking-number',
                        'text': 'Номер договора *',
                        'id': 'parking-number',
                        'type': 'text',
                        'classes': ' '
                    }
                    ]
                })
                .PaymentForm_row
                    .PaymentForm_col
                        +input-group({
                            'items': [{
                                'name': 'parking-summ',
                                'text': 'Сумма в руб. *',
                                'id': 'parking-summ',
                                'type': 'number',
                                'classes': ''
                            }
                            ]
                        })
                    .PaymentForm_col
                        +input-group({
                            'items': [{
                                'name': 'parking-email',
                                'text': 'Почта',
                                'id': 'parking-email',
                                'type': 'email',
                                'classes': 'js-ignore'
                            }
                            ]
                        })
                div.b-mortgage-form__note-wrapper.b-mortgage-form__note-wrapper--problem
                    include checkbox.pug
                    +checkbox('comment-check', 'comment-check', 'Согласие на ','')(required).--payment-form.--problem-form.js-compliance-element
                        +e('a').agree(href='javascript:void(0);') обработку персональных данных
                a.PaymentForm_link
                    span Правила возврата средств при отказе от услуги
                include button.pug
                +button('Перейти к оплате', false).b-button--payment-form
        div.js-success-form(style="display: none;")
            div.b-mortgage-form__wrapper
                div.b-mortgage-form__text-success
                    span.b-mortgage-form__icon-success
                        svg(xmlns="http://www.w3.org/2000/svg", width="52", height="52", viewBox="0 0 52 52")
                            path(fill='none', fill-rule='evenodd', stroke="#142F75", stroke-linecap="round", stroke-linejoin="round", stroke-width="3", d="M17 27.123l7.625 7.074L35.933 18")
                    h3.b-title.b-title--mortgage-form-success
                        span.js-text
                    p Менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время