#PdfEmailForm(style="display: none;")
    form(method="get" data-url="/json/send-app.json" data-event="send.app").PdfEmailForm.js-ajax-from.js-validate-form
        .PdfEmailForm_inner
            .PdfEmailForm_angleTop
            .PdfEmailForm_angleBottom
            .js-send-form.PdfEmailForm_sendBlock
                .PdfEmailForm_title Мы отправим выбранную Вами
                    |  планировку &nbsp;
                    span.nowrap на&nbsp;Ваш&nbsp;e-mail
                .PdfEmailForm_titleFlat Корпус 1, секция 3, квартира 45
                include input-group.pug
                .PdfEmailForm_inpText
                    +input-group({
                        'items': [{
                            'name': 'pdf-email',
                            'text': 'Ваш e-mail *',
                            'id': 'pdf-email',
                            'type': 'email',
                            'classes': ''
                        }]
                    })
                include checkbox.pug
                +checkbox('pdf-email-check', 'pdf-email-check', 'Согласие на ','')(required).--PdfEmailForm.js-compliance-element
                    +e('a').agree(href='javascript:void(0);') обработку персональных данных
                .PdfEmailForm_note.js-error-note * — поля, обязательные для заполнения
                include button.pug
                +button('Отправить', false).b-button

            .js-success-form.PdfEmailForm_successBlock(style="display: none;")
                .PdfEmailForm_title Спасибо!<br>Планировка отправлена<br>на указанный e-mail
                span(data-fancybox-close)
                    include button.pug
                    +button('Ок', false).b-button

            a(href="javascript:;", data-fancybox-close).PdfEmailForm_close