mixin request(data)
    each item in data.items
        +b.request(class!=attributes.class)
            +e('span').text !{item.text}
            +e.wrap
                +e('a').number !{item.number}
                include button.pug
                +button(item.button,'').b-button--request

