mixin select(id, js, disabled, ...items)
    +b.select(class!=attributes.class)
        +e("select").list(class=js, required name=(typeof id=='object')?id.name:id, id=(typeof id=='object')?id.id:id)&attributes( attributes )
            if disabled
                +e.item(disabled=disabled) Выключенный
            each item, index in items
                +e.item(value=items.length - index-1) #{item}
                //- <!-- disabled=(index == 0 ? '-disabled' :false) --> 