.SimplePopup(data-simplepopup)._open
    .SimplePopup_bg(data-simplepopup-close)
    .SimplePopup_body
        .SimplePopup_angle._top-left
        .SimplePopup_angle._top-right
        .SimplePopup_angle._bottom-right
        .SimplePopup_angle._bottom-left
        .SimplePopup_txt 28 февраля офис продаж будет работать с 15:00.<br>В остальные дни – в обычном режиме.
        button.SimplePopup_close(data-simplepopup-close)
            include ../../../assets/img/icons/close.svg