.SimplePopup(data-simplepopup data-cookes="stayhome")
    .SimplePopup_bg(data-simplepopup-close)
    .SimplePopup_body._img
        .SimplePopup_img
            picture
                source(srcset='/img/popup/stayhome_320.jpg', media='(max-width:1023px)')
                img(src="/img/popup/stayhome.jpg", alt="")
            a(href="#").SimplePopup_link
        button.SimplePopup_close(data-simplepopup-close)
            include ../../../assets/img/icons/close.svg