mixin slider-range(data)
    div.js-slider-range-wrapper
        div.js-slider-range-container
            input.js-slider-range-input(data-year=data.year, data-values=data.values, data-step=data.step, data-prefix=data.prefix data-current-val=data.currentValue, data-min-val=data.minValue, data-max-val=data.maxValue,  id=data.id, type=data.type, placeholder=data.placeholder, name=data.name, value=data.value, required)
            div.js-slider-range(id="slider-range-min-" + data.id)
            if data.numbers
                div
                    each number in data.numbers
                        span(class=number.classes) #{number.text}
        if data.select
            div.js-select-wrapper
                select(name=data.select.name, class=data.select.classes)
                    each item in data.select.items
                        option(data-step=item.step, data-prefix=item.prefix data-current-val=item.currentValue, data-min-val=item.minValue, data-max-val=item.maxValue) #{item.prefix}
        