mixin slider-date(data)
    +b.slider-date
        +e.year.--mobile.js-date-year 2017
        +e.list.js-date-slider(data-init="02-2017")
            each item in data.items
                +e.item(class=item.class)
                    if item.mounth=='Январь'
                        +e.year #{item.year}
                    +e.line
                        +e.border.--big
                        +e.border.--one
                        +e.border.--second
                        +e.border.--third
                        +e.border.--four
                        +e.border.--five
                        +e.border.--six
                        +e.border.--seven
                        +e.border.--eight
                        +e.border.--nine
                    +e.mounth(data-date=item.date) #{item.mounth}
