mixin slider-content()
    +b.slider-content
        +e.list.js-slider-content
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item.--video
                +e.video-wrapper
                    iframe(width='', height='', src='https://www.youtube.com/embed/sj2pZS7aG2A', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            +e.item.--video
                +e.video-wrapper
                    iframe(width='', height='', src='https://www.youtube.com/embed/xApldi2rbk8', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')


mixin slider-content-photo()
    +b.slider-content
        +e.list
            +e.item
                +b.media-slider
                    +e.list.js-slider-media
                        +e.item( data-date="01-2017")
                            +e('img').image(src="img/content/diary.jpg", alt)
                        +e.item(class='-next' data-date="01-2017")
                            +e('img').image(src="img/content/diary.jpg", alt)
                        +e.item( data-date="01-2017")
                            +e('img').image(src="img/content/diary.jpg", alt)
                        +e.item( data-date="02-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="03-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="04-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="05-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="06-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="07-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="08-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="09-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="10-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="11-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="12-2017")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="01-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="01-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="02-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="03-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="03-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="04-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="05-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="05-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="06-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                        +e.item( data-date="07-2018")
                            +e('img').image(data-src="img/content/diary.jpg", alt)
                    +e.slider-number
                        +e.number.js-slider-num 1
                        +e.line
                        +e.number.js-slider-all 3
