mixin title-header(data)
    each item in data.items
        .b-title-header(class!=attributes.class)
            .b-container
                h2.b-title.b-title--title-header #{item.title}
                if item.lists
                    ul.b-title-header__wrap
                        each list, index in item.lists
                            li.b-title-header__item(class=(item.active == index ? 'active' : ''))
                                a.b-title-header__link(href='javascript:void(0);', title='') #{list}
                if item.button
                    include button.pug
                    +button('Оформить заявку', true).b-button--white.js-anchor-link(data-anchor-target="make-request")
