mixin tooltip-new(data)
    +b.tooltip-new( class!=attributes.class )
        each item in data.items
            +e.wrap.js-r1
                if item.number_title
                    +e('span').number #{item.number_title}
                +e('span').title #{item.title}
            +e.wrap.js-r2
                if item.number_text 
                    +e('span').number #{item.number_text}
                +e('span').text #{item.text}

mixin tooltip-new-link(data)
    +b('a').tooltip-new(href="javascript:void(0);" title="" class!=attributes.class )
        each item in data.items
            +e.wrap.js-r1
                if item.number_title
                    +e('span').number #{item.number_title}
                +e('span').title #{item.title}
            +e.wrap.js-r2
                if item.number_text 
                    +e('span').number #{item.number_text}
                +e('span').text #{item.text}