mixin tooltip-comercial(data)
    +b.tooltip-comercial( class!=attributes.class )
        each item in data.items
            +e.wrap.js-r1
                +e('span').number #{item.number_text}
                +e('span').text #{item.text}
            +e.wrapper.js-r2
                +e('span').number-section #{item.number_section}
                +e('span').section #{item.section}
            +e.wrapper.js-r3
                +e('span').number-floor #{item.number_floor}
                +e('span').floor #{item.floor}