mixin tradein-steps(data)
    +b.step-wrapper
        each item, index in data.items
            - var step = index + 1;
            +b.step
                +e('span').item
                    +e.text Шаг
                    +e.num #{step}
                +e('h3').header !{item.header}
                +e.info
                    +e('dl').todo
                        +e('dt').todo-header Вы:
                        +e('dd').todo-text #{item.text1}
                    +e('dl').todo
                        +e('dt').todo-header Мы:
                        +e('dd').todo-text #{item.text2}

                
