/* 320++  */
.b-text {
    position: relative;

    .b-center-event--tech & {
        margin-bottom: 24px;
    }
    .b-center-event--zoom & {
        margin-bottom: 21px;
    }
    .b-center-event--lift & {
        margin-bottom: 30px;
    }

    & p {
        color: rgb(0, 0, 0);
        display: inline-block;
        font-family: 'AvenirNext-Regular';
        font-size: 17px;
        letter-spacing: 0.1px;
        line-height: normal;
        text-align: left;
        word-wrap: break-word;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    &--environment-masterpieces {
        padding-left: 0px;
        width: auto;
    }

    &--hollywood-style {
        margin-bottom: 30px;
    }

    &--hollywood-bottom {
        margin-bottom: 27px;
    }

    &--fountain {
        margin-bottom: 28px;
        & p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &--linden-alley {
        margin-bottom:24px;

    }

    &--ecol {
        margin-bottom: 30px;
    }

    &--parking {
        p {
            letter-spacing: -0.1px;
            color: #fff;
        }
        p:not(:last-child) {
            margin-bottom: 35px;
        }
    }
    // .b-center-event--security & {
    //     p:not(:last-child) {
    //         margin-bottom: 0;
    //     }
    // }
}