@media (min-width: 768px) {
    .b-text {
        padding-left: 103px;
        width: calc(100% - 21px);

        &--environment-masterpieces {
            padding-left: 0px;
            width: calc(100% - 43px);
        }

        &--center {
            width: calc(100% - 8px);

            .b-center-event--tech & {
                padding: 0;
                width: 100%;
                margin-bottom: 31px;
            }

            .b-center-event--left & {
                width: 50%;
                padding-left: 20px;
                padding-top: 22px;
                padding-right: 38px;
                margin-bottom: 23px;
            }
        }

        &--masterpieces-bottom {
            padding-left: 40px;
            padding-right: 23px;
        }

        &--location {
            display: flex;
            padding: 0;
            width: 100%;
            padding-left: 20px;

            & > p {
                margin: 0 19px 0 0;
                width: 50%;
                &:not(:last-child) {
                    margin-bottom:0px;
                }

                &:nth-child(2n) {
                    margin: 0;
                }
            }
        }

        &--destination {
            padding-left: 20px;

            & p {
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }
        }

        &--capital-block {
            padding-left:20px;
            width: auto;
        }

        &--masterpiece {
            padding: 0;
            width: 100%;
        }

        &--hollywood-style {
            padding-left:0px;
            width:auto;
            margin-bottom: 40px;
        }

        &--hollywood-bottom {
            margin-bottom: 39px;
            width:auto;
            padding-left:0px;
        }

        &--fountain {
            padding-left: 0px;
            margin-bottom: 39px;
            & p {
                &:not(:last-child) {
                    margin: 0 42px 0 0;
                    padding-right: 7px;
                }

            }
        }

        &--linden-alley {
            width:auto;
            padding: 0px 40px;
            margin-bottom: 39px;
        }

        &--fortress {
            padding: 0;
            display: block;
        }

        &--zoom {
            display: flex;
            align-items: flex-start;

            p {
                width: 50%;

                &:first-child {
                    padding-right: 20px;
                }

                &:last-child {
                    padding-left: 20px;
                }

                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }

        &--ecol {
            padding: 0;
            width: 100%;
            margin-bottom: 38px;
        }

        &--parking {
            padding: 0;
            width: 100%;

            p {
                letter-spacing: 0.1px;
            }
            p:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        &__number {
            position: relative;
            
            &::before {
                opacity: 0.05;
                font-size: 130px;
                letter-spacing: 0.1px;
                color: #000000;
                position: absolute;
                top: -43px;
                left: -25px;
                font-family: 'MuseoCyrl-900';
            }

            &--one {
                &::before {
                    content: "1";
                }
            }

            &--second {
                &::before {
                    content: "2";
                }
            }

            &--third {
                &::before {
                    content: "3";
                }
            }
        }

        .b-center-event--lift & {
            padding: 38px 0 0;
            width: 50%;
            margin-bottom: 31px;
            display: inline-block;
            vertical-align: middle;
            max-width:  455px;
            margin-right: 40px;        
        }
    }
}

@media (min-width: 1024px) {
    .b-text {
        padding-left: 147px;

        &--environment-masterpieces {
            padding-left: 0px;
            width: calc(100% - 76px);
            position: relative;
        }

        &--masterpieces-bottom {
            padding-left: 80px;
            padding-right: 56px;
        }

        &--destination {
            padding-left: 80px;
            width: calc(100% - 70px);
        }

        &--location {
            padding-left:0px;
            // margin: 0 -27px;

            > p {
                // margin: 0 84px 0 0;
            }
        }

        &--capital-block {
            padding-left:0px;
            width:auto;
        }


        &--masterpiece {
            padding: 0;
        }

        &--hollywood-style {
            padding-left: 77px;
            margin-bottom: 64px;
        }

        &--hollywood-bottom {
            padding-left:0px;
            padding-right: 60px;
            margin-bottom:35px;
        }

        &--fountain {
            margin: 0px -37px 35px;
            margin: 0px -20px 58px -37px;
            width: auto;

            p:not(:last-child) {
                margin: 0 63px 0 0;
            }
        }

        &--linden-alley {
            padding-left:77px;
            width:50%;
            padding-top: 20px;


            .section--fortress & {
                padding-left: 60px;
            }
        }

        .b-center-event--tech & {
            padding: 49px 0 0 60px;
            width: 50%;
            margin-bottom: 31px;
            display: inline-block;
            vertical-align: middle;
            max-width:  455px;
            margin-right: 57px;        
        }

        .b-center-event--security & {
            padding-top: 36px;
        }

        .b-center-event--left & {
            // padding: 17px 0 0 38px;
            padding: 17px 0 0 49px;
            margin-bottom: 16px;
        }

        &--zoom {
            .b-center-event--tech & {
                width: 100%;
                max-width: none;
                display: flex;
                padding: 0;
                align-items: flex-start;
            }

            p {
                width: calc(50% - 31px);
            }
        }

        &--ecol {
            padding: 0;
            margin-bottom: 55px;
            width: 100%;
        }

        &--fortress {
            padding: 0;
            width: 100%;

            display: flex;
            flex-direction: row;

            p {
                width: 50%;
                &:not(:last-child) {
                    margin-right: 36px;
                }
                &:last-child {
                    padding-left: 15px;
                }
            }
        }

        &--parking {
            padding: 0;
        }

        .b-center-event--lift & {
            padding-top: 50px;
            // max-width: 455px;   
        }

        &__number {
            &:before {
                left: -28px;
            }
        }
    }
}
@media (min-width: 1280px) {
    .b-text {
        width: calc(100% - 148px);
        padding-left: 132px;

        &--environment-masterpieces {
            padding-left: 0px;
            padding-right: 125px;
            width: auto;
        }

        &--masterpieces-bottom {
            padding-left: 132px;
            padding-right:0px;
            width: calc(100% - 120px)
        }

        &--destination {
            width: calc(100% - 121px);
        }

        &--location {
            width: calc(100% - 14px);
            padding-left: 0px;
        }

        &--capital-block {
            padding-left:0px;
            width:auto;
        }

        &--masterpiece {
            padding: 0px;
            width: 100%;
        }

        &--hollywood-style {
            width: auto;
            padding-left: 45px;
            margin-bottom: 48px;
            padding-right: 30px;
        }

        &--hollywood-bottom {
            padding: 0px 70px 0px 27px;
            width: auto;
            margin-bottom: 42px;
        }

        &--fountain {
            width:auto;
            margin: 0px 0px 57px;
            & p {
                &:not(:last-child) {
                    padding: 0px 0px 0px 7px;
                    margin: 0 78px 0 0;
                }

                &:last-child {
                    padding-left: 20px;
                }
            }
        }

        &--linden-alley {
            width:50%;
            padding: 20px 26px 0px 186px;


            padding-left: 160px;
            padding-right: 50px;
            max-width: 611px;

            .section--fortress & {
                padding-left: 160px;
                padding-right: 50px;
                max-width: 611px;
            }
    
        }

        .b-center-event--tech & {
            padding: 49px 0 0 30px;
        }
        .b-center-event--security & {
            padding: 60px 0 0 30px;
        }
        .b-center-event--left & {
            padding: 18px 0 0 70px;
            max-width: 465px;
        }
        .b-center-event--bim & {
            padding: 17px 0 0 68px;
            margin-bottom: 0;
        }

        &--zoom {
            p {
                max-width: 435px;
                margin-right: 96px;
            }
            .b-center-event--tech & {
                padding-left: 0;
                padding-top: 0;
            }
        }

        &--ecol {
            width: 100%;
            padding: 0;
        }

        &--fortress,
        &--parking {
            padding: 0;
            width: 100%;
        }
        &--fortress {

            p {
                &:not(:last-child) {
                    margin-right: 23px;
                }
                &:last-child {
                    padding-left: 0;
                }
            }
        }

        .b-center-event--lift & {
            padding-top: 50px;     
        }
    }
}
@media (min-width: 1920px) {
    .b-text {
        padding-left: 160px;
        width: auto;

        &--environment-masterpieces {
            padding-left: 0px;
            width: auto;
        }
        &--masterpieces-bottom {
            padding-left: 122px;
            padding-right: 140px;
        }

        &--destination {
            // padding-left: 32%;
            padding-left: calc(13% + 160px);
        }

        &--location {
            padding-left: 0%;
        }

        &--capital-block {
            padding-left:0px;
            width:auto;
        }

        &--masterpiece {
            padding: 0;
            width: 100%;
        }

        &--hollywood-style {
            padding-left: 29px;
        }

        &--hollywood-bottom {
            padding-left: 22px;
            width: auto;
            padding-right: 55px;
        }

        &--linden-alley {
            width:50%;
            // padding-left: 189px;

             
            padding-left: 170px;
            padding-right: 40px;
            width: auto;
            flex-grow: 1; flex-shrink: 1; flex-basis: auto;
            max-width: 621px;

            .section--fortress & {    
                padding-left: 160px;
                padding-right: 40px;
                width: auto;
                flex-grow: 1; flex-shrink: 1; flex-basis: auto;
                max-width: 621px;
            }
        }

        &--fountain {
            p:not(:last-child) {
                padding: 0px 0px 0px 8px;
            }
        }

        &--ecol {
            width: 100%;
            padding: 0;
        }

        &--fortress,
        &--parking {
            padding: 0;
        }

        .b-center-event--lift & {
            padding-top: 50px;     
        }
    }
}