.FullNavMenu {
    position: fixed;
    //top: -150%;
    top: -650%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 0;
    padding: 68px 0 55px 0;
    font-family: "MuseoCyrl-500";
    transition: top 0.3s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

    &_container {
        max-width: 1840px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        position: relative;
        padding: 0 70px;
    }

    &_col {
        width: 25%;

        &-mobile {
            display: none;
        }
    }

    &_colTitle {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    &_list {
        &-bold {
            font-weight: bold;

            & .FullNavMenu_link {
                color: #000;
            }
        }
    }

    &_item {
        &:not(:last-of-type) {
            margin-bottom: 15px;
        }
    }

    &_link {
        font-size: 14px;
        color: rgba(#000, 0.5);
        transition: 0.2s;

        &:hover {
            color: #0f1e4b;
        }
    }

    &_btn {
        margin-left: 0;
    }

    &-active {
        top: 0;
        z-index: 10010;
    }

    &_burger {
        position: absolute;
        left: 3px;
        top: -30px;
        cursor: pointer;

        & .Burger_col {
            background-color: #153075;
            width: 100%;
            position: absolute;
            &:last-of-type {
                opacity: 0;
            }

            &:first-of-type {
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                transform: rotate(-45deg);
            }
        }
    }
}
