.FullNavMenu {
    &_btn {
        white-space: nowrap;
        width: auto;
        display: inline-block;
        padding: 14px;
    }
}

@media (max-width: 1279.98px) {
    .FullNavMenu {
        &_container {
            flex-wrap: wrap;
        }

        &_col {
            width: 50%;
            margin-bottom: 54px;
        }
    }
}

@media (max-width: 767.98px) {
    .FullNavMenu {
        height: 100vh;
        overflow-y: scroll;
        padding-top: 50px;
        padding-left: 10px;
        padding-bottom: 10px;

        &._ios {
            padding-bottom: 100px;
        }

        &_col {
            width: 100%;

            &-mobile {
                display: block;
            }
        }

        &_container {
            padding: 0 20px;
        }

        &_burger {
            left: 20px;
            top: -40px;
        }

        &_btn {
            width: 100%;
            display: block;

            

            &-desktop {
                display: none;
            }
        }

        &_link {
            font-size: 18px;
        }
    }

    .lock-tablet {
        height: 100% !important;
        overflow: hidden !important;
    }
}
