.b-popup {
    background-color: #ffffff;
    box-shadow: 0 21px 48px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    padding: 20px;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     left: -20px;
    //     top: 90px;
    //     border: 10px solid transparent;
    //     border-right: 10px solid #fff;
    // }
    &__arrow {
        position: absolute;
        left: -20px;
        top: 90px;
        border: 10px solid transparent;
        border-right: 10px solid #fff;
    }

    &.active {
        display: block;
        z-index: 100;
    }

    &--line {
        display: none;
        top: -62px;
        left: 71px;
        width: 438px;
        padding: 57px 40px;
    }

    &__link-close {
        position: absolute;
        z-index: 101;
        top: 16px;
        right: 16px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        z-index: 1001;
    }

    &__image-wrapper {
        text-align: center;
    }

    &__image {
        max-width: 344px;
        max-height: 400px;
        display:block;
        margin: auto;
    }
}