.b-floor-image {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    &--apart {
        width: calc(100% / 3);
    }

    &--plan {
        padding-right:15px;
    }

    &--comp {
        padding-left: 33px;
    }

    &--apart & {
        &__image-wrapper {
            opacity: 0.3;
        }
    }

    &__text {
        color: #000;
        font-family: "AvenirNext-Medium";
        font-size: 10px;
        margin-bottom: 12px;
        opacity: .5;

        .b-floor-image--apart & {
            font-size: 9px;
            white-space: nowrap;
            margin: 0 0 7px;
        }
    }

    &__image {
        max-width: 107px;

        .b-floor-image--apart & {
        }

        .b-floor-image--adds & {
            height: 66px;
        }

        .b-floor-image--compass & {
            height: 59px;
        }

        .b-floor-image--plan & {
            height: 65px;
        }
    }

    &--comp & {
        &__image {
            max-width: 69px;
        }
    }

    &--plan & {
        &__image {
            // max-width: 86px;
             max-width: 66px;
            padding-right: 2px;
            height: auto;
        }

        &__text {
            margin-bottom: 10px;
        }
    }
}