@media (min-width: 768px) {
    .b-floor-image {
        width: calc(100%/3);
        // align-items: flex-start;

        &--comp {
            align-items: flex-start;
            padding-left: 14px;
        }

        &--apart {
            width: calc(100% / 3);
            // align-items: center;
        }

        &--plan {
            padding-right:0px;
        }

        &__text {
            .b-floor-image--apart & {
                font-size: 11px;
                margin: 0 0 13px;
            }
        }

        &__image {
            &--apart {
                width: calc(100% / 3);
            }

            .b-floor-image--adds & {
                height: 78px;
            }

            .b-floor-image--compass & {
                height: 72px;
            }
        }

        .b-floor-map--commercial & {
            &:first-child {
                align-items: flex-start;
            }
            &__image {
                // max-width: 84px;
            }
        }

        &--comp & {
            max-width: 68px;
        }

        &--plan & {
            &__image {
                height:auto;
                max-width: 91px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-floor-image {
        align-items: center;
        display: flex;
        margin-bottom: 54px;
        width: auto;

        &--comp {
            padding-left:0;
        }

        &--apart {
            margin: 0;
        }

        &__text {
            margin-bottom: 13px;
        }

        .b-floor-map--commercial & {
            margin-bottom: 37px;
        }
    }
}

@media (min-width: 1024px) {
    .b-floor-image {
        margin-bottom: 55px;

        &__image-wrapper {
            margin: 0 auto;
        }

        &--apart {
            margin: 0;

            &.b-floor-image--adds {
                margin-right: 35px;
            }
            &.b-floor-image--plan {
                margin-left: auto;
            }
        }

        .b-floor-map--commercial & {
            margin-bottom: 27px;
        }
    }
}


@media (min-width: 1280px) {
    .b-floor-image {
        margin-bottom: 51px;

        &__image-wrapper {
            margin: 0 auto;
        }

        &--apart {
            margin-bottom: 44px;

            &.b-floor-image--adds {
                margin-right: 0;
            }
            &.b-floor-image--plan {
                margin-left: 0;
            }
        }

        &__text {
            white-space: nowrap;
        }

        .b-floor-map--commercial & {
            margin-bottom: 33px;
        }
    }
}

@media (min-width: 1920px) {
    .b-floor-image {
         .b-floor-map--commercial & {
            margin-bottom: 35px;
        }
    }
}  