@media (min-width: 768px) {
    .b-location {
        padding: 70px 0px 71px;

        &__decoration {
            position: relative;
            &:after {
                border-bottom: 1px solid #b59b61;
                bottom: 19px;
                content: '';
                right: -135px;
                position: absolute;
                width: 82px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-location {
        padding: 74px 0px 58px;

        &__decoration {
            position: relative;
            &:after {
                right: -105px;
                position: absolute;
                width: 82px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-location {
        padding: 74px 0px 85px;

        background: url(/img/backgrounds/location-desktop.png) no-repeat;
        background-size: 100% auto;
        padding-bottom: 425px;
    }
}

@media (min-width: 1920px) {
    .b-location {
        background: url(/img/backgrounds/location-fullhd.png) no-repeat;
        background-size: 100% auto;
        padding-bottom: 425px;
    }
}