.b-container {
    padding: 0 20px;
    width: 100%;

    &--options-page {
        display: flex;
        align-items: center;
        position: relative;
    }

    &--diary {
        flex-wrap: wrap;
        padding: 0;
    }
    &--commercial {
        margin-top:30px;
    }
}