@media (min-width: 768px) {
    .b-container {
        padding: 0 40px;
        width: 100%;

        &--calculator {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
        }

        &--info-company {
            padding: 0 19px;
        }

        &--bim {
            padding: 0;
        }
        &--commercial {
            margin-top: 40px;
        }
    }
}

@media (min-width: 1024px) {
    .b-container {
        margin: 0 auto;
        max-width: 800px;
        padding: 0;

        &--calculator {
            max-width: 1366px;
            // max-width: none;
            // width: 100%;
        }

        &--number-about {
            max-width: 945px;
        }

        &--masterpiece,
        &--apart {
            padding: 0 40px;
            max-width: none;
        }

        &--history {
            max-width: 905px;
        }

        &--info-company {
            max-width: 947px;
        }

        &--options-page {
            max-width: none;
            margin: 0 40px;
        }

        &--diary {
            position: static;
            max-width: 949px;
            margin: 0 auto;
        }

        &--tech,
        &--bim {
            max-width: none;
        }

        &--fortress {
            max-width: none;
            padding: 0 60px;
        }

        &--yard {
            padding: 0 60px;
        }

        &--commercial {
            max-width: none;
            margin: 0 80px;
        }

        &--genplan-choise {
            margin: 0;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .b-container {
        .b-capital-block &,
        .section--maternity-capital-list & {
            max-width: none;
            margin: 0 70px 0 60px;
            width: calc(100% - 130px);
        }
    }
}

@media (min-width: 1280px) {
    .b-container {
        max-width: 904px;

        &--calculator {
            // max-width: 1292px;
            max-width: 1340px;
        }
        &--number-about {
            max-width: 1161px;
        }

        &--history {
            max-width: 990px;
        }
        &--info-company {
            max-width: 1163px;
        }

        &--options-page {
            max-width: none;
        }

        &--masterpiece {
            max-width: 1158px;
        }

        &--tech,
        &--bim  {
            // max-width: 1280px;
            max-width: none;
        }

        &--fortress {
            max-width: 1280px;
            max-width: none;
            padding: 0 160px;
        }

        &--yard {
            max-width: 1280px;
        }

        &--apart {
            background: #fff;
            box-shadow: 0 19px 41px 0 rgba(0, 0, 0, .06);
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 59px 0 43px;
            width: calc(100% - 80px);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                box-shadow: 0 19px 41px 0 rgba(0, 0, 0, .06);
            }
        }

        &--commercial {
            max-width: 995px;
        }
    }
}

@media (min-width: 1920px) {
    .b-container {
        &--number-about {
            max-width: 1145px;
        }

        &--options-page {
            max-width: 1840px;
            margin: 0 auto;
        }

        &--diary {
            max-width: 1840px;

            margin: 0 auto;
        }

        &--tech,
        &--bim  {
            // max-width: 904px;
            max-width: 1280px;
        }

        &--apart {
            max-width: 1840px;
            margin: 0 auto;
        }
    }
}