@media (min-width: 768px) {
    .b-hollywood-style {
        text-align: left;
        padding-top: 45px;
        background: url(/img/backgrounds/hollywood-bg.png) no-repeat;
        background-size: 100% 50%;
        &__image-wrapper {
            margin-bottom: 41px;
        }

        &__image-tablet {
            width: 100%;
            height:100%;
            object-fit:cover;
            display: block;
        }

        &__image {
            display:none;
        }

        &--architecture-and-facades {
                text-align: center;
                padding-top: 0px;
                background:none;
            .b-hollywood-style__image-wrapper {
                margin-bottom: 41px;
            }

            .b-hollywood-style__image-tablet {
                width: 100%;
                height:100%;
                object-fit:cover;
                display: block;
            }

            .b-hollywood-style__image {
                display:none;
            }

            .b-text--hollywood-style {
                padding-left:0px;
                width:auto;
                padding: 0px 20px;
            }

            .b-text--hollywood-bottom {
                width: auto;
                padding-left: 0px;
                margin-bottom: 45px;
            }

            .b-title--hollywood-style {
                width:auto;
                padding:0px;
                margin-bottom: 63px;
                &:after {
                    left:50%;
                    // bottom: -23px;
                    margin-left: -41px;
                }
            }
        }

        &--architecture {
            background:none;
            padding-top:0px;
            .b-container {
                width:50%;
            }

            .b-hollywood-style__image-wrapper {
                width: 50%;
                margin-bottom:0px;
            }

            .b-hollywood-style__wrap {
                display: flex;
                flex-direction:row;
            }

            .b-title--hollywood-style {
                display: block;
                text-align: center;
                width: auto;
                padding: 0px 63px;
                margin-bottom: 66px;
                &:after {
                    left: 50%;
                    margin-left: -40px;
                    // bottom: -26px;
                }
            }

            .b-hollywood-style__wrap:last-child {
                display:flex;
                flex-direction: row-reverse;
            }

            .b-hollywood-style__image-wrapper-bottom {
                width: 50%;
                height: 793px;
            }

            .b-text--hollywood-bottom {
                padding-top: 35px;
            }

            .b-text--hollywood-style {
                margin-bottom: 0px;
            }
        }
    }

}
@media (min-width: 1024px) {
    .b-hollywood-style {
        font-size:0;
        margin-bottom: 81px;
        background: url(/img/backgrounds/hollywood-bg-tablet.png) no-repeat;
        background-size: contain;
        padding-top: 41px;
        &__image-tablet {
            display:none;
        }

        &__image-laptop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;

        }

        &__image-wrapper {
            height: 571px;
        }

        &__flex-wrap {
            display: flex;
            flex-direction: row;
        }
        &__wrap {
            display:inline-block;
            width:50%;
            vertical-align:top;
            padding-right: 19px;
        }


        &__flex-wrap &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__flex-wrap &__image-wrapper {
            margin-bottom: 0;
        }
        &__flex-wrap &__image-wrapper-bottom {
            margin-bottom: 41px;
            margin-bottom: 0;
        }

        &__wrap {
            &:last-child {
                padding-left: 26px;
                padding-right:0px;
            }
        }

        &--architecture-and-facades {
            font-size:0;
            background:none;
            padding-top:0px;
            .b-hollywood-style__image-tablet {
                display:none;
            }

            .b-hollywood-style__image-laptop {
                width: 100%;
                height:100%;
                display:block;
                object-fit:cover;

            }

            .b-hollywood-style__image-wrapper {
                height: 416px;
            }

            .b-hollywood-style__wrap {
                width:100%;
                padding-right: 0;
                &:last-child {
                    display:flex;
                    width:100%;
                }
            }

           .b-hollywood-style__image-wrapper-bottom {
                height: 416px;
                padding-left: 62px;

                width: 50%;
                flex-grow: 0; flex-shrink: 0; flex-basis: auto;
            }

            .b-text--hollywood-style {
                padding: 0px 80px;    
                margin-bottom: 39px;
            }

            .b-text--hollywood-bottom {
                padding: 0px 0px 0px 46px;
                margin-bottom:0px;
            }

            .b-title--hollywood-style {
                width:auto;
                margin-bottom: 82px;
                &:after {
                    left: 50%;
                }
            }
        }

        &--architecture {
            background:none;
            margin-bottom:0px;
            padding-top:0px;

            .b-text--hollywood-style {
                padding-left: 40px;
                padding-right: 20px;
            }

            .b-hollywood-style__wrap {
                width:100%;
                padding-right:0px;
                &:last-child {
                    padding-left:0px;
                }
            }

            .b-title--hollywood-style {
                padding: 0px 170px;
                margin-bottom: 64px;
            }

            .b-hollywood-style__image-wrapper-bottom {
                margin-top: -153px;
                padding-right: 10px;
                height:641px;
            }

            .b-hollywood-style__image-wrapper {
                height: 405px;
                padding-left:10px;
            }

            .b-text--hollywood-bottom {
                padding-left: 27px;
                padding-right: 39px;
                padding-top:39px;
                margin-bottom:0px;
            }
        }
    }

}
@media (min-width: 1280px) {
    .b-hollywood-style {
        padding-left: 115px;
        // background: url(/img/backgrounds/hollywood-bg-laptop.png) no-repeat;
        // background-size: 100% auto;
        padding-top: 46px;
        background: none;

        max-width: 1280px;
        margin: 0 auto;

        &__image-laptop {
            display:none;
        }

        &__image-desktop {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }

        &__image-wrapper {
            // padding-left: 29px;

            padding-right: 30px;
        }

        &__wrap {
            width: calc(50% - 38px);
            padding-right:0px;
            &:last-child {
                width: 50%;
                padding-left: 12px;
                padding-right: 20px;
            }
        }

        &--architecture-and-facades {
            padding-left:0px;
            background:none;
            padding-top:0px;

            max-width: none;

            .b-hollywood-style__image-laptop {
                display:none;
            }

            .b-hollywood-style__image-desktop {
                width: 100%;
                height:100%;
                display:block;
                object-fit:cover;
            }

            .b-hollywood-style__image-wrapper {
                padding-right: 187px;
                margin-bottom: 50px;
                margin-left: 0;
                // max-width: 1280px;
            }

            .b-hollywood-style__wrap {
                &:last-child {
                    padding-right: 0px;
                    padding-left: 20px;
                    justify-content: flex-end;


                    .b-container {
                        max-width: 630px;
                        margin: 0;
                    }
                }
            }

            .b-hollywood-style__image-wrapper-bottom {
                padding-left: 65px;
                width: 50%;
                flex-grow: 0; flex-shrink: 0; flex-basis: auto;
            }

            .b-text--hollywood-style {
                padding: 0px 0px 0px 0px;
                width: calc(100% - 432px);
                margin-bottom: 48px;
                margin-left: -28px;

                & p {
                    text-align: left;
                }
            }

            .b-text--hollywood-bottom {
                width:auto;
                padding: 0px 40px 0px 140px;
                max-width: 630px;
                
            }

            .b-title--hollywood-style {
                margin-bottom:82px;
                &:after {
                    // bottom: -18px;
                    left:50%;
                    margin-left: -42px;
                }
            }
        }

        &--architecture {
            background:none;
            padding-left:0px;
            padding-top:0px;
            max-width: 1280px;

            .b-title--hollywood-style {
                padding: 0px 0px;
                margin: 0 auto;
                width: 700px;
            }

            .b-title--hollywood-style {
                margin-bottom: 63px;
            }

            .b-text--hollywood-style {
                // padding-left: 159px;
                // padding-right: 10px;
                padding-left: 160px;
                padding-right: 15px;
            }

            .b-hollywood-style__image-wrapper {
                padding: 0px 35px;
                padding: 0px 60px 0 10px;
            }

            .b-hollywood-style__wrap {
                &:last-child {
                    width: auto;
                }
            }

            .b-hollywood-style__image-wrapper-bottom {
                margin-top: -153px;
                padding-right: 20px;
                padding-left: 60px;
            }

            .b-text--hollywood-bottom {
                padding-top: 50px;

                padding-left: 20px;
                padding-right: 160px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-hollywood-style {
        width: 1160px;
        margin: 0 auto;
        padding-left: 70px;
        // background: url(/img/backgrounds/hollywood-bg-fullhd.png) no-repeat;
        //         background-size: 100% auto;

        &__image-wrapper {
            padding-right: 28px;
            margin-left: -17px;
        }

        &__image-desktop {
            display:none;
        }

        &__image-wrapper-bottom {
            padding-left:0;
        }

        &__image-fullhd {
            width: 100%;
            height:100%;
            display:block;
            object-fit:cover;
        }

        &__wrap {
            width:50%;
            padding-right: 19px;
            &:last-child {
                padding-left:0px;
                padding-right: 0px;
            }
        }

        &--architecture-and-facades {
            padding-left:0px;
            background:none;

            .b-hollywood-style__image-wrapper {
                width: 1214px;
                margin: 0 auto;
                padding-left:0px;
                margin-bottom: 49px;

                padding-right: 120px;
                left: -60px;
                position: relative;
            }

            .b-hollywood-style__image-wrapper-bottom {
                padding-left: 47px;
                padding-right: 0;
            }

            .b-hollywood-style__image-desktop {
                display:none;
            }

            .b-hollywood-style__image-fullhd {
                width: 100%;
                height:100%;
                display:block;
                object-fit:cover;
            }

            .b-hollywood-style__wrap {
                padding-right: 44px;
            }

            .b-hollywood-style__wrap {
                &:last-child {
                    padding-left: 0px;
                    width: 1220px;
                }
            }

            .b-text--hollywood-style {
                padding: 0px 0px;
                width: calc(100% - 436px);
                margin-bottom: 48px;
                padding-left: 22px;
            }

            .b-text--hollywood-bottom {
                width: auto;
                padding: 0px 39px 0px 102px;
            }

            .b-title--hollywood-style {
                margin-bottom:80px;
                &:after {
                    left: 50%;
                }
            }
        }

        &--architecture {
                padding-left: 0px;
                background:none;
             .b-text--hollywood-style {
                padding-left: 90px;
                padding-right: 25px;
            }

            .b-text--hollywood-bottom {
                padding-left: 10px;
                padding-right: 105px;
                padding-top: 48px;
            }

            .b-hollywood-style__image-wrapper {
                padding-left: 10px;
                padding-right: 0px;
            }

            .b-hollywood-style__image-wrapper-bottom {
                margin-top: -153px;
                padding-right: 30px;
                padding-left: 0px;
            }
        }
    }

}