.b-hollywood-style {
    text-align: center;
    padding-top: 40px;
    &__image-wrapper {
        height: 428px;
        margin-bottom:30px;
    }

    &__image-wrapper-bottom {
        height: 321px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-tablet {
        display:none;
    }

    &__image-desktop {
        display:none;
    }

    &__image-fullhd {
        display:none;
    }

    &__image-laptop {
        display:none;
    }

    &--architecture-and-facades {
        padding-top: 17px;
        .b-hollywood-style__image-wrapper {
            height: 297px;
            margin-bottom: 42px;
        }

        .b-hollywood-style__image-wrapper-bottom {
            height: 298px;
        }

        .b-hollywood-style__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .b-hollywood-style__image-tablet {
            display:none;
        }

        .b-hollywood-style__image-desktop {
            display:none;
        }

        .b-hollywood-style__image-fullhd {
            display:none;
        }

        .b-hollywood-style__image-laptop {
            display:none;
        }

        .b-text--hollywood-style {
            margin-bottom: 37px;
            & p {
                text-align:center;
            }
        }

        .b-text--hollywood-bottom {
            margin-bottom: 34px;

            & p {
                &:not(:last-child) {
                    margin-bottom:19px;
                }
            }
        }

        .b-title--hollywood-style {
            padding: 0px 64px;
            margin-bottom: 64px;
            &:after {
                left: 50%;
                margin-left: -41px;
            }
        }
    }

    &--architecture {
        padding-top:0px;

        .b-title--hollywood-style {
            margin-bottom:68px;
        }

        .b-text--hollywood-style {
            margin-bottom: 23px;
        }

        .b-hollywood-style__image-wrapper {
            height: 341px;
            margin-bottom: 27px;
        }

        .b-text--hollywood-bottom p:not(:last-child) {
            margin-bottom: 19px;
        }

        .b-hollywood-style__image-wrapper-bottom {
            height: 431px;
        }
    }
}
.section--architecture {
    padding-top: 33px;
}