/* 320++  */
.b-installment {
    background: url(/img/backgrounds/shutterstock-mobile.png) no-repeat 50% / cover;
    color: #fff;
    font-family: AvenirNext-Regular;
    font-size: 17px;
    letter-spacing: .1px;
    line-height: normal;
    width: 100%;

    &__content-wrap {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__content {
        padding: 33px 20px;

    }

    & h2 {
        font-family: AvenirNext-DemiBold;
        margin: 0 0 25px;
    }

    & span {
        display:block;
        &:last-child {
            margin: 0 0 0px;
        }
    }

    & p {
        margin: 0 0 30px;        
    }
}

.section {
    &--installment {
        height: 100%;
    }
}