/* 768++  */
@media (min-width: 768px) {
    .b-installment {
        background-image: url(/img/backgrounds/shutterstock-tablet.png);

        &__content {
            padding: 51px 0 154px;
            margin: 0 0 0 113px;
            max-width: 442px;
        }

        & p {
            margin: 0 0 28px;
        }
    }
}

@media (min-width: 1024px) {
    .b-installment {
        background-image: url(/img/backgrounds/shutterstock-laptop.png);

        &__content {
            padding: 51px 0 63px;
        }

        & p {
            margin: 0 0 17px;
        }

        & h2 {
            font-size:18px;
        }

        &__content-wrap {
            &:not(:last-child) {
                margin-bottom: 21px;
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-installment {
        background-image: url(/img/backgrounds/shutterstock-laptopl.png);

        &__content {
            margin: 0 0 0 188px;
        }
    }
}

@media (min-width: 1920px) {
    .b-installment {
        background-image: url(/img/backgrounds/shutterstock-fullhd.png);
        font-size: 20px;

        &__content {
            margin: 0 557px 0px;
            max-width: 510px;
            padding: 51px 0 150px;
        }

        & p {
            margin: 0 0 27px;
        }

        & h2 {
            font-size: 21px;
        }

        &__content-wrap {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }
}