@media (min-width: 768px) {
    .b-destination {
        // margin: 0 -40px;
        display: flex;
        margin-bottom: 41px;

        &__image-wrapper {
            width: 362px;
            height: 455px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 362px;
            margin: 0;
        }

        &__icon-block {
            width: auto;
            padding-right: 24px;
            text-align: left;
        }

        &__icon {
            &--road {
                width: 56px;
            }

            &--center {
                width: 75px;
            }

            &--svo {
                width: 48px;
                margin: 0;
            }
        }

        &__info {
            position: relative;
            padding: 0;
        }

        &__item {
            position: absolute;

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100px;
                background: url('/img/icons/line-1.svg') no-repeat left top;
            }

            &--road {
                left: 48px;
                top: 71px;

                &:before {
                    left: 25px;
                    top: -47px;
                    background-image: url('/img/icons/line-2.svg');
                    width: 7px;
                    height: 29px;
                    background-size: 7px 29px;
                    
                }
            }

            &--center {
                left: 160px;
                top: 182px;

                &:before {
                    background-image: url('/img/icons/line-1.svg');
                    left: 87px;
                    top: -80px;
                    background-image: url(/img/icons/line-1.svg);
                    width: 126px;
                    height: 125px;
                    background-size: 126px 124px;
                }
            }

            &--svo {
                left: 70px;
                top: 376px;

                &:before {
                    left: 22px;
                    top: -108px;
                    background-image: url('/img/icons/line-3.svg');
                    width: 111px;
                    height: 92px;
                    background-size: 111px 92px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-destination {
        margin-bottom: 63px;
        &__num {
            font-size: 36px;
        }

        &__text {
            font-size: 20px;
        }

        &__image-wrapper {
            flex-basis: 48%;
            height: 575px;
        }

        &__icon-block {
            padding-right: 37px;
        }

        &__icon {
            &--road {
                width: 80px;
            }

            &--center {
                width: 94px;
            }

            &--svo {
                width: 67px;
            }
        }

        &__text-block {
            width: 135px;
        }

        &__item {

            &--road {
                left: 38px;
                top: 67px;

                &:before {
                    left: 36px;
                    top: -68px;
                    width: 10px;
                    height: 42px;
                    background-size: 10px 242px;
                }
            }

            &--center {
                left: 205px;
                top: 237px;

                &:before {
                    left: 125px;
                    top: -126px;
                    width: 164px;
                    height: 177px;
                    background-size: 164px 177px;
                }
            }

            &--svo {
                left: 70px;
                top: 501px;

                &:before {
                    left: 30px;
                    top: -154px;
                    width: 158px;
                    height: 131px;
                    background-size: 158px 131px;
                }
            }
        }
    }
}


@media (min-width: 1280px) {
    .b-destination {
        max-width: 1328px;
        margin: 0px auto 81px;


        &__image-wrapper {
            flex-basis: 50%;
            height: 575px;
        }

        &__info {
            margin-left: 30px;
        }
    }

}

@media (min-width: 1440px) {
    .b-destination {

        &__image-wrapper {
            flex-basis: 61%;
        }
    }

}

@media (min-width: 1920px) {
    .b-destination {
        margin: 0px auto 80px;
    }
}