.b-destination {
    width: 100%;
    margin-bottom: 48px;
    &__image-wrapper {
        // margin: 0 -20px;
        width: 100%;
        height: 380px;
        overflow: hidden;
        box-shadow: 31px 44px 55px 0 rgba(0, 0, 0, 0.11);

        // object-fit: cover;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        display: block;
        width: 100%;
        padding: 46px 0 0;
        text-align: center;
    }

    &__item {
        margin-bottom: 39px;
    }

    &__icon-block {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100px;
        padding-right: 20px;

    }

    &__icon {
        &--road {
            width: 56px;
        }
        &--center {
            width: 75px;
        }
        &--svo {
            width: 47px;
            margin-top: 5px;
        }
    }

    &__text-block {
        display: inline-block;
        vertical-align: middle;
        width: 95px;
        text-align: left;
    }

    &__text {
        font-size: 14px;
        font-family: MuseoCyrl-500;

        &--strong {
            font-family: MuseoCyrl-900;
        }
    }


    &__num {
        font-size: 24px;
    }
}