@media (min-width: 768px) {
    .b-yard-square {
        display: block;
        margin: -159px 25px 0 30px;

        &__image {
            display: none;

            &--tablet {
                display: block;
            }
        }
    }
}
@media (min-width: 1024px) {
    .b-yard-square {
        margin: -210px 12px -11px 26px;

    }
}
@media (min-width: 1280px) {
    .b-yard-square {
        margin: -245px auto 0px;
        position: relative;
        left: 8px;
        width: 1095px;
        
        &__image {
            display: none;

            &--desktop {
                display: block;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-yard-square {
    }
}