@media (min-width: 768px) {
    .b-floor-map {
        margin-bottom:41px;
        &--apart {
            margin: 0 auto;
            width: 431px;
        }

        &--commercial-genplan {
            margin: 0;
        }
        &__content {
            // max-width: 690px;
            // margin: 0 auto;
            // padding-top: 31px;
            max-width: 100%;
            padding: 31px 40px 0px;
        }

        &__title {
            position: absolute;
            top: 31px;
            left: 40px;
        }

        &__main-image {
            flex-direction: row;
            justify-content: flex-end;
            padding: 12px 0 0;
            margin-bottom: 53px;
        }

        &__image-wrapper {
            // display: flex;
            // align-items: flex-start;
            padding-top: 133px;
            margin-right: 24px;
            margin-left: 0;

            width: 551px;
        }

        &__svg-wrapper {
            padding-top: 133px;
            width: 551px;

            svg {
                width: 551px;
            }
        }

        &__floor-button {
            &--commercial {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &__image {
            width: 551px;
        }

        &--commercial & {
            &__main-image {
                margin-bottom: 21px;
            }
            &__image-wrapper {
                width: 646px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .b-floor-map {
        margin-bottom: 25px;

        &--apart {
            margin: 0;
        }

        &--commercial-genplan {
            margin: 0;
        }

        &__content {
            // max-width: 950px;
            flex-direction: row;
            // padding: 18px 0 0;
            justify-content: space-between;
        }

        &__title {
            top: 42px;
        }

        &__image-block {
            display: inline-block;
            margin-top: 97px;
            order: 0;

            &--apart {
                display: flex;
                justify-content: space-between;
                margin: 0;
            }
        }

        &__main-image {
            align-items: flex-end;
            padding: 13px 0 0 11px;
            width: 80%;
            justify-content: space-between;
            min-height: 480px;
            margin-bottom: 0;
        }

        &__image-wrapper {
            padding: 0;
        }
        &__svg-wrapper {
            padding: 0;
        }

        &__section-button {
            left: auto;
            right: 0px;
            top: 34px;
        }

        &__floor-button {
            margin: 125px 0 62px;
        }

        &--commercial {
            // margin-bottom: 7px;
            margin-bottom:0px;
        }

        &--commercial & {
            &__image-block {
                order: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 266px;
                margin: 192px 28px 0 0;
            }

            &__main-image {
                position: static;
                justify-content: flex-end;
                margin: 0;
            }

            &__image,
            &__svg-wrapper,
            &__svg-wrapper svg {
                width: 606px;
            }

            &__section-button {
                top: 41px;
            }

            &__floor-button {
                &--commercial {
                    margin-top: 152px;
                    right: 40px;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .b-floor-map {
        margin-bottom: 64px;

        &--apart {
            // margin: 0 auto;
            margin: 0 95px 0 12px;
            width: auto;
        }

        &--commercial-genplan {
            margin: 0;
        }

        &__content {
            // padding: 34px 0 0;
            // max-width: 1200px;
        }

        &__title {
            font-size: 35px;
        }

        &__main-image {
            padding: 26px 0 0 17px;
            align-items: center;
            margin: 0;
        }

        &__image-block {
            margin-left: 6px;
            margin-top: 107px;

            &--apart {
                margin: 0;
            }
        }

        &__image-wrapper {
            width: 689px;
        }

        &__svg-wrapper {
            width: 689px;

            svg {
                width: 689px;
            }
        }

        &__image {
            width: 689px;
        }

        &__section-button {
            // right: 0;
            top: 19px;
            // transform: translateX(25%);
            right: 40px;
        }

        &__floor-button {
            margin: 66px 59px 0 0;
        }

        &--commercial & {
            &__floor-button {
                margin-right: 0;
            }

            &__image-block {
                justify-content: flex-start;
                margin: 230px 29px 0 0;
            }

            &__image,
            &__image-wrapper,
            &__image-wrapper svg {
                width: 691px;
            }
        }
    }
}

@media (min-width: 1920px) {
    .b-floor-map {
        margin-bottom: 47px;

        &--apart {
            left: 60px;
            margin: 0;
            position: absolute;
            top: 206px;;//top: 60px;
            width: auto;
        }

        &--comm-apart {
            top: 53px;
        }

        &--commercial-genplan {
            margin: 0;
        }

        &__content {
            max-width: 1821px;
            margin: 0 auto;
        }

        &__image-wrapper {
            // width: 73%;
        }

        &__image-wrapper {
            width: 915px;
            min-height: 500px;
        }

        &__svg-wrapper {
            width: 915px;

            svg {
                width: 915px;
            }
        }
        &__image {
            width: 915px;
        }

        &__floor-button {
            margin: 0 59px 113px 0;
        }

        &__image-block {
            &--apart {
                display: inline-block;
            }
        }

        &--commercial {
            margin-bottom: 80px;
        }

        &--commercial & {
            &__image,
            &__image-wrapper,
            &__image-wrapper svg {
                width: 915px;
                // margin: 0 auto;
            }

            &__main-image {
                width: 100%;
                padding-left: 208px;
                display: flex;
                justify-content: center;
            }

            &__image-block {
                margin: 248px 72px 0 0;
            }

            &__section-button {
                top: 63px;
                right: 84px;
            }

            &__floor-button {
                &--commercial {
                    right: 84px;
                    margin-top: 171px;
                }
            }
        }

        &__main-image {
            padding-left: 90px;
        }

        &__title {
            top: 63px;
        }
    }
}
