.b-floor-map {
    margin-bottom: 52px;

    &--apart {
        margin: 0;
    }

    &--commercial-genplan {
        margin: 0;
    }

    &__content {
        position: relative;
        padding: 22px 0 0;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 24px;
        color: #000;
        font-family: 'MuseoCyrl-700';
        text-align: center;
        margin-bottom: 25px;
    }

    &__image-block {
        display: flex;
        order: 1;
    }

    &__main-image {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        padding-top: 106px;
        position: relative;
    }

    &__section-button {
        margin-bottom: 35px;

        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -82px;
    }

    &__image-wrapper {
        text-align: center;
        position: relative;
        width: 277px;
        margin: 0 auto 30px;
    }

    &__image {
        display: block;
    }

    &__svg-wrapper {
        width: 100%;
        //height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        svg {
            width: 100%;
            height: 100%;
            // position: absolute;
            // left: 0;
            // top: 0;

            polygon,
            polyline,
            path {
                cursor: pointer;
                opacity: 0;
                &:hover {
                    fill: rgba(21, 48, 117, 0.23);
                    opacity: 1;
                }
            }
        }
    }

    &__image {
        // width: 277px;
        // margin: 0 auto 30px;
    }

    area {
        display: inline;
        cursor: pointer;
    }
}